.brk-social-links {
  display: inline-flex;
  align-items: center;
  &__item {
    margin-right: 20px;
		line-height: 24px;
    &:last-of-type {
      margin-right: 0;
    }

		i {
			line-height: inherit;
		}
  }
  &_bordered {
    .brk-social-links__item {
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
    }
  }
  &_rounded {
    .brk-social-links__item {
      width: 32px;
      height: 32px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.4;
      transition: .3s ease opacity, .3s ease background-color, .3s ease color;
      &:hover {
        opacity: 1;
        background-color: var(--brand-primary);
        color: #fff;
      }
    }
  }
  &_opacity{
    .brk-social-links__item{
      opacity: 0.4;
      transition: .3s ease opacity;
      will-change: opacity;
      &:hover{
        opacity: 1;
        color: inherit;
      }
    }
  }
}
.brk-social-links-wide {
  display: flex;
  flex-direction: column;
  &__link {
    display: flex;
    align-items: center;
  }
  &__icon-container {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: 38px;
    flex-shrink: 0;
    padding-left: 3px;
  }
  &__item-light{
    i{
      color: #fff !important;
    }
  }
}
.brk-social-links-wide__item_light{
  i{
    color: #ffffff;
  }
  &:hover{
    i{
      color: inherit;
    }
  }
}
.brk-social-links-round {
	display: flex;
	align-items: center;
	padding: 5px 0;

	&__link {
		display: flex;
		align-items: center;
		color: #fff;
		padding: 0 10px;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}

		&:hover {
			color: #fff;
			
			.brk-social-links-round__icon {
				i {
					transform: translate(-50%, -50%) scale(1.2);
				}
			}
		}
	}

	&__icon {
		width: 46px;
		height: 46px;
		border-radius: 50%;
		background-color: #fff;
		position: relative;
		
		i {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: #000;
			font-size: rem(18);
			line-height: 18px;
			transition: all .1s linear;
		}
	}

	&__title {
		font-size: rem(14);
		line-height: 16px;
		padding-left: 15px;
	}
}
