@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

[class*="social__icon"] {
	a {
		display: block;
	}
	p {
		margin-top: 3px;
	}
}

.social__icon-circle {
	margin-top: 40px;
	.icon {
		width: 95px;
		height: 95px;
		position: relative;
		z-index: 1;
		color: $white;
		font-size: 42px;
		margin-bottom: 17px;
		&:before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
		}
		> .before {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 50%;
			background: linear-gradient(45deg, var(--brk-base-2) 20%, var(--brk-base-5) 70%);
			opacity: 0;
			transition: all .4s ease;
			z-index: 1;
		}
		> .after {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 50%;
			background: linear-gradient(45deg, var(--brk-base-3) 20%, var(--brk-secondary-3) 70%);
			z-index: -1;
		}
	}
	&:hover {
		.icon > .before {
			opacity: 1;
		}
  }
  &-dark{
    .after{
      border-radius: 0 !important;
      background: linear-gradient(to top, rgba(var(--brand-primary-rgb), 0.86) 0%, rgba(var(--secondary-rgb), 0.86) 100%) !important;
    }
    .before{
      border-radius: 0 !important;
      background: linear-gradient(to top, rgba(var(--brand-primary-rgb), 0.86) 0%, rgba(var(--brand-primary-rgb), 0.86) 100%) !important;
    }
  } 
}

.social__icon-round {
	margin-top: 40px;
	.icon-wrap {
		width: 110px;
		height: 110px;
		background: $white;
		border-radius: 30px;
		margin: 0 auto 35px;
		position: relative;
		z-index: 1;
		&:hover .icon {
			background: var(--brk-base-6);
			border-color: var(--brk-base-1);
		}
	}
	.icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 65px;
		height: 65px;
		border-radius: 50%;
		color: $white;
		font-size: 28px;
		background: var(--brand-primary);
		border: 2px solid transparent;
		box-shadow: 0 5px 16px 0 rgba(var(--brand-primary-rgb), 0.5);
		transition: all .4s ease;
		z-index: 1;
		&:before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
		}
	}
	&:hover {
		.icon-wrap {
			background: var(--brand-primary);
		}
		.icon {
			background: var(--brk-base-6);
			border-color: var(--brk-base-1);
		}
	}
}

.social__icon-square {
	max-width: 260px;
	margin: 0 auto;
	padding: 45px 20px;
	background: $white;
  border: 1px solid rgba(var(--brand-primary-rgb), .1);
  &_dark{
    border: 1px solid  rgba(26, 27, 27, 0.05);
  }
	box-shadow: 0 10px 30px -10px rgba(var(--brand-primary-rgb), 0.15);
	@media(min-width: 992px) {
		margin-bottom: -50px;
  }
  .text{
    color: var(--brk-base-1) !important;
  }
	.icon {
		width: 85px;
		height: 85px;
		position: relative;
		z-index: 1;
    color: var(--brand-primary);
		font-size: 28px;
		margin-bottom: 23px;
    border: 2px solid rgba(var(--brand-primary-rgb), 0.15);
		transition: all .4s ease;
		&:hover {
			color: $white;
		}
		&:before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
		}
		.slide-bg {
			background: linear-gradient(to right, var(--brand-primary) 20%, var(--secondary) 70%);
		}
  }
  &_dark{
    .icon{
      color: #1a1b1b;
      border: 2px solid rgba(26, 27, 27, 0.05);
    }
    .text{
      color: #1a1b1b !important;
    }
  }
}

[class^="col-"]:nth-child(2n) {
	.social__icon-honeycomb .hexagon {
		@media(min-width: 575px) {
			order: 1;
		}
	}
	.social__icon-honeycomb .icon-title {
		justify-content: flex-end;
	}
}

.social__icon-honeycomb {
	margin-top: 30px;
	margin-bottom: 30px;
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	.hexagon {
		margin-top: 0;
		margin-bottom: 0;
		width: 130px;
		height: 120px;
		@media(min-width: 400px) {
			width: 160px;
			height: 150px;
		}
		@media(min-width: 768px) {
			width: 220px;
			height: 190px;
		}
		> .after {
			transform: scale(1) rotateY(90deg);
			opacity: 1;
			background: linear-gradient(25deg, var(--brk-base-6) 30%, var(--brk-base-2)) 60%;
		}
	}
	.icon-title {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: 20px 0 0;
		@media(min-width: 575px) {
			padding: 20px 0;
			height: 70px;
		}
		@media(min-width: 1200px) {
			height: 115px;
			width: 220px;
			padding: 40px 0;
		}
	}
	.icon {
		width: 85px;
		height: 85px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		color: var(--brand-primary);
		font-size: 36px;
		transition: all .4s ease;
		&:before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
		}
	}
	&:hover {
		.hexagon > .after {
			left: -1px;
			right: -1px;
			transform: scale(1) rotateY(0deg);
		}
		.icon {
			color: $white;
		}
	}
}

[class^="col-"]:nth-child(2n) {
	.social__icon-gradient .icon-title {
		@media(min-width: 1200px) {
			bottom: auto;
			top: -44px;
		}
	}
	.social__icon-gradient > .after {
		top: auto;
		bottom: 0;
	}
}

[class^="col-"]:last-child .social__icon-gradient > .after {
	width: 30vw;
	left: 50%;
}

[class^="col-"]:first-child .social__icon-gradient > .before {
	@media(min-width: 1200px) {
		display: inline-block;
	}
}

.social__icon-gradient {
	margin-top: 30px;
	margin-bottom: 30px;
	position: relative;
	z-index: 1;
	> .before {
		display: none;
		position: absolute;
		top: 50%;
		right: 50%;
		width: 30vw;
		height: 50%;
		background: var(--brand-primary);
		background: linear-gradient(25deg, var(--brk-base-2) 40%, var(--brk-base-5)) 60%;
		z-index: -1;
		pointer-events: none;
	}
	> .after {
		display: none;
		position: absolute;
		top: 0;
		left: 50%;
		width: 100%;
		height: 50%;
		background: var(--brand-primary);
		background: linear-gradient(25deg, var(--brk-base-2) 40%, var(--brk-base-5)) 60%;
		z-index: -1;
		pointer-events: none;
		@media(min-width: 1200px) {
			display: inline-block;
		}
	}
	.hexagon {
		width: 135px;
		height: 120px;
		@media(min-width: 768px) {
			width: 175px;
			height: 150px;
		}
		> .after {
			transform: scale(1);
			background: linear-gradient(25deg, var(--brk-base-6) 30%, var(--brk-base-2)) 60%;
		}
	}
	.icon-title {
		margin-top: 20px;
		@media(min-width: 1200px) {
			margin-top: 0;
			position: absolute;
			bottom: -44px;
			left: 50%;
			transform: translate(-50%, 0);
		}
	}
	.icon {
		width: 85px;
		height: 85px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		color: var(--brand-primary);
		font-size: 36px;
		transition: all .4s ease;
		&:before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
		}
	}
	&:hover {
		.hexagon > .after {
			opacity: 1;
			transform: scale(1);
		}
		.icon {
			color: $white;
		}
	}
}