@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.brk-sc-honeycomb {
	position: relative;
	width: 100%;
	min-height: 200px;

	&_line {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&-one {
		position: relative;
		width: 220px;
		height: 380px;
		box-shadow: 0 1px 14px rgba(0,0,0,.06);
		transition: all .3s ease-in-out;
		margin: 30px 0;
		background-color: var(--white);

		@media (min-width: 992px) and (max-width: 1229px) {
			width: 180px;
			height: 312px;
		}

		@media (max-width: 575px) {
			width: 160px;
			height: 278px;
		}

		/* Modifiers */
		&_center {
			margin-left: auto;
			margin-right: auto;
		}

		&_left {
			position: absolute;
			top: 175px;
			left: 114px;

			@media (min-width: 992px) and (max-width: 1229px) {
				top: 141px;
				left: 86px;
			}

			@media (max-width: 991px) {
				position: relative;
				top: auto;
				left: auto;
				margin-left: auto;
				margin-right: auto;
			}
		}

		&_right {
			position: absolute;
			top: 175px;
			right: 114px;

			@media (min-width: 992px) and (max-width: 1229px) {
				top: 141px;
				right: 86px;
			}

			@media (max-width: 991px) {
				position: relative;
				top: auto;
				right: auto;
				margin-left: auto;
				margin-right: auto;
			}
		}
		/* Modifiers */

		&:hover {
			box-shadow: 0 6px 50px rgba(var(--brk-base-8-rgb),.3);

			.brk-sc-honeycomb-one__title {
				color: var(--white);
			}

			.brk-sc-honeycomb-one__content {
				padding-top: 80px;

				@media (min-width: 992px) and (max-width: 1229px) {
					padding-top: 60px;
				}

				@media (max-width: 575px) {
					padding-top: 60px;
				}
			}

			.brk-sc-honeycomb-one__layer {
				opacity: 1;
			}

			.brk-sc-honeycomb-one__thumb {
				transform: scale(0);
				max-height: 0;
			}
			
			.brk-sc-honeycomb-one__desc {
				transform: scale(1);
				max-height: 999px;
				transition: all .3s ease-in-out;
			}

			.brk-sc-honeycomb-one__buy {
				bottom: 80px;
				transform: translate(-50%, 0);
				box-shadow: 0 5px 16px rgba(0,0,0,.1);
				background-color: var(--white);
				color: var(--brand-primary);

				@media (min-width: 992px) and (max-width: 1229px) {
					bottom: 30px;
				}

				@media (max-width: 575px) {
					bottom: 30px;
				}
			}

			.added_to_cart {
				opacity: 1;
			}
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			height: 100%;
			z-index: -1;
			background-color: inherit;
			box-shadow: inherit;
			transition: all .3s ease-in-out;
			transform-origin: center center;
		}

		&:before {
			transform: translate(-50%, -50%) rotate(60deg);
		}

		&:after {
			transform: translate(-50%, -50%) rotate(-60deg);
		}

		&__hex-1,
		&__hex-2 {
			position: absolute;
			background: inherit;
			top: 50%;
			left: 50%;
			width: 100%;
			height: 100%;
			overflow: hidden;
			z-index: 1;
		}

		&__hex-1 {
			transform: translate(-50%, -50%) rotate(60deg);
		}

		&__hex-2 {
			transform: translate(-50%, -50%) rotate(-60deg);
		}

		&__layer {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
			width: 200%;
			height: 100%;
			opacity: 0;
			transition: all .3s ease-in-out;
			clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
		}

		&__content {
			position: relative;
			width: 100%;
			height: 100%;
			z-index: 3;
			text-align: center;
			transition: all .3s ease-in-out;
			padding-top: 50px;
		}

		/* Components */
		&__title {
			font-size: rem(21);
			line-height: 25px;
			text-transform: uppercase;
			transition: all .3s ease-in-out;
			min-height: 50px;
			font-weight: 200;

			@media (min-width: 992px) and (max-width: 1229px) {
				font-size: rem(16);
				line-height: 20px;
				min-height: 40px;
			}

			@media (max-width: 575px) {
				font-size: rem(14);
				line-height: 18px;
				min-height: 36px;
				font-weight: 300;
			}
		}

		&__thumb {
			width: 100%;
			height: 250px;
			transition: all .3s ease-in-out;
			margin-top: 5px;

			@media (min-width: 992px) and (max-width: 1229px) {
				height: 165px;
			}

			@media (max-width: 575px) {
				height: 130px;
			}

			img {
				width: auto;
				max-width: 100%;
				height: auto;
				max-height: 100%;
			}
		}

		&__desc {
			font-size: rem(16);
			line-height: 26px;
			font-weight: 300;
			transform: scale(0);
			margin-top: 16px;
			max-height: 0;
			color: var(--brk-base-4);

			@media (min-width: 992px) and (max-width: 1229px) {
				font-size: rem(14);
				line-height: 18px;
				margin-top: 5px;
			}

			@media (max-width: 575px) {
				font-size: rem(13);
				line-height: 17px;
				margin-top: 5px;
			}
		}

		&__buy {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 50%);
			width: 162px;
			height: 44px;
			font-size: rem(16);
			line-height: 44px;
			border-radius: 22px;
			display: inline-block;
			text-align: center;
			transition: all .3s ease-in-out;
			color: var(--white);
			box-shadow: 0 5px 16px rgba(var(--brand-primary-rgb),.5);

			@media (max-width: 575px) {
				width: 130px;
				height: 38px;
				line-height: 38px;
				font-size: rem(14);
				border-radius: 18px;
			}

			.price {
				margin-right: 9px;
			}

			i {
        margin-top: -6px;
        vertical-align: middle;
			}
		}

		.added_to_cart {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);
			margin: 0;
			padding-top: 5px;
			padding-bottom: 5px;
			z-index: 99;
			font-size: rem(14);
			font-weight: 500;
			opacity: 0;
			transition: all .3s ease-in-out;
		}

		&__right-sticker,
		&__left-sticker {
			position: absolute;
			top: 0;
			z-index: 4;
			overflow: hidden;
			width: 109px;
			height: 103px;

			&-layer {
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 145%;
				overflow: hidden;
			}

			&-value {
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 102%;
				
				span {
					position: absolute;
					font-size: rem(16);
					letter-spacing: 0.07em;
				}
			}
		}

		&__right-sticker {
			right: 0;
			transform: translateX(55%);

			&-layer {
				right: 0;
				transform-origin: 100% 100%;
				transform: rotate(-30deg);
			}

			&-value {
				left: 100%;
				transform-origin: 0 100%;
				transform: rotate(-16.5deg);
				background-image: linear-gradient(
												160deg,
												var(--brk-base-2),
												var(--brk-base-5));

				span {
					top: 34px;
					left: 25px;
					transform-origin: 0 0;
					transform: rotate(90deg);
				}
			}
		}

		&__left-sticker {
			left: 0;
			transform: translateX(-55%);

			&-layer {
				left: 0;
				transform-origin: 0 100%;
				transform: rotate(30deg);
			}

			&-value {
				right: 100%;
				transform-origin: 100% 100%;
				transform: rotate(16.5deg);
				background-image: linear-gradient(
												to right,
												var(--brk-secondary-1) 1%,
												var(--brk-secondary-6));

				span {
					top: 4px;
					right: 0;
					transform-origin: 100% 100%;
					transform: rotate(-90deg);
				}
			}
		}
		/* Components */
	}

	&-two {
		position: relative;
		width: 140px;
		height: 243px;
		box-shadow: 0 6px 30px rgba(0,0,0,.12);
		transition: all .3s ease-in-out;
		margin: 40px 70px;
		background-color: var(--white);

		@media (min-width: 992px) and (max-width: 1199px) {

			&:nth-child(4) {
				position: absolute;
				top: 280px;
				left: 107px;
				margin: 40px 70px !important;
			}

			&:nth-child(5) {
				position: absolute;
				top: 280px;
				right: 107px;
				margin: 40px 70px !important;
			}
		}

		/* Modifiers */
		&_cell {
			margin: 175px 12px 40px;

			@media (min-width: 992px) and (max-width: 1199px) {
				margin: 180px 12px 40px;
			}

			@media (max-width: 991px) {
				margin: 40px 70px;
			}
		}
		/* Modifiers */

		&:hover {
			.brk-sc-honeycomb-two__content {
				transform: translateX(-50%) scale(1);
			}

			.brk-sc-honeycomb-two__layer {
				opacity: 1;
			}

			.brk-sc-honeycomb-two__sticker {
				box-shadow: 0 6px 30px rgba(0,0,0,.12);
				background-color: var(--white);
				color: var(--brand-primary);
			}

			.brk-sc-honeycomb-two__buy {
				box-shadow: 0 2px 10px rgba(0,0,0,.05);
				background-color: var(--white);

				.price {
					transform: translate(-50%, -50%) scale(0);
				}

				.buy {
					transform: translate(-50%, -50%) scale(1);
				}
			}

			.added_to_cart {
				opacity: 1;
			}
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			height: 100%;
			z-index: -1;
			background-color: inherit;
			box-shadow: inherit;
			transition: all .3s ease-in-out;
			transform-origin: center center;
		}

		&:before {
			transform: translate(-50%, -50%) rotate(60deg);
		}

		&:after {
			transform: translate(-50%, -50%) rotate(-60deg);
		}

		&__hex-1,
		&__hex-2 {
			position: absolute;
			background: inherit;
			top: 50%;
			left: 50%;
			width: 100%;
			height: 100%;
			overflow: hidden;
			z-index: 1;
		}

		&__hex-1 {
			transform: translate(-50%, -50%) rotate(60deg);
		}

		&__hex-2 {
			transform: translate(-50%, -50%) rotate(-60deg);
		}

		&__layer {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 3;
			width: 200%;
			height: 100%;
			opacity: 0;
			transition: all .3s ease-in-out;
			clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
		}
		
		/* Components */
		&__thumb {
			position: relative;
			width: 100%;
			height: 100%;
			z-index: 2;
			text-align: center;
			padding: 27px 0 50px;

			img {
				width: auto;
				max-width: 100%;
				height: auto;
				max-height: 100%;
			}
		}

		&__content {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%) scale(0);
			width: 120%;
			height: 100%;
			padding: 25px 0;
			z-index: 4;
			transition: all .3s ease-in-out;
		}

		&__title {
			font-size: rem(18);
			line-height: 24px;
			font-weight: bold;
			margin-bottom: 12px;
		}

		&__desc {
			font-size: rem(14);
			line-height: 23px;
			color: rgba(var(--white-rgb), .6);
		}

		&__sticker {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);
			min-width: 58px;
			height: 21px;
			padding: 0 10px;
			font-size: rem(12);
			line-height: 22px;
			text-align: center;
			border-radius: 11px;
			transition: all .3s ease-in-out;
			z-index: 9;
			color: var(--white);
			background-color: var(--brand-primary);
			box-shadow: 0 5px 16px rgba(var(--brand-primary-rgb),.5);
		}

		&__buy {
			position: absolute;
			left: 50%;
			bottom: 0;
			transform: translate(-50%, 50%);
			z-index: 9;
			width: 106px;
			height: 42px;
			border-radius: 21px;
			font-size: rem(16);
			line-height: 18px;
			font-weight: bold;
			display: block;
			transition: all .3s ease-in-out;
			background-color: var(--brand-primary);
			box-shadow: 0 5px 16px rgba(var(--brand-primary-rgb),.5);

			.price {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				text-align: center;
				transform: translate(-50%, -50%) scale(1);
				transition: inherit;
				color: var(--white);
			}

			.buy {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				text-align: center;
				text-transform: uppercase;
				transform: translate(-50%, -50%) scale(0);
				transition: inherit;
				color: var(--brand-primary);

				i {
					vertical-align: 0;
					margin-left: 3px;
					margin-right: 3px;
				}
			}
		}

		.added_to_cart {
			position: absolute;
			z-index: 9;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 50%);
			margin: 0;
			font-size: rem(13);
			padding: 9px 20px;
			opacity: 0;
			transition: all .3s ease-in-out;
		}
		/* Components */
	}

	&-three {
		position: relative;
		width: 135px;
		height: 234px;
		box-shadow: 0 6px 30px rgba(0,0,0,.12);
		transition: all .3s ease-in-out;
		margin: 40px 68px;
		background-color: var(--white);

		@media (max-width: 767px) {
			margin: 25px 68px !important;
		}

		&:nth-child(even) {
			margin-top: 175px;
		}

		&:nth-child(2) {
			margin-left: 98px;
			margin-right: 80px;

			@media (max-width: 1229px) {
				margin-left: 20px;
				margin-right: 44px;
			}

			@media (max-width: 991px) {
				margin-right: 20px;
			}
		}

		&:nth-child(3) {
			margin-left: 80px;
			margin-right: 98px;

			@media (max-width: 1229px) {
				margin-left: 44px;
				margin-right: 20px;
			}

			@media (max-width: 991px) {
				margin-left: 68px;
				margin-right: 68px;
			}
		}

		&:nth-child(4) {
			@media (max-width: 991px) {
				margin-top: 0;
			}
		}

		&:hover {
			.brk-sc-honeycomb-three__content {
				transform: translateX(-50%) scale(1);
			}

			.brk-sc-honeycomb-three__layer {
				opacity: 1;
			}

			.brk-sc-honeycomb-three__sticker {
				box-shadow: 0 6px 30px rgba(0,0,0,.12);
				background-color: var(--white);
				color: var(--brand-primary);
			}

			.brk-sc-honeycomb-three__buy {
				box-shadow: 0 2px 10px rgba(0,0,0,.05);
				background-color: var(--white);

				.price {
					transform: translate(-50%, -50%) scale(0);
				}

				.buy {
					transform: translate(-50%, -50%) scale(1);
				}
			}

			.added_to_cart {
				opacity: 1;
			}

			.brk-sc-honeycomb-three__before {
				animation: pulse-honeycomb-three 1.5s infinite;
				animation-delay: 0.3s;
			}

			.brk-sc-honeycomb-three__after {
				animation: pulse-honeycomb-three 1.5s infinite;
			}

			@keyframes pulse-honeycomb-three {
				0% {
					transform: translate(-50%, -50%) scale(1);
				}
				50% {
					transform: translate(-50%, -50%) scale(1.55);
				}
				100% {
					transform: translate(-50%, -50%) scale(1);
					opacity: 0;
				}
			}
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			height: 100%;
			z-index: -1;
			box-shadow: inherit;
			transition: all .3s ease-in-out;
			transform-origin: center center;
			background-color: rgba(var(--brand-primary-rgb), .1);
		}

		&:before {
			transform: translate(-50%, -50%) rotate(60deg);
		}

		&:after {
			transform: translate(-50%, -50%) rotate(-60deg);
		}

		&__hex-1,
		&__hex-2 {
			position: absolute;
			background: inherit;
			top: 50%;
			left: 50%;
			width: 100%;
			height: 100%;
			overflow: hidden;
			z-index: 1;
		}

		&__hex-1 {
			transform: translate(-50%, -50%) rotate(60deg);
		}

		&__hex-2 {
			transform: translate(-50%, -50%) rotate(-60deg);
		}

		&__before,
		&__after {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 199%;
			height: 99%;
			clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
			z-index: -2;
		}

		&__layer {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 3;
			width: 200%;
			height: 100%;
			opacity: 0;
			transition: all .3s ease-in-out;
			clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
		}

		/* Components */
		&__thumb {
			position: relative;
			width: 100%;
			height: 100%;
			z-index: 2;
			text-align: center;
			padding: 27px 0 50px;

			img {
				width: auto;
				max-width: 100%;
				height: auto;
				max-height: 100%;
			}
		}

		&__content {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%) scale(0);
			width: 120%;
			height: 100%;
			padding: 25px 0;
			z-index: 4;
			transition: all .3s ease-in-out;
		}

		&__title {
			font-size: rem(18);
			line-height: 24px;
			font-weight: bold;
			margin-bottom: 12px;
		}

		&__desc {
			font-size: rem(14);
			line-height: 23px;
			color: rgba(var(--white-rgb), .6);
		}

		&__sticker {
			position: absolute;
			top: -25px;
			right: -24px;
			width: 62px;
			height: 62px;
			font-size: rem(16);
			line-height: 62px;
			text-align: center;
			border-radius: 50%;
			transition: all .3s ease-in-out;
			z-index: 9;
			color: var(--white);
			box-shadow: 0 5px 16px rgba(var(--brand-primary-rgb),.5);
		}

		&__buy {
			position: absolute;
			left: 50%;
			bottom: 0;
			transform: translate(-50%, 50%);
			z-index: 9;
			width: 106px;
			height: 42px;
			border-radius: 21px;
			font-size: rem(16);
			line-height: 18px;
			font-weight: bold;
			display: block;
			transition: all .3s ease-in-out;
			background-color: var(--brand-primary);
			box-shadow: 0 5px 16px rgba(var(--brand-primary-rgb),.5);

			.price {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				text-align: center;
				transform: translate(-50%, -50%) scale(1);
				transition: inherit;
				color: var(--white);
			}

			.buy {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				text-align: center;
				text-transform: uppercase;
				transform: translate(-50%, -50%) scale(0);
				transition: inherit;
				color: var(--brand-primary);

				i {
					vertical-align: 0;
					margin-left: 3px;
				}
			}
		}

		.added_to_cart {
			position: absolute;
			z-index: 9;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 50%);
			margin: 0;
			font-size: rem(13);
			padding: 9px 20px;
			opacity: 0;
			transition: all .3s ease-in-out;
		}
		/* Components */
	}

	&-four {
		position: relative;
		width: 220px;
		height: 380px;
		transition: all .3s ease-in-out;
		margin: 15px 0;
		background-color: #f5f5f5;

		@media (min-width: 992px) and (max-width: 1229px) {
			width: 180px;
			height: 312px;
		}

		@media (max-width: 575px) {
			width: 160px;
			height: 278px;
		}

		/* Modifiers */
		&_center {
			margin-top: 220px;
			margin-left: auto;
			margin-right: auto;

			@media (max-width: 1229px) {
				margin-top: 190px;
			}

			@media (max-width: 991px) {
				margin: 15px auto;
			}
		}

		&_left {
			position: absolute;
			top: 0;
			left: 114px;

			@media (min-width: 992px) and (max-width: 1229px) {
				left: 86px;
			}

			@media (max-width: 991px) {
				position: relative;
				top: auto;
				left: auto;
				margin-left: auto;
				margin-right: auto;
			}
		}

		&_right {
			position: absolute;
			top: 0;
			right: 114px;

			@media (min-width: 992px) and (max-width: 1229px) {
				right: 86px;
			}

			@media (max-width: 991px) {
				position: relative;
				top: auto;
				right: auto;
				margin-left: auto;
				margin-right: auto;
			}
		}
		/* Modifiers */

		&:hover {
			.brk-sc-honeycomb-four__title {
				color: var(--white);
			}

			.brk-rating__layer,
			.brk-rating__imposition {
				i {
					color: var(--white);
				}
			}

			.brk-sc-honeycomb-four__layer {
				opacity: 1;
			}
		}

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			height: 100%;
			z-index: -1;
			background-color: inherit;
			transition: all .3s ease-in-out;
			transform-origin: center center;
		}

		&:before {
			transform: translate(-50%, -50%) rotate(60deg);
		}

		&:after {
			transform: translate(-50%, -50%) rotate(-60deg);
		}

		&__layer {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
			width: 200%;
			height: 100%;
			opacity: 0;
			transition: all .3s ease-in-out;
			clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);

			&-over {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		/* Components */
		&__thumb {
			position: relative;
			width: 100%;
			height: 100%;
			z-index: 1;
			transform: translateX(50%);
			clip-path: polygon(0% 0%, 50% 0, 100% 50%, 50% 100%, 0% 100%);

			img {
				position: absolute;
				max-width: 100%;
				height: auto;
				max-height: 300px;
				bottom: 0;
				left: 0;
			}
		}

		&__content {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 3;
			width: 100%;
			height: 100%;
		}

		&__sticker {
			font-size: rem(11);
			line-height: 16px;
			text-transform: uppercase;
			margin-bottom: 16px;

			.category,
			.stic {
				padding: 0 5px;
				height: 16px;
				border-radius: 3px;
				margin: 1px 1px 1px 0;
				font-weight: 600;
				display: inline-block;
			}
		}
		
		&__title {
			font-size: rem(24);
			line-height: 26px;
			font-weight: bold;
			transition: all .3s ease-in-out;
			margin-bottom: 2px;
		}

		&__price {
			margin-top: 25px;

			a {
				display: inline-block;
				height: 46px;
				border-radius: 3px;
				font-size: rem(15);
				line-height: 46px;
				text-align: center;
				padding: 0 12px;
				font-weight: 600;
				box-shadow: 0 5px 16px rgba(var(--brand-primary-rgb),.5);
			}
		}

		.brk-rating__layer,
		.brk-rating__imposition {
			i {
				transition: all .3s ease-in-out;
			}
		}
		/* Components */
	}

	&-five {
		position: relative;
		width: 230px;
		height: 397px;
		box-shadow: 0 6px 30px rgba(0,0,0,.12);
		transition: all .3s ease-in-out;
		margin: 12px 0;
		background-color: var(--white);

		@media (min-width: 992px) and (max-width: 1229px) {
			width: 180px;
			height: 312px;
		}

		@media (max-width: 991px) {
			position: relative !important;
			top: 0 !important;
			right: 0 !important;
			left: 0 !important;
			bottom: 0 !important;
			margin: 12px auto !important;
		}

		@media (max-width: 575px) {
			width: 160px;
			height: 278px;
		}

		/* Modifiers */
		&_center {
			margin-left: auto;
			margin-right: auto;
		}

		&_left-top {
			position: absolute;
			top: 193px;
			left: 115px;

			@media (min-width: 992px) and (max-width: 1229px) {
				top: 150px;
				left: 100px;
			}
		}

		&_left-bottom {
			position: absolute;
			bottom: 193px;
			left: 115px;

			@media (min-width: 992px) and (max-width: 1229px) {
				bottom: 150px;
				left: 100px;
			}
		}

		&_right-top {
			position: absolute;
			top: 193px;
			right: 115px;

			@media (min-width: 992px) and (max-width: 1229px) {
				top: 150px;
				right: 100px;
			}
		}

		&_right-bottom {
			position: absolute;
			bottom: 193px;
			right: 115px;

			@media (min-width: 992px) and (max-width: 1229px) {
				bottom: 150px;
				right: 100px;
			}
		}
		/* Modifiers */

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			height: 100%;
			z-index: -1;
			background-color: inherit;
			box-shadow: inherit;
			transition: all .3s ease-in-out;
			transform-origin: center center;
		}

		&:before {
			transform: translate(-50%, -50%) rotate(60deg);
		}

		&:after {
			transform: translate(-50%, -50%) rotate(-60deg);
		}

		/* Components */
		&__thumb {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 200%;
			height: 100%;
			z-index: 1;
			clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
			@extend %bg-style;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-image: linear-gradient(10deg, rgba(15, 90, 224, 0.9) 0%, rgba(116, 0, 186, 0.9) 100%);
				background-image: linear-gradient(10deg, rgba(var(--brand-primary-rgb), 0.9) 0%, rgba(var(--secondary-rgb), 0.9) 100%);

				.brk-sc-honeycomb-five_white-style & {
          background-color: rgba(var(--white-rgb), .86);
          background-image: none;
				}
			}
		}

		&__content {
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			.brk-sc-honeycomb-five_white-style & {
				left: 50%;
				transform: translateX(-50%);
				width: 130%;
			}
		}

		&__link-sticker {
			text-align: center;
			display: flex;
			justify-content: center;
			margin-bottom: 45px;

			.sticker {
				display: inline-block;
				width: 64px;
				height: 64px;
				border-radius: 50%;
				font-weight: bold;
				font-size: rem(16);
				line-height: 64px;
				margin-left: -10px;

				@media (min-width: 992px) and (max-width: 1229px) {
					width: 56px;
					height: 56px;
					line-height: 56px;
				}

				@media (max-width: 575px) {
					width: 50px;
					height: 50px;
					line-height: 50px;
					font-size: rem(14);
					font-weight: 500;
					margin-left: 5px;
				}
			}
		}

		&__read-more {
			position: relative;
			display: inline-block;
			width: 64px;
			height: 64px;
			border-radius: 50%;
			box-shadow: 0 5px 16px rgba(0,0,0,.3);
			z-index: 3;
			background-color: var(--white);

			@media (min-width: 992px) and (max-width: 1229px) {
				width: 56px;
				height: 56px;
			}

			@media (max-width: 575px) {
				width: 50px;
				height: 50px;
			}

			&:hover {
				&:before {
					animation: pulse 1.5s infinite;
					animation-delay: 0.3s;
				}
				&:after {
					animation: pulse 1.5s infinite;
				}
			}

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				border-radius: 50%;
				z-index: -1;
				background-color: rgba(var(--white-rgb), .1);
			}

			i {
				vertical-align: 0;
				line-height: 64px;
				font-size: rem(24);
				color: var(--brand-primary);

				@media (min-width: 992px) and (max-width: 1229px) {
					line-height: 56px;
				}

				@media (max-width: 575px) {
					line-height: 50px;
					font-size: rem(18);
				}
			}
		}

		&__title {
			font-size: rem(28);
			line-height: 30px;

			@media (min-width: 992px) and (max-width: 1229px) {
				font-size: rem(18);
				line-height: 22px;
			}

			@media (max-width: 575px) {
				font-size: rem(16);
				line-height: 18px;
			}

			.brk-sc-honeycomb-five_white-style & {
				font-size: rem(24);
				line-height: 26px;
				margin-bottom: 31px;

				@media (min-width: 992px) and (max-width: 1229px) {
					font-size: rem(18);
					line-height: 22px;
				}

				@media (max-width: 575px) {
					font-size: rem(16);
					line-height: 18px;
					margin-bottom: 10px;
				}
			}
		}

		&__desc {
			font-size: rem(18);
			line-height: 24px;

			@media (min-width: 992px) and (max-width: 1229px) {
				font-size: rem(15);
				line-height: 18px;
			}

			@media (max-width: 575px) {
				font-size: rem(13);
				line-height: 18px;
				margin-top: 5px;
			}

			.brk-sc-honeycomb-five_white-style & {
				font-size: rem(16);
				line-height: 26px;
				letter-spacing: 0.02em;
				margin-bottom: 30px;

				@media (min-width: 992px) and (max-width: 1229px) {
					font-size: rem(14);
					line-height: 22px;
				}

				@media (max-width: 575px) {
					font-size: rem(13);
					line-height: 18px;
				}
			}
		}
		/* Components */
	}
}