@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";


/*
// Title Styles
// ================ */
.highlight-massive {
	display: inline-block;
	position: relative;

	> .after {
		content: '';
		position: absolute;
		top: calc(100% - 4px);
		left: 0;
		width: 100%;
		height: 5px;
		background: var(--brand-primary);
		border-radius: 5px;
	}

	&-gray > .after {
		background: #E8E8E8;
		top: calc(100% - 1px);
		height: 3px;
	}
}

.highlight-trend {
	background: var(--brand-primary);
	border-radius: 50px;
	padding: 3px 20px;
	color: $white;
	display: inline-block;
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	& + * {
		margin-top: 20px;
	}
}

.highlight-underline {
	position: relative;
	margin-top: 30px;
	text-transform: uppercase;
	padding: 6px 0 8px 40px;
	//font-size: 21px;
	//font-weight: 300;

	> .before {
		content: '';
		position: absolute;
		top: -1px;
		bottom: -1px;
		left: 0;
		width: 4px;
		border-radius: 10px;
		background: var(--brand-primary);
	}

	& + .highlight-underline {
		padding-top: 0;
		margin-top: -6px;
	}
}

.divider {
	width: 35px;
	height: 2px;
	background: var(--brand-primary);
	margin: 25px auto 32px;
	border: none;
}

.divider-light {
	width: 40px;
	height: 2px;
	background: #D4E1F6;
	margin: 20px auto 20px;
	border: none;
}

.divider-layers {
	width: 140px;
	height: 2px;
	background: #D4E1F6;
	margin: 30px auto 30px;
	border: none;
	position: relative;

	> .before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		-webkit-transform: translate(-50%);
		transform: translate(-50%);
		background: var(--brand-primary);
		width: 40px;
	}
}

.divider-cross {
	width: 12px;
	height: 12px;
	margin: 18px auto 26px;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 6px;
		right: calc(100% + 15px);
		background: #E6E6E6;
		width: 65px;
		height: 1px;
	}

	&:after {
		content: '';
		position: absolute;
		top: 6px;
		left: calc(100% + 15px);
		background: #E6E6E6;
		width: 65px;
		height: 1px;
	}

	span {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -7px;
		width: 14px;
		height: 2px;
		background: var(--brand-primary);
		&:first-child {
			transform: rotate(45deg);
		}
		&:last-child {
			transform: rotate(-45deg);
		}
	}
}

.divider-lines {
	margin-top: 45px;
	span {
		display: block;
		width: 60px;
		margin: 0 auto;
		height: 1px;
		background: #272727;
		& + span {
			margin-top: 3px;
		}
	}
}

.divider-dots {
	margin: 20px auto 25px;
	line-height: 1;
	font-size: 0;
	span {
		display: inline-block;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background: var(--brand-primary);
		margin: 0 5px;
	}
}

.all-light {
	.title__heading-01 {
		&.title__heading-main {
			opacity: 0.15;
		}
		&.title__heading-sub {
			font-size: 28px;
		}
		&.divider {
			background: $white;
		}
	}
}

.title__heading {
	position: relative;
	&-01 {
		&.title__heading-main {
			opacity: 0.07;
			text-transform: uppercase;
			line-height: 1;
			@media(min-width: 768px) {
				font-size: 94px;
			}
			& + .title__heading-sub {
				margin-top: -40px;
			}
		}
		&.title__heading-sub {
			position: relative;
			z-index: 2;
			text-transform: uppercase;

		}
		&.divider {
			margin: 15px auto 0;
		}
	}
	&-02 {
		// margin-top: 110px;
		&.title__heading-main {
			text-transform: uppercase;
			position: relative;
			z-index: 1;
		}
		&.title__heading-sub {
			opacity: 1;
			color:rgba(34,34,34,0.08);
			transition: 1s ease color ;
			&.animated{
				 color: rgba(34, 34, 34, 0.8);
				 transition: .1s ease opacity;
			 }
			text-transform: uppercase;
			position: absolute;
			z-index: -1;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			width: 100%;
			@media(min-width: 768px) {
				font-size: 94px;
			}
		}
	}
	&-03 {
		&.title__heading-main {
			text-transform: uppercase;
			line-height: 1;
			@media(min-width: 768px) {
				font-size: 48px;
			}
		}
		&.title__heading-sub {
			text-transform: uppercase;

		}
	}
	&-04 {
		&.title__heading-main {
			position: relative;
			z-index: 2;
		}
		&.title__heading-sub {
			opacity: 0.08;
			text-transform: uppercase;
			line-height: 1;
			@media(min-width: 768px) {
				font-size: 94px;
			}
			& + .title__heading-main {
				margin-top: -29px;
			}
		}
	}
	&-06 {
		&.title__heading-main {
			position: relative;
			z-index: 2;
			margin-top: -54px;
			text-transform: uppercase;
      line-height: 48px;
      &_light{
        color: #fff;
      }
		}
		&.title__heading-sub {
			color: #F6F6F6;
			text-transform: uppercase;
			@media(min-width: 992px) {
				font-size: 100px;
      }
      &_light{
        color: #fff;
        opacity: .08;
      }
      &_colored{
       color: rgba(var(--brand-primary-rgb), .08) 
      }
      &_dark{
        color: #e6e6e6;
      }
		}
	}
}

.heading-style-left {
	display: inline-block;
	position: relative;
	z-index: 2;
	text-align: left;

	h1,h2 {
		display: inline-block;
	}
	span {
		position: absolute;
		top: 100%;
		left: 0;
		color: #DDDDDD;
		text-transform: uppercase;
	}

	div + div {
		.highlight-underline {
			padding-top: 0;
			margin-top: -6px;
		}
	}
}

.title-lines {
	&-box {
		text-align: center;
		margin-top: 130px;
	}
	&-wrap {
		margin-top: 110px;
	}
	&-main {
		display: inline-block;
		padding: 0 40px;
		position: relative;
		@media(min-width: 768px) {
			padding: 0 80px;
		}
	}
	&-solid {
    display: flex;
    align-items: center;
    padding: 0;
    
		.text {
			position: relative;
			z-index: 1;
      padding: 0 20px;  
      flex-shrink: 0;
    }
    
    .line{
      flex-grow: 1;
      height: 5px;
      background: #EEF4FF;
    }
	}
	&-ridget {
		display: flex;
    align-items: center;
    
    padding: 0;
    
		.text {
			position: relative;
			z-index: 1;
			display: inline-block;
      padding: 0 20px;
      flex-shrink: 0;
    }
    
    .line{
      flex-grow: 1;

			height: 5px;
			background-image: url('#{$img}/heading-bg.png');
			background-position: center center;
      background-repeat: repeat-x;
      
    }
	}
	&-double {
    display: flex;
    align-items: center;
		padding: 0;
		.text {
			position: relative;
			z-index: 1;
      display: inline-flex;
      flex-shrink: 0;
			padding: 0 20px;
		}
		.line {
      flex-grow: 1;
			height: 5px;
			background: none;
      padding: 0;
      position: relative;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background: #000000;
			}
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background: #000000;
			}
		}
	}
	&-bottom {
		line-height: 1;
		margin-top: 4px;
		&:after, &:before {
			content: '';
			position: absolute;
			bottom: 5px;
			right: 0;
			width: 47px;
			@media(min-width: 768px) {
				width: 88px;
			}
			height: 2px;
			background: $black;
		}
		&:before {
			right: auto;
			left: 0;
		}
	}
	&-four {
		position: relative;
		padding: 27px;
		border: 2px solid #EDEDED;
		span {
			position: absolute;
			width: 55px;
			height: 2px;
			background: #EDEDED;
			&:nth-child(1) {
				top: 0;
				left: 0;
				transform: rotate(45deg);
				transform-origin: top left;
			}
			&:nth-child(2) {
				top: 0;
				right: 0;
				transform: rotate(-45deg);
				transform-origin: top right;
			}
			&:nth-child(3) {
				bottom: 0;
				left: 0;
				transform: rotate(-45deg);
				transform-origin: bottom left;
			}
			&:nth-child(4) {
				bottom: 0;
				right: 0;
				transform: rotate(45deg);
				transform-origin: bottom right;
			}
		}
	}
	&-sota {
		display: inline-block;
		position: relative;
		z-index: 1;
		padding: 27px;
		@media(min-width: 768px) {
			padding: 27px 80px;
		}
		> .sota-1 {
			position: absolute;
			top: -10px;
			left: -15px;
			z-index: -1;
			.svg {
				position: absolute;
				top: 0;
				left: 0;
				&:nth-child(1) {
					left: 23px;
				}
				&:nth-child(2) {
					top: 15px;
				}
				&:nth-child(3) {
					top: 28px;
					left: 23px;
				}
				&:nth-child(4) {
					top: 45px;
					left: 75px;
				}
				&:nth-child(5) {
					top: 58px;
					left: 50px;
				}
			}
			svg {
				width: 34px;
				height: 38px;
				path {
					stroke-width: 3px;
					stroke: rgb(240, 240, 240);
				}
			}
		}
		> .sota-2 {
			position: absolute;
			top: 25px;
			right: -10px;
			z-index: -1;
			.svg {
				position: absolute;
				top: 0;
				right: 0;
				&:nth-child(1) {
					top: 15px;
					right: 0;
				}
				&:nth-child(2) {
					top: 0;
					right: 24px;
				}
				&:nth-child(3) {
					top: 30px;
					right: 24px;
				}
				&:nth-child(4) {
					top: 15px;
					right: 48px;
				}
				&:nth-child(5) {
					top: 0;
					right: 72px;
				}
			}
			svg {
				width: 34px;
				height: 38px;
				path {
					stroke-width: 3px;
					stroke: rgb(240, 240, 240);;
				}
			}
		}
  }
  &-dotted{
    position: relative;

    display: flex;
    align-items: center;

    .text{
      position: relative;
      z-index: 1;
      display: inline-flex;
      padding: 0 20px;
      
      flex-shrink: 0;
    }

    .line{
      flex-grow: 1;
      height: 12px;
			background-image: url(../../img/dotted-bg_wide.png);
      background-position: center center;
      background-repeat: repeat-x;
    }
    
  }
}

.line-heading {
	@media(min-width: 992px) {
		display: flex;
		align-items: center;
	}
	p {
		margin-top: 20px;
		border-left: 3px solid var(--brand-primary);
		padding: 12px 0 12px 30px;
		line-height: 24px;
		flex: 1;
		@media(min-width: 992px) {
			margin-left: 38px;
			margin-top: 0;
		}
	}
}

.extra__heading-1 {
	max-width: 570px;
	margin: 0 auto;
	padding: 75px 25px 50px;
	border: 17px solid #DFEAFF;
	.icon__btn {
		width: 58px;
		height: 58px;
		font-size: 16px;
	}
	.video-btn {
		position: relative;
		display: inline-block;
		p {
			margin-top: 10px;
			letter-spacing: 0.8px;
			@media(min-width: 480px) {
				margin-top: 0;
				position: absolute;
				left: calc(100% + 6px);
				top: 50%;
				transform: translate(0, -50%);
				white-space: nowrap;
			}
		}
	}
	h1, h2 {
		letter-spacing: -0.06em;
	}
}

.extra__heading-2 {
	text-align: left;
	max-width: 735px;
	padding: 106px 58px 0px;
	margin: 0 auto;
	border-right: 17px solid rgba($white, 0.1);
	border-bottom: 17px solid rgba($white, 0.1);
	position: relative;
	z-index: 1;
	p {
		line-height: 34px;
	}
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 17px;
		height: calc(100% - 90px);
		background: rgba($white, 0.1);
		z-index: -1;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		height: 17px;
		width: calc(100% - 240px);
		background: rgba($white, 0.1);
		z-index: -1;
	}
	.heading {
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(0px, -65px);
		@media(min-width: 768px) {
			transform: translate(-33px, -65px);
		}
		h1, h2 {
			line-height: 48px;
		}
	}
	.after-heading {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(13px, -105%);
		opacity: 0.1;
		font-size: 100px;
		text-transform: uppercase;
		@media(min-width: 768px) {
			display: block;
		}
	}
	.btn {
		min-width: 220px;
		color: #661DD9;
		font-size: 14px;
		border-radius: 7px;
		height: 55px;
		letter-spacing: 1.2px;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: -35px;
		&.btn-inside-out-invert > .before, &.btn-inside-out-invert > .after {
			color: #661DD9;
		}
		&.btn-inside-out-invert > .before, &.btn-inside-out-invert > .after, &.btn-inside-out-invert > .text {
			padding-right: 15px;
		}
		.text {
			color: #661DD9;
		}
		.icon-left {
			position: absolute;
			top: 13px;
			right: 24px;
			font-size: 24px;
			color: #661DD9;
		}
  }
  &_primary{
      .btn {
      color: var(--brand-primary);
      &.btn-inside-out-invert > .before, &.btn-inside-out-invert > .after {
        color: var(--brand-primary);
      }
      .text {
        color: var(--brand-primary);
      }
      .icon-left {
        color: var(--brand-primary);
      }
    }
  }
}

.extra__heading-3 {
	text-align: left;
	max-width: 530px;
	padding: 112px 36px 40px 58px;
	margin: 0 auto;
	border-right: 13px solid rgba(#aaa, 0.1);
	border-bottom: 13px solid rgba(#aaa, 0.1);
	position: relative;
	z-index: 1;
	p {
		line-height: 26px;
		color: #9F9F9F;
	}
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 13px;
		height: calc(100% - 100px);
		background: rgba(#aaa, 0.1);
		z-index: -1;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		height: 13px;
		width: calc(100% - 280px);
		background: rgba(#aaa, 0.1);
		z-index: -1;
	}
	.heading {
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(0px, -65px);
		@media(min-width: 768px) {
			transform: translate(-33px, -65px);
		}
		h1, h2 {
			line-height: 48px;
		}
	}
	.after-heading {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		transform: translate(13px, -105%);
		opacity: 0.05;
		font-size: 100px;
		text-transform: uppercase;
		@media(min-width: 768px) {
			display: block;
		}
	}
	.btn {
		min-width: 220px;
		color: #661DD9;
		font-size: 14px;
		letter-spacing: 0.04em;
		border-radius: 7px;
		height: 55px;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: -35px;
		&.btn-inside-out-invert > .before, &.btn-inside-out-invert > .after {
			color: #661DD9;
		}
		.text {
			color: #661DD9;
		}
		.icon-left {
			position: absolute;
			top: 13px;
			right: 24px;
			font-size: 24px;
			color: #661DD9;
		}
	}
}

.title-simple {
	&-box {
		margin: 132px 0 160px;
		text-align: center;
	}
	&-wrap {
		margin-top: 110px;
	}
	& + .title-simple {
		margin-top: 96px;
	}
}

.title-box h1 + p,
.title-box h2 + p{
	margin-top: 30px;
}

.title-box h3 + h1,
.title-box h3 + h2{
	margin-top: 20px;
}

.title-box h5 + h1,
.title-box h5 + h2{
	margin-top: 20px;
}

.title-box h1 + h6,
.title-box h2 + h6{
	margin-top: 30px;
}

.heading {
	&__1 {
		text-align: left;
		margin: 100px 0 80px 40px;
		@media(min-width: 768px) {
			margin: 0 0 107px 0;
		}
	}
	&__2 {
		text-align: left;
		margin: 100px 0 80px 40px;
		@media(min-width: 768px) {
			margin: 0 0 43px 0;
		}
	}
	&__number {
		color: #dfdfdf;
	}
	&__bg {
		margin-top: 20px;
		padding: 20px 0;
		background-image: url('#{$img}/heading-bg.png');
		background-position: center center;
		background-repeat: repeat-x;
		text-align: center;
		width: 100%;

		h1,h2 {
			background-color: $white;
			display: inline-block;
			padding: 0 30px;
		}
	}
}