body, html {
    height: auto;
    margin: 0 !important;
    padding: 0 !important;
}

body.unresolved {
    opacity: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 28px;
    overflow-x: hidden;
    background: #fafafa;
    transition: opacity 0.25s cubic-bezier(.55,0,.1,1);
    -moz-transition: opacity 0.25s cubic-bezier(.55,0,.1,1);
    -webkit-transition: opacity 0.25s cubic-bezier(.55,0,.1,1);
}

h1 {
    font-weight: 300;
    font-size: 48px;
    margin-bottom: 100px;
    line-height: 60px;
}

h2 {
    color: white;
    padding: 20px 82px 20px 30px;
    font-weight: 700;
    font-size: 36px;
    background: #2196f3;
    margin-top: 160px;
    margin-bottom: 20px;
    border-radius: 4px;
    position: relative;
}

h3 {
    font-size: 24px;
    padding: 20px 0 10px 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px 40px 40px 360px;
    box-sizing: content-box;
}

.section-scroll-top {
    position: absolute;
    right: 0;
    top: 0;
    width: 82px;
    height: 82px;
    text-align: center;
    line-height: 82px;
    font-size: 24px;
    cursor: pointer;
}

nav#main-nav {
    position: fixed;
    height: 100%;
    overflow-y: auto;
    width: 320px;
    left: 0;
    top: 0;
    /*padding: 20px;*/
    border-right: 1px solid rgba(0,0,0,.14);
    background: #ffffff;
}

nav#main-nav * {
    -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

nav#main-nav > a {
    width: 160px;
    display: block;
    margin: 40px auto;
}

nav#main-nav dl {
    padding: 0;
    margin: 0;
}
nav#main-nav dl dd {
    margin: 0;
    padding: 0;
}
nav#main-nav dl dt {
    padding: 15px 0 15px 22px;
    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
    cursor: pointer;
}

nav#main-nav dl dt.active, nav#main-nav dl dt.hardactive, nav#main-nav dl dt:focus {
    background: #eee;
}

nav#main-nav dl dd a {
    display: block;
    font-size: 13px;
    line-height: 13px;
    padding: 10px 10px 10px 46px;
    color: #222;
    text-decoration: none;
}

pre {
    background: #f5f5f5 !important;
}

.hljs-comment {
    color: #a5a5a5 !important;
}

@media (max-width: 480px) {
    body, html {
        padding: 20px;
    }
    body {
        font-size: 14px;
    }
    .container {
        width: 100%;
    }
    h1 {
        font-size: 36px;
        margin-bottom: 0px;
        line-height: 40px;
    }
    h2 {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 0px;
        line-height: 32px;
        padding: 12px 56px 12px 20px;
    }
    h3 {
        font-size: 18px;
        padding: 10px 0 5px 0;
    }
    .section-scroll-top {
        width: 56px;
        height: 56px;
        line-height: 56px;
    }
}
@media (max-width: 960px) {

}
@media (max-width: 1280px) {

}