@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";
.brk-slider__dots_circled {
  display: flex;
  padding-left: 35px;
  padding-right: 35px;
  li {
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    &:last-child {
      margin-right: 0;
    }
    cursor: pointer;
    button {
      color: transparent;
      line-height: 0;
      width: 6px;
      height: 6px;
      transition: .3s ease all;
      border-radius: 100%;
      border: 1px solid transparent;
      background-color: var(--brand-primary);
    }
    &.slick-active,
    &:hover {
      button {
        background-color: transparent;
        width: 100%;
        height: 100%;
        border: 1px solid #dbdbdb;
      }
    }
  }
}

.brk-sort-list {
  display: flex;
  justify-content: center;
  padding-left: 9px;
  padding-right: 9px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    text-align: center;
    position: relative !important;
  }
  &__item {
    padding: 9px 19px;
    cursor: pointer;
    white-space: nowrap;
  }
  &__item-counter {
    padding-left: 3px;
  }
  &_full-width {
    flex-grow: 1;
  }
  &_bottom-indicators {
    border-bottom: 3px solid rgba(#000, .04);
    @media screen and (max-width: 768px) {
      border-bottom: 0;
    }
    .brk-sort-list__item {
      position: relative;
      &:after {
        content: '';
        bottom: -3px;
        left: 0;
        width: 100%;
        height: 3px;
        background: transparent;
        transition: .3s ease background;
        will-change: background-color;
        position: absolute;
      }
      &.active {
        &:after {
          background-image: linear-gradient(
                          to right,
                          var(--brand-primary) 0%,
                          var(--secondary) 100%);
        }
      }
    }
  }
}

.brk-bordered-bg {
  box-shadow: 3px 4px 50px rgba(0, 0, 0, 0.15), inset 0px 0px 0px 50px rgba(255, 255, 255, 1);
  position: relative;
}

.brk-gradien-carousel {
  margin-left: -15px;
  margin-right: -15px;
  .slick-loading {
    &:before {
      background-color: transparent;
    }
    img {
      display: none;
    }
  }
  .slick-active-first {
    >div:hover {
      .brk-gradient-card {
        &__img,
        &__overlay,
        &__body {
          left: 0;
        }
      }
    }
  }
  .slick-active-last {
    >div:hover {
      .brk-gradient-card {
        &__img,
        &__overlay,
        &__body {
          left: -80px;
        }
      }
    }
  }
  .slick-active-single {
    >div:hover {
      .brk-gradient-card {
        &__img,
        &__overlay,
        &__body {
          left: 0;
          width: 100%;
        }
      }
    }
  }
  .slick-dots {
    background-color: transparent;
    box-shadow: none;
    transform: translate(-50%, 100%);
    li {
      background-color: rgba(256, 256, 256, 0.2);
      transition: .3s ease background-color;
      border: none !important;
      width: 10px;
      height: 10px;
      button {
        background-color: transparent;
      }
      &.slick-active {
        background-color: rgba(256, 256, 256, 1);
      }
    }
  }
}

.rotation-slider {
  max-width: none;
}

.brk-gallery-solid {
  position: relative;
  padding: 55px;
  border: 4px solid var(--brand-primary);
  @media screen and (max-width: 500px) {
    padding: 0 20px;
  }
  &__sort {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    .brk-sort-list__item {
      border-bottom: 4px solid transparent;
      transition: .3s ease border;
      &.active {
        color: var(--brand-primary);
      }
    }
  }
  &__slider {
    .slick-list {
      margin-left: -10px;
      margin-right: -10px;
    }
    .slick-slide {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &__slider-control {
    position: absolute;
    background-color: #fff;
    left: 50%;
    bottom: -2px;
    transform: translate( -50%, 50%);
    padding-left: 37px;
    padding-right: 37px;
    @media screen and (max-width: 500px) {
      position: relative;
      padding: 15px;
    }
  }
  &__slider-next {
    position: absolute;
    top: -6px;
    right: 26px;
    @media screen and (max-width: 500px) {
      right: 10px;
    }
    i {
      font-size: 26px;
      transition: .3s ease opacity, .3s ease color;
      will-change: opacity;
    }
    &.slick-disabled i {
      color: #000;
      opacity: .3;
      cursor: default;
    }
  }
  &__slider-prev {
    position: absolute;
    top: -6px;
    left: 26px;
    @media screen and (max-width: 500px) {
      left: 10px;
    }
    i {
      font-size: 26px;
      transition: .3s ease opacity, .3s ease color;
      will-change: opacity;
    }
    &.slick-disabled i {
      color: #000;
      opacity: .3;
      cursor: default;
    }
  }
  &__slider-next,
  &__slider-prev {
    @media screen and (max-width: 500px) {
      top: 50%;
      transform: translateY(-50%);
    }
    i {
      color: var(--brand-primary);
    }
  }
  &__slider-dots {
    @media screen and (max-width: 500px) {
      flex-wrap: wrap;
      padding: 0 10px;
      justify-content: center;
      li {
        width: auto;
        height: auto;
        margin: 5px;
        &:last-child {
          margin-right: 5px;
        }
        button {
          width: auto;
          height: auto;
          color: #ffffff;
          line-height: 14px;
          padding: 5px;
        }
      }
      li.slick-active,
      li:hover {
        button {
          background-color: #fff;
          color: var(--brand-primary);
        }
      }
    }
  }
}

.brk-gradien-carousel__items:not(:hover) {
	.slick-center {
		.brk-gradient-card {
			&__overlay,
			&__body {
				opacity: 1;
			}

			&_hover-sizer {
				z-index: 1;

				.brk-gradient-card {
					&__img,
					&__overlay,
					&__body {
						top: 0;
						height: 100%;
						left: -40px;
						width: calc(100% + 80px);
					}
				}
			}
		}
	}
}

.brk-gradient-card {
  position: relative;
  &:after {
    content: '';
    display: block;
    padding-top: 73%;
  }
  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__img-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 100%;
  }
  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: .3s ease opacity;
    will-change: opacity;
    opacity: 0;
  }
  &__body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 1;
    transition: .3s ease opacity;
    will-change: opacity;
    opacity: 0;
  }
  &__link {
    display: flex;
    align-items: center;
    >i {
      margin-right: 8px;
    }
  }
  &:hover {
    .brk-gradient-card__overlay {
      opacity: 1;
    }
    .brk-gradient-card__body {
      opacity: 1;
    }
  }
  &_hover-sizer {
    padding: 40px 0;
    overflow: visible;

    .brk-gradient-card {
      &__img,
      &__overlay,
      &__body {
        top: 40px;
        height: calc(100% - 80px);
        transition: all .3s ease;
        max-width: none;
      }
    }
    &:hover {
      z-index: 1;
      .brk-gradient-card {
        &__img,
        &__overlay,
        &__body {
          top: 0;
          height: 100%;
          left: -40px;
          width: calc(100% + 80px);
        }
      }
    }
  }
}

.brk-liked-card {
  position: relative;
  &:after {
    content: '';
    display: block;
    padding-top: 140%;
  }
  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__img-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 100%;
  }
  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: .3s ease opacity;
    will-change: opacity;
    opacity: 0;
  }
  &__body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 1;
    transition: .3s ease opacity;
    will-change: opacity;
    opacity: 0;
  }
  &__link {
    display: flex;
    align-items: center;
    >i {
      margin-right: 8px;
    }
  }
  &:hover {
    .brk-liked-card__overlay {
      opacity: 1;
    }
    .brk-liked-card__body {
      opacity: 1;
    }
  }
  &_wide {
    &:after {
      padding-top: 73%;
    }
  }
}

.brk-strict-carousel {
  position: relative;
  overflow: hidden;
  .slick-list {
    overflow: visible;
  }
  .slick-slide {
    transition: .3s ease opacity;
    opacity: 0.3;
    pointer-events: none;
    &.slick-active {
      opacity: 1;
      pointer-events: all;
    }
  }
  &__control {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
  }
  .brk-slider__dots_circled {
    padding: 0 26px;
  }
  &__control-next {
    order: 3;
  }
  &__control-next,
  &__control-prev {
    margin-top: -2px;
    color: var(--brand-primary);
    >i {
      vertical-align: middle;
      font-size: 16px;
    }
  }
}

.brk-card-fill {
  position: relative;
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__title {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .3s ease opacity;
    background-color: rgba(var(--brand-primary-rgb), 0.92);
  }
  &__title-text {
    padding: 39px 30px 100px 47px;
    background-position: center;
    background-size: cover;
    -webkit-text-fill-color: rgba(256, 256, 256, 0.6);
    -webkit-background-clip: text;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &__links {
    position: absolute;
    right: -1px;
    bottom: -1px;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
    clip-path: polygon(100% 1%, 0% 100%, 100% 100%);
    padding: 0;
    max-height: 0;
    transition: .3s ease all;
  }
  &__link {
    padding: 5px;
    i{
      vertical-align: middle;
    }
  }
  &:hover {
    .brk-card-fill__title {
      opacity: 1;
    }
    .brk-card-fill__links {
      max-height: 100px;
      padding: 35px 22px 18px 11px;
    }
  }
}

.brk-carousel-dark {
  overflow: hidden;
  .slick-list {
    overflow: visible;
    margin-left: -15px;
    margin-right: -15px;
  }
  .slick-slide {
    pointer-events: none;
    &.slick-active {
      pointer-events: all;
    }
  }
  .slick-current {
    .brk-card-out {
      overflow: visible;
      z-index: 1;
      .brk-card-out__overlay {
        background-color: rgba(0, 0, 0, 0.4);
      }
      .brk-card-out__link {
        margin-top: 50%;
        margin-left: 50%;
        transform: translate(-50%, -50%);
        width: 136px;
        height: 136px;
        opacity: 1;
      }
      .brk-card-out__info {
        left: calc(50% + 136px / 2 + 27px);
        top: calc(50% - 4px);
        transform: translateY(-50%);
        opacity: 1;
      }
      @media screen and (max-width:1230px) {
        .brk-card-out__link {
          margin-top: 40%;
          margin-left: 30%;
        }
        .brk-card-out__info {
          left: calc(30% + 136px / 2 + 27px);
          top: calc(40% - 4px);
        }
      }
      @media screen and (max-width:992px) {
        .brk-card-out__link {
          margin-left: 50%;
          margin-top: 20px;
          transform: translate(-50%, 0);
          width: 70px;
          height: 70px;
        }
        .brk-card-out__info {
          left: 20px;
          top: calc(40px + 70px);
          transform: translate(0);
        }
      }
    }
  }
  &:hover {
    .slick-slide {
      .brk-card-out {
        overflow: hidden;
        z-index: 0;
        .brk-card-out__overlay {
          background-color: rgba(0, 0, 0, 0.8);
        }
        .brk-card-out__link {
          margin-top: 0;
          margin-left: 0;
          transform: translate(0, 0);
          width: 0;
          height: 0;
          opacity: 0;
        }
        .brk-card-out__info {
          top: 0;
          left: 0;
          transform: translate(0, 0);
          opacity: 0;
          @media screen and(max-width: 992px) {
            width: calc(100% - 40px);
            text-align: center;
          }
        }
      }
      .brk-card-out:hover {
        overflow: visible;
        z-index: 1;
        .brk-card-out__overlay {
          background-color: rgba(0, 0, 0, 0.4);
        }
        .brk-card-out__link {
          margin-top: 50%;
          margin-left: 50%;
          transform: translate(-50%, -50%);
          width: 136px;
          height: 136px;
          opacity: 1;
        }
        .brk-card-out__info {
          left: calc(50% + 136px / 2 + 27px);
          top: calc(50% - 4px);
          transform: translateY(-50%);
          opacity: 1;
        }
        @media screen and (max-width:1230px) {
          .brk-card-out__link {
            margin-top: 40%;
            margin-left: 30%;
          }
          .brk-card-out__info {
            left: calc(30% + 136px / 2 + 27px);
            top: calc(40% - 4px);
          }
        }
        @media screen and (max-width:992px) {
          .brk-card-out__link {
            margin-left: 50%;
            margin-top: 20px;
            transform: translate(-50%, 0);
            width: 70px;
            height: 70px;
          }
          .brk-card-out__info {
            left: 20px;
            top: calc(40px + 70px);
            transform: translate(0);
          }
        }
      }
    }
  }
}

.brk-card-out {
  position: relative;
  overflow: hidden;
  z-index: 0;
  &:after {
    content: '';
    padding-top: 100%;
    display: block;
  }
  &__img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: .3s ease background;
  }
  &__body {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 50%;
    margin-left: 50%;
  }
  &__link {
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    transform: translate(0, 0);
    width: 0;
    height: 0;
    opacity: 0;
    border: 2px solid #fff;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: .3s ease all;
  }
  &__info {
    width: 70%;
    position: absolute;
    transform: translate(0, 0);
    transition: .3s ease all;
    opacity: 0;
    top: 0;
    left: 0;
    @media screen and(max-width: 992px) {
      width: calc(100% - 40px);
      text-align: center;
    }
  }
  &__category {
    padding: 1px 4px 2px 9px;
    margin-left: 2px;
    position: relative;
    top: 4px;
    letter-spacing: 0.2em;
  }
  &:hover {
    overflow: visible;
    z-index: 1;
    .brk-card-out__overlay {
      background-color: rgba(0, 0, 0, 0.4);
    }
    .brk-card-out__link {
      margin-top: 50%;
      margin-left: 50%;
      transform: translate(-50%, -50%);
      width: 136px;
      height: 136px;
      opacity: 1;
    }
    .brk-card-out__info {
      left: calc(50% + 136px / 2 + 27px);
      top: calc(50% - 4px);
      transform: translateY(-50%);
      opacity: 1;
    }
    @media screen and (max-width:1230px) {
      .brk-card-out__link {
        margin-top: 40%;
        margin-left: 30%;
      }
      .brk-card-out__info {
        left: calc(30% + 136px / 2 + 27px);
        top: calc(40% - 4px);
      }
    }
    @media screen and (max-width:992px) {
      .brk-card-out__link {
        margin-left: 50%;
        margin-top: 20px;
        transform: translate(-50%, 0);
        width: 70px;
        height: 70px;
      }
      .brk-card-out__info {
        left: 20px;
        top: calc(40px + 70px);
        transform: translate(0);
      }
    }
  }
  @media screen and(max-width: 768px) {
    .brk-card-out__overlay {
      background-color: rgba(0, 0, 0, 0.4);
    }
    .brk-card-out__link {
      margin-left: 50%;
      margin-top: 20px;
      transform: translate(-50%, 0);
      width: 70px;
      height: 70px;
      opacity: 1;
    }
    .brk-card-out__info {
      left: 20px;
      top: calc(40px + 70px);
      transform: translate(0);
      opacity: 1;
    }
  }
}

.brk-square-dots{
  .slick-dots{
    li{
      border-radius: 0;
      background: transparent;
      border: 2px solid var(--brand-primary) !important;
      width: 8px;
      height: 8px;
      &.slick-active{
        width: 13px;
        height: 13px;
        border: 2px solid var(--brand-primary);
        background-color: var(--brand-primary);
      }
    }
  }
}