@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.brs-post-container_bottom-divider {
  padding-bottom: 55px;
  &::after {
    content: "";
    height: 1px;
    width: calc(100% + 30px);
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ebebeb;
    @media screen and (max-width:992px) {
      display: none;
    }
  }
}

.brs-sidebar_bottom-divider {
  &::after {
    content: "";
    height: 1px;
    width: calc(100% - 15px);
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ebebeb;
    @media screen and (max-width:992px) {
      display: none;
    }
  }
}

.brk-post-full {
  &__meta {
    display: flex;
    &-date {
      color: rgba(27, 27, 27, 0.4);
      margin-right: 14px;
      >i {
        margin-right: 4px;
        font-size: 10px;
        position: relative;
        bottom: 2px;
        left: 1px;
      }
    }
    &-comments {
      color: rgba(27, 27, 27, 0.4);
      >i {
        margin-right: 8px;
        font-size: 10px;
        position: relative;
        bottom: 2px;
        left: 1px;
      }
    }
    &-date,
    &-comments{
      i{
        vertical-align: middle;
      }
    }
  }
  &__fixed-width {
    min-width: 73px;
  }
  .rotation-slider {
    max-width: none;
  }
}

.brk-post-preview {
  display: flex;
  flex-direction: column;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.12);
  &__img-wrapper {
    position: relative;
    width: 100%;
    &::before {
      content: '';
      display: block;
      padding-bottom: 100%;
      width: 100%;
    }
  }
  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .3s ease opacity;
  }
  &__link {
    position: absolute;
    bottom: 0;
    margin-left: 50%;
    transform: translate(-50%, 50%);
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.07);
    background-color: #ffffff;
    padding: 19px 53px;
    border-radius: 50px;
    white-space: nowrap;
    transition: .3s ease all;
  }
  &__info {
    background-color: #ffffff;
    padding: 65px 40px 45px 40px;
  }
  &:hover {
    .brk-post-preview__overlay {
      opacity: 1;
    }
    .brk-post-preview__link {
      color: #ffffff;
      background-color: transparent;
      border: 2px solid rgba(255, 255, 255, 0.3);
      bottom: 50%;
      padding: 17px 52px;
    }
  }
}

.brk-related-carousel {
 
  &__control {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-grow: 1;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #ececec;
    }
    &-btn {
      z-index: 1;
      padding: 15px 64px;
      border: 1px solid #ececec;
      background-color: #ffffff;
      border-radius: 35px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      transition: .3s ease all;
      @media screen and (max-width:500px){
        flex-grow: 1;
        padding: 10px;
        justify-content: center

      }
      &:first-child>i {
        margin-right: 10px;
        margin-top: -4px;
      }
      &:last-child>i {
        margin-left: 10px;
        margin-top: -4px;
        
      }
      &:hover { 
       
        color: #ffffff; 
      }
    }
  }
 
  .slick-list {
    margin: -15px;
  }
  .slick-slide {
    padding: 15px;
  }

  &__dots {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    li {
      width: 26px;
      height: 9px;
      overflow: hidden;
      color: transparent;
      background-color: transparent;
      margin-right: 10px;
      cursor: pointer;
      border-radius: 20px;
      &:last-child {
        margin-right: 0;
      }
      button {
        background-color: transparent;
        width: 100%;
        height: 100%;
      }
    }
    
    li {
      border: 1px solid rgba(0, 0, 0, 0.13);
      box-shadow: inset 0px 0px 0px 1px $white;
    }
    .slick-active {
      border: 1px solid rgba(0, 0, 0, 0.13);
    }
    
  }
  
}

.brk-reply-item{
  position: relative;
  padding-left: 85px;
  padding-bottom: 38px;
  margin-bottom: 34px;
  
  .brk-forum-post__header{
    margin-left: -85px;
  }
  &::after{
    content:'';
    height: 1px;
    width: calc(100% - 30px);
    bottom: 0;
    left: 30px;
    position: absolute;
    background-image:url('../../img/dashed-border.png');
    background-repeat: repeat;
  }
  &::before{
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    left: 31px;
    top: 34px;
    background-color: #ebebeb;
  }
  &:last-of-type{
    &::before,
    &::after{
      display: none;
    }
  }
}