@charset "UTF-8";

@import "variables.scss";
@import "mixins.scss";

/*
* Layouts
* ================ */
.main-wrapper {
	position: relative;
	// overflow: hidden;
}

/*
* Global styles
// ================================= */
body {
	font-family: $default-font-family;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	color: #222;
	background: #fff;
	overflow-x: hidden;
}

.brk-boxed {
	background: #fff;
	margin: 0 auto;

	@media (min-width: 1200px) {
		max-width: 1200px;
		box-shadow: rgba(#000, .6) 0 0 18px;
	}
}

.brk-element-loading {
	transition: all 1s linear 0.5s;
	position: absolute;
	z-index: 1;
	top: -webkit-calc(50% - 50px);
	top: 10%;
	left: 50%;
	width: 60px;
	height: 60px;
	-webkit-transform-origin: 30px 31px;
	transform-origin: 30px 31px;
	border-radius: 50%;
	box-shadow: 0 1px 0 0 #1d3f72;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-animation: eye 1s linear infinite;
	animation: eye 1s linear infinite;
}

@-webkit-keyframes eye {
	from {
		-webkit-transform: translate(-50%, -50%) rotate(0);
		transform: translate(-50%, -50%) rotate(0);
	}
	to {
		-webkit-transform: translate(-50%, -50%) rotate(360deg);
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@keyframes eye {
	from {
		-webkit-transform: translate(-50%, -50%) rotate(0);
		transform: translate(-50%, -50%) rotate(0);
	}
	to {
		-webkit-transform: translate(-50%, -50%) rotate(360deg);
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

/* [data-brk-library]:not(.lazyloaded) {
   opacity: 0;
   height: 50px;
 }
 [data-brk-library]:not(.lazyloaded) > *{
   display: none;
 }

[data-brk-library] {
  opacity: 0;
}
[data-brk-library]:not(.lazyloaded){
  overflow: hidden; 
  position: relative;
}
[data-brk-library].lazyloaded{
  opacity: 1;
}
[data-brk-library].lazyloaded .brk-element-loading{
  opacity: 0;
}
*/
.fal {
	font-family: "Font Awesome\ 5 Free" !important;
}

.far, .fal {
	font-weight: 600 !important;
}

@font-face {
	font-family: 'berserk';
	src: url('../fonts/berserk/berserk.eot');
	src: url('../fonts/berserk/berserk.eot?#iefix') format('embedded-opentype'),
	url('../fonts/berserk/berserk.woff') format('woff'),
	url('../fonts/berserk/berserk.ttf') format('truetype'),
	url('../fonts/berserk/berserk.svg#berserk') format('svg');
	font-weight: normal;
	font-style: normal;
}

.fal.fa-cog:before,
.fal.fa-comment-alt:before,
.far.fa-clock:before,
.far.fa-envelope-DISABLE:before,
.fa.fa-search-DISABLE:before,
.fa.fa-phone-DISABLE:before,
.fal.fa-play-circle:before,
.fa.fa-share-alt:before,
.fa.fa-shopping-basket-DISABLE:before,
.fal.fa-shopping-cart:before,
.fas.fa-sign-in-alt-DISABLE:before,
.fas.fa-star-DISABLE:before,
.fas.fa-exchange-alt-DISABLE:before,
.fas.fa-arrow-down:before,
.fas.fa-arrow-up:before,
.fa.fa-angle-left-DISABLE:before,
.fa.fa-angle-right-DISABLE:before,
.fal.fa-arrow-left:before,
.fal.fa-arrow-right:before,
.fa.fa-plus:before {
	display: inline-block;
	font-family: 'berserk';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.fal.fa-cog:before {
	content: '\0041';
}

.fal.fa-comment-alt:before {
	content: '\0042';
}

.far.fa-clock:before {
	content: '\0043';
}

.far.fa-envelope-DISABLE:before {
	content: '\0044';
}

.fa.fa-search-DISABLE:before {
	content: '\0045';
}

.fa.fa-phone-DISABLE:before {
	content: '\0046';
}

.fal.fa-play-circle:before {
	content: '\0047';
}

.fa.fa-share-alt:before {
	content: '\0048';
}

.fa.fa-shopping-basket-DISABLE:before {
	content: '\0049';
}

.fal.fa-shopping-cart:before {
	content: '\004a';
}

.fas.fa-sign-in-alt-DISABLE:before {
	content: '\004b';
}

.fas.fa-star-DISABLE:before {
	content: '\004c';
}

.fas.fa-exchange-alt-DISABLE:before {
	content: '\004d';
}

.fas.fa-arrow-down:before {
	content: '\004e';
}

.fas.fa-arrow-up:before {
	content: '\004f';
}

.fa.fa-angle-left-DISABLE:before {
	content: '\0050';
}

.fa.fa-angle-right-DISABLE:before {
	content: '\0051';
}

.fal.fa-arrow-left:before {
	content: '\0052';
}

.fal.fa-arrow-right:before {
	content: '\0053';
}

.fa.fa-plus:before {
	content: '\0054';
}

a:hover {
	color: var(--brand-primary);
	text-decoration: none;
}

a:focus {
	color: var(--brand-primary);
	text-decoration: none;
}

/*
// Color
// ================== */
.text-primary {
	color: var(--brand-primary);
}

.text-light-blue {
	color: var(--brk-base-2) !important;
}

.text-blue {
	color: var(--brand-primary) !important;
}

.text-gray {
	color: #BFBFBF !important;
}

.text-gray-light {
	color: #9F9F9F !important;
}

.text-dark {
	color: #868686 !important;
}

.text-soft {
	color: #b6c9ff !important;
}

.text-light-soft {
	color: var(--brk-base-1) !important;
}

.text-blue-1 {
	color: #AABCF1 !important;
}

.text-blue-2 {
	color: var(--brk-base-1) !important;
}

.text-blue-3 {
	color: #d2d5fe !important;
}

/*
// Backgrounds
// ================ */
.bg-primary {
	background-color: var(--brand-primary) !important;
}

.bg-white {
	background: $white;
}

.bg__style {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.no-bg-xs {
	@media(max-width: 479px) {
		background: none !important;
	}
}

.no-bg-sm {
	@media(max-width: 767px) {
		background: none !important;
	}
}

.no-bg-md {
	@media(max-width: 1023px) {
		background: none !important;
	}
}

.no-bg-lg {
	@media(max-width: 1199px) {
		background: none !important;
	}
}

.bg-purple {
	background: linear-gradient(to right, var(--brk-secondary-4), var(--secondary));
}

.visible {
	overflow: visible;
}

.full-screen {
	width: 100%;
	min-height: 100vh;
}

.w-43 {
	width: 43% !important;
}

.side-circles {
	position: relative;
	z-index: 1;
	overflow: hidden;
	&:before {
		content: '';
		position: absolute;
		top: -535px;
		left: -520px;
		width: 875px;
		height: 875px;
		border: 40px solid rgba($white, 0.08);
		border-radius: 50%;
	}
	&:after {
		content: '';
		position: absolute;
		top: -110px;
		right: -180px;
		width: 420px;
		height: 420px;
		border: 21px solid rgba($white, 0.08);
		border-radius: 50%;
	}
}

.top-triangle {
	position: relative;
	z-index: 1;
	&:before {
		content: '';
		position: absolute;
		top: -12px;
		left: 50%;
		transform: translateX(-50%) rotate(45deg);
		width: 24px;
		height: 24px;
		background: $white;
	}
}

.overlay__grad {
	position: relative;
	z-index: 1;
	overflow: hidden;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(to right, var(--brand-primary), var(--secondary));
		opacity: 0.9;
		z-index: -1;
	}
}

.overlay__gradient {
	position: relative;
	z-index: 1;
	overflow: hidden;
	.overlay_after {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(to right, var(--brand-primary), var(--secondary));
		opacity: 0.94;
		z-index: -1;
		margin: 0;
	}
	&-left .overlay_after {
		background: linear-gradient(10deg, var(--brand-primary), var(--secondary));
	}
}

.overlay__white {
	position: relative;
	z-index: 1;
	overflow: hidden;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $white;
		opacity: 0.94;
		z-index: -1;
	}
}

.overlay__dark {
	position: relative;
	z-index: 1;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $black;
		opacity: 0.75;
		z-index: -1;
	}
}

.overlay__purple {
	position: relative;
	z-index: 1;
	> .after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(to right, var(--brk-secondary-4) 20%, var(--secondary) 70%);
		opacity: 0.94;
		z-index: -1;
	}
}

.overlay__dot {
	position: relative;
	z-index: 1;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(#172844, 0.7);
		background-image: radial-gradient(#101C2F 24%, transparent 25%);
		background-size: 3px 3px;
		opacity: 0.94;
		z-index: -1;
	}
}

.overlay__curve {
	position: relative;
	z-index: 1;
	overflow: visible;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 100%;
		background: url('#{$img}/curve.png') top center no-repeat;
		background-size: 100%;
		z-index: -1;
	}
}

.all-light {
	&, #{headings()} {
		color: $white;
	}
}

html .row-no-gutter {
	margin-left: 0;
	margin-right: 0;
	> [class*='col'] {
		padding-left: 0;
		padding-right: 0;
	}
	.vc_column_container > .vc_column-inner {
		padding-left: 0;
		padding-right: 0;
	}
}

.show-inline {
	display: inline !important;
}

.link-icon {
	display: inline-block;
	.icon {
		margin: 0 10px;
		vertical-align: baseline;
		font-size: 16px;
	}
	&:hover .fa {
		animation: icon-move 2s infinite;
	}
}

.wow {
	visibility: hidden;
}

.rounded-all {
	border-radius: 50%;
}

.rounded-top-left {
	border-top-left-radius: 30px;
}

.rounded-top-right {
	border-top-right-radius: 30px;
}

.rounded-bottom-left {
	border-bottom-left-radius: 30px;
}

.rounded-bottom-right {
	border-bottom-right-radius: 30px;
}

.shadow {
	box-shadow: 0 6px 30px 0 rgba($black, 0.12);
}

.mobile-case-1 {
	position: relative;
	width: 292px;
	height: 609px;
	margin: 0 auto;
	z-index: 2;

	.mobile-bg {
		position: absolute;
		top: 92px;
		left: 50%;
		margin-left: 2px;
		width: 242px;
		height: 430px;
		transform: translate(-50%, 0);
		background: url('#{$img}/app-inside-1.jpg') center center;
	}
}

.mobile-case-2 {
	position: relative;
	width: 352px;
	height: 721px;
	margin: 0 auto;
	background: url('#{$img}/app-case-2.png');
	z-index: 2;
	.mobile-bg {
		position: absolute;
		top: 88px;
		left: 50%;
		width: 306px;
		height: 543px;
		transform: translate(-50%, 0);
		background: url('#{$img}/app-inside-2.jpg') center center;
	}
}

.mobile-case-3 {
	position: relative;
	width: 320px;
	height: 208px;
	margin: 0 auto;
	background: center center no-repeat;
	background-size: contain;

	@media #{$md-min} {
		height: 398px;
		width: 680px;
		margin: 0 auto;
	}

	@media #{$lg-min}{
		width: auto;
		margin: 0 -55px;
	}

	.mobile-bg {
		position: absolute;
		top: 23px;
		left: 41px;
		right: 41px;
		height: 148px;
		background: url('#{$img}/app-inside-3.jpg') center center no-repeat;
		background-size: cover;

		@media #{$sm-min}{

		}

		@media(min-width: 768px) {
			top: 6%;
			left: 12%;
			right: 12%;
			bottom: 13%;
			height: auto;
			z-index: -1;
		}
	}
}

.mobile-case-4 {
	position: relative;
	width: 320px;
	height: 208px;
	margin: 0 auto;
	background: center center no-repeat;
	background-size: contain;

	@media #{$md-min} {
		height: 398px;
		width: 680px;
		margin: 0 auto;
	}

	@media #{$lg-min}{
		width: 100%;
	}

	.mobile-bg {
		position: absolute;
		top: 23px;
		left: 41px;
		right: 41px;
		height: 148px;
		background: url('#{$img}/app-inside-3.jpg') center center no-repeat;
		background-size: cover;

		@media #{$sm-min}{

		}

		@media(min-width: 768px) {
			top: 7%;
			left: 12%;
			right: 12%;
			bottom: 14%;
			height: auto;
			z-index: -1;
		}
	}
}

.arrow__pointer-top-left {
	display: none;
	position: absolute;
	top: -60px;
	right: -40px;

	[dir="rtl"] & {
		right: auto;
		left: -40px;
		transform: rotateY(180deg);
	}

	@media(min-width: 1200px) {
		display: block;
	}
}

.arrow__pointer-bottom-left {
	display: none;
	position: absolute;
	bottom: -60px;
	right: -40px;
	transform: rotateY(180deg) rotate(180deg);

	[dir="rtl"] & {
		right: auto;
		left: -40px;
		transform: rotateY(0) rotate(180deg);
	}

	@media(min-width: 1200px) {
		display: block;
	}
}

.arrow__pointer-top-right {
	display: none;
	position: absolute;
	top: -60px;
	left: -40px;
	transform: rotateY(180deg) rotate(0deg);

	[dir="rtl"] & {
		left: auto;
		right: -40px;
		transform: rotateY(0deg) rotate(0deg);
	}

	@media(min-width: 1200px) {
		display: block;
	}
}

.arrow__pointer-bottom-right {
	display: none;
	position: absolute;
	bottom: -60px;
	left: -40px;
	transform: rotateY(0deg) rotate(180deg);

	[dir="rtl"] & {
		left: auto;
		right: -40px;
		transform: rotateY(180deg) rotate(180deg);
	}

	@media(min-width: 1200px) {
		display: block;
	}
}

.circle-number {
	min-width: 51px;
	width: 52px;
	height: 52px;
	margin-left: auto;
	margin-right: auto;
	background: $white;
	border-radius: 50%;
	box-shadow: 0 5px 16px 0 rgba($black, 0.3);
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: 600;
	color: var(--brand-primary);
	display: flex;
	justify-content: center;
	align-items: center;
}

.app-img-caption {
	font-family: 'Montserrat', sans-serif;
	font-size: 60px;
	font-weight: 600;
	// color: #F2F2F2;
	opacity: 0.06;
	position: relative;
	z-index: 1;
	text-transform: uppercase;
	line-height: 1;
	display: block;
	margin-bottom: -15px;
	@media(min-width: 480px) {
		font-size: 118px;
		margin-bottom: -30px;
	}
	@media(min-width: 1200px) {
	}
}

.app-img-caption ~ * {
	position: relative;
	z-index: 2;
}

.app-dot-line {
	display: inline-block;
	position: relative;
	z-index: 1;
	&.left {
		> .dot {
			right: -40px;

			[dir="rtl"] & {
				right: auto;
				left: -40px;
			}

			> .line {
				left: 0;

				[dir="rtl"] & {
					left: auto;
					right: 0;
				}
			}
		}
	}
	&.right {
		> .dot {
			left: -40px;

			[dir="rtl"] & {
				left: auto;
				right: -40px;
			}

			> .line {
				right: 0;

				[dir="rtl"] & {
					right: auto;
					left: 0;
				}
			}
		}
	}
	> .dot {
		display: none;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		width: 14px;
		height: 14px;
		border-radius: 50%;
		background: var(--brand-primary);
		@media(min-width: 1230px) {
			display: block;
		}
		&:after {
			content: '';
			position: absolute;
			top: -1px;
			left: -1px;
			right: -1px;
			bottom: -1px;
			border: 3px solid $white;
			box-shadow: 1px 1.732px 8px 0 rgba(0, 0, 0, 0.2);
			border-radius: 50%;
		}
		.line {
			position: absolute;
			top: 7px;
			width: 300px;
			height: 1px;
			background: var(--brand-primary);
			z-index: -1;
		}
	}
}

.svg {

	&-md {
		width: 74px;
		height: 74px;
	}

	&-91 {
		width: 91px;
		height: 91px;
	}

}

.slide-bg-wrap {
	position: relative;
	overflow: hidden;
	.slide-bg {
		position: absolute;
		left: 0;
		display: block;
		width: 0;
		height: 0;
		border-radius: 50%;
		background-color: var(--brand-primary);
		transition: width 0.25s ease-in-out, height 0.25s ease-in-out;
		transform: translate(-50%, -50%);
		z-index: -1;
	}
	&:hover .slide-bg {
		width: 250%;
		height: 250%;
	}
}

.hot-panel {
	display: inline-block;
	padding: 4px 24px;
	color: $white;
	font-weight: 700;
	border-radius: 50px;
	background: linear-gradient(to right, var(--brk-base-2), var(--brk-base-5));
	&_primary {
		background: linear-gradient(to right, var(--brand-primary), var(--secondary));
	}
}

.horiz-line {
	display: block;
	border: none;
	width: 100%;
	height: 1px;
	background: $white;
	opacity: 0.2;
	margin: 34px 0 30px;
}

* + .subscr__form {
	margin-top: 30px;
}

.subscr__form {
	max-width: 520px;
	margin-left: auto;
	margin-right: auto;
	background: rgba($white, 0.12);
	border: 2px solid rgba($white, 0.2);
	border-radius: 50px;
	box-shadow: 0 3px 10px 0 rgba($black, 0.1);
	position: relative;
	.form-control {
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		height: 52px;
		color: $white;
		padding: 10px 60px 10px 30px;
		background: transparent;
		border: none;
		&::-webkit-input-placeholder {
			color: $white;
		}
	}
	.btn-subscr {
		position: absolute;
		width: 42px;
		height: 42px;
		border-radius: 50%;
		top: 50%;
		transform: translateY(-50%);
		right: 6px;
		color: $white;
		background: linear-gradient(to right, var(--brk-base-6), var(--brk-base-2));
		&:before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&:hover {
			transform: translateY(-50%) scale(1.1);
		}
	}
}

.video-wrap {
	position: relative;
	z-index: 1;
	cursor: pointer;
	box-shadow: 0 5px 16px 0 rgba($black, 0.4);
	min-height: 430px;
	.overlay-image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: url('#{$img}/770x433_1.jpg') top center no-repeat;
		background-size: cover;
		z-index: 50;
		-webkit-transition: all .4s ease;
		transition: all .4s ease;
		&.hid {
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
		}
	}
	.icon__btn {
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		.fa-play:before {
			margin-left: 2px;
		}
	}
	iframe {
		width: 100%;
		height: 100%;
	}
}

body .main-icon {
	font-size: 64px;
	width: 170px;
	height: 170px;
	margin: 0 auto;
	border-radius: 50%;
	border: 2px solid var(--brk-base-2);
	position: relative;
	&:before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	& + * {
		margin-top: 56px;
	}
}

.inline-wrap {
	> div {
		flex: 1;
	}
	@media(min-width: 1200px) {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	&-second {
		.icon__btn {
			width: 63px;
			height: 63px;
			background: var(--brk-base-2);
			font-size: 28px;
			margin-bottom: 20px;
			@media(min-width: 1200px) {
				margin-bottom: 10px;
			}
			.spike {
				background: var(--brk-base-2);
			}
		}
	}
}

/*
// Helpers
// ================ */
.maxw-450 {
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
}

.maxw-770 {
	max-width: 770px;
	margin-left: auto;
	margin-right: auto;
}

.maxw-970 {
	max-width: 970px;
	margin-left: auto;
	margin-right: auto;
}

.violet-shadow {
	box-shadow: 0 3px 0 0 var(--secondary);
}

.dark-shadow {
	box-shadow: 0 6px 30px 0 rgba($black, 0.12);
}

.overflow-hid {
	overflow: hidden;
}

.z-index-high {
	position: relative;
	z-index: 50;
}

.z-index-3 {
	z-index: 3 !important;
}

.z-index-2 {
	z-index: 2 !important;
}

.z-index-1 {
	z-index: 1 !important;
}

.z-index-0 {
	z-index: 0 !important;
}

.width100 {
	width: 100%;
}

.height100 {
	height: 100%;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.overflow-hid {
	overflow: hidden;
}

@for $i from 1 through 10 {
	.opacity-#{$i}0 {
		opacity: $i * 0.1;
	}
}

.opacity-87 {
  opacity: 0.87;
}

@for $i from 0 through 5 {
	.pl-xs-#{$i*5} {
		@media screen and (max-width: 576px) {
			padding-left: $i * 5px !important;
		}
	}
}

@for $i from 0 through 5 {
	.pr-xs-#{$i*5} {
		@media screen and (max-width: 576px) {
			padding-right: $i * 5px !important;
		}
	}
}

@for $i from 0 through 10 {
	.pb-xs-#{$i*5} {
		@media screen and (max-width: 576px) {
			padding-bottom: $i * 5px !important;
		}
	}
}

@for $i from 0 through 10 {
	.pt-xs-#{$i*5} {
		@media screen and (max-width: 576px) {
			padding-top: $i * 5px !important;
		}
	}
}

@for $i from 6 through 10 {
	.pb-xs-#{$i*10} {
		@media screen and (max-width: 576px) {
			padding-bottom: $i * 10px !important;
		}
	}
}

@for $i from 6 through 10 {
	.pt-xs-#{$i*10} {
		@media screen and (max-width: 576px) {
			padding-top: $i * 10px !important;
		}
	}
}

@for $i from 0 through 5 {
	.ml-xs-#{$i*5} {
		@media screen and (max-width: 576px) {
			margin-left: $i * 5px !important;
		}
	}
}

@for $i from 0 through 5 {
	.mr-xs-#{$i*5} {
		@media screen and (max-width: 576px) {
			margin-right: $i * 5px !important;
		}
	}
}

@for $i from 0 through 5 {
	.mb-xs-#{$i*5} {
		@media screen and (max-width: 576px) {
			margin-bottom: $i * 5px !important;
		}
	}
}

@for $i from 0 through 5 {
	.mt-xs-#{$i*5} {
		@media screen and (max-width: 540px) {
			margin-top: $i * 5px !important;
		}
	}
}

@for $i from 0 through 10 {
	.ml-xl-#{$i*5} {
		@media screen and (min-width: 1230px) {
			margin-left: $i * 5px !important;
		}
	}
}

@for $i from 0 through 10 {
	.mr-xl-#{$i*5} {
		@media screen and (min-width: 1230px) {
			margin-right: $i * 5px !important;
		}
	}
}

.ml-xs-auto {
	@media screen and (max-width: 540px) {
		margin-left: auto !important;
	}
}

.mr-xs-auto {
	@media screen and (max-width: 540px) {
		margin-right: auto !important;
	}
}

.mx-xs-auto {
	@media screen and (max-width: 540px) {
		margin-right: auto !important;
		margin-left: auto !important;
	}
}

.pl-xl-110 {
	@media screen and (min-width: 991px) {
		padding-left: 110px;
	}
}

.pl-xl-80 {
	@media screen and (min-width: 991px) {
		padding-left: 80px;
	}
}

.pt-350 {
	padding-top: 350px;
}

.pt-280 {
	padding-top: 280px;
}

.pt-260 {
	padding-top: 260px;
}

.pt-250 {
	padding-top: 250px;
}

.pt-240 {
	padding-top: 240px;
}

.pt-230 {
	padding-top: 230px;
}

.pt-220 {
	padding-top: 220px;
}

.pt-200 {
	padding-top: 200px;
}

.pt-190 {
	padding-top: 190px;
}

.pt-180 {
	padding-top: 180px;
}

.pt-170{
  padding-top: 170px;
}

.pt-md-220 {
	@media screen and (min-width: 767px) {
		padding-top: -220px;
	}
}

.pt-25 {
	padding-top: 25px;
}

.pb-350 {
	padding-bottom: 350px;
}

.pb-260 {
	padding-bottom: 250px;
}

.pb-250 {
	padding-bottom: 250px;
}

.pb-240 {
	padding-bottom: 240px;
}

.pb-230 {
	padding-bottom: 230px;
}

.pb-200 {
	padding-bottom: 200px;
}

.pb-190 {
	padding-bottom: 190px;
}

.pb-180 {
	padding-bottom: 180px;
}

.pb-170 {
	padding-bottom: 170px;
}

.pr-120 {
	padding-right: 120px;
}

.pr-90 {
	padding-right: 90px;
}

.pl-90 {
	padding-left: 90px;
}

.pr-lg-70 {
	@media (min-width: 1200px) {
		padding-right: 70px;
	}
}

.pr-100 {
	padding-right: 90px;
}

.pl-100 {
	padding-left: 90px;
}

.pl-95 {
	padding-left: 90px;
}

.pl-lg-100 {
	@media screen and (min-width: 992px) {
		padding-left: 100px;
	}
}

.pr-lg-100 {
	@media screen and (min-width: 992px) {
		padding-right: 100px;
	}
}

/*
// Script styles
// ================================= */

#toTop {
	position: fixed;
	right: 20px;
	bottom: 20px;
	font-size: 0;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: $white;
	background: var(--brand-primary);
	border-radius: 50%;
	overflow: hidden;
	text-decoration: none;
	z-index: 1200;
	visibility: visible;
	opacity: 1;
	transform: scale(1);
	transition: 0.3s all ease;

	&:before {
		font-family: "Font Awesome\ 5 Free";
		content: '\f106';
		font-weight: 900;
		font-size: 26px;
	}

	&:hover, &:focus {
		color: $white;
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
		text-decoration: none;
	}

	&--active {
	}
}

@media (min-width: $screen-sm-min) {
	#toTop {
		right: 34px;
		bottom: 34px;
	}
}

/*
// Header
// ================ */
.no-wrap {
	white-space: nowrap;
}

.main-header {
	position: relative;
}

/*
// Main
// ================ */
.main-container {

}

/*
// Footer
// ================ */
/*.main-footer {

}*/

.brk-svg-pattern-container {
	position: absolute;
	width: 100%;
	overflow: hidden;
	z-index: 3;

	svg {
		position: absolute;
		width: calc(100% + 2px);
	}

	&_top {
		top: 0;

		svg {
			top: -5px;
		}
	}
	&_bottom {
		bottom: 0;

		svg {
			bottom: -5px;
		}
	}
}

.img-icon {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

.brk-wave-line {
	display: block;
	width: 100%;
	height: 7px;
	background-image: url('../../img/wave-line.png');
	background-repeat: repeat-x;
	background-color: transparent;
	border: 0;
}

.brk-wave-line-blue {
	display: block;
	width: 100%;
	height: 7px;
	background-image: url('../../img/wave-line-2.png');
	background-repeat: repeat-x;
	background-color: transparent;
	border: 0;
}

.centering-child-img img,
.centering-img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

/*shapes*/
.full__size {
	&-absolute {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		display: block;
	}
}

// global rating
.brk-rating {
	position: relative;
	width: 89px;

	&__layer {
		@include clearfix;

		i {
			display: inline-block;
			float: left;
			font-size: rem(14);
			margin: 0 1px;
		}

	}

	&__imposition {
		@include clearfix;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;

		.visible {
			width: 89px;
			height: 15px;
		}

		i {
			display: inline-block;
			float: left;
			font-size: rem(14);
			margin: 0 1px;
		}

	}

}

.center-absolute {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.brk-lightning-effect {
	position: relative;
	overflow: hidden;
	display: inline-block;

	&:before {
		content: '';
		width: 50px;
		position: absolute;
		top: 0;
		left: -50px;
		bottom: 0;
		z-index: 9;
		background: linear-gradient(to right, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, .2) 100%);
	}

	&:hover {
		&:before {
			animation: lightning-effect 2s infinite ease-in-out;
		}
	}

	@keyframes lightning-effect {
		0% {
			left: -50px;
			background: linear-gradient(to right, rgba(255, 255, 255, .2) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, .2) 100%);
		}
		50% {
			left: 100%;
		}
		100% {
			left: -50px;
			background: transparent;
		}
	}
}

.brk-bg-center-cover {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

	.container {
		z-index: 2;
		position: relative;
	}
}

.brk-bg-right-center {
	background-position: right center;
	background-repeat: no-repeat;
	background-size: contain;
}

.brk-bg-left-center {
	background-position: left center;
	background-repeat: no-repeat;
	background-size: contain;
}

/* brk-gutters-5 */
.brk-gutters-5 {
	margin-right: -5px;
	margin-left: -5px;

	> .col,
	> [class*="col-"] {
		padding-right: 5px;
		padding-left: 5px;
	}
}

/* brk-gutters-5 */

/* brk-gutters-10 */
.brk-gutters-10 {
	margin-right: -10px;
	margin-left: -10px;

	> .col,
	> [class*="col-"] {
		padding-right: 10px;
		padding-left: 10px;
	}
}

/* brk-gutters-10 */

/* brk-gutters-30 */
.brk-gutters-30 {
	margin-right: -30px;
	margin-left: -30px;

	> .col,
	> [class*="col-"] {
		padding-right: 30px;
		padding-left: 30px;
	}
}

/* brk-gutters-30 */

/*backgrounds*/
.bg {
	&-cover {
		background-size: cover;
	}

	&-contain {
		background-size: contain;
	}

	&-lg-contain {
		@media screen and (min-width: 1200px) {
			background-size: contain;
		}
	}

	&-norepeat {
		background-repeat: no-repeat;
	}

	&-repeat {
		background-repeat: repeat;
	}

	&-position {
		&_top-left {
			background-position: left top;
		}
		&_top-center {
			background-position: center top;
		}
		&_top-right {
			background-position: right top;
		}
		&_bottom-left {
			background-position: left bottom;
		}
		&_bottom-center {
			background-position: center bottom;
		}
		&_bottom-right {
			background-position: right bottom;
		}
		&_left-center {
			background-position: left center;
		}
		&_right-center {
			background-position: right center;
		}
		&_center {
			background-position: center center;
		}
	}
}

/* hexagon */
.hexagon {
	display: flex;
	justify-content: center;
	align-items: center;
	// width: 290px;
	height: 320px;
	margin: 0 auto;
	background: #fff;
	padding: 30px 30px;
	clip-path: polygon(80% 0, 100% 50%, 80% 100%, 20% 100%, 0 50%, 20% 0);
	position: relative;
	z-index: 1;
	@media(min-width: 480px) {
		width: 430px;
		height: 380px;
		padding: 30px 70px;
		clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
	}
	@media(min-width: 1200px) {
		margin: 0 auto;
	}
	&__wrap {
		@media(min-width: 992px) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		@media(min-width: 1200px) {
			margin: -180px auto;
			.hexagon {
				margin: 0;
			}
		}
	}
	> .after {
		content: '';
		position: absolute;
		top: -2px;
		left: -2px;
		width: calc(100% + 4px);
		height: calc(100% + 4px);
		background: var(--brand-primary);
		background: linear-gradient(to left, var(--brand-primary), var(--secondary));
		clip-path: polygon(80% 0, 100% 50%, 80% 100%, 20% 100%, 0 50%, 20% 0);
		opacity: 0;
		transform: scale(1);
		//will-change: transform;
		transition-property: left, right, \transform;
		transition-duration: .4s;
		z-index: -1;
		@media(min-width: 480px) {
			clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
		}
	}
	.highlight-massive > .after {
		height: 3px;
		top: 98%;
	}
	.btn {
		background: transparent;
		color: $white;
		opacity: 0;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		margin-right: 0;
		margin-left: 0;
		> .before, > .after {
			background: $white;
		}
		.border-btn {
			border-color: $white;
		}
		&:hover {
			color: $gray-dark !important;
		}
	}
	.cover {
		position: relative;
		transition: all .4s ease;
	}
}

/* brk-subscribe */
.brk-subscribe {
	position: relative;

	[type="email"] {
		border-radius: 27px;
		padding: 0 33px;
		font-size: rem(14);
		border: 0;
	}

	button,
	[type="submit"] {
		position: absolute;
		top: 0;
		right: 0;
		width: 54px;
		height: 54px;
		border-radius: 50%;

		[dir="rtl"] & {
			right: auto;
			left: 0;
		}

		i {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: rem(16);
			font-weight: 400;
			vertical-align: 0;
		}
	}
}

.brk-subscribe-map {
	[type="email"] {
		background-color: var(--white);
		box-shadow: 0 5px 16px rgba(165, 165, 165, 0.5);
		color: var(--brk-base-3);
		@include placeholder(var(--brk-base-3));
		padding: 16px 33px;
		width: 100%;
	}

	button,
	[type="submit"] {
		background-color: var(--white);
		box-shadow: 0 5px 16px rgba(0,0,0,.3);

		i {
			color: var(--brand-primary);
		}
	}
}

.brk-subscribe-solid {
	.brk-form-wrap {
		margin-top: 0;
		flex-grow: 1;
	}
	@media screen and (min-width: 992px) {
		.brk-form-strict {
			margin-left: 25px;
		}
	}
	button {
		margin-left: 0;
		padding-left: 55px;
		padding-right: 55px;

		@media screen and (min-width: 992px) {
			margin-left: 20px;
		}
		&:hover {
			background-color: rgba(256, 256, 256, .8);
		}
	}
	.brk-form-strict [type=text],
	.brk-form-strict [type=password],
	.brk-form-strict [type=email],
	.brk-form-strict [type=tel] {
		border: 1px solid rgba(256, 256, 256, .2) !important;
		color: #fff !important;
	}
	.brk-form-strict [type=text] + .input-label,
	.brk-form-strict [type=password] + .input-label,
	.brk-form-strict [type=email] + .input-label,
	.brk-form-strict [type=tel] + .input-label {
		color: #fff !important;
	}
}

/* trapezoid  */
.brk-trapezoid-left {
	clip-path: polygon(0 70px, 100% 0, 100% 100%, 0 calc(100% - 70px));
	position: relative;
	margin-top: -70px;
	margin-bottom: -70px;
	z-index: 1;
	overflow: hidden;
}


.brk-trapezoid-left-2 {
	clip-path: polygon(0 180px, 100% 0, 100% 100%, 0 calc(100% - 120px));
	margin-top: -180px;
	margin-bottom: -120px;
	@media screen and (max-width: 576px) {
		clip-path: none;
		margin-top: 0;
	}
}


.brk-left-overflow-image {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: -450px 20px;
}

.brk-bg-circle {
	position: relative;

	&::after {
		content: "";

		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-52%, -50%);

		width: calc(100% + 250px);
		padding-top: 150%;
		border-radius: 100%;
		z-index: -1;

		background-image: linear-gradient(to right, rgba(var(--brand-primary-rgb), 0.88) 0%, rgba(var(--secondary-rgb), 0.88) 100%);

		@media screen and (max-width: 576px) {
			width: 500%;
			padding-top: 500%;
			border-radius: 0;
		}
	}
}

.brk-top-triangle {
  position: relative;
  margin-top: -92px; 
  padding-top: 220px;

	&::after {
		content: '';

		position: absolute;
		left: 0;
		top: 0;

		width: 100%;
		height: 149px;

		background-color: #fff;
		z-index: 1;

		clip-path: polygon(0 0, 0 100%, 100% 0);

  }
  
  @media screen and (max-width: 991.98px){ 
    margin-top: 0;
    padding-top: 90px;
    &::after{
      clip-path: none;
      height: 0;
    }
  }
}

.brk-bottom-triangle {
	position: relative;

	&::after {
		content: '';

		position: absolute;
		left: 0;
		bottom: 0;

		width: 100%;
		height: 200px;

		background-color: #fff;
		z-index: 1;

		clip-path: polygon(100% 0, 0% 100%, 100% 100%);

	}
}

.grayscale-100 {
	filter: grayscale(100%)
}

.grayscale-50 {
	filter: grayscale(50%)
}

/* Base background-image */
.brk-bgi-1 {
	background-image: url('#{$img}/bg-patterns/1.png') !important;
}

.brk-bgi-2 {
	background-image: url('#{$img}/bg-patterns/2.png') !important;
}

.brk-bgi-3 {
	background-image: url('#{$img}/bg-patterns/3.png') !important;
}

.brk-bgi-4 {
	background-image: url('#{$img}/bg-patterns/4.png') !important;
}

.brk-bgi-5 {
	background-image: url('#{$img}/bg-patterns/5.png') !important;
}

.brk-bgi-6 {
	background-image: url('#{$img}/bg-patterns/6.png') !important;
}

.brk-bgi-7 {
	background-image: url('#{$img}/bg-patterns/7.png') !important;
}

.brk-bgi-8 {
	background-image: url('#{$img}/bg-patterns/8.png') !important;
}

.brk-bgi-9 {
	background-image: url('#{$img}/bg-patterns/9.png') !important;
}

.brk-bgi-10 {
	background-image: url('#{$img}/bg-patterns/10.png') !important;
}

.brk-bgi-11 {
	background-image: url('#{$img}/bg-patterns/11.png') !important;
}

.brk-bgi-12 {
	background-image: url('#{$img}/bg-patterns/12.png') !important;
}

.brk-bgi-13 {
	background-image: url('#{$img}/bg-patterns/13.png') !important;
}

.brk-bgi-14 {
	background-image: url('#{$img}/bg-patterns/14.png') !important;
}

.brk-bgi-15 {
	background-image: url('#{$img}/bg-patterns/15.png') !important;
}

.brk-bg-pattern {
	background-repeat: repeat !important;
	background-size: auto !important;
	background-position: 0 0 !important;
}

.brk-bg-style-1 {
	@extend %bg-style;
}

.brk-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(#001629, .4);
	z-index: 98;
}

.added_to_cart {
	display: inline-block;
	margin: 10px;
	background-color: $white;
	border-radius: 27px;
	padding: 15px 20px;
	font-size: rem(16);
	font-weight: 700;
	text-transform: uppercase;
	white-space: nowrap;
	box-shadow: 0 5px 16px rgba(var(--brand-primary-rgb), 0.5);
	color: var(--brand-primary);
}

.border-top-3 {
	border-top-width: 3px;
	border-top-style: solid;
}

.border-right-3 {
	border-right-width: 3px;
	border-right-style: solid;
}

.border-bottom-3 {
	border-bottom-width: 3px;
	border-bottom-style: solid;
}

.border-left-3 {
	border-left-width: 3px;
	border-left-style: solid;
}

.pseudo-border-bottom-3 {
	position: relative;
	&:after {
		content: '';

		position: absolute;
		bottom: 0;
		left: 0;

		height: 3px;
		width: 100%;

	}
}

.brk-abs-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.brk-abs-bg-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.brk-abs-img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: -2;
}

/* alignment blocks */
.brk-align-left {
	margin-right: auto;
}

.brk-align-right {
	margin-left: auto;
}

.brk-align-center {
	margin-left: auto;
	margin-right: auto;
}

/* alignment blocks */

/* positioning */
.position-sm-absolute {
	@media screen and (min-width: 576px) {
		position: absolute !important;
	}
}

.position-sm-relative {
	@media screen and (min-width: 576px) {
		position: relative !important;
	}
}

.position-sm-static {
	@media screen and (min-width: 576px) {
		position: static !important;
	}
}

.position-md-absolute {
	@media screen and (min-width: 768px) {
		position: absolute !important;
	}
}

.position-md-relative {
	@media screen and (min-width: 768px) {
		position: relative !important;
	}
}

.position-md-static {
	@media screen and (min-width: 768px) {
		position: static !important;
	}
}

.position-lg-absolute {
	@media screen and (min-width: 992px) {
		position: absolute !important;
	}
}

.position-lg-relative {
	@media screen and (min-width: 992px) {
		position: relative !important;
	}
}

.position-lg-static {
	@media screen and (min-width: 992px) {
		position: static !important;
	}
}

.position-xl-absolute {
	@media screen and (min-width: 1200px) {
		position: absolute !important;
	}
}

.position-xl-relative {
	@media screen and (min-width: 1200px) {
		position: relative !important;
	}
}

.position-xl-static {
	@media screen and (min-width: 1200px) {
		position: static !important;
	}
}

/* positioning */

/* z-index */
@for $i from 0 through 5 {
	.brk-z-index-#{$i*10} {
		z-index: #{$i*10};
	}
}

@for $i from 1 through 5 {
	.brk-z-index--#{$i} {
		z-index: -#{$i};
	}
}

/* z-index */

/* brk-before/after-element */
.brk-before-element,
.brk-after-element {
	position: absolute;
	left: 0;
	right: 0;

	svg {
		max-width: 100%;
	}

	&-svg {
		position: absolute;
		left: 0;
		right: 0;
		max-width: 100%;
	}

	&_bevel-right {
		overflow: hidden;
		height: 80px;
		background: #fff;

		@media (max-width: 991px) {
			display: none;
		}
	}
}

.brk-before-element {
	top: 0;

	svg {
		margin-top: -1px;
	}

	&-svg {
		top: -1px;
	}

	&_bevel-right {
		-webkit-clip-path: polygon(0 0, 100% 100%, 100% 0);
		clip-path: polygon(0 0, 100% 100%, 100% 0);
	}
}

.brk-after-element {
	bottom: 0;

	svg {
		margin-bottom: -1px;
	}

	&-svg {
		bottom: -1px;
	}

	&_bevel-right {
		-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0);
		clip-path: polygon(0 100%, 100% 100%, 100% 0);
	}
}

/* brk-before/after-element */

/* brk-layer */
.brk-layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}

/* brk-layer */

.brk-dashed-divider {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	background-image: url('../../img/dashed-divider.svg');
	background-repeat: repeat-x;
	border: 0;
}

.brk-text-fill {
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.brk-text-clip {
	-webkit-background-clip: text;
}

.parallax-bg {
	position: relative;
	background-attachment: fixed;
	background-size: cover;
	will-change: background-position;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.w-50 {
	width: 50%;
}

.w-40 {
	width: 40%;
}

.brk-fa-replace {
	&:before {
		content: '' !important;
		display: none;
	}

	svg {
		width: 14px;
		height: 14px;

	}
}