@import "variables";
@import "mixins";

/*
* Type styles
* ================ */
#{headings()} {
	vertical-align: baseline;
	display: block;
	color: #292B2C;
	font-weight: 400;

	a:focus, a:hover {
		color: var(--brand-primary);
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 40px;
	line-height: 1.1;
	@media (min-width: $screen-sm-min) {
		font-size: 56px;
	}
}

h2, .h2 {
	font-size: 35px;
	line-height: 1.1;
	@media (min-width: $screen-sm-min) {
		font-size: 42px;
	}
}

h3, .h3 {
	font-size: 30px;
	line-height: 1.1;
	@media (min-width: $screen-sm-min) {
		font-size: 36px;
	}
}

h4, .h4 {
	font-size: 24px;
	line-height: 1.1;
}

h5, .h5 {
	font-size: 18px;
	line-height: 1.1;
}

h6, .h6 {
	font-size: 15px;
	line-height: 1.1;
}



