.brk-forum-author-card{box-shadow:0 5px 14px rgba(0,0,0,.1);background-color:#fff;position:relative}.brk-forum-author-card__img-container{width:140px;height:140px;border-radius:100%;box-shadow:0 0 0 1px #ececec;border:3px solid #fff;position:absolute;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);top:-80px;overflow:hidden}.brk-forum-author-card__img{position:absolute;left:0;top:0;width:100%;height:100%;-o-object-fit:cover;object-fit:cover;-o-object-position:center;object-position:center}.brk-forum-author-card__about{box-shadow:inset 0 2px 8px rgba(0,0,0,.03);background-color:#fbfbfb}
/*# sourceMappingURL=maps/forum-author.css.map */
