@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";
.brk-forum-list {
	display: flex;
	flex-direction: column;
	margin-bottom: 70px;
	&__header {
		position: relative;
		padding: 22px 20px 22px 30px;
		box-shadow: -1px 1px 6px rgba(0, 0, 0, 0.24);
		z-index: 1;
		.brk-forum-users {
			position: absolute;
			right: 30px;
			top: 35px;
			z-index: 1;
			@media screen and (max-width: 576px) {
				right: 10px;
				top: 45px;

				[dir="rtl"] & {
					right: 0;
					left: 10px;
				}
			}

			[dir="rtl"] & {
				right: auto;
				left: 30px;
			}
		}
	}
	&__body {
		position: relative;
		box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
		background-color: $white;
		.btn {
			position: absolute;
			left: 50%;
			bottom: 0;
			transform: translate(-50%, 50%);
			margin: 0;
			box-shadow: 0 5px 16px rgba(var(--brand-primary-rgb), 0.5);
		}
		.brk-forum-preview:last-of-type {
			padding: 29px 20px 47px 29px;
		}
	}
}

.brk-forum-users {
	&__link {
		width: 50px;
		height: 50px;
		overflow: hidden;
		position: relative;
		border-radius: 100%;
		display: block;
		float: right;
		box-shadow: -1px 2px 6px 0px rgba(0, 0, 0, 0.24);

		[dir="rtl"] & {
			float: left;
		}

		&:nth-child(1) {
			right: 0;
			z-index: 4;

			[dir="rtl"] & {
				right: auto;
				left: 0;
			}
		}
		&:nth-child(2) {
			right: -10px;
			z-index: 3;

			[dir="rtl"] & {
				right: auto;
				left: -10px;
			}
		}
		&:nth-child(3) {
			right: -20px;
			z-index: 2;

			[dir="rtl"] & {
				right: auto;
				left: -20px;
			}
		}
		&:nth-child(4) {
			right: -30px;
			z-index: 1;

			[dir="rtl"] & {
				right: auto;
				left: -30px;
			}
		}
		&:hover{
			.brk-forum-users__icon,
			.brk-forum-users__overlay{
				opacity: 1;
				
			}
		}
	}
	&__img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
	&__overlay {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: .3s ease opacity;
		z-index: 1;
	}
	&__icon {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		transition: .3s ease opacity;
		z-index: 2;
	}
	
}

.brk-forum-preview {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 40px 20px 30px 29px;
	background-color: transparent;
	position: relative;
	border-image: url('../../img/dashed-border.png') 0 0 2 388 repeat;
	border-bottom: 1px solid;
	transition: .3s border ease;
	&:last-of-type {
		border-bottom: none;
	}
	&__title {
		position: relative;
		bottom: -4px;
	}
	&__user-link {
		width: 50px;
		height: 50px;
		overflow: hidden;
		position: relative;
		border-radius: 100%;
		flex-shrink: 0;
		margin-right: 25px;
		&:hover{
			.brk-forum-preview__user-icon,
			.brk-forum-preview__user-overlay{
				opacity: 1;
			}
		}
	}
	&__user-img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
    object-position: center;
    border-radius: 100%;
	}
	&__user-overlay {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: .3s ease opacity;
		z-index: 1;
	}
	&__user-icon {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		opacity: 0;
		transition: .3s ease opacity;
		z-index: 2;
	}
	&__body {
		display: flex;
		flex-direction: column;
	}
	&__info {
		display: flex;
    flex-wrap: wrap;
    i{
      vertical-align: middle;
    }
		@media screen and (max-width: 576px) {
			>span {
				width: 100%;
			}
		}
	}
	&__name{
		align-self: flex-start;
		display: flex;
		padding: 7px 15px 7px 17px;
		border-radius: 20px;
		margin-left: -3px;
		margin-bottom: 11px;
		box-shadow: 0 5px 16px rgba(var(--brand-primary-rgb), 0.5);
	}
	&__comment-count,
	&__like-count {
		margin-left: 5px;

		[dir="rtl"] & {
			margin-left: 0;
			margin-right: 5px;
		}
	}
	.brk-circled-category {
		margin-left: 5px;

		[dir="rtl"] & {
			margin-left: 0;
			margin-right: 5px;
		}
		@media screen and (max-width: 576px) {
			margin-left: 0 !important;

			[dir="rtl"] & {
				margin-right: 0 !important;
			}
		}
	}
	&__private {
		position: relative;
		margin-left: auto;
		z-index: 2;
		@media screen and (max-width: 768px) {
			position: absolute;
			top: 26px;
			right: 0;
		}
	}
	&__private-lock {
		width: 36px;
		height: 36px;
		align-items: center;
		justify-content: center;
		display: flex;
		background-color: $dark-gray; 
		border-radius: 100%;
	}
	&__private-hover {
		position: absolute;
		top: 4px;
		right: 1px;
		max-width: 30px;
		overflow: hidden;
		height: calc(100% - 8px);
		padding: 2px 0 0 0;
		z-index: -1;
		border-radius: 20px;
		transition: max-width .3s ease, padding .3s ease;
		@media (max-width: 575px) {
			max-width: 150px;
			padding-right: 47px;
			padding-left: 23px;
			box-shadow: 0 5px 16px rgba(var(--brand-primary-rgb), 0.5);
		}
	}
	&_wide {
		padding: 26px 0 29px 0;
		.brk-forum-preview__user-link {
			width: 64px;
			height: 64px;
			z-index: 2;
		}
		.brk-forum-preview__body {
			z-index: 2;
		}
		&::after {
			position: absolute;
			content: '';
			left: -30px;
			top: -1px;
			width: calc(100% + 59px);
			height: calc(100% + 2px);
			border: 2px solid transparent;
			box-shadow: inset 0 -5px 20px rgba(0, 0, 0, 0);
			z-index: 1;
			transition: border .3s ease, box-shadow .3s ease;
			@media screen and (max-width: 576px) {
				display: none;
			}
		}
		&:hover {
			background-color: $gray;
			&::after {	
				box-shadow: inset 0 -5px 20px rgba(0, 0, 0, 0.04);
				background-image: linear-gradient(to right, $gray 0, 
								$gray 30px, transparent 31px, 
								transparent calc(100% - 31px), 
								$gray calc(100% - 30px), 
								$gray 100%);
				border: 2px solid var(--brand-primary);
			}
			border-bottom-color: transparent;
			.brk-forum-preview__user-overlay,
			.brk-forum-preview__user-icon {
				opacity: 1
			}
		}
	}
	&:hover {
		.brk-forum-preview__private-hover {
			max-width: 150px;
			padding-right: 47px;
			padding-left: 23px;
			box-shadow: 0 5px 16px rgba(var(--brand-primary-rgb), 0.5);
		}
	}
	&_post-header{
		padding: 31px 0 30px 0 ;
		.brk-forum-preview{
			&__user-link{
				width: 64px;
				height: 64px;
				margin-right: 23px;
				margin-top: -7px;
				border: 2px solid var(--brand-primary);

				[dir="rtl"] & {
					margin-right: 0;
					margin-left: 23px;
				}
			}
			&__user-img{
				left: 3px;
				top: 3px;
				width: calc(100% - 6px);
				height: calc( 100% - 6px)
			}
			&__private{
				margin-top: -5px;
				@media screen and (max-width:576px) {
					top: 70px;
				}
			}
			&__name{
				@media screen and (max-width:576px) {
					position: absolute;
					right: 0;
					top: 30px;
				}
			}
			&__body{
				@media screen and (max-width:576px) {
					margin-top: 15px;
				}
			}
		}
		.brk-forum-preview__private-hover {
			max-width: 150px;
			padding-right: 47px;
			padding-left: 23px;
			box-shadow: 0 5px 16px rgba(var(--brand-primary-rgb), 0.5);
		}
	}
}

.brk-form-iconed {
	position: relative;
	&__icon {
		position: absolute;
		right: 8px;
		bottom: 16px;
		z-index: -1;
	}
}

.brk-circled-category {
	display: flex;
	align-items: center;
	&__circle {
		width: 20px;
		height: 20px;
		box-shadow: inset 0 0 0 3px $white;
		border: 1px solid #ececec;
		position: relative;
		flex-shrink: 0;
		border-radius: 100%;
		margin-right: 7px;
	}
	&__circle-bg {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: calc(100% - 6px);
		height: calc(100% - 6px);
		border-radius: 100%;
	}
	&:hover {
		.brk-circled-category__circle-bg {
			animation: category .4s;
		}
	}
}

.alert_forum{
  padding: 17px 20px 16px 29px;
  .close{
    padding: 1rem 1.25rem;
  }
} 

.brk-forum-user-alert{
  display: inline-block;
  width: 24px;
  height: 24px;
  box-shadow: inset 0 0 0 3px #ffffff;
  border: 1px solid #ececec;
  border-radius: 100%;
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  &__img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.brk-forum-redactor {
  &__tags{
    position: relative;
    input{
      padding-left: 95px !important;
    }
  }
  &__tags-text{
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  &__topic-type-text,
  &__topic-satus-text{
    position: absolute;
    left: 13px;
    bottom: 14px;
    z-index: 1;
  }
  &__topic-type{
    position: relative;
    .jq-selectbox__select-text{
      padding-left: 90px !important;
      color: #000;
    }
  }
  &__topic-status{
    position: relative;
    .jq-selectbox__select-text{
      padding-left: 100px !important;
      color: #000;
    }
  }
  &__footer {
    .brk-form-checkbox {
      margin-top: 0;
    }
    .brk-form-checkbox-label {
      margin-top: 0;
    }
    .btn {
      margin: auto 0 0 auto;
    }
  }
}


@keyframes category {
	0% {
		width: calc(100% - 6px);
		height: calc(100% - 6px);
	}
	40% {
		width: calc(100% - 2px);
		height: calc(100% - 2px);
	}
	75% {
		width: calc(100% - 12px);
		height: calc(100% - 12px);
	}
	100% {
		width: calc(100% - 6px);
		height: calc(100% - 6px);
	}
}