@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

figure {
	display: inline-block;
	position: relative;
	z-index: 1;
	width: 100%;
	max-width: 400px;
	height: 430px;
	margin-bottom: 30px;
	box-shadow: 0 6px 30px 0 rgba($black, 0.12);
	.text-gray {
		color: #9f9f9f !important;
	}
	> img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	figcaption {
		p {
			margin-top: 20px;
			color: #9f9f9f !important;
			line-height: 21px;
		}
		.btn {
			margin-top: 35px;
		}
	}
}

.shape-box__wrapper-inline {
	figcaption .livicon-evo {
		position: absolute;
		top: 54px;
		left: 50%;
		transform: translate(-50%, 0);
		~ .main-title {
			transform: translateY(-20px);
		}
	}
	> .after {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(var(--brand-primary-rgb), 0.94);
		background: linear-gradient(to top, var(--brand-primary), var(--brk-base-2));
		opacity: 0 !important;
		transition: all .4s ease;
	}
	figcaption {
		position: absolute;
		top: 10px;
		left: 10px;
		right: 10px;
		bottom: 10px;
		padding: 54px 25px 35px;
		z-index: 2;
		overflow: hidden;
		text-align: center;
		> * {
			opacity: 0 !important;
			transition: all .4s ease;
		}
		.main-title {
			transform: translateY(-40px);
			opacity: 1 !important;
		}
		&:after {
			content: '';
			position: absolute;
			top: -100vh;
			left: 0;
			right: 0;
			bottom: 78%;
			transform: skewY(-27deg);
			transform-origin: top right;
			transition: all .4s ease;
			background: $white;
			z-index: -1;
		}
		.btn {
			margin: 30px 0 0;
			min-width: 0;
			width: 100%;
			box-shadow: 0 5px 20px 0 rgba(var(--brand-primary-rgb), 0.4);
		}
		.icon {
			max-height: 0px;
			font-size: 60px;
			path {
				stroke: var(--brand-primary);
			}
			overflow: hidden;
		}
	}
	&:hover {
		> .after {
			opacity: 0.94 !important;
		}
		figcaption {
			.icon {
				max-height: 80px;
				overflow: visible;
				margin-bottom: 20px;
			}
			.main-title {
				transform: translateY(0px);
			}
			.livicon-evo ~ .main-title {
				margin-top: 90px;
			}
			> * {
				opacity: 1 !important;
			}
			&:after {
				bottom: 0;
			}
		}
	}
}

.shape-box__wrapper-wave {
	> .before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(var(--brand-primary-rgb), 0.94);
		background: linear-gradient(to top, var(--brand-primary), var(--secondary));
		opacity: 0 !important;
		transition: all .4s ease;
	}
	figcaption .livicon-evo {
		position: absolute;
		top: 54px;
		left: 50%;
		transform: translate(-50%, 0);
		~ .main-title {
			transform: translateY(-20px);
		}
	}
	figcaption {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 45px 15px 35px;
		z-index: 2;
		overflow: hidden;
		> .wave-circle-1 {
			position: absolute;
			top: 30px;
			left: 10px;
			width: 120px;
			height: 80px;
			background: var(--brand-primary);
			border-radius: 50%;
			z-index: -1;
			opacity: 1 !important;
		}
		> .wave-circle-2 {
			position: absolute;
			top: 30px;
			right: -50px;
			width: 120px;
			height: 80px;
			background: var(--secondary);
			border-radius: 50%;
			z-index: -2;
			opacity: 1 !important;
		}
		> * {
			opacity: 0 !important;
			transition: all .4s ease;
		}
		.main-title {
			transform: translateY(-40px);
			opacity: 1 !important;
		}
		> .after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 80%;
			transition: all .4s ease;
			background: $white;
			opacity: 1 !important;
      z-index: -1;
      
      svg{
        position: absolute;
        left: 0;
        width: 100%;
        bottom: -28px;
        @media screen and (max-width: 1230px){ 
          bottom: -40px;
        }
      }
		}
		.btn {
			margin: 30px 0 0;
			position: absolute;
			left: 50%;
			bottom: 30px;
			transform: translateX(-50%);
			min-width: 180px;
			> .before, > .after {
				background: $white;
				color: var(--brand-primary);
			}
		}
		.icon {
			max-height: 0;
			font-size: 60px;
			overflow: hidden;
			path {
				stroke: var(--brand-primary);
			}
		}
	}
	&:hover {
		> .before {
			opacity: 0.8 !important;
		}
		figcaption {
			.icon {
				max-height: 80px;
				overflow: visible;
				margin-bottom: 35px;
			}
			.main-title {
				transform: translateY(0px);
			}
			.livicon-evo ~ .main-title {
				margin-top: 90px;
			}
			> * {
				opacity: 1 !important;
			}
			> .after {
				bottom: 140px;
			}
		}
	}
}

.shape-box__wrapper-stripe {
	overflow: hidden;
	border-bottom: 2px solid var(--brand-primary);
	> .after {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 155px;
		background: var(--secondary);
		transform: skewY(-19deg);
		transform-origin: top right;
		transition: all .4s ease;
	}
	&:before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 155px;
		transform: skewY(19deg);
		transform-origin: top left;
		transition: all .4s ease;
		background: $white;
		z-index: 1;
	}
	.icon, .livicon-evo {
		overflow: hidden;
		position: absolute;
		top: 10%;
		left: 50%;
		height: 90px;
		transition: all .4s ease;
		transform: translate(-50%, 0);
		opacity: 0 !important;
		z-index: 10;
		path {
			stroke: $white;
		}
	}
	.btn {
		margin: 25px 0 0;
		min-width: 0;
		width: 100%;
		box-shadow: 0 5px 20px 0 rgba(var(--brand-primary-rgb), 0.4);
	}
	figcaption {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0 30px 30px;
		transition: all .4s ease;
		transform: translateY(100%);
		z-index: 3;
		h4 {
			margin-top: 8px;
		}
		.show-cont {
			position: absolute;
			bottom: calc(100% + 30px);
			left: 30px;
			right: 30px;
			transition: all .4s ease;
		}
	}
	&:hover {
		.icon, .livicon-evo {
			opacity: 1 !important;
		}
		figcaption {
			transform: translateY(0);
			.show-cont {
				bottom: 100%;
			}
		}
		&:before {
			transform: skewY(0deg);
			height: 60%;
		}
		> .after {
			height: 100%;
			opacity: 0.8;
			transform: skewY(0deg);
		}
	}
}

.shape-box__wrapper-shape {
	overflow: hidden;
	border-bottom: 3px solid var(--brand-primary);
	.livicon-evo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.curve {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		path {
			fill: $white;
		}
	}
	&:before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 90px;
		transition: all .4s ease;
		background: $white;
		z-index: 1;
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: $white;
		transform-origin: top left;
		transform: rotate(90deg);
		transition: all .4s ease;
	}
	.icon {
		font-size: 50px;
		transition: all .4s ease;
		position: absolute;
		top: 60px;
		left: 50%;
		transform: translate(-50%, 0);
		opacity: 0 !important;
		z-index: 10;
		svg {
			height: 75px;
		}
		path {
			stroke: $white;
		}
		> .after {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 140px;
			height: 140px;
			transform: translate(-50%, -50%);
			background: linear-gradient(to right, var(--brand-primary), var(--secondary));
			border-radius: 50%;
			z-index: -1;
		}
	}
	.btn {
		margin: 25px 0 0;
		min-width: 0;
		width: 100%;
		box-shadow: 0 5px 20px 0 rgba(var(--brand-primary-rgb), 0.4);
	}
	figcaption {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0 30px 30px;
		transition: all .4s ease;
		transform: translateY(100%);
		z-index: 3;
		h4 {
			margin-top: 8px;
		}
		.show-cont {
			position: absolute;
			bottom: calc(100% + 30px);
			left: 30px;
			right: 30px;
			transition: all .4s ease;
		}
	}
	&:hover {
		.icon {
			opacity: 1 !important;
		}
		figcaption {
			transform: translateY(0);
			.show-cont {
				bottom: 100%;
			}
		}
		&:after {
			transform: rotate(0);
		}
	}
}

.shape-box__wrapper-half {
	overflow: hidden;
	text-align: left;
	> .after {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(var(--secondary-rgb), 0.8);
		opacity: 0 !important;
		transition: all .4s ease;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		transform: skewY(58deg);
		transform-origin: top left;
		transition: all .4s ease;
		background: $white;
		z-index: 1;
	}
	.btn {
		margin: 25px 0 0;
		min-width: 0;
		width: 100%;
		box-shadow: 0 5px 20px 0 rgba(var(--brand-primary-rgb), 0.4);
	}
	figcaption {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0 30px 30px;
		transition: all .4s ease;
		transform: translateY(100%);
		z-index: 3;
		h4 {
			margin-top: 8px;
		}
		.show-cont {
			position: absolute;
			bottom: calc(100% + 30px);
			left: 30px;
			right: 30px;
			transition: all .4s ease;
		}
	}
	&:hover {
		figcaption {
			transform: translateY(0);
			.show-cont {
				bottom: 100%;
			}
		}
		&:before {
			transform: skewY(20deg);
		}
		> .after {
			opacity: 1 !important;
		}
	}
}

.shape-box__wrapper-triangle {
	&.shape-invert figcaption {
		&:before {
			transform-origin: bottom right;
			transform: skewY(-12deg);
		}
		&:after {
			transform-origin: bottom right;
			transform: skewY(12deg);
		}
	}
	> .after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(to top, var(--brand-primary), var(--secondary));
		opacity: 0.7 !important;
	}
	figcaption {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		padding: 0 30px;
		top: 60px;
		left: 0;
		right: 0;
		bottom: 60px;
		background: $white;
		z-index: 2;
		.show-cont {
			transition: all .4s ease;
		}
		&:before {
			content: '';
			position: absolute;
			top: -60px;
			left: 0;
			right: 0;
			height: 60px;
			background: $white;
			transform-origin: top left;
			transform: skewY(12deg);
			transition: all .4s ease;
			z-index: -1;
		}
		&:after {
			content: '';
			position: absolute;
			bottom: -60px;
			left: 0;
			right: 0;
			height: 60px;
			background: $white;
			transform-origin: top left;
			transform: skewY(-12deg);
			transition: all .4s ease;
			z-index: -1;
		}
		.btn {
			margin-top: 30px;
			min-width: 0;
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			box-shadow: 0 5px 20px 0 rgba(var(--brand-primary-rgb), 0.4);
		}
		.icon, .livicon-evo {
			font-size: 50px;
			height: 80px;
			overflow: hidden;
			transition: all .4s ease;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);
			opacity: 0 !important;
			path {
				stroke: var(--brand-primary);
			}
		}
	}
	&:hover {
		figcaption {
			.icon, .livicon-evo {
				opacity: 1 !important;
			}
			.show-cont {
				transform: translateY(70px);
			}
			&:after, &:before {
				transform: skewY(0deg);
			}
		}
	}
}