@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.brk-sc-long-label{
  padding: 7px 15px 8px 17px;
  flex-shrink: 0;
  height: 28px;
  white-space: nowrap;
  margin-left: 10px;
  border-radius: 15px;
  margin-top: 7px;
  box-shadow: 0 5px 16px rgba(130, 180, 64, 0.5);
  background-color: #81bb35;

  i{
    color: #fff;
    font-size: 14px;
    margin-right: 4px;
    
  }
}
.brk-sc-item-page-header {
  position: relative;
  @media screen and (max-width: 992px){ 
    display: flex;
    flex-direction: column;
  }
  &__carousel {
    position: absolute;
    width: 100%;
    @media screen and (max-width: 992px){ 
      position: relative;
    }
  }
  &__carousel-labels{
    position: absolute;
    right: -22px;
    top: 28px;
    z-index: 2;
    .brk-sc-card-labels{
      position: relative;
      &:nth-child(2){
        top: -17px;
      }
    }
    @media screen and (max-width: 768px){ 
      right: 0;
    }
  }
  &__carousel-items{
    z-index: 1;
  }
  &__info {
    position: relative;
    padding-top: 75px;
    padding-bottom: 151px;
    overflow: hidden;
    @media screen and (max-width:1230px){ 
      padding-bottom: 70px;
      order: -1;
    }
    @media screen and (max-width: 992px){ 
      padding-top: 40px;
      padding-bottom: 100px;
    }
  }
  &__info-main{
    @media screen and (min-width:991px){ 
      padding-left: 70px;
    } 
  }
  &__info-secondary{
    position: relative;
    top: -36px;
    @media screen and (min-width:992px){ 
      padding-left: 70px;
    }
    @media screen and (max-width:992px){ 
      top: 0;
      padding-top: 80px;
    }
  }
  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
                    40deg,
                    rgba(var(--brand-primary-rgb), 0.92) 15%,
                    rgba(var(--secondary-rgb), 0.92) 75%);
  }
  &__svg{
    position: absolute;
    bottom: -2px;
    left: 1px;
    width: 1920px; 
  }
  &__tags{
    .brk-sc-tags__item{
      color: rgba($white, .5);
      transition: .3s ease color;
      &:after{
        background-color: rgba($white, .5);
        border-radius: 100%;
      }
      &:hover{
        color: rgba($white, 1);
      }
    }
  }
  &__price-container{
    display: flex;
    flex-direction: column;
    min-height: 87px;
  }
  &__old-price{
    text-decoration: line-through;
  }
  &__color-filter{
    .brk-color-filter__title{
      text-align: left !important;
      margin-right: 10px;
      margin-bottom: 19px;
    }
    &:before{
      display: none;
    }
    .brk-color-filter__title-text{
      padding-left: 0;
      padding-right: 0;
      background-color: transparent;
    }
    .brk-color-filter__item{
      background-color: transparent;
      border: 1px solid rgba(256,256,256,0.1);
      &:first-child{
        margin-left: 0;
      }
    }
    .brk-color-filter__item-bg{
      width: 16px;
      height: 16px;
      border-radius: 0;
      left: 3px;
      top: 3px;
    }
  }
  &__rating{
    i{
      color: #fff;
    }
  }
  &__btn{
    margin: 0;
    padding: 15px 44px;
    box-shadow: none;
    .border-btn{
      border: 0;
    }
  }
  &__btn-container{
    margin-bottom: 68px;
  }
  svg{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
  }
  .arrows-modern .slick-arrow {
    background-color: transparent;
  }
  .slider-thumbnailed {
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  }
  .slider-thumbnailed-nav {
    max-width: 340px;
    border-radius: 10px;
    box-shadow: 0px -10px 15px 0px rgba(0, 0, 0, .06);
    .brk-slid {
      &__overlay {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
      &__img,
      &__overlay {
        border-radius: 5px;
      }
    }
  }
  .brk-slid__img{ 
    object-position: center top;
  }
}
.brk-sc-item-page-section-1{
  overflow: hidden;
  &__info{
    padding-bottom: 970px;
    padding-top: 80px;
  }
  &__cfa{
    border-radius: 0;
    box-shadow: none;
  }
  &__img-container{
    display: flex;
    height: 100%;
    position: relative;
    @media screen and (max-width: 1230px){ 
      width: 750px;
      opacity: 0.1;
    }
  }
  &__img{
    position: absolute;
    left: 64px;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left top;
    @media screen and (max-width:1230px){ 
      left: 0;
      object-position: center top;
    }
  }
}
.brk-sc-item-page-section-2{
  position: relative;
  top: -1090px;
  margin-bottom: -1067px;
  overflow: hidden;
  z-index: 1;
  padding-top: 96px;
  &__info{
    padding-top: 570px;
    padding-bottom: 463px;
  }
  &__img-container{
    position: relative;
    height: 100%;
    @media screen and (max-width: 1230px){ 
      width: 750px;
      left: -550px;
      opacity: 0.1;
    }

  }
  &__img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center left;
    @media screen and (max-width:1230px){ 
      object-position: center top;
    }
  }
  &__svg-container{
    position: absolute;
    bottom: -5px;
    left: 0;   
  }
  &__svg-bg{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    svg{
      stroke: #f2fcff;
    }
  }
  &__balls{
    .brk-radial-ball{
      border-radius: 100%;
      z-index: 5;
      position: absolute;
      transform: translateY(0);
      animation: ballTransform 5s linear  infinite;
      @media screen and (max-width:1230px){ 
        display: none;
      }
      &:nth-child(1){
        width: 202px;
        height: 202px;
        background-color: #000000;
        left: 238px;
        top: 332px;
        animation-delay: -4s;
        background-image: radial-gradient(
                        circle 152px at 29.68% 18.59%,
                        var(--brk-base-5) 0%,
                        var(--brk-base-2) 100%);
      }
      &:nth-child(2){
        width: 170px;
        height: 170px;
        background-color: #000000;
        top: 706px;
        right:119px;
        animation-delay: -3s;
        background-image: radial-gradient(
                        circle 128px at 22.5% 35.93%,
                        var(--brk-base-2) 0%,
                        var(--brand-primary) 100%);
      }
      &:nth-child(3){
        width: 134px;
        height: 134px;
        background-color: #000000;
        bottom: 357px;
        left: -67px;
        background-image: radial-gradient(
                        circle 101px at 28.38% 38.86%,
                        var(--brand-primary) 0%,
                        var(--brk-base-8) 100%);
      }
    }
  }
}

@keyframes ballTransform {
  0%   {transform: translateY(0)}
  25%  {transform: translateY(-15px)}
  50%  {transform: translateY(0)}
  75%  {transform: translateY(15px)}
  100% {transform: translateY(0)}
}

.mt--140{
  margin-top: -140px;
}

.brk-sc-item-page-tabs{
  z-index: 1;
  margin-top: -63px;
  .brk-tabs-nav{
    z-index: 1;
    @media screen and (max-width:1230px){ 
      min-width: 200px !important;
    }
  }
  &__title{
    position: relative;
    padding-right: 32px;
    padding-left: 25px;
    margin-bottom: 39px;
    &:after{
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 3px;
      height: 42px;
      background-image: linear-gradient(
                      to top,
                      var(--brk-base-2) 0%,
                      var(--brk-base-5) 100%);
    }
    @media screen and (max-width:1230px){ 
      padding-left: 0;
    }
  }
  .brk-tab-item{
    margin-top: -68px;
    padding-left: 17px;
    @media screen and (max-width:1230px){ 
      margin-top: 0;
    }
    @media screen and (max-width:767px){ 
      padding-left: 0;
    }
  }
  .brk-tab{
    &.active,
    &:hover{
      color: #000000 !important;
    }
  }
}

.brk-sc-item-page-body{
  &__cfa{
    margin-bottom: 244px;
  }
  &__bg{
    position: relative;
    box-shadow: inset 0 5px 26px rgba(0, 0, 0, 0.03);
    background-color: #f9f9f9;
  }
  &__bg-img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .brk-sc-bonus{
    top: -109px;
    margin-bottom: -62px;
  }
  .brk-tabs_rounded {
    position: relative;
    z-index: 1;
    margin-top: -58px;
    
  }
}

.app-img-caption{
  margin-bottom: -100px;
}