.brk-portfolio-galleries{
  background-color: #e9e9e9;
  border-left: 10px solid #e9e9e9;
  border-right: 10px solid #e9e9e9;
  border-top: 5px solid #e9e9e9;
  border-bottom: 5px solid #e9e9e9;

  &__card{
    position: relative;
    z-index: 1;
    margin-top: 5px;
    margin-bottom: 5px;

    overflow: hidden;

    min-height: 300px;
    
    &::after{
      content: "";
      display: block;
      padding-top: 65%;
    }
  }

  &__label{
    position: absolute;
    top: 10px;
    left: 10px;

    height: calc(100% - 20px);
    max-width: calc(100% - 20px);
    
    background-color: #fff;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    transform: translateX(-120%);
    transition: .3s ease-in-out transform;

  }
  
  &__card:hover{
    .brk-portfolio-galleries__label{
      transform: translateX(0)
    }
  }
}