@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.brk-tiles {

  // Full
  &-full {
    position: relative;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 280px;

    text-align: center;

    &:hover {
      .brk-tiles-full__thumb {
        &:before {
          opacity: 1;
        }
      }

      .brk-tiles-full__content {
        box-shadow: 0 6px 30px rgba(var(--brand-primary-rgb), 0.6);

        &:before {
          border-right-color: var(--brand-primary);
          border-left-color: var(--brk-base-2);

          @media (max-width: 767px) {
            border-right-color: transparent;
            border-left-color: transparent;
            border-bottom-color: var(--brk-base-2);
          }
        }

        &:after {
          opacity: 1;
        }

        h4,
        p {
          color: var(--white);
        }

        h4 {
          &:before {
            background-color: var(--white);
          }
        }

        .brk-tiles-full__link {
          border: 2px solid var(--white);
        }

      }
    }


    // Left //
    &_left {
      .brk-tiles-full__thumb {
        @media (min-width: 768px) {
          order: 2;
        }
      }
      .brk-tiles-full__content {
        @media (min-width: 768px) {
          order: 1;
        }

        &:before {
          left: auto;
          right: -16px;
          border-right: 0 solid transparent;
          border-left: 16px solid var(--white);

          @media (max-width: 767px) {
            top: -16px;
            left: 50%;
            right: auto;
            transform: translateX(-50%);
            border-right: 16px solid transparent;
            border-left: 16px solid transparent;
            border-top: 0;
            border-bottom: 16px solid var(--white);
          }
        }
      }
    }
    // End Left //


    &__thumb,
    &__content {
      flex-basis: 100%;
      max-width: 100%;

      @media (min-width: 768px) {
        flex-basis: 50%;
        max-width: 50%;
      }
    }

    &__thumb {
      background: no-repeat center center;
      background-size: cover;
      position: relative;
      min-height: 250px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all .3s ease-in-out;
        z-index: 1;
        background-color: rgba(var(--brk-base-2-rgb), 0.2);
      }

    }

    &__content {
      padding: 40px 0 20px;
      position: relative;

      &-layer {
        position: relative;
        z-index: 2;
      }

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: -16px;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        transition: all .4s ease-in-out;
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        z-index: 9;
        border-right: 16px solid var(--white);

        @media (max-width: 767px) {
          top: -16px;
          left: 50%;
          transform: translateX(-50%);
          border-right: 16px solid transparent;
          border-left: 16px solid transparent;
          border-bottom: 16px solid var(--white);
          border-top: 0;
        }
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all .4s ease-in-out;
        background-image: linear-gradient(
                        50deg,
                        rgba(var(--brand-primary-rgb), 0.94),
                        rgba(var(--brk-base-2-rgb), 0.94)
        );
      }

      h4 {
        text-transform: uppercase;
        position: relative;
        padding: 0 15px 12px;
        margin-bottom: 24px;

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        	width: 24px;
        	height: 2px;
          background-color: var(--brand-primary);
        }
      }

      p {
        padding: 0 15px;
        max-width: 500px;
        margin: 0 auto 25px auto;
        color: #9f9f9f;

        @media (min-width: 768px) {
          max-width: 380px;
        }
      }

    }

    &__link {
      display: block;
      margin: 0 auto;
    	width: 42px;
    	height: 42px;
    	border-radius: 50%;
      position: relative;
      background-color: var(--white);
      border: 2px solid #f4f4f4;

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: rem(18);
        color: var(--brand-primary);
      }
    }
  }

  // Simple
  &-simple {
    background: no-repeat center center;
    background-size: cover;
    position: relative;
    min-height: 292px;

    &:hover {
      .brk-tiles-simple {
        &__link {
          box-shadow: none;

  				.before {
  					animation: pulse 1.5s infinite;
  					animation-delay: 0.3s;
  				}
  				.after {
  					animation: pulse 1.5s infinite;
  				}
        }
      }
    }

    .before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to right, rgba(0,0,0,.6), rgba(0,0,0,0));
      z-index: 1;
    }

    &_left {
      .before {
        @media (min-width: 768px) {
          background-image: linear-gradient(to left, rgba(0,0,0,.6), rgba(0,0,0,0));
        }
      }

      .brk-tiles-simple__content {
        @media (min-width: 768px) {
          text-align: right;
          align-items: flex-end;
        }
      }

    }

    &__content {
      position: relative;
      z-index: 2;
      padding: 47px 30px 15px;
      text-align: left;
      display: flex;
      flex-direction: column;

      h4 {
        letter-spacing: 0.01em;
        margin-bottom: 30px;
        color: var(--white);
      }

      p {
        max-width: 230px;
        font-size: rem(14);
        line-height: 26px;
        letter-spacing: 0.01em;
        margin-bottom: 41px;
        display: block;
        color: #c5c5c5;
      }
    }

    &__link {
      display: block;
    	width: 42px;
    	height: 42px;
    	border-radius: 50%;
      position: relative;
      background-color: var(--brand-primary);
      box-shadow: 0 5px 16px rgba(var(--brand-primary-rgb), 0.5);

      .before {
  			content: '';
  			position: absolute;
  			top: 0;
  			left: 0;
  			right: 0;
  			bottom: 0;
  			border-radius: 50%;
  			z-index: -1;
        background-color: rgba(var(--brand-primary-rgb), 0.5);
      }

  		.after {
  			content: '';
  			position: absolute;
  			top: 0;
  			left: 0;
  			right: 0;
  			bottom: 0;
  			border-radius: 50%;
  			z-index: -1;
        background-color: rgba(var(--brand-primary-rgb), 0.5);
      }

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: rem(18);
        color: var(--white);
      }
    }
  }

  // Clean
  &-clean {
    position: relative;
    min-height: 270px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--white);
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;

    &:hover {
      .brk-tiles-clean {
        &__thumb {
          &:before {
            opacity: 1;

            @media (min-width: 768px) {
              left: 0;
            }
          }
        }

        &__content {
          &:before {
            width: 158px;
            clip-path: polygon(30% 0, 100% 0, 100% 100%, 30% 100%, 0 50%);
          }
        }

        &__link {
          @media (min-width: 768px) {
            width: 174px;
            left: -180px;

            i {
              left: 28px;
            }
          }
         
        }
      }
    }


    // LEFT Class
    &_left {
      justify-content: flex-end;

      &:hover {
        .brk-tiles-clean {
          &__thumb {
            &:before {
              left: auto;
              right: 0;
            }
          }

          &__content {
            &:before {
              clip-path: polygon(0% 0%, 70% 0, 100% 50%, 70% 100%, 0% 100%);
            }
          }

          &__link {
            @media (min-width: 768px) {
              left: auto;
              right: -180px;

              i {
                left: auto;
                right: 28px;
              }
            }
          }
        }
      }

      .brk-tiles-clean {
        &__thumb {
          order: 2;

          &:before {
            @media (min-width: 768px) {
              left: auto;
              right: -100%;
              clip-path: polygon(7.5% 0, 100% 0, 100% 100%, 7.5% 100%, 0 50%);
            }
          }
        }

        &__content {
          order: 1;
          right: auto;
          left: 0;
          padding-right: 56px;
          padding-left: 41px;

          &:before {
            left: auto;
            right: 1px;
            transform: translateX(100%);
            clip-path: polygon(0% 0%, 100% 0, 0 50%, 100% 100%, 0% 100%);
          }
        }

        &__link {
          top: auto;
          bottom: -21px;

          @media (min-width: 768px) {
            left: auto;
            right: -21px;
            bottom: auto;
            top: 50%;

            i {
              left: auto;
              right: 17px;
            }

            span {
              left: auto;
              right: 0;
              text-align: left;
              padding-right: 0;
              padding-left: 35px;
            }
          }
          @media screen and (max-width:767px){ 
            z-index: 3;
          }
        }
      }
    }
    // End LEFT Class


    &__thumb {
      background: no-repeat center center;
      background-size: cover;
      flex-basis: 100%;
      max-width: 100%;
      min-height: 250px;
      position: relative;
      overflow: hidden;

      @media (min-width: 768px) {
        flex-basis: 50%;
        max-width: 50%;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
				bottom: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        transition: all .3s ease-in-out;
        background-color: rgba(var(--brand-primary-rgb), 0.6);

        @media (min-width: 768px) {
          left: -100%;
          opacity: 1;
          transition: all .6s ease-in-out;
          clip-path: polygon(0% 0%, 92% 0%, 100% 50%, 92% 100%, 0% 100%);
        }
      }

    }

    &__content {
      position: relative;
      flex-basis: 100%;
      max-width: 100%;
      min-height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px 30px 20px 56px;
      z-index: 3;
      background-color: var(--white);

      @media (min-width: 768px) {
        text-align: left;
        flex-basis: 50%;
        max-width: 50%;
      }

      @media (max-width: 1199px) {
        padding-right: 25px;
        padding-left: 35px;
      }

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 1px;
        width: 41px;
        height: 100%;
        transform: translateX(-100%);
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 100% 50%);
        transition: all .5s ease-in-out;
        z-index: 1;
        background-color: var(--white);

        @media (max-width: 767px) {
          display: none;
        }
      }

      h4 {
        margin-bottom: 15px;
        margin-top: -7px;
        font-size: rem(21);

        @media (max-width: 767px) {
          font-size: rem(18);
        }
      }

      p {
        font-size: rem(16);
        line-height: 26px;
        color: #9f9f9f;

        @media (min-width: 992px) and (max-width: 1199px) {
          font-size: rem(14);
          line-height: 24px;
        }

        @media (max-width: 767px) {
          font-size: rem(14);
          line-height: 24px;
        }
      }

    }

    &__link {
      position: absolute;
      top: -21px;
      left: 50%;
      transform: translateX(-50%);
      display: block;
    	width: 174px;
    	height: 42px;
    	border-radius: 21px;
      overflow: hidden;
      transition: all .5s ease-in-out;
      z-index: 2;
      background-color: var(--brand-primary);
      box-shadow: 0 5px 16px rgba(var(--brand-primary-rgb), 0.5);

      @media (min-width: 768px) {
        width: 42px;
        top: 50%;
        left: -21px;
        transform: translateY(-50%);
      }

      i {
        position: absolute;
        top: 50%;
        left: 28px;
        transform: translateY(-50%);
        font-size: rem(18);
        transition: all .5s ease-in-out;
        color: var(--white);

        @media (min-width: 768px) {
          left: 18px;
        }
      }

      span {
        width: 174px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        font-size: rem(14);
        line-height: 42px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: right;
        padding-right: 35px;
        color: var(--white);
      }
    }
  }

  // Assorted
  &-assorted {
    min-height: 610px;
    background: no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 5px 0;
    z-index: 1;

    &_back {
      .brk-tiles-assorted {
        &__title {
          order: 3;

          .brk-abs-overlay {
            bottom: auto;
            top: 0;
          }

          &:after {
            top: auto;
            bottom: 0;
          }
        }
        &__bg {
          order: 1;
        }
      }
    }

    &:hover {
      z-index: 2;

      .brk-tiles-assorted {
        &__title {
          background-color: transparent;
          box-shadow: 0 6px 30px rgba(var(--brk-secondary-1-rgb), 0.6);

          .brk-abs-overlay {
            height: 100%;
          }

          &:after {
            height: 0;
          }

          h3 {
            color: rgba(var(--white-rgb), 0.4);
          }

          h4 {
            color: var(--white);
          }

        }

        &__bg {
          box-shadow: 0 6px 30px rgba(var(--brand-primary-rgb), 0.6);

          .brk-abs-overlay {
            opacity: 1;
          }
					.brk-layer {
						opacity: 0;
					}
        }

        &__link {
          right: calc(50% - 21px);
          opacity: 1;
        }

        &__search {
          left: calc(50% - 19px);
          opacity: 1;
        }
      }
    }

    .before {
      width: 100%;
      height: 10px;
      order: 2;
      background-color: var(--white);
    }

    &__title {
      min-height: 220px;
      order: 1;
      text-transform: uppercase;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      transition: all .3s ease-in-out;
      box-shadow: inset 0 0 0 1px #eee;

      .brk-abs-overlay {
        content: '';
        position: absolute;
				top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        z-index: 1;
        transition: all .3s ease-in-out;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: all .3s ease-in-out;
        background-color: var(--white);
      }

      &-content {
        position: relative;
        z-index: 2;
      }

      h3 {
        font-size: rem(15);
        line-height: 18px;
        letter-spacing: 0.05em;
        transition: all .3s ease-in-out;
        color: rgba(var(--black-rgb), 0.4);
      }

      h4 {
        font-size: rem(24);
        line-height: 24px;
        transition: all .3s ease-in-out;
      }

    }

    &__bg {
      min-height: 380px;
      order: 3;
      transition: all .3s ease-in-out;
      position: relative;
      overflow: hidden;
      box-shadow: inset 0 0 0 1px #eee;

      .brk-abs-overlay {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all .3s ease-in-out;
        opacity: 0;
        z-index: 2;
      }

			.brk-layer {
				transition: all .3s ease-in-out;
			}
    }

    &__link,
    &__search {
      position: absolute;
      top: 50%;
      display: block;
    	width: 46px;
    	height: 46px;
      border-radius: 50%;
      transition: all .4s ease-in-out;

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

    }

    &__link {
      right: 0;
      transform: translate(50%, -50%);
      box-shadow: 0 5px 21px rgba(0,0,0,.1);
      opacity: 0;
      z-index: 4;
      background-color: var(--white);

      i {
        font-size: rem(16);
        color: var(--brand-primary);
      }
    }

    &__search {
      left: 0;
      transform: translate(-50%, -50%);
      border: 2px solid rgba(255,255,255,.26);
      opacity: 0;
      z-index: 3;

      i {
        font-size: rem(14);
        color: var(--white);
      }
    }
  }

  // Formats
  &-formats {
    position: relative;
    background: no-repeat center center;
    background-size: cover;
    display: flex;
    min-height: 330px;
    margin: 20px 0;

    &:hover {
      &:before {
        opacity: 1;
      }
      &:after {
        opacity: 0 !important;
      }
      .brk-tiles-formats {
        &__format-post {
          transform: translateX(-50%) scale(0);
        }
        &__read-more {
          transform: scale(1);
        }
      }
    }

    /* formats posts */
    &.format-image {
      .brk-tiles-formats__format-post {
        top: -17px;
        background-image: linear-gradient(
                        to right,
                        var(--brk-secondary-4),
                        var(--brk-secondary-3));
      }
    }
    &.format-quote {
      &:after {
        opacity: 1;
      }
      .brk-tiles-formats {
        &__content {
          padding-top: 62px;
          justify-content: flex-start;

          &:hover {
            h4 {
              margin-top: 36px;
            }
          }

          h4 {
            margin-top: 52px;
            margin-bottom: 38px;
            letter-spacing: 0.04em;
          }
        }

        &__format-post {
          bottom: -17px;
          background-image: linear-gradient(
                          50deg,
                          var(--brand-primary),
                          var(--brk-base-2));
        }
      }
    }
    &.format-gallery {
      .brk-tiles-formats__format-post {
        top: -17px;
        background-image: linear-gradient(
                        to right,
                        var(--brk-secondary-5),
                        var(--brk-secondary-6));
      }
    }
    &.format-standard  {
      &:after {
        opacity: 1;
      }
      .brk-tiles-formats {
        &__content {
          padding-top: 73px;
          justify-content: flex-start;

          h4 {
            margin-bottom: 45px;
          }

        }

        &__format-post {
          bottom: -17px;
          background-image: linear-gradient(
                          to right,
                          #50c2ae,
                          #02d8b7,
                          #0cdfbf
          );
        }
      }
    }
    /* end formats posts */

    &__format-post {
      position: absolute;
      left: 50%;
      transform: translateX(-50%) scale(1);
    	width: 100px;
    	height: 34px;
      text-transform: uppercase;
      font-size: rem(14);
      line-height: 34px;
      font-weight: bold;
      text-align: center;
      border-radius: 6px;
      transition: all .4s ease-in-out;
      z-index: 3;
      color: var(--white);
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      transition: all .4s ease-in-out;
      z-index: 1;
      background-color: rgba(var(--black-rgb), 0.6);
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      transition: all .4s ease-in-out;
      z-index: 1;
      background-image: linear-gradient(
                      50deg,
                      rgba(var(--brand-primary-rgb), 0.86),
                      rgba(var(--brk-base-2-rgb), 0.86)
      );
    }

    /* Content */
    &__content {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 2;
      padding-bottom: 10px;
      color: var(--white);

      h4 {
        transition: all .3s ease-in-out;
        color: var(--white);
      }

      p {
        width: 100%;
        max-width: 380px;
        padding: 0 15px;
      }

      i {
        font-size: rem(30);
      }

    }

    &__read-more {
    	width: 130px;
    	height: 34px;
    	border-radius: 6px;
      text-align: center;
      font-size: rem(14);
      line-height: 34px;
      font-weight: bold;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      transition: all .4s ease-in-out;
      transform: scale(0);
      background-color: var(--white);
      color: var(--brand-primary);
    }

  }

}
