/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */

.brk-preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  z-index: 999;
}

.brk-preloader__loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370DB;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.brk-preloader__loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #BA55D3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

.brk-preloader__loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF00FF;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
/*
* Text align
* ================ */
.text-middle {
  vertical-align: middle;
}

.alignleft, img.alignleft {
  text-align: left;
}

.alignright, img.alignright {
  text-align: right;
}

.aligncenter, img.aligncenter {
  text-align: center;
}

/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
/*
* Text-style
* ================ */
.big {
  font-size: 18px;
}

.font__family-open-sans {
  font-family: 'Open Sans', sans-serif;
}

.font__family-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font__family-montserrat-alt {
  font-family: 'Montserrat Alternates', sans-serif;
}

.font__family-playfair {
  font-family: 'Playfair Display', sans-serif;
}

.font__family-poppins {
  font-family: 'Poppins', sans-serif;
}

.font__family-pacifico {
  font-family: 'Pacifico', sans-serif;
}

.font__family-roboto {
  font-family: 'Roboto', sans-serif;
}

.font__family-roboto-slab {
  font-family: 'Roboto Slab', sans-serif;
}

.font__family-oxygen {
  font-family: 'Oxygen', sans-serif;
}

.font__family-times-new-roman {
  font-family: 'Times New Roman', sans-serif;
}

.font__weight-thin {
  font-weight: 100;
}

.font__weight-ultralight {
  font-weight: 200;
}

.font__weight-light {
  font-weight: 300;
}

.font__weight-normal {
  font-weight: 400;
}

.font__weight-medium {
  font-weight: 500;
}

.font__weight-semibold {
  font-weight: 600;
}

.font__weight-bold {
  font-weight: 700;
}

.font__weight-extrabold {
  font-weight: 800;
}

.font__size-224 {
  font-size: 4.75rem;
}

@media (min-width: 768px) {
  .font__size-224 {
    font-size: 224px;
  }
}

.font__size-186 {
  font-size: 4.75rem;
}

@media (min-width: 768px) {
  .font__size-186 {
    font-size: 186px;
  }
}

.font__size-124 {
  font-size: 4.75rem;
}

@media (min-width: 768px) {
  .font__size-124 {
    font-size: 124px;
  }
}

.font__size-120 {
  font-size: 4.75rem;
}

@media (min-width: 768px) {
  .font__size-120 {
    font-size: 120px;
  }
}

.font__size-106 {
  font-size: 3.125rem;
}

@media (min-width: 768px) {
  .font__size-106 {
    font-size: 106px;
  }
}

.font__size-96 {
  font-size: 3.125rem;
}

@media (min-width: 768px) {
  .font__size-96 {
    font-size: 96px;
  }
}

.font__size-86 {
  font-size: 86px;
}

.font__size-84 {
  font-size: 5.25rem;
}

.font__size-82 {
  font-size: 5.125rem;
}

.font__size-78 {
  font-size: 3.5rem;
}

@media (min-width: 480px) {
  .font__size-78 {
    font-size: 66px;
  }
}

@media (min-width: 768px) {
  .font__size-78 {
    font-size: 78px;
  }
}

.font__size-72 {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .font__size-72 {
    font-size: 72px;
  }
}

.font__size-64 {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .font__size-64 {
    font-size: 64px;
  }
}

.font__size-58 {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .font__size-58 {
    font-size: 58px;
  }
}

.font__size-56 {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .font__size-56 {
    font-size: 56px;
  }
}

.font__size-54 {
  font-size: 3.375rem;
}

.font__size-50 {
  font-size: 3.125rem;
}

.font__size-48 {
  font-size: 2.375rem;
}

@media (min-width: 768px) {
  .font__size-48 {
    font-size: 48px;
  }
}

.font__size-42 {
  font-size: 2.625rem;
}

.font__size-46 {
  font-size: 2.875rem;
}

.font__size-40 {
  font-size: 2.5rem;
}

.font__size-36 {
  font-size: 1.875rem;
}

@media (min-width: 768px) {
  .font__size-36 {
    font-size: 36px;
  }
}

.font__size-38 {
  font-size: 2.375rem;
}

.font__size-36 {
  font-size: 2.25rem;
}

.font__size-34 {
  font-size: 2.125rem;
}

.font__size-32 {
  font-size: 2rem;
}

.font__size-30 {
  font-size: 1.875rem;
}

.font__size-28 {
  font-size: 1.75rem;
}

.font__size-27 {
  font-size: 1.6875rem;
}

.font__size-26 {
  font-size: 1.625rem;
}

.font__size-25 {
  font-size: 1.5625rem;
}

.font__size-24 {
  font-size: 1.5rem;
}

.font__size-23 {
  font-size: 1.4375rem;
}

.font__size-22 {
  font-size: 1.375rem;
}

.font__size-21 {
  font-size: 1.3125rem;
}

.font__size-20 {
  font-size: 1.25rem;
}

.font__size-19 {
  font-size: 1.1875rem;
}

.font__size-18 {
  font-size: 1.125rem;
}

.font__size-17 {
  font-size: 1.0625rem;
}

.font__size-16 {
  font-size: 1rem;
}

.font__size-15 {
  font-size: 0.9375rem;
}

.font__size-14 {
  font-size: 0.875rem;
}

.font__size-13 {
  font-size: 0.8125rem;
}

.font__size-12 {
  font-size: 0.75rem;
}

.font__size-11 {
  font-size: 0.6875rem;
}

.font__size-10 {
  font-size: 0.625rem;
}

.font__style-italic {
  font-style: italic;
}

.font__style-normal {
  font-style: normal;
}

.font-weight-normal {
  font-weight: 400;
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-thin {
  font-weight: 100;
}

.letter-spacing--100 {
  letter-spacing: -1px;
}

.letter-spacing-1 {
  letter-spacing: 0.01em;
}

.letter-spacing--1 {
  letter-spacing: -0.01em;
}

.letter-spacing-20 {
  letter-spacing: 0.02em;
}

.letter-spacing--20 {
  letter-spacing: -0.02em;
}

.letter-spacing-40 {
  letter-spacing: 0.04em;
}

.letter-spacing--40 {
  letter-spacing: -0.04em;
}

.letter-spacing-60 {
  letter-spacing: 0.06em;
}

.letter-spacing-100 {
  letter-spacing: 0.1em;
}

.letter-spacing-200 {
  letter-spacing: 0.2em;
}

.letter-spacing-300 {
  letter-spacing: 0.3em;
}

.line__height-224 {
  line-height: 4.75rem;
}

@media (min-width: 768px) {
  .line__height-224 {
    line-height: 224px;
  }
}

.line__height-96 {
  line-height: 50px;
}

@media (min-width: 768px) {
  .line__height-96 {
    line-height: 96px;
  }
}

.line__height-88 {
  line-height: 50px;
}

@media (min-width: 768px) {
  .line__height-88 {
    line-height: 88px;
  }
}

.line__height-84 {
  line-height: 84px;
}

.line__height-78 {
  line-height: 50px;
}

@media (min-width: 768px) {
  .line__height-78 {
    line-height: 78px;
  }
}

.line__height-68 {
  line-height: 50px;
}

@media (min-width: 768px) {
  .line__height-68 {
    line-height: 68px;
  }
}

.line__height-64 {
  line-height: 64px;
}

.line__height-60 {
  line-height: 60px;
}

.line__height-56 {
  line-height: 56px;
}

.line__height-52 {
  line-height: 52px;
}

.line__height-50 {
  line-height: 50px;
}

.line__height-48 {
  line-height: 48px;
}

.line__height-46 {
  line-height: 46px;
}

.line__height-44 {
  line-height: 44px;
}

.line__height-42 {
  line-height: 42px;
}

.line__height-40 {
  line-height: 40px;
}

.line__height-38 {
  line-height: 38px;
}

.line__height-36 {
  line-height: 36px;
}

.line__height-34 {
  line-height: 34px;
}

.line__height-32 {
  line-height: 32px;
}

.line__height-30 {
  line-height: 30px;
}

.line__height-28 {
  line-height: 28px;
}

.line__height-27 {
  line-height: 27px;
}

.line__height-26 {
  line-height: 26px;
}

.line__height-24 {
  line-height: 24px;
}

.line__height-22 {
  line-height: 22px;
}

.line__height-21 {
  line-height: 21px;
}

.line__height-20 {
  line-height: 20px;
}

.line__height-19 {
  line-height: 19px;
}

.line__height-16 {
  line-height: 16px;
}

.line__height-15 {
  line-height: 15px;
}

.line__height-14 {
  line-height: 14px;
}

.line__height-12 {
  line-height: 12px;
}

.line__height-10 {
  line-height: 10px;
}

.line__height-8 {
  line-height: 8px;
}

/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
/*
* Type styles
* ================ */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  vertical-align: baseline;
  display: block;
  color: #292B2C;
  font-weight: 400;
}

h1 a:focus {
  color: #2775FF;
  text-decoration: none;
}

h1 a:hover {
  color: #2775FF;
  text-decoration: none;
}

h2 a:focus {
  color: #2775FF;
  text-decoration: none;
}

h2 a:hover {
  color: #2775FF;
  text-decoration: none;
}

h3 a:focus {
  color: #2775FF;
  text-decoration: none;
}

h3 a:hover {
  color: #2775FF;
  text-decoration: none;
}

h4 a:focus {
  color: #2775FF;
  text-decoration: none;
}

h4 a:hover {
  color: #2775FF;
  text-decoration: none;
}

h5 a:focus {
  color: #2775FF;
  text-decoration: none;
}

h5 a:hover {
  color: #2775FF;
  text-decoration: none;
}

h6 a:focus {
  color: #2775FF;
  text-decoration: none;
}

h6 a:hover {
  color: #2775FF;
  text-decoration: none;
}

.h1 a:focus {
  color: #2775FF;
  text-decoration: none;
}

.h1 a:hover {
  color: #2775FF;
  text-decoration: none;
}

.h2 a:focus {
  color: #2775FF;
  text-decoration: none;
}

.h2 a:hover {
  color: #2775FF;
  text-decoration: none;
}

.h3 a:focus {
  color: #2775FF;
  text-decoration: none;
}

.h3 a:hover {
  color: #2775FF;
  text-decoration: none;
}

.h4 a:focus {
  color: #2775FF;
  text-decoration: none;
}

.h4 a:hover {
  color: #2775FF;
  text-decoration: none;
}

.h5 a:focus {
  color: #2775FF;
  text-decoration: none;
}

.h5 a:hover {
  color: #2775FF;
  text-decoration: none;
}

.h6 a:focus {
  color: #2775FF;
  text-decoration: none;
}

.h6 a:hover {
  color: #2775FF;
  text-decoration: none;
}

h1, .h1 {
  font-size: 40px;
  line-height: 1.1;
}

@media (min-width: 576px) {
  h1, .h1 {
    font-size: 56px;
  }
}

h2, .h2 {
  font-size: 35px;
  line-height: 1.1;
}

@media (min-width: 576px) {
  h2, .h2 {
    font-size: 42px;
  }
}

h3, .h3 {
  font-size: 30px;
  line-height: 1.1;
}

@media (min-width: 576px) {
  h3, .h3 {
    font-size: 36px;
  }
}

h4, .h4 {
  font-size: 24px;
  line-height: 1.1;
}

h5, .h5 {
  font-size: 18px;
  line-height: 1.1;
}

h6, .h6 {
  font-size: 15px;
  line-height: 1.1;
}

/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
/*
* Blocks visibility
* ================ */
.show-flex {
  display: -webkit-box !important;
  display: flex !important;
}

.show-inline-block {
  display: inline-block !important;
}

.show-block {
  display: block !important;
}

.hide {
  display: none !important;
}

@media (min-width: 0) {
  .show-xs-block {
    display: block !important;
  }
  .show-xs-inline-block {
    display: inline-block !important;
  }
  .show-xs-inline {
    display: inline !important;
  }
  .show-xs-flex {
    display: -webkit-box !important;
    display: flex !important;
  }
  .hide-xs {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .show-sm-block {
    display: block !important;
  }
  .show-sm-inline-block {
    display: inline-block !important;
  }
  .show-sm-inline {
    display: inline !important;
  }
  .show-sm-flex {
    display: -webkit-box !important;
    display: flex !important;
  }
  .hide-sm {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .show-md-block {
    display: block !important;
  }
  .show-md-inline-block {
    display: inline-block !important;
  }
  .show-md-inline {
    display: inline !important;
  }
  .show-md-flex {
    display: -webkit-box !important;
    display: flex !important;
  }
  .hide-md {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .show-lg-block {
    display: block !important;
  }
  .show-lg-inline-block {
    display: inline-block !important;
  }
  .show-lg-inline {
    display: inline !important;
  }
  .show-lg-flex {
    display: -webkit-box !important;
    display: flex !important;
  }
  .hide-lg {
    display: none !important;
  }
}

@media (min-width: 1230px) {
  .show-xl-block {
    display: block !important;
  }
  .show-xl-inline-block {
    display: inline-block !important;
  }
  .show-xl-inline {
    display: inline !important;
  }
  .show-xl-flex {
    display: -webkit-box !important;
    display: flex !important;
  }
  .hide-xl {
    display: none !important;
  }
}

/*
* Normalize
* ================ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: top;
}

input, textarea {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: top;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, main, time, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, input, textarea, select {
  display: inline-block;
  outline: none;
  color: inherit;
  overflow: visible;
  box-shadow: none;
}

button,
input[type='button'],
input[type='submit'] {
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*
* @bugfix input text-overflow padding ignore
* @affected lt IE11
*/
.lt-ie11 input {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom-left-radius: 1px !important;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

button, .btn {
  background-color: inherit;
}

button:focus, button:active, .btn:focus, .btn:active {
  outline: none;
}

a, button, input {
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

input[type="search"] {
  box-sizing: border-box;
}

.brk-bg-style-1 {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
/*
* Layouts
* ================ */
.main-wrapper {
  position: relative;
}

/*
* Global styles
// ================================= */
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #222;
  background: #fff;
}

.brk-boxed {
  background: #fff;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .brk-boxed {
    max-width: 1200px;
    box-shadow: rgba(0, 0, 0, 0.6) 0 0 18px;
  }
}

.fal {
  font-family: "Font Awesome\ 5 Free" !important;
}

.far, .fal {
  font-weight: 600 !important;
}

@font-face {
  font-family: 'berserk';
  src: url("../fonts/berserk/berserk.eot");
  src: url("../fonts/berserk/berserk.eot?#iefix") format("embedded-opentype"), url("../fonts/berserk/berserk.woff") format("woff"), url("../fonts/berserk/berserk.ttf") format("truetype"), url("../fonts/berserk/berserk.svg#berserk") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fal.fa-cog:before,
.fal.fa-comment-alt:before,
.far.fa-clock:before,
.far.fa-envelope-DISABLE:before,
.fa.fa-search-DISABLE:before,
.fa.fa-phone-DISABLE:before,
.fal.fa-play-circle:before,
.fa.fa-share-alt:before,
.fa.fa-shopping-basket-DISABLE:before,
.fal.fa-shopping-cart:before,
.fas.fa-sign-in-alt-DISABLE:before,
.fas.fa-star-DISABLE:before,
.fas.fa-exchange-alt-DISABLE:before,
.fas.fa-arrow-down:before,
.fas.fa-arrow-up:before,
.fa.fa-angle-left-DISABLE:before,
.fa.fa-angle-right-DISABLE:before,
.fal.fa-arrow-left:before,
.fal.fa-arrow-right:before,
.fa.fa-plus:before {
  display: inline-block;
  font-family: 'berserk';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fal.fa-cog:before {
  content: '\0041';
}

.fal.fa-comment-alt:before {
  content: '\0042';
}

.far.fa-clock:before {
  content: '\0043';
}

.far.fa-envelope-DISABLE:before {
  content: '\0044';
}

.fa.fa-search-DISABLE:before {
  content: '\0045';
}

.fa.fa-phone-DISABLE:before {
  content: '\0046';
}

.fal.fa-play-circle:before {
  content: '\0047';
}

.fa.fa-share-alt:before {
  content: '\0048';
}

.fa.fa-shopping-basket-DISABLE:before {
  content: '\0049';
}

.fal.fa-shopping-cart:before {
  content: '\004a';
}

.fas.fa-sign-in-alt-DISABLE:before {
  content: '\004b';
}

.fas.fa-star-DISABLE:before {
  content: '\004c';
}

.fas.fa-exchange-alt-DISABLE:before {
  content: '\004d';
}

.fas.fa-arrow-down:before {
  content: '\004e';
}

.fas.fa-arrow-up:before {
  content: '\004f';
}

.fa.fa-angle-left-DISABLE:before {
  content: '\0050';
}

.fa.fa-angle-right-DISABLE:before {
  content: '\0051';
}

.fal.fa-arrow-left:before {
  content: '\0052';
}

.fal.fa-arrow-right:before {
  content: '\0053';
}

.fa.fa-plus:before {
  content: '\0054';
}

a:hover {
  color: #2775FF;
  text-decoration: none;
}

a:focus {
  color: #2775FF;
  text-decoration: none;
}

/*
// Color
// ================== */
.text-primary {
  color: #2775FF;
}

.text-light-blue {
  color: #00c6ff !important;
}

.text-blue {
  color: #2775FF !important;
}

.text-gray {
  color: #BFBFBF !important;
}

.text-gray-light {
  color: #9F9F9F !important;
}

.text-dark {
  color: #868686 !important;
}

.text-soft {
  color: #b6c9ff !important;
}

.text-light-soft {
  color: #69adff !important;
}

.text-blue-1 {
  color: #AABCF1 !important;
}

.text-blue-2 {
  color: #69adff !important;
}

.text-blue-3 {
  color: #d2d5fe !important;
}

/*
// Backgrounds
// ================ */
.bg-primary {
  background-color: #2775FF !important;
}

.bg-white {
  background: #fff;
}

.bg__style {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 479px) {
  .no-bg-xs {
    background: none !important;
  }
}

@media (max-width: 767px) {
  .no-bg-sm {
    background: none !important;
  }
}

@media (max-width: 1023px) {
  .no-bg-md {
    background: none !important;
  }
}

@media (max-width: 1199px) {
  .no-bg-lg {
    background: none !important;
  }
}

.bg-purple {
  background: -webkit-gradient(linear, left top, right top, from(#6e50c2), to(#7202bb));
  background: linear-gradient(to right, #6e50c2, #7202bb);
}

.visible {
  overflow: visible;
}

.full-screen {
  width: 100%;
  min-height: 100vh;
}

.w-43 {
  width: 43% !important;
}

.side-circles {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.side-circles:before {
  content: '';
  position: absolute;
  top: -535px;
  left: -520px;
  width: 875px;
  height: 875px;
  border: 40px solid rgba(255, 255, 255, 0.08);
  border-radius: 50%;
}

.side-circles:after {
  content: '';
  position: absolute;
  top: -110px;
  right: -180px;
  width: 420px;
  height: 420px;
  border: 21px solid rgba(255, 255, 255, 0.08);
  border-radius: 50%;
}

.top-triangle {
  position: relative;
  z-index: 1;
}

.top-triangle:before {
  content: '';
  position: absolute;
  top: -12px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  width: 24px;
  height: 24px;
  background: #fff;
}

.overlay__grad {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.overlay__grad:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(#2775FF), to(#7202bb));
  background: linear-gradient(to right, #2775FF, #7202bb);
  opacity: 0.9;
  z-index: -1;
}

.overlay__gradient {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.overlay__gradient .overlay_after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(#2775FF), to(#7202bb));
  background: linear-gradient(to right, #2775FF, #7202bb);
  opacity: 0.94;
  z-index: -1;
  margin: 0;
}

.overlay__gradient-left .overlay_after {
  background: linear-gradient(10deg, #2775FF, #7202bb);
}

.overlay__white {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.overlay__white:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  opacity: 0.94;
  z-index: -1;
}

.overlay__dark {
  position: relative;
  z-index: 1;
}

.overlay__dark:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.75;
  z-index: -1;
}

.overlay__purple {
  position: relative;
  z-index: 1;
}

.overlay__purple > .after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #6e50c2), color-stop(70%, #7202bb));
  background: linear-gradient(to right, #6e50c2 20%, #7202bb 70%);
  opacity: 0.94;
  z-index: -1;
}

.overlay__dot {
  position: relative;
  z-index: 1;
}

.overlay__dot:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(23, 40, 68, 0.7);
  background-image: radial-gradient(#101C2F 24%, transparent 25%);
  background-size: 3px 3px;
  opacity: 0.94;
  z-index: -1;
}

.overlay__curve {
  position: relative;
  z-index: 1;
  overflow: visible;
}

.overlay__curve:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background: url("../../img/curve.png") top center no-repeat;
  background-size: 100%;
  z-index: -1;
}

.all-light, .all-light h1, .all-light h2, .all-light h3, .all-light h4, .all-light h5, .all-light h6, .all-light .h1, .all-light .h2, .all-light .h3, .all-light .h4, .all-light .h5, .all-light .h6 {
  color: #fff;
}

html .row-no-gutter {
  margin-left: 0;
  margin-right: 0;
}

html .row-no-gutter > [class*='col'] {
  padding-left: 0;
  padding-right: 0;
}

html .row-no-gutter .vc_column_container > .vc_column-inner {
  padding-left: 0;
  padding-right: 0;
}

.show-inline {
  display: inline !important;
}

.link-icon {
  display: inline-block;
}

.link-icon .icon {
  margin: 0 10px;
  vertical-align: baseline;
  font-size: 16px;
}

.link-icon:hover .fa {
  -webkit-animation: icon-move 2s infinite;
          animation: icon-move 2s infinite;
}

.wow {
  visibility: hidden;
}

.rounded-all {
  border-radius: 50%;
}

.rounded-top-left {
  border-top-left-radius: 30px;
}

.rounded-top-right {
  border-top-right-radius: 30px;
}

.rounded-bottom-left {
  border-bottom-left-radius: 30px;
}

.rounded-bottom-right {
  border-bottom-right-radius: 30px;
}

.shadow {
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.12);
}

.mobile-case-1 {
  position: relative;
  width: 292px;
  height: 609px;
  margin: 0 auto;
  z-index: 2;
}

.mobile-case-1 .mobile-bg {
  position: absolute;
  top: 92px;
  left: 50%;
  margin-left: 2px;
  width: 242px;
  height: 430px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: url("../../img/app-inside-1.jpg") center center;
}

.mobile-case-2 {
  position: relative;
  width: 352px;
  height: 721px;
  margin: 0 auto;
  background: url("../../img/app-case-2.png");
  z-index: 2;
}

.mobile-case-2 .mobile-bg {
  position: absolute;
  top: 88px;
  left: 50%;
  width: 306px;
  height: 543px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: url("../../img/app-inside-2.jpg") center center;
}

.mobile-case-3 {
  position: relative;
  width: 320px;
  height: 208px;
  margin: 0 auto;
  background: center center no-repeat;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .mobile-case-3 {
    height: 398px;
    width: 680px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  .mobile-case-3 {
    width: auto;
    margin: 0 -55px;
  }
}

.mobile-case-3 .mobile-bg {
  position: absolute;
  top: 23px;
  left: 41px;
  right: 41px;
  height: 148px;
  background: url("../../img/app-inside-3.jpg") center center no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .mobile-case-3 .mobile-bg {
    top: 6%;
    left: 12%;
    right: 12%;
    bottom: 13%;
    height: auto;
    z-index: -1;
  }
}

.mobile-case-4 {
  position: relative;
  width: 320px;
  height: 208px;
  margin: 0 auto;
  background: center center no-repeat;
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .mobile-case-4 {
    height: 398px;
    width: 680px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  .mobile-case-4 {
    width: 100%;
  }
}

.mobile-case-4 .mobile-bg {
  position: absolute;
  top: 23px;
  left: 41px;
  right: 41px;
  height: 148px;
  background: url("../../img/app-inside-3.jpg") center center no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .mobile-case-4 .mobile-bg {
    top: 7%;
    left: 12%;
    right: 12%;
    bottom: 14%;
    height: auto;
    z-index: -1;
  }
}

.arrow__pointer-top-left {
  display: none;
  position: absolute;
  top: -60px;
  right: -40px;
}

[dir="rtl"] .arrow__pointer-top-left {
  right: auto;
  left: -40px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@media (min-width: 1200px) {
  .arrow__pointer-top-left {
    display: block;
  }
}

.arrow__pointer-bottom-left {
  display: none;
  position: absolute;
  bottom: -60px;
  right: -40px;
  -webkit-transform: rotateY(180deg) rotate(180deg);
          transform: rotateY(180deg) rotate(180deg);
}

[dir="rtl"] .arrow__pointer-bottom-left {
  right: auto;
  left: -40px;
  -webkit-transform: rotateY(0) rotate(180deg);
          transform: rotateY(0) rotate(180deg);
}

@media (min-width: 1200px) {
  .arrow__pointer-bottom-left {
    display: block;
  }
}

.arrow__pointer-top-right {
  display: none;
  position: absolute;
  top: -60px;
  left: -40px;
  -webkit-transform: rotateY(180deg) rotate(0deg);
          transform: rotateY(180deg) rotate(0deg);
}

[dir="rtl"] .arrow__pointer-top-right {
  left: auto;
  right: -40px;
  -webkit-transform: rotateY(0deg) rotate(0deg);
          transform: rotateY(0deg) rotate(0deg);
}

@media (min-width: 1200px) {
  .arrow__pointer-top-right {
    display: block;
  }
}

.arrow__pointer-bottom-right {
  display: none;
  position: absolute;
  bottom: -60px;
  left: -40px;
  -webkit-transform: rotateY(0deg) rotate(180deg);
          transform: rotateY(0deg) rotate(180deg);
}

[dir="rtl"] .arrow__pointer-bottom-right {
  left: auto;
  right: -40px;
  -webkit-transform: rotateY(180deg) rotate(180deg);
          transform: rotateY(180deg) rotate(180deg);
}

@media (min-width: 1200px) {
  .arrow__pointer-bottom-right {
    display: block;
  }
}

.circle-number {
  min-width: 51px;
  width: 52px;
  height: 52px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.3);
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #2775FF;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.app-img-caption {
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  font-weight: 600;
  opacity: 0.06;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  line-height: 1;
  display: block;
  margin-bottom: -15px;
}

@media (min-width: 480px) {
  .app-img-caption {
    font-size: 118px;
    margin-bottom: -30px;
  }
}

.app-img-caption ~ * {
  position: relative;
  z-index: 2;
}

.app-dot-line {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.app-dot-line.left > .dot {
  right: -40px;
}

[dir="rtl"] .app-dot-line.left > .dot {
  right: auto;
  left: -40px;
}

.app-dot-line.left > .dot > .line {
  left: 0;
}

[dir="rtl"] .app-dot-line.left > .dot > .line {
  left: auto;
  right: 0;
}

.app-dot-line.right > .dot {
  left: -40px;
}

[dir="rtl"] .app-dot-line.right > .dot {
  left: auto;
  right: -40px;
}

.app-dot-line.right > .dot > .line {
  right: 0;
}

[dir="rtl"] .app-dot-line.right > .dot > .line {
  right: auto;
  left: 0;
}

.app-dot-line > .dot {
  display: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #2775FF;
}

@media (min-width: 1230px) {
  .app-dot-line > .dot {
    display: block;
  }
}

.app-dot-line > .dot:after {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 3px solid #fff;
  box-shadow: 1px 1.732px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.app-dot-line > .dot .line {
  position: absolute;
  top: 7px;
  width: 300px;
  height: 1px;
  background: #2775FF;
  z-index: -1;
}

.svg-md {
  width: 74px;
  height: 74px;
}

.svg-91 {
  width: 91px;
  height: 91px;
}

.slide-bg-wrap {
  position: relative;
  overflow: hidden;
}

.slide-bg-wrap .slide-bg {
  position: absolute;
  left: 0;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #2775FF;
  -webkit-transition: width 0.25s ease-in-out, height 0.25s ease-in-out;
  transition: width 0.25s ease-in-out, height 0.25s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.slide-bg-wrap:hover .slide-bg {
  width: 250%;
  height: 250%;
}

.hot-panel {
  display: inline-block;
  padding: 4px 24px;
  color: #fff;
  font-weight: 700;
  border-radius: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#00c6ff), to(#00f6ff));
  background: linear-gradient(to right, #00c6ff, #00f6ff);
}

.hot-panel_primary {
  background: -webkit-gradient(linear, left top, right top, from(#2775FF), to(#7202bb));
  background: linear-gradient(to right, #2775FF, #7202bb);
}

.horiz-line {
  display: block;
  border: none;
  width: 100%;
  height: 1px;
  background: #fff;
  opacity: 0.2;
  margin: 34px 0 30px;
}

* + .subscr__form {
  margin-top: 30px;
}

.subscr__form {
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.12);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}

.subscr__form .form-control {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 52px;
  color: #fff;
  padding: 10px 60px 10px 30px;
  background: transparent;
  border: none;
}

.subscr__form .form-control::-webkit-input-placeholder {
  color: #fff;
}

.subscr__form .btn-subscr {
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 6px;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#0B98F6), to(#00c6ff));
  background: linear-gradient(to right, #0B98F6, #00c6ff);
}

.subscr__form .btn-subscr:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.subscr__form .btn-subscr:hover {
  -webkit-transform: translateY(-50%) scale(1.1);
          transform: translateY(-50%) scale(1.1);
}

.video-wrap {
  position: relative;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.4);
  min-height: 430px;
}

.video-wrap .overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../../img/770x433_1.jpg") top center no-repeat;
  background-size: cover;
  z-index: 50;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.video-wrap .overlay-image.hid {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.video-wrap .icon__btn {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video-wrap .icon__btn .fa-play:before {
  margin-left: 2px;
}

.video-wrap iframe {
  width: 100%;
  height: 100%;
}

body .main-icon {
  font-size: 64px;
  width: 170px;
  height: 170px;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid #00c6ff;
  position: relative;
}

body .main-icon:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .main-icon + * {
  margin-top: 56px;
}

.inline-wrap > div {
  -webkit-box-flex: 1;
          flex: 1;
}

@media (min-width: 1200px) {
  .inline-wrap {
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
            align-items: center;
  }
}

.inline-wrap-second .icon__btn {
  width: 63px;
  height: 63px;
  background: #00c6ff;
  font-size: 28px;
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .inline-wrap-second .icon__btn {
    margin-bottom: 10px;
  }
}

.inline-wrap-second .icon__btn .spike {
  background: #00c6ff;
}

/*
// Helpers
// ================ */
.maxw-450 {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.maxw-770 {
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
}

.maxw-970 {
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
}

.violet-shadow {
  box-shadow: 0 3px 0 0 #7202bb;
}

.dark-shadow {
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.12);
}

.overflow-hid {
  overflow: hidden;
}

.z-index-high {
  position: relative;
  z-index: 50;
}

.z-index-3 {
  z-index: 3 !important;
}

.z-index-2 {
  z-index: 2 !important;
}

.z-index-1 {
  z-index: 1 !important;
}

.z-index-0 {
  z-index: 0 !important;
}

.width100 {
  width: 100%;
}

.height100 {
  height: 100%;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.overflow-hid {
  overflow: hidden;
}

.opacity-10 {
  opacity: 0.1;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-80 {
  opacity: 0.8;
}

.opacity-90 {
  opacity: 0.9;
}

.opacity-100 {
  opacity: 1;
}

@media screen and (max-width: 576px) {
  .pl-xs-0 {
    padding-left: 0px !important;
  }
}

@media screen and (max-width: 576px) {
  .pl-xs-5 {
    padding-left: 5px !important;
  }
}

@media screen and (max-width: 576px) {
  .pl-xs-10 {
    padding-left: 10px !important;
  }
}

@media screen and (max-width: 576px) {
  .pl-xs-15 {
    padding-left: 15px !important;
  }
}

@media screen and (max-width: 576px) {
  .pl-xs-20 {
    padding-left: 20px !important;
  }
}

@media screen and (max-width: 576px) {
  .pl-xs-25 {
    padding-left: 25px !important;
  }
}

@media screen and (max-width: 576px) {
  .pr-xs-0 {
    padding-right: 0px !important;
  }
}

@media screen and (max-width: 576px) {
  .pr-xs-5 {
    padding-right: 5px !important;
  }
}

@media screen and (max-width: 576px) {
  .pr-xs-10 {
    padding-right: 10px !important;
  }
}

@media screen and (max-width: 576px) {
  .pr-xs-15 {
    padding-right: 15px !important;
  }
}

@media screen and (max-width: 576px) {
  .pr-xs-20 {
    padding-right: 20px !important;
  }
}

@media screen and (max-width: 576px) {
  .pr-xs-25 {
    padding-right: 25px !important;
  }
}

@media screen and (max-width: 576px) {
  .pb-xs-0 {
    padding-bottom: 0px !important;
  }
}

@media screen and (max-width: 576px) {
  .pb-xs-5 {
    padding-bottom: 5px !important;
  }
}

@media screen and (max-width: 576px) {
  .pb-xs-10 {
    padding-bottom: 10px !important;
  }
}

@media screen and (max-width: 576px) {
  .pb-xs-15 {
    padding-bottom: 15px !important;
  }
}

@media screen and (max-width: 576px) {
  .pb-xs-20 {
    padding-bottom: 20px !important;
  }
}

@media screen and (max-width: 576px) {
  .pb-xs-25 {
    padding-bottom: 25px !important;
  }
}

@media screen and (max-width: 576px) {
  .pt-xs-0 {
    padding-top: 0px !important;
  }
}

@media screen and (max-width: 576px) {
  .pt-xs-5 {
    padding-top: 5px !important;
  }
}

@media screen and (max-width: 576px) {
  .pt-xs-10 {
    padding-top: 10px !important;
  }
}

@media screen and (max-width: 576px) {
  .pt-xs-15 {
    padding-top: 15px !important;
  }
}

@media screen and (max-width: 576px) {
  .pt-xs-20 {
    padding-top: 20px !important;
  }
}

@media screen and (max-width: 576px) {
  .pt-xs-25 {
    padding-top: 25px !important;
  }
}

@media screen and (max-width: 576px) {
  .ml-xs-0 {
    margin-left: 0px !important;
  }
}

@media screen and (max-width: 576px) {
  .ml-xs-5 {
    margin-left: 5px !important;
  }
}

@media screen and (max-width: 576px) {
  .ml-xs-10 {
    margin-left: 10px !important;
  }
}

@media screen and (max-width: 576px) {
  .ml-xs-15 {
    margin-left: 15px !important;
  }
}

@media screen and (max-width: 576px) {
  .ml-xs-20 {
    margin-left: 20px !important;
  }
}

@media screen and (max-width: 576px) {
  .ml-xs-25 {
    margin-left: 25px !important;
  }
}

@media screen and (max-width: 576px) {
  .mr-xs-0 {
    margin-right: 0px !important;
  }
}

@media screen and (max-width: 576px) {
  .mr-xs-5 {
    margin-right: 5px !important;
  }
}

@media screen and (max-width: 576px) {
  .mr-xs-10 {
    margin-right: 10px !important;
  }
}

@media screen and (max-width: 576px) {
  .mr-xs-15 {
    margin-right: 15px !important;
  }
}

@media screen and (max-width: 576px) {
  .mr-xs-20 {
    margin-right: 20px !important;
  }
}

@media screen and (max-width: 576px) {
  .mr-xs-25 {
    margin-right: 25px !important;
  }
}

@media screen and (max-width: 576px) {
  .mb-xs-0 {
    margin-bottom: 0px !important;
  }
}

@media screen and (max-width: 576px) {
  .mb-xs-5 {
    margin-bottom: 5px !important;
  }
}

@media screen and (max-width: 576px) {
  .mb-xs-10 {
    margin-bottom: 10px !important;
  }
}

@media screen and (max-width: 576px) {
  .mb-xs-15 {
    margin-bottom: 15px !important;
  }
}

@media screen and (max-width: 576px) {
  .mb-xs-20 {
    margin-bottom: 20px !important;
  }
}

@media screen and (max-width: 576px) {
  .mb-xs-25 {
    margin-bottom: 25px !important;
  }
}

@media screen and (max-width: 540px) {
  .mt-xs-0 {
    margin-top: 0px !important;
  }
}

@media screen and (max-width: 540px) {
  .mt-xs-5 {
    margin-top: 5px !important;
  }
}

@media screen and (max-width: 540px) {
  .mt-xs-10 {
    margin-top: 10px !important;
  }
}

@media screen and (max-width: 540px) {
  .mt-xs-15 {
    margin-top: 15px !important;
  }
}

@media screen and (max-width: 540px) {
  .mt-xs-20 {
    margin-top: 20px !important;
  }
}

@media screen and (max-width: 540px) {
  .mt-xs-25 {
    margin-top: 25px !important;
  }
}

@media screen and (min-width: 1230px) {
  .ml-xl-0 {
    margin-left: 0px !important;
  }
}

@media screen and (min-width: 1230px) {
  .ml-xl-5 {
    margin-left: 5px !important;
  }
}

@media screen and (min-width: 1230px) {
  .ml-xl-10 {
    margin-left: 10px !important;
  }
}

@media screen and (min-width: 1230px) {
  .ml-xl-15 {
    margin-left: 15px !important;
  }
}

@media screen and (min-width: 1230px) {
  .ml-xl-20 {
    margin-left: 20px !important;
  }
}

@media screen and (min-width: 1230px) {
  .ml-xl-25 {
    margin-left: 25px !important;
  }
}

@media screen and (min-width: 1230px) {
  .ml-xl-30 {
    margin-left: 30px !important;
  }
}

@media screen and (min-width: 1230px) {
  .ml-xl-35 {
    margin-left: 35px !important;
  }
}

@media screen and (min-width: 1230px) {
  .ml-xl-40 {
    margin-left: 40px !important;
  }
}

@media screen and (min-width: 1230px) {
  .ml-xl-45 {
    margin-left: 45px !important;
  }
}

@media screen and (min-width: 1230px) {
  .ml-xl-50 {
    margin-left: 50px !important;
  }
}

@media screen and (min-width: 1230px) {
  .mr-xl-0 {
    margin-right: 0px !important;
  }
}

@media screen and (min-width: 1230px) {
  .mr-xl-5 {
    margin-right: 5px !important;
  }
}

@media screen and (min-width: 1230px) {
  .mr-xl-10 {
    margin-right: 10px !important;
  }
}

@media screen and (min-width: 1230px) {
  .mr-xl-15 {
    margin-right: 15px !important;
  }
}

@media screen and (min-width: 1230px) {
  .mr-xl-20 {
    margin-right: 20px !important;
  }
}

@media screen and (min-width: 1230px) {
  .mr-xl-25 {
    margin-right: 25px !important;
  }
}

@media screen and (min-width: 1230px) {
  .mr-xl-30 {
    margin-right: 30px !important;
  }
}

@media screen and (min-width: 1230px) {
  .mr-xl-35 {
    margin-right: 35px !important;
  }
}

@media screen and (min-width: 1230px) {
  .mr-xl-40 {
    margin-right: 40px !important;
  }
}

@media screen and (min-width: 1230px) {
  .mr-xl-45 {
    margin-right: 45px !important;
  }
}

@media screen and (min-width: 1230px) {
  .mr-xl-50 {
    margin-right: 50px !important;
  }
}

@media screen and (max-width: 540px) {
  .ml-xs-auto {
    margin-left: auto !important;
  }
}

@media screen and (max-width: 540px) {
  .mr-xs-auto {
    margin-right: auto !important;
  }
}

@media screen and (max-width: 540px) {
  .mx-xs-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

@media screen and (min-width: 991px) {
  .pl-xl-110 {
    padding-left: 110px;
  }
}

@media screen and (min-width: 991px) {
  .pl-xl-80 {
    padding-left: 80px;
  }
}

.pt-350 {
  padding-top: 350px;
}

.pt-280 {
  padding-top: 280px;
}

.pt-260 {
  padding-top: 260px;
}

.pt-250 {
  padding-top: 250px;
}

.pt-240 {
  padding-top: 240px;
}

.pt-230 {
  padding-top: 230px;
}

.pt-220 {
  padding-top: 220px;
}

.pt-200 {
  padding-top: 200px;
}

.pt-190 {
  padding-top: 190px;
}

.pt-180 {
  padding-top: 180px;
}

@media screen and (min-width: 767px) {
  .pt-md-220 {
    padding-top: -220px;
  }
}

.pt-25 {
  padding-top: 25px;
}

.pb-350 {
  padding-bottom: 350px;
}

.pb-260 {
  padding-bottom: 250px;
}

.pb-250 {
  padding-bottom: 250px;
}

.pb-240 {
  padding-bottom: 240px;
}

.pb-230 {
  padding-bottom: 230px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pb-190 {
  padding-bottom: 190px;
}

.pb-180 {
  padding-bottom: 180px;
}

.pb-170 {
  padding-bottom: 180px;
}

.pr-120 {
  padding-right: 120px;
}

.pr-90 {
  padding-right: 90px;
}

.pl-90 {
  padding-left: 90px;
}

.pr-100 {
  padding-right: 90px;
}

.pl-100 {
  padding-left: 90px;
}

.pl-95 {
  padding-left: 90px;
}

@media screen and (min-width: 992px) {
  .pl-lg-100 {
    padding-left: 100px;
  }
}

@media screen and (min-width: 992px) {
  .pr-lg-100 {
    padding-right: 100px;
  }
}

/*
// Script styles
// ================================= */
#toTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  background: #2775FF;
  border-radius: 50%;
  overflow: hidden;
  text-decoration: none;
  z-index: 1200;
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

#toTop:before {
  font-family: "Font Awesome\ 5 Free";
  content: '\f106';
  font-weight: 900;
  font-size: 26px;
}

#toTop:hover, #toTop:focus {
  color: #fff;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  text-decoration: none;
}

@media (min-width: 576px) {
  #toTop {
    right: 34px;
    bottom: 34px;
  }
}

/*
// Header
// ================ */
.no-wrap {
  white-space: nowrap;
}

.main-header {
  position: relative;
}

/*
// Main
// ================ */
/*
// Footer
// ================ */
/*.main-footer {

}*/
.brk-svg-pattern-container {
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: 3;
}

.brk-svg-pattern-container svg {
  position: absolute;
  width: -webkit-calc(100% + 2px);
  width: calc(100% + 2px);
}

.brk-svg-pattern-container_top {
  top: 0;
}

.brk-svg-pattern-container_top svg {
  top: -5px;
}

.brk-svg-pattern-container_bottom {
  bottom: 0;
}

.brk-svg-pattern-container_bottom svg {
  bottom: -5px;
}

.img-icon {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.brk-wave-line {
  display: block;
  width: 100%;
  height: 7px;
  background-image: url("../../img/wave-line.png");
  background-repeat: repeat-x;
  background-color: transparent;
  border: 0;
}

.brk-wave-line-blue {
  display: block;
  width: 100%;
  height: 7px;
  background-image: url("../../img/wave-line-2.png");
  background-repeat: repeat-x;
  background-color: transparent;
  border: 0;
}

.centering-child-img img,
.centering-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/*shapes*/
.full__size-absolute {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.brk-rating {
  position: relative;
  width: 89px;
}

.brk-rating__layer:before, .brk-rating__layer:after {
  content: " ";
  display: table;
}

.brk-rating__layer:after {
  clear: both;
}

.brk-rating__layer i {
  display: inline-block;
  float: left;
  font-size: 0.875rem;
  margin: 0 1px;
}

.brk-rating__imposition {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.brk-rating__imposition:before, .brk-rating__imposition:after {
  content: " ";
  display: table;
}

.brk-rating__imposition:after {
  clear: both;
}

.brk-rating__imposition .visible {
  width: 89px;
  height: 15px;
}

.brk-rating__imposition i {
  display: inline-block;
  float: left;
  font-size: 0.875rem;
  margin: 0 1px;
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.brk-lightning-effect {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.brk-lightning-effect:before {
  content: '';
  width: 50px;
  position: absolute;
  top: 0;
  left: -50px;
  bottom: 0;
  z-index: 9;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.2)), color-stop(50%, white), to(rgba(255, 255, 255, 0.2)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0%, white 50%, rgba(255, 255, 255, 0.2) 100%);
}

.brk-lightning-effect:hover:before {
  -webkit-animation: lightning-effect 2s infinite ease-in-out;
          animation: lightning-effect 2s infinite ease-in-out;
}

@-webkit-keyframes lightning-effect {
  0% {
    left: -50px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.2)), color-stop(50%, white), to(rgba(255, 255, 255, 0.2)));
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0%, white 50%, rgba(255, 255, 255, 0.2) 100%);
  }
  50% {
    left: 100%;
  }
  100% {
    left: -50px;
    background: transparent;
  }
}

@keyframes lightning-effect {
  0% {
    left: -50px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.2)), color-stop(50%, white), to(rgba(255, 255, 255, 0.2)));
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0%, white 50%, rgba(255, 255, 255, 0.2) 100%);
  }
  50% {
    left: 100%;
  }
  100% {
    left: -50px;
    background: transparent;
  }
}

.brk-bg-center-cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.brk-bg-center-cover .container {
  z-index: 2;
  position: relative;
}

.brk-bg-right-center {
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}

.brk-bg-left-center {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* brk-gutters-5 */
.brk-gutters-5 {
  margin-right: -5px;
  margin-left: -5px;
}

.brk-gutters-5 > .col,
.brk-gutters-5 > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

/* brk-gutters-5 */
/* brk-gutters-10 */
.brk-gutters-10 {
  margin-right: -10px;
  margin-left: -10px;
}

.brk-gutters-10 > .col,
.brk-gutters-10 > [class*="col-"] {
  padding-right: 10px;
  padding-left: 10px;
}

/* brk-gutters-10 */
/* brk-gutters-30 */
.brk-gutters-30 {
  margin-right: -30px;
  margin-left: -30px;
}

.brk-gutters-30 > .col,
.brk-gutters-30 > [class*="col-"] {
  padding-right: 30px;
  padding-left: 30px;
}

/* brk-gutters-30 */
/*backgrounds*/
.bg-cover {
  background-size: cover;
}

.bg-contain {
  background-size: contain;
}

@media screen and (min-width: 1200px) {
  .bg-lg-contain {
    background-size: contain;
  }
}

.bg-norepeat {
  background-repeat: no-repeat;
}

.bg-repeat {
  background-repeat: repeat;
}

.bg-position_top-left {
  background-position: left top;
}

.bg-position_top-center {
  background-position: center top;
}

.bg-position_top-right {
  background-position: right top;
}

.bg-position_bottom-left {
  background-position: left bottom;
}

.bg-position_bottom-center {
  background-position: center bottom;
}

.bg-position_bottom-right {
  background-position: right bottom;
}

.bg-position_left-center {
  background-position: left center;
}

.bg-position_right-center {
  background-position: right center;
}

.bg-position_center {
  background-position: center center;
}

/* hexagon */
.hexagon {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  height: 320px;
  margin: 0 auto;
  background: #fff;
  padding: 30px 30px;
  -webkit-clip-path: polygon(80% 0, 100% 50%, 80% 100%, 20% 100%, 0 50%, 20% 0);
          clip-path: polygon(80% 0, 100% 50%, 80% 100%, 20% 100%, 0 50%, 20% 0);
  position: relative;
  z-index: 1;
}

@media (min-width: 480px) {
  .hexagon {
    width: 430px;
    height: 380px;
    padding: 30px 70px;
    -webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
            clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  }
}

@media (min-width: 1200px) {
  .hexagon {
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .hexagon__wrap {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
  }
}

@media (min-width: 1200px) {
  .hexagon__wrap {
    margin: -180px auto;
  }
  .hexagon__wrap .hexagon {
    margin: 0;
  }
}

.hexagon > .after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  width: -webkit-calc(100% + 4px);
  width: calc(100% + 4px);
  height: -webkit-calc(100% + 4px);
  height: calc(100% + 4px);
  background: #2775FF;
  background: -webkit-gradient(linear, right top, left top, from(#2775FF), to(#7202bb));
  background: linear-gradient(to left, #2775FF, #7202bb);
  -webkit-clip-path: polygon(80% 0, 100% 50%, 80% 100%, 20% 100%, 0 50%, 20% 0);
          clip-path: polygon(80% 0, 100% 50%, 80% 100%, 20% 100%, 0 50%, 20% 0);
  opacity: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  will-change: transform;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  z-index: -1;
}

@media (min-width: 480px) {
  .hexagon > .after {
    -webkit-clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
            clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
  }
}

.hexagon .highlight-massive > .after {
  height: 3px;
  top: 98%;
}

.hexagon .btn {
  background: transparent;
  color: #fff;
  opacity: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-right: 0;
  margin-left: 0;
}

.hexagon .btn > .before, .hexagon .btn > .after {
  background: #fff;
}

.hexagon .btn .border-btn {
  border-color: #fff;
}

.hexagon .btn:hover {
  color: #333 !important;
}

.hexagon .cover {
  position: relative;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

/* brk-subscribe */
.brk-subscribe {
  position: relative;
}

.brk-subscribe [type="email"] {
  border-radius: 27px;
  padding: 0 33px;
  font-size: 0.875rem;
  border: 0;
}

.brk-subscribe button,
.brk-subscribe [type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

[dir="rtl"] .brk-subscribe button, [dir="rtl"]
.brk-subscribe [type="submit"] {
  right: auto;
  left: 0;
}

.brk-subscribe button i,
.brk-subscribe [type="submit"] i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1rem;
  font-weight: 400;
  vertical-align: 0;
}

.brk-subscribe-map [type="email"] {
  background-color: #fff;
  box-shadow: 0 5px 16px rgba(165, 165, 165, 0.5);
  color: #0F5AE0;
  padding: 16px 33px;
  width: 100%;
}

.brk-subscribe-map [type="email"]::-webkit-input-placeholder {
  color: #0F5AE0;
  opacity: 1;
}

.brk-subscribe-map [type="email"]::-ms-input-placeholder {
  color: #0F5AE0;
  opacity: 1;
}

.brk-subscribe-map [type="email"]:-ms-input-placeholder {
  color: #0F5AE0;
  opacity: 1;
}

.brk-subscribe-map [type="email"]::placeholder {
  color: #0F5AE0;
  opacity: 1;
}

.brk-subscribe-map button {
  background-color: #fff;
  box-shadow: 0 5px 16px rgba(39, 117, 255, 0.5);
}

.brk-subscribe-map [type="submit"] {
  background-color: #fff;
  box-shadow: 0 5px 16px rgba(39, 117, 255, 0.5);
}

.brk-subscribe-map button i {
  color: #2775FF;
}

.brk-subscribe-map [type="submit"] i {
  color: #2775FF;
}

.brk-subscribe-solid .brk-form-wrap {
  margin-top: 0;
  -webkit-box-flex: 1;
          flex-grow: 1;
}

@media screen and (min-width: 992px) {
  .brk-subscribe-solid .brk-form-strict {
    margin-left: 25px;
  }
}

.brk-subscribe-solid button {
  margin-left: 0;
  padding-left: 55px;
  padding-right: 55px;
}

@media screen and (min-width: 992px) {
  .brk-subscribe-solid button {
    margin-left: 20px;
  }
}

.brk-subscribe-solid button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.brk-subscribe-solid .brk-form-strict [type=text],
.brk-subscribe-solid .brk-form-strict [type=password],
.brk-subscribe-solid .brk-form-strict [type=email],
.brk-subscribe-solid .brk-form-strict [type=tel] {
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  color: #fff !important;
}

.brk-subscribe-solid .brk-form-strict [type=text] + .input-label,
.brk-subscribe-solid .brk-form-strict [type=password] + .input-label,
.brk-subscribe-solid .brk-form-strict [type=email] + .input-label,
.brk-subscribe-solid .brk-form-strict [type=tel] + .input-label {
  color: #fff !important;
}

/* trapezoid  */
.brk-trapezoid-left {
  -webkit-clip-path: polygon(0 70px, 100% 0, 100% 100%, 0 -webkit-calc(100% - 70px));
          clip-path: polygon(0 70px, 100% 0, 100% 100%, 0 calc(100% - 70px));
  position: relative;
  margin-top: -70px;
  margin-bottom: -70px;
  z-index: 1;
  overflow: hidden;
}

.brk-trapezoid-right {
  -webkit-clip-path: polygon(0 0, 100% 190px, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 190px, 100% 100%, 0% 100%);
}

@media screen and (max-width: 576px) {
  .brk-trapezoid-right {
    -webkit-clip-path: none;
            clip-path: none;
  }
}

.brk-trapezoid-top {
  -webkit-clip-path: polygon(0 180px, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 180px, 100% 0, 100% 100%, 0% 100%);
  margin-top: -180px;
}

@media screen and (max-width: 576px) {
  .brk-trapezoid-top {
    -webkit-clip-path: none;
            clip-path: none;
    margin-top: 0;
  }
}

.brk-trapezoid-left-1 {
  -webkit-clip-path: polygon(0 180px, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 180px, 100% 0, 100% 100%, 0% 100%);
  margin-top: -180px;
}

@media screen and (max-width: 576px) {
  .brk-trapezoid-left-1 {
    -webkit-clip-path: none;
            clip-path: none;
    margin-top: 0;
  }
}

.brk-trapezoid-left-2 {
  -webkit-clip-path: polygon(0 180px, 100% 0, 100% 100%, 0 -webkit-calc(100% - 120px));
          clip-path: polygon(0 180px, 100% 0, 100% 100%, 0 calc(100% - 120px));
  margin-top: -180px;
  margin-bottom: -120px;
}

@media screen and (max-width: 576px) {
  .brk-trapezoid-left-2 {
    -webkit-clip-path: none;
            clip-path: none;
    margin-top: 0;
  }
}

.brk-parallelogram-1 {
  -webkit-clip-path: polygon(0 180px, 100% 0, 100% -webkit-calc(100% - 180px), 0 100%);
          clip-path: polygon(0 180px, 100% 0, 100% calc(100% - 180px), 0 100%);
  margin-top: -150px;
  margin-bottom: -180px;
}

@media screen and (max-width: 576px) {
  .brk-parallelogram-1 {
    -webkit-clip-path: none;
            clip-path: none;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.brk-left-overflow-image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: -450px 20px;
}

.brk-bg-circle {
  position: relative;
}

.brk-bg-circle::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-52%, -50%);
          transform: translate(-52%, -50%);
  width: -webkit-calc(100% + 250px);
  width: calc(100% + 250px);
  padding-top: 150%;
  border-radius: 100%;
  z-index: -1;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(39, 117, 255, 0.88)), to(rgba(114, 2, 187, 0.88)));
  background-image: linear-gradient(to right, rgba(39, 117, 255, 0.88) 0%, rgba(114, 2, 187, 0.88) 100%);
}

@media screen and (max-width: 576px) {
  .brk-bg-circle::after {
    width: 500%;
    padding-top: 500%;
    border-radius: 0;
  }
}

.brk-top-triangle {
  position: relative;
}

.brk-top-triangle::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 149px;
  background-color: #fff;
  z-index: 1;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
          clip-path: polygon(0 0, 0 100%, 100% 0);
}

.brk-bottom-triangle {
  position: relative;
}

.brk-bottom-triangle::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: #fff;
  z-index: 1;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
          clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.grayscale-100 {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.grayscale-50 {
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
}

/* Base background-image */
.brk-bgi-1 {
  background-image: url("../../img/bg-patterns/1.png") !important;
}

.brk-bgi-2 {
  background-image: url("../../img/bg-patterns/2.png") !important;
}

.brk-bgi-3 {
  background-image: url("../../img/bg-patterns/3.png") !important;
}

.brk-bgi-4 {
  background-image: url("../../img/bg-patterns/4.png") !important;
}

.brk-bgi-5 {
  background-image: url("../../img/bg-patterns/5.png") !important;
}

.brk-bgi-6 {
  background-image: url("../../img/bg-patterns/6.png") !important;
}

.brk-bgi-7 {
  background-image: url("../../img/bg-patterns/7.png") !important;
}

.brk-bgi-8 {
  background-image: url("../../img/bg-patterns/8.png") !important;
}

.brk-bgi-9 {
  background-image: url("../../img/bg-patterns/9.png") !important;
}

.brk-bgi-10 {
  background-image: url("../../img/bg-patterns/10.png") !important;
}

.brk-bgi-11 {
  background-image: url("../../img/bg-patterns/11.png") !important;
}

.brk-bgi-12 {
  background-image: url("../../img/bg-patterns/12.png") !important;
}

.brk-bgi-13 {
  background-image: url("../../img/bg-patterns/13.png") !important;
}

.brk-bgi-14 {
  background-image: url("../../img/bg-patterns/14.png") !important;
}

.brk-bgi-15 {
  background-image: url("../../img/bg-patterns/15.png") !important;
}

.brk-bg-pattern {
  background-repeat: repeat !important;
  background-size: auto !important;
  background-position: 0 0 !important;
}

.brk-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 22, 41, 0.4);
  z-index: 98;
}

.added_to_cart {
  display: inline-block;
  margin: 10px;
  background-color: #fff;
  border-radius: 27px;
  padding: 15px 20px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  box-shadow: 0 5px 16px rgba(39, 117, 255, 0.5);
  color: #2775FF;
}

.border-top-3 {
  border-top-width: 3px;
  border-top-style: solid;
}

.border-right-3 {
  border-right-width: 3px;
  border-right-style: solid;
}

.border-bottom-3 {
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

.border-left-3 {
  border-left-width: 3px;
  border-left-style: solid;
}

.pseudo-border-bottom-3 {
  position: relative;
}

.pseudo-border-bottom-3:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
}

.brk-abs-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.brk-abs-bg-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.brk-abs-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -2;
}

/* alignment blocks */
.brk-align-left {
  margin-right: auto;
}

.brk-align-right {
  margin-left: auto;
}

.brk-align-center {
  margin-left: auto;
  margin-right: auto;
}

/* alignment blocks */
/* positioning */
@media screen and (min-width: 576px) {
  .position-sm-absolute {
    position: absolute !important;
  }
}

@media screen and (min-width: 576px) {
  .position-sm-relative {
    position: relative !important;
  }
}

@media screen and (min-width: 576px) {
  .position-sm-static {
    position: static !important;
  }
}

@media screen and (min-width: 768px) {
  .position-md-absolute {
    position: absolute !important;
  }
}

@media screen and (min-width: 768px) {
  .position-md-relative {
    position: relative !important;
  }
}

@media screen and (min-width: 768px) {
  .position-md-static {
    position: static !important;
  }
}

@media screen and (min-width: 992px) {
  .position-lg-absolute {
    position: absolute !important;
  }
}

@media screen and (min-width: 992px) {
  .position-lg-relative {
    position: relative !important;
  }
}

@media screen and (min-width: 992px) {
  .position-lg-static {
    position: static !important;
  }
}

@media screen and (min-width: 1200px) {
  .position-xl-absolute {
    position: absolute !important;
  }
}

@media screen and (min-width: 1200px) {
  .position-xl-relative {
    position: relative !important;
  }
}

@media screen and (min-width: 1200px) {
  .position-xl-static {
    position: static !important;
  }
}

/* positioning */
/* z-index */
.brk-z-index-0 {
  z-index: 0;
}

.brk-z-index-10 {
  z-index: 10;
}

.brk-z-index-20 {
  z-index: 20;
}

.brk-z-index-30 {
  z-index: 30;
}

.brk-z-index-40 {
  z-index: 40;
}

.brk-z-index-50 {
  z-index: 50;
}

.brk-z-index--1 {
  z-index: -1;
}

.brk-z-index--2 {
  z-index: -2;
}

.brk-z-index--3 {
  z-index: -3;
}

.brk-z-index--4 {
  z-index: -4;
}

.brk-z-index--5 {
  z-index: -5;
}

/* z-index */
/* brk-before/after-element */
.brk-before-element,
.brk-after-element {
  position: absolute;
  left: 0;
  right: 0;
}

.brk-before-element svg,
.brk-after-element svg {
  max-width: 100%;
}

.brk-before-element-svg,
.brk-after-element-svg {
  position: absolute;
  left: 0;
  right: 0;
  max-width: 100%;
}

.brk-before-element_bevel-right,
.brk-after-element_bevel-right {
  overflow: hidden;
  height: 80px;
  background: #fff;
}

@media (max-width: 991px) {
  .brk-before-element_bevel-right,
  .brk-after-element_bevel-right {
    display: none;
  }
}

.brk-before-element {
  top: 0;
}

.brk-before-element svg {
  margin-top: -1px;
}

.brk-before-element-svg {
  top: -1px;
}

.brk-before-element_bevel-right {
  -webkit-clip-path: polygon(0 0, 100% 100%, 100% 0);
  clip-path: polygon(0 0, 100% 100%, 100% 0);
}

.brk-after-element {
  bottom: 0;
}

.brk-after-element svg {
  margin-bottom: -1px;
}

.brk-after-element-svg {
  bottom: -1px;
}

.brk-after-element_bevel-right {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0);
  clip-path: polygon(0 100%, 100% 100%, 100% 0);
}

/* brk-before/after-element */
/* brk-layer */
.brk-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

/* brk-layer */
.brk-dashed-divider {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  background-image: url("../../img/dashed-divider.svg");
  background-repeat: repeat-x;
  border: 0;
}

.brk-text-fill {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.brk-text-clip {
  -webkit-background-clip: text;
}

.parallax-bg {
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  will-change: background-position;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.w-50 {
  width: 50%;
}

.w-40 {
  width: 40%;
}

.brk-fa-replace:before {
  content: '' !important;
  display: none;
}

.brk-fa-replace svg {
  width: 14px;
  height: 14px;
}

/* Fancybox
// ====================*/
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: #fff;
  color: #444;
  padding: 0 !important;
}

.fancybox-skin iframe {
  width: 100%;
  height: 100%;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-image {
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.fancybox-close {
  position: absolute;
  top: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 8040;
  background: #222;
}

.fancybox-close:before, .fancybox-close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  background: #fff;
  width: 18px;
  height: 1px;
  border: none;
}

.fancybox-close:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.fancybox-nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: #fff;
  z-index: 8040;
}

.fancybox-next:before, .fancybox-prev:before {
  content: '';
  position: absolute;
  bottom: 14px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(-45deg);
  transform: translateX(-50%) rotate(-45deg);
  background: gray;
  width: 15px;
  height: 2px;
  border: none;
}

.fancybox-next:after, .fancybox-prev:after {
  content: '';
  position: absolute;
  top: 14px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
  background: gray;
  width: 15px;
  height: 2px;
  border: none;
}

.fancybox-prev:before {
  transform: translateX(-50%) rotate(45deg);
  -webkit-transform: translateX(-50%) rotate(45deg);
}

.fancybox-prev:after {
  transform: translateX(-50%) rotate(-45deg);
  -webkit-transform: translateX(-50%) rotate(-45deg);
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}

.fancybox-lock body {
  overflow: hidden !important;
}

.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: rgba(0, 0, 0, 0.8);
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/*Retina graphics!*/

/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
/*
* Controls
* ================ */
.form-control {
  position: relative;
  margin: 0;
  padding: 0;
  background: transparent;
  box-shadow: none;
  border: none;
}

/*
input {
	width: 100%;
	height: 54px;
	border-radius: 25px;
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
	border: 2px solid rgba(255, 255, 255, 0.2);
	background: rgba(255, 255, 255, 0.12);
	color: $white;
	padding: 15px 60px 15px 35px;
	line-height: 24px;
	font-size: 16px;

	@include placeholder($white);

	& + .btn {
		border-radius: 50%;
		background: linear-gradient(-10deg, #15bdff, #00f6ff);
		color: $white;
		position: absolute;
		top: 6px;
		right: 6px;
		width: 42px;
		height: 42px;
		margin: 0;
		padding: 0;
		border: none;

		&:hover {
			[class*="fa-paper-plane"] {
				animation: flyOut 1.5s forwards;
			}
		}

		[class*="fa-"] {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			margin: 0;
			display: block;

			&:before {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		[class*="fa-paper-plane"] {
			transform-origin: left top;
			transform: translate(0, 0) scale(1) rotate(0);

			&:before {
				transform: translate(-50%, -50%);
			}
		}
	}
}
*/
@-webkit-keyframes flyOut {
  0% {
    -webkit-transform: translate(0, 0) scale(1) rotate(0);
            transform: translate(0, 0) scale(1) rotate(0);
  }
  50% {
    -webkit-transform: translate(150%, -150%) scale(0) rotate(-20deg);
            transform: translate(150%, -150%) scale(0) rotate(-20deg);
  }
  51% {
    -webkit-transform: translate(-50%, 150%) scale(0) rotate(-20deg);
            transform: translate(-50%, 150%) scale(0) rotate(-20deg);
  }
  100% {
    -webkit-transform: translate(0, 0) scale(1) rotate(0);
            transform: translate(0, 0) scale(1) rotate(0);
  }
}
@keyframes flyOut {
  0% {
    -webkit-transform: translate(0, 0) scale(1) rotate(0);
            transform: translate(0, 0) scale(1) rotate(0);
  }
  50% {
    -webkit-transform: translate(150%, -150%) scale(0) rotate(-20deg);
            transform: translate(150%, -150%) scale(0) rotate(-20deg);
  }
  51% {
    -webkit-transform: translate(-50%, 150%) scale(0) rotate(-20deg);
            transform: translate(-50%, 150%) scale(0) rotate(-20deg);
  }
  100% {
    -webkit-transform: translate(0, 0) scale(1) rotate(0);
            transform: translate(0, 0) scale(1) rotate(0);
  }
}

.badge:not(a).badge-primary {
  background: -webkit-gradient(linear, left top, right top, from(#00c6ff), to(#00f6ff));
  background: linear-gradient(to right, #00c6ff, #00f6ff);
  color: #fff;
  border-radius: 50px;
  padding: 0 20px;
}

a.badge .badge-primary {
  background: -webkit-gradient(linear, left bottom, left top, from(#337EFF), to(#0FC8FF));
  background: linear-gradient(to top, #337EFF, #0FC8FF);
  color: #fff;
  vertical-align: middle;
}

.divider-dashed {
  width: 100%;
  display: block;
  margin: 30px 0 25px;
  float: left;
  position: relative;
}

.divider-dashed:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  height: 0;
  width: 100%;
  opacity: 0.2;
  border-bottom: 1px dashed;
}

/*# sourceMappingURL=maps/bundle.css.map */
