.breadcrumbs__section {
  height: 258px;
}

body .h-100,
.brk-testimonials-dash-three .dash-three-slider .swiper-slide,
.swiper-wrapper,
.flip__front,
.slick-slide,
.swiper-slide,
.timeline--strict .timeline__content,
.brs-post_simple .brs-post__img-container,
.brs-post_quote .brs-post__body,
.btn-lightning span:not(.bg),
.brk-sc-row-three__slide .row,
.brk-tiles-full,
.img-figure-triangle img,
.img-figure-gradient img,
.services-architecture-bg,
.brk-sc-card-horizontal__img-container,
.brk-sc-card-horizontal__img,
.brk-sc-card-horizontal__about,
.brk-sc-tiles-trend {
  height: auto !important;
}

#rev_slider_37_1_wrapper,
#rev_slider_37_1_forcefullwidth,
#rev_slider_38_1_wrapper,
#rev_slider_38_1_forcefullwidth,
#rev_slider_62_1_wrapper,
#rev_slider_62_1_forcefullwidth,
#rev_slider_47_1_wrapper,
#rev_slider_47_1_forcefullwidth,
#rev_slider_29_1_wrapper,
#rev_slider_29_1_forcefullwidth,
#rev_slider_13_1_wrapper,
#rev_slider_13_1_forcefullwidth,
#rev_slider_30_1_wrapper,
#rev_slider_30_1_forcefullwidth,
#rev_slider_34_1_wrapper,
#rev_slider_34_1_forcefullwidth,
#rev_slider_16_1_wrapper,
#rev_slider_16_1_forcefullwidth,
#rev_slider_36_1_wrapper,
#rev_slider_36_1_forcefullwidth,
#rev_slider_19_1_wrapper,
#rev_slider_19_1_forcefullwidth,
#rev_slider_18_1_wrapper,
#rev_slider_18_1_forcefullwidth,
#rev_slider_64_1_wrapper,
#rev_slider_64_1_forcefullwidth,
#rev_slider_10_1_wrapper,
#rev_slider_10_1_forcefullwidth {
  height: 100vh !important;
  overflow: hidden !important;
}

#rev_slider_37_1,
#rev_slider_37_1_wrapper .tp-revslider-slidesli,
#rev_slider_37_1_wrapper .tp-revslider-mainul,
#rev_slider_37_1_wrapper .tp-fullwidth-forcer,
#rev_slider_38_1,
#rev_slider_38_1_wrapper .tp-revslider-slidesli,
#rev_slider_38_1_wrapper .tp-revslider-mainul,
#rev_slider_38_1_wrapper .tp-fullwidth-forcer,
#rev_slider_62_1,
#rev_slider_62_1_wrapper .tp-revslider-slidesli,
#rev_slider_62_1_wrapper .tp-revslider-mainul,
#rev_slider_62_1_wrapper .tp-fullwidth-forcer,
#rev_slider_47_1,
#rev_slider_47_1_wrapper .tp-revslider-slidesli,
#rev_slider_47_1_wrapper .tp-revslider-mainul,
#rev_slider_47_1_wrapper .tp-fullwidth-forcer,
#rev_slider_29_1,
#rev_slider_29_1_wrapper .tp-revslider-slidesli,
#rev_slider_29_1_wrapper .tp-revslider-mainul,
#rev_slider_29_1_wrapper .tp-fullwidth-forcer,
#rev_slider_13_1,
#rev_slider_13_1_wrapper .tp-revslider-slidesli,
#rev_slider_13_1_wrapper .tp-revslider-mainul,
#rev_slider_13_1_wrapper .tp-fullwidth-forcer,
#rev_slider_30_1,
#rev_slider_30_1_wrapper .tp-revslider-slidesli,
#rev_slider_30_1_wrapper .tp-revslider-mainul,
#rev_slider_30_1_wrapper .tp-fullwidth-forcer,
#rev_slider_34_1,
#rev_slider_34_1_wrapper .tp-revslider-slidesli,
#rev_slider_34_1_wrapper .tp-revslider-mainul,
#rev_slider_34_1_wrapper .tp-fullwidth-forcer,
#rev_slider_16_1,
#rev_slider_16_1_wrapper .tp-revslider-slidesli,
#rev_slider_16_1_wrapper .tp-revslider-mainul,
#rev_slider_16_1_wrapper .tp-fullwidth-forcer,
#rev_slider_36_1,
#rev_slider_36_1_wrapper .tp-revslider-slidesli,
#rev_slider_36_1_wrapper .tp-revslider-mainul,
#rev_slider_36_1_wrapper .tp-fullwidth-forcer,
#rev_slider_19_1,
#rev_slider_19_1_wrapper .tp-revslider-slidesli,
#rev_slider_19_1_wrapper .tp-revslider-mainul,
#rev_slider_19_1_wrapper .tp-fullwidth-forcer,
#rev_slider_18_1,
#rev_slider_18_1_wrapper .tp-revslider-slidesli,
#rev_slider_18_1_wrapper .tp-revslider-mainul,
#rev_slider_18_1_wrapper .tp-fullwidth-forcer,
#rev_slider_64_1,
#rev_slider_64_1_wrapper .tp-revslider-slidesli,
#rev_slider_64_1_wrapper .tp-revslider-mainul,
#rev_slider_64_1_wrapper .tp-fullwidth-forcer,
#rev_slider_10_1,
#rev_slider_10_1_wrapper .tp-revslider-slidesli,
#rev_slider_10_1_wrapper .tp-revslider-mainul,
#rev_slider_10_1_wrapper .tp-fullwidth-forcer {
  height: 100vh !important;
}

.brk-testimonials-layered-horizontal .overlay-horizontal {
  top: 30px !important;
  bottom: 30px !important;
  transform: translateX(-50%) !important;
  height: auto !important;
}

.brk-testimonials-layered-vertical .swiper-wrapper {
  height: 370px!important;
}

.brk-form_footer-9 .brk-form__textarea-container {
  height: 252px !important;
}

.brk-sc-flip-four .flip__front {
  height: 100% !important;
}

.logo-set__img,
.logo-set-dark__img,
.logo-set-1 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.brk-footer .brk-map {
 /* height: 600px !important; */
}

.brk-sc-row-three__thumb {
  height: 560px !important;
}

.brk-testimonials-circle .swiper-slide,
.brk-sc-flip-one__front,
.flip__back {
  height: 100% !important;
}

.imp-shape-container {
  bottom: 0 !important;
  height: auto !important;
}

body .imp-zoom-wrap > img {
  height: auto !important;
}

.brk-sc-tiles-banner {
  height: 362px;
}

.brk-sc-row-two__container {
  height: 496px !important;
}

.timeline--strict .swiper-slide {
  width: 100% !important;
}

.brk-sc-tiles-trend__content {
  height: 513px !important;
}

.brk-tables-lines__sort-nav {
  height: 68px !important;
}

.brk-tabs-simple .brk-tab {
  text-align: center;
}

.brk-map_extra {
  height: 600px !important;
}