/* Fancybox
// ====================*/
.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #fff;
	color: #444;
	padding: 0 !important;
	iframe {
		width: 100%;
		height: 100%;
	}
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-image {
	height: 100%;
	max-width: 100%;
	max-height: 100%;
}

.fancybox-close {
	position: absolute;
	top: -30px;
	right: 0;
	width: 30px;
	height: 30px;
	cursor: pointer;
	z-index: 8040;
	background: #222;
	&:before, &:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%) rotate(-45deg);
		transform: translate(-50%, -50%) rotate(-45deg);
		background: #fff;
		width: 18px;
		height: 1px;
		border: none;
	}
	&:after {
		-webkit-transform: translate(-50%, -50%) rotate(45deg);
		transform: translate(-50%, -50%) rotate(45deg);
	}
}

.fancybox-nav {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: #fff;
	z-index: 8040;
}

.fancybox-next, .fancybox-prev {
	&:before {
		content: '';
		position: absolute;
		bottom: 14px;
		left: 50%;
		-webkit-transform: translateX(-50%) rotate(-45deg);
		transform: translateX(-50%) rotate(-45deg);
		background: gray;
		width: 15px;
		height: 2px;
		border: none;
	}
	&:after {
		content: '';
		position: absolute;
		top: 14px;
		left: 50%;
		-webkit-transform: translateX(-50%) rotate(45deg);
		transform: translateX(-50%) rotate(45deg);
		background: gray;
		width: 15px;
		height: 2px;
		border: none;
	}
}

.fancybox-prev:before {
	transform: translateX(-50%) rotate(45deg);
	-webkit-transform: translateX(-50%) rotate(45deg);
}

.fancybox-prev:after {
	transform: translateX(-50%) rotate(-45deg);
	-webkit-transform: translateX(-50%) rotate(-45deg);
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

/* Overlay helper */
.fancybox-lock {
	overflow: hidden !important;
	width: auto;
}

.fancybox-lock body {
	overflow: hidden !important;
}

.fancybox-lock-test {
	overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: rgba(0,0,0,.8);
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

}