%brk-dashed-border-primary-light {
  background: url(../../img/sprite.png) 0px 0px;
  width: 396px;
  height: 1px;
}
%brk-dashed-border-primary {
  background: url(../../img/sprite.png) 0px -11px;
  width: 396px;
  height: 1px;
}
%brk-dashed-border {
  background: url(../../img/sprite.png) 0px -22px;
  width: 768px;
  height: 1px;
}
%brk-hatch_1 {
  background: url(../../img/sprite.png) 0px -33px;
  width: 10px;
  height: 1px;
}
