.brk-preloader {
  position: relative;
  overflow: hidden;
  height: 100vh; }
  .brk-preloader.brk-preloader-remove:before, .brk-preloader.brk-preloader-remove:after {
    opacity: 0;
    visibility: hidden; }
  .brk-preloader:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    opacity: 1;
    visibility: visible;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    background-color: #fff; }
  .brk-preloader:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 87px;
    height: 87px;
    background: url(../../img/preloader.gif) no-repeat center center;
    background-size: 100%;
    opacity: 1;
    visibility: visible;
    transition-property: opacity, visibility;
    transition-duration: 1s;
    z-index: 1001; }

/*.brk-preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	z-index: 99999;

	&-body {
		overflow: hidden;
		max-width: 100%;
		height: 100vh;
	}

	&__loader {
		display: block;
		position: relative;
		left: 50%;
		top: 50%;
		width: 150px;
		height: 150px;
		margin: -75px 0 0 -75px;
		border-radius: 50%;
		border: 3px solid transparent;
		border-top-color: #2775FF;
		-webkit-animation: spin 2s linear infinite;
		animation: spin 2s linear infinite;

		&:before {
			content: "";
			position: absolute;
			top: 5px;
			left: 5px;
			right: 5px;
			bottom: 5px;
			border-radius: 50%;
			border: 3px solid transparent;
			border-top-color: #7202bb;
			-webkit-animation: spin 3s linear infinite;
			animation: spin 3s linear infinite;
		}

		&:after {
			content: "";
			position: absolute;
			top: 15px;
			left: 15px;
			right: 15px;
			bottom: 15px;
			border-radius: 50%;
			border: 3px solid transparent;
			border-top-color: #b50aff;
			-webkit-animation: spin 1.5s linear infinite;
			animation: spin 1.5s linear infinite;
		}
	}
}

@keyframes spin {
	0%   {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
*/
