.divider-lines {
  display: none;
}

.brs-portfolio {
  &-carousel {
    &-item {
      .slick-list {
        margin-left: -15px;
        margin-right: -15px;
      }
      .slick-slide {
        padding-left: 0;
        padding-right: 0;
      }
      .slick-dots {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        // li {
        //   width: 26px;
        //   height: 9px;
        //   overflow: hidden;
        //   color: transparent;
        //   background-color: transparent;
        //   margin-right: 10px;
        //   cursor: pointer;
        //   border-radius: 20px;
        //   border: 1px solid rgba(0, 0, 0, 0.13);
        //   box-shadow: inset 0 0 0 1px var(--white);

        //   &:last-child {
        //     margin-right: 0;
        //   }
        //   button {
        //     background-color: transparent;
        //     width: 100%;
        //     height: 100%;
        //   }
        // }
        .slick-active {
          // background-image: linear-gradient(
          //                 90deg,
          //                 rgba(var(--brand-primary-rgb), 0.92),
          //                 rgba(var(--brk-secondary-3-rgb), 0.92)
          // );
          // border: 1px solid rgba(0, 0, 0, 0.13);
        }
      }
    }
  }
  &-categories-item {
    display: flex;
    position: relative;
    height: 300px;
    width: 100%;
    padding: 39px 30px 0 39px;
    overflow: hidden;
    margin-bottom: 10px;
    &__img {
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      top: 0;
      object-fit: cover;
      object-position: center;
    }
    &__title {
      z-index: 1;
      text-transform: uppercase;
      opacity: 0;
      transition: .3s ease opacity;
      color: var(--white) !important;

      &:hover {
        cursor: pointer;
      }
      &:active,
      &:hover,
      &:visited,
      &:focus {
        color: var(--white);
      }
    }
    &__buttons {
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 0;
      transition: height .3s ease, .3s ease padding;
      clip-path: polygon(calc(100% + 1px) 0px, 0%  calc(100% + 1px), calc(100% + 1px) calc(100% + 1px));
      z-index: 1;
      padding-right: 14px;
      text-align: right;
      background-color: var(--white);
    }
    &__btn {
      padding: 10px 7px;
      position: relative;

      &:hover {
        .brs-portfolio-categories-item__btn__icon {
          color: var(--text-base-color-2);
        }
      }
    }
    &__btn__icon {
      font-size: 14px;
      color: #1a1b1b;
      vertical-align: middle;
    }
    &__overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(39, 39, 39, 0);
      transition: .3s ease background-color;
    }
    &:hover {
      .brs-portfolio-categories-item__buttons {
        height: 60px;
        padding-top: 27px;
      }
      .brs-portfolio-categories-item__title {
        opacity: 1;
      }
      .brs-portfolio-categories-item__overlay {
        background-color: rgba(39, 39, 39, 0.7);
      }
    }

  }
}