/*
* Text-style
* ================ */
.big {
  font-size: 18px; }

.font__family-open-sans {
  font-family: 'Open Sans', sans-serif; }

.font__family-montserrat {
  font-family: 'Montserrat', sans-serif; }

.font__family-montserrat-alt {
  font-family: 'Montserrat Alternates', sans-serif; }

.font__family-playfair {
  font-family: 'Playfair Display', sans-serif; }

.font__family-poppins {
  font-family: 'Poppins', sans-serif; }

.font__family-pacifico {
  font-family: 'Pacifico', sans-serif; }

.font__family-roboto {
  font-family: 'Roboto', sans-serif; }

.font__family-roboto-slab {
  font-family: 'Roboto Slab', sans-serif; }

.font__family-oxygen {
  font-family: 'Oxygen', sans-serif; }

.font__family-times-new-roman {
  font-family: 'Times New Roman', sans-serif; }

.font__weight-thin {
  font-weight: 100; }

.font__weight-ultralight {
  font-weight: 200; }

.font__weight-light {
  font-weight: 300; }

.font__weight-normal {
  font-weight: 400; }

.font__weight-medium {
  font-weight: 500; }

.font__weight-semibold {
  font-weight: 600; }

.font__weight-bold {
  font-weight: 700; }

.font__weight-extrabold {
  font-weight: 800; }

.font__size-224 {
  font-size: 4.75rem; }
  @media (min-width: 768px) {
    .font__size-224 {
      font-size: 224px; } }

.font__size-186 {
  font-size: 4.75rem; }
  @media (min-width: 768px) {
    .font__size-186 {
      font-size: 186px; } }

.font__size-124 {
  font-size: 4.75rem; }
  @media (min-width: 768px) {
    .font__size-124 {
      font-size: 124px; } }

.font__size-120 {
  font-size: 4.75rem; }
  @media (min-width: 768px) {
    .font__size-120 {
      font-size: 120px; } }

.font__size-106 {
  font-size: 3.125rem; }
  @media (min-width: 768px) {
    .font__size-106 {
      font-size: 106px; } }

.font__size-96 {
  font-size: 3.125rem; }
  @media (min-width: 768px) {
    .font__size-96 {
      font-size: 96px; } }

.font__size-86 {
  font-size: 86px; }

.font__size-84 {
  font-size: 5.25rem; }

.font__size-82 {
  font-size: 5.125rem; }

.font__size-78 {
  font-size: 3.5rem; }
  @media (min-width: 480px) {
    .font__size-78 {
      font-size: 66px; } }
  @media (min-width: 768px) {
    .font__size-78 {
      font-size: 78px; } }

.font__size-72 {
  font-size: 2.5rem; }
  @media (min-width: 768px) {
    .font__size-72 {
      font-size: 72px; } }

.font__size-64 {
  font-size: 2.5rem; }
  @media (min-width: 768px) {
    .font__size-64 {
      font-size: 64px; } }

.font__size-58 {
  font-size: 2.5rem; }
  @media (min-width: 768px) {
    .font__size-58 {
      font-size: 58px; } }

.font__size-56 {
  font-size: 2.5rem; }
  @media (min-width: 768px) {
    .font__size-56 {
      font-size: 56px; } }

.font__size-54 {
  font-size: 3.375rem; }

.font__size-50 {
  font-size: 3.125rem; }

.font__size-48 {
  font-size: 2.375rem; }
  @media (min-width: 768px) {
    .font__size-48 {
      font-size: 48px; } }

.font__size-42 {
  font-size: 2.625rem; }

.font__size-46 {
  font-size: 2.875rem; }

.font__size-40 {
  font-size: 2.5rem; }

.font__size-36 {
  font-size: 1.875rem; }
  @media (min-width: 768px) {
    .font__size-36 {
      font-size: 36px; } }

.font__size-36-i {
  font-size: 1.875rem !important; }
  @media (min-width: 768px) {
    .font__size-36-i {
      font-size: 36px !important; } }

.font__size-38 {
  font-size: 2.375rem; }

.font__size-36 {
  font-size: 2.25rem; }

.font__size-34 {
  font-size: 2.125rem; }

.font__size-32 {
  font-size: 2rem; }

.font__size-30 {
  font-size: 1.875rem; }

.font__size-28 {
  font-size: 1.75rem; }

.font__size-27 {
  font-size: 1.6875rem; }

.font__size-26 {
  font-size: 1.625rem; }

.font__size-25 {
  font-size: 1.5625rem; }

.font__size-24 {
  font-size: 1.5rem; }

.font__size-23 {
  font-size: 1.4375rem; }

.font__size-22 {
  font-size: 1.375rem; }

.font__size-21 {
  font-size: 1.3125rem; }

.font__size-20 {
  font-size: 1.25rem; }

.font__size-19 {
  font-size: 1.1875rem; }

.font__size-18 {
  font-size: 1.125rem; }

.font__size-17 {
  font-size: 1.0625rem; }

.font__size-16 {
  font-size: 1rem; }

.font__size-15 {
  font-size: 0.9375rem; }

.font__size-14 {
  font-size: 0.875rem; }

.font__size-13 {
  font-size: 0.8125rem; }

.font__size-12 {
  font-size: 0.75rem; }

.font__size-11 {
  font-size: 0.6875rem; }

.font__size-10 {
  font-size: 0.625rem; }

.font__style-italic {
  font-style: italic; }

.font__style-normal {
  font-style: normal; }

.font-weight-normal {
  font-weight: 400; }

.font-weight-bold {
  font-weight: 700; }

.font-weight-light {
  font-weight: 300; }

.font-weight-thin {
  font-weight: 100; }

.letter-spacing--100 {
  letter-spacing: -1px; }

.letter-spacing-1 {
  letter-spacing: 0.01em; }

.letter-spacing--1 {
  letter-spacing: -0.01em; }

.letter-spacing-20 {
  letter-spacing: 0.02em; }

.letter-spacing--20 {
  letter-spacing: -0.02em; }

.letter-spacing-40 {
  letter-spacing: 0.04em; }

.letter-spacing--40 {
  letter-spacing: -0.04em; }

.letter-spacing-60 {
  letter-spacing: 0.06em; }

.letter-spacing-100 {
  letter-spacing: 0.1em; }

.letter-spacing-200 {
  letter-spacing: 0.2em; }

.letter-spacing-300 {
  letter-spacing: 0.3em; }

.line__height-224 {
  line-height: 4.75rem; }
  @media (min-width: 768px) {
    .line__height-224 {
      line-height: 224px; } }

.line__height-96 {
  line-height: 50px; }
  @media (min-width: 768px) {
    .line__height-96 {
      line-height: 96px; } }

.line__height-88 {
  line-height: 50px; }
  @media (min-width: 768px) {
    .line__height-88 {
      line-height: 88px; } }

.line__height-84 {
  line-height: 84px; }

.line__height-78 {
  line-height: 50px; }
  @media (min-width: 768px) {
    .line__height-78 {
      line-height: 78px; } }

.line__height-68 {
  line-height: 50px; }
  @media (min-width: 768px) {
    .line__height-68 {
      line-height: 68px; } }

.line__height-64 {
  line-height: 64px; }

.line__height-60 {
  line-height: 60px; }

.line__height-56 {
  line-height: 56px; }

.line__height-52 {
  line-height: 52px; }

.line__height-50 {
  line-height: 50px; }

.line__height-48 {
  line-height: 48px; }

.line__height-46 {
  line-height: 46px; }

.line__height-44 {
  line-height: 44px; }

.line__height-42 {
  line-height: 42px; }

.line__height-40 {
  line-height: 40px; }

.line__height-38 {
  line-height: 38px; }

.line__height-36 {
  line-height: 36px; }

.line__height-34 {
  line-height: 34px; }

.line__height-32 {
  line-height: 32px; }

.line__height-30 {
  line-height: 30px; }

.line__height-28 {
  line-height: 28px; }

.line__height-27 {
  line-height: 27px; }

.line__height-26 {
  line-height: 26px; }

.line__height-24 {
  line-height: 24px; }

.line__height-22 {
  line-height: 22px; }

.line__height-21 {
  line-height: 21px; }

.line__height-20 {
  line-height: 20px; }

.line__height-19 {
  line-height: 19px; }

.line__height-16 {
  line-height: 16px; }

.line__height-15 {
  line-height: 15px; }

.line__height-14 {
  line-height: 14px; }

.line__height-12 {
  line-height: 12px; }

.line__height-10 {
  line-height: 10px; }

.line__height-8 {
  line-height: 8px; }
