@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.brk-portfolio-card {
  position: relative;
  display: block;
  flex: none;
  width: 100%;
  height: 380px;
  color: $white;
  perspective: 1000px;
  &__figure,
  &__image {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  &__image {
    object-fit: cover;
    object-position: center;
  }
  &__figure > * {
    transform: translateZ(0px);
  }
  .brk-tilter__figure {
    position: relative;
  }
  &__deco {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  &__caption {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 42px 34px 42px 34px;
  }
  &__category {
    color: var(--white);
    border-radius: 20px;
    text-transform: uppercase;
    margin-left: 1px;
    padding: 5px 18px;
    opacity: 0;
    transition: opacity 0.3s ease;
    box-shadow: 0 5px 16px rgba(var(--brand-primary-rgb), 0.5);
    background-color: var(--brand-primary);
  }
  &__title {
    margin-top: 20px;
    margin-left: 4px;
    color: $white;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  &__link {
    text-decoration: underline;
    text-transform: uppercase;
    color: $white;
    position: absolute;
    left: 41px;
    bottom: 41px;
    cursor: pointer;
    z-index: 4;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &__btn {
    &-reverse {
      color: var(--brand-primary) !important;
      background: var(--white);

      .before {
        background-color: var(--white);
      }
      .after {
        background-color: var(--white);
      }
    }
    &__icon {
      &::before {
        color: var(--brand-primary);
      }
    }
  }

  &__btn-reverse {
    position: absolute !important;
    right: 28px;
    bottom: 23px;
    font-weight: 100;
    z-index: 4;
    cursor: pointer;
    opacity: 0 !important;
    transition: opacity 0.3s ease;
    &__icon {
      font-size: 18px;
    
    }
  }
  &:hover {
    .brk-portfolio-card {
      &__deco,
      &__category,
      &__title,
      &__link,
      &__btn-reverse {
        opacity: 1 !important;
      }
      &__link {
        color: $white;
      }
    }
  }
}
