@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";


.brk-filters_style-2{

  border-radius: 50px;

  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.07);
  background-color: #ffffff;

  @media screen and (max-width: 991px){ 
    flex-wrap: wrap;
  }
  @media screen and (min-width: 992px){ 
    transform: translateY(-50%);
  }

  .brk-filters__item{
    position: relative;
    cursor: pointer;

    padding: 20px 14px 18px 14px;

    &::after{
      content: "";

      position: absolute;
      left: 0;
      bottom: 0;

      width: 100%;
      height: 3px;

      background-color: transparent;
      transition: .3 ease background-color; 
    }
    &.active{
      &::after{
				background-color: var(--brand-primary);
      }
    }

    @media screen and (max-width: 991px){ 
      flex-grow: 1;
      min-width: 50%;
      text-align: center;
    }
    @media screen and (max-width: 575px){ 
      width: 100%;
    }
  }
}

.brk-grid{
  overflow: hidden;
	&__sizer,
	&__item{
		overflow: hidden;
		&:after {
			content: "";
			display: block;
			padding-top: 100%;
		}

		@media screen and (max-width: 768px){
			width: 100% !important;
			&:after{
				padding-top: 100% !important;
			}
		}
	}
	&__item{
		&_width-2{
			&:after{
				padding-top: 50%;
			}
			&.brk-grid__item_height-2{
				&:after {
					padding-top: 100%;
				}
			}
		}
		&_height-2{
			&:after {
				padding-top: 200%;
			}
		}
	}
	.post-filmstrip {
	  max-width: none;
	  max-height: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
	  &::after {
	    content: "";
	    display: block;
	    padding-top: 100%;
	  }
	  &__content {
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	    h3 {
	      margin-top: 0;
	    }
	  }
  }
  .brk-hosted-video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .brk-hosted-video__img{
    z-index: 0
  }
}

.brk-border-btn{
  position: relative;
  .btn{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}