@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.indent__1 {
	padding: 70px 30px 60px 30px;
	@media(min-width: 768px) {
		padding: 100px 50px 70px 110px;
	}
}

.cfa__container {
	padding: 17px 25px;
	p {
		@media(min-width: 992px) {
			margin-left: 30px;
			margin-right: 30px;
		}
	}
	@media(min-width: 992px) {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	> * {
		margin: 10px 20px;
	}
}

.cfa__minimal {
	padding: 17px 25px;
	position: relative;
	z-index: 1;
	&:before {
		content: '';
		position: absolute;
		width: 6px;
		height: 36px;
		top: 50%;
		transform: translateY(-50%);
		left: -3px;
		background: var(--secondary);
		border-radius: 50px;
	}
	p {
		@media(min-width: 992px) {
			margin-left: 30px;
			margin-right: 30px;
		}
	}
	@media(min-width: 992px) {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.btn {
		box-shadow: 0px 5px 21px rgba($black, 0.3);
	}
	> * {
		margin: 10px 20px;
	}
}

.cfa__hot {
  @media(max-width:991px) {
    text-align: center;
  }
	@media(min-width: 992px) {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	> * {
		margin: 10px 0;
	}
	.btn {
		background: transparent;
		color: $white;
		> .before, > .after {
			background: var(--brk-base-2);
		}
		.border-btn {
			border-color: var(--brk-base-2);
		}
  }
  &_primary{
    .btn{
      > .before, > .after {
        background: var(--brand-primary);
      }
      .border-btn {
        border-color: var(--brand-primary);
      }
    }
  }
}

.cfa__outer {
	.cfa__heading {
		padding: 40px 20px;
		border-top-left-radius: 30px;
		border-top-right-radius: 30px;
	}
	p {
		max-width: 1010px;
		margin: 0 auto;
		padding: 40px 15px 8px;
	}
	.btn {
		transform: translateY(50%);
		margin: 0;
	}
}

.cfa__email {
	* + p {
		margin-top: 27px;
	}
}

.cfa__trend {
	margin-bottom: 50px;
	position: relative;
	z-index: 1;
	@media(min-width: 768px) {
		margin-right: 50px;
	}
	h1,h2 {
		font-size: 35px;
		@media(min-width: 768px) {
			font-size: 56px;
		}
	}
	.maxw-770 {
		margin-left: 0;
	}
	.icon-go {
		display: block;
		text-align: right;
		font-size: 36px;
		margin-top: 10px;
		@media(min-width: 1200px) {
			position: absolute;
			bottom: 80px;
			right: 80px;
		}
	}
	.grad-border {
		border-left: 12px solid var(--brk-base-2);
		border-right: 12px solid var(--secondary);
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		&:before, &:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 12px;
			background: linear-gradient(to right, var(--brk-base-2), var(--secondary));
		}
		&:after {
			top: auto;
			bottom: 0;
		}
	}

	.divider-layers {
		margin-left: 0;
		> .before {
			left: 0;
			transform: none;
		}
	}
	.bg-after {
		display: none;
		position: absolute;
		top: 60px;
		left: 60px;
		width: 100%;
		height: 100%;
		background: url(img/bg-3.jpg) center center no-repeat;
		background-size: cover;
		z-index: -2;
		@media(min-width: 768px) {
			display: block;
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba($white, 0.88);
		}
	}
}

.cfa__video {
	padding: 150px 0 50px;
	margin-top: -90px;
	.border-left {
		padding: 10px 35px;
		display: inline-block;
		vertical-align: middle;
		border-left: 3px solid var(--brk-base-2);
	}
}

.cfa__image {
	position: relative;
	z-index: 1;
	.btn {
		margin: 20px 0 0;
	}
	.bg-after {
		content: '';
		position: absolute;
		top: 15px;
		left: 15px;
		right: 15px;
		bottom: 15px;
		background-size: cover;
		z-index: -1;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: linear-gradient(to right, $white, transparent);

			[dir="rtl"] & {
				background: linear-gradient(to left, $white, transparent);
			}
		}
	}
	&.overlay__gradient > .overlay_after {
		z-index: -2;
	}
}

.cfa-card{
  position: relative;
  &__img-container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    @media screen and (max-width:767px){
      position: relative;
    }
  } 
  &__img{
    margin-left: 30px;
    max-width: calc(100% - 30px);
    height: auto;
    @media screen and  (max-width:767px){
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
  &__btn{
    .border-btn{
      display: none;
    }
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2) !important;
    background-color: #fff !important;
    color: var(--brand-primary) !important;
  }
}