@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.title {
	@include e('divider') {
		background: $white;
		overflow: hidden;

		@include e('wrapper') {
			display: inline-block;
			position: relative;
			padding-bottom: 25px;
		}

		@include m('line'){
			position: relative;

			&:before{
				content: '';
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				border-bottom: 1px solid #eee;
			}

			.line{
				width: 100%;
				height: 2px;
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}

		@include m('chevron') {
			.line{
				&:before,
				&:after{
					content: '';
					display: block;
					position: absolute;
					top: .5em;
					height: 5px;
					background-repeat: repeat;
					width: 1000%;
				}

				&:before{
					right: 115%;
				}

				&:after{
					left: 115%;
				}
			}
		}

		@include m('square'){
			@include e('wrapper') {
				padding-bottom: 33px;
			}

			.line{
				width: 8px;
				height: 8px;
				display: block;
				border: 2px solid;
				position: relative;
				left: 50%;
				transform: translate(-50%, 0);
				bottom: -25px;

				[dir="rtl"] & {
					left: auto;
					right: 50%;
				}

				&:before,
				&:after{
					content: '';
					position: absolute;
					top: -2px;
					width: 8px;
					height: 8px;
					border: 2px solid;
				}

				&:before{
					left: -20px;
				}
				&:after{
					right: -20px;
				}
			}
		}

		@include m('circle'){
			.line{
				&-left,
				&-right{
					height: 2px;
					width: 1000%;
					position: absolute;
					top: .5em;

					&:after{
						content: '';
						display: block;
						position: absolute;
						top: .5em;
					}

					&:after {
						margin-top: -2px;
						border-radius: 50%;
						height: 6px;
						width: 6px;
						top: 0;
						box-shadow: 0 0 0 6px var(--brand-primary) inset, 0 0 10px 0 rgba(var(--brand-primary-rgb), 1);
					}
				}

				&-left{
					right: 123%;

					&:after{
						right: 0;
					}
				}

				&-right{
					left: 120%;

					&:after{
						left: 0;
					}
				}
			}
		}

		@include m('gradient'){
			.line{
				&-left,
				&-right{
					display: block;
					position: absolute;
					height: 3px;
					width: 315px;
					top: .5em;
				}

				&-left{
					right: 122%;
				}

				&-right{
					left: 122%;
				}
			}
		}

		@include m('angle'){
			overflow: hidden;

			.title__divider__wrapper{
				padding-bottom: 47px;
			}

			.line{
				&-left,
				&-right{
					display: block;
					position: absolute;
					height: 2px;
					bottom: 17px;
					width: 570px;

					&:after{
						content: '';
						position: absolute;
						top: 0;
						border-bottom: 2px solid;
						width: 24px;
					}
				}

				&-left{
					right: calc(50% + 15px);

					&:after{
						right: -23px;
						transform: rotate(45deg);
						transform-origin: left top;
					}
				}

				&-right{
					left: calc(50% + 15px);

					&:after{
						left: -23px;
						transform: rotate(-45deg);
						transform-origin: right top;
					}
				}
			}
		}

		@include m('shadow'){
			overflow: visible;

			.title__divider__wrapper{
				padding-left: 16px;
				padding-right: 16px;

				@media #{$sm-min} {
					padding-left: 66px;
					padding-right: 66px;
				}

				@media #{$md-min} {
					padding-left: 116px;
					padding-right: 116px;
				}
			}

			.shadow{
				width: 130%;
				position: absolute;
				box-shadow: none !important;
				background: transparent !important;
				height: 20px;
				overflow-y: hidden;
				bottom: -20px;

				&:before,
				&:after{
					content: '';
					position: absolute;
					width: 90%;
					height: 50px;
					border-radius: 50%;
					background: transparent;
					top: -50px;
				}

				&:before{
					box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
				}

				&:after{
					box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
					max-width: 450px;
				}
			}

			&.text{
				&-left,
				&-right{
					.shadow {
						&:after {
							top: -59px;

							@media #{$xs-max} {
								top: -53px;
							}
						}
					}
				}

				&-left{
					.shadow{
						left: 0;

						@media #{$sm-max} {
							left: -40px;
						}

						@media #{$xs-max} {
							left: 0;
						}

						&:before,
						&:after{
							left: 5%;

							@media #{$xs-max} {
								left: 0;
							}
						}

						&:after{
							transform: rotate(-6deg);
						}
					}
				}

				&-center{
					.shadow{
						left: -15%;

						@media #{$xs-max} {
							width: 150%;
							left: -25%;
						}

						&:before{
							left: 5%;
						}

						&:after {
							display: none;
						}
					}
				}

				&-right{
					.shadow{
						right: 0;

						@media #{$sm-max} {
							right: -40px;
						}

						@media #{$xs-max} {
							right: 0;
						}

						&:before,
						&:after{
							right: 5%;

							@media #{$xs-max} {
								right: 10%;
							}
						}

						&:after{
							transform: rotate(6deg);
						}
					}
				}
			}
		}
	}
}