@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

// colored-slider
.colored-slider {
	.swiper-slide {
    position: relative;
    
    opacity: .2;
    transition: .3s ease-in-out opacity;

		// &:before {
		// 	content: '';
		// 	position: absolute;
		// 	top: 0;
		// 	right: 0;
		// 	bottom: 0;
		// 	left: 0;
		// 	transition: all .3s ease-in-out;
    //   z-index: 10;
      

		// }

		.brk-pricing-colored__layer {
			top: 45px;
			bottom: 45px;
		}

		&.swiper-slide-active {
      opacity: 1;

			// &:before {
			// 	z-index: -1;
			// }
			.brk-pricing-colored__layer {
				top: 0;
				bottom: 0;
			}

			.brk-pricing-colored__content {
				padding-top: 115px;
			}
			.brk-pricing-colored__description {
				margin-top: 46px;
			}
			.brk-pricing-colored__btn {
				bottom: 60px;
			}
		}

		&.swiper-slide-prev {
			.brk-pricing-colored__layer {
				border-radius: 26px 0 0 26px;
      }
      .brk-bordered-theme &{
        .brk-pricing-colored__layer {
          border-radius: var(--b-radius) 0 0 var(--b-radius);
        }
      }
		}
		&.swiper-slide-next {
			.brk-pricing-colored__layer {
				border-radius: 0 26px 26px 0;
			}
			.brk-bordered-theme &{
        .brk-pricing-colored__layer {
          border-radius: 0 var(--b-radius) var(--b-radius) 0;
        }
      }
		}

	}

	.button-prev {
		left: 16.66667%;
		transform: translate(-50%, -50%);
	}
	.button-next {
		right: 16.66667%;
		transform: translate(50%, -50%);
	}
}

.brk-pricing {

	// colored
	&-colored {
		min-height: 690px;
		max-width: 400px;
		margin: 0 auto;
		position: relative;

		&.activet {
			.brk-pricing-colored__layer {
				top: 0;
				bottom: 0;
			}

			.brk-pricing-colored__content {
				padding-top: 115px;
			}
			.brk-pricing-colored__description {
				margin-top: 46px;
			}
			.brk-pricing-colored__btn {
				bottom: 60px;
			}
		}

		&__layer {
			position: absolute;
			left: 0;
			width: 100%;
			border-radius: 26px;
			transition: all .5s ease-in-out;
			color: $white;
			overflow: hidden;
			background-repeat: repeat;
      .brk-bordered-theme &{
        border-radius: var(--b-radius);
      }
		}

		&__overlay,
		&__content {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;
		}

		&__content {
			z-index: 2;
			padding-top: 57px;
			transition: all .5s ease-in-out;
		}

		&__title {
			font-size: rem(16);
			line-height: 24px;
			margin-bottom: 5px;
		}

		&__price {
			padding: 0;

			span {
				font-size: rem(96);
				line-height: 96px;
			}

			.period {
				font-size: rem(16);
				line-height: 24px;
				margin-top: 7px;
				color: var(--brk-base-2);
			}
		}

		&__description {
			font-size: rem(14);
			margin-top: 37px;
			transition: all .5s ease-in-out;

			ul {
				li {
					line-height: 42px;
				}
			}
		}

		&__btn {
			position: absolute !important;
			bottom: 50px;
			left: 50%;
			transform: translateX(-50%);
			width: 190px;
			height: 48px;
			border-radius: 24px;
			margin: 0 !important;
			overflow: hidden;
			transition: all .5s ease-in-out;
			line-height: 32px;
			background-color: var(--white);
			color: var(--brand-primary);

			&:before,
			&:after {
				content: '';
				position: absolute;
				left: 0;
				width: 100%;
				height: 0;
				transition: all .3s ease-in-out;
				z-index: -1;
				background-color: var(--brk-base-4);
			}
			&:before {
				top: 0;
			}
			&:after {
				bottom: 0;
			}
			i {
				line-height: inherit;
			}

			&:hover {
				&:before,
				&:after {
					height: 50%;
				}
			}
		}
	}

	// doubled
	&-doubled {
		position: relative;
		z-index: 2;
		max-width: 370px;
		margin: 15px auto;
		padding-bottom: 60px;

		&:hover,
		&.act {
			.brk-pricing-doubled__front {
				transform: translate(40px, 60px);
				transition: all .4s ease;
			}
			.brk-pricing-doubled__back {
				transform: translate(-40px, -60px);
				transition: all .4s ease;
				z-index: 3;
			}
		}

		&__front {
			position: relative;
			z-index: 2;
			width: calc(100% - 40px);
			max-width: 330px;
			height: auto;
			min-height: 555px;
			transition: all .8s ease;
			border-radius: 0 0 27px;
			background-color: $white;
			box-shadow: 0 6px 30px rgba(0, 0, 0, .2);
			padding-top: 33px;

			.pd-icon {
				i {
					font-size: rem(72);
					margin: 10px 0 15px;
				}
			}

			.pd-title {
				margin: 15px 0 28px;
				padding: 0 15px;
			}

			.pd-price {
				height: 96px;

				span,
				strong {
					line-height: 96px;
					padding: 0 2px;
				}
			}

			.pb-list {
				padding: 10px 0;
				text-align: left;

				ul {

				}

				li {
					line-height: 46px;
					color: #9f9f9f;
					padding-left: 30px;
          letter-spacing: .02em;
          display: flex;
          align-items: center;

					&:nth-child(2n) {
						background-color: #f7f7f7;
					}

					i {
						margin-right: 24px;
					}

				}

			}

		}

		&__back {
			position: absolute;
			z-index: 1;
			bottom: 0;
			right: 0;
			width: calc(100% - 50px);
			max-width: 320px;
			height: calc(100% - 60px);
			min-height: 555px;
			transition: all .8s ease;
			border-radius: 0 0 27px;
			overflow: hidden;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;

			.pd-icon-back {
				i {
					font-size: rem(72);
					margin: 10px 0 15px;
				}
			}

			svg {
				path,
				line {
					stroke: $white !important;
				}
				rect {
					fill: $white !important;
				}
			}

			.pd-overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
			}

			.pb-content {
				position: relative;
				z-index: 2;
				padding-top: 91px;
			}

			.pd-title {
				margin-top: 87px;
				padding: 0 15px;
			}
			.pd-price {
				margin-top: 11px;

				span,
				strong {
					padding: 0 2px;
					line-height: 32px;
				}
			}

		}

		&__link {
			display: block;
			text-align: left;
			position: absolute;
			bottom: 19px;
			padding-left: 29px;
			letter-spacing: .04em;
			left: 0;
			right: 0;
			z-index: 3;
			color: var(--white);

			i {
				position: absolute;
				top: 50%;
				right: 23px;
				transform: translateY(-50%);
			}

			&:hover {
				color: var(--white);

				i {
					animation: doubled-button-left 1s infinite ease-in-out;

					@include keyframes(doubled-button-left) {
						from {
							transform: translate(0, -50%)
						}
						50% {
							transform: translate(10px, -50%)
						}
						to {
							transform: translate(0, -50%)
						}
					}
				}
			}
		}

		.pd-icon {
			i {
				color: var(--brk-base-1);
			}
		}
		.pd-icon-back {
			i {
				color: var(--white);
			}
		}
		.pb-list {
			i {
				color: var(--brand-primary);
			}
		}
		.pd-price {
			color: var(--white);
		}
		.pb-content {
			color: var(--white);
		}
	}

	// horizontal
	&-horizontal {
		margin: 0 15px;
		position: relative;
		background-color: $white;
		transition: all .3s ease;
		overflow: hidden;

		@media (max-width: 991px) {
			margin: 0;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 0;
			z-index: 1;
			transition: all .3s ease;
			background-image: linear-gradient(to top, rgba(40, 37, 57, 0.94) 0%, rgba(59, 54, 87, 0.94) 100%);
		}

		&:hover {
			border-radius: 5px;
			margin: 0 -15px;

			@media (max-width: 991px) {
				margin: 0;
			}

			&:before {
				opacity: 1;
			}
			.brk-pricing-horizontal__viewed {
        background-color: #363152;
				span {
					color: var(--white);
				}
			}
			.brk-pricing-horizontal__price {
				color: var(--white);
			}
			.brk-pricing-horizontal__list-options {
				.options-active {
					color: var(--white);

					i {
						color: var(--white); // base
					}
				}
				.options-deactive {
					color: rgba(var(--white-rgb), .4); // base TODO: !!!

					i {
						color: rgba(var(--white-rgb), 0.4); // base
					}
				}
			}
			.h-button {
        box-shadow: 0 0 0 6px rgba(var(--white-rgb), 0.14);
        background-image: linear-gradient( rgb(256,256,256), rgb(256,256,256));
        border: 0;
        color: var(--brand-primary);
        .brk-bordered-theme & {
          border-radius: var(--b-radius);
        }
			}
		}

		&__container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			min-height: 160px;
			background-color: transparent;
			position: relative;
			z-index: 2;

			@media (max-width: 991px) {
				flex-direction: column;
			}
		}

		&__info {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			margin-right: 30px;

			@media (max-width: 1229px) {
				margin-right: 0;
			}

			@media (max-width: 991px) {
				width: 100%;
				justify-content: space-around;
				padding-top: 15px;
			}

			@media (max-width: 767px) {
				justify-content: center;
			}

			@media (max-width: 575px) {
				flex-direction: column;
			}
		}

		&__viewed {
			align-self: stretch;
			width: 48px;
			position: relative;
			overflow: hidden;
      background-color: rgba(var(--black-rgb), 0.01);
      transition: .3s ease all;

			@media (max-width: 991px) {
				width: 100%;
				height: 48px;
			}

			>* {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(-90deg);
				transform-origin: 50% 50%;
				text-transform: uppercase;
				transition: all .2s ease-in-out;
				color: #999;

				@media (max-width: 991px) {
					transform: translate(-50%, -50%) rotate(0);
				}

			}

		}

		&__img-icon {
			position: relative;
			margin-right: 50px;
			width: 188px;
			text-align: center;

			@media (max-width: 1229px) {
				margin: 0 15px;
			}

			@media (max-width: 767px) {
				flex-basis: 50%;
				max-width: 50%;
			}

			@media (max-width: 575px) {
				flex-basis: 100%;
				max-width: 100%;
				margin: 0 15px 15px;
			}
		}

		&__price {
			position: relative;
			padding-left: 18px;
			padding-right: 75px;
			transition: all .2s ease-in-out;
			color: #282b35;

			@media (max-width: 1229px) {
				padding-right: 15px;
			}

			.sign {
				font-size: rem(12);
				position: absolute;
				top: 2px;
				left: 0;
				font-weight: bold;
			}

		}

		&__list-options {
			column-gap: 97px;
			column-count: 2;

			@media (max-width: 1229px) {
				column-count: 1;
				padding: 15px;
			}

			@media (max-width: 991px) {
				column-gap: 15px;
				column-count: 2;
			}

			@media (max-width: 767px) {
				flex-basis: 80%;
				max-width: 80%;
				padding: 25px 0 15px;
			}

			@media (max-width: 575px) {
				flex-basis: 100%;
				max-width: 100%;
			}

			@media (max-width: 479px) {
				column-gap: 0;
				column-count: 1;
				flex-basis: auto;
				max-width: none;
			}

			span {
				display: block;
				text-align: left;
			}

			i {
				margin-right: 8px;
				line-height: inherit;
			}

			.options-active {
				transition: all .2s ease-in-out;

				i {
					transition: all .2s ease-in-out;
					color: var(--brk-secondary-4);
				}
			}

			.options-deactive {
				transition: all .2s ease-in-out;
				color: #d9d9d9;

				i {
					transition: all .2s ease-in-out;
					color: #d9d9d9;
				}
			}

		}

		.h-button {
			width: 164px;
			height: 44px;
			font-size: rem(12);
			line-height: 28px;
			margin-right: 43px;
      color: var(--white);
      border-radius: 0;
      background-image: linear-gradient(to right, var(--brk-base-2) 0%, var(--brk-base-6) 100%);
      box-shadow: 3px 4px 15px var(--brk-base-1);
      border: 0;

      .brk-bordered-theme & {
        border-radius: var(--b-radius);
      }

			@media (max-width: 1229px) {
				margin-right: 20px;
			}

			@media (max-width: 991px) {
				margin: 10px 0 20px;
			}

			strong {
				position: relative;
				z-index: 3;
			}

			i {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 9px;
				font-size: 15px;
				z-index: 4;
			}

			&:hover {
        color: var(--brand-primary);
        background-color: #ffffff;


				i {
					animation: button-left 1s infinite ease-in-out;

					@include keyframes(button-left) {
						from {
							transform: translate(0, -50%)
						}
						50% {
							transform: translate(10px, -50%)
						}
						to {
							transform: translate(0, -50%)
						}
					}
				}
			}
    }
    
    .brk-bordered-theme & {
      &:first-child{
        border-top-right-radius: var(--b-radius);
        border-top-left-radius: var(--b-radius);
      }
      &:last-child{
        border-bottom-right-radius: var(--b-radius);
        border-bottom-left-radius: var(--b-radius);
      }
      &:hover{
        border-radius: var(--b-radius);
        background-color: transparent;
      }
    }
	}

	// rounded
	&-rounded {
		position: relative;
		margin: 40px auto 0;
		max-width: 400px;
		transition: all .3s ease-in-out;

		&:hover {
			margin-top: 0;

			.brk-pricing-rounded__icon {
				width: 121px;
				height: 121px;

				.before {
					animation: pulse-paused 1s ease-in infinite;
					animation-delay: 0.2s;
				}
				.after {
					animation: pulse-paused 1s ease-in infinite;
				}
			}

			.brk-pricing-rounded__content {
				min-height: 680px;
				box-shadow: 0 0 0 3px rgba(var(--brand-primary-rgb), 0.75);
			}

			.rd-view {
				top: 119px;
			}

			.rd-circl-overlay {
				width: 510px;
				height: 555px;
			}

		}

		&__icon {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 88px;
			height: 88px;
			transition: all .3s ease-in-out;
			z-index: 2;

			&-wrap {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: rem(36);

				svg {
					width: 50px;
					height: 50px;
				}

			}

			i {
				color: var(--white);
			}

			.before {
				position: absolute;
				top: -26px;
				left: -26px;
				right: -26px;
				bottom: -26px;
				transform: scale(1);
				opacity: .1;
				border-radius: 50%;
				z-index: -1;
				background-color: var(--brand-primary);
			}

			.after {
				position: absolute;
				top: -12px;
				left: -12px;
				right: -12px;
				bottom: -12px;
				opacity: .2;
				border-radius: 50%;
				z-index: -1;
				background-color: var(--brand-primary);
			}
		}

		&__content {
			position: relative;
			overflow: hidden;
			border-radius: 26px;
			width: 100%;
			min-height: 640px;
			z-index: 1;
			transition: all .3s ease-in-out;
			background-color: var(--white);
		}

		.rd-view {
			position: absolute;
			top: 102px;
			left: 0;
			width: 100%;
			transition: all .3s ease-in-out;

			&__title {
				color: var(--brand-primary);
			}

			&__price {
				position: relative;
				margin-top: 10px;

				.old-price {
					position: relative;
					bottom: -28px;
					text-decoration: line-through;
					margin-left: 6px;
					color: var(--brand-primary);
				}

			}

		}

		.rd-description {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding-bottom: 40px;

			&__list {
				margin-bottom: 24px;

				li {
					padding: 0 15px;

					&:nth-child(2n) {
						background-color: #f8fafe;
					}
				}
			}
		}

		.rd-circl-overlay {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 480px;
			height: 480px;
			border-radius: 50%;
			transition: all .3s ease-in-out;
			background-color: #f8fafe;
		}

		.btn {
			.text {
				line-height: 28px;
			}
			i {
				margin-top: 4px;
			}
		}

	}

	// strict
	&-strict {
		max-width: 400px;
		min-height: 608px;
		position: relative;
		margin: 0 auto;
		z-index: 1;

		&:hover {
			z-index: 2;

			.brk-pricing-strict__content {
				top: 0;
				bottom: 0;
			}

			.brk-pricing-strict__title {
				font-size: rem(21);
				line-height: 100px;
				color: var(--white);

				.before {
					height: 100%;
				}

			}

			.brk-pricing-strict__btn {
				bottom: 50px;
			}

		}

		&__content {
			position: absolute;
			top: 28px;
			bottom: 20px;
			left: 0;
			width: 100%;
			transition: all .3s ease-in-out;
			background-color: var(--white);
		}

		&__title {
			position: relative;
			font-size: rem(18);
			line-height: 72px;
			text-transform: uppercase;
			transition: all .3s ease-in-out;
			background-color: var(--brk-base-4);
			color: var(--brand-primary);

			span {
				position: relative;
				z-index: 2;
			}

			.before {
				position: absolute;
				width: 100%;
				height: 0;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				transition: all .2s ease-in-out;
				z-index: 1;
			}

		}

		&__price {
			margin-top: 36px;

			.st-sign {
				font-size: rem(18);
				line-height: 30px;
				position: relative;
				bottom: -31px;
				color: var(--brand-primary);
			}

			.st-price {
				font-size: rem(64);
				line-height: 64px;
				padding-right: 5px;
			}

		}

		&__description {
			margin-top: 36px;

			li {
				padding: 0 15px;
				&:nth-child(2n-1) {
					background-color: #f8fafe;
				}
			}
		}

		.btn {
			position: absolute;
			left: 50%;
			bottom: 30px;
			margin: 0;
			transform: translateX(-50%);
			transition: all .3s ease-in-out;

			.text {
				line-height: 28px;
			}
			i {
				margin-top: 4px;
			}
		}
	}

	// shop
	&-shop {
		max-width: 320px;
		min-height: 448px;
		margin: 0 auto;
		position: relative;
		background-color: var(--white);
		border-bottom: 3px solid var(--brand-primary);

		> * {
			transition: all .3s ease-in-out;
		}

		&:hover {
			.brk-pricing-shop__view {
				background-color: var(--brand-primary);
			}
			.brk-pricing-shop__title {
				color: var(--white);
			}
			.price-item {
				color: var(--white);
			}
			.price-icon {
				background-color: var(--white);
				i {
					color: var(--brand-primary);
				}
				.before {
					animation: pulse 1.5s infinite;
					animation-delay: 0.3s;
					background-color: rgba(var(--white-rgb), 0.14);
				}
				.after {
					animation: pulse 1.5s infinite;
					background-color: rgba(var(--white-rgb), 0.24);
				}
			}
		}

		&__view {
			min-height: 178px;
			text-align: left;
			padding: 33px 0 0 31px;
			border-bottom: 1px solid #e9f0fb;
			transition: all .3s ease-in-out;
		}

		&__title {
			margin-bottom: 24px;
			transition: all .3s ease-in-out;
			color: var(--brand-primary);
		}

		&__price {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			padding: 10px 0;

			.price-item {
				transition: all .3s ease-in-out;

				.price {
					font-size: rem(36);
					line-height: 36px;
				}

				.period {
					font-size: rem(14);
					line-height: 14px;
					position: relative;
					bottom: -18px;
				}

			}

			.price-icon {
				position: relative;
				width: 54px;
				height: 54px;
				border-radius: 50%;
				margin-left: 28px;
				z-index: 1;
				transition: all .3s ease-in-out;
				background-color: var(--brand-primary);

				i {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-size: rem(24);
					color: $white;
					transition: all .3s ease-in-out;
				}

				.before {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					transform: scale(1.35);
					border-radius: 50%;
					z-index: -1;
					background-color: rgba(var(--brand-primary-rgb), 0.05);
				}

				.after {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					border-radius: 50%;
					z-index: -1;
				}
			}
		}

		&__description {
			color: #9f9f9f;
			min-height: 158px;

			ul {
				text-align: left;

				li {
					font-size: rem(14);
					line-height: 52px;
					border-bottom: 1px solid #e9f0fb;
					padding-left: 30px;

					&:last-child {
						border: 0;
					}

				}

			}

			p {
				padding: 15px;
			}
		}

		&__block-info {
			min-height: 109px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 32px 31px 0 32px;
			border-top: 1px solid #e9f0fb;
			background-color: #f7fafe;

			.info-link {
				font-size: rem(16);
				line-height: 16px;

				i {
					margin-left: 8px;
					position: relative;
					bottom: -1px;
				}
			}
		}

		&__btn {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 50%);
			width: 209px;
			height: 48px;
			border-radius: 24px;
			box-shadow: 0 5px 16px rgba(0, 0, 0, .1);
			margin: 0;
			line-height: 32px;
			overflow: hidden;
			transition: all .3s ease-in-out;
			background-color: var(--white);
			color: var(--brand-primary);

			&:before,
			&:after {
				content: '';
				position: absolute;
				left: 0;
				width: 100%;
				height: 0;
				transition: all .3s ease-in-out;
				z-index: -1;
				background-color: var(--brand-primary);
			}
			&:before {
				top: 0;
			}
			&:after {
				bottom: 0;
			}

			&:hover {
				color: var(--white);

				&:before,
				&:after {
					height: 50%;
				}
			}
		}
	}

	// plan
	&-plan {
		min-height: 603px;
		max-width: 400px;
		margin: 0 auto;
		position: relative;

		&:hover {
			.brk-pricing-plan__bg {
				top: 0;
				bottom: 0;
				opacity: 1;
			}
			.brk-pricing-plan__content {
				box-shadow: 0 20px 50px rgba(var(--brand-primary-rgb), .5);
				top: 0;
				bottom: 0;
				color: $white;
			}

			.brk-pricing-plan__included {
				color: $white;
				i {
					color: $white;
				}
			}

			.brk-pricing-plan__btn {
				width: 166px;
				height: 42px;
				box-shadow: none;
				bottom: 63px;
			}

		}

		&__bg {
			position: absolute;
			top: 22px;
			bottom: 22px;
			left: 0;
			width: 100%;
			transition: all .3s ease-in-out;
			border-radius: 5px;
			background: var(--brand-primary) no-repeat center center;
			background-size: cover;
			opacity: 0;
			z-index: 1;
			overflow: hidden;
		}

		&__content {
			position: absolute;
			top: 22px;
			bottom: 22px;
			left: 0;
			width: 100%;
			transition: all .3s ease-in-out;
			background-color: transparent;
			box-shadow: 0 0 0 2px #eaeaea;
			border-radius: 5px;
			padding-top: 19px;
			z-index: 9;
		}

		&__title {
			text-transform: uppercase;
			font-size: rem(12);
			line-height: 28px;
			margin-bottom: 24px;
		}

		&__price {
			margin-bottom: 28px;

			.sign {
				position: relative;
				top: 6px;
				margin-right: 5px;
				font-size: rem(16);
				line-height: 16px;
			}

			.price {
				font-size: rem(40);
				line-height: 40px;
			}

			.period {
				position: relative;
				top: 21px;
				left: -3px;
				font-size: rem(16);
				line-height: 16px;
			}

		}

		&__description {
			font-size: rem(16);
			line-height: 28px;
			margin-bottom: 20px;
		}

		&__included {
			transition: all .3s ease-in-out;
			text-align: left;
			padding-left: 25%;
			color: #666;

			ul {
				li {
					font-size: rem(14);
					line-height: 36px;
				}

			}

			i {
				color: #bdbdbd;
				margin-right: 13px;
				line-height: inherit;
			}
		}

		&__btn {
			position: absolute !important;
			bottom: 69px;
			left: 50%;
			transform: translateX(-50%);
			font-size: rem(12);
			border-radius: 23px;
			width: 162px;
			height: 38px;
			box-shadow: 0 0 0 2px var(--brand-primary);
			color: var(--brand-primary);
			background-color: $white;
			overflow: hidden;
			margin: 0 !important;
			transition: all .3s ease-in-out;

			&:before,
			&:after {
				content: '';
				position: absolute;
				background-color: var(--brk-base-4);
				width: 100%;
				height: 0;
				left: 0;
				z-index: -1;
				transition: all .3s ease-in-out;
			}

			&:before {
				top: 0;
			}

			&:after {
				bottom: 0;
			}

			&:hover {
				&:before,
				&:after {
					height: 50%;
				}

			}

		}

  }
  
  // light
  &-light {
    >.container>.row {
      align-items: center;
    }
    >.container>.row>[class*="col-"]:nth-child(2){
      z-index: 1;
    }

    >.container>.row>[class*="col-"]:nth-child(2) {
      .brk-pricing-light__item{
        z-index: 2;
        &::after {
          top: -40px;
          bottom: 30px;
          height: calc(100% + 60px);
          opacity: 1;
          box-shadow: 0 6px 30px rgba(var(--brand-primary-rgb), 0.6);
          background-image: linear-gradient( 40deg, rgba(var(--brand-primary-rgb), 0.94) 0%, rgba(var(--brk-base-2-rgb), 0.94) 100%);
        }
        .brk-pricing-light {
          &__old-price,
          &__price,
          &__period {
            color: $white;
          }
          &__header {
            padding-bottom: 90px;
            &::after {
              background-image: url(../../img/dashed-border-primary-light.png);
            }
            .btn {
              box-shadow: 0px 0px 0px 2px rgba(256, 256, 256, 0.3);
              &>.before,
              >.after {
                background-color: var(--brk-base-6);
              }
            }
          }
          &__list-item {
            color: $white;
          }
          &__list-indicator {
            >i {
              color: $white;
            }
          }
          &__body::after {
            bottom: -23px;
            background-image: linear-gradient( to right, var(--brk-base-2), var(--brk-base-2));
          }
        }
      }
    }
    >.container>.row:hover>[class*="col-"]:nth-child(2){
      .brk-pricing-light__item{
        z-index: 1;
        
        &::after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          transition: .3s ease-in-out top, .3s ease-in-out height;
          box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12);
          background-color: #ffffff;
          background-image: none;
          z-index: -1;
        }

      }
      .brk-pricing-light {


        &__old-price{
          color: var(--brand-primary);
        }
        &__price,
        &__period {
          color: #292B2C;
        }
        &__header {
          padding-bottom: 0;
          &::after {
            background-image: url(../../img/dashed-border-primary.png);
          }
          .btn {
            box-shadow: 0 5px 16px rgba(var(--brand-primary-rgb), 0.5);
            &>.before,
            >.after {
             color: #fff;
            }
          }
        }
        &__list-item {
          color: var(--brand-primary);
        }
        &__list-indicator {
          >i {
            color: var(--brand-primary);
          }
        }
        &__body::after {
          bottom: 0;
          background-image: linear-gradient(
												to right,
												rgba(var(--brand-primary-rgb), 0.94) 0%,
												rgba(var(--secondary-rgb), 0.94) 100%);
        }


      }
      .brk-pricing-light__item:hover{
         z-index: 2;
         &::after {
           top: -40px;
           bottom: 30px;
           height: calc(100% + 60px);
           opacity: 1;
           box-shadow: 0 6px 30px rgba(var(--brand-primary-rgb), 0.6);
           background-image: linear-gradient( 40deg, rgba(var(--brand-primary-rgb), 0.94) 0%, rgba(var(--brk-base-2-rgb), 0.94) 100%);
         }

         .brk-pricing-light {
           &__old-price,
           &__price,
           &__period {
             color: $white;
           }
           &__header {
             padding-bottom: 90px;
             &::after {
               background-image: url(../../img/dashed-border-primary-light.png);
             }
             .btn {
               box-shadow: 0px 0px 0px 2px rgba(256, 256, 256, 0.3);
               &>.before,
               >.after {
                 background-color: var(--brk-base-6);
               }
             }
           }
           &__list-item {
             color: $white;
           }
           &__list-indicator {
             >i {
               color: $white;
             }
           }
           &__body::after {
             bottom: -23px;
             background-image: linear-gradient( to right, var(--brk-base-2), var(--brk-base-2));
           }
         }
      }
    }

    &__item {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        transition: .3s ease-in-out top, .3s ease-in-out height;
        box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12);
        background-color: #ffffff;
        z-index: -1;
      }
    }
    &__header {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 220px;
      transition: .3s ease-in-out padding-bottom;
      padding-bottom: 30px; 
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-image: url(../../img/dashed-border-primary.png);
      }
      .btn {
        position: absolute;
        bottom: 0;
        margin: 0;
        transform: translateY(50%);
				box-shadow: 0 5px 16px rgba(var(--brand-primary-rgb), 0.5);
        transition: .3s ease border, .3s ease box-shadow;
      }
    }
    &__old-price {
			color: var(--brand-primary);
    }
    &__list-indicator {
      position: absolute;
      left: 0;
      top: 50%;

      transform: translateY(-50%);

      > i {
				color: var(--brand-primary);

        &:first-child{
          display: none;
        }
      }      
    }
    &__list-item {
      position: relative;
      width: 100%;
      text-align: center;
      transition: .3s ease color;
      opacity: .4;
			color: var(--brand-primary);

      p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 20px;
        padding-right: 20px;
      }      
    }
    &__list-item.active{
			color: #9f9f9f;
      opacity: 1;
      .brk-pricing-light__list-indicator{
        >i{
          &:first-child{
            display: inline-block;
          }
          &:last-child{
            display: none;
          }
        }
      }
    }
    &__body {
      position: relative;

      &::after{
        content: '';
				background-image: linear-gradient(
												to right,
												rgba(var(--brand-primary-rgb), 0.94) 0%,
												rgba(var(--secondary-rgb), 0.94) 100%);
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 100%;
        transition: .3s ease-in-out bottom, .3s ease-in-out background;
      }
    }
    &__item:hover {
      z-index: 2;
      &::after {
        top: -40px;
        bottom: 30px;
        height: calc(100% + 60px);
        opacity: 1;
				box-shadow: 0 6px 30px rgba(var(--brand-primary-rgb), 0.6);
				background-image: linear-gradient(
												40deg,
												rgba(var(--brand-primary-rgb), 0.94) 0%,
												rgba(var(--brk-base-2-rgb), 0.94) 100%);
      }
      .brk-pricing-light {
        &__old-price,
        &__price,
        &__period {
          color: $white;
        }
        &__header {
          padding-bottom: 90px;
          &::after {
            background-image: url(../../img/dashed-border-primary-light.png);
          }
          .btn {
            box-shadow: 0px 0px 0px 2px rgba(256, 256, 256, 0.3);
            &>.before,
            >.after {
							background-color: var(--brk-base-6);
            }
          }
        }
        &__list-item{
          color: $white;
        }
        &__list-indicator{
          >i{
            color: $white;
          }
        }
        &__body::after{
          bottom: -23px;
					background-image: linear-gradient(
													to right,
													var(--brk-base-2),
													var(--brk-base-2));
        }
      }
    }    
  }

}
