@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.brk-sc-tiles {

	&-trend { /* brk-sc-tiles-trend */
		position: relative;
		width: 100%;
		height: 100%;
		min-height: 480px;
		background: no-repeat center center;
		background-size: cover;

		@media (max-width: 767px) {
			height: auto;
			min-height: 1px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}

		&_right-text { /* mod: right-text */
			.brk-sc-tiles-trend__content {
				justify-content: flex-end;
				text-align: right;

				@media (max-width: 767px) {
					justify-content: flex-start;
					text-align: left;
				}
			}

			.brk-sc-tiles-trend__thumbnail {
				left: 0;
			}

			.brk-sc-tiles-trend__description {
				padding-right: 78px;
				display: flex;
				flex-direction: column;
				align-items: flex-end;

				@media (max-width: 767px) {
					display: block;
					padding: 0 20px;
				}
			}

			.brk-sc-tiles-trend__price-buy {
				display: flex;
				justify-content: flex-end;
				align-items: center;

				@media (max-width: 767px) {
					justify-content: center;
				}

				[class*="btn"] {
					margin: 0;
				}
			}
		} /* mod: right-text */

		&_left-text { /* mod: left-text */
			.brk-sc-tiles-trend__content {
				justify-content: flex-start;
				text-align: left;
			}

			.brk-sc-tiles-trend__thumbnail {
				right: 0;
			}

			.brk-sc-tiles-trend__description {
				padding-left: 78px;

				@media (max-width: 767px) {
					padding: 0 20px;
				}
			}

			.brk-sc-tiles-trend__price-buy {
				display: flex;
				justify-content: flex-start;
				align-items: center;

				@media (max-width: 767px) {
					justify-content: center;
				}

				[class*="btn"] {
					margin: 0;
				}
			}
		} /* mod: left-text */

		&_white-text { /* mod: white-text */

			.brk-sc-tiles-trend__content {
				box-shadow: 0 5px 10px rgba(0,0,0,.08), inset 0 -3px var(--brk-secondary-3);
			}

			.brk-sc-tiles-trend__title {
				color: var(--white);
			}

			.brk-sc-tiles-trend__text {
				color: rgba(var(--white-rgb), .6);
			}

			.brk-sc-tiles-trend__price-buy {
				&--price {
					color: var(--white);
				}
			}
		} /* mod: white-text */

		&_dark-text { /* mod: dark-text */
			&:before {
				background-color: rgba(var(--white-rgb), .88);
			}

			.brk-sc-tiles-trend__text {
				color: rgba(var(--brand-primary-rgb), .6);
			}
		} /* mod: dark-text */

		&__content {
			position: relative;
			z-index: 2;
			height: 100%;
			display: flex;
			align-items: center;

			@media (max-width: 767px) {
				padding: 30px 0;
				flex-wrap: wrap;
			}
		}

		&__thumbnail {
			position: absolute;
			bottom: 0;
			width: 40%;
			text-align: center;
			padding: 0 15px;

			@media (min-width: 1200px) and (max-width: 1600px) {
				width: 25%;
			}

			@media (max-width: 991px) {
				width: 30%;
			}

			@media (max-width: 767px) {
				position: relative;
				left: auto;
				right: auto;
				width: 100%;
				padding: 30px 15px;

				img {
					width: 100%;
					max-width: 180px;
					height: auto;
				}
			}
		}

		&__description {
			width: 60%;
			padding-top: 30px;
			padding-bottom: 30px;

			@media (min-width: 1200px) and (max-width: 1600px) {
				width: 75%;
			}

			@media (max-width: 991px) {
				width: 70%;
			}

			@media (max-width: 767px) {
				width: 100%;
				text-align: center;
			}
		}

		&__title {
			font-size: rem(36);
			line-height: 60px;
			letter-spacing: -0.02em;
			font-weight: 200;

			@media (max-width: 767px) {
				font-size: rem(26);
				line-height: 32px;
			}

			strong {
				font-weight: bold;
			}
		}

		&__text {
			max-width: 450px;
			font-size: rem(16);
			line-height: 26px;
			margin: 16px 0 44px 0;

			@media (max-width: 767px) {
				max-width: none;
				font-size: rem(14);
				line-height: 20px;
				margin: 16px 0 20px 0;
			}
		}

		&__price-buy {
			flex-wrap: wrap;

			@media (max-width: 575px) {
				display: block !important;
			}

			&--price {
				font-size: rem(44);
				line-height: 46px;
				margin-right: 30px;

				@media (max-width: 575px) {
					margin-bottom: 15px;
					margin-right: 0;
				}
			}
		}

	} /* brk-sc-tiles-trend */

	&-images { /* brk-sc-tiles-images */
		position: relative;
		width: 100%;
		height: 380px;
		background: no-repeat center center;
		background-size: cover;

		@media (max-width: 767px) {
			height: auto;
		}

		&_dark {
			&:before {
				background: linear-gradient(to right, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.4) 58%,rgba(0,0,0,0.3) 67%,rgba(0,0,0,0) 100%) !important;

				@media (max-width: 767px) {
					background-color: rgba(#000, .7) !important;
				}
			}
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background: linear-gradient(to right, rgba(255,255,255,0.98) 0%,rgba(255,255,255,0.7) 58%,rgba(255,255,255,0.3) 67%,rgba(255,255,255,0) 100%);

			@media (max-width: 767px) {
				background-color: rgba(var(--white-rgb), .7);
			}
		}

		&__content {
			padding: 88px 20px 0 47px;
			position: relative;
			z-index: 2;

			@media (max-width: 767px) {
				padding: 30px;
				text-align: center;
			}
		}

		&__title {
			display: inline-block;
			font-size: rem(36);
			line-height: 40px;
			font-weight: 300;
			letter-spacing: -0.01em;

			@media (max-width: 767px) {
				font-size: rem(28);
				line-height: 34px;
			}

			.brk-sc-tiles-images_dark & {
				color: #ffffff;
			}

			strong {
				font-weight: bold;
			}
		}

			&__year {
				font-size: rem(18);
				line-height: 34px;
				display: inline-block;
				margin-left: 12px;
				position: relative;
				letter-spacing: 0.07em;

				@media (max-width: 767px) {
					font-size: rem(16);
					line-height: 30px;
				}

				.brk-sc-tiles-images_dark & {
					color: #ffffff;
				}

				&:before {
					content: '';
					position: absolute;
					bottom: 3px;
					left: 0;
					width: 100%;
					height: 3px;

					.brk-sc-tiles-images_style-1 & {
						background-image: linear-gradient(
														to right,
														var(--brk-base-3),
														var(--brk-secondary-3));
					}

					.brk-sc-tiles-images_style-2 & {
						background-image: linear-gradient(
														to right,
														var(--brk-base-2),
														var(--brk-base-5));
					}
				}
			}

		&__text {
			font-size: rem(18);
			line-height: 26px;
			max-width: 510px;
			margin-top: 26px;
			margin-left: 5px;
			color: #868686;

			@media (max-width: 767px) {
				font-size: rem(16);
				line-height: 22px;
				max-width: none;
				color: #5a5a5a;
			}

			.brk-sc-tiles-images_dark & {
				color: #cccccc;
			}
		}

		&__btn {
			margin: 39px 0 0 5px;

			.brk-sc-tiles-images_style-2 & {
				box-shadow: none;
				background-color: transparent;

				.border-btn {
					border-color: var(--brk-base-2);
				}
			}
		}

	} /* brk-sc-tiles-images */

	&-split { /* brk-sc-tiles-split */
		display: flex;
		flex-wrap: wrap;

		&__product {
			position: relative;
			width: 100%;
			height: 288px;
			z-index: 1;
			transition: all .3s ease-in-out;
			background-color: #f5f5f5;

			&:hover {
				z-index: 9;

				.brk-sc-tiles-split__bg-thumb {
					@media (min-width: 1200px) {
						width: calc(100% + 115px);
					}
				}

				@media (min-width: 1200px) {
					&.brk-sc-tiles-split_style-1 {
						.brk-sc-tiles-split__bg-thumb--img {
							right: 0;
						}
					}
					&.brk-sc-tiles-split_style-2 {
						.brk-sc-tiles-split__bg-thumb--img {
							left: 0;
						}
					}
				}
			}

			@media (min-width: 1200px) {
				width: 50%;
			}

			@media (max-width: 1199px) {
				display: flex;
				flex-wrap: inherit;
				align-items: center;
			}

			@media (max-width: 767px) {
				height: auto;
			}

			&:nth-child(odd) { /* nth-child(odd) */
				@media (min-width: 1200px) {
					text-align: right;
				}
			}

			&:nth-child(even) { /* nth-child(even) */
				text-align: left;
			}
		}

		&__bg-thumb {
			position: absolute;
			z-index: 1;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			background-color: inherit;
			transition: all .3s ease-in-out;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;

			.brk-sc-tiles-split_style-1 & {
				left: 0;
			}

			.brk-sc-tiles-split_style-2 & {
				right: 0;
			}

			&--img {
				position: absolute;
				top: 10px;
				bottom: 10px;
				width: 230px;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: contain;
				transition: all .3s ease-in-out;
				z-index: 3;

				@media (min-width: 1200px) {
					.brk-sc-tiles-split_style-1 & {
						right: -115px;
					}

					.brk-sc-tiles-split_style-2 & {
						left: -115px;
					}
				}

				@media (max-width: 1199px) {
					display: none;
				}
			}
		}

		&__thumb {
			width: 230px;
			height: inherit;
			position: relative;
			z-index: 9;
			text-align: center;
			padding: 10px 0;

			@media (min-width: 1200px) {
				display: none;
			}

			@media (max-width: 767px) {
				width: 100%;
				height: 230px;
			}

			img {
				width: auto;
				max-width: 100%;
				height: auto;
				max-height: 100%;
			}
		}

		&__content {
			position: relative;
			z-index: 9;
			padding: 0 0 0 15px;

			@media (min-width: 1200px) {
				.brk-sc-tiles-split_style-1 & {
					padding: 40px 154px 0 0;
				}

				.brk-sc-tiles-split_style-2 & {
					padding: 40px 0 0 154px;
				}
			}

			@media (max-width: 767px) {
				width: 100%;
				padding: 15px 15px 20px;
				text-align: center;
			}
		}

		&__cat {
			height: 16px;
			line-height: 16px;
			text-transform: uppercase;
			display: block;
			font-size: rem(11);
			font-weight: 500;

			span {
				display: inline-block;
				padding: 0 5px;
			}
		}

		&__link {
			display: inline-block;
			font-size: rem(21);
			line-height: 26px;
			letter-spacing: -0.02em;
			margin: 8px 0;

			h4 {
				font-size: inherit;
				line-height: inherit;
				color: inherit;
			}
		}

		&__price {
			line-height: 26px;

			@media (min-width: 1200px) {
				.brk-sc-tiles-split_style-1 & {
					justify-content: flex-end;
				}
			}

			@media (min-width: 768px) {
				display: flex;
				flex-wrap: wrap;
			}

			&--old {
				font-size: rem(14);
				font-weight: 300;
				text-decoration: line-through;
				margin-right: 14px;

				@media (min-width: 1200px) {
					margin: 0 14px;

					.brk-sc-tiles-split_style-1 & {
						order: 0;
					}

					.brk-sc-tiles-split_style-2 & {
						order: 1;
					}
				}
			}

			&--price {
				font-size: rem(21);
				font-weight: 700;
			}
		}

		&__btn {
			border-radius: 0;
			margin: 20px 0 0;

			@media (min-width: 1200px) {
				margin-top: 75px;
			}

			.brk-sc-tiles-split_style-2 & {
				&.btn-gradient {
					background-image: linear-gradient(
													to top,
													var(--brk-base-2),
													var(--brk-base-5));

					> .after {
						background-image: linear-gradient(
														to bottom,
														var(--brk-base-2),
														var(--brk-base-5));
					}
				}
			}
		}
	} /* brk-sc-tiles-split */

	&-angle { /* brk-sc-tiles-angle */
		min-height: 520px;
		position: relative;
		background: no-repeat center center;
		background-size: cover;
		overflow: hidden;

		&:hover {
			.brk-sc-tiles-angle__loading {
				animation: loading-tiles 1.5s linear infinite;
			}
		}

		&__loading {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 42px;
			height: 42px;
			transform: translate(-50%, -50%);
			z-index: 3;
			transition: all .25s ease-in-out;
			color: var(--white);

			@media (max-width: 991px) {
				display: none;
			}

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 18px;
				height: 18px;
				border-radius: 50%;
				border: 3px solid var(--white);
				background-color: var(--brand-primary);
			}

			i {
				font-size: rem(42);
				line-height: 42px;
				vertical-align: 0;
			}

			&.top-active {
				top: calc(100% - 65px);
				transform: translate(-50%, 0);
			}

			&.bottom-active {
				top: 65px;
				transform: translate(-50%, 0);
			}
			
			@keyframes loading-tiles {
				from {
					transform: translate(-50%, -50%) rotate(0);
				}

				to {
					transform: translate(-50%, -50%) rotate(360deg);
				}
			}
		}

		&__top,
		&__bottom {
			position: absolute;
			left: 0;
			right: 0;
			z-index: 1;
			transition: all .3s ease-in-out;
			overflow: hidden;

			@media (max-width: 991px) {
				position: relative;
				left: auto;
				right: auto;
				top: auto !important;
				bottom: auto !important;
				clip-path: none !important;
			}

			&:hover {
				z-index: 2;

				@media (max-width: 991px) {
					clip-path: none !important;
				}

				.brk-sc-tiles-angle__slider {
					padding: 0 35px;

					@media (max-width: 991px) {
						padding: 0;
					}
				}
			}

			.brk-sc-tiles-angle__slider {
				@media (max-width: 991px) {
					width: 100% !important;
				}
			}

			.slick-arrow {
				transition: all .2s ease-in-out;
				opacity: 0;
				visibility: hidden;

				@media (max-width: 991px) {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		/* Top */
		&__top {
			top: 0;
			bottom: 60px;
			clip-path: polygon(0% 0%, 100% 0%, 100% 13.2%, 0 100%);

			&:hover {
				bottom: 0;
				clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 0 100%);

				.slick-arrow {
					opacity: 1;
					visibility: visible;
				}

				.brk-sc-tiles-angle__slider {
					width: 940px;

					@media (max-width: 1599px) {
						width: 730px;
					}

					@media (max-width: 1199px) {
						width: 500px;
					}
				}

				.brk-sc-tiles-angle__content {
					text-align: right;
					margin-left: 50px;
					margin-top: 35px;

					@media (max-width: 1599px) {
						margin-left: 10px;
						margin-top: 0;
					}

					@media (max-width: 991px) {
						text-align: left;
						margin-left: 0;
					}
				}
			}

			&.no-active {
				clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 28.5%);

				/* brk-sc-tiles-angle__container */
				.brk-sc-tiles-angle__container {
					padding: 85px 0 0 64px;

					@media (max-width: 1599px) {
						padding: 85px 0 0 34px;
					}
				}
				/* brk-sc-tiles-angle__container */
			}

			/* brk-sc-tiles-angle__container */
			.brk-sc-tiles-angle__container {
				padding: 16px 0 0 64px;

				@media (max-width: 1599px) {
					padding: 16px 0 0 34px;
				}
			}
			/* brk-sc-tiles-angle__container */

			.brk-sc-tiles-angle__content {
				padding: 55px 0 0 28px;

				@media (max-width: 1599px) {
					padding: 35px 0 0 0;
				}
			}
		}

		/* Bottom */
		&__bottom {
			top: 60px;
			bottom: 0;
			clip-path: polygon(0 86.2%, 100% 0%, 100% 100%, 0 100%);
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;

			@media (max-width: 991px) {
				display: block;
			}

			&:hover {
				top: 0;
				clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0 100%);

				/* brk-sc-tiles-angle__container */
				.brk-sc-tiles-angle__container {

				}
				/* brk-sc-tiles-angle__container */

				.slick-arrow {
					opacity: 1;
					visibility: visible;
				}

				.brk-sc-tiles-angle__slider {
					width: 940px;

					@media (max-width: 1599px) {
						width: 730px;
					}

					@media (max-width: 1199px) {
						width: 500px;
					}
				}

				.brk-sc-tiles-angle__content {
					text-align: left;
					margin: 0 94px 73px 0;

					@media (max-width: 1599px) {
						margin: 0 10px 73px 0;
					}

					@media (max-width: 991px) {
						margin: 0;
					}
				}
			}

			&.no-active {
				clip-path: polygon(0 100%, 100% 71%, 100% 100%, 0 100%);

				/* brk-sc-tiles-angle__container */
				.brk-sc-tiles-angle__container {
					padding: 0 64px 105px 0;

					@media (max-width: 1599px) {
						padding: 0 34px 105px 0;
					}
				}
				/* brk-sc-tiles-angle__container */
			}

			/* brk-sc-tiles-angle__container */
			.brk-sc-tiles-angle__container {
				padding: 0 64px 16px 0;
				align-items: center;

				@media (max-width: 1599px) {
					padding: 0 34px 16px 0;
				}
			}
			/* brk-sc-tiles-angle__container */

			.brk-sc-tiles-angle__content {
				order: -1;
				text-align: right;
				margin-top: 160px;

				@media (max-width: 1599px) {
					margin-top: 80px;
				}

				@media (max-width: 991px) {
					margin: 0;
					text-align: left;
				}
			}
		}

		&__container {
			transition: all .3s ease-in-out;
			display: flex;
			flex-wrap: wrap;

			@media (max-width: 991px) {
				padding: 20px	!important;
				display: block;
			}
		}

		&__slider {
			overflow: hidden;
			width: 310px;
			padding: 0 20px;
			transition: all .3s ease-in-out;

			@media (max-width: 1599px) {
				width: 242px;
			}

			@media (max-width: 991px) {
				width: 100%;
				padding: 0 35px;
			}

			@media (max-width: 575px) {
				padding: 0;
			}

			.slick-slider {
				width: 870px;

				@media (max-width: 1599px) {
					width: 660px;
				}

				@media (max-width: 1199px) {
					width: 430px;
				}

				@media (max-width: 991px) {
					width: 100% !important;
				}
			}

			.brk-sc-angle-post__title {
				font-size: rem(16);
				line-height: 22px;
			}
		}
		
		&__content {
			max-width: 460px;
			transition: all .3s ease-in-out;

			@media (max-width: 1199px) {
				max-width: 340px;
			}

			@media (max-width: 991px) {
				max-width: none;
				width: 100%;
				padding: 20px 15px 15px !important;
			}

			h4 {
				font-size: rem(36);
				line-height: 42px;
				color: inherit;
				letter-spacing: -0.01em;
				text-transform: uppercase;
				margin-bottom: 11px;

				@media (max-width: 1199px) {
					font-size: rem(24);
					line-height: 28px;
					margin-bottom: 5px;
				}
			}

			p {
				font-size: rem(15);
				line-height: 26px;

				@media (max-width: 1199px) {
					font-size: rem(13);
					line-height: 18px;
				}
			}
		}

  } /* brk-sc-tiles-angle */
}