@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.countdown__wrapper {
	.countdown {
		max-width: 950px;
		margin-left: auto;
    margin-right: auto;
    @media screen and (max-width:500px){ 
      padding-left: 15px !important;
      padding-right: 15px !important;
      display: flex;
      flex-direction: column;
    }

		@media(min-width: 768px) {
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-wrap: wrap;

			@media(min-width: 1200px) {
				justify-content: space-between;
			}
    }
    
	}
}

.countdown__section {
	position: relative;
	display: inline-block;
	margin-top: 20px;
  padding: 0 10px;
  text-align: center;
  @media screen and (max-width:500px){ 
    min-width: calc(50% - 10px);
    text-align: center;
    width: auto;
    margin-left: auto;
    margin: auto;
  }
}

.countdown__amount {
	margin: 0 auto;
	line-height: 1;
}

.countdown__period {
	display: block;
}

// Styles
.countdown__circle {
	.countdown__section {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.countdown__amount {
		color: var(--brand-primary);
		background: $white;
		position: relative;
		z-index: 1;
		width: 206px;
		height: 206px;
		margin: 0 auto;
		border: 2px solid rgba(var(--brand-primary-rgb), 0.2);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		@media(max-width: 767px) {
			width: 150px;
			height: 150px;
			font-size: 65px;
		}
	}
	.countdown__period {
		margin-top: 30px;
	}
	.svg-wrap {
		position: absolute;
		width: 206px;
		height: 206px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		@media(max-width: 767px) {
			width: 150px;
			height: 150px;
		}
		svg {
			overflow: visible;
		}
		circle {
			stroke-width: 2px;
			fill: none;
			cx: 103;
			cy: 103;
			r: 103;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-dasharray: 651;
			stroke-dashoffset: 0;
			transform: rotate(-90deg);
			transform-origin: 103px 103px;
			@media(max-width: 767px) {
				stroke-dasharray: 469;
				cx: 75;
				cy: 75;
				r: 75;
				transform-origin: 75px 75px;
			}
		}
	}
}

.countdown__light {
	text-align: center;
	@media(min-width: 992px) {
		text-align: left;
	}
	.countdown {
		max-width: 750px;
	}
	.countdown__amount {
		color: var(--brand-primary);
  }
	.countdown__period {
		margin-left: 10px;
	}
	.countdown__section {
		width: 170px;
		padding: 0;
		@media(min-width: 768px) {
			width: 140px;
		}
		&:first-child .symbol {
			display: none;
		}
	}
	.symbol {
		display: none;
		position: absolute;
		top: 20px;
		left: -50px;
		font-family: 'Montserrat', sans-serif;
		font-size: 96px;
		font-weight: 200;
		color: var(--brand-primary);
		@media(min-width: 768px) {
			display: block;
		}
  }
  &_white{
    .countdown__amount{
      color: #fff;
    }
    .symbol{
      color: #fff;
    }
    .countdown__period{
      color: #fff;
    }
  }
}

.countdown__massive {
	.countdown__amount {
		color: var(--brand-primary);
		position: relative;
		z-index: 1;
		width: 206px;
		height: 206px;
		margin: 0 auto;
		border: 1px solid rgba(var(--brand-primary-rgb), 0.2);
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: linear-gradient(to right, var(--brand-primary), var(--secondary));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		@media(max-width: 767px) {
			width: 150px;
			height: 150px;
			font-size: 65px;
		}
	}
	.countdown__period {
		position: relative;
		z-index: 2;
		display: inline-block;
		color: $white;
		padding: 4px 10px;
		min-width: 80px;
		background: var(--brand-primary);
		margin-top: 0;
		border-radius: 50px;
		transform: translateY(-50%);
	}
}

.countdown__dash {
	.countdown {
		max-width: 750px;
	}
	.countdown__amount {
		position: relative;
		color: var(--brand-primary);
		background: linear-gradient(to right, var(--brand-primary), var(--secondary));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	.countdown__period {
		margin-left: 10px;
	}
	.countdown__section {
		width: 170px;
		padding: 0;
		@media(min-width: 768px) {
			width: 140px;
		}
		&:first-child .symbol {
			display: none;
		}
	}
	.symbol {
		display: none;
		position: absolute;
		top: 34px;
		left: -45px;
		font-family: 'Montserrat', sans-serif;
		font-size: 96px;
		font-weight: 200;
		color: #DFDFDF;
		@media(min-width: 768px) {
			display: block;
		}
	}
}

.countdown__flip {
	max-width: 820px;
	margin-left: auto;
	margin-right: auto;
	@media(min-width: 768px) {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		@media(min-width: 1200px) {
			justify-content: space-between;
		}
	}
	.time {
		display: inline-block;
		text-align: center;
		position: relative;
		width: 150px;
		height: 195px;
		perspective: 493px;
		backface-visibility: hidden;
		transform: translate3d(0, 0, 0);
		box-shadow: 0 6px 30px 0 rgba(var(--brand-primary-rgb), 0.6);
		@media(min-width: 768px) {
			width: 160px;
		}
	}
	.count {
		background: var(--brand-primary);
		color: #f8f8f8;
		display: block;
		font-size: 96px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
		overflow: hidden;
		position: absolute;
		text-align: center;
		top: 0;
		width: 100%;
		transform: translateZ(0);
		transform-style: flat;
	}
	.count.top {
		border-bottom: 2px solid var(--brk-base-6);
		background: linear-gradient(50deg, var(--brand-primary), var(--brand-primary));
		line-height: 195px;
		height: 50%;
		transform-origin: 50% 100%;
	}
	.count.bottom {
		background: linear-gradient(50deg, var(--brand-primary), var(--brand-primary));
		line-height: 0;
		height: 50%;
		top: 50%;
		transform-origin: 50% 0;
	}
	.label {
		display: block;
		font-size: 18px;
		font-weight: 700;
		font-family: 'Montserrat', sans-serif;
		margin-top: 10px;
		@media(min-width: 992px) {
			margin-top: 30px;
		}
	}
	/* Animation start */
	.count.curr.top {
		transform: rotateX(0deg);
		z-index: 3;
	}
	.count.next.bottom {
		transform: rotateX(90deg);
		z-index: 2;
	}
	/* Animation end */
	.flip .count.curr.top {
		transition: all 250ms ease-in-out;
		transform: rotateX(-90deg);
	}
	.flip .count.next.bottom {
		transition: all 250ms ease-in-out 250ms;
		transform: rotateX(0deg);
	}
}

.countdown__flip-2 {
	max-width: 470px;
	margin-left: auto;
	margin-right: auto;

	@media(min-width: 768px) {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
	}

	@media(min-width: 1200px) {
		justify-content: space-between;
	}

	.time {
		display: inline-block;
		text-align: center;
		position: relative;
		width: 90px;
		height: 112px;
		perspective: 250px;
		backface-visibility: hidden;
		border-radius: 8px;
		transform: translate3d(0, 0, 0);
		box-shadow: 1px 1px 1px rgba(0,0,0,.25), inset 1px 1px rgba(255,255,255,.2);

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 1px;
			height: 11px;
			background-color: $white; //BASE
		}

		&:before {
			left: -1px;
		}

		&:after {
			right: -1px;
		}

	}

	.count {
		background-color: #00d281; //BASE
		color: $white; //BASE
		display: block;
		font-size: rem(56);
		font-family: 'Roboto', sans-serif;
		font-weight: 600;
		overflow: hidden;
		position: absolute;
		text-align: center;
		top: 0;
		width: 100%;

		&.top {
			border-bottom: 1px solid #15ae59;
			background-color: #00d281; //BASE
			line-height: 112px;
			height: 50%;
			transform-origin: 50% 100%;
			border-radius: 8px 8px 0 0;
		}

		&.bottom {
			background-color: #00d281; //BASE
			line-height: 0;
			height: 50%;
			top: 50%;
			transform-origin: 50% 0;
			border-radius: 0 0 8px 8px;
		}
	}

	/* Animation start */
	.count.curr.top {
		transform: rotateX(0deg);
		z-index: 3;
	}
	.count.next.bottom {
		transform: rotateX(90deg);
		z-index: 2;
	}
	/* Animation end */
	.flip .count.curr.top {
		transition: all 250ms ease-in-out;
		transform: rotateX(-90deg);
	}
	.flip .count.next.bottom {
		transition: all 250ms ease-in-out 250ms;
		transform: rotateX(0deg);
	}

	.label {
		display: block;
		font-size: rem(12);
		line-height: 12px;
		font-weight: 600;
		margin-top: 18px;
		text-transform: uppercase;
		color: #a3aeac; //BASE
	}
}


.countdown__large {
	.countdown {
		background: $white;
	}
	.countdown__amount {
		font-size: 56px;
	}
	.countdown__section {
		margin: 10px auto;
		padding: 0 10px;

		@media(min-width: 480px) {
			border-left: 1px solid #EDEDED;
		}

		@media(min-width: 768px) {
			width: 25%;
		}

		&:first-child {
			border-left: none;
		}
	}
	.countdown__period {
		color: #C7C7C7;
	}
}

.countdown__medium {
	.countdown {
		background: $white;
	}
	.countdown__amount {
		font-size: 36px;
	}
	.countdown__section {
		margin: 10px auto;
		padding: 0 10px;

		@media(min-width: 480px) {
			border-left: none;
		}

		@media(min-width: 768px) {
			width: 25%;
		}

		&:first-child {
			border-left: none;
		}
	}
	.countdown__period {
		color: #C7C7C7;
		font-size: 16px;
	}
}

.countdown__banner-timer {
	width: 100%;
	height: 125px;

	.countdown {
		height: 100%;
		padding: 0 25px;
		justify-content: space-around;
		display: flex;
		align-items: center;
		flex-direction: row;

		&__section {
			min-width: 25%;
			margin: 0;

			.symbol {
				width: 1px;
				height: 53px;
				background-color: #2993ff;
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
			}
		}
	}

}