@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.brk-tags {
	display: flex;
	flex-wrap: wrap;
	text-align: center;

	/* Solid */
	&_solid {
	

		li {
			margin: 5px;
			box-shadow: 0 0 0 2px #f0f0f0; 
			background-color: $white; 
			position: relative;
			transition: all .3s ease-in-out;
			border-radius: 4px;
			overflow: hidden;

			&:hover {
				box-shadow: 0 5px 16px 0 rgba(var(--brk-base-3-rgb),.3); 

				&:before {
					width: 100%;
				}
				a {
					color: $white; 
				}
      }

			&:before {
				content: '';
				position: absolute;
				width: 0;
				top: 0;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
				background-image: linear-gradient(to left, var(--brk-base-3), var(--brk-secondary-3));
				transition: all .3s ease-in-out;
			}

			a {
				height: 28px;
				font-size: rem(12) !important;
				line-height: 28px;
				font-weight: 600;
				color: #b5b5b5; 
				display: block;
				padding: 0 12px;
				transition: all .3s ease-in-out;
				position: relative;
				z-index: 2;
			}
    }
	}

	/* Light */
	&_light {
		margin-left: -5px;
		margin-right: -5px;

		li {
			margin: 5px;
			border-radius: 16px;
			position: relative;
			transition: all .3s ease-in-out;
			overflow: hidden;
			box-shadow: 0 0 0 1px rgba(166,166,166,.3); 
			background-color: $white; 

			&:hover {
				box-shadow: none;

				&:before {
					transform: translate(-50%, -50%) scale(1);
				}

				a {
					color: $white; 
				}

			}

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) scale(0);
				width: 100%;
				height: 100%;
				border-radius: 16px;
				transition: all .3s ease-in-out;
				z-index: 1;
				background-image: linear-gradient(to right, var(--brk-base-2), var(--brk-base-5));
			}

			a {
				position: relative;
				z-index: 2;
				height: 32px;
				display: block;
				font-size: rem(13) !important;
				line-height: 32px;
				text-transform: uppercase;
				transition: all .3s ease-in-out;
				letter-spacing: -0.06em;
				padding: 0 23px;
				color: #272727; 
			}
		}
	}

	&_transparent {
		margin-left: -5px;
		margin-right: -5px;

		li {
			margin: 5px 4px;
			border-radius: 16px;
			position: relative;
			transition: all .3s ease-in-out;
			overflow: hidden;
			box-shadow: 0 0 0 1px rgba(166,166,166,.3); 
			background-color: transparent; 

			&:hover {
				box-shadow: none;

				&:before {
					transform: translate(-50%, -50%) scale(1);
				}

				a {
					color: $white; 
				}

			}

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) scale(0);
				width: 100%;
				height: 100%;
				border-radius: 16px;
				transition: all .3s ease-in-out;
				z-index: 1;
				background-image: linear-gradient(to right, var(--brk-base-2), var(--brk-base-5));
			}

			a {
				position: relative;
				z-index: 2;
				height: 32px;
				display: block;
				font-size: rem(13) !important;
				line-height: 32px;
				text-transform: uppercase;
				transition: all .3s ease-in-out;
				letter-spacing: -0.06em;
				padding: 0 12px;
				color: $white; 
			}
		}
  }
  
  &_gray{
    li{
      a{
        color: #b7b7b7;
        transition: .3s ease color;
        will-change: color;
        &:hover{
          color: #fff;
        }
      }
    }
  }

  &_solid-primary{
    li:before{
      background-image: linear-gradient(to left, var(--brand-primary), var(--brand-primary)) !important;
    }
    li{
      a{
        color: var(--brk-base-7);
        &:hover{
          color: var(--white);
        }
      }
    }
  }

	/* Gradient */
	&_gradient {
		margin-left: -5px;
		margin-right: -5px;

		li {
			margin: 6px 5px;
			border-radius: 20px;
			position: relative;
			transition: all .3s ease-in-out;
			overflow: hidden;
			background-image: linear-gradient(to top, var(--brk-base-2), var(--brk-base-5));
			box-shadow: 0 5px 16px rgba(var(--brand-primary),.5);

			&:hover {
				&:before {
					opacity: 1;
				}
				a {
					color: var(--brk-base-2);
				}

			}

			&:before {
				content: '';
				position: absolute;
				top: 2px;
				right: 2px;
				bottom: 2px;
				left: 2px;
				border-radius: 18px;
				opacity: 0;
				transition: all .3s ease-in-out;
				background-color: $white; 
			}

			a {
				position: relative;
				z-index: 2;
				display: block;
				font-size: rem(14) !important;
				line-height: 40px;
				font-weight: 600;
				text-transform: uppercase;
				padding: 0 28px;
				transition: all .3s ease-in-out;
				color: $white; 
			}
		}
	}

	/* Bubble */
	&_bubble {
		align-items: flex-start;

		li {
			margin: 5px;
			position: relative;
			overflow: hidden;
			border-radius: 50%;
			transition: all .5s ease-in-out;
			background-color: #f5f5f5; 

			&:hover {
				box-shadow: 0 5px 16px rgba(var(--brk-base-3-rgb),.3);

				&:before {
					width: 100%;
					height: 100%;
				}

				a {
					color: $white; 
				}

			}

			&:before {
				content: '';
				position: absolute;
				width: 0;
				height: 0;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				border-radius: 50%;
				z-index: 1;
				transition: all .3s ease-in-out;
				background-image: linear-gradient(to left, var(--brk-base-3), var(--brk-secondary-3));
			}

			a {
				max-width: 180px;
				font-size: rem(15) !important;
				text-transform: uppercase;
				padding: 0 15px;
				display: flex;
				align-items: center;
				position: relative;
				z-index: 2;
				transition: all .3s ease-in-out;
				color: #272727; 
			}

		}

	}

	/* Round */
	&_round {
		margin-left: -5px;
		margin-right: -5px;

		li {
			margin: 6px 5px;
			border-radius: 18px;
			position: relative;
			transition: all .3s ease-in-out;
			overflow: hidden;
			background-color: #f9f9f9; 

			&:hover {
				&:before {
					opacity: 1;
				}

				a {
					color: $white; 
				}

			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				opacity: 0;
				z-index: 1;
				transition: all .3s ease-in-out;
				background-image: linear-gradient(to right, var(--brk-base-3), var(--brk-secondary-3));
			}

			a {
				line-height: 36px;
				font-size: rem(14) !important;
				text-transform: uppercase;
				font-weight: 300;
				display: block;
				position: relative;
				z-index: 2;
				transition: all .3s ease-in-out;
				padding: 0 21px;
				color: rgba(#272727, .4); 
			}
		}
	}

	/* Image */
	&_image {
		margin-left: -5px;
		margin-right: -5px;

		li {
			margin: 5px;
			position: relative;

			&:hover {
				&:before,
				&:after {
					top: 5px;
					right: 5px;
					bottom: 5px;
					left: 5px;
				}

				&:after {
					background-image: linear-gradient(to top, rgba(0,0,0,.26), rgba(0,0,0,.43));
				}

			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 1;
				transition: all .3s ease-in-out;
				background-image: url(../../img/bg-tags-1.jpg);
				background-position: 0 0;
				background-repeat: no-repeat;
				background-size: cover;
			}

			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 1;
				transition: all .3s ease-in-out;
				background-image: linear-gradient(to top, rgba(0,0,0,.86), rgba(0,0,0,.43)); 
			}

			a {
				position: relative;
				text-transform: uppercase;
				font-weight: 300;
				line-height: 50px;
				padding: 0 28px;
				display: block;
				font-size: rem(16) !important;
				letter-spacing: 0.07em;
				z-index: 2;
				color: $white; 
			}
		}
	}

	/* Rectangle */
	&_rectangle {
		margin-left: -5px;
		margin-right: -5px;

		li {
			padding: 5px;

			a {
				display: block;
				line-height: 34px;
				text-transform: uppercase;
				padding: 0 17px;
				font-size: rem(13) !important;
				position: relative;
				border: 2px solid #e5e5e5; 
				color: #272727; 

				&:hover {
					&:before {
						width: calc(100% - 32px);
					}
				}

				&:before {
					content: '';
					position: absolute;
					bottom: -2px;
					left: 50%;
					transform: translateX(-50%);
					width: 0;
					height: 2px;
					transition: all .3s ease-in-out;
					background-image: linear-gradient(
													to right,
													rgba(var(--brand-primary-rgb),.94),
													rgba(var(--brk-secondary-3-rgb),.94));
				}
			}
		}
	}

	/* Angle */
	&_angle {
		margin: 1px;

		li {
			position: relative;
			margin: -1px;
			transform: skewX(-27deg);
			z-index: 1;
			border: 2px solid #e5e5e5; 

			&:hover {
				z-index: 2;

				&:before,
				&:after {
					height: calc(50% + 3px);
				}

				a {
					color: $white; 
				}

			}

			&:before,
			&:after {
				content: '';
				position: absolute;
				left: -2px;
				right: -2px;
				height: 0;
				z-index: 1;
				transition: all .3s ease-in-out;
				background-color: var(--brand-primary); 
			}

			&:before {
				top: -2px;
			}

			&:after {
				bottom: -2px;
			}

			a {
				display: block;
				font-size: rem(12) !important;
				font-weight: 300;
				text-transform: uppercase;
				line-height: 25px;
				position: relative;
				z-index: 2;
				transform: skewX(27deg);
				padding: 0 13px;
				transition: all .3s ease-in-out;
				color: #272727; 
			}

		}

	}

  &_square{
    li{
      border-radius: 0 !important;
      &::before{
        border-radius: 0 !important;
      }
    }
  }
}
