@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.accordion {
	[class*="-slider"] {
		opacity: 1;
		transition: opacity 1s ease-in-out .3s;
	}

	&-rounded{
    border-radius: 20px;
    .brk-bordered-theme & {
      border-radius: var(--b-radius);
    }

		.card{
			&:first-child{
				border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        .brk-bordered-theme & {
          border-top-left-radius: var(--b-radius);
          border-top-right-radius: var(--b-radius);
        }
				.card-header{
					border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          .brk-bordered-theme & {
            border-top-left-radius: var(--b-radius);
            border-top-right-radius: var(--b-radius);
          }
				}
			}

			&:last-child {
				border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        .brk-bordered-theme & {
          border-bottom-left-radius: var(--b-radius);
          border-bottom-right-radius: var(--b-radius);
        }

				.card-block {
					border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          .brk-bordered-theme & {
            border-bottom-left-radius: var(--b-radius);
            border-bottom-right-radius: var(--b-radius);
          }
				}
			}
		}
	}

	.slider-hidden {
		position: absolute;
		opacity: 0;
	}

	.card {
		color: #9f9f9f;

		& + .card {
			margin-top: -1px;
		}

		h1, h2, h3, h4 {
			color: #272727;
		}

		&-header {
			min-height: 76px;
			padding: 29px 85px 29px 40px;
			position: relative;

			[dir="rtl"] & {
				padding: 29px 40px 29px 85px;
			}

			&-sm{
				min-height: 60px;
				padding: 22px 30px 22px 22px;

				[dir="rtl"] & {
					padding: 22px 22px 22px 30px;
				}
			}
		}

		p{
			color: #9f9f9f;
		}

		&-toggle-icon {
			position: absolute;
			right: -1px;
			top: -1px;
			bottom: -1px;
			width: 76px;

			[dir="rtl"] & {
				right: auto;
				left: -1px;
			}
		}

		&-block{
			&.all-light{
				h4 {
					color: $white;
				}
				p{
					color: rgba(256,256,256,.6);
				}
			}
		}
	}

	.arrow{
		width: 9px;
		height: 9px;
		display: block;
		transform: translate(-50%, -50%) rotate(45deg);
		border-right: 2px solid var(--brand-primary);
		border-bottom: 2px solid var(--brand-primary);
		transition: transform ease-in-out .25s;
		position: absolute;
		top: 50%;
		left: 50%;
	}

	.expanded{
		.arrow{
			transform: translate(-50%, -50%) rotate(-135deg);
		}
	}

	&-slider {

		.slider-wrapper{
			padding: 0 1px 0 38px;
		}
		.slick-list{
			padding: 0 130px !important;
		}

		.card {
			border: none;
			border-radius: 0;

			&.expanded {
				.card-header {
					border-color: transparent;
					box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);

					.card-dash{
						width: 3px;
						opacity: 1;
					}
				}
			}

			&-toggle-icon {
				box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.05) inset;
				background: #fafafa;

				&:before,
				&:after{
					content: '';
					width: 13px;
					height: 2px;
					background: var(--brand-primary);
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) rotate(0);
					transition: transform ease-in-out .2s;
				}

				&:before{
					height: 13px;
					width: 2px;
				}

				&:not(.collapsed) {
					&:before{
						transform: translate(-50%, -50%) rotate(90deg);
					}
					&:after{
						transform: translate(-50%, -50%) rotate(180deg);
					}
				}

				&-title{
					i {
						font-weight: 300;
						font-size: 16px;
					}
				}
			}

			&-title{
				i {
					font-weight: 300;
					font-size: 16px;
				}
			}

			&-header {
				background: transparent;
				border-radius: 0;
				border: 1px solid #e9e9e9;
				transition: all ease-in-out .3s;
				box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0), 0 0 5px 0 rgba(0, 0, 0, 0);

				.card-dash {
					position: absolute;
					width: 0;
					opacity: 0;
					left: -1px;
					top: -1px;
					bottom: -1px;
					transition: all ease-in-out .3s;

					[dir="rtl"] & {
						left: auto;
						right: -1px;
					}
				}

				h5 {
					position: relative;
					padding-left: 35px;

					[dir="rtl"] & {
						padding-left: 0;
						padding-right: 35px;
						text-align: right;
					}

					i {
						position: absolute;
						top: 50%;
						left: 0;
						transform: translate(0, -50%);
						margin-top: -1px;

						[dir="rtl"] & {
							left: auto;
							right: 0;
						}
					}
				}
			}

			&-block {
				padding: 53px 40px 40px;
				border: 1px solid #e9e9e9;
				border-top: none;
			}
		}
	}

	&-image{
		box-shadow: 0 5px 20px 0 rgba(0,0,0,0.15);

		.card{
			border: none;
			border-radius: 0;
			margin: 0 !important;
			box-shadow: none;

			&:last-child{
				.card-header {
					border-bottom: none;
				}
			}

			&-header {
				background: transparent;
				border-radius: 0;
				border: none;
				transition: all ease-in-out .3s;
				box-shadow: none;
				border-bottom: 1px solid #e9e9e9;

				h5 {
					position: relative;
					padding-left: 28px;

					[dir="rtl"] & {
						padding-left: 0;
						padding-right: 28px;
						text-align: right;
					}

					i {
						position: absolute;
						top: 50%;
						left: 0;
						transform: translate(0, -50%);
						margin-top: -1px;

						[dir="rtl"] & {
							left: auto;
							right: 0;
						}
					}
				}
			}

			&-title{
				i {
					font-weight: 300;
					font-size: 18px;
				}
			}

			&-block {
				padding: 40px;
				//border: 1px solid #e9e9e9;
				border-top: none;
				box-shadow: 0 5px 10px 0 rgba(0,0,0,0.08);
				position: relative;
				z-index: 2;
				overflow: hidden;

				img{
					width: 100%;
					height: auto;
				}

				.highlight-underline {
					font-size: 28px;
					font-weight: 500;
					padding: 15px 0 8px 31px;

					& > .before{
						width: 2px;
						top: 7px;
						bottom: 4px;
					}
				}
			}
		}
	}

	&-simple {
		.arrow {
			width: 7px;
			height: 7px;
			border-right: 1px solid $black;
			border-bottom: 1px solid $black;
		}

		.card-dash {
			position: absolute;
			bottom: -1px;
			height: 2px;
			right: -1px;
			left: -1px;
			opacity: 0;
			transition: opacity ease-in-out .25s;
		}

		.expanded {
			.card-dash {
				opacity: 1;
			}
		}

		.card {
			border: none;
			border-radius: 0;

			&-block {
				padding: 30px 0;
			}

			&-toggle-icon {
				width: 40px;
			}

			&-title{
				i {
					margin-right: 10px;
					font-size: 16px;
				}
			}
		}

		&-image{
			.expanded {
				.card {
					&-header {
						border-top-color: transparent;
					}
				}
			}

			.card {

				& + .card {
					margin-top: 0;

					&.expanded{
						.card-header {
							border-top: 1px solid #e9e9e9;
						}
					}
				}

				&-header {
					border: none;
					border-top: 1px solid #e9e9e9;
					background: none;
					position: relative;
					border-radius: 0;
					transition: border-top-color ease-in-out .25s;
					padding: 20px 10px;
				}
			}
		}

		&-bg{
			.expanded {
				.card {
					&-header {
						border-color: transparent;
						box-shadow: 0 4px 14px 0 rgba(0,0,0,0.1);
					}
				}
			}

			.card{
				&-toggle-icon {
					width: 50px;
				}

				& + .card {
					margin-top: -1px;

					&.expanded{
						.card-header {
							border-top: 1px solid #e9e9e9;
						}
					}
				}

				&-header {
					border-radius: 0;
					box-shadow: none;
					background: $white;
					border: 1px solid #e9e9e9;
					transition: border-color ease-in-out .25s;
				}
			}
		}

		&-rainbow{
			p{
				letter-spacing: 0.5px;
			}

			.arrow{
				border-right: 1px solid $white;
				border-bottom: 1px solid $white;
			}

			.expanded {
				.card {
					&-header {
						border-color: transparent;
						box-shadow: 0 4px 14px 0 rgba(0,0,0,0.1);
					}
				}
			}

			.progress__count + .progress__count{
				margin-top: 36px;
			}

			.count{
				span {
					margin-top: -4px;
				}
			}

			.card{
				&-toggle-icon {
					width: 55px;
				}

				&-block{
					padding: 30px 0 45px;
				}

				& + .card {
					margin-top: -1px;

					&.expanded{
						.card-header {

						}
					}
				}

				&-header {
					border-radius: 0;
					box-shadow: none;
					background: $white;
					border: none;
					transition: border-color ease-in-out .25s;

					a{
						color: $white;
					}
				}
			}
		}

		&-scale{

			p{
				letter-spacing: 0.4px;
			}

			.arrow{
				border-right: 1px solid $black;
				border-bottom: 1px solid $black;
				position: absolute;
				left: 10px;

				[dir="rtl"] & {
					left: auto;
					right: 10px;
				}
			}

			.expanded {
				.card {
					&-header {
						box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
						border: none;
						background: $white;
					}
				}
			}

			.collapse, .collapsing{
				box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
				margin: 0 -20px;
				z-index: 20;
			}

			.card{
				&-block {
					z-index: 10;
					position: relative;
					background: $white;
					padding: 30px 35px 25px;
				}

				&-toggle-icon{
					width: 60px;
					font-size: 16px;
					font-weight: 300;
				}

				&-header {
					border: 1px solid #e9e9e9;
					border-radius: 0;
					background: $white;
					transition: all ease-in-out 0.25s;

					i{
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}
			}
		}
	}

	&-slider-min {

		.slider-wrapper{
			padding: 0 1px 0 38px;
		}
		.slick-list{
			padding: 0 130px !important;
		}

		.card {
			border: none;
			border-radius: 0;

			&-toggle-icon {
				width: 72px;

				&:before,
				&:after{
					content: '';
					width: 13px;
					height: 2px;
					background: var(--brand-primary);
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) rotate(0);
					transition: transform ease-in-out .2s;
				}

				&:before{
					height: 13px;
					width: 2px;
				}

				&:not(.collapsed) {
					&:before{
						transform: translate(-50%, -50%) rotate(90deg);
					}
					&:after{
						transform: translate(-50%, -50%) rotate(180deg);
					}
				}
			}

			&-header {
				background: transparent;
				border-radius: 0;
				border-top: 1px solid #ebebeb;
				border-bottom: 1px solid #ebebeb;
				padding: 0 65px 0 30px;
				display: flex;
				align-items: center;
				height: 65px;

				h5 {
					position: relative;

					i {
						position: absolute;
						top: 50%;
						left: 0;
						transform: translate(0, -50%);
						margin-top: -1px;
					}
				}
			}

			&-block {
				padding: 30px 30px 40px;
			}
		}
	}
}