@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.brk-ic {
  &-left-slide {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &__overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    &__img {
      display: block;
      position: relative;
      height: 318px;
      max-width: none;
      width: -webkit-calc(100% + 50px);
      width: calc(100% + 50px);
      opacity: 0.95;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: translateX(-40px);
      transform: translateX(-40px);
      object-fit: cover;

      @media(max-width: 767px) {
        height: auto;
      }
    }
    &:hover {
      .brk-ic-left-slide__img {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
      }
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 0;
      left: 0;
      width: calc(100% - 80px);
      padding: 0 29px 26px 25px;
      z-index: 2;
      &_vertical-line {
        padding-left: 31px;
        .brk-ic-left-slide__title {
          padding-top: 6px;
          padding-bottom: 6px;
          padding-left: 25px;
          border-left-width: 2px;
          border-left-style: solid;
        }
      }
      &_gradient {
        width: auto;
        max-width: 100%;
        padding: 24px 67px 22px 40px;
        clip-path: polygon(0 0, calc(100% - 47px) 0, 100% 100%, 0% 100%);
      }
      &_btn-left {
        left: auto;
        right: 0;
        width: calc(100% - 125px);
        padding: 0 29px 44px 25px;
      }
    }
    &__subtitle {
      color: $white;
      text-transform: uppercase;
      text-align: left;
      padding-left: 6px;
    }
    &__title {
      color: $white;
      text-align: left;
      .uppercase {
        text-transform: uppercase;
      }
      .letter-spacing--20 {
        letter-spacing: -0.02em;
      }
      .letter-spacing--60 {
        letter-spacing: -0.06em;
      }
    }
    &__btn {
      position: absolute !important;
      bottom: 19px;
      right: 20px;
      i {
        margin-left: 1px;
      }
      &_left {
        right: auto;
        left: 35px;
        bottom: 34px;
      }
    }
  }
}

.brs-portfolio-list{
  height: 320px;
  display: flex;
  border-width: 1px;
  border-style: solid;
  border-color: #e8e8e8;

  @media(max-width: 767px) {
    flex-wrap: wrap;
    height: auto;
  }

  &__about {
    display: flex;
    flex-direction: column;
    padding: 39px 35px 90px 52px;
    position: relative;
    width: calc(100% / 1170 * 600 + 6px);
    flex-shrink: 0;

    @media(max-width: 767px) {
      width: 100%;
    }
  }

  &__subtitle {
    margin-bottom: 4px;
    text-transform: uppercase;
    color: var(--brk-base-3);
  }

  &__title {
    text-transform: uppercase;
    margin-left: -4px;
    margin-bottom: 25px;
    color: #1a1b1b;
  }

  &__description {
    max-height: 105px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #9f9f9f;
  }

  &__more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 211px;
    height: 54px;
    padding-left: 1px;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    bottom: 0;
    color: var(--white);
    clip-path: polygon(0 0, calc(100% - 25px) 0, 100% 100%, 0% 100%);

    &:hover {
      color: var(--white);
    }

    &__icon{
        font-size: 21px;
        margin-left: 12px;
        margin-bottom: -1px;
        transition: .3s ease right;
        position:relative;
        right: 0;
    }

    &:hover .brs-portfolio-list__more__icon{
      right:-4px;
    }
  }
}
