@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.brk-theme-options {
	position: fixed;
	top: 0;
	right: -380px;
	width: 380px;
	height: 100vh;
	z-index: 9998;
	transition: all .3s ease-in-out;
	border-top: 3px solid var(--brand-primary);
	box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.12);

	[dir="rtl"] & {
		right: auto;
		left: -380px;
	}


	&.active {
		right: 0;

		[dir="rtl"] & {
			right: auto;
			left: 0;
		}
	}

	&__panel {
		position: absolute;
		top: 165px;
		left: -52px;
		background-color: rgba(#000, .2);
		box-shadow: -5.985px -0.419px 30px 0 rgba(0, 0, 0, 0.08), inset -2px 0 10px 0 rgba(0, 0, 0, 0.04);
		width: 52px;
		height: auto;
		z-index: 108;
		padding: 0 0 17px;
		border-radius: 13px 0 0 13px;

		[dir="rtl"] & {
			left: auto;
			right: -52px;
			border-radius: 0 13px 13px 0;
		}

		&-link {
			display: block;
			text-align: center;
			color: $white;
			font-size: rem(18);
			padding: 10px 0;
			transition: all .5s ease-in-out;

			&.panel-open {
				color: $white;
				border-bottom: 1px solid rgba($white, .2);
				padding: 20px 0 22px;
				margin-bottom: 10px;

				/*&.checked,
				&:hover {
					i {
						animation: eye 3s linear infinite;

						@keyframes eye {
							from {
								transform: rotate(0);
							}
							to {
								transform: rotate(360deg);
							}
						}
					}
				}*/

				&:hover,
				&.checked {
					color: var(--brk-base-5);
				}
			}

			&:hover {
				//transform: rotate(360deg);
				color: $white;
			}

			&:focus {
				color: $white;
			}
		}
	}

	&__control {
		overflow-y: auto;
		overflow-x: hidden;
		background-color: $white;
		position: relative;
		width: 100%;
		height: 100%;
	}

		&__header {
			line-height: 72px;
		}

			&__close {
				background-color: #F9F9F9;
				box-shadow: inset 1.782px 0.908px 10px 0 rgba(0, 0, 0, 0.04);
				position: absolute;
				top: 0;
				right: 0;
				width: 71px;
				height: 72px;
				z-index: 15;
				cursor: pointer;

				[dir="rtl"] & {
					right: auto;
					left: 0;
				}

				&:hover {
					i {
						transform: translate(-50%, -50%) scale(1.2);
					}
				}

				i {
					vertical-align: 0;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-size: rem(18);
					color: var(--brand-primary);
					transition: all .3s ease-in-out;
				}
			}

	.card-block {
		padding: 30px 30px 40px;
	}

	&__wrap {

	}

	.row {
		margin: -5px;
	}

	.col,
	[class*="col-"] {
		padding: 5px;
	}

	&__check {
		position: relative;
		background: #808080 no-repeat center center;
		background-size: cover;

		&_active {
			box-shadow: -5.985px -0.419px 30px 0px rgba(0, 0, 0, 0.12);
		}

		&_120 {
			height: 120px;
			transition: all .3s ease-in-out;

			&:hover {
				transform: translateY(-7px) scale(1.03);
				box-shadow: 0 6px 15px 0 rgba(50, 50, 50, 0.3);
			}
		}

		&_60 {
			height: 60px;
			transition: all .3s ease-in-out;

			&:hover {
				transform: translateY(-5px) scale(1.03);
				box-shadow: 0 6px 15px 0 rgba(50, 50, 50, 0.3);
			}
		}

		&_45 {
			height: 45px;
		}

		&-title {
			position: absolute;
			z-index: 3;
			top: 50%;
			left: 10px;
			transform: translateY(-50%);
			color: #ffffff;
			font-size: rem(14);
		}
	}

	&__more {
		display: flex;
		justify-content: center;
		width: 100%;
		color: var(--brand-primary);
		padding: 19px 0;

		.brk-options-more {
			cursor: pointer;
			text-transform: uppercase;
			font-size: rem(14);
			line-height: 25px;
			border-bottom: 1px dashed var(--brand-primary);

			i {
				margin-right: 8px;
				margin-top: -1px;
			}
		}
	}

	&__before {
		position: absolute;
		top: -1px;
		right: 0;
		bottom: -1px;
		left: 0;
		border: 3px solid $white;
		background-color: rgba(var(--brand-primary-rgb), .9);
		display: none;
		z-index: 1;

		.brk-theme-options__check_active & {
			display: block;
		}
		
		i {
			position: absolute;
			vertical-align: 0;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: $white;
			font-size: rem(13);

			.brk-theme-options__check_title-on & {
				left: auto;
				right: 10px;
				transform: translateY(-50%);
			}
		}
	}

	&__color {
		padding: 10px 0;
		//border-bottom: 1px solid #ebebeb;

		&-row {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -5px;
		}

		&-radio {
			position: relative;
			width: 32px;
			height: 32px;
			box-shadow: inset 0 0 0 1px #ececec;
			cursor: pointer;
			border-radius: 5px;
			overflow: hidden;
			margin: 6px 5px;
			--oc: #8d8d8d;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(60deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.6) 100%);
				z-index: 9;
			}

			span {
				position: absolute;
				display: block;
				top: 3px;
				right: 3px;
				bottom: 3px;
				left: 3px;
				transition: all .3s ease-in-out;
				background-color: var(--oc);
			}

			i {
				display: none;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				color: $white;
				font-size: rem(14);
				vertical-align: 0;
			}

			&:hover {
				span {
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
				}
			}

			&.checked  {
				span {
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
				}

				i {
					display: block;
				}
			}
		}
	}

	/* accordion */
	.accordion-slider-min {
		.card-header {
			height: 60px;

			h5 {
				font-size: rem(17) !important;
				line-height: 17px !important;
			}

			&.collapsed {
				.card-toggle-icon {
					&:before{
						transform: translate(-50%, -50%) rotate(0);
					}
					&:after{
						transform: translate(-50%, -50%) rotate(0);
					}
				}
			}
		}
	}

	.accordion .card-header {
		min-height: 60px;
	}

}


