@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.brk-sc-card-labels{
  position: absolute;
  z-index: 1;
  &_top-labels{
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    .brk-sc-card-label{
      width: 86px;
      height: 86px;
      overflow: hidden;
      position: relative;
      &:nth-child(1){
        right: -5px;
        top: -5px;
      }
      &:nth-child(2){
        left: -5px;
        top: -5px;
      }
      &__additional-1,
      &__additional-2{
        position: absolute;
        width: 5px;
        height: 5px;
      }
      &:nth-child(1){
        .brk-sc-card-label__text{
        }
        .brk-sc-card-label__additional-1{
          top: 0;
          left: 0;
        }
        .brk-sc-card-label__additional-2{
          right: 0;
          bottom: 0;
        }
      }
      &:nth-child(2){
        .brk-sc-card-label__additional-1{
          bottom: 0;
          left: 0;
        }
        .brk-sc-card-label__additional-2{
          right: 0;
          top: 0;
        }
        .brk-sc-card-label__text{
        }
      }
     
      &__text{
        position: absolute;
        width: 122px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9;
      }
      &:nth-child(1){
        .brk-sc-card-label__text{
          bottom: 0;
          right: 0;
          transform: rotate(45deg);
          transform-origin: right bottom;
        }
      }
      &:nth-child(2){
        .brk-sc-card-label__text{
          bottom: -9px;
          left: -19px;
          transform: rotate(-45deg);
          transform-origin: left top;
        }
      }
      &:nth-child(1){
        .brk-sc-card-label__text{
					background-image: linear-gradient(to right, var(--secondary), var(--brand-primary));
        }
        .brk-sc-card-label__additional-1{
          top: 0;
          left: 0;
        }
        .brk-sc-card-label__additional-2{
          right: 0;
          bottom: 0;
        }
      }
      &:nth-child(2){
        .brk-sc-card-label__additional-1{
          bottom: 0;
          left: 0;
        }
        .brk-sc-card-label__additional-2{
          right: 0;
          top: 0;
        }
        .brk-sc-card-label__text{
					background-image: linear-gradient(to right, var(--brand-primary), var(--brand-primary));
        }
      }
    }
  }
  &_side-labels{
    position: absolute;
    right: -5px;
    top: 86px;
    width: auto;
    display: inline-flex;
    flex-direction: column;

    .brk-sc-card-label{
      padding: 8px 10px 10px 10px;
      display: inline-flex;
      align-items: center;
      min-width: 60px;
      justify-content: center;
      position: relative;

      

      &:nth-child(1){
        .brk-sc-card-label__additional-1,
        .brk-sc-card-label__additional-2{
        }
        .brk-sc-card-label__additional-3{
        }
      }
      &:nth-child(2){
        .brk-sc-card-label__additional-1,
        .brk-sc-card-label__additional-2{
        }
        .brk-sc-card-label__additional-3{
        }
      }
      

      &__additional-1{
        position: absolute;
        display: inline-block;
        height: 100%;
        width: 12px;
        clip-path: polygon(0 50%, 100% 100%, 100% 0);
        left: -12px;
        top: 0;
        
      }
      &__additional-2{
       display: none; 
       
      }
      &__additional-3{
        position: absolute;
        right: 0;
        bottom: -6px;
        display: inline-block;
        width: 6px;
        height: 6px;
        clip-path: polygon(0 100%, 100% -1px, 0 -1px);
       
      }

    }
  }
  &_side-labels-cornered{ 
    position: absolute;
    right: -5px;
    top: 86px;
    width: auto;
    display: inline-flex;
    flex-direction: column;

    .brk-sc-card-label{
      padding: 8px 10px 10px 10px;
      display: inline-flex;
      align-items: center;
      min-width: 60px;
      justify-content: center;    
      position: relative;

      &:nth-child(1){
        .brk-sc-card-label__additional-1,
        .brk-sc-card-label__additional-2{
        }
        .brk-sc-card-label__additional-3{
        }
      }
      &:nth-child(2){
        .brk-sc-card-label__additional-1,
        .brk-sc-card-label__additional-2{
        }
        .brk-sc-card-label__additional-3{
        }
      }
      

      &__additional-1{
        position: absolute;
        display: inline-block;
        height: 100%;
        width: 12px;
        clip-path: polygon(0 1%, 100% 0, 100% 100%, 0 100%, 100% 50%);
        top: 0;
        width: 10px;
        left: -10px;
        
      }
      &__additional-2{
        display: none;
       
      }
      &__additional-3{
        position: absolute;
        right: 0;
        bottom: -6px;
        display: inline-block;
        width: 6px;
        height: 6px;
        clip-path: polygon(0 100%, 100% -1px, 0 -1px);
       
      }

    }
  }
  &_rounded{
    width: 72px;
    height: 72px;
    border-radius: 100%;
    white-space: nowrap;
    .brk-sc-card-labels__title{
      display: flex;
      align-items: center; 
      i{
        font-size: 14px;
        margin-right: 5px;
      }
    }
    &:nth-child(2){
      box-shadow: 0 5px 16px rgba(130, 180, 64, 0.5);
    }
  }
  &_side-labels,
	&_side-labels-cornered{
		.brk-sc-card-label{
			&:nth-child(1){
				background-color: var(--brand-primary); //skin
				.brk-sc-card-label__additional-1,
				.brk-sc-card-label__additional-2{
					background-color: var(--brand-primary); //skin
				}
				.brk-sc-card-label__additional-3{
					background-color: var(--brk-base-3); //skin
				}
			}
			&:nth-child(2){
				background-color: var(--secondary); //skin
				.brk-sc-card-label__additional-1,
				.brk-sc-card-label__additional-2{
					background-color: var(--secondary); //skin
				}
				.brk-sc-card-label__additional-3{
					background-color: var(--brk-secondary-2); //skin
				}
			}
		}
	}
}

.brk-sc-simple-card {
  position: relative;
  &:after {
    content: '';
    display: block;
    padding-top: 142%;
  }
  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.16);
  }
  &__label {
    padding: 8px 10px 10px 10px;
    display: inline-flex;
    align-items: center;
    position: absolute;
    right: -5px;
    top: 20px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    &-left-top-angle {
      position: absolute;
      display: inline-block;
      height: 50%;
      width: 12px;
      clip-path: polygon(0 100%, calc(100% + 0px) 100%, calc(100% + 0px) 0);
      left: -11px;
      top: 0;
    }
    &-left-bottom-angle {
      position: absolute;
      display: inline-block;
      height: 50%;
      width: 12px;
      clip-path: polygon(0 0, calc(100% + 0px) 100%, calc(100% + 0px) 0);
      left: -11px;
      bottom: 0;
    }
    &-bottom-angle {
      position: absolute;
      right: -1px;
      bottom: -6px;
      display: inline-block;
      width: 6px;
      height: 6px;
      clip-path: polygon(0 100%, 100% -1px, 0 -1px);
      background-color: var(--brk-base-3);
    }
  }
  &__price {
    display: flex;
    border-radius: 50px;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    padding: 15px 55px 15px 24px;
    box-shadow: 0 5px 16px rgba(var(--brand-primary-rgb), 0.5);
    &-old {
      text-decoration: line-through;
      margin-right: 5px;
      color: var(--brk-base-7);
    }
  }
  &__link {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    width: 36px;
    height: 36px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    >i{
      color: var(--brand-primary);
    }
  }
}

.brk-sc-card-horizontal{
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
  transition: .3s ease box-shadow;
  &:hover{
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.14);
  }
  &__links{
    &-item{
      i{
        color: var(--brand-primary); //skin
      }
    }
  }
  &__img-container{
    position: relative;
    height: 100%;
    &:after{
      content: '';
      display: block;
      padding-top: calc(100% + 30px);
    }
  }
  .flip-box__split-actions{
    position: absolute;
    box-shadow: 0 5px 16px rgba(165, 165, 165, 0.5);
    top: 50%;
    transform: translateY(-50%) scale(0);
    transition: .3s ease transform .1s;
    border-radius: 27px;
  }
  &:hover{
    .flip-box__split-actions{
      transform: translateY(-50%) scale(1);
    }
  }
  
  &__img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
  }

  &__overlay{
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    transition: .3s ease height;
  }
  &:hover{
    .brk-sc-card-horizontal{
      &__overlay{
        height: 100%;
      }
    }
  }

  &__old-price{
    text-decoration: line-through;
  }
  &__main-info{
    flex-shrink: 0;
    padding: 40px 35px 35px 38px;
  }

  &__about{
    border-bottom: 3px solid #f2f2f2;
    position: relative;
    height: 100%;
    transition: .3s ease border;
  }
  &:hover{
    .brk-sc-card-horizontal{
      &__about{
        border-color: var(--brand-primary);
      }
    }
  }

  &__description{
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.03);
    background-color: #fbfbfb;
    padding: 32px 35px 32px 45px;
    flex-grow: 1;
    &-paragraph{

    }  
    &-list{
      display: flex;
      flex-wrap: wrap;
      &-item{
        width: 50%;
        @media screen and (max-width:1230px){
          width: 100%;
        }
        i{
          padding-right: 23px;
          color: var(--brand-primary);
        }
        &:nth-child(2n){
          padding-left: 24px;
          @media screen and (max-width:1230px){
            padding-left: 0;
          }
        }
      }

    }
  }
}

.brk-sc-bonus{
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  border-radius: 10px;
  &__subtitle{
    position: absolute;
    display: inline-block;
    padding: 9px 16px;
    left: 50%;
    top: 0;
    transform: translate(-50% , -50%);
    white-space: nowrap;
    border-radius: 25px;
  }
  &__link{
    text-decoration: underline;
  }
}

.brk-sc-card-preview{
  &__img-container{
    flex-shrink: 0;
    width: 114px;
  }
  &_mini{
    .brk-sc-card-preview__img-container{
      width: 80px;
    }
  }
  &__category{
    padding: 7px 9px 5px 9px;
  }
}

.brk-sc-card-photo-overlay{
  position: relative;
  overflow: hidden;

  &::after{
    content: '';

    display: block;
    padding-top: 100%;
  }

  &__actions{
    position: absolute;
    width: calc(100%);
    padding-left: 30px;
    padding-right: 30px;
    i{
      margin-right: 6px;
      margin-top: -3px;
    }
    a{
      display: flex;
      align-items: center;
    }
    top: 120%;
    transform: translateY(-50%);
    transition: .3s ease top;
  }

  .brk-abs-overlay{
    transform: translateY(calc(100% - 3px));
    transition: .3s ease-in-out transform;
  }

  &:hover{
    .brk-abs-overlay{
      transform: translateY(0);
    }
    .brk-sc-card-photo-overlay__actions{
      top: 50%;
    }
  }
}
