@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.flip-box__split-actions {
  display: flex;
  margin: auto;
  max-width: calc(100% - 30px);
  a {
    width: 72px;
    height: 54px;
    background-color: $white;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;

    &:hover,
    &.remove_from_wishlist,
    &.remove_from_compare {
      background-color: #eaeaea;
    }

    &:first-child {
      border-radius: 27px 0 0 27px;
      border: 0;

      [dir="rtl"] & {
        border-radius: 0 27px 27px 0;
      }
    }

    &:last-child {
      border-radius: 0 27px 27px 0;
      border: 0;

      [dir="rtl"] & {
        border-radius: 27px 0 0 27px;
      }
    }

  }

  .added_to_cart {
    font-size: rem(15);
    line-height: 16px;
    padding: 0 5px;
    width: 72px;
    padding-top: 10px;
  }
  &_small {
    a{
      height: 44px;
      width: 58px;
    }
  }

}

.brk-size-chooser{
  &__title{
    margin-bottom: 18px;
  }
  &__item{
    min-width: 38px;
    padding-left: 14px;
    padding-right: 14px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.06);
    margin-right: 10px;
    transition: .3s ease width, .3s ease background-color, .3s ease color;
    border-radius: 38px;
    &:last-child{
      margin-right: 0;
    }
    &.active{
    background-color: var(--brand-primary);
    color: #fff;
  }
  }
  
} 

.brk-color-filter{
  display: flex;
  flex-direction: column;
  &__title{
    position: relative;
    margin-bottom: 24px;
    &-text{
      padding-left: 15px;
      padding-right: 15px;
      background-color: #ffffff;
      z-index: 1;
    }
    &::before{
      height: 10px;
      width: 100%;
      content:'';
      position: absolute;
      top: 2px;
      left: 0;
      z-index: -1;
      background-image:url(../../img/dotted-bg.png);
      background-repeat: repeat;
      background-position-x: -1px;
    }
  }
  &__container{
    display: flex;
    flex-wrap: wrap;
  }
  &__item{
    margin: 5px;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border: 1px solid #ececec;
    border-radius: 4px;
    position: relative;
    transition: .3s ease box-shadow;
    &:hover{
      box-shadow: 0 0 8px -1px rgba(0, 0, 0, 0.4);
    }
    &-bg{
      position: absolute;
      left: 2px;
      top: 2px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      border-radius: 4px;
    }
    &-icon{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      color: $white;
      opacity: 0;
      font-size: 14px;
    }
    &.active{
      .brk-color-filter__item-icon{
        opacity: 1;
      }
    }
  }
}
