@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.brk-ic {
  &-left-slide {
    position: relative;
    overflow: hidden;
    max-height: 400px;
    &__link{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      cursor: pointer;
    }
    &__pointer{
      cursor: pointer;
    }
    &__overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    &__img {
      display: block;
      position: relative;
      min-height: 100%;
      max-width: none;
      width: -webkit-calc(100% + 50px);
      width: calc(100% + 50px);
      opacity: 0.95;
      transition: opacity 0.35s, transform 0.35s;
      transform: translateX(-40px);

			[dir="rtl"] & {
				transform: translateX(40px);
			}
    }
    &:hover {
      .brk-ic-left-slide__img {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
      }
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 0;
      left: 0;
      width: calc(100% - 80px);
      padding: 0 29px 26px 25px;
      z-index: 2;

			[dir="rtl"] & {
				left: auto;
				right: 0;
			}

      &_vertical-line {
        padding-left: 31px;
        .brk-ic-left-slide__title {
          padding-top: 6px;
          padding-bottom: 6px;
          padding-left: 25px;
          border-left-width: 2px;
          border-left-style: solid;
        }
      }
      &_gradient {
        width: auto;
        max-width: 100%;
        padding: 24px 67px 22px 40px;
        clip-path: polygon(0 0, calc(100% - 47px) 0, 100% 100%, 0% 100%);

				[dir="rtl"] & {
					clip-path: polygon(47px 0, 100% 0, 100% 100%, 0% 100%);
					padding: 24px 40px 22px 67px;
				}
      }
      &_btn-left {
        left: auto;
        right: 0;
        width: calc(100% - 125px);
        padding: 0 29px 44px 25px;
      }
    }
    &__subtitle {
      color: $white;
      text-align: left;
      padding-left: 6px;

			[dir="rtl"] & {
				text-align: right;
			}
    }
    &__title {
      color: $white;
      text-align: left;

			[dir="rtl"] & {
				text-align: right;
			}

      &__link{
        cursor: pointer;
      }
      .uppercase {
        text-transform: uppercase;
      }
      .letter-spacing--20 {
        letter-spacing: -0.02em;
      }
      .letter-spacing--60 {
        letter-spacing: -0.06em;
      }
    }
    &__btn {
      position: absolute !important;
      bottom: 19px;
      right: 20px;

			[dir="rtl"] & {
				right: auto;
				left: 20px;
			}

      &_left {
        right: auto;
        left: 35px;
        bottom: 34px;
      }
      &_reverse {
        color: var(--brand-primary) !important;
        background: var(--white) !important;
        .before {
          background-color: var(--white) !important;
        }
        .after {
          background-color: var(--white) !important;
        }
      }
    }
  }
}

.brk-tilter {
  display: block;
  position: relative;
  width: 100%;
  height: 500px;
  color: $white;
  flex: none;
  perspective: 1000px;
}

.brk-tilter:hover,
.brk-tilter:focus {
  color: $white;
  outline: none;
}

.brk-tilter__figure,
.brk-tilter__image {
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.brk-tilter__figure{
  max-width: none;
}

.brk-tilter__figure > * {
  transform: translateZ(0px);
}

.smooth .brk-tilter__figure,
.smooth .brk-tilter__deco--overlay,
.smooth .brk-tilter__deco--lines,
.smooth .brk-tilter__deco--shine div,
.smooth .brk-tilter__caption {
  transition: transform 0.2s ease-out;
}

.brk-tilter__figure {
  position: relative;
}

.brk-tilter__deco {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 1px);
  height: 100%;
  overflow: hidden;
}

.brk-tilter__deco--shine div {
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.25) 50%, transparent 100%);
}

.brk-tilter--2 .brk-tilter__deco--lines{
  position: absolute;
  left: 21px;
  width: calc(100% - 39px);
  height: calc(100% - 39px);
  top: 20px;
  background-color: transparent;
  border: 3px solid white;
}

.brk-tilter--2 {
  .brk-tilter__title {
    color: var(--white);
  }
  .brk-tilter__subtitle {
    color: var(--secondary);
    background-color: var(--white);
    &:before {
      background-color: var(--white);
    }
  }
  .brk-tilter__description {
    color: var(--white) !important;
  }
}

.brk-tilter__caption {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 50px 54px 60px;
  text-align: left;
  display: flex;
  flex-direction: column;

  &--1 {
    .brk-tilter__title {
      text-transform: uppercase;
    }
    .brk-tilter__subtitle {
      padding: 4px 7px 4px 9px;
      margin-left: 2px;
      margin-top: 1px;
      text-transform: uppercase;
      align-self: flex-start;
    }
    .brk-tilter__description {
      margin-top: auto;

			[dir="rtl"] & {
				text-align: right;
			}
    }
  }
  &--2 {
    padding: 69px 69px 65px 69px;
    justify-content: flex-end;
    .brk-tilter__title {
      margin-bottom: 15px;
    }
    .brk-tilter__subtitle {
      padding-left: 19px;
      position: relative;
      z-index: 2;
      &:before {
        content: '';
        width: 13px;
        height: 1px;
        display: inline-block;
        position: absolute;
        top: 11px;
        left: 1px;
      }
    }
  }
}

.brk-tilter--1 .brk-tilter__figure::before {
  box-shadow: 0 30px 20px rgba(0, 0, 0, 0.5);
}

.brk-tilter--6 {
  width: calc(100% - 40px);
  margin-left: 40px;
  height: 460px;
  position: relative;
  top: 40px;

	[dir="rtl"] & {
		margin-left: 0;
		margin-right: 40px;
	}

  .brk-tilter__deco--lines {
    border-color: var(--brand-primary);
  }
  .brk-tilter__subtitle {
    color: var(--white);
    background-color: var(--brand-primary);
  }
  .brk-tilter__title {
    color: var(--white);
  }
}

.brk-tilter--6 .brk-tilter__deco--lines {
  width: 100%;
  height: 100%;
  top: -40px;
  left: -38px;
  border-width:10px;
  border-style:solid;
  background-color: transparent;

	[dir="rtl"] & {
		left: auto;
		right: -38px;
	}
}

.brk-tilter--6 {
  .brk-tilter__subtitle {
    padding: 4px 5px 2px 6px;
    margin-left: 2px;
    text-transform: uppercase;
    align-self: flex-start;
    margin-bottom: 9px;
  }

}

.brk-tilter--6 .brk-tilter__caption {
  padding: 35px 30px;
}

.brk-tilter--6 .brk-tilter__figure::before {
  box-shadow: none;

}

.brk-tilter--7 {
  .brk-tilter__title {
    color: var(--white);
  }
  .brk-tilter__subtitle {
    color: var(--white);
    &:before {
      background-color: var(--white);
    }
  }
}

.brk-tilter--7 .brk-tilter__deco--lines {
  top: 11px;
  left: 12px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-width:20px;
  border-style:solid;
  //general colors
  border-color:white;
  background-color: transparent;
  transform: scale3d(1, 1, 1);
  opacity: 1;
  transition: transform 0.3s, opacity 0.3s;
}

.brk-tilter--7:hover .brk-tilter__deco--lines {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.brk-tilter--7 .brk-tilter__figure::before {
  box-shadow: none;
}

.brk-tilter--8 {
  perspective: none;

  .brk-tilter__title {
    color: var(--white);
  }
  .brk-tilter__subtitle {
    color: var(--white);
  }
}

.brk-tilter--8 .brk-tilter__figure {
  transform-style: flat;
}

.brk-tilter--8 .brk-tilter__deco--lines {
  top: 18px;
  left: 21px;
  width: calc(100% - 39px);
  height: calc(100% - 40px);
  border-width: 3px;
  border-style:solid;
  //general colors
  border-color:white;
  background-color: transparent;
  transform: scale3d(1, 1, 1);
  opacity: 1;

}

.brk-tilter--8 .brk-tilter__caption {
  justify-content: center;
  .brk-tilter__title {
    margin-top: auto;
    margin-bottom: 14px;
    margin-left: -9px;
  }
  .brk-tilter__subtitle {
    margin-top: auto;
  }
}

.brk-tilter--8 .brk-tilter__figure::before {
  box-shadow: none;
}

.brk-ip-angle {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 500px;
  cursor: pointer;
  .brk-tilter__figure {
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.08);
  }
  .brk-tilter__caption {
    z-index: 3;
    padding: 39px 39px 54px 60px;

		[dir="rtl"] & {
			padding: 39px 60px 54px 39px;
		}
  }
  &__img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &__paragraph {
    z-index: 2;
    color: var(--white);
  }
  &__content {
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    height: 170px;
    clip-path: polygon(0 0, 100% 77px, 100% 100%, 0% 100%);
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding-top: 72px;
    padding-left: 40px;
    background-color: var(--white);

		[dir="rtl"] & {
			clip-path: polygon(0 77px, 100% 0, 100% 100%, 0% 100%);
			padding-left: 0;
			padding-right: 40px;
		}
  }
  &__subtitle {
    padding: 3px 4px 2px 5px;
    align-self: flex-start;
    margin-bottom: 5px;
    margin-left: 1px;
    color: var(--white);
  }
  &__title {
    white-space: nowrap;
    max-width: 260px;
  }
  &__overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
  }
  &__heart {
    position: absolute;
    right: 28px;
    bottom: 33px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    font-weight: 700;
    color: #000000;
    font-size: 23px;

		[dir="rtl"] & {
			right: auto;
			left: 28px;
		}
  }
}

.brk-ip-simple {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 500px;
  cursor: pointer;
  .brk-tilter__figure {
    clip-path: polygon(100% 0, 100% calc(100% - 36px), calc(100% - 36px) 100%, 0 100%, 0 0);

		[dir="rtl"] & {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 36px 100%, 0 calc(100% - 36px));
		}
  }
  .brk-tilter__caption {
    z-index: 3;
    padding: 44px 50px 54px 53px;
  }
  &__img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &__paragraph {
    z-index: 2;
    position: absolute;
    left: 20px;
    bottom: 20px;
    right: 20px;
    border: 2px solid $white;
    padding: 25px 32px;
    clip-path: polygon(100% 0, 100% calc(100% - 28px), calc(100% - 28px) 100%, 0 100%, 0 0);
    color: var(--white);

		[dir="rtl"] & {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 28px 100%, 0 calc(100% - 28px));
		}

    &__angle {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 28px 28px 0 0;
      border-color: $white transparent transparent transparent;
      position: absolute;
      bottom: 21px;
      right: 20px;
      z-index: 2;

			[dir="rtl"] & {
				right: auto;
				left: 20px;
				border-width: 0 28px 28px 0;
				border-color: transparent #fff transparent transparent;
				bottom: 20px;
			}
    }
  }
  &__title {
    z-index: 2;
    color: var(--white);
  }
  &__overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
  }
}



