@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.slider-thumbnailed_shop{
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  margin-bottom: 100px;
  .slider-thumbnailed-nav{
    max-width: 260px;
    box-shadow: 0px -10px 15px 0px rgba(0, 0, 0, .06);
  }
  .slider-thumbnailed-nav{
    border-radius: 8px;
  }
  .slider-thumbnailed-nav .brk-slid,
  .slider-thumbnailed-nav .brk-slid__overlay,
  .slider-thumbnailed-nav .brk-slid__img{
    border-radius: 4px;
  }
  .brk-slid__img{
    object-position: center top;
  }
}

.brk-sc-divider{
  display: block;
  width: 100%;
  height: 3px;
  background-image: url(../../img/dotted-border.png);  
}

.brk-sc-info-grid{
  >div{
    min-width: 50%;
    margin-bottom: 34px;
  }
}

.brk-color-filter_shop{
  .brk-color-filter__title{
    text-align: left !important;
    &:before{
      display: none;
    }
  }
  .brk-color-filter__title-text{
    padding: 0;
  }
  .brk-color-filter__container{
    margin-left: -6px;
  }
}

.brk-sc-item-page-body{
  &__bg{
    position: relative;
    box-shadow: inset 0 5px 26px rgba(0, 0, 0, 0.03);
    background-color: #f9f9f9;
    .brk-sc-bonus{
      top: -109px;
      margin-bottom: -62px;
    }
    .brk-tabs_rounded {
      position: relative;
      top: -58px;
      
    }
  }
  &__bg-img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.brk-sc-item-page-tabs{
  z-index: 1;
  margin-top: -63px;
  .brk-tabs-nav{
    z-index: 1;
    @media screen and (max-width:1230px){ 
      min-width: 200px !important;
    }
  }
  &__title{
    position: relative;
    padding-right: 32px;
    padding-left: 25px;
    margin-bottom: 39px;
    &:after{
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 3px;
      height: 42px;
    }
    @media screen and (max-width:1230px){ 
      padding-left: 0;
    }
  }
  .brk-tab-item{
    margin-top: -68px;
    padding-left: 17px;
    @media screen and (max-width:1230px){ 
      margin-top: 0;
    }
    @media screen and (max-width:767px){ 
      padding-left: 0;
    }
  }
  .brk-tab{
    &.active,
    &:hover{
      color: #000000;
    }
  }
}

.brk-sc-shop-item{
  margin-bottom: 175px;
  &__labels{
    position: absolute;
    left: -22px;
    top: 28px;
    z-index: 100; 
    .brk-sc-card-labels{
      position: relative;
      &:nth-child(2){
        top: -17px;
      }
    }
    @media screen and (max-width:620px){ 
      left: 28px; 
      top: 12px;
    }
  } 
  &__info{
    padding-left: 10px; 
  }
  &__info-btn{ 
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    flex-grow: 1;
    .border-btn{
      display: none;
    }
  }
}

.brk-tabs_shop{
  margin-top: -58px;
}

.brs-sidebar_right{
  height: 100%;
  position: relative;
  border-left: 1px solid #ebebeb;
  @media screen and (max-width:992px){ 
    border-left: none;
  }
}