@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.brk-tabs {
  .brk-tabs-content {
    position: relative;
  } // simple-top
  &-simple-top {
    // nav
    .brk-tabs-nav {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      border-bottom: 3px solid var(--text-base-color-3);

      @media (max-width: 575px) {
        border-bottom: transparent;
      }
    }
    .magic-line {
      position: absolute;
      bottom: -3px;
      left: 0;
      height: 3px;
      z-index: 9;
      background-image: linear-gradient(
                      to right,
                      rgba(var(--brand-primary-rgb), 0.94),
                      rgba(var(--brk-secondary-3-rgb), 0.94)
      );

      @media (max-width: 767px) {
        display: none;
      }
    }
    .brk-tab {
      position: relative;
      height: 70px;
      line-height: 70px;
      padding: 0 32px;
      cursor: pointer;
      font-size: rem(15);
      text-transform: uppercase;
      color: var(--brand-primary);
      @media (max-width: 991px) {
        height: 50px;
        line-height: 50px;
        padding: 0 22px;
        font-size: rem(13);
      }
      @media (max-width:767px) {
        &:before {
          content: '';
          position: absolute;
          left: 50%;
          bottom: -3px;
          transform: translateX(-50%);
          width: 0;
          height: 3px;
          transition: all .3s ease-in-out;
          background-image: linear-gradient(
                          to right,
                          rgba(var(--brand-primary-rgb), 0.94),
                          rgba(var(--brk-secondary-3-rgb), 0.94)
          );
        }
      }
      @media (max-width:575px) {
        height: 38px;
        line-height: 38px;
        padding: 0 22px;
        font-size: rem(13);
        width: 100%;
        flex-basis: 100%;
        border-bottom: 3px solid var(--text-base-color-3);
      }
      &.active,
      &:hover {
        &:before {
          width: 100%;
        }
      }
      span {
        margin-left: 12px;
      }
      i {
        vertical-align: 0;
        font-weight: 400;
      }
    } // content
    .brk-tabs-content {
      padding: 45px 0 0;
    }
    .brk-tab-item {
      display: none;
      text-align: left;
      span {
        display: inline-block;
      }
      &.active {
        display: block;
      }
    }
  } // simple-bottom
  &-simple-bottom {
    position: relative;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column; // nav
    .brk-tabs-nav {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      order: 2;
      position: relative;
      border-top: 3px solid var(--text-base-color-3);

      @media (max-width: 575px) {
        border-top: transparent;
      }
    }
    .magic-line {
      position: absolute;
      top: -3px;
      left: 0;
      height: 3px;
      z-index: 9;
      background-image: linear-gradient(
                      to right,
                      rgba(var(--brand-primary-rgb), 0.94),
                      rgba(var(--brk-secondary-3-rgb), 0.94)
      );
      @media (max-width: 767px) {
        display: none;
      }
    }
    .brk-tab {
      position: relative;
      height: 70px;
      line-height: 70px;
      padding: 0 32px;
      cursor: pointer;
      font-size: rem(15);
      text-transform: uppercase;
      color: var(--brand-primary);
      @media (max-width: 991px) {
        height: 50px;
        line-height: 50px;
        padding: 0 22px;
        font-size: rem(13);
      }
      @media (max-width:767px) {
        &:before {
          content: '';
          position: absolute;
          left: 50%;
          top: -3px;
          transform: translateX(-50%);
          width: 0;
          height: 3px;
          transition: all .3s ease-in-out;
          background-image: linear-gradient(
                          to right,
                          rgba(var(--brand-primary-rgb), 0.94),
                          rgba(var(--brk-secondary-3-rgb), 0.94)
          );
        }
      }
      @media (max-width:575px) {
        height: 38px;
        line-height: 38px;
        padding: 0 22px;
        font-size: rem(13);
        width: 100%;
        flex-basis: 100%;
        border-top: 3px solid var(--text-base-color-3);
      }
      &.active,
      &:hover {
        &:before {
          width: 100%;
        }
      }
      span {
        margin-left: 12px;
      }
      i {
        vertical-align: 0;
        font-weight: 400;
      }
    } // content
    .brk-tabs-content {
      padding: 0 0 20px;
      order: 1;
    }
    .brk-tab-item {
      display: none;
      text-align: left;
      span {
        display: inline-block;
      }
      &.active {
        display: block;
      }
    }
  } // side-left
  &-side-left {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; // nav
    .brk-tabs-nav {
      flex-basis: 270px;
      width: 270px;
      @media (max-width: 991px) {
        flex-basis: 52px;
        width: 52px;
      }
    }
    .brk-tab {
      position: relative;
      height: 52px;
      line-height: 52px;
      padding: 0 10px 0 23px;
      cursor: pointer;
      font-size: rem(15);
      text-transform: uppercase;
      text-align: left;
      transition: all .3s ease-in-out;
      color: var(--brand-primary);
      @media (max-width: 991px) {
        padding: 0;
        width: 100%;
      }
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 3px;
        height: 0;
        transition: all .3s ease-in-out;
        background-image: linear-gradient(
                        to bottom,
                        rgba(var(--brand-primary-rgb), 0.94),
                        rgba(var(--brk-secondary-3-rgb), 0.94)
        );
      }
      &.active,
      &:hover {
        background-color: var(--text-base-color-3);
        &:after {
          height: 100%;
        }
      }
      span {
        margin-left: 12px;
        @media (max-width: 991px) {
          display: none;
        }
      }
      i {
        vertical-align: 0;
        font-weight: 400;
        @media (max-width: 991px) {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    } // content
    .brk-tabs-content {
      flex-basis: calc(100% - 300px);
      width: calc(100% - 300px);
      @media (max-width: 991px) {
        flex-basis: calc(100% - 72px);
        width: calc(100% - 72px);
      }
    }
    .brk-tab-item {
      display: none;
      span {
        display: inline-block;
      }
      &.active {
        display: block;
      }
    }
  } // side-right
  &-side-right {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; // nav
    .brk-tabs-nav {
      flex-basis: 270px;
      width: 270px;
      order: 2;
      @media (max-width: 991px) {
        flex-basis: 52px;
        width: 52px;
      }
    }
    .brk-tab {
      position: relative;
      height: 52px;
      line-height: 52px;
      padding: 0 23px 0 10px;
      cursor: pointer;
      font-size: rem(15);
      text-transform: uppercase;
      text-align: right;
      transition: all .3s ease-in-out;
      color: var(--brand-primary);
      @media (max-width: 991px) {
        padding: 0;
        width: 100%;
      }
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 3px;
        height: 0;
        transition: all .3s ease-in-out;
        background-image: linear-gradient(
                        to bottom,
                        rgba(var(--brand-primary-rgb), 0.94),
                        rgba(var(--brk-secondary-3-rgb), 0.94)
        );
      }
      &.active,
      &:hover {
        background-color: var(--text-base-color-3);
        &:after {
          height: 100%;
        }
      }
      span {
        margin-right: 12px;
        @media (max-width: 991px) {
          display: none;
        }
      }
      i {
        vertical-align: 0;
        font-weight: 400;
        @media (max-width: 991px) {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    } // content
    .brk-tabs-content {
      flex-basis: calc(100% - 300px);
      width: calc(100% - 300px);
      order: 1;
      @media (max-width: 991px) {
        flex-basis: calc(100% - 72px);
        width: calc(100% - 72px);
      }
    }
    .brk-tab-item {
      display: none;
      span {
        display: inline-block;
      }
      &.active {
        display: block;
      }
    }
  } // icon-left
  &-icon-left {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; // nav
    .brk-tabs-nav {
      flex-basis: 60px;
      width: 60px;
      background-color: var(--text-base-color-3);
    }
    .brk-tab {
      position: relative;
      height: 60px;
      line-height: 60px;
      padding: 0;
      cursor: pointer;
      font-size: rem(18);
      text-transform: uppercase;
      text-align: center;
      transition: all .3s ease-in-out;
      color: var(--brand-primary);

      &.active {
        background-color: var(--brand-primary);
        i {
          color: var(--white);
        }
      }
      &:hover {
        background-color: var(--brand-primary);
        span {
          transform: translate(0, -50%);
          opacity: 1;
          visibility: visible;
        }
        i {
          color: var(--white);
        }
      }
      span {
        position: absolute;
        left: 82px;
        right: auto;
        top: 50%;
        font-size: rem(15);
        line-height: 42px;
        display: block;
        padding: 0 25px;
        height: 42px;
        white-space: nowrap;
        transform: translate(-82px, -50%);
        transition: all .3s ease-in-out;
        opacity: 0;
        visibility: hidden;
        z-index: 9;
        background-color: var(--brand-primary);
        color: var(--white);
        @media (min-width: 1400px) {
          right: 82px;
          left: auto;
          transform: translate(82px, -50%);
        }
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: -8px;
          right: auto;
          transform: translateY(-50%);
          width: 0;
          height: 0;
          border-top: 8px solid transparent;
          border-bottom: 8px solid transparent;
          border-right: 8px solid var(--brand-primary);
          @media (min-width: 1400px) {
            right: -8px;
            left: auto;
            border-right: none !important;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 8px solid var(--brand-primary);
          }
        }
      }
      i {
        vertical-align: 0;
        font-weight: 400;
      }
    } // content
    .brk-tabs-content {
      flex-basis: calc(100% - 90px);
      width: calc(100% - 90px);
    }
    .brk-tab-item {
      display: none;
      text-align: left;
      span {
        display: inline-block;
      }
      &.active {
        display: block;
      }
    }
  } // icon-right
  &-icon-right {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; // nav
    .brk-tabs-nav {
      flex-basis: 60px;
      width: 60px;
      order: 2;
      background-color: var(--text-base-color-3);
    }
    .brk-tab {
      position: relative;
      height: 60px;
      line-height: 60px;
      padding: 0;
      cursor: pointer;
      font-size: rem(18);
      text-transform: uppercase;
      text-align: center;
      transition: all .3s ease-in-out;
      color: var(--brand-primary);
      &.active {
        background-color: var(--brand-primary);
        i {
          color: var(--white);
        }
      }
      &:hover {
        background-color: var(--brand-primary);
        i {
          color: var(--white);
        }
        span {
          transform: translate(0, -50%);
          opacity: 1;
          visibility: visible;
        }
      }
      span {
        position: absolute;
        left: auto;
        right: 82px;
        top: 50%;
        font-size: rem(15);
        line-height: 42px;
        display: block;
        padding: 0 25px;
        height: 42px;
        white-space: nowrap;
        transform: translate(82px, -50%);
        transition: all .3s ease-in-out;
        opacity: 0;
        visibility: hidden;
        background-color: var(--brand-primary);
        color: var(--white);
        @media (min-width: 1400px) {
          right: auto;
          left: 82px;
          transform: translate(-82px, -50%);
        }
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: auto;
          right: -8px;
          transform: translateY(-50%);
          width: 0;
          height: 0;
          border-top: 8px solid transparent;
          border-bottom: 8px solid transparent;
          border-left: 8px solid var(--brand-primary);
          @media (min-width: 1400px) {
            right: auto;
            left: -8px;
            border-left: none !important;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-right: 8px solid var(--brand-primary);
          }
        }
      }
      i {
        vertical-align: 0;
        font-weight: 400;
      }
    } // content
    .brk-tabs-content {
      flex-basis: calc(100% - 90px);
      width: calc(100% - 90px);
      order: 1;
    }
    .brk-tab-item {
      display: none;
      text-align: left;
      span {
        display: inline-block;
      }
      &.active {
        display: block;
      }
    }
  } // bottom-top
  &-bottom-top {
    background-color: var(--white);
    // nav
    .brk-tabs-nav {
      display: flex;
      flex-wrap: wrap;
      position: relative;
    }
    .magic-line {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-image: linear-gradient(
                      to right,
                      rgba(var(--brand-primary-rgb), 0.94),
                      rgba(var(--brk-secondary-3-rgb), 0.94)
      );
      @media (max-width: 991px) {
        display: none;
      }
    }
    .brk-tab {
      position: relative;
      height: 70px;
      line-height: 70px;
      padding: 0 15px;
      text-align: center;
      flex-grow: 1;
      cursor: pointer;
      font-size: rem(16);
      text-transform: uppercase;
      color: var(--brand-primary);
      border: 1px solid #f1f1f1;
      border-left-color: transparent;
      z-index: 2;
      transition: all .2s ease-in-out;
      @media (max-width: 991px) {
        height: 50px;
        line-height: 50px;
        padding: 0 22px;
        font-size: rem(13);
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 0;
          height: 0;
          transition: all .3s ease-in-out;
          z-index: -1;
          background-image: linear-gradient(
                          to right,
                          rgba(var(--brand-primary-rgb), 0.94),
                          rgba(var(--brk-secondary-3-rgb), 0.94)
          );
        }
      }
      @media (max-width: 767px) {
        border-left-color: #f1f1f1 !important;
      }
      @media (max-width:575px) {
        height: 38px;
        line-height: 38px;
        padding: 0 22px;
        font-size: rem(13);
        width: 100%;
        flex-basis: 100%;
        border-top-color: transparent;
      }
      &:first-child {
        border-left: 1px solid #f1f1f1;

        @media (max-width: 575px) {
          border-top-color: #f1f1f1 !important;
        }
      }
      &.active,
      &:hover {
        color: var(--white);
        &:before {
          width: 100%;
          height: 100%;
        }
      }
      &.no-hover {
        @media (min-width: 992px) {
          color: var(--brand-primary);
        }
      }
      span {
        margin-left: 12px;
      }
      i {
        vertical-align: 0;
        font-weight: 400;
      }
    } // content
    .brk-tabs-content {
      padding: 70px;
      border: 1px solid #f1f1f1;
      border-top: transparent;
      @media (max-width: 991px) {
        padding: 30px 20px;
      }
    }
    .brk-tab-item {
      display: none;
      text-align: left;
      // span {
      //   display: inline-block;
      // }
      &.active {
        display: block;
      }
    }
  } // bottom-bottom
  &-bottom-bottom {
    background-color: var(--white);
    position: relative;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column; // nav
    .brk-tabs-nav {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      position: relative;
      order: 2;
    }
    .magic-line {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-image: linear-gradient(
                      to right,
                      rgba(var(--brand-primary-rgb), 0.94),
                      rgba(var(--brk-secondary-3-rgb), 0.94)
      );
      @media (max-width: 991px) {
        display: none;
      }
    }
    .brk-tab {
      position: relative;
      height: 70px;
      line-height: 70px;
      padding: 0 15px;
      text-align: center;
      flex-grow: 1;
      cursor: pointer;
      font-size: rem(16);
      text-transform: uppercase;
      z-index: 3;
      transition: all .2s ease-in-out;
      color: var(--brand-primary);
      border: 1px solid #f1f1f1;
      border-left-color: transparent;
      @media (max-width: 991px) {
        height: 50px;
        line-height: 50px;
        padding: 0 22px;
        font-size: rem(13);
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 0;
          height: 0;
          transition: all .3s ease-in-out;
          z-index: -1;
          background-image: linear-gradient(
                          to right,
                          rgba(var(--brand-primary-rgb), 0.94),
                          rgba(var(--brk-secondary-3-rgb), 0.94)
          );
        }
      }
      @media (max-width: 767px) {
        border-left-color: #f1f1f1 !important;
      }
      @media (max-width:575px) {
        height: 38px;
        line-height: 38px;
        padding: 0 22px;
        font-size: rem(13);
        width: 100%;
        flex-basis: 100%;
        border-top-color: transparent;
      }
      &:first-child {
        border-left: 1px solid #f1f1f1;

        @media (max-width: 575px) {
          border-top-color: #f1f1f1 !important;
        }
      }
      &.active,
      &:hover {
        color: var(--white);
        &:before {
          width: 100%;
          height: 100%;
        }
      }
      &.no-hover {
        @media (min-width: 992px) {
          color: var(--brand-primary);
        }
      }
      span {
        margin-left: 12px;
      }
      i {
        vertical-align: 0;
        font-weight: 400;
      }
    } // content
    .brk-tabs-content {
      padding: 70px;
      order: 1;
      border: 1px solid #f1f1f1;
      border-bottom: transparent;
      @media (max-width: 991px) {
        padding: 30px 20px;
      }
    }
    .brk-tab-item {
      display: none;
      text-align: left;
      // span {
      //   display: inline-block;
      // }
      &.active {
        display: block;
      }
    }
  } // parallax
  &-parallax {
    position: relative;
    box-shadow: 0 6px 30px rgba(0, 0, 0, .12);
    display: flex;
    flex-direction: column; // nav
    .brk-tabs-nav {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      width: 100%;
      z-index: 2;
      order: 2;
    }
    .magic-line {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      z-index: 9;
      background-image: linear-gradient(
                      to right,
                      rgba(var(--brand-primary-rgb), 0.94),
                      rgba(var(--brk-secondary-3-rgb), 0.94)
      );
      @media (max-width: 991px) {
        display: none;
      }
    }
    .brk-tab {
      position: relative;
      height: 70px;
      line-height: 70px;
      padding: 0 15px;
      text-align: center;
      flex-grow: 1;
      display: block;
      cursor: pointer;
      font-size: rem(15);
      text-transform: uppercase;
      box-shadow: 0 -10px 14px rgba(0, 0, 0, .06);
      color: var(--brand-primary);
      background-color: var(--white);
      @media (max-width: 991px) {
        height: 50px;
        line-height: 50px;
        padding: 0 22px;
        font-size: rem(13);
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 0;
          z-index: 9;
          transition: all .3s ease-in-out;
          background-image: linear-gradient(
                          to right,
                          rgba(var(--brand-primary-rgb), 0.94),
                          rgba(var(--brk-secondary-3-rgb), 0.94)
          );
        }
      }
      @media (max-width:575px) {
        height: 38px;
        line-height: 38px;
        padding: 0 22px;
        font-size: rem(13);
        width: 100%;
        flex-basis: 100%;
      }
      &.active,
      &:hover {
        &:before {
          height: 3px;
        }
      }
      span {
        margin-left: 12px;
      }
      i {
        vertical-align: 0;
        font-weight: 400;
      }
    } // content
    .brk-tabs-content {
      position: relative;
      z-index: 1;
      order: 1;
    }
    .brk-tab-item {
      display: none;
      text-align: left;
      padding: 70px;
      position: relative;
      @media (max-width: 991px) {
        padding: 30px 20px;
      }
      .layer-fix {
        position: absolute;
        right: 70px;
        bottom: -40px;
        @media (max-width: 991px) {
          display: none;
        }
      }
      span {
        display: inline-block;
      }
      &.active {
        display: block;
      }
    }
  } // smooth
  &-smooth {
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 6px 30px rgba(0, 0, 0, .12); // nav
    background-color: var(--white);
    .brk-tabs-nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      position: relative;
      background: no-repeat center center;
      background-size: cover;
      box-shadow: 0 5px 10px rgba(0, 0, 0, .08);
      border-bottom: 3px solid var(--brk-secondary-3);
      @media (max-width: 991px) {
        padding: 10px 0;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background-image: linear-gradient(
                        to right,
                        rgba(var(--brk-base-3-rgb), 0.92),
                        rgba(var(--brk-secondary-3-rgb), 0.92)
        );
      }
    }
    .brk-tab {
      position: relative;
      height: 100px;
      line-height: 100px;
      padding: 0 20px;
      cursor: pointer;
      font-size: rem(18);
      font-weight: 300;
      text-transform: uppercase;
      z-index: 2;
      transition: all .3s ease-in-out;
      color: rgba(var(--white-rgb), 0.4);
      @media (max-width: 991px) {
        height: 40px;
        line-height: 40px;
        padding: 0 8px;
        font-size: rem(14);
      }
      &:after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        bottom: -9px;
        opacity: 0;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        border-top: 6px solid var(--brk-secondary-4);
        transition: all .3s ease-in-out;
        @media (max-width: 991px) {
          display: none;
        }
      }
      &.active,
      &:hover {
        color: var(--white);
        &:after {
          opacity: 1;
        }
      }
      span {
        display: block;
      }
      i {
        vertical-align: 0;
        font-weight: 400;
      }
    } // content
    .brk-tabs-content {
      padding: 40px;
      @media (max-width: 991px) {
        padding: 20px;
      }
    }
    .brk-tab-item {
      display: none;
      text-align: left;
      span {
        display: inline-block;
      }
      &.active {
        display: block;
      }
    }
  } // simple
  &-simple {
    // nav
    .brk-tabs-nav {
      display: flex;
      flex-wrap: wrap;
    }
    .brk-tab {
      position: relative;
      width: auto;
			text-align: center;
      min-width: 200px;
      height: 68px;
      line-height: 68px;
      padding: 0 15px;
      cursor: pointer;
      font-size: rem(16);
      font-weight: 600;
      box-shadow: 0 -10px 14px rgba(0, 0, 0, .06);
      transition: all .3s ease-in-out;
      margin-top: 8px;
      color: var(--brand-primary);
      background-color: #fdfdfd;
      @media (max-width: 991px) {
        min-width: 1px;
        height: 58px;
        line-height: 58px;
        font-size: rem(13);
        font-weight: 500;
        margin-top: 0;
        z-index: 10;
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 3px;
        transform: translateX(-50%);
        transition: all .3s ease-in-out;
        background-image: linear-gradient(
                        to right,
                        rgba(var(--brand-primary-rgb), 0.94),
                        rgba(var(--brk-secondary-3-rgb), 0.94)
        );
      }
      &.active,
      &:hover {
        height: 76px;
        margin-top: 0;
        padding-top: 8px;
        z-index: 9;
        background-color: var(--white);
        @media (max-width: 991px) {
          height: 58px;
          padding-top: 0;
        }
        &:after {
          width: 100%;
        }
      }
      span {
        margin-left: 12px;
      }
      i {
        vertical-align: 0;
        font-weight: 400;
      }
    } // content
    .brk-tabs-content {
      padding: 40px;
      box-shadow: 0 6px 30px rgba(0, 0, 0, .12);
      background-color: var(--white);
      @media (max-width: 991px) {
        padding: 20px;
      }
    }
    .brk-tab-item {
      display: none;
      text-align: left;
      span {
        display: inline-block;
      }
      &.active {
        display: block;
      }
    }
  } // hover
  &-hovers {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; // nav

    &_style-1 {
      .brk-tabs-nav {
        background-color: #f9fbff; //BASE
        box-shadow: inset -2px 0 10px rgba(0,0,0,.06), inset 0 0 5px rgba(0,0,0,.01);
        padding-top: 26px;
      }
      .brk-tab {
        font-size: rem(14);
        line-height: 48px;
        text-transform: uppercase;
        padding-left: 29px;
        position: relative;
        z-index: 1;

				[dir="rtl"] & {
					padding-left: 0;
					padding-right: 29px;
				}

        &:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: -5px;
          right: -5px;
          opacity: 0;
          z-index: -1;
          background-color: #f3f7ff; //BASE
          box-shadow: 0 2px 5px rgba(var(--brand-primary-rgb),.16); //BASE
          transition: all .3s ease-in-out;
        }

        i {
          vertical-align: 0;
          position: relative;
          top: -1px;
          margin-right: 22px;
          color: #c1c1c1; //BASE

					[dir="rtl"] & {
						margin-right: 0;
						margin-left: 22px;
					}
        }

        &:hover,
        &.current {
          &:before {
            opacity: 1;
          }

          i {
            color: var(--brand-primary); //BASE
          }
        }
      }
    }

    &_style-2 {
      .brk-tabs-nav {
        padding-top: 15px;
        border-right: 1px solid rgba(#000, .1);
      }
      .brk-tab {
        font-size: rem(12);
        line-height: 42px;
        text-transform: uppercase;
        padding-left: 28px;

				[dir="rtl"] & {
					padding-left: 0;
					padding-right: 28px;
				}

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          transition: all .3s ease-in-out;
          background-color: var(--brk-base-6); //BASE
        }

				i {
					line-height: inherit;
					margin-right: 15px;

					[dir="rtl"] & {
						margin-right: 0;
						margin-left: 15px;
					}
				}

        &:hover,
        &.current {
          background-color: #f7f7f7; //BASE

          &:before {
            width: 2px;
          }
        }
      }
    }

    .brk-tabs-nav {
      flex-basis: 100%;
      width: 100%;

      @media (min-width: 991px) {
        flex-basis: 315px;
        width: 315px;
        text-align: left;

				[dir="rtl"] & {
					text-align: right;
				}
      }
    }
    .brk-tab {
      display: block;
      cursor: pointer;
      position: relative;
      z-index: 3;
      transition: all .3s ease-in-out;

      /*&__icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        width: 40px;
        height: 20px;
        border-radius: 10px;
        background-color: $white; //BASE
        border: 1px solid #ececec;
        i {
          position: absolute;
          vertical-align: 0;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }*/
    }
    .brk-tabs-content {
      flex-basis: 100%;
      width: 100%;

      @media (min-width: 991px) {
        flex-basis: calc(100% - 315px);
        width: calc(100% - 315px);
      }
    }

    &__duplicate-icon {
      position: absolute;
      bottom: -11px;
      left: -24px;
      z-index: 1;

			[dir="rtl"] & {
				left: auto;
				right: -24px;
			}

      i {
        font-size: rem(256);
        line-height: 200px;
        color: rgba(#9dbeff, .1);

        @media (max-width: 1500px) {
          font-size: rem(190);
          line-height: 150px;
        }
      }

      @media (max-width: 991px) {
        display: none;
      }
    }
  } // simple smooth
  &-simple-smooth {
    display: flex;
    .brk-tabs-nav {
      min-width: 200px;
      flex-shrink: 0;
      text-align: right;
    }
    .brk-tab {
      cursor: pointer;
      margin-bottom: 27px;
      color: #b6b6b6;
      &.active,
      &:hover {
        color: var(--brk-base-3);
      }
    }
    .brk-tabs-content {
      text-align: left;
      margin-left: 45px;
    }
    
    @media screen and (max-width:992px) {
      .brk-tabs-nav {
        min-width: 1px;
      }
    }
    @media screen and (max-width:768px) {
      flex-direction: column;
      .brk-tabs-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
      }
      .brk-tabs-content {
        margin-left: 0 !important;
      }
    }
  }
  &_canted {
    .brk-tabs-nav {
      display: flex;
      flex-grow: 1;
      border-bottom: 1px solid #ebebeb;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        border: 0;
      }
    }
    .brk-tab {
      padding: 18px 50px 17px 50px;
      margin-left: -35px;
      clip-path: polygon(0 0, calc(100% - 35px) 0, 100% 100%, 35px 100%);
      cursor: pointer;
      transition: .3s ease all;
      opacity: 0.3;
      &:first-child {
        border-top-left-radius: 5px;
        clip-path: polygon(0 0, calc(100% - 35px) 0, 100% 100%, 0% 100%);
        padding-left: 33px;
        margin-left: 0;
      }
      &:last-child {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 35px 100%);
        border-top-right-radius: 5px;
        padding-right: 30px;
      }
      &:hover,
      &.active {
        background-image: linear-gradient(to top, #f2f4f8 0%, #f0f2f8 100%); 
        opacity: 1;
      }
      @media screen and (max-width: 768px) {
        margin-left: 0;
        text-align: center;
        clip-path: polygon(0 0, calc(100% - 35px) 0, 100% 100%, 35px 100%) !important;
      }
    }
  }
  &_rounded{
    position: relative;
    .brk-tabs-nav{
      min-height: 58px;
      box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
      background-color: #ffffff;
      border:4px solid #ffffff;
      border-radius: 30px;
      transform: translateY(50%);
      z-index: 1;
    }
    .brk-tabs-content{
      padding-top: 71px;
      padding-bottom: 40px;
      position: relative;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
      &__img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: -2;
      }
      &__overlay{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
    }
    .brk-tab{
      height: 50px;
      opacity: 0.4;
      position: relative;
      color: var(--brand-primary); 
      transition: .3s ease color , .3s ease opacity, .3s ease box-shadow;
      cursor: pointer;
      z-index: 1;
      border-radius: 25px;
      @media screen and (max-width:992px){ 
        width: 100%;
        justify-content: center;
  
      }
      i{
        margin-right: 10px;
        margin-top: -4px;
      }
      &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        border-radius: 25px;
        transition: .3s ease background-color;
        z-index: -1;
      }
      &:hover{
        opacity: 1;
      }
      &.active{
        opacity: 1;
        color :#ffffff;
        box-shadow: 0 5px 16px rgba(var(--brand-primary-rgb), 0.5);
        &:before{
          background-color: var(--brand-primary);
        }
      }
    }
    .brk-tab-item{
      z-index: 1;
    }
    .slick-list{
      margin-left: -15px;
      margin-right: -15px;
    }
    .slick-slide{
      padding: 25px 15px;
    }
    .brk-slider{
      &__control{ 
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50% , 50%);
      }
      &__prev,
      &__next{
        padding: 5px 7px;
        cursor: pointer;
        margin-top: -4px;
      }
      &__prev{
        order: -1;
        margin-right: -45px;
        z-index: 10;
      }
      &__next{
        order:  2;
        margin-left: -45px;
        z-index: 10;
      }
    }
    .slick-dots{
      position: relative;
      transform: none;
      left: auto;
      max-width: none;
      padding: 0 50px;
    }
  }
}


