@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.brk-backgrounds {
	position: relative;
	overflow: hidden;
	z-index: 1;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	/* Canvas */
	&__canvas {
		position: absolute;
		z-index: 4;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	/* Content */
	&__content {
		position: relative;
		z-index: 9;
	}

	&__before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
	}

	&__after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 3;
	}

	&__impuls {
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 80px;
		height: 80px;

		span {
			position: absolute;
			border-radius: 50%;
			border: 0 solid rgba($white, 0);
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			@for $i from 1 through 5 {
				&:nth-child(#{$i}) {
					animation: impuls-bg 5s linear infinite $i * 1s;
				}
			}

		}

		@keyframes impuls-bg {
			0% {
				border: 40px solid rgba($white, .12);
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}
			100% {
				border: 80px solid rgba($white, 0);
				top: -500px;
				right: -500px;
				bottom: -500px;
				left: -500px;
			}
		}

	}

	&_gradient-animation {
		animation: gradient-animation 8s ease infinite;
		background-size: 200% 200%;
	}

	@keyframes gradient-animation {
		0% {
			background-position: 0% 50%
		}
		50% {
			background-position: 100% 50%
		}
		100% {
			background-position: 0% 50%
		}
	}

	&_gradient-flash {
		animation: gradient-flash 8s ease infinite;
		background-size: 200% 200%;
	}

	@keyframes gradient-flash {
		0% {
			background-position: -30% 50%
		}
		50% {
			background-position: 130% 50%
		}
		100% {
			background-position: -30% 50%
		}
	}

	// additional components
	#fss {
		opacity: .15;
	}

	&__parallax {
		position: absolute;
		z-index: 4;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&--bg-1,
		&--bg-2 {
			background-repeat: repeat-y;
			background-size: contain;
			position: absolute;
			z-index: 50;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		&--bg-1 {
			background-image: url(../../img/backgrounds-parallax-1.png);
		}
		&--bg-2 {
			z-index: 48;
			background-image: url(../../img/backgrounds-parallax-2.png);
		}

	}

}

.brk-animated-circle{
  position: absolute;
  z-index: -1;
}

.brk-animated-circle-1{
  svg{
    animation: rotate 9s linear infinite;
  }

  .brk-animated-circle__container{
    position: absolute; 
    left: -4px; 
    top: -8px; 
    width: 100%; 
    height: 100%;
  }
  .brk-animated-circle__dot-1{
    position: absolute;
    width: 12px;
    height: 12px;
    background-image: linear-gradient(to top, rgba(var(--brand-primary-rgb), 0.94) 0%, rgba(var(--brk-base-5-rgb), 0.94) 100%);
    top: 50%;
    left: 50%;
    border-radius: 100%;
    animation: orbit-1 4s linear infinite;
  }
}

.brk-animated-circle-2{
  svg{
    animation: rotate 15s linear infinite;
  }
  .brk-animated-circle__container{
    position: absolute;
    left: -4px;
    top: -8px;
    width: 100%;
    height: 100%;
  }
  .brk-animated-circle__dot-1{
    position: absolute;
    width: 12px;
    height: 12px;
    background-image: linear-gradient(to top, rgba(var(--brand-primary-rgb), 0.94) 0%, rgba(var(--brk-base-5-rgb), 0.94) 100%);
    top: 50%;
    left: 50%;
    border-radius: 100%;
    animation: orbit-2 2s linear infinite;
  }
}

.brk-animated-circle-3{
  .brk-animated-circle__container{
    position: absolute;
    left: -22px;
    top: -24px;
    width: 100%;
    height: 100%;
  }
  .brk-animated-circle__dot-1{
    position: absolute;
    width: 45px;
    height: 45px;
    background-image: linear-gradient(to top, rgba(var(--brand-primary-rgb), 0.94) 0%, rgba(var(--brk-base-5-rgb), 0.94) 100%);
    top: 50%;
    left: 50%;
    border-radius: 100%;
    animation: orbit-3 5s linear infinite;
  }
  .brk-animated-circle__dot-2{
    position: absolute;
    width: 12px;
    height: 12px;
    background-image: linear-gradient(to top, rgba(var(--brand-primary-rgb), 0.94) 0%, rgba(var(--brk-base-5-rgb), 0.94) 100%);
    top: 50%;
    left: 50%;
    border-radius: 100%;
    animation: orbit-4 2s linear infinite;
  }
}

.brk-animated-circle-4{
  .brk-animated-circle__container{
    position: absolute;
    left: -22px;
    top: -24px;
    width: 100%;
    height: 100%;
  }
  .brk-animated-circle__dot-1{
    position: absolute;
    width: 45px;
    height: 45px;
    background-image: linear-gradient(to top, rgba(39, 117, 255, 0.94) 0%, rgba(0, 198, 255, 0.94) 100%);
    top: 50%;
    left: 50%;
    border-radius: 100%;
    animation: orbit-3 5s linear infinite;
  }
  .brk-animated-circle__dot-2{
    position: absolute;
    width: 12px;
    height: 12px;
    background-image: linear-gradient(to top, rgba(39, 117, 255, 0.94) 0%, rgba(0, 198, 255, 0.94) 100%);
    top: 50%;
    left: 50%;
    border-radius: 100%;
    animation: orbit-4 2s linear infinite;
  }
  .brk-animated-circle__dot-3{
    position: absolute;
    width: 12px;
    height: 12px;
    background-image: linear-gradient(to top, rgba(39, 117, 255, 0.94) 0%, rgba(0, 198, 255, 0.94) 100%);
    top: 50%;
    left: 50%;
    border-radius: 100%;
    animation: orbit-5 1s linear infinite;
  }
}

.brk-animated-circle-5{
  .brk-animated-circle__container{
    position: absolute;
    width: 100%;
    height: 100%;
    left: -35px;
    top: -35px;
  }
  svg{
    position: absolute;
    display: inline-block;

    top: 50%;
    left: 50%;
    animation: orbit-7 3s linear infinite;
  }
}

.brk-animated-circle-6{
  .brk-animated-circle__figure{
    width: 157px;
    height: 157px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    animation: rotate 30s linear infinite;        
  }
  .brk-animated-circle__container{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 100%;

    svg{
      position: absolute;
      left: 25%;
      top: 25%;
      animation: orbit-8 5s linear infinite;
    }
  }
}

.brk-animated-circle-7{
  svg{
    animation: jello 15s linear infinite;
  }
}

.brk-animated-dot{
  position: absolute;
  z-index: -1;
  &-1{
    .brk-animated-dot__figure{
      width: 18px;
      height: 18px;
      background-image: linear-gradient(-30deg, rgba(var(--brand-primary-rgb), 0.9) 0%, rgba(var(--secondary-rgb), 0.9) 100%);
      border-radius: 100%;
      position: absolute;
    }
    .brk-animated-dot__container{
      width: 150px;
      height: 150px;
      position: relative;
    }
  }
}

.brk-animated-circle-8{
  svg{
    animation: jello 15s linear infinite;
  }
}

.brk-animated-circle-9{
  .brk-animated-circle__container{
    display: inline-block;
    position: absolute;
    animation: orbit-6 6s linear infinite;
  }
}

.brk-animated-circles-example{
  .brk-animated-circle,
  .brk-animated-dot{
    position: relative;
  }
}

@keyframes jello {
  11.1% {
    transform: skewX(5.5deg) skewY(2.5deg);
  }
  22.2% {
    transform: skewX(-4.5deg) skewY(-2.5deg)
  }
  33.3% {
    transform: skewX(4.25deg) skewY(6.25deg)
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg)
  }
  55.5% {
    transform: skewX(2.5625deg) skewY(2.5625deg)
  }
  66.6% {
    transform: skewX(-3.78125deg) skewY(-3.78125deg)
  }
  77.7% {
    transform: skewX(4.390625deg) skewY(3.390625deg)
  }
  88.8% {
    transform: skewX(-3.1953125deg) skewY(-3.1953125deg)
  }
  100% {
    transform: none
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes orbit-1 {
  from {
    transform: rotate(0deg) translateX(calc(213px - 50%)) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(calc(213px - 50%)) rotate(-360deg);
  }
}

@keyframes orbit-2 {
  from {
    transform: rotate(0deg) translateX(calc(213px - 50%)) rotate(0deg);
  }
  to {
    transform: rotate(-360deg) translateX(calc(213px - 50%)) rotate(360deg);
  }
}

@keyframes orbit-3 {
  from {
    transform: rotate(0deg) translate(calc(130px - 50%), -50%) rotate(0deg);
  }
  to {
    transform: rotate(-360deg) translate(calc(130px - 50%), -50%) rotate(360deg);
  }
}

@keyframes orbit-4 {
  from {
    transform: rotate(0deg) translate(calc(70px - 50%), -50%) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(calc(70px - 50%), -50%) rotate(-360deg);
  }
}

@keyframes orbit-5 {
  from {
    transform: rotate(0deg) translate(calc(45px - 50%), -50%) rotate(0deg);
  }
  to {
    transform: rotate(-360deg) translate(calc(45px - 50%), -50%) rotate(360deg);
  }
}

@keyframes orbit-6 {
  0% {
   top: -25px;
   left: 10px;
   transform: rotate(0);
  }
  20% {
   top: 0;
   left: 59px;
   transform: rotate(45deg);
  }
  40% {
   top: 55%;
   left: 47px;
   transform: rotate(-12deg);
  }
  60% {
   top: 60px;
   left: -7px;
   transform: rotate(-120deg);
  }
  80% {
   top: 9px;
   left: -29px;
   transform: rotate(60deg);
  }
  100%{
    top: -25px;
    left: 10px;
    transform: rotate(0);
  }
}

@keyframes orbit-7 {
  from {
    transform: rotate(0deg) translate(calc(105px - 50%), -50%) rotate(0deg);
  }
  to {
    transform: rotate(-360deg) translate(calc(105px - 50%), -50%) rotate(360deg);
  }
}

@keyframes orbit-8 {
  from {
    transform: rotate(0deg) translate(calc(105px - 50%), -50%) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(calc(105px - 50%), -50%) rotate(-360deg);
  }
}