@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.blog-grid-card {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: no-repeat center center;
	background-size: cover;
	padding: 0 15px;

	/* size */
	&_small {
		height: 420px;
	}
	&_big {
		height: 840px;
		align-items: flex-end;
		padding-bottom: 50px;

		@media (max-width: 575px) {
			height: 640px;
		}
	}

	/* color */
	&_white {
		.blog-grid-card__before {
			background-color: rgba(#fff,.9);
		}
		.blog-grid-card__avatar {
			&:before,
			&:after {
				background-color: rgba(#000, .03);
			}
		}
		.blog-grid-card__desc {
			color: rgba(#2b2c2d, .5);
		}
		.blog-grid-card__name,
		.blog-grid-card__title {
			&:hover {
				color: #000000;
			}
		}
	}

	&_dark {
		.blog-grid-card__before {
			background-color: rgba(#000,.7);
		}
		.blog-grid-card__avatar {
			&:before,
			&:after {
				background-color: rgba(#fff, .05);
			}
		}
		.blog-grid-card__name,
		.blog-grid-card__title,
		.blog-grid-card__time {
			color: #ffffff;
		}
		.blog-grid-card__desc {
			color: rgba(#fff, .5);
		}
	}

	&_colored {
		.blog-grid-card__before {
			background-color: rgba(var(--brand-primary-rgb), .9);
		}
		.blog-grid-card__avatar {
			&:before,
			&:after {
				background-color: rgba(#fff, .05);
			}
		}
		.blog-grid-card__name,
		.blog-grid-card__title,
		.blog-grid-card__time {
			color: #ffffff;
		}
		.blog-grid-card__desc {
			color: rgba(#fff, .5);
		}
		.blog-grid-card__cat {
			background-color: #2b2c2d;
		}
	}

	&:hover {
		.blog-grid-card__avatar {
			&:before {
				animation: blog-grid-pulse 1.5s infinite;
				animation-delay: 0.3s;
			}
			&:after {
				animation: blog-grid-pulse 1.5s infinite;
			}
		}
	}

	/* content */
	&__before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	&__item {
		position: relative;
		z-index: 3;
		max-width: 534px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

		&__avatar {
			width: 102px;
			height: 102px;
			border-radius: 50%;
			position: relative;
			display: block;
			margin: 0 auto 25px auto;

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				border-radius: 50%;
				pointer-events: none;
			}

			&:before {
				transform: scale(1.14);
			}
			&:after {
				transform: scale(1.28);
			}
			
			img	{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				height: auto;
				border-radius: 50%;
				z-index: 3;
			}
		}

		&__name {
			margin-bottom: 35px;

			@media (max-width: 575px) {
				margin-bottom: 25px;
			}
		}

		&__title {
			margin-bottom: 15px;
			font-size: rem(24);
			line-height: 28px;

			@media (max-width: 575px) {
				font-size: rem(18);
				line-height: 22px;
			}
		}

		&__desc {
			margin-bottom: 18px;
			font-size: rem(18);
			line-height: 24px;

			@media (max-width: 575px) {
				font-size: rem(16);
				line-height: 22px;
			}
		}

		&__cat {
			padding: 0 12px;
			color: #ffffff;
			border-radius: 12px;
			margin: 0 7px;
			background-color: var(--brand-primary);

			&:hover {
				color: #ffffff;
			}
		}

		&__time {
			margin: 0 7px;

			i {
				line-height: inherit;
				margin-right: 2px;
			}
		}
}

@keyframes blog-grid-pulse {
	0% {
		transform: scale(1.1);
	}
	50% {
		transform: scale(1.8);
	}
	100% {
		transform: scale(1.1);
		opacity: 0;
	}
}