/*
Name: Themepunch
Description: Version: 1.0
Author: Łukasz Więcek
URL: http://majsterkowo.pl
*/
.crayon-theme-themepunch {
	border-width: 0px !important;
	text-shadow: none !important;
	background: #e5e7e8 !important;
	border-color: #e5e5e5 !important;
	border-style: solid !important;
}
.crayon-theme-themepunch-inline {
	border-width: 0px !important;
	border-color: #e5e5e5 !important;
	background: #e5e7e8 !important;
	border-style: solid !important;
}
.crayon-theme-themepunch .crayon-table .crayon-nums {
	background: #e5e7e8 !important;
	color: #bec3c7 !important;
	border-right-width: 0px !important;
	border-right-color: #e5e7e8 !important;
	border-right-style: solid !important;
}
.crayon-theme-themepunch .crayon-striped-line {
	background: #e5e7e8 !important;
}
.crayon-theme-themepunch .crayon-striped-num {
	background: #e5e7e8 !important;
	color: #bec3c7 !important;
}
.crayon-theme-themepunch .crayon-marked-line {
	border-width: 0px !important;
	border-color: #eee !important;
	background: #eee !important;
}
.crayon-theme-themepunch .crayon-marked-num {
	color: #bec3c7 !important;
	background: #eee !important;
	border-width: 0px !important;
	border-color: #f9f9f9 !important;
}
.crayon-theme-themepunch .crayon-marked-line.crayon-striped-line {
	background: #eee !important;
}
.crayon-theme-themepunch .crayon-marked-num.crayon-striped-num {
	background: #eee !important;
	color: #d4d4d4 !important;
}
.crayon-theme-themepunch .crayon-marked-line.crayon-top {
	border-top-style: solid !important;
}
.crayon-theme-themepunch .crayon-marked-num.crayon-top {
	border-top-style: solid !important;
}
.crayon-theme-themepunch .crayon-marked-line.crayon-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-themepunch .crayon-marked-num.crayon-bottom {
	border-bottom-style: solid !important;
}
.crayon-theme-themepunch .crayon-info {
	background: #faf9d7 !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #b1af5e !important;
	border-bottom-style: solid !important;
	color: #7e7d34 !important;
}
.crayon-theme-themepunch .crayon-toolbar {
	background: #eeeeee !important;
	border-bottom-width: 1px !important;
	border-bottom-color: #dddddd !important;
	border-bottom-style: solid !important;
}
.crayon-theme-themepunch .crayon-toolbar > div {
	float: left !important;
}
.crayon-theme-themepunch .crayon-toolbar .crayon-tools {
	float: right !important;
}
.crayon-theme-themepunch .crayon-title {
	color: #999999 !important;
}
.crayon-theme-themepunch .crayon-language {
	color: #999 !important;
}
.crayon-theme-themepunch a.crayon-button {
	background-color: transparent !important;
}
.crayon-theme-themepunch a.crayon-button:hover {
	background-color: #dddddd !important;
	color: #666;
}
.crayon-theme-themepunch a.crayon-button.crayon-pressed:hover {
	background-color: #eeeeee !important;
	color: #666;
}
.crayon-theme-themepunch a.crayon-button.crayon-pressed {
	background-color: #dddddd !important;
	color: #FFF;
}
.crayon-theme-themepunch a.crayon-button.crayon-pressed:active {
	background-color: #dddddd !important;
	color: #FFF;
}
.crayon-theme-themepunch a.crayon-button:active {
	background-color: #dddddd !important;
	color: #FFF;
}
.crayon-theme-themepunch .crayon-pre .crayon-c {
	color: #8e9aa1 !important;
}
.crayon-theme-themepunch .crayon-pre .crayon-s {
	color: #0083dc !important;
}
.crayon-theme-themepunch .crayon-pre .crayon-p {
	color: #3F4549 !important;
}
.crayon-theme-themepunch .crayon-pre .crayon-ta {
	color: #3F4549 !important;
}
.crayon-theme-themepunch .crayon-pre .crayon-k {
	color: #0083dc !important;
}
.crayon-theme-themepunch .crayon-pre .crayon-st {
	color: #3F4549 !important;
	font-weight: bold !important;
}
.crayon-theme-themepunch .crayon-pre .crayon-r {
	color: #3F4549 !important;
}
.crayon-theme-themepunch .crayon-pre .crayon-t {
	color: #3F4549 !important;
}
.crayon-theme-themepunch .crayon-pre .crayon-m {
	color: #3F4549 !important;
}
.crayon-theme-themepunch .crayon-pre .crayon-i {
	color: #8e9aa1 !important;
}
.crayon-theme-themepunch .crayon-pre .crayon-e {
	color: #3F4549 !important;
}
.crayon-theme-themepunch .crayon-pre .crayon-v {
	color: #3F4549 !important;
}
.crayon-theme-themepunch .crayon-pre .crayon-cn {
	color: #3F4549 !important;
}
.crayon-theme-themepunch .crayon-pre .crayon-o {
	color: #3f4549 !important;
}
.crayon-theme-themepunch .crayon-pre .crayon-sy {
	color: #3f4549 !important;
}
.crayon-theme-themepunch .crayon-pre .crayon-n {
	color: #8e9aa1 !important;
	font-style: italic !important;
}
.crayon-theme-themepunch .crayon-pre .crayon-f {
	color: #8e9aa1 !important;
}
.crayon-theme-themepunch .crayon-pre .crayon-h {
	color: #8fc667 !important;
}
