@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.brs-player-youtube {
	&_adaptive {
		width: 100%;
		position: relative;
		&:after {
			content: '';
			position: relative;
			display: block;
			padding-top: 54.4%;
		}
		iframe {
			position: absolute;
			left: 0;
			top: 0;
			width: 100% !important;
			height: 100% !important;
			z-index: 1;
		}
	}
}

.brs-player-vimeo {
	&_adaptive {
		width: 100%;
		position: relative;
		&:after {
			content: '';
			position: relative;
			display: block;
			padding-top: 54.4%;
		}
		iframe {
			position: absolute;
			left: 0;
			top: 0;
			width: 100% !important;
			height: 100% !important;
			z-index: 1;
		}
	}

}

.brs-player-html5 {
	position: relative;
	&__video-container {
		width: 100%;
		height: auto;
		object-fit: cover;
	}
	&__btn {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, calc(-50% - 20px));
		z-index: 1;
	}
}

.brs-player-facebook {
	&_adaptive {
		height: auto;
		width: 100%;
	}

}

.brk-hosted-video {
	position: relative;
	z-index: 8;
	&::before {
		content: "";
		display: block;
		padding-top: 55.25%;
	}
	@media screen and (max-width: 768px) {
		min-height: 400px;
	}
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
	&_large-shadow {
		box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
	}
	&__information {
		display: flex;
	}
	&__date {
		text-transform: uppercase;
		margin-right: 14px;
		&-icon {
			margin-right: 8px;
			font-size: 10px;
			position: relative;
			bottom: 2px;
			left: 1px;
		}
	}
	&__comments {
		text-transform: uppercase;
		&-icon {
			margin-right: 8px;
			font-size: 10px;
			position: relative;
			bottom: 2px;
			left: 1px;
		}
  }
  &__date,
  &__comments{
    i{
      vertical-align: middle;
    }
  }
	&__about {
		width: auto;
		max-width: 50%;
		flex-shrink: 0;
		margin-right: 63px;
	}
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		z-index: -1;
	}
	&__body {
		display: flex;
		flex-direction: column;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
    padding: 26px 40px 35px 41px;
    z-index: 1;
	}
	&__description {
		display: flex;
		@media screen and (max-width: 768px) {
			flex-direction: column;
		}
	}
	&__information {
		display: flex;
	}
	&__date {
		&-icon {
			bottom: 1px;
		}
	}
	&__comments {
		&-icon {
			bottom: 1px;
		}
	}
	&__title {
		margin-top: 5px;
		margin-left: 1px;
		color: $white;
	}
	&__paragraph {
		max-height: 80px;
		overflow: hidden;
		color: $white;
		margin-top: 3px;
	}
	&__btn {
		margin: auto !important;
		cursor: pointer;
		font-size: 16px !important;
	}
	&__video-container {
		display: none;
		width: 75%;
		height: auto;
		padding: 0 !important;
	}

	&_inner {
		video {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			z-index: 99;
		}
  }
  &_short{
    &::before {
      padding-top: 37%;
    }
  }

	&__before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
}