@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.brk-page-intro {
	position: relative;

	&__item {

	}

	&__before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	&__header {
		position: relative;
		background: no-repeat center center;
		background-size: cover;
		min-height: 730px;
	}

	&__logo-search {
		position: relative;
		z-index: 3;
		border-bottom: 1px dashed rgba($white, .2);
	}

	&__search {
		position: relative;
		padding-left: 30px;

		&--input {
			width: 100%;
			height: 52px;
			line-height: 52px;
			border: 2px solid rgba($white, .2);
			border-radius: 26px;
			background-color: transparent;
			color: $white;
			padding: 0 30px;
			font-size: rem(16);
			box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.07);

			@include placeholder($white);
		}

		&--submit {
			position: absolute;
			top: 50%;
			right: 7px;
			transform: translateY(-50%);
			width: 38px;
			height: 38px;
			background-color: $white;
			border-radius: 50%;
			font-size: rem(13);
			padding-left: 3px;
			color: var(--brand-primary);

			i {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

	}

	&__sorting {
		position: relative;
		z-index: 9;
		padding: 40px 0 100px;

		&-item {
			display: inline-block;
			position: relative;
			width: 70px;
			height: 122px;
			border-top: 2px solid rgba($white, .4);
			border-bottom: 2px solid rgba($white, .4);
			cursor: pointer;
			margin: 10px 23px;
			opacity: 0;

			@media (max-width: 991px) {
				margin: 10px 40px;
			}

			&:nth-child(even) {
				@media (min-width: 992px) {
					margin-top: 80px;
				}
			}

			&:hover,
			&.checked {
				.brk-page-intro__sorting-before {
					background-color: rgba($white, .1);
				}
			}

			&:before,
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: calc(100% + 4px);
				border-bottom: inherit;
				border-top: inherit;
				bottom: -2px;
			}

			&:before {
				transform: rotate(60deg);
			}

			&:after {
				transform: rotate(-60deg);
			}
		}

		&-title {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: auto;
			color: $white;
			text-align: center;
			font-size: rem(16);
			z-index: 2;
		}

		&-count {
			position: absolute;
			top: 18px;
			right: -28px;
			width: 23px;
			height: 23px;
			text-align: center;
			font-size: rem(13);
			line-height: 23px;
			color: var(--brand-primary);
			background-color: $white;
			border-radius: 50%;
			z-index: 3;
		}

		&-before {
			position: absolute;
			width: 200%;
			height: 100%;
			top: 0;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			background-color: rgba($white, 0);
			transition: all .3s ease-in-out;
			z-index: 1;
			clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
		}
	}

	&__body {
		position: relative;
		z-index: 10;
		margin-top: -235px;

		@media (max-width: 991px) {
			margin-top: -100px;
		}

	}

	&__template {
		position: relative;
		overflow: hidden;
		transition: all .3s ease-in-out;
		z-index: 1;
		margin: 15px 0;
		///min-height: 469px;
		padding-bottom: 100px;
		background-color: $white;
		box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);

		&:hover {
			box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.3);
			z-index: 9;

			.brk-page-intro__template-active-link:before {
				opacity: 1;
			}

			.brk-page-intro__template-link {
				top: 50%;
				opacity: 1;

				.before {
					animation: pulse 1.5s infinite;
					animation-delay: 0.3s;
				}
				.after {
					animation: pulse 1.5s infinite;
				}
			}
		}

		&-loading {
			position: absolute;
			z-index: 1;
			top: calc(50% - 50px);
			left: 50%;
			width: 60px;
			height: 60px;
			transform-origin: 30px 31px;
			border-radius: 50%;
			box-shadow: 0 1px 0 0 #1d3f72;
			transform: translate(-50%, -50%);
			animation: eye 1s linear infinite;

			@keyframes eye {
				from {
					transform: translate(-50%, -50%) rotate(0);
				}
				to {
					transform: translate(-50%, -50%) rotate(360deg);
				}
			}
		}

		img {
			width: 100%;
			height: auto;
			position: relative;
			z-index: 2;
		}

		&-info {
			height: 100px;
			background-color: $white;
			transition: all .3s ease-in-out;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			z-index: 4;
		}

		&-active-link {
			position: relative;
			display: block;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 3;
				opacity: 0;
				transition: all .3s ease-in-out;
				background-color: rgba(var(--brand-primary-rgb), .9);
			}
		}

		&-link {
			display: block;
			border-radius: 50%;
			background-color: $white;
			box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.3);
			position: absolute;
			top: calc(50% + 80px);
			left: 50%;
			transform: translate(-50%, -50%);
			width: 64px;
			height: 64px;
			opacity: 0;
			transition: all .3s ease-in-out;
			z-index: 4;

			.before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border-radius: 50%;
				z-index: -1;
				background-color: rgba($white, .3);
			}

			.after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border-radius: 50%;
				z-index: -1;
				background-color: rgba($white, .1);
			}

			i {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: rem(16);
				color: var(--brand-primary);
			}
		}
	}
}