@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

/*
// Progress Bar
// ================ */
.progress {
	display: block;
	overflow: visible;
	&__wrapper {
		position: relative;
		text-align: left;
		&.no-anim .progress__bar {
			transition: none;
		}
		& + & {
			margin-top: 36px;
		}
	}
	&__bar {
		height: 100%;
		width: 0;
		transition: width 1.4s ease;
		position: relative;
		&-counter:after {
			content: '%'
		}
	}
}

.progress__gradient {
	& + & {
		margin-top: 36px;
	}
	.progress {
		height: 3px;
		background: #E8ECFF;
		margin-bottom: 21px;
	}
	.progress__bar {
		background: var(--brand-primary);
		background: linear-gradient(to right, var(--brand-primary), var(--secondary));
		margin-bottom: 20px;
		position: relative;
		> .before {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			width: 7px;
			height: 14px;
			border-bottom-right-radius: 90px;
			border-top-right-radius: 90px;
			background: var(--brand-primary);
		}
		&-counter {
			text-align: right;
			display: block;
		}
	}
}

.progress__wide {
	padding-top: 35px;
	@media(min-width: 768px) {
		padding-top: 0;
	}
	& + & {
		margin-top: 31px;
	}
	.progress {
		height: 42px;
		background: #F7FAFF;
		background-image: linear-gradient(-45deg, $white 25%, transparent 25%, transparent 50%, $white 50%, $white 75%, transparent 75%, transparent);
		background-size: 1rem 1rem;
		border-radius: 50px;
		position: relative;
		z-index: 1;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border: 2px solid #E9F1FF;
			border-radius: 50px;
			z-index: -1;
		}
		&__title {
			color: #222;
			text-align: left;
			position: absolute;
			top: -10px;
			transform: translateY(-100%);
			left: 0;
			z-index: 1;
			@media(min-width: 768px) {
				color: $white;
				top: 50%;
				transform: translateY(-50%);
				left: 28px;
			}
		}
	}
	.progress__bar {
		background: var(--brand-primary);
		position: relative;
		border-radius: 50px;
		box-shadow: 0 5px 16px 0 rgba(var(--brand-primary-rgb), 0.5);
		&-counter {
			color: var(--brand-primary);
			position: absolute;
			top: 4px;
			bottom: 4px;
			right: 4px;
			background: $white;
			border-radius: 50px;
			text-align: center;
			padding: 7px 12px;
		}
	}
}

.progress__doted {
	& + & {
		margin-top: 45px;
	}
	.progress {
		height: 4px;
		background: $white;
		margin-top: 13px;
		position: relative;
		> .after {
			content: '';
			position: absolute;
			width: 100%;
			height: 8px;
			left: 0;
			top: -1px;
			background-image: radial-gradient(ellipse, rgba(var(--brand-primary-rgb), 0.3) 1px, rgba(var(--brand-primary-rgb), 0.3) 1px, transparent 2px);
			background-size: 15px 19px;
			background-position: -6px -6px;
			background-repeat: repeat-x;
		}
	}
	.progress__descr {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.progress__bar {
		position: relative;
		> .after {
			content: '';
			position: absolute;
			width: 100%;
			height: 8px;
			left: 0;
			top: -1px;
			background-image: radial-gradient(ellipse, var(--brand-primary) 1px, var(--brand-primary) 1px, transparent 2px);
			background-size: 15px 19px;
			background-position: -6px -6px;
			background-repeat: repeat-x;
		}
		.circle {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -10px;
			width: 20px;
			height: 20px;
			background: #E9F1FF;
			border-radius: 50%;
			z-index: 1;
			> .after {
				content: '';
				position: absolute;
				top: 6px;
				left: 6px;
				right: 6px;
				bottom: 6px;
				background: var(--brand-primary);
				border-radius: 50%;
			}
		}
		&-counter {
			color: var(--brand-primary);
			text-align: right;
			display: block;
		}
	}
}

.progress__stripe {
	& + & {
		margin-top: 30px;
	}
	.progress {
		height: 26px;
		background: $white;
		margin-top: 16px;
		position: relative;
		z-index: 1;
		background: $white;
		border-radius: 50px;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border: 2px solid #E9F1FF;
			border-radius: 50px;
			z-index: -1;
		}
	}
	.progress__title {
		margin-left: 10px;
	}
	.progress__bar {
		position: relative;
		background: var(--brand-primary);
		background-image: linear-gradient(-45deg, rgba($white, 0.3) 5%, transparent 5%, transparent 50%, rgba($white, 0.3) 50%, rgba($white, 0.3) 55%, transparent 55%, transparent);
		background-size: 6px 6px;
		background-repeat: repeat;
		border-radius: 50px;
		box-shadow: 0 5px 16px 0 rgba(var(--brand-primary), 0.5);
		// transition: none;
		&-counter {
			color: var(--brand-primary);
			text-align: center;
			display: block;
			position: absolute;
			z-index: 2;
			width: 100%;
			padding: 6px;
			top: calc(50% + 1px);
			transform: translateY(-50%);
		}
	}
}

.progress__count {
	& + & {
		margin-top: 45px;
	}
	.progress {
		height: 3px;
		margin-top: 9px;
		position: relative;
		background: #E9F1FF;
	}
	.progress__descr {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.count-value {
		display: inline-block;
		color: var(--brand-primary);
		font-size: 32px;
	}
	.count-amount {
		display: inline-block;
		vertical-align: sub;
		color: #C8D8F3;
		font-size: 18px;
		&:before {
			content: '/';
			padding-right: 3px;
		}
	}
	.progress__bar {
		position: relative;
		background: var(--brand-primary);

		.circle {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -10px;
			width: 14px;
			height: 14px;
			background: var(--brk-base-1);
			border-radius: 50%;
			z-index: 1;
			box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);

			&:after {
				content: '';
				position: absolute;
				top: 4px;
				left: 4px;
				right: 4px;
				bottom: 4px;
				background: $white;
				border-radius: 50%;
				box-shadow: 0 0 0 2px var(--brand-primary);
			}
		}
	}
}

.progress__squared {
	display: flex;
	flex-direction: column;
	padding: 20px 30px 0 0;
	@media(min-width: 768px) {
		display: block;
		padding: 0;
	}
	& + & {
		margin-top: 36px;
	}
	.progress {
		height: 3px;
		background: #E9F1FF;
	}
	.progress__title {
		order: 1;
		margin-top: 12px;
		@media(min-width: 768px) {
			margin-top: 0;
		}
	}
	.progress__bar-counter {
		position: relative;
		top: 2px;
	}
	.progress__bar {
		background: var(--brand-primary);
		position: relative;
		// transition: none;
		@media(min-width: 768px) {
			margin-top: 16px;
		}
		.circle {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -10px;
			width: 20px;
			height: 20px;
			background: #E9F1FF;
			border-radius: 50%;
			z-index: 1;
			> .after {
				content: '';
				position: absolute;
				top: 6px;
				left: 6px;
				right: 6px;
				bottom: 6px;
				background: var(--brand-primary);
				border-radius: 50%;
			}
			> .before {
				content: '';
				position: absolute;
				top: 8px;
				right: 10px;
				width: 10px;
				height: 3px;
				background: var(--brand-primary);
			}
		}
		.progress__bar-counter_wrap {
			text-align: center;
			display: inline-block;
			position: absolute;
			top: -15px;
			transform: translate(50%, -100%);
			right: 0;
			padding: 8px;
			border: 2px solid var(--brand-primary);
			color: var(--brand-primary);
			> .before {
				content: '';
				position: absolute;
				bottom: -8px;
				left: 50%;
				transform: translateX(-50%);
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 8px 8px 0 8px;
				border-color: var(--brand-primary) transparent transparent transparent;
			}
		}
	}
}

.progress__transparent {
	display: flex;
	flex-direction: column;
	padding: 20px 30px 0 0;
	@media(min-width: 768px) {
		display: block;
		padding: 0;
	}
	& + & {
		margin-top: 45px;
	}
	.progress {
		height: 3px;
		background: #E9F1FF;
	}
	.progress__title {
		order: 1;
		margin-top: 12px;
		@media(min-width: 768px) {
			margin-top: 0;
		}
	}
	.progress__bar {
		background: var(--brand-primary);
		background: linear-gradient(to right, transparent, var(--brand-primary));
		position: relative;
		// transition: none;
		@media(min-width: 768px) {
			margin-top: 22px;
		}
		.circle {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -2px;
			width: 7px;
			height: 7px;
			background: var(--brand-primary);
			border-radius: 50%;
			box-shadow: 0 5px 16px 0 rgba(var(--brand-primary), 0.5);
			z-index: 1;
		}
		.progress__bar-counter_wrap {
			text-align: center;
			display: inline-block;
			position: absolute;
			top: -20px;
			transform: translate(50%, -100%);
			right: 0;
			padding: 4px 18px;
			border-radius: 50px;
			color: $white;
			background: var(--brand-primary);
			box-shadow: 0 5px 16px 0 rgba(var(--brand-primary), 0.5);
			> .before {
				content: '';
				position: absolute;
				bottom: -8px;
				left: 50%;
				transform: translateX(-50%);
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 8px 8px 0 8px;
				border-color: var(--brand-primary) transparent transparent transparent;
			}
		}
	}
}

.progress__inline {
	@media(min-width: 768px) {
		display: flex;
		align-items: center;
	}
	& + & {
		margin-top: 49px;
	}
	.progress {
		width: 100%;
		height: 2px;
		background: #E9F1FF;
		margin-top: 20px;
		@media(min-width: 768px) {
			margin-top: 0;
		}
	}
	.progress__title {
		white-space: nowrap;
		padding-right: 20px;
	}
	.progress__bar {
		background: var(--brand-primary);
		position: relative;
		.progress__bar-counter_wrap {
			text-align: center;
			display: inline-block;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			padding: 12px 24px;
			padding-left: 42px;
			border-radius: 50px;
			color: #222;
			background: $white;
			box-shadow: 0 5px 16px 0 rgba($black, 0.1);
			> .before {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 18px;
				width: 8px;
				height: 8px;
				background: var(--brand-primary);
				border-radius: 50%;
			}
		}
	}
}

.progress__classic {
	& + & {
		margin-top: 31px;
	}
	.progress {
		height: 2px;
		margin: 3px 0 7px;
		background: #E9F1FF;
	}
	.progress__title {
		margin-left: 6px;
	}
	.progress__bar {
		background: var(--brand-primary);
		position: relative;
		.circle {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -10px;
			width: 22px;
			height: 22px;
			background: $white;
			border-radius: 50%;
			z-index: 1;
			box-shadow: 0 2px 16px 0 rgba(var(--brand-primary), 0.2);
			> .after {
				content: '';
				position: absolute;
				top: 4px;
				left: 4px;
				right: 4px;
				bottom: 4px;
				border: 2px solid var(--brand-primary);
				border-radius: 50%;
			}
		}
		&-counter {
			margin-left: 6px;
			color: var(--brand-primary);
		}
	}
}

.progress__minimal {
	padding: 5px;
	@media(min-width: 480px) {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: $white;
		border-radius: 50px;
		box-shadow: 0 3px 16px 0 rgba($black, 0.1);
	}
	& + & {
		margin-top: 21px;
	}
	> * {
		display: inline-block;
		vertical-align: middle;
	}
	.progress {
		width: calc(100% - 42px);
		background: transparent;
    margin-left: -4px;
    height: auto;
		@media(min-width: 480px) {
			width: 100%;
			margin-left: 0;
		}
	}
	.progress__title {
		display: block;
		white-space: nowrap;
		padding-top: 7px;
		@media(min-width: 480px) {
			padding: 0 15px 0 20px;
		}
	}
	.progress__bar {
		background: var(--brand-primary);
		height: 2px;
		position: relative;
		.circle {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -2px;
			width: 7px;
			height: 7px;
			background: var(--brand-primary);
			border-radius: 50%;
			box-shadow: 0 5px 16px 0 rgba(var(--brand-primary), 0.5);
			z-index: 1;
		}
		&-counter {
			width: 38px;
			height: 38px;
			color: $white;
			background: var(--brand-primary);
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			&:after {
				content: none;
			}
		}
	}
}

.progress__light {
	& + & {
		margin-top: 37px;
	}
	.progress {
		height: 2px;
		margin-top: 22px;
		padding-right: 60px;
		background: #E8E8E8;
	}
	.progress__bar {
		background: var(--brand-primary);
		position: relative;
		.progress__bar-counter_wrap {
			color: #868686;
			position: absolute;
			top: 50%;
			transform: translateY(-50%) translateX(calc(100% + 16px));
			right: 0;
			background: $white;
			padding: 0 14px;
			> .before {
				content: '';
				position: absolute;
				top: 50%;
				left: -16px;
				width: 16px;
				height: 16px;
				transform: translateY(-50%);
				border-radius: 50%;
				background: var(--brand-primary);
				border: 3px solid $white;
				box-shadow: 0 3px 16px 0 rgba($black, 0.3);
			}
		}
		&-counter {
			&:after {
				font-size: 0.8em;
			}
		}
	}
}

.progress__thin {
	& + & {
		margin-top: 66px;
		@media(min-width: 480px) {
			margin-top: 36px;
		}
	}
	.progress {
		height: 2px;
		background: #EEEEEE;
	}
	.progress__title {
		margin-top: 16px;
	}
	.progress__bar {
		background: var(--brand-primary);
		position: relative;
		// transition: none;
		.circle {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -4px;
			width: 8px;
			height: 8px;
			background: $white;
			border: 2px solid var(--brand-primary);
			z-index: 1;
		}
		&-counter {
			text-align: left;
			display: block;
			position: absolute;
			top: -16px;
			transform: translate(0%, -100%);
			left: 0;
			color: var(--brand-primary);
			@media(min-width: 480px) {
				top: auto;
				left: auto;
				bottom: -16px;
				transform: translate(50%, 100%);
				right: 0;
			}
		}
	}
}

.progress__curve {
	width: 100%;
	height: 60px;
	text-align: left;
	position: relative;
	& + & {
		margin-top: 40px;
	}
	.progress__title {
		text-transform: uppercase;
		position: absolute;
		top: 15px;
		left: 4px;
		padding-right: 20px;
	}
	svg {
		overflow: visible;
		position: relative;
		width: 100%;
		height: 100%;
		path {
			transition: all 1.4s ease;
			stroke: var(--brand-primary);
			stroke-width: 2px;
			&.path {
				stroke-dasharray: 153%;
				stroke-dashoffset: 153%;
			}
			&.path-after {
				stroke: #F3F3F3;
			}
		}
	}
}

.progress__triangle {
	& + & {
		margin-top: 66px;
		@media(min-width: 480px) {
			margin-top: 36px;
		}
	}
	.progress {
		height: 24px;
		background: #EEEEEE;
		position: relative;
		@media(min-width: 480px) {
			height: 34px;
		}
		&:after {
			content: '';
			position: absolute;
			bottom: 100%;
			left: 0;
			width: 100%;
			background: $white;
			height: calc(100% + 5px);
			transform: skewY(-2.2deg);
			transform-origin: top right;
		}
	}
	.progress__title {
		margin-top: 16px;
	}
	.progress__bar {
		background: var(--brand-primary);
		background: linear-gradient(to right, var(--brand-primary), var(--secondary));
		position: relative;
		// transition: none;
		&-counter {
			color: var(--brand-primary);
			text-align: left;
			display: block;
			position: relative;
			top: -5px;
			transform: translate(0%, -100%);
			z-index: 2;
			@media(min-width: 480px) {
				position: absolute;
				top: auto;
				bottom: -16px;
				transform: translate(50%, 100%);
				right: 0;
			}
		}
	}
}

.progress__rounded {
	padding-bottom: 1px;
	& + & {
		margin-top: 36px;
	}
	.progress {
		height: 4px;
		background: $white;
		margin: 13px 0;
		padding: 0 20px;
		position: relative;
		z-index: 2;
		> .before {
			content: '';
			position: absolute;
			top: -13px;
			left: 0;
			right: 0;
			height: 15px;
			background: linear-gradient(to bottom, var(--brk-secondary-1), var(--brk-secondary-4));
			border-top-left-radius: 50px;
			border-top-right-radius: 50px;
			z-index: -2;
		}
		> .after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: -13px;
			height: 15px;
			background-color: var(--brk-secondary-1);
			background-image: linear-gradient(-45deg, rgba($white, 0.3) 25%, transparent 25%, transparent 50%, rgba($white, 0.3) 50%, rgba($white, 0.3) 75%, transparent 75%, transparent);
			background-size: 0.3rem 0.3rem;
			border-bottom-left-radius: 50px;
			border-bottom-right-radius: 50px;
			z-index: -2;
		}
		.progress-bg {
			position: absolute;
			z-index: -1;
			top: 50%;
			transform: translateY(-50%);
			right: 20px;
			width: calc(100% - 40px);
			height: 4px;
			background: $white;
			border-radius: 50px;
		}
	}
	.progress__title {
		padding: 0 0 20px 20px;
	}
	.progress__bar {
		background: var(--brk-base-1);
		border-radius: 50px;
		position: relative;
		.circle {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: -10px;
			width: 18px;
			height: 18px;
			background: #E9F1FF;
			border-radius: 50%;
			z-index: 1;
			> .after {
				content: '';
				position: absolute;
				top: 5px;
				left: 5px;
				right: 5px;
				bottom: 5px;
				background: var(--brand-primary);
				border-radius: 50%;
			}
		}
		&-counter {
			color: var(--brand-primary);
			display: inline-block;
			position: absolute;
			text-align: right;
			top: -32px;
			transform: translate(0%, -100%);
			left: 0;
			width: calc(100vw - 70px);
			@media(min-width: 480px) {
				text-align: center;
				top: -30px;
				transform: translate(50%, -100%);
				left: auto;
				right: 0;
				width: auto;
			}
		}
	}
}