.brk-team-member {
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    align-items: flex-start;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
  &__img-container {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.14);
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
    min-height: 200px;
    width: 33%;
    max-width: 340px;
    margin-right: 80px;
    margin-top: 16px;
    flex-shrink: 0;
    cursor: pointer;
    &::after {
      content: '';
      display: block;
      padding-top: 129%;
    }
    &:hover {
      .brk-team-member__img {
        left: 15px;
        bottom: 15px;
      }
    }
    @media screen and (max-width: 768px) {
      width: calc(100% - 50px);
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
      position: relative;
      left: -15px;
    }
  }
  &__img {
    position: absolute;
    left: 30px;
    bottom: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: .3s ease left, .3s ease bottom;
  }
  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  &__main-info {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    position: relative;
    align-items: center;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      background: url('../../img/dotted-border.png') repeat;
      background-position: center;
    }
    @media screen and (max-width:768px) {
      .brk-social-links{
        padding: 10px 0;
      }
    }
  }
  &__name {
    margin-right: auto;
    margin-left: -3px;
  }
  &__socials {
    display: flex;
    margin-right: 5px;
    margin-top: -2px;
    align-items: center;
    &-link {
      margin-right: 24px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.brk-services {
  display: flex;
  flex-direction: column;
  transition: .3s ease opacity;
  &__icon {
    margin-bottom: 23px;
    &>i {
      font-size: 48px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      background-image: linear-gradient(
                      -30deg,
                      var(--brk-secondary-3) 0%,
                      var(--brk-base-3) 100%);
    }
  }
  &__title {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 35px;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 1px;
      height: 3px;
      width: 65px;
      transition: .3s ease width;
      background-image: linear-gradient(
                      to left,
                      var(--brk-base-3) 0%,
                      var(--brk-secondary-3) 100%);
    }
  }
}

.row:hover .brk-services {
  opacity: 0.3;
}

.row:hover .brk-services:hover {
  opacity: 1;
  .brk-services__title:after {
    width: 100%;
  }
}

.brk-img-zoom {
  position: relative;
  transition: .3s ease opacity;
  &__img {
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    height: calc(100% - 60px);
    object-fit: cover;
    object-position: center;
    transition: .5s ease all;
    max-width: none;
    z-index: -1;
  }
  &::after {
    content: '';
    display: block;
    padding-top: 120%;
  }
  &:hover {
    z-index: 2;
    .brk-img-zoom__img {
      z-index: 3;
      left: -30px;
      top: 0;
      width: calc(100% + 60px);
      height: 100%;
    }
  }
  &_not-hovered {
    opacity: .3;
  }
}
