/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
.blog-grid-card {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background: no-repeat center center;
  background-size: cover;
  padding: 0 15px;
  /* size */
  /* color */
  /* content */ }
  .blog-grid-card_small {
    height: 420px; }
  .blog-grid-card_big {
    height: 840px;
    -webkit-box-align: end;
            align-items: flex-end;
    padding-bottom: 50px; }
    @media (max-width: 575px) {
      .blog-grid-card_big {
        height: 640px; } }
  .blog-grid-card_white .blog-grid-card__before {
    background-color: rgba(255, 255, 255, 0.9); }
  .blog-grid-card_white .blog-grid-card__avatar:before, .blog-grid-card_white .blog-grid-card__avatar:after {
    background-color: rgba(0, 0, 0, 0.03); }
  .blog-grid-card_white .blog-grid-card__desc {
    color: rgba(43, 44, 45, 0.5); }
  .blog-grid-card_white .blog-grid-card__name:hover,
  .blog-grid-card_white .blog-grid-card__title:hover {
    color: #000000; }
  .blog-grid-card_dark .blog-grid-card__before {
    background-color: rgba(0, 0, 0, 0.7); }
  .blog-grid-card_dark .blog-grid-card__avatar:before, .blog-grid-card_dark .blog-grid-card__avatar:after {
    background-color: rgba(255, 255, 255, 0.05); }
  .blog-grid-card_dark .blog-grid-card__name,
  .blog-grid-card_dark .blog-grid-card__title,
  .blog-grid-card_dark .blog-grid-card__time {
    color: #ffffff; }
  .blog-grid-card_dark .blog-grid-card__desc {
    color: rgba(255, 255, 255, 0.5); }
  .blog-grid-card_colored .blog-grid-card__before {
    background-color: rgba(39, 117, 255, 0.9); }
  .blog-grid-card_colored .blog-grid-card__avatar:before, .blog-grid-card_colored .blog-grid-card__avatar:after {
    background-color: rgba(255, 255, 255, 0.05); }
  .blog-grid-card_colored .blog-grid-card__name,
  .blog-grid-card_colored .blog-grid-card__title,
  .blog-grid-card_colored .blog-grid-card__time {
    color: #ffffff; }
  .blog-grid-card_colored .blog-grid-card__desc {
    color: rgba(255, 255, 255, 0.5); }
  .blog-grid-card_colored .blog-grid-card__cat {
    background-color: #2b2c2d; }
  .blog-grid-card:hover .blog-grid-card__avatar:before {
    -webkit-animation: blog-grid-pulse 1.5s infinite;
            animation: blog-grid-pulse 1.5s infinite;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .blog-grid-card:hover .blog-grid-card__avatar:after {
    -webkit-animation: blog-grid-pulse 1.5s infinite;
            animation: blog-grid-pulse 1.5s infinite; }
  .blog-grid-card__before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .blog-grid-card__item {
    position: relative;
    z-index: 3;
    max-width: 534px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center; }
  .blog-grid-card__avatar {
    width: 102px;
    height: 102px;
    border-radius: 50%;
    position: relative;
    display: block;
    margin: 0 auto 25px auto; }
    .blog-grid-card__avatar:before, .blog-grid-card__avatar:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 50%;
      pointer-events: none; }
    .blog-grid-card__avatar:before {
      -webkit-transform: scale(1.14);
              transform: scale(1.14); }
    .blog-grid-card__avatar:after {
      -webkit-transform: scale(1.28);
              transform: scale(1.28); }
    .blog-grid-card__avatar img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 100%;
      height: auto;
      border-radius: 50%;
      z-index: 3; }
  .blog-grid-card__name {
    margin-bottom: 35px; }
    @media (max-width: 575px) {
      .blog-grid-card__name {
        margin-bottom: 25px; } }
  .blog-grid-card__title {
    margin-bottom: 15px;
    font-size: 1.5rem;
    line-height: 28px; }
    @media (max-width: 575px) {
      .blog-grid-card__title {
        font-size: 1.125rem;
        line-height: 22px; } }
  .blog-grid-card__desc {
    margin-bottom: 18px;
    font-size: 1.125rem;
    line-height: 24px; }
    @media (max-width: 575px) {
      .blog-grid-card__desc {
        font-size: 1rem;
        line-height: 22px; } }
  .blog-grid-card__cat {
    padding: 0 12px;
    color: #ffffff;
    border-radius: 12px;
    margin: 0 7px;
    background-color: #2775FF; }
    .blog-grid-card__cat:hover {
      color: #ffffff; }
  .blog-grid-card__time {
    margin: 0 7px; }
    .blog-grid-card__time i {
      line-height: inherit;
      margin-right: 2px; }

@-webkit-keyframes blog-grid-pulse {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  50% {
    -webkit-transform: scale(1.8);
            transform: scale(1.8); }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0; } }

@keyframes blog-grid-pulse {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  50% {
    -webkit-transform: scale(1.8);
            transform: scale(1.8); }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0; } }

/*# sourceMappingURL=maps/blog-grid.css.map */
