/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
/*
* Buttons
* ================ */
.btn {
  display: inline-block;
  text-align: center;
  line-height: inherit;
  white-space: nowrap;
  max-width: 100%;
  text-overflow: ellipsis;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  margin: 10px; }

.btn-shadow {
  box-shadow: 0 5px 15px rgba(39, 117, 255, 0.5); }

.btn-no-shadow {
  box-shadow: none !important; }

.invert,
.invert .bsk-btn {
  color: #fff !important; }

.btn-min-width-200 {
  min-width: 200px; }

/* SIZES BTN */
.btn-sm {
  padding: 4px 22px;
  font-size: 13px; }
  .btn-sm i.icon-inside {
    font-size: 13px; }
  .btn-sm.btn-inside-out > .before {
    padding-top: 4px; }
  .btn-sm.btn-simple {
    min-width: 130px; }

.btn-sm-1 {
  padding: 8px 26px;
  font-size: 13px; }
  .btn-sm-1 i.icon-inside {
    font-size: 13px; }
  .btn-sm-1.btn-inside-out > .before {
    padding-top: 8px; }
  .btn-sm-1.btn-simple {
    min-width: 130px; }

.btn-md {
  padding: 10px 33px;
  font-size: 14px; }
  .btn-md i.icon-inside {
    font-size: 14px; }
  .btn-md.btn-inside-out > .before {
    padding-top: 10px; }

.btn-md-1 {
  padding: 10px 33px;
  letter-spacing: 3.5px;
  min-height: 44px;
  font-size: 14px; }
  .btn-md-1 i.icon-inside {
    font-size: 14px; }
  .btn-md-1.btn-inside-out > .before {
    padding-top: 10px; }

.btn-md-2 {
  padding: 10px 33px;
  font-size: 16px; }
  .btn-md-2 i.icon-inside {
    font-size: 16px; }
  .btn-md-2.btn-inside-out > .before {
    padding-top: 12px; }

.btn-lg {
  padding: 15px 33px;
  font-size: 16px; }
  .btn-lg i.icon-inside {
    font-size: 16px; }
  .btn-lg.btn-inside-out > .before {
    padding-top: 15px; }

.btn-xl {
  padding: 17px 42px;
  font-size: 19px; }
  .btn-xl i.icon-inside {
    font-size: 19px; }
  .btn-xl.btn-inside-out > .before {
    padding-top: 17px; }

/* SIZES BTN */
.btn__full_width {
  width: 100%; }

.btn [class*="fa-"].icon-left {
  margin: 0 0 0 10px;
  position: relative;
  z-index: 3; }

.border-radius-50 {
  border-radius: 50px; }

.border-radius-30 {
  border-radius: 30px; }

.border-radius-25 {
  border-radius: 25px; }
  .border-radius-25.btn-slice span {
    border-radius: 25px; }
  .border-radius-25.btn-prime .border-btn {
    border-radius: 25px; }
  .border-radius-25.btn-lightning span.bg {
    border-radius: 22px; }
  .border-radius-25.btn-ice .left-border, .border-radius-25.btn-ice .btn-text {
    border-radius: 25px; }
  .border-radius-25.btn-two-bg .before, .border-radius-25.btn-two-bg .after {
    border-radius: 25px; }

.border-radius-10 {
  border-radius: 10px; }
  .border-radius-10.btn-slice span {
    border-radius: 10px; }
  .border-radius-10.btn-prime .border-btn {
    border-radius: 10px; }
  .border-radius-10.btn-lightning span.bg {
    border-radius: 7px; }
  .border-radius-10.btn-ice .left-border, .border-radius-10.btn-ice .btn-text {
    border-radius: 10px; }
  .border-radius-10.btn-two-bg .before, .border-radius-10.btn-two-bg .after {
    border-radius: 10px; }

.border-radius-5 {
  border-radius: 5px; }
  .border-radius-5.btn-slice span {
    border-radius: 5px; }
  .border-radius-5.btn-prime .border-btn {
    border-radius: 5px; }
  .border-radius-5.btn-lightning span.bg {
    border-radius: 2px; }
  .border-radius-5.btn-ice .left-border, .border-radius-5.btn-ice .btn-text {
    border-radius: 5px; }
  .border-radius-5.btn-two-bg .before, .border-radius-5.btn-two-bg .after {
    border-radius: 5px; }

.border-radius-0 {
  border-radius: 0; }
  .border-radius-0.btn-slice span {
    border-radius: 0; }
  .border-radius-0.btn-prime .border-btn {
    border-radius: 0; }
  .border-radius-0.btn-lightning span.bg {
    border-radius: 0; }
  .border-radius-0.btn-ice .left-border, .border-radius-0.btn-ice .btn-text {
    border-radius: 0; }
  .border-radius-0.btn-two-bg .before, .border-radius-0.btn-two-bg .after {
    border-radius: 0; }

.btn-box {
  text-align: center; }
  .btn-box + .btn-box {
    margin-top: 49px; }

.btn:focus {
  box-shadow: none; }

.btn [class*="fa-"] {
  margin-right: 10px;
  vertical-align: baseline; }
  [dir="rtl"] .btn [class*="fa-"] {
    margin-right: 0;
    margin-left: 10px; }

.btn-icon:before, .btn-icon:after {
  padding-left: 10px; }

.btn-icon [class*="fa-"] {
  position: relative;
  color: #fff;
  font-size: 16px;
  z-index: 1; }

.btn-icon-right i {
  position: absolute !important;
  right: 20px;
  margin-right: 0 !important;
  top: 50%;
  -webkit-transform: translateY(-webkit-calc(-50% - 2px));
          transform: translateY(calc(-50% - 2px)); }

.btn-icon-right:before, .btn-icon-right:after {
  padding-left: 0; }

.btn.btn-icon-abs [class*="fa-"] {
  position: absolute;
  top: 50%;
  left: -16px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 48px;
  color: #e0e0ff;
  opacity: .3;
  z-index: 1; }

.btn:hover.btn-icon [class*="fa-"]:before {
  color: #333; }

.btn-simple {
  font-size: 24px;
  position: relative;
  background: #fff;
  color: #2775FF;
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  min-width: 110px;
  vertical-align: middle;
  line-height: 16px; }
  .btn-simple:hover {
    color: #fff !important;
    background: #2775FF; }
  .btn-simple i.icon-inside {
    font-size: 24px; }
  .btn-simple [class*="fa-"]:not(.icon-inside) {
    margin-right: 0;
    font-size: 24px;
    font-weight: 700; }
  .btn-simple.btn-circle {
    min-width: 0;
    width: 52px;
    height: 52px;
    color: #2775FF !important; }
    .btn-simple.btn-circle > .before, .btn-simple.btn-circle > .after {
      display: none; }
    .btn-simple.btn-circle:hover {
      background: #e8ecff !important; }
      .btn-simple.btn-circle:hover .text {
        color: #2775FF !important; }
    .btn-simple.btn-circle i.icon-inside {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
      [dir="rtl"] .btn-simple.btn-circle i.icon-inside {
        margin-left: 0; }
      .btn-simple.btn-circle i.icon-inside:before {
        line-height: 24px;
        vertical-align: top; }

.btn-inside-out {
  overflow: hidden;
  border: none; }
  .btn-inside-out_dark {
    background: #272727 !important; }
    .btn-inside-out_dark:hover {
      background: #e8ecff !important;
      color: #272727; }
    .btn-inside-out_dark > .before,
    .btn-inside-out_dark > .after {
      background: #272727 !important; }
  .btn-inside-out .icon-inside {
    margin-right: 5px; }
    [dir="rtl"] .btn-inside-out .icon-inside {
      margin-right: 0;
      margin-left: 5px; }
  .btn-inside-out .icon-inside ~ .before, .btn-inside-out .icon-inside ~ .after {
    padding-left: 24px; }
    [dir="rtl"] .btn-inside-out .icon-inside ~ .before, [dir="rtl"] .btn-inside-out .icon-inside ~ .after {
      padding-left: 0;
      padding-right: 24px; }
  .btn-inside-out > .before {
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  overflow: hidden;
  background: #2775FF;
  color: #fff;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
  .btn-inside-out > .after {
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  overflow: hidden;
  background: #2775FF;
  color: #fff;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
  .btn-inside-out > .before {
    top: 0;
    padding-top: 8px; }
  .btn-inside-out > .after {
    bottom: 0;
    line-height: 0; }
  .btn-inside-out > span.text {
    display: inline-block;
    -webkit-transform: scale3d(0.2, 0.2, 1);
    transform: scale3d(0.2, 0.2, 1);
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }
  .btn-inside-out:hover {
    background: #e8ecff; }
    .btn-inside-out:hover > .before {
      -webkit-transform: translate3d(0, -105%, 0);
      transform: translate3d(0, -105%, 0); }
    .btn-inside-out:hover > .after {
      -webkit-transform: translate3d(0, 105%, 0);
      transform: translate3d(0, 105%, 0); }
    .btn-inside-out:hover > span.text {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1); }

.btn-inside-out-invert {
  border: none;
  box-shadow: 0 5px 21px rgba(39, 117, 255, 0.3); }
  .btn-inside-out-invert > .before {
  background: #fff;
  color: #2775FF; }
  .btn-inside-out-invert > .after {
  background: #fff;
  color: #2775FF; }
  .btn-inside-out-invert:hover.btn-icon [class*="fa-"]:before {
    color: #2775FF; }
  .btn-inside-out-invert span.text {
    color: #2775FF; }
  .btn-inside-out-invert.btn-icon [class*="fa-"]:before {
    color: #2775FF; }

.btn-inside-out-invert-light {
  border: none;
  box-shadow: 0 5px 21px rgba(39, 117, 255, 0.3); }
  .btn-inside-out-invert-light > .before {
  background: #fff;
  color: #2775FF; }
  .btn-inside-out-invert-light > .after {
  background: #fff;
  color: #2775FF; }
  .btn-inside-out-invert-light:hover {
    background-color: rgba(255, 255, 255, 0.9); }
    .btn-inside-out-invert-light:hover.btn-icon [class*="fa-"]:before {
      color: #2775FF; }
  .btn-inside-out-invert-light span.text {
    color: #2775FF; }
  .btn-inside-out-invert-light.btn-icon [class*="fa-"]:before {
    color: #2775FF; }

.btn-prime {
  color: #2775FF;
  background: #fff;
  border: none;
  box-shadow: 0 5px 21px rgba(39, 117, 255, 0.3);
  position: relative;
  overflow: hidden;
  z-index: 1; }
  .btn-prime .border-btn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #2775FF;
    z-index: -1; }
  .btn-prime > .before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 0;
    background: #2775FF;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    z-index: -1; }
  .btn-prime > .after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    background: #2775FF;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    z-index: -1; }
  .btn-prime:hover {
    color: #2775FF !important; }
    .btn-prime:hover > .before {
  height: 50%;
  background: #e8ecff !important; }
    .btn-prime:hover > .after {
  height: 50%;
  background: #e8ecff !important; }
  .btn-prime-white > .before, .btn-prime-white > .after {
    background: #fff; }
  .btn-prime-white .border-btn {
    border-color: #fff; }
  .btn-prime-white:hover {
    color: #2775FF !important; }
  .btn-prime-white-transparent {
    background: transparent;
    color: #fff; }
    .btn-prime-white-transparent:hover > .before,
    .btn-prime-white-transparent:hover > .after {
      background: #fff !important; }
    .btn-prime-white-transparent .border-btn {
      border-color: #fff; }
  .btn-prime.btn-invert {
    color: #fff; }
    .btn-prime.btn-invert > .before, .btn-prime.btn-invert > .after {
      background: transparent; }
    .btn-prime.btn-invert .border-btn {
      border-color: #00c6ff; }

.all-light .btn-prime {
  background: transparent;
  color: #fff;
  box-shadow: 0 15px 30px 0 rgba(39, 117, 255, 0.4); }
  .all-light .btn-prime:hover [class*="fa-"].icon-left {
    color: #fff; }
  .all-light .btn-prime [class*="fa-"].icon-left {
    color: #2775FF;
    font-size: 24px;
    vertical-align: sub;
    float: right;
    line-height: 1;
    margin: -2px 6px 0 0; }

.btn-gradient {
  background: #2775FF;
  overflow: hidden;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  color: #fff;
  -webkit-transition: .3s ease background;
  transition: .3s ease background; }
  .btn-gradient span,
  .btn-gradient i {
    z-index: 1;
    position: relative;
    pointer-events: none; }
  .btn-gradient::before {
    content: '';
    position: absolute;
    left: 190px;
    top: 30px;
    width: undefined;
    height: undefined;
    background: radial-gradient(circle closest-side, #7202bb, transparent);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: width .2s ease, height .2s ease;
    transition: width .2s ease, height .2s ease;
    z-index: 0; }
  .btn-gradient::before:hover::before {
  height: 200px; }
  .btn-gradient::before::before {
  height: 200px; }
  .btn-gradient::before:hover::before {
  width: 200px; }
  .btn-gradient::before::before {
  width: 200px; }
  .btn-gradient:hover {
    color: #ffffff; }

.btn-slice {
  background: #fff;
  overflow: hidden;
  position: relative;
  z-index: 1;
  border: none;
  color: #2775FF;
  box-shadow: 0 5px 21px rgba(39, 117, 255, 0.3); }
  .btn-slice span {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    border: 1px solid #2775FF; }
  .btn-slice .border-btn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #2775FF; }
  .btn-slice > .before, .btn-slice > .after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 0 solid;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    z-index: -1; }
  .btn-slice > .before {
    bottom: 0;
    left: 0;
    border-color: transparent transparent transparent #2775FF; }
  .btn-slice > .after {
    top: 0;
    right: 0;
    border-color: transparent #2775FF transparent transparent; }
  .btn-slice:hover {
    color: #fff !important; }
    .btn-slice:hover > .before, .btn-slice:hover > .after {
      border-width: 54px 220px; }

.btn-pos {
  color: #333;
  background: #F6F6F6;
  overflow: hidden;
  position: relative; }
  .btn-pos span {
    position: absolute;
    left: 0;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #2775FF;
    -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1; }
  .btn-pos:hover {
    color: #fff; }
    .btn-pos:hover span {
      width: 250%;
      height: 250%; }

.btn-lightning {
  overflow: hidden;
  position: relative;
  padding: 2px 14px; }
  .btn-lightning.btn-icon-abs [class*="fa-"] {
    z-index: 10; }
  .btn-lightning span.bg {
    background: #fff;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-radius: 22px;
    z-index: 2; }
  .btn-lightning span:not(.bg) {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 4;
    padding: 16px 0;
    height: 100%;
    font-size: 16px; }
  .btn-lightning > .before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: -webkit-gradient(linear, left top, right top, from(#00c6ff), color-stop(#2775FF), to(#7202bb));
    background: linear-gradient(to right, #00c6ff, #2775FF, #7202bb); }
  .btn-lightning:after {
    background: #1d1d1d;
    content: "";
    height: 135px;
    left: -100px;
    opacity: .1;
    position: absolute;
    bottom: -40px;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
    -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    z-index: 3; }
  .btn-lightning:hover {
    color: #333; }
    .btn-lightning:hover:after {
      -webkit-animation: lightning 2s infinite;
              animation: lightning 2s infinite; }

.btn-gradient-wave {
  color: #fff;
  background: linear-gradient(45deg, #0F5AE0 0%, #7400ba 100%);
  border: none;
  overflow: hidden; }
  .btn-gradient-wave:before {
    content: '';
    position: absolute;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1600" height="198"><path fill="#07e3ff" d="M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z" transform="matrix(-1 0 0 1 1600 0)"/></svg>');
    background-position: left bottom;
    background-repeat: repeat-x;
    background-size: contain;
    top: 70%;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-animation: wave 60s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
            animation: wave 60s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    -webkit-animation-play-state: paused;
            animation-play-state: paused; }
  .btn-gradient-wave:focus {
    color: #fff;
    background: linear-gradient(45deg, #0F5AE0 0%, #7400ba 100%); }
  .btn-gradient-wave:hover {
    color: #fff !important; }
    .btn-gradient-wave:hover:before {
      -webkit-animation-play-state: running;
              animation-play-state: running; }

.btn-ice {
  height: auto;
  border: none;
  color: #2775FF;
  background-color: #e8ecff;
  box-shadow: 0 5px 21px rgba(39, 117, 255, 0.3);
  padding: 0; }
  .btn-ice span.btn-text {
    position: relative;
    z-index: 2;
    color: #2775FF;
    background: #fff;
    display: block;
    padding: 17px 16px;
    margin: 2px;
    border-radius: 23px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    overflow: hidden; }
    .btn-ice span.btn-text > .before {
      display: block;
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      left: -10%;
      z-index: -12;
      background: #2775FF;
      -webkit-transform: skewX(-20deg);
              transform: skewX(-20deg);
      -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
      transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
      opacity: 1; }
    .btn-ice span.btn-text:after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      left: -10%;
      z-index: -15;
      background: #e8ecff;
      -webkit-transform: skewX(-20deg);
              transform: skewX(-20deg);
      -webkit-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
      transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
      opacity: 0; }
  .btn-ice:hover {
    color: #fff !important;
    background: transparent;
    box-shadow: none; }
    .btn-ice:hover span.btn-text {
      color: #fff !important; }
    .btn-ice:hover span.btn-text > .before {
      opacity: 1;
      width: 116%; }
    .btn-ice:hover span.btn-text:after {
      opacity: 1;
      width: 120%; }
    .btn-ice:hover .left-border, .btn-ice:hover .top-line {
      opacity: 0; }
  .btn-ice .left-border {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 50%;
    bottom: 0;
    z-index: 1;
    background-color: #2775FF;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-radius: 25px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease; }
  .btn-ice .top-line {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    right: 25%;
    width: 25%;
    height: 2px;
    background-color: #2775FF;
    -webkit-transition: all .4s ease;
    transition: all .4s ease; }
    .btn-ice .top-line > .after {
      content: '';
      position: absolute;
      top: 0;
      right: -2px;
      height: 2px;
      width: 2px;
      z-index: 3;
      -webkit-transition: all .4s ease;
      transition: all .4s ease;
      box-shadow: 1px 1px 3px #2775FF, -1px -1px 3px #2775FF, -1px 1px 3px #2775FF, 1px -1px 3px #2775FF; }

.btn-two-bg {
  color: #fff;
  border: none;
  background-color: transparent; }
  .btn-two-bg span {
    position: relative;
    display: block;
    z-index: 3; }
  .btn-two-bg .before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 198, 255, 0.82)), to(rgba(0, 246, 255, 0.82)));
    background: linear-gradient(to right, rgba(0, 198, 255, 0.82), rgba(0, 246, 255, 0.82)); }
  .btn-two-bg .after {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: -webkit-gradient(linear, left top, right top, from(#2775FF), to(#7202bb));
    background: linear-gradient(to right, #2775FF, #7202bb);
    -webkit-transition: all .4s ease;
    transition: all .4s ease; }
  .btn-two-bg:hover, .btn-two-bg:focus {
    color: #fff !important; }
  .btn-two-bg:hover .after {
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px); }

.icon__btn {
  display: inline-block;
  margin: 10px;
  border-radius: 50%;
  color: #fff;
  background: #2775FF;
  position: relative;
  z-index: 3; }
  .icon__btn .spike {
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    background: #2775FF;
    z-index: -1; }
    .icon__btn .spike:nth-child(1) {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); }
    .icon__btn .spike:nth-child(2) {
      -webkit-transform: rotate(10deg);
              transform: rotate(10deg); }
    .icon__btn .spike:nth-child(3) {
      -webkit-transform: rotate(20deg);
              transform: rotate(20deg); }
    .icon__btn .spike:nth-child(4) {
      -webkit-transform: rotate(30deg);
              transform: rotate(30deg); }
    .icon__btn .spike:nth-child(5) {
      -webkit-transform: rotate(40deg);
              transform: rotate(40deg); }
    .icon__btn .spike:nth-child(6) {
      -webkit-transform: rotate(50deg);
              transform: rotate(50deg); }
    .icon__btn .spike:nth-child(7) {
      -webkit-transform: rotate(60deg);
              transform: rotate(60deg); }
    .icon__btn .spike:nth-child(8) {
      -webkit-transform: rotate(70deg);
              transform: rotate(70deg); }
    .icon__btn .spike:nth-child(9) {
      -webkit-transform: rotate(80deg);
              transform: rotate(80deg); }
    .icon__btn .spike:nth-child(10) {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
  .icon__btn > .before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: scale(1.35);
            transform: scale(1.35);
    opacity: .1;
    background-color: #2775FF;
    border-radius: 50%;
    z-index: -1; }
  .icon__btn > .after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .2;
    background-color: #2775FF;
    border-radius: 50%;
    z-index: -1; }
  .icon__btn_clear > .before {
    -webkit-transform: scale(1);
            transform: scale(1); }
  .icon__btn:hover {
    color: #fff; }
    .icon__btn:hover > .before {
      -webkit-animation: pulse 1.5s infinite;
              animation: pulse 1.5s infinite;
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s; }
    .icon__btn:hover > .after {
      -webkit-animation: pulse 1.5s infinite;
              animation: pulse 1.5s infinite; }
  .icon__btn-circled > .before {
    top: -33px;
    left: -33px;
    right: -33px;
    bottom: -33px;
    -webkit-transform: scale(1);
            transform: scale(1); }
  .icon__btn-circled > .after {
    top: -16px;
    left: -16px;
    right: -16px;
    bottom: -16px; }
  .icon__btn-circled:hover > .before {
    -webkit-animation: pulse-paused 1s ease-in infinite;
            animation: pulse-paused 1s ease-in infinite;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .icon__btn-circled:hover > .after {
    -webkit-animation: pulse-paused 1s ease-in infinite;
            animation: pulse-paused 1s ease-in infinite; }
  .icon__btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .icon__btn-invert {
    background: #fff;
    color: #2775FF; }
    .icon__btn-invert > .bg {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
      border-radius: 100%;
      background: #fff; }
    .icon__btn-invert:hover {
      background: #fff;
      color: #2775FF; }
  .icon__btn-white {
    background: #fff;
    color: #2775FF; }
    .icon__btn-white > .before {
      background-color: #fff; }
    .icon__btn-white > .after {
      background-color: #fff; }
    .icon__btn-white:hover {
      background: #fff;
      color: #2775FF; }
  .icon__btn-sm {
    font-size: 14px;
    width: 41px;
    height: 41px; }
  .icon__btn-md {
    font-size: 16px;
    width: 52px;
    height: 52px; }
  .icon__btn-md_1 {
    font-size: 26px;
    width: 70px;
    height: 70px; }
  .icon__btn-lg {
    font-size: 21px;
    width: 68px;
    height: 68px; }
  .icon__btn-xl {
    font-size: 21px;
    width: 86px;
    height: 86px; }
  .icon__btn-center [class*="fa-"] {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    text-align: center; }
  .icon__btn.icon__btn-svg {
    background: transparent !important; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@-webkit-keyframes pulse-paused {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  60% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes pulse-paused {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  20% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  60% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes lightning {
  0% {
    left: -100px;
    z-index: 3; }
  50% {
    left: 300%; }
  100% {
    left: -100px;
    z-index: 0; } }

@-webkit-keyframes lightning {
  0% {
    left: -100px;
    z-index: 3; }
  50% {
    left: 100%; }
  100% {
    left: -100px;
    z-index: 0; } }

@-webkit-keyframes wave {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -9999px; } }

@keyframes wave {
  0% {
    margin-left: 0; }
  100% {
    margin-left: -9999px; } }

.delimiter + .delimiter {
  margin-top: 80px; }
  @media (min-width: 922px) {
    .delimiter + .delimiter {
      margin-top: 125px; } }

.delimiter-box {
  position: relative; }

.delimiter__delimiter-solid-gradient > .before {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 3px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: -webkit-gradient(linear, left top, right top, from(#2775FF), to(#7202bb));
  background: linear-gradient(to right, #2775FF, #7202bb); }

.delimiter__delimiter-double-border > .before {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 7px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-top: 2px solid #e8ecff;
  border-bottom: 2px solid #e8ecff; }

.delimiter__delimiter-solid-slope > .before {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  -webkit-transform: translateY(-50%) rotate(-5deg);
          transform: translateY(-50%) rotate(-5deg);
  background-color: #e8ecff; }

.delimiter__delimiter-solid > .before {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 3px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #2775FF; }

.delimiter__delimiter-solid-shade > .before {
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3); }

.delimiter__delimiter-doted > .before {
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-top: 4px dotted #e8ecff; }

.delimiter__delimiter-double-colors > .before {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 4px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-top: 1px solid #00c6ff;
  border-bottom: 1px solid #2775FF; }

.btn__dropdown {
  text-align: center; }
  .btn__dropdown_wrap {
    position: relative;
    display: inline-block;
    padding-right: 41px;
    list-style: none;
    min-width: 170px;
    padding-left: 0;
    margin-bottom: 0;
    overflow: hidden;
    -webkit-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }
    .btn__dropdown_wrap:not(.open) {
      height: 41px; }
    .btn__dropdown_wrap:hover {
      cursor: pointer; }
    .btn__dropdown_wrap.btn__primary {
      background-color: #2775FF; }
    .btn__dropdown_wrap.btn__white {
      background-color: #eff5ff;
      color: #2775FF;
      box-shadow: 0 5px 21px rgba(39, 117, 255, 0.3); }
    .btn__dropdown_wrap:before {
      position: absolute;
      font-family: Font Awesome\ 5 Free;
      font-size: 13px;
      content: '\f0dd';
      top: -webkit-calc(50% - 2px);
      top: calc(50% - 2px);
      right: 19px;
      line-height: 1;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      font-weight: 600; }
    .btn__dropdown_wrap.open {
      -webkit-transition: all 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
      transition: all 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53); }
      .btn__dropdown_wrap.open:before {
        content: '\f0de';
        top: 50%; }
    .btn__dropdown_wrap button:hover, .btn__dropdown_wrap button:focus {
      background: none !important; }
  .btn__dropdown_item {
    border-bottom: 1px solid;
    border-right: 1px solid;
    padding-left: 18px;
    text-align: left; }
    .btn__primary .btn__dropdown_item {
      border-color: #0F5AE0;
      background: #2775FF; }
    .btn__white .btn__dropdown_item {
      border-color: #dee9fc;
      background: #fff; }
    .btn__dropdown_item:first-child {
      padding-top: 2px; }
    .btn__dropdown_item:last-child {
      border-bottom: none; }
  .btn__dropdown_btn {
    text-transform: uppercase;
    font-weight: inherit;
    text-align: left;
    font-size: 14px;
    padding: 9px 9px;
    margin: 0;
    border: none;
    background-color: transparent; }
    .btn__dropdown_item .btn__dropdown_btn {
      box-shadow: none; }

.margin-box__btn-round {
  margin: 25px 0; }
  @media (min-width: 768px) {
    .margin-box__btn-round {
      margin: 0; } }

.margin-box__btn-dropdown {
  margin-top: 30px;
  margin-bottom: 1em; }
  @media (min-width: 768px) {
    .margin-box__btn-dropdown {
      margin-bottom: 63px; } }
  @media (max-width: 767px) {
    .col-lg-3:first-child .margin-box__btn-dropdown {
      margin-top: 0; } }

.btn--square {
  border: 2px solid;
  border-color: #2775FF;
  border-radius: 0;
  padding: 12px 42px;
  overflow: hidden;
  margin: 0; }
  .btn--square .angle {
    width: 10px;
    height: 300%;
    position: absolute;
    display: block;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
    top: 0;
    left: 100%;
    -webkit-transition: top ease-in-out .2s, left ease-in-out .2s;
    transition: top ease-in-out .2s, left ease-in-out .2s; }
  .btn--square:hover .angle {
    top: 3%;
    left: 97%; }

.btn-backgrounds {
  display: inline-block;
  width: 260px;
  height: 56px;
  border-radius: 28px;
  background-color: #fff;
  position: relative;
  letter-spacing: -0.06em;
  padding-right: 25px;
  font-size: 0.8125rem;
  line-height: 56px; }
  .btn-backgrounds_white {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.07);
    color: #272727; }
    .btn-backgrounds_white .before {
      background-color: #eee; }
  .btn-backgrounds_dark {
    box-shadow: 0 0 26px rgba(0, 0, 0, 0.3);
    color: #fff; }
    .btn-backgrounds_dark .before {
      border: solid 2px rgba(255, 255, 255, 0.4); }
      .btn-backgrounds_dark .before i {
        color: #fff; }
  .btn-backgrounds .before {
    position: absolute;
    top: 50%;
    right: 7px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-right: 23px;
    letter-spacing: -0.06em; }
    .btn-backgrounds .before i {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      vertical-align: 0;
      font-size: 1.125rem; }
  .btn-backgrounds_left-icon {
    padding-right: 0;
    padding-left: 25px; }
    .btn-backgrounds_left-icon .before {
      right: auto;
      left: 7px; }

.btn-bottom-position {
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  margin: 0; }

.btn-violet {
  font-size: 0.75rem;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1) !important; }
  .btn-violet:hover {
    background: rgba(114, 2, 187, 0.05); }
  .btn-violet .before {
  padding-left: 0 !important;
  padding-right: 10px;
  color: #7202bb; }
  .btn-violet .after {
  padding-left: 0 !important;
  padding-right: 10px;
  color: #7202bb; }
  .btn-violet .text {
    color: #7202bb !important;
    margin-right: 10px; }
  .btn-violet i {
    position: absolute !important;
    top: -webkit-calc(50% - 3px);
    top: calc(50% - 3px);
    right: 20px;
    margin-right: 0 !important;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
    .btn-violet i:before {
      color: #7202bb !important; }

/*# sourceMappingURL=maps/buttons.css.map */
