/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
.post-rounded__thumb, .post-sqaure, .post-filmstrip, .shop-window__thumb {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
.post-rounded__thumb, .post-sqaure, .post-filmstrip, .shop-window__thumb {
  background: no-repeat center center;
  background-size: cover; }

.post-rounded {
  margin-top: 15px;
  margin-bottom: 15px; }
  .post-rounded__text {
    background-color: #ffffff; }
  .post-rounded:hover .post-rounded__thumb:after {
    width: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(39, 117, 255, 0.92)), to(rgba(114, 2, 187, 0.92)));
    background-image: linear-gradient(to right, rgba(39, 117, 255, 0.92), rgba(114, 2, 187, 0.92)); }
  .post-rounded:hover .post-rounded__thumb .post-rounded__btn {
    border-color: rgba(255, 255, 255, 0.3);
    bottom: 50%;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    background-color: transparent;
    color: #fff; }
  .post-rounded__thumb {
    height: 0;
    padding-bottom: 100%;
    position: relative; }
    .post-rounded__thumb:after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 0;
      height: 100%;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
  .post-rounded__btn {
    position: absolute !important;
    left: 50%;
    bottom: -27px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin: 0;
    background-color: #fff;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.07);
    border: 1px solid transparent;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border-radius: 27px; }
    .post-rounded__btn:hover {
      background-color: rgba(255, 255, 255, 0.1) !important; }
    .post-rounded__btn-square {
      border-radius: 0 !important; }
  .post-rounded__text {
    padding: 65px 38px 45px; }
    .post-rounded__text p {
      margin-top: 18px; }

.post-sqaure {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 0;
  padding-bottom: 155.55555%;
  max-height: 500px;
  position: relative;
  overflow: hidden; }
  .post-sqaure:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6); }
  .post-sqaure:hover .post-sqaure__title {
    bottom: -webkit-calc(100% - 76px);
    bottom: calc(100% - 76px); }
  .post-sqaure:hover .post-sqaure__btn {
    opacity: 1;
    bottom: 30px; }
  .post-sqaure__title {
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 3; }
  .post-sqaure__btn {
    min-height: 52px !important;
    letter-spacing: 0 !important;
    position: absolute !important;
    opacity: 0;
    bottom: -52px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin: 0; }
    .post-sqaure__btn.btn-inside-out > .before {
      padding-top: 14px !important; }

.post-filmstrip {
  position: relative;
  width: 100%;
  max-width: 370px;
  min-height: 370px; }
  @media (max-width: 767px) {
    .post-filmstrip {
      max-width: 300px;
      max-height: 300px; } }
  .post-filmstrip:hover .post-filmstrip__content {
    opacity: 1;
    overflow: visible; }
    .post-filmstrip:hover .post-filmstrip__content h3 {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0); }
  .post-filmstrip:hover .post-filmstrip__excerpt {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .post-filmstrip:hover .links__permalink,
  .post-filmstrip:hover .links__view {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  .post-filmstrip__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    .post-filmstrip__content h3 {
      max-width: 300px;
      color: #fff;
      margin: 61px auto 0;
      opacity: 0;
      -webkit-transform: translateY(-30px);
              transform: translateY(-30px);
      -webkit-transition: all .4s ease-in-out .3s;
      transition: all .4s ease-in-out .3s;
      padding: 0 15px; }
      @media (max-width: 767px) {
        .post-filmstrip__content h3 {
          margin: 30px auto 0; } }
  .post-filmstrip__excerpt {
    color: rgba(255, 255, 255, 0.5);
    padding-left: 15px;
    padding-right: 15px;
    max-width: 320px;
    margin: 20px auto 0;
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    -webkit-transition: all .4s ease-in-out .1s;
    transition: all .4s ease-in-out .1s; }
  .post-filmstrip .links {
    position: relative;
    width: 101px;
    height: 54px;
    margin: 36px auto 0; }
    .post-filmstrip .links i {
      font-size: 1rem;
      line-height: 16px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .post-filmstrip .links__permalink, .post-filmstrip .links__view {
      width: 54px;
      height: 54px;
      display: block;
      position: absolute;
      top: 0;
      border-radius: 50%;
      -webkit-transition: all .3s ease-in-out .5s;
      transition: all .3s ease-in-out .5s;
      z-index: 3; }
    .post-filmstrip .links__permalink {
      color: #fff;
      background-color: rgba(255, 255, 255, 0.2);
      border: 2px solid rgba(255, 255, 255, 0.3);
      left: 0;
      opacity: 0;
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px); }
      .post-filmstrip .links__permalink:hover i:before {
        color: #fff; }
    .post-filmstrip .links__view {
      background-color: #fff;
      border: 2px solid #fff;
      right: 0;
      opacity: 0;
      -webkit-transform: translateX(100px);
              transform: translateX(100px); }
      .post-filmstrip .links__view i:before {
        color: #2775FF; }

.post-angle-slider {
  max-width: 870px; }
  .post-angle-slider .slick-list {
    margin-left: -15px;
    margin-right: -15px; }

.shop-window {
  padding: 7px;
  position: relative;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin-bottom: 30px; }
  @media (max-width: 575px) {
    .shop-window {
      margin-bottom: 50px; } }
  .shop-window:hover {
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.16);
    background-color: #fff; }
    .shop-window:hover:before {
      width: 100%; }
    .shop-window:hover .shop-window__price {
      -webkit-transform: translateX(-50%) scale(1);
              transform: translateX(-50%) scale(1); }
  .shop-window:before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 0;
    height: 3px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background-color: #2775FF; }
  .shop-window__thumb {
    height: 0;
    padding-bottom: 100%; }
  .shop-window__title {
    min-height: 90px;
    padding: 23px 15px 0; }
  .shop-window__price {
    position: absolute;
    width: 106px;
    height: 42px;
    box-shadow: 0 5px 16px rgba(39, 117, 255, 0.5);
    border-radius: 21px;
    line-height: 42px;
    bottom: -21px;
    left: 50%;
    letter-spacing: 0.03rem;
    -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-color: #2775FF;
    color: #fff; }

.shop-setout {
  margin-top: 15px;
  margin-bottom: 15px; }
  .shop-setout__img {
    height: 0;
    padding-bottom: -webkit-calc(100% - 39px);
    padding-bottom: calc(100% - 39px);
    max-height: 230px;
    background: no-repeat center top;
    position: relative;
    overflow: hidden; }
    .shop-setout__img:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.92);
      opacity: 0;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      z-index: 1; }
    .shop-setout__img .add-cart,
    .shop-setout__img .add-wishlist {
      position: absolute;
      top: 49%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 54px;
      height: 54px;
      font-size: 1.0625rem;
      border-radius: 27px;
      line-height: 50px;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
      .shop-setout__img .add-cart i,
      .shop-setout__img .add-wishlist i {
        line-height: inherit; }
    .shop-setout__img .add-cart {
      background-color: #2775FF;
      color: #fff;
      box-shadow: 0 5px 16px rgba(39, 117, 255, 0.5);
      opacity: 0;
      left: 90%;
      z-index: 3; }
    .shop-setout__img .add-wishlist {
      background-color: #fff;
      color: #2775FF;
      box-shadow: 0 5px 16px rgba(0, 0, 0, 0.07);
      opacity: 0;
      right: 90%;
      z-index: 2; }
    .shop-setout__img:hover:before {
      opacity: 1; }
    .shop-setout__img:hover .add-cart {
      opacity: 1;
      left: 86px; }
    .shop-setout__img:hover .add-wishlist {
      opacity: 1;
      right: 86px; }
  .shop-setout__link {
    display: block;
    margin: 12px 25px 0;
    padding: 12px 25px 12px; }
    .shop-setout__link h3 {
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
    .shop-setout__link:hover h3 {
      color: #2775FF; }
  .shop-setout .old-price {
    color: #c4c4c4;
    text-decoration: line-through;
    padding-right: 13px; }

.filmstrip-slider {
  padding: 45px 0;
  position: relative; }
  .filmstrip-slider .swiper-slide {
    width: 370px;
    height: 370px; }
  .filmstrip-slider .brk-scrollbar {
    position: absolute;
    bottom: -3px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
    max-width: 1170px;
    background-color: #fff;
    height: 4px;
    cursor: pointer;
    border-radius: 25px;
    border: 0;
    box-shadow: 0 0 0 3px #fff, 0 3px 13px rgba(0, 0, 0, 0.5), inset 0 1px 4px rgba(0, 0, 0, 0.3);
    z-index: 3; }
    .filmstrip-slider .brk-scrollbar-track {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      max-width: 100% !important;
      background: #7400ba;
      border-radius: 4px;
      height: 4px;
      -webkit-transition-duration: 500ms;
              transition-duration: 500ms; }
    .filmstrip-slider .brk-scrollbar-drag {
      box-shadow: 0 0 0 4px #fff, 0 0 13px 3px rgba(0, 0, 0, 0.5);
      height: 8px;
      width: 8px !important;
      border-radius: 50%;
      background: #b50aff;
      cursor: pointer;
      margin-top: -2px; }

.landscape-slider {
  position: relative; }
  .landscape-slider-for {
    width: 100%; }
    .landscape-slider-for .brk-slid {
      background: no-repeat center center;
      background-size: cover;
      /*      @media (max-width:767px){
							height: 700px;
						}

						@media (max-width:575px){
							height: 400px;
						}*/ }
  .landscape-slider-nav {
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 400px;
    z-index: 9; }
    @media (max-width: 991px) {
      .landscape-slider-nav {
        width: 50%; } }
    @media (max-width: 767px) {
      .landscape-slider-nav {
        width: 100%;
        height: 300px;
        top: auto;
        bottom: 0; } }
    @media (max-width: 575px) {
      .landscape-slider-nav {
        height: 100%; } }
    .landscape-slider-nav:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(39, 117, 255, 0.84)), to(rgba(114, 2, 187, 0.84)));
      background-image: linear-gradient(to top, rgba(39, 117, 255, 0.84), rgba(114, 2, 187, 0.84)); }
    .landscape-slider-nav__content,
    .landscape-slider-nav .slick-list {
      position: relative;
      z-index: 3; }
    .landscape-slider-nav__title {
      color: #fff;
      max-width: 340px;
      margin: 53px auto 0;
      padding: 0 15px; }
      @media (max-width: 767px) {
        .landscape-slider-nav__title {
          max-width: none;
          margin-top: 15px; } }
    .landscape-slider-nav__text {
      color: rgba(255, 255, 255, 0.5);
      max-width: 340px;
      margin: 26px auto 0;
      padding: 0 15px; }
      @media (max-width: 767px) {
        .landscape-slider-nav__text {
          max-width: none;
          margin-top: 15px; } }
    .landscape-slider-nav__btn {
      border: 1px solid rgba(255, 255, 255, 0.3);
      background-color: transparent;
      color: #fff;
      border-radius: 27px;
      box-shadow: 0 5px 16px rgba(0, 0, 0, 0.07);
      margin: 35px auto 0 !important;
      min-width: 188px; }
      @media (max-width: 767px) {
        .landscape-slider-nav__btn {
          margin-top: 15px; } }
      .landscape-slider-nav__btn:hover {
        background-color: rgba(255, 255, 255, 0.1) !important; }

.rotate-slider {
  margin: 0 auto;
  height: 390px;
  padding-top: 35px;
  width: 100%;
  overflow: hidden; }

.rotate-container {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  top: 0;
  left: 50%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%; }
  .rotate-container.animate {
    -webkit-transition: all 0.75s ease-in-out;
    transition: all 0.75s ease-in-out; }

.rotate-slid {
  background: no-repeat center center;
  background-size: cover;
  display: block;
  color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  text-align: center;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  width: 100%; }
  .rotate-slid__over {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .rotate-slid__content {
    padding: 15px;
    max-width: 450px;
    margin: 139px auto 0;
    color: #fff; }
    .rotate-slid__content h1, .rotate-slid__content h2, .rotate-slid__content h3, .rotate-slid__content h4 {
      color: #fff;
      margin-bottom: 14px; }
    .rotate-slid__content p {
      color: rgba(255, 255, 255, 0.7); }

.svg-hidden {
  height: 0;
  overflow: hidden; }

/*# sourceMappingURL=maps/content-sliders.css.map */
