/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
.counter__wrapper-filled {
  margin: 20px 0; }
  .counter__wrapper-filled .counter-wrap {
    width: 160px;
    height: 160px;
    margin: 0 auto;
    border-radius: 50%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    background: #F4F4F4;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    z-index: 1; }
    .counter__wrapper-filled .counter-wrap:before {
      content: '';
      position: absolute;
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
      background: #fff;
      border-radius: 50%;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
      z-index: -1; }
    .counter__wrapper-filled .counter-wrap .counter-tri {
      position: absolute;
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
      z-index: -2;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transition: all 4s ease;
      transition: all 4s ease; }
      .counter__wrapper-filled .counter-wrap .counter-tri > .before {
        position: absolute;
        width: 15px;
        top: -7px;
        left: 50%;
        height: 15px;
        background: #2775FF;
        -webkit-transform: translate(-50%, 0) rotate(45deg);
                transform: translate(-50%, 0) rotate(45deg);
        z-index: -2; }
    .counter__wrapper-filled .counter-wrap svg {
      width: 186px;
      height: 186px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      overflow: visible;
      pointer-events: none; }
      .counter__wrapper-filled .counter-wrap svg circle {
        stroke: #2775FF;
        stroke-width: 6px;
        fill: none;
        cx: 93;
        cy: 93;
        r: 93;
        stroke-dasharray: 584;
        stroke-dashoffset: 584;
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
        -webkit-transform-origin: 93px 93px;
                transform-origin: 93px 93px;
        -webkit-transition: all 4s ease;
        transition: all 4s ease; }
  .counter__wrapper-filled .counter {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: #2775FF;
    line-height: 1; }

.counter__wrapper-invertible {
  margin: 20px 0; }
  .counter__wrapper-invertible .counter-wrap {
    width: 230px;
    height: 230px;
    margin: 0 auto;
    border-radius: 50%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    background: linear-gradient(50deg, #0F5AE0, #7202bb);
    overflow: hidden;
    position: relative; }
    .counter__wrapper-invertible .counter-wrap:before, .counter__wrapper-invertible .counter-wrap:after {
      content: '';
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      left: -7px;
      width: 14px;
      height: 14px;
      background: #fff;
      border-radius: 50%;
      z-index: 2; }
    .counter__wrapper-invertible .counter-wrap:after {
      left: auto;
      right: -7px; }
    .counter__wrapper-invertible .counter-wrap > .before {
      position: absolute;
      bottom: -webkit-calc(50% - 1px);
      bottom: calc(50% - 1px);
      left: 0;
      right: 0;
      height: 50%;
      background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.3)), to(transparent));
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), transparent);
      border-bottom: 2px solid #4F00BA; }
  .counter__wrapper-invertible .counter {
    font-family: 'Montserrat', sans-serif;
    font-size: 74px;
    color: #fff;
    line-height: 1; }

.counter__wrapper-clean {
  margin: 20px 0; }
  .counter__wrapper-clean .counter-wrap {
    width: 230px;
    height: 230px;
    margin: 0 auto;
    border-radius: 50%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    position: relative; }
  .counter__wrapper-clean .counter {
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    font-weight: 500;
    color: #2775FF;
    line-height: 1; }
  .counter__wrapper-clean svg {
    width: 230px;
    height: 230px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-40deg);
            transform: translate(-50%, -50%) rotate(-40deg);
    overflow: visible;
    pointer-events: none; }

.counter__wrapper-roller {
  margin: 20px 0; }
  .counter__wrapper-roller .counter {
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    color: #2775FF;
    letter-spacing: 0.2em;
    line-height: 1; }
  .counter__wrapper-roller .odometer-formatting-mark {
    display: none; }

.counter__wrapper-icon {
  text-align: left;
  max-width: 330px;
  margin: 20px auto;
  position: relative;
  z-index: 1;
  color: #4f34c9; }
  .counter__wrapper-icon .livicon-evo {
    display: inline-block;
    position: absolute;
    width: 60px;
    text-align: center; }
  .counter__wrapper-icon .icon {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 64px;
    line-height: 64px; }
  .counter__wrapper-icon .cont {
    padding-left: 95px; }
  .counter__wrapper-icon p {
    line-height: 19px; }
  .counter__wrapper-icon .counter {
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    font-weight: 600;
    line-height: 1;
    color: #4f34c9; }

.counter__wrapper-airport {
  margin: 20px auto; }
  @media (min-width: 1200px) {
    .counter__wrapper-airport {
      text-align: left;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: end;
              justify-content: flex-end; } }
  .counter__wrapper-airport p {
    margin-top: 20px; }
    @media (min-width: 1200px) {
      .counter__wrapper-airport p {
        margin-top: 0;
        margin-left: 50px; }
        [dir="rtl"] .counter__wrapper-airport p {
          margin-left: 0;
          margin-right: 50px; } }
  .counter__wrapper-airport .counter {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    background: linear-gradient(80deg, #2775FF, #00f6ff);
    box-shadow: 0 6px 30px 0 rgba(34, 103, 226, 0.6);
    position: relative;
    z-index: 1;
    word-wrap: normal;
    white-space: nowrap; }
    [dir="rtl"] .counter__wrapper-airport .counter {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
              flex-direction: row-reverse; }
    .counter__wrapper-airport .counter span {
      display: inline-block;
      width: 78px;
      text-align: center;
      padding: 20px 0;
      border-left: 2px solid #fff; }
      .counter__wrapper-airport .counter span:first-child {
        border-left: none; }
    .counter__wrapper-airport .counter:before {
      content: '';
      position: absolute;
      bottom: -webkit-calc(50% - 4px);
      bottom: calc(50% - 4px);
      left: 0;
      right: 0;
      height: 50%;
      background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.3)), to(transparent));
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), transparent);
      border-bottom: 2px solid rgba(0, 0, 0, 0.1); }
  .counter__wrapper-airport.brk-color .counter {
    background: linear-gradient(80deg, #0F5AE0, #7202bb);
    box-shadow: 0 6px 30px 0 rgba(15, 90, 224, 0.6); }

.counter__wrapper-gradient {
  margin: 20px 0; }
  .counter__wrapper-gradient .counter-wrap {
    width: 230px;
    height: 230px;
    margin: 0 auto;
    border: 8px solid #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    position: relative; }
  .counter__wrapper-gradient .counter {
    font-family: 'Montserrat', sans-serif;
    font-size: 74px;
    font-weight: 500;
    color: #fff;
    line-height: 1; }
  .counter__wrapper-gradient.brk-color .counter-wrap {
    background: -webkit-gradient(linear, left top, left bottom, from(#0F5AE0), to(#7400ba));
    background: linear-gradient(180deg, #0F5AE0, #7400ba);
    box-shadow: 0 6px 30px 0 rgba(15, 90, 224, 0.6); }

.odometer.odometer-auto-theme,
.odometer.odometer-theme-default {
  display: inline-block;
  vertical-align: middle;
  position: relative; }

.odometer.odometer-auto-theme .odometer-digit,
.odometer.odometer-theme-default .odometer-digit {
  display: inline-block;
  vertical-align: middle;
  position: relative; }

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer,
.odometer.odometer-theme-default .odometer-digit .odometer-digit-spacer {
  display: inline-block;
  vertical-align: middle;
  visibility: hidden; }

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner,
.odometer.odometer-theme-default .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 110px; }

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon,
.odometer.odometer-theme-default .odometer-digit .odometer-ribbon {
  display: block; }

.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner,
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner,
.odometer.odometer-theme-default .odometer-digit .odometer-ribbon-inner {
  display: block;
  -webkit-backface-visibility: hidden; }

.odometer.odometer-auto-theme .odometer-digit .odometer-value,
.odometer.odometer-theme-default .odometer-digit .odometer-value {
  display: block;
  -webkit-transform: translateZ(0);
  padding: 20px 0; }

.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value,
.odometer.odometer-theme-default .odometer-digit .odometer-value.odometer-last-value {
  position: absolute; }

.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s; }

.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%); }

.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-down .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%); }

.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner,
.odometer.odometer-theme-default.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
  -webkit-transform: translateY(0);
          transform: translateY(0); }

/**/
.counter__wrapper-airport.blue .counter {
  background: linear-gradient(80deg, #0F5AE0, #7202bb);
  box-shadow: 0 6px 30px 0 rgba(15, 90, 224, 0.6); }

.counter__wrapper-airport.pink .counter {
  background: linear-gradient(80deg, #C423EE, #EE23EC);
  box-shadow: 0 6px 30px 0 rgba(196, 35, 238, 0.6); }

.counter__wrapper-airport.purple .counter {
  background: linear-gradient(80deg, #7400ba, #7202bb);
  box-shadow: 0 6px 30px 0 rgba(114, 2, 187, 0.6); }

.counter__wrapper-airport.aqua .counter {
  background: linear-gradient(80deg, #2775FF, #00f6ff);
  box-shadow: 0 6px 30px 0 rgba(39, 117, 255, 0.6); }

.counter__wrapper-airport.gray .counter {
  background: linear-gradient(80deg, #7A7A7A, #BABABA);
  box-shadow: 0 6px 30px 0 rgba(122, 122, 122, 0.6); }

.counter__wrapper-airport.brown .counter {
  background: linear-gradient(80deg, #AB752B, #D5AA6F);
  box-shadow: 0 6px 30px 0 rgba(171, 117, 43, 0.6); }

.counter__wrapper-airport.black .counter {
  background: linear-gradient(80deg, #000000, #383838);
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.6); }

/**/
.counter__wrapper-gradient.blue .counter-wrap {
  background: -webkit-gradient(linear, left top, left bottom, from(#2775FF), to(#7400ba));
  background: linear-gradient(180deg, #2775FF, #7400ba);
  box-shadow: 0 6px 30px 0 rgba(19, 87, 223, 0.6); }

.counter__wrapper-gradient.pink .counter-wrap {
  background: -webkit-gradient(linear, left top, left bottom, from(#C423EE), to(#EE23EC));
  background: linear-gradient(180deg, #C423EE, #EE23EC);
  box-shadow: 0 6px 30px 0 rgba(181, 10, 255, 0.6); }

.counter__wrapper-gradient.purple .counter-wrap {
  background: -webkit-gradient(linear, left top, left bottom, from(#7202bb), to(#7400ba));
  background: linear-gradient(180deg, #7202bb, #7400ba);
  box-shadow: 0 6px 30px 0 rgba(114, 2, 187, 0.6); }

.counter__wrapper-gradient.aqua .counter-wrap {
  background: -webkit-gradient(linear, left top, left bottom, from(#00c6ff), to(#00f6ff));
  background: linear-gradient(180deg, #00c6ff, #00f6ff);
  box-shadow: 0 6px 30px 0 rgba(0, 198, 255, 0.6); }

.counter__wrapper-gradient.gray .counter-wrap {
  background: -webkit-gradient(linear, left top, right top, from(#B3B3B3), to(#F0F0F0));
  background: linear-gradient(90deg, #B3B3B3, #F0F0F0);
  box-shadow: 0 6px 30px 0 rgba(190, 190, 190, 0.6); }

.counter__wrapper-gradient.brown .counter-wrap {
  background: -webkit-gradient(linear, left top, right top, from(#AB752B), to(#D5AA6F));
  background: linear-gradient(90deg, #AB752B, #D5AA6F);
  box-shadow: 0 6px 30px 0 rgba(171, 117, 43, 0.6); }

.counter__wrapper-gradient.black .counter-wrap {
  background: -webkit-gradient(linear, left top, right top, from(#000000), to(#383838));
  background: linear-gradient(90deg, #000000, #383838);
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.6); }

/**/
.counter__wrapper-icon.blue .counter {
  color: #4f34c9; }
.counter__wrapper-icon.blue .icon {
  color: #4f34c9; }

.counter__wrapper-icon.pink .counter {
  color: #b50aff; }

.counter__wrapper-icon.pink .icon {
  color: #b50aff; }

.counter__wrapper-icon.purple .counter {
  color: #7400ba; }

.counter__wrapper-icon.purple .icon {
  color: #7400ba; }

.counter__wrapper-icon.aqua .counter {
  color: #00c6ff; }

.counter__wrapper-icon.aqua .icon {
  color: #00c6ff; }

.counter__wrapper-icon.cyan .counter {
  color: #00f6ff; }

.counter__wrapper-icon.cyan .icon {
  color: #00f6ff; }

.counter__wrapper-icon.gray-light .counter,
.counter__wrapper-icon.gray-light .icon {
  color: #BABABA; }

.counter__wrapper-icon.gray .counter,
.counter__wrapper-icon.gray .icon {
  color: #7A7A7A; }

.counter__wrapper-icon.brown .counter,
.counter__wrapper-icon.brown .icon {
  color: #512F00; }

.counter__wrapper-icon.black .counter,
.counter__wrapper-icon.black .icon {
  color: #000000; }

.counter__wrapper-icon.brk-color .counter {
  color: #4f34c9; }

.counter__wrapper-icon.brk-color .icon {
  color: #4f34c9; }

.counter__wrapper-icon.white .counter {
  color: #fff; }

.counter__wrapper-icon.white .cont {
  color: #fff; }

.counter__wrapper-icon.white .icon {
  color: #2775FF; }

/**/
.counter__wrapper-roller.blue .counter {
  color: #2775FF; }

.counter__wrapper-roller.pink .counter {
  color: #b50aff; }

.counter__wrapper-roller.purple .counter {
  color: #7400ba; }

.counter__wrapper-roller.aqua .counter {
  color: #00c6ff; }

.counter__wrapper-roller.gray .counter {
  color: #7A7A7A; }

.counter__wrapper-roller.brown .counter {
  color: #512F00; }

.counter__wrapper-roller.black .counter {
  color: #000000; }

.counter__wrapper-roller.brk-color .counter {
  color: #2775FF; }

/**/
.counter__wrapper-clean.blue .counter-wrap .counter {
  color: #2775FF; }

.counter__wrapper-clean.pink .counter-wrap .counter {
  color: #b50aff; }

.counter__wrapper-clean.purple .counter-wrap .counter {
  color: #7400ba; }

.counter__wrapper-clean.aqua .counter-wrap .counter {
  color: #00c6ff; }

.counter__wrapper-clean.gray .counter-wrap .counter {
  color: #7A7A7A; }

.counter__wrapper-clean.brown .counter-wrap .counter {
  color: #512F00; }

.counter__wrapper-clean.black .counter-wrap .counter {
  color: #000000; }

.counter__wrapper-clean.brk-color .counter-wrap .counter {
  color: #2775FF; }

/**/
.counter__wrapper-invertible.blue .counter-wrap {
  background: linear-gradient(50deg, #0F5AE0, #7202bb); }
  .counter__wrapper-invertible.blue .counter-wrap > .before {
    border-color: #4F00BA; }

.counter__wrapper-invertible.purple .counter-wrap {
  background: linear-gradient(50deg, #7400ba, #4F00BA); }
  .counter__wrapper-invertible.purple .counter-wrap > .before {
    border-color: #7400ba; }

.counter__wrapper-invertible.pink .counter-wrap {
  background: linear-gradient(50deg, #C423EE, #EE23EC); }
  .counter__wrapper-invertible.pink .counter-wrap > .before {
    border-color: #C500E9; }

.counter__wrapper-invertible.aqua .counter-wrap {
  background: linear-gradient(50deg, #00c6ff, #00f6ff); }
  .counter__wrapper-invertible.aqua .counter-wrap > .before {
    border-color: #00f6ff; }

.counter__wrapper-invertible.gray .counter-wrap {
  background: linear-gradient(50deg, #B3B3B3, #F0F0F0); }
  .counter__wrapper-invertible.gray .counter-wrap .counter {
    color: #7A7A7A; }
  .counter__wrapper-invertible.gray .counter-wrap > .before {
    border-color: #9F9F9F; }

.counter__wrapper-invertible.brown .counter-wrap {
  background: linear-gradient(50deg, #AB752B, #D5AA6F); }
  .counter__wrapper-invertible.brown .counter-wrap .counter {
    color: #512F00; }
  .counter__wrapper-invertible.brown .counter-wrap > .before {
    border-color: #8D5200; }

.counter__wrapper-invertible.black .counter-wrap {
  background: linear-gradient(50deg, #000000, #383838); }
  .counter__wrapper-invertible.black .counter-wrap .counter {
    color: #fff; }
  .counter__wrapper-invertible.black .counter-wrap > .before {
    border-color: #0A0A0A; }

.counter__wrapper-invertible.brk-color .counter-wrap {
  background: linear-gradient(50deg, #0F5AE0, #7202bb); }
  .counter__wrapper-invertible.brk-color .counter-wrap > .before {
    border-color: #4F00BA; }

/**/
.counter__wrapper-filled.blue .counter {
  color: #2775FF; }

.counter__wrapper-filled.blue .counter-wrap .counter-tri > .before {
  background: #2775FF; }

.counter__wrapper-filled.blue .counter-wrap svg circle {
  stroke: #2775FF; }

.counter__wrapper-filled.purple .counter {
  color: #7202bb; }

.counter__wrapper-filled.purple .counter-wrap .counter-tri > .before {
  background: #7202bb; }

.counter__wrapper-filled.purple .counter-wrap svg circle {
  stroke: #7202bb; }

.counter__wrapper-filled.pink .counter {
  color: #b50aff; }

.counter__wrapper-filled.pink .counter-wrap .counter-tri > .before {
  background: #b50aff; }

.counter__wrapper-filled.pink .counter-wrap svg circle {
  stroke: #b50aff; }

.counter__wrapper-filled.aqua .counter {
  color: #00c6ff; }

.counter__wrapper-filled.aqua .counter-wrap .counter-tri > .before {
  background: #00c6ff; }

.counter__wrapper-filled.aqua .counter-wrap svg circle {
  stroke: #00c6ff; }

.counter__wrapper-filled.gray .counter {
  color: #000; }

.counter__wrapper-filled.gray .counter-wrap .counter-tri > .before {
  background: #BBBBBB; }

.counter__wrapper-filled.gray .counter-wrap svg circle {
  stroke: #BBBBBB; }

.counter__wrapper-filled.brown .counter {
  color: #000; }

.counter__wrapper-filled.brown .counter-wrap .counter-tri > .before {
  background: #CDA063; }

.counter__wrapper-filled.brown .counter-wrap svg circle {
  stroke: #CDA063; }

.counter__wrapper-filled.black .counter {
  color: #000; }

.counter__wrapper-filled.black .counter-wrap .counter-tri > .before {
  background: #000000; }

.counter__wrapper-filled.black .counter-wrap svg circle {
  stroke: #000000; }

.counter__wrapper-filled.brk-color .counter {
  color: #2775FF; }

.counter__wrapper-filled.brk-color .counter-wrap .counter-tri > .before {
  background: #2775FF; }

.counter__wrapper-filled.brk-color .counter-wrap svg circle {
  stroke: #2775FF; }

/*# sourceMappingURL=maps/counter.css.map */
