/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
.countdown__wrapper .countdown {
  max-width: 950px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 500px) {
    .countdown__wrapper .countdown {
      padding-left: 15px !important;
      padding-right: 15px !important;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column; } }
  @media (min-width: 768px) {
    .countdown__wrapper .countdown {
      display: -webkit-box;
      display: flex;
      justify-content: space-around;
      -webkit-box-align: center;
              align-items: center;
      flex-wrap: wrap; } }
  @media (min-width: 768px) and (min-width: 1200px) {
    .countdown__wrapper .countdown {
      -webkit-box-pack: justify;
              justify-content: space-between; } }

.countdown__section {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  padding: 0 10px;
  text-align: center; }
  @media screen and (max-width: 500px) {
    .countdown__section {
      min-width: -webkit-calc(50% - 10px);
      min-width: calc(50% - 10px);
      text-align: center;
      width: auto;
      margin-left: auto;
      margin: auto; } }

.countdown__amount {
  margin: 0 auto;
  line-height: 1; }

.countdown__period {
  display: block; }

.countdown__circle .countdown__section {
  margin-top: 20px;
  margin-bottom: 20px; }

.countdown__circle .countdown__amount {
  color: #2775FF;
  background: #fff;
  position: relative;
  z-index: 1;
  width: 206px;
  height: 206px;
  margin: 0 auto;
  border: 2px solid rgba(39, 117, 255, 0.2);
  border-radius: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }
  @media (max-width: 767px) {
    .countdown__circle .countdown__amount {
      width: 150px;
      height: 150px;
      font-size: 65px; } }

.countdown__circle .countdown__period {
  margin-top: 30px; }

.countdown__circle .svg-wrap {
  position: absolute;
  width: 206px;
  height: 206px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  @media (max-width: 767px) {
    .countdown__circle .svg-wrap {
      width: 150px;
      height: 150px; } }
  .countdown__circle .svg-wrap svg {
    overflow: visible; }
  .countdown__circle .svg-wrap circle {
    stroke-width: 2px;
    fill: none;
    cx: 103;
    cy: 103;
    r: 103;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 651;
    stroke-dashoffset: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: 103px 103px;
            transform-origin: 103px 103px; }
    @media (max-width: 767px) {
      .countdown__circle .svg-wrap circle {
        stroke-dasharray: 469;
        cx: 75;
        cy: 75;
        r: 75;
        -webkit-transform-origin: 75px 75px;
                transform-origin: 75px 75px; } }

.countdown__light {
  text-align: center; }
  @media (min-width: 992px) {
    .countdown__light {
      text-align: left; } }
  .countdown__light .countdown {
    max-width: 750px; }
  .countdown__light .countdown__amount {
    color: #2775FF; }
  .countdown__light .countdown__period {
    margin-left: 10px; }
  .countdown__light .countdown__section {
    width: 170px;
    padding: 0; }
    @media (min-width: 768px) {
      .countdown__light .countdown__section {
        width: 140px; } }
    .countdown__light .countdown__section:first-child .symbol {
      display: none; }
  .countdown__light .symbol {
    display: none;
    position: absolute;
    top: 20px;
    left: -50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 96px;
    font-weight: 200;
    color: #2775FF; }
    @media (min-width: 768px) {
      .countdown__light .symbol {
        display: block; } }
  .countdown__light_white .countdown__amount {
    color: #fff; }
  .countdown__light_white .symbol {
    color: #fff; }
  .countdown__light_white .countdown__period {
    color: #fff; }

.countdown__massive .countdown__amount {
  color: #2775FF;
  position: relative;
  z-index: 1;
  width: 206px;
  height: 206px;
  margin: 0 auto;
  border: 1px solid rgba(39, 117, 255, 0.2);
  border-radius: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#2775FF), to(#7202bb));
  background: linear-gradient(to right, #2775FF, #7202bb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
  @media (max-width: 767px) {
    .countdown__massive .countdown__amount {
      width: 150px;
      height: 150px;
      font-size: 65px; } }

.countdown__massive .countdown__period {
  position: relative;
  z-index: 2;
  display: inline-block;
  color: #fff;
  padding: 4px 10px;
  min-width: 80px;
  background: #2775FF;
  margin-top: 0;
  border-radius: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.countdown__dash .countdown {
  max-width: 750px; }

.countdown__dash .countdown__amount {
  position: relative;
  color: #2775FF;
  background: -webkit-gradient(linear, left top, right top, from(#2775FF), to(#7202bb));
  background: linear-gradient(to right, #2775FF, #7202bb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.countdown__dash .countdown__period {
  margin-left: 10px; }

.countdown__dash .countdown__section {
  width: 170px;
  padding: 0; }
  @media (min-width: 768px) {
    .countdown__dash .countdown__section {
      width: 140px; } }
  .countdown__dash .countdown__section:first-child .symbol {
    display: none; }

.countdown__dash .symbol {
  display: none;
  position: absolute;
  top: 34px;
  left: -45px;
  font-family: 'Montserrat', sans-serif;
  font-size: 96px;
  font-weight: 200;
  color: #DFDFDF; }
  @media (min-width: 768px) {
    .countdown__dash .symbol {
      display: block; } }

.countdown__flip {
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
  /* Animation start */
  /* Animation end */ }
  @media (min-width: 768px) {
    .countdown__flip {
      display: -webkit-box;
      display: flex;
      justify-content: space-around;
      -webkit-box-align: center;
              align-items: center;
      flex-wrap: wrap; } }
  @media (min-width: 768px) and (min-width: 1200px) {
    .countdown__flip {
      -webkit-box-pack: justify;
              justify-content: space-between; } }
  .countdown__flip .time {
    display: inline-block;
    text-align: center;
    position: relative;
    width: 150px;
    height: 195px;
    -webkit-perspective: 493px;
            perspective: 493px;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    box-shadow: 0 6px 30px 0 rgba(39, 117, 255, 0.6); }
    @media (min-width: 768px) {
      .countdown__flip .time {
        width: 160px; } }
  .countdown__flip .count {
    background: #2775FF;
    color: #f8f8f8;
    display: block;
    font-size: 96px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-transform-style: flat;
            transform-style: flat; }
  .countdown__flip .count.top {
    border-bottom: 2px solid #0B98F6;
    background: linear-gradient(50deg, #2775FF, #2775FF);
    line-height: 195px;
    height: 50%;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%; }
  .countdown__flip .count.bottom {
    background: linear-gradient(50deg, #2775FF, #2775FF);
    line-height: 0;
    height: 50%;
    top: 50%;
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0; }
  .countdown__flip .label {
    display: block;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px; }
    @media (min-width: 992px) {
      .countdown__flip .label {
        margin-top: 30px; } }
  .countdown__flip .count.curr.top {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    z-index: 3; }
  .countdown__flip .count.next.bottom {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    z-index: 2; }
  .countdown__flip .flip .count.curr.top {
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg); }
  .countdown__flip .flip .count.next.bottom {
    -webkit-transition: all 250ms ease-in-out 250ms;
    transition: all 250ms ease-in-out 250ms;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); }

.countdown__flip-2 {
  max-width: 470px;
  margin-left: auto;
  margin-right: auto;
  /* Animation start */
  /* Animation end */ }
  @media (min-width: 768px) {
    .countdown__flip-2 {
      display: -webkit-box;
      display: flex;
      justify-content: space-around;
      -webkit-box-align: center;
              align-items: center;
      flex-wrap: wrap; } }
  @media (min-width: 1200px) {
    .countdown__flip-2 {
      -webkit-box-pack: justify;
              justify-content: space-between; } }
  .countdown__flip-2 .time {
    display: inline-block;
    text-align: center;
    position: relative;
    width: 90px;
    height: 112px;
    -webkit-perspective: 250px;
            perspective: 250px;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 8px;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25), inset 1px 1px rgba(255, 255, 255, 0.2); }
    .countdown__flip-2 .time:before, .countdown__flip-2 .time:after {
      content: '';
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 1px;
      height: 11px;
      background-color: #fff; }
    .countdown__flip-2 .time:before {
      left: -1px; }
    .countdown__flip-2 .time:after {
      right: -1px; }
  .countdown__flip-2 .count {
    background-color: #00d281;
    color: #fff;
    display: block;
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%; }
    .countdown__flip-2 .count.top {
      border-bottom: 1px solid #15ae59;
      background-color: #00d281;
      line-height: 112px;
      height: 50%;
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      border-radius: 8px 8px 0 0; }
    .countdown__flip-2 .count.bottom {
      background-color: #00d281;
      line-height: 0;
      height: 50%;
      top: 50%;
      -webkit-transform-origin: 50% 0;
              transform-origin: 50% 0;
      border-radius: 0 0 8px 8px; }
  .countdown__flip-2 .count.curr.top {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    z-index: 3; }
  .countdown__flip-2 .count.next.bottom {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    z-index: 2; }
  .countdown__flip-2 .flip .count.curr.top {
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg); }
  .countdown__flip-2 .flip .count.next.bottom {
    -webkit-transition: all 250ms ease-in-out 250ms;
    transition: all 250ms ease-in-out 250ms;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); }
  .countdown__flip-2 .label {
    display: block;
    font-size: 0.75rem;
    line-height: 12px;
    font-weight: 600;
    margin-top: 18px;
    text-transform: uppercase;
    color: #a3aeac; }

.countdown__large .countdown {
  background: #fff; }

.countdown__large .countdown__amount {
  font-size: 56px; }

.countdown__large .countdown__section {
  margin: 10px auto;
  padding: 0 10px; }
  @media (min-width: 480px) {
    .countdown__large .countdown__section {
      border-left: 1px solid #EDEDED; } }
  @media (min-width: 768px) {
    .countdown__large .countdown__section {
      width: 25%; } }
  .countdown__large .countdown__section:first-child {
    border-left: none; }

.countdown__large .countdown__period {
  color: #C7C7C7; }

.countdown__medium .countdown {
  background: #fff; }

.countdown__medium .countdown__amount {
  font-size: 36px; }

.countdown__medium .countdown__section {
  margin: 10px auto;
  padding: 0 10px; }
  @media (min-width: 480px) {
    .countdown__medium .countdown__section {
      border-left: none; } }
  @media (min-width: 768px) {
    .countdown__medium .countdown__section {
      width: 25%; } }
  .countdown__medium .countdown__section:first-child {
    border-left: none; }

.countdown__medium .countdown__period {
  color: #C7C7C7;
  font-size: 16px; }

.countdown__banner-timer {
  width: 100%;
  height: 125px; }
  .countdown__banner-timer .countdown {
    height: 100%;
    padding: 0 25px;
    justify-content: space-around;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row; }
    .countdown__banner-timer .countdown__section {
      min-width: 25%;
      margin: 0; }
      .countdown__banner-timer .countdown__section .symbol {
        width: 1px;
        height: 53px;
        background-color: #2993ff;
        position: absolute;
        top: 50%;
        right: 0;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); }

/*# sourceMappingURL=maps/countdown.css.map */
