/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
.title__divider {
  background: #fff;
  overflow: hidden; }
  .title__divider__wrapper {
    display: inline-block;
    position: relative;
    padding-bottom: 25px; }
  .title__divider--line {
    position: relative; }
    .title__divider--line:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      border-bottom: 1px solid #eee; }
    .title__divider--line .line {
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0; }
  .title__divider--chevron .line:before, .title__divider--chevron .line:after {
    content: '';
    display: block;
    position: absolute;
    top: .5em;
    height: 5px;
    background-repeat: repeat;
    width: 1000%; }
  .title__divider--chevron .line:before {
    right: 115%; }
  .title__divider--chevron .line:after {
    left: 115%; }
  .title__divider--square__wrapper {
    padding-bottom: 33px; }
  .title__divider--square .line {
    width: 8px;
    height: 8px;
    display: block;
    border: 2px solid;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    bottom: -25px; }
    [dir="rtl"] .title__divider--square .line {
      left: auto;
      right: 50%; }
    .title__divider--square .line:before, .title__divider--square .line:after {
      content: '';
      position: absolute;
      top: -2px;
      width: 8px;
      height: 8px;
      border: 2px solid; }
    .title__divider--square .line:before {
      left: -20px; }
    .title__divider--square .line:after {
      right: -20px; }
  .title__divider--circle .line-left, .title__divider--circle .line-right {
    height: 2px;
    width: 1000%;
    position: absolute;
    top: .5em; }
    .title__divider--circle .line-left:after, .title__divider--circle .line-right:after {
      content: '';
      display: block;
      position: absolute;
      top: .5em; }
    .title__divider--circle .line-left:after {
  margin-top: -2px;
  border-radius: 50%;
  height: 6px;
  width: 6px;
  top: 0;
  box-shadow: 0 0 0 6px #2775FF inset, 0 0 10px 0 rgba(39, 117, 255, 1); }
    .title__divider--circle .line-right:after {
  margin-top: -2px;
  border-radius: 50%;
  height: 6px;
  width: 6px;
  top: 0;
  box-shadow: 0 0 0 6px #2775FF inset, 0 0 10px 0 rgba(39, 117, 255, 1); }
  .title__divider--circle .line-left {
    right: 123%; }
    .title__divider--circle .line-left:after {
      right: 0; }
  .title__divider--circle .line-right {
    left: 120%; }
    .title__divider--circle .line-right:after {
      left: 0; }
  .title__divider--gradient .line-left, .title__divider--gradient .line-right {
    display: block;
    position: absolute;
    height: 3px;
    width: 315px;
    top: .5em; }
  .title__divider--gradient .line-left {
    right: 122%; }
  .title__divider--gradient .line-right {
    left: 122%; }
  .title__divider--angle {
    overflow: hidden; }
    .title__divider--angle .title__divider__wrapper {
      padding-bottom: 47px; }
    .title__divider--angle .line-left, .title__divider--angle .line-right {
      display: block;
      position: absolute;
      height: 2px;
      bottom: 17px;
      width: 570px; }
      .title__divider--angle .line-left:after, .title__divider--angle .line-right:after {
        content: '';
        position: absolute;
        top: 0;
        border-bottom: 2px solid;
        width: 24px; }
    .title__divider--angle .line-left {
      right: -webkit-calc(50% + 15px);
      right: calc(50% + 15px); }
      .title__divider--angle .line-left:after {
        right: -23px;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        -webkit-transform-origin: left top;
                transform-origin: left top; }
    .title__divider--angle .line-right {
      left: -webkit-calc(50% + 15px);
      left: calc(50% + 15px); }
      .title__divider--angle .line-right:after {
        left: -23px;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        -webkit-transform-origin: right top;
                transform-origin: right top; }
  .title__divider--shadow {
    overflow: visible; }
    .title__divider--shadow .title__divider__wrapper {
      padding-left: 16px;
      padding-right: 16px; }
      @media screen and (min-width: 576px) {
        .title__divider--shadow .title__divider__wrapper {
          padding-left: 66px;
          padding-right: 66px; } }
      @media screen and (min-width: 768px) {
        .title__divider--shadow .title__divider__wrapper {
          padding-left: 116px;
          padding-right: 116px; } }
    .title__divider--shadow .shadow {
      width: 130%;
      position: absolute;
      box-shadow: none !important;
      background: transparent !important;
      height: 20px;
      overflow-y: hidden;
      bottom: -20px; }
      .title__divider--shadow .shadow:before, .title__divider--shadow .shadow:after {
        content: '';
        position: absolute;
        width: 90%;
        height: 50px;
        border-radius: 50%;
        background: transparent;
        top: -50px; }
      .title__divider--shadow .shadow:before {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1); }
      .title__divider--shadow .shadow:after {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
        max-width: 450px; }
    .title__divider--shadow.text-left .shadow:after, .title__divider--shadow.text-right .shadow:after {
      top: -59px; }
      @media screen and (max-width: 575px) {
        .title__divider--shadow.text-left .shadow:after, .title__divider--shadow.text-right .shadow:after {
          top: -53px; } }
    .title__divider--shadow.text-left .shadow {
      left: 0; }
      @media screen and (max-width: 767px) {
        .title__divider--shadow.text-left .shadow {
          left: -40px; } }
      @media screen and (max-width: 575px) {
        .title__divider--shadow.text-left .shadow {
          left: 0; } }
      .title__divider--shadow.text-left .shadow:before, .title__divider--shadow.text-left .shadow:after {
        left: 5%; }
        @media screen and (max-width: 575px) {
          .title__divider--shadow.text-left .shadow:before, .title__divider--shadow.text-left .shadow:after {
            left: 0; } }
      .title__divider--shadow.text-left .shadow:after {
        -webkit-transform: rotate(-6deg);
                transform: rotate(-6deg); }
    .title__divider--shadow.text-center .shadow {
      left: -15%; }
      @media screen and (max-width: 575px) {
        .title__divider--shadow.text-center .shadow {
          width: 150%;
          left: -25%; } }
      .title__divider--shadow.text-center .shadow:before {
        left: 5%; }
      .title__divider--shadow.text-center .shadow:after {
        display: none; }
    .title__divider--shadow.text-right .shadow {
      right: 0; }
      @media screen and (max-width: 767px) {
        .title__divider--shadow.text-right .shadow {
          right: -40px; } }
      @media screen and (max-width: 575px) {
        .title__divider--shadow.text-right .shadow {
          right: 0; } }
      .title__divider--shadow.text-right .shadow:before, .title__divider--shadow.text-right .shadow:after {
        right: 5%; }
        @media screen and (max-width: 575px) {
          .title__divider--shadow.text-right .shadow:before, .title__divider--shadow.text-right .shadow:after {
            right: 10%; } }
      .title__divider--shadow.text-right .shadow:after {
        -webkit-transform: rotate(6deg);
                transform: rotate(6deg); }

/*# sourceMappingURL=maps/dividers.css.map */
