/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
.flip-box__split-actions {
  display: -webkit-box;
  display: flex;
  margin: auto;
  max-width: -webkit-calc(100% - 30px);
  max-width: calc(100% - 30px); }
  .flip-box__split-actions a {
    width: 72px;
    height: 54px;
    background-color: #fff;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea; }
    .flip-box__split-actions a:hover, .flip-box__split-actions a.remove_from_wishlist, .flip-box__split-actions a.remove_from_compare {
      background-color: #eaeaea; }
    .flip-box__split-actions a:first-child {
      border-radius: 27px 0 0 27px;
      border: 0; }
      [dir="rtl"] .flip-box__split-actions a:first-child {
        border-radius: 0 27px 27px 0; }
    .flip-box__split-actions a:last-child {
      border-radius: 0 27px 27px 0;
      border: 0; }
      [dir="rtl"] .flip-box__split-actions a:last-child {
        border-radius: 27px 0 0 27px; }
  .flip-box__split-actions .added_to_cart {
    font-size: 0.9375rem;
    line-height: 16px;
    padding: 0 5px;
    width: 72px;
    padding-top: 10px; }
  .flip-box__split-actions_small a {
    height: 44px;
    width: 58px; }

.brk-size-chooser__title {
  margin-bottom: 18px; }

.brk-size-chooser__item {
  min-width: 38px;
  padding-left: 14px;
  padding-right: 14px;
  height: 38px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  background-color: #fff;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.06);
  margin-right: 10px;
  -webkit-transition: .3s ease width, .3s ease background-color, .3s ease color;
  transition: .3s ease width, .3s ease background-color, .3s ease color;
  border-radius: 38px; }
  .brk-size-chooser__item:last-child {
    margin-right: 0; }
  .brk-size-chooser__item.active {
    background-color: #2775FF;
    color: #fff; }

.brk-color-filter {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }
  .brk-color-filter__title {
    position: relative;
    margin-bottom: 24px; }
    .brk-color-filter__title-text {
      padding-left: 15px;
      padding-right: 15px;
      background-color: #ffffff;
      z-index: 1; }
    .brk-color-filter__title::before {
      height: 10px;
      width: 100%;
      content: '';
      position: absolute;
      top: 2px;
      left: 0;
      z-index: -1;
      background-image: url(../../img/dotted-bg.png);
      background-repeat: repeat;
      background-position-x: -1px; }
  .brk-color-filter__container {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap; }
  .brk-color-filter__item {
    margin: 5px;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border: 1px solid #ececec;
    border-radius: 4px;
    position: relative;
    -webkit-transition: .3s ease box-shadow;
    transition: .3s ease box-shadow; }
    .brk-color-filter__item:hover {
      box-shadow: 0 0 8px -1px rgba(0, 0, 0, 0.4); }
    .brk-color-filter__item-bg {
      position: absolute;
      left: 2px;
      top: 2px;
      width: -webkit-calc(100% - 4px);
      width: calc(100% - 4px);
      height: -webkit-calc(100% - 4px);
      height: calc(100% - 4px);
      border-radius: 4px; }
    .brk-color-filter__item-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      color: #fff;
      opacity: 0;
      font-size: 14px; }
    .brk-color-filter__item.active .brk-color-filter__item-icon {
      opacity: 1; }

/*# sourceMappingURL=maps/elements.css.map */
