/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
.brk-footer {
  position: relative; }
  .brk-footer_no-overflow {
    overflow: hidden; }
  .brk-footer__wrapper {
    position: relative; }
  .brk-footer_animated {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; }
  .brk-footer__opacity-changer > .row > div {
    opacity: 0.2;
    will-change: opacity;
    -webkit-transition: .3s ease opacity;
    transition: .3s ease opacity; }
    .brk-footer__opacity-changer > .row > div:first-child {
      opacity: 1; }
  .brk-footer__opacity-changer > .row:hover > div {
    opacity: 0.2; }
    .brk-footer__opacity-changer > .row:hover > div:hover {
      opacity: 1; }
  .brk-footer__info-grid p {
    min-width: 50%; }
  .brk-footer__rights {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: #a7ebff; }
  .brk-footer__bg-container {
    position: relative; }
  .brk-footer__bg-left {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%; }
    .brk-footer__bg-left_footer-5 {
      width: 52%;
      -webkit-clip-path: polygon(0 0, 100% 0, -webkit-calc(100% - 120px) 100%, 0% 100%);
              clip-path: polygon(0 0, 100% 0, calc(100% - 120px) 100%, 0% 100%);
      z-index: -1;
      background-color: #1c2124; }
  .brk-footer__bg-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%; }
    .brk-footer__bg-right_footer-5 {
      width: 100%;
      z-index: -2;
      background-color: #161a1d; }
  .brk-footer__border-gradient {
    position: relative; }
    .brk-footer__border-gradient::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 100%;
      background-image: -webkit-gradient(linear, right top, left top, from(#6e50c2), to(#b50aff));
      background-image: linear-gradient(to left, #6e50c2 0%, #b50aff 100%); }
  .brk-footer__border-gradient-1 {
    position: relative; }
    .brk-footer__border-gradient-1::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 100%;
      background-image: -webkit-gradient(linear, left top, right top, from(#7202bb), to(#2775FF));
      background-image: linear-gradient(to right, #7202bb 0%, #2775FF 100%); }
  .brk-footer__rights_footer-9 {
    overflow: hidden; }
    .brk-footer__rights_footer-9 .brk-footer__socials-bg:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 1000%;
      z-index: -1;
      background-color: #2775FF; }
    @media screen and (max-width: 768px) {
      .brk-footer__rights_footer-9 .brk-footer__socials-bg {
        padding-left: 0 !important;
        padding-bottom: 15px; }
        .brk-footer__rights_footer-9 .brk-footer__socials-bg::before {
          display: none; } }
  .brk-footer__borders_footer-10 {
    position: relative; }
    .brk-footer__borders_footer-10::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      width: 100%;
      background-image: -webkit-gradient(linear, left top, right top, from(#2775FF), to(#7202bb));
      background-image: linear-gradient(to right, #2775FF, #7202bb); }
    .brk-footer__borders_footer-10::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.16);
      z-index: 1; }
    .brk-footer__borders_footer-10 .brk-footer__bordered-col {
      position: relative; }
      @media screen and (min-width: 991px) {
        .brk-footer__borders_footer-10 .brk-footer__bordered-col:after, .brk-footer__borders_footer-10 .brk-footer__bordered-col:before {
          content: "";
          position: absolute;
          top: 0;
          height: 100%;
          width: 1px;
          background-color: rgba(255, 255, 255, 0.16); }
        .brk-footer__borders_footer-10 .brk-footer__bordered-col:before {
          left: -30px; }
        .brk-footer__borders_footer-10 .brk-footer__bordered-col:after {
          right: 0px; } }
  .brk-footer__light-bg {
    position: relative;
    z-index: 1; }
    .brk-footer__light-bg::after {
      content: '';
      z-index: -1;
      position: absolute;
      left: -30px;
      right: -30px;
      top: 0;
      height: 100%;
      background-color: #fff;
      box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12); }
  .brk-footer__wide-menu {
    position: relative; }
    .brk-footer__wide-menu::after {
      content: "";
      position: absolute;
      left: -40px;
      right: -40px;
      top: 0;
      bottom: 0;
      box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12);
      background-color: #ffffff;
      z-index: -1; }
  .brk-footer__shop-element {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    .brk-footer__shop-element .brk-footer__shop-title {
      position: relative; }
      .brk-footer__shop-element .brk-footer__shop-title:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.2); }
      @media screen and (min-width: 991px) {
        .brk-footer__shop-element .brk-footer__shop-title_wide:after {
          width: -webkit-calc(100% + 30px);
          width: calc(100% + 30px); } }
    .brk-footer__shop-element .brk-slider {
      position: relative; }
      .brk-footer__shop-element .brk-slider__nav {
        position: absolute;
        right: 7px;
        top: -92px; }
      .brk-footer__shop-element .brk-slider__nav-prev, .brk-footer__shop-element .brk-slider__nav-next {
        background-color: transparent;
        cursor: pointer; }
      .brk-footer__shop-element .brk-slider .slick-list {
        margin-left: -15px;
        margin-right: -15px; }
      .brk-footer__shop-element .brk-slider .slick-slide {
        padding-left: 15px;
        padding-right: 15px; }
  .brk-footer .brk-subscribe input {
    width: 100%;
    height: 54px; }
  .brk-footer .brk-map,
  .brk-footer .brk-map__section,
  .brk-footer .brk-map__section > div {
    height: 100%; }
    @media screen and (max-width: 1230px) {
      .brk-footer .brk-map,
      .brk-footer .brk-map__section,
      .brk-footer .brk-map__section > div {
        min-height: 520px; } }
  .brk-footer .brk-map__canvas {
    height: 100% !important; }
  .brk-footer .brk-map_extra {
    box-shadow: inset -3px 3px 10px rgba(0, 0, 0, 0.1); }
  .brk-footer .brk-map_extra .brk-map__canvas {
    width: 100%;
    min-height: 320px;
    height: 100% !important; }
  .brk-footer .brk-social-links_bordered .brk-social-links__item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-transition: .3s ease border-color;
    transition: .3s ease border-color;
    margin-right: 6px; }
    .brk-footer .brk-social-links_bordered .brk-social-links__item i {
      color: rgba(255, 255, 255, 0.2);
      -webkit-transition: .3s ease color;
      transition: .3s ease color; }
    .brk-footer .brk-social-links_bordered .brk-social-links__item:last-child {
      margin-right: 0; }
    .brk-footer .brk-social-links_bordered .brk-social-links__item:hover {
      border-color: white; }
      .brk-footer .brk-social-links_bordered .brk-social-links__item:hover i {
        color: white; }
  .brk-footer .brk-tiles-simple .before {
    background-image: -webkit-gradient(linear, left top, right top, from(#000000), color-stop(99%, rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6)));
    background-image: linear-gradient(to right, #000000 0%, rgba(0, 0, 0, 0.6) 99%, rgba(0, 0, 0, 0.6) 100%); }
  .brk-footer .brk-tiles-simple {
    min-height: 270px; }
  .brk-footer-map-overflow {
    position: relative; }
    .brk-footer-map-overflow .brk-map {
      width: -webkit-calc(100% - 540px);
      width: calc(100% - 540px);
      height: 420px; }
      @media screen and (max-width: 1230px) {
        .brk-footer-map-overflow .brk-map {
          width: 100%;
          height: 350px;
          min-height: 0; } }
    .brk-footer-map-overflow__info {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      padding-top: 76px;
      padding-left: 170px;
      padding-right: 65px;
      background-image: -webkit-gradient(linear, left top, right top, from(#2775FF), to(#7202bb));
      background-image: linear-gradient(to right, #2775FF 0%, #7202bb 100%);
      -webkit-clip-path: polygon(150px 0%, 100% 0, 100% 100%, 0% 100%);
              clip-path: polygon(150px 0%, 100% 0, 100% 100%, 0% 100%); }
      @media screen and (max-width: 1230px) {
        .brk-footer-map-overflow__info {
          position: relative;
          -webkit-clip-path: none;
                  clip-path: none;
          padding: 20px 15px;
          text-align: center; } }

.brk-dashed-logo {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center; }
  .brk-dashed-logo__line {
    -webkit-box-flex: 1;
            flex-grow: 1;
    height: 2px;
    background: url(../../img/dashed-border.png) no-repeat;
    opacity: .4; }
  .brk-dashed-logo__link {
    flex-shrink: 0; }

.brk-form-strict_footer-3 {
  position: relative; }
  .brk-form-strict_footer-3 input[type=text],
  .brk-form-strict_footer-3 input[type=email],
  .brk-form-strict_footer-3 textarea {
    background-color: transparent;
    color: #fff;
    padding-left: 0 !important; }
  .brk-form-strict_footer-3 label {
    color: #fff !important;
    left: 0 !important; }
  .brk-form-strict_footer-3 textarea {
    border: 0 !important;
    border-bottom: 1px solid #fff !important;
    min-height: 130px !important; }
  .brk-form-strict_footer-3 button {
    position: absolute;
    right: 0;
    bottom: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    box-shadow: 0 5px 16px rgba(0, 2, 67, 0.2);
    height: 54px;
    padding: 0 38px 0 44px;
    border-radius: 6px; }

.brk-form-strict_footer-4 {
  position: relative; }
  .brk-form-strict_footer-4 input {
    background-color: transparent;
    border-bottom: 1px solid #fff !important;
    color: #fff !important; }
  .brk-form-strict_footer-4 label {
    color: rgba(255, 255, 255, 0.4) !important; }
  .brk-form-strict_footer-4 button {
    width: 42px;
    height: 42px;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: -12px;
    border-radius: 100%; }
    .brk-form-strict_footer-4 button i {
      color: #b50aff; }

.brk-subscribe-squared {
  position: relative; }
  .brk-subscribe-squared input {
    width: 100%;
    padding: 15px 55px 15px 33px;
    background-color: #ffffff;
    color: #2775FF;
    border: 0;
    box-shadow: 0 5px 16px rgba(165, 165, 165, 0.5); }
    .brk-subscribe-squared input::-webkit-input-placeholder {
      color: #2775FF; }
    .brk-subscribe-squared input:-ms-input-placeholder {
      color: #2775FF; }
    .brk-subscribe-squared input::-ms-input-placeholder {
      color: #2775FF; }
    .brk-subscribe-squared input::placeholder {
      color: #2775FF; }
  .brk-subscribe-squared button {
    position: absolute;
    right: 0;
    top: 0;
    width: 54px;
    height: 54px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center; }
    .brk-subscribe-squared button i {
      color: #2775FF; }

.btn-prime_footer-4 {
  background-color: transparent;
  color: #fff;
  font-size: 16px !important; }
  .btn-prime_footer-4 .border-btn {
    border: 2px solid #fff; }

.brk-social-links_footer-4 .brk-social-links__item {
  margin-right: 26px; }
  .brk-social-links_footer-4 .brk-social-links__item:last-child {
    margin-right: 0; }

.brk-form_footer-5 {
  position: relative; }
  .brk-form_footer-5 input {
    padding: 8px 120px 8px 18px;
    color: #a2a5ad;
    border-radius: 4px;
    min-width: 334px;
    border: none;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.1); }
    @media screen and (max-width: 500px) {
      .brk-form_footer-5 input {
        width: 100%;
        min-width: 0; } }
  .brk-form_footer-5 button {
    position: absolute;
    height: 34px;
    top: 3px;
    right: 3px;
    border-radius: 4px;
    padding: 0 18px;
    background-color: #101315;
    color: #474b54;
    -webkit-transition: .3s ease color;
    transition: .3s ease color; }
    .brk-form_footer-5 button:hover {
      color: #fff; }

.brk-form-transparent_footer-6 button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0 !important;
  min-width: 170px; }

.brk-form-transparent_footer-6 input {
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.12); }

.cfa_footer {
  flex-shrink: 0; }
  .cfa_footer form {
    -webkit-box-flex: 1;
            flex-grow: 1; }
  @media screen and (max-width: 1500px) {
    .cfa_footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column; }
      .cfa_footer form {
        width: 100%;
        margin-top: 15px; } }
  @media screen and (max-width: 500px) {
    .cfa_footer {
      padding-left: 15px !important;
      padding-right: 15px !important; }
      .cfa_footer input {
        width: 100% !important; }
      .cfa_footer button {
        width: 100%;
        margin-top: 15px !important;
        position: relative; } }

.brk-latest-works__item {
  width: -webkit-calc(100%/3);
  width: calc(100%/3); }
  .brk-latest-works__item::after {
    content: '';
    display: block;
    padding-top: 100%; }

.brk-latest-works__link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

@media screen and (min-width: 992px) {
  .ml-lg-70 {
    margin-left: 70px; } }

.brk-get-in-touch {
  background-color: #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3), inset 0 4px 0 #2775FF; }
  .brk-get-in-touch .brk-form-wrap:first-child {
    margin-top: 10px; }
  .brk-get-in-touch_footer {
    margin-bottom: 20px; }
    @media screen and (min-width: 991px) {
      .brk-get-in-touch_footer {
        top: -115px;
        margin-bottom: -72px; } }
  .brk-get-in-touch_footer-svg {
    top: -171px; }

.brk-angle-list__item {
  position: relative; }
  .brk-angle-list__item i {
    position: relative;
    left: -5px;
    display: inline-block;
    margin-top: -2px;
    padding-right: 0;
    width: 0;
    overflow: hidden;
    -webkit-transition: .3s ease width, .3s ease padding-right, .3s ease left;
    transition: .3s ease width, .3s ease padding-right, .3s ease left;
    will-change: transition, padding-right, left;
    vertical-align: middle; }
  .brk-angle-list__item:hover {
    color: #000000; }
    .brk-angle-list__item:hover i {
      left: 0;
      padding-right: 10px;
      width: 10px; }

.dotted-line {
  border: none;
  height: 8px;
  background-image: url(../../img/dotted-bg_wide.png); }

.brk-styled-twitter {
  margin-left: -30px; }

.brk-form_footer-14 {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  position: relative;
  padding: 52px 40px 40px 40px;
  border-radius: 25px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(11, 152, 246, 1)), to(rgba(0, 246, 255, 1)));
  background-image: linear-gradient(to top, rgba(11, 152, 246, 1) 0%, rgba(0, 246, 255, 1) 100%); }
  .brk-bordered-theme .brk-form_footer-14 {
    border-radius: inherit; }
  .brk-form_footer-14 input,
  .brk-form_footer-14 textarea {
    background-color: transparent !important;
    color: #fff !important; }
  .brk-form_footer-14 textarea {
    border-left: none !important;
    border-right: none !important;
    border-top: none !important; }
  .brk-form_footer-14 .input-label {
    color: #fff !important; }
  .brk-form_footer-14 .brk-form-wrap-active input,
  .brk-form_footer-14 .brk-form-wrap-active textarea {
    border-color: rgba(255, 255, 255, 0.4) !important; }
  .brk-form_footer-14 .brk-form-strict textarea + .input-label {
    left: 21px; }
  .brk-form_footer-14 .brk-form-wrap-active textarea + .input-label {
    top: -15px;
    left: 15px; }

.brk-form_footer-9 .brk-form__textarea-container {
  height: 100%; }
  .brk-form_footer-9 .brk-form__textarea-container .brk-form-wrap {
    height: 100%; }
    .brk-form_footer-9 .brk-form__textarea-container .brk-form-wrap textarea {
      height: -webkit-calc(100% - 30px);
      height: calc(100% - 30px); }

.brk-form_footer-9 input[type="text"],
.brk-form_footer-9 input[type="password"],
.brk-form_footer-9 input[type="email"],
.brk-form_footer-9 input[type="tel"],
.brk-form_footer-9 textarea {
  background-color: transparent;
  color: #fff !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.9) !important; }

.brk-form_footer-9 textarea {
  border-left: none !important;
  border-right: none !important;
  border-top: none !important; }

.brk-form_footer-9 .input-label {
  color: rgba(255, 255, 255, 0.4) !important; }

/*# sourceMappingURL=maps/footer.css.map */
