/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
.brk-gallery .no-gutters .brk-gallery-card {
  margin-bottom: 0; }

.brk-gallery_masonry .brk-gallery-card {
  position: absolute;
  left: 15px;
  top: 15px;
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
  height: -webkit-calc(100% - 30px);
  height: calc(100% - 30px);
  margin-bottom: 30px; }
  @media screen and (max-width: 576px) {
    .brk-gallery_masonry .brk-gallery-card {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; } }

@media screen and (max-width: 576px) {
  .brk-gallery_masonry .brk-gallery-card {
    margin-left: 0;
    margin-right: 0; } }

.brk-gallery-card {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden; }
  @media screen and (max-width: 576px) {
    .brk-gallery-card {
      margin-left: -15px;
      margin-right: -15px; } }
  .brk-gallery-card:before {
    content: "";
    padding-top: 100%;
    display: block; }
  .brk-gallery-card__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .brk-gallery-card_grayscale .brk-gallery-card__img {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%); }
  .brk-gallery-card_overflow {
    overflow: visible; }
  .brk-gallery-card__add-1, .brk-gallery-card__add-2, .brk-gallery-card__add-3, .brk-gallery-card__add-4, .brk-gallery-card__add-5, .brk-gallery-card__add-6 {
    position: absolute;
    height: 25%;
    width: 0;
    background-color: #ffffff;
    -webkit-transition: .3s ease width;
    transition: .3s ease width; }
  .brk-gallery-card__add-5, .brk-gallery-card__add-6 {
    height: 50%; }
  .brk-gallery-card__add-1, .brk-gallery-card__add-2, .brk-gallery-card__add-5 {
    left: 0; }
  .brk-gallery-card__add-3, .brk-gallery-card__add-4, .brk-gallery-card__add-6 {
    right: 0; }
  .brk-gallery-card__add-1, .brk-gallery-card__add-3 {
    top: 0; }
  .brk-gallery-card__add-2, .brk-gallery-card__add-4 {
    top: 75%; }
  .brk-gallery-card__add-5, .brk-gallery-card__add-6 {
    top: 25%; }
  .brk-gallery-card:hover .brk-gallery-card__add-1, .brk-gallery-card:hover .brk-gallery-card__add-2, .brk-gallery-card:hover .brk-gallery-card__add-3, .brk-gallery-card:hover .brk-gallery-card__add-4 {
    width: 25%; }
  .brk-gallery-card:hover .brk-gallery-card__add-5, .brk-gallery-card:hover .brk-gallery-card__add-6 {
    -webkit-animation-name: galleryanimation;
            animation-name: galleryanimation;
    -webkit-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-duration: .6s;
            animation-duration: .6s; }
  .brk-gallery-card__overlay {
    position: absolute;
    top: 50%;
    left: 25%;
    height: 0;
    width: 50%;
    -webkit-transition: .3s ease height, .3s ease width .3s, .3s ease top, .3s ease left .3s;
    transition: .3s ease height, .3s ease width .3s, .3s ease top, .3s ease left .3s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); }
  .brk-gallery-card:hover .brk-gallery-card__overlay {
    height: 50%;
    width: 100%;
    top: 25%;
    left: 0; }
  .brk-gallery-card__fancy {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    -webkit-transition: -webkit-transform .3 ease;
    transition: -webkit-transform .3 ease;
    transition: transform .3 ease;
    transition: transform .3 ease, -webkit-transform .3 ease; }
  .brk-gallery-card:hover .brk-gallery-card__fancy {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1); }
  .brk-gallery-card__central-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    -webkit-transition: .3s ease transform;
    transition: .3s ease transform;
    font-size: 16px !important; }
  .brk-gallery-card:hover .brk-gallery-card__central-btn {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1); }
  .brk-gallery-card_shadow {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.26);
    -webkit-transition: .3s ease transform, .3s ease box-shadow;
    transition: .3s ease transform, .3s ease box-shadow; }
    .brk-gallery-card_shadow:hover {
      -webkit-transform: translateY(-25px);
              transform: translateY(-25px);
      box-shadow: 0 30px 30px rgba(0, 0, 0, 0.26); }
  .brk-gallery-card__overlay-full {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: .3s ease opacity;
    transition: .3s ease opacity; }
  .brk-gallery-card:hover .brk-gallery-card__overlay-full {
    opacity: 1; }
  .brk-gallery-card__angle-btn {
    position: absolute;
    bottom: -85px;
    right: -85px;
    width: 84px;
    height: 84px;
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 0);
            clip-path: polygon(0 100%, 100% 100%, 100% 0);
    -webkit-transition: .3s ease right, .3s ease bottom;
    transition: .3s ease right, .3s ease bottom; }
    [dir="rtl"] .brk-gallery-card__angle-btn {
      -webkit-clip-path: polygon(0 100%, 100% 100%, 0 0);
              clip-path: polygon(0 100%, 100% 100%, 0 0); }
  .brk-gallery-card:hover .brk-gallery-card__angle-btn {
    right: -1px;
    bottom: -1px; }
    [dir="rtl"] .brk-gallery-card:hover .brk-gallery-card__angle-btn {
      right: auto;
      left: -1px; }
  .brk-gallery-card__angle-btn-top {
    position: absolute;
    top: -85px;
    right: -85px;
    width: 84px;
    height: 84px;
    -webkit-clip-path: polygon(0 0, 100% 100%, 100% 0);
            clip-path: polygon(0 0, 100% 100%, 100% 0);
    -webkit-transition: .3s ease right, .3s ease top;
    transition: .3s ease right, .3s ease top; }
    [dir="rtl"] .brk-gallery-card__angle-btn-top {
      -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
              clip-path: polygon(0 0, 0 100%, 100% 0); }
  .brk-gallery-card:hover .brk-gallery-card__angle-btn-top {
    right: -1px;
    top: -1px; }
    [dir="rtl"] .brk-gallery-card:hover .brk-gallery-card__angle-btn-top {
      right: auto;
      left: -1px; }
  .brk-gallery-card__overlay-angle {
    position: absolute;
    width: 1000%;
    height: 1000%;
    left: -1000%;
    top: -1000%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: .7s ease left, .7s ease top;
    transition: .7s ease left, .7s ease top;
    background-color: rgba(21, 21, 21, 0.76); }
  .brk-gallery-card:hover .brk-gallery-card__overlay-angle {
    left: -500%;
    top: -500%; }
  .brk-gallery-card__overlay-angle-top {
    position: absolute;
    width: 1000%;
    height: 1000%;
    left: -1000%;
    bottom: -1000%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: .7s ease left, .7s ease bottom;
    transition: .7s ease left, .7s ease bottom;
    background-color: rgba(21, 21, 21, 0.76); }
  .brk-gallery-card:hover .brk-gallery-card__overlay-angle-top {
    left: -500%;
    bottom: -500%; }
  .brk-gallery-card__fancy_angle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .brk-gallery-card__angle-btn {
  box-shadow: 0 5px 16px rgba(39, 117, 255, 0.5);
  background-image: -webkit-gradient(linear, right top, left top, from(#00c6ff), to(#00f6ff));
  background-image: linear-gradient(to left, #00c6ff 0%, #00f6ff 100%); }
  .brk-gallery-card__angle-btn-top {
  box-shadow: 0 5px 16px rgba(39, 117, 255, 0.5);
  background-image: -webkit-gradient(linear, right top, left top, from(#00c6ff), to(#00f6ff));
  background-image: linear-gradient(to left, #00c6ff 0%, #00f6ff 100%); }

@-webkit-keyframes galleryanimation {
  50% {
    width: 25%; }
  100% {
    width: 0; } }

@keyframes galleryanimation {
  50% {
    width: 25%; }
  100% {
    width: 0; } }

.brk-filters_style-3 .brk-filters__item {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 11px 40px;
  border-radius: 25px;
  overflow: hidden;
  cursor: pointer; }
  .brk-filters_style-3 .brk-filters__item::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    z-index: -1;
    opacity: 0;
    -webkit-transition: .3s ease opacity;
    transition: .3s ease opacity;
    background-image: -webkit-gradient(linear, left top, right top, from(#2775FF), to(#7202bb));
    background-image: linear-gradient(to right, #2775FF, #7202bb); }
  .brk-filters_style-3 .brk-filters__item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: 2px solid rgba(0, 0, 0, 0.06);
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    background-color: #ffffff; }
  .brk-filters_style-3 .brk-filters__item > * {
    z-index: 1; }
  .brk-filters_style-3 .brk-filters__item i {
    margin-right: 10px; }
  .brk-filters_style-3 .brk-filters__item:last-child {
    margin-right: 0; }
  .brk-filters_style-3 .brk-filters__item.active::after {
    opacity: 1; }
  .brk-filters_style-3 .brk-filters__item.active::before {
    border-width: 0;
    left: 2px;
    top: 2px;
    width: -webkit-calc(100% - 4px);
    width: calc(100% - 4px);
    height: -webkit-calc(100% - 4px);
    height: calc(100% - 4px); }

/*# sourceMappingURL=maps/gallery-cols.css.map */
