/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
/* brk-header */
.brk-header_scroll .brk-header__main-bar {
  border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .brk-header_scroll .brk-header__main-bar .container {
    border-radius: 5px; }

/* brk-header */

/*# sourceMappingURL=maps/header-3.css.map */
