/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
/* brk-header */
@media (min-width: 992px) {
  .brk-header_skin-1.brk-header_scroll .brk-header__main-bar {
    background-color: #fff; } }

/* brk-header */

/*# sourceMappingURL=maps/header-6.css.map */
