/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
.brk-page-intro {
  position: relative; }
  .brk-page-intro__before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .brk-page-intro__header {
    position: relative;
    background: no-repeat center center;
    background-size: cover;
    min-height: 730px; }
  .brk-page-intro__logo-search {
    position: relative;
    z-index: 3;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2); }
  .brk-page-intro__search {
    position: relative;
    padding-left: 30px; }
    .brk-page-intro__search--input {
      width: 100%;
      height: 52px;
      line-height: 52px;
      border: 2px solid rgba(255, 255, 255, 0.2);
      border-radius: 26px;
      background-color: transparent;
      color: #fff;
      padding: 0 30px;
      font-size: 1rem;
      box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.07); }
      .brk-page-intro__search--input::-webkit-input-placeholder {
        color: #fff;
        opacity: 1; }
      .brk-page-intro__search--input::-ms-input-placeholder {
        color: #fff;
        opacity: 1; }
      .brk-page-intro__search--input:-ms-input-placeholder {
        color: #fff;
        opacity: 1; }
      .brk-page-intro__search--input::placeholder {
        color: #fff;
        opacity: 1; }
    .brk-page-intro__search--submit {
      position: absolute;
      top: 50%;
      right: 7px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 38px;
      height: 38px;
      background-color: #fff;
      border-radius: 50%;
      font-size: 0.8125rem;
      padding-left: 3px;
      color: #2775FF; }
      .brk-page-intro__search--submit i {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
  .brk-page-intro__sorting {
    position: relative;
    z-index: 9;
    padding: 40px 0 100px; }
    .brk-page-intro__sorting-item {
      display: inline-block;
      position: relative;
      width: 70px;
      height: 122px;
      border-top: 2px solid rgba(255, 255, 255, 0.4);
      border-bottom: 2px solid rgba(255, 255, 255, 0.4);
      cursor: pointer;
      margin: 10px 23px;
      opacity: 0; }
      @media (max-width: 991px) {
        .brk-page-intro__sorting-item {
          margin: 10px 40px; } }
      @media (min-width: 992px) {
        .brk-page-intro__sorting-item:nth-child(even) {
          margin-top: 80px; } }
      .brk-page-intro__sorting-item:hover .brk-page-intro__sorting-before, .brk-page-intro__sorting-item.checked .brk-page-intro__sorting-before {
        background-color: rgba(255, 255, 255, 0.1); }
      .brk-page-intro__sorting-item:before, .brk-page-intro__sorting-item:after {
        content: '';
        position: absolute;
        width: 100%;
        height: -webkit-calc(100% + 4px);
        height: calc(100% + 4px);
        border-bottom: inherit;
        border-top: inherit;
        bottom: -2px; }
      .brk-page-intro__sorting-item:before {
        -webkit-transform: rotate(60deg);
                transform: rotate(60deg); }
      .brk-page-intro__sorting-item:after {
        -webkit-transform: rotate(-60deg);
                transform: rotate(-60deg); }
    .brk-page-intro__sorting-title {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: auto;
      color: #fff;
      text-align: center;
      font-size: 1rem;
      z-index: 2; }
    .brk-page-intro__sorting-count {
      position: absolute;
      top: 18px;
      right: -28px;
      width: 23px;
      height: 23px;
      text-align: center;
      font-size: 0.8125rem;
      line-height: 23px;
      color: #2775FF;
      background-color: #fff;
      border-radius: 50%;
      z-index: 3; }
    .brk-page-intro__sorting-before {
      position: absolute;
      width: 200%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      background-color: rgba(255, 255, 255, 0);
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      z-index: 1;
      -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
              clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%); }
  .brk-page-intro__body {
    position: relative;
    z-index: 10;
    margin-top: -235px; }
    @media (max-width: 991px) {
      .brk-page-intro__body {
        margin-top: -100px; } }
  .brk-page-intro__template {
    position: relative;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 1;
    margin: 15px 0;
    padding-bottom: 100px;
    background-color: #fff;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1); }
    .brk-page-intro__template:hover {
      box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.3);
      z-index: 9; }
      .brk-page-intro__template:hover .brk-page-intro__template-active-link:before {
        opacity: 1; }
      .brk-page-intro__template:hover .brk-page-intro__template-link {
        top: 50%;
        opacity: 1; }
        .brk-page-intro__template:hover .brk-page-intro__template-link .before {
          -webkit-animation: pulse 1.5s infinite;
                  animation: pulse 1.5s infinite;
          -webkit-animation-delay: 0.3s;
                  animation-delay: 0.3s; }
        .brk-page-intro__template:hover .brk-page-intro__template-link .after {
          -webkit-animation: pulse 1.5s infinite;
                  animation: pulse 1.5s infinite; }
    .brk-page-intro__template-loading {
      position: absolute;
      z-index: 1;
      top: -webkit-calc(50% - 50px);
      top: calc(50% - 50px);
      left: 50%;
      width: 60px;
      height: 60px;
      -webkit-transform-origin: 30px 31px;
              transform-origin: 30px 31px;
      border-radius: 50%;
      box-shadow: 0 1px 0 0 #1d3f72;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-animation: eye 1s linear infinite;
              animation: eye 1s linear infinite; }

@-webkit-keyframes eye {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0); }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg); } }

@keyframes eye {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0); }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg); } }
    .brk-page-intro__template img {
      width: 100%;
      height: auto;
      position: relative;
      z-index: 2; }
    .brk-page-intro__template-info {
      height: 100px;
      background-color: #fff;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: 4; }
    .brk-page-intro__template-active-link {
      position: relative;
      display: block; }
      .brk-page-intro__template-active-link:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        opacity: 0;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        background-color: rgba(39, 117, 255, 0.9); }
    .brk-page-intro__template-link {
      display: block;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.3);
      position: absolute;
      top: -webkit-calc(50% + 80px);
      top: calc(50% + 80px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 64px;
      height: 64px;
      opacity: 0;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      z-index: 4; }
      .brk-page-intro__template-link .before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        z-index: -1;
        background-color: rgba(255, 255, 255, 0.3); }
      .brk-page-intro__template-link .after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        z-index: -1;
        background-color: rgba(255, 255, 255, 0.1); }
      .brk-page-intro__template-link i {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        font-size: 1rem;
        color: #2775FF; }

/*# sourceMappingURL=maps/index.css.map */
