.brk-logo-transparent {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.brk-logo-transparent img {
  max-width: -webkit-calc(100% - 30px);
  max-width: calc(100% - 30px);
  max-height: 180px;
}

.brk-logo-transparent__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 180px;
  width: 25%;
}

.brk-logo-transparent__item img {
  opacity: .3;
  -webkit-transition: .3s ease opacity;
  transition: .3s ease opacity;
}

.brk-logo-transparent__item:hover img {
  opacity: 1;
}

.brk-logo-transparent__item:nth-child(n+5) {
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.brk-logo-transparent__item:nth-child(4n-1) {
  border-right: 1px solid rgba(255, 255, 255, 0.08);
}

.brk-logo-transparent__item:nth-child(4n-1), .brk-logo-transparent__item:nth-child(4n-2) {
  border-left: 1px solid rgba(255, 255, 255, 0.08);
}

@media screen and (max-width: 992px) {
  .brk-logo-transparent__item {
    width: 50%;
  }
  .brk-logo-transparent__item:nth-child(n+3) {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }
  .brk-logo-transparent__item:nth-child(4n-1) {
    border-right: none;
  }
  .brk-logo-transparent__item:nth-child(4n-1), .brk-logo-transparent__item:nth-child(4n-2) {
    border-left: none;
  }
  .brk-logo-transparent__item:nth-child(2n) {
    border-left: 1px solid rgba(255, 255, 255, 0.08);
  }
}

.brk-logo-transparent_triple .brk-logo-transparent__item {
  width: 33%;
}

.brk-logo-transparent_triple .brk-logo-transparent__item:nth-child(n+5) {
  border-top: 0;
}

.brk-logo-transparent_triple .brk-logo-transparent__item:nth-child(4n-1) {
  border-right: 0;
}

.brk-logo-transparent_triple .brk-logo-transparent__item:nth-child(4n-1), .brk-logo-transparent_triple .brk-logo-transparent__item:nth-child(4n-2) {
  border-left: 0;
}

.brk-logo-transparent_triple .brk-logo-transparent__item:nth-child(3n-1) {
  border-right: 1px solid rgba(255, 255, 255, 0.08);
  border-left: 1px solid rgba(255, 255, 255, 0.08);
}

.brk-logo-transparent_triple .brk-logo-transparent__item:nth-child(n+4) {
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

@media screen and (max-width: 992px) {
  .brk-logo-transparent_triple .brk-logo-transparent__item {
    width: 50%;
  }
  .brk-logo-transparent_triple .brk-logo-transparent__item:nth-child(3n-1) {
    border-right: none;
    border-left: none;
  }
  .brk-logo-transparent_triple .brk-logo-transparent__item:nth-child(n+4) {
    border-top: none;
  }
  .brk-logo-transparent_triple .brk-logo-transparent__item:nth-child(n+3) {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }
  .brk-logo-transparent_triple .brk-logo-transparent__item:nth-child(2n) {
    border-left: 1px solid rgba(255, 255, 255, 0.08);
  }
}

/*# sourceMappingURL=maps/logo.css.map */
