/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
.brk-pagination {
  margin-top: 30px; }
  .brk-pagination .screen-reader-text {
    display: none; }
  .brk-pagination .prev,
  .brk-pagination .next {
    font-size: 0 !important; }
  .brk-pagination .pagination {
    display: block; }
  .brk-pagination-one .pagination {
    height: 64px;
    border-radius: 0;
    background-color: #fff;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12); }
    @media (max-width: 575px) {
      .brk-pagination-one .pagination {
        height: 48px; } }
  .brk-pagination-one .nav-links {
    font-weight: 600;
    display: -webkit-box;
    display: flex;
    position: relative;
    width: 100%;
    padding-left: 22px;
    padding-right: 100px; }
    @media (max-width: 575px) {
      .brk-pagination-one .nav-links {
        padding-left: 10px;
        padding-right: 80px; } }
  .brk-pagination-one .page-numbers {
    font-size: 0.875rem;
    line-height: 64px;
    position: relative;
    display: block;
    padding: 0 15px; }
    @media (max-width: 575px) {
      .brk-pagination-one .page-numbers {
        padding: 0 10px;
        line-height: 48px; } }
    .brk-pagination-one .page-numbers:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 0;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      background-color: #2775FF; }
    .brk-pagination-one .page-numbers:hover {
  color: #2775FF; }
    .brk-pagination-one .page-numbers.current {
  color: #2775FF; }
      .brk-pagination-one .page-numbers:hover:after, .brk-pagination-one .page-numbers.current:after {
        height: 3px; }
    .brk-pagination-one .page-numbers.prev:after, .brk-pagination-one .page-numbers.next:after, .brk-pagination-one .page-numbers.dots:after {
      display: none; }
    .brk-pagination-one .page-numbers.dots {
      padding: 0; }
    .brk-pagination-one .page-numbers.prev, .brk-pagination-one .page-numbers.next {
      position: absolute;
      width: 30px;
      height: 100%;
      font-family: "Font Awesome 5 Free"; }
      [dir="rtl"] .brk-pagination-one .page-numbers.prev, [dir="rtl"] .brk-pagination-one .page-numbers.next {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg); }
      .brk-pagination-one .page-numbers.prev:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: normal;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #2775FF; }
      .brk-pagination-one .page-numbers.next:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: normal;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #2775FF; }
        [dir="rtl"] .brk-pagination-one .page-numbers.prev:before, [dir="rtl"] .brk-pagination-one .page-numbers.next:before {
          top: -webkit-calc(50% - 2px);
          top: calc(50% - 2px); }
      .brk-pagination-one .page-numbers.prev:hover:before, .brk-pagination-one .page-numbers.next:hover:before {
        font-size: 1.75rem; }
    .brk-pagination-one .page-numbers.prev {
      right: 59px; }
      [dir="rtl"] .brk-pagination-one .page-numbers.prev {
        right: 19px; }
      @media (max-width: 575px) {
        .brk-pagination-one .page-numbers.prev {
          right: 30px; }
          [dir="rtl"] .brk-pagination-one .page-numbers.prev {
            right: 0; } }
      .brk-pagination-one .page-numbers.prev:before {
        content: '\f104';
        font-weight: 600; }
    .brk-pagination-one .page-numbers.next {
      right: 19px; }
      [dir="rtl"] .brk-pagination-one .page-numbers.next {
        right: 59px; }
      @media (max-width: 575px) {
        .brk-pagination-one .page-numbers.next {
          right: 0; }
          [dir="rtl"] .brk-pagination-one .page-numbers.next {
            right: 30px; } }
      .brk-pagination-one .page-numbers.next:before {
        content: '\f105';
        font-weight: 600; }
  .brk-pagination-two .pagination {
    height: 58px;
    border-radius: 29px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12); }
  .brk-pagination-two .nav-links {
    font-weight: 600;
    display: -webkit-box;
    display: flex;
    position: relative;
    width: 100%; }
  .brk-pagination-two .page-numbers {
    font-size: 0.875rem;
    line-height: 58px;
    position: relative;
    display: block;
    padding: 0 16px;
    color: #dfdfdf; }
    .brk-pagination-two .page-numbers:hover {
      color: #2775FF; }
    .brk-pagination-two .page-numbers.current {
      color: #272727; }
    .brk-pagination-two .page-numbers.dots {
      display: none; }
    .brk-pagination-two .page-numbers.prev, .brk-pagination-two .page-numbers.next {
      width: 26px;
      padding: 0;
      height: 100%;
      font-family: "Font Awesome 5 Free"; }
      [dir="rtl"] .brk-pagination-two .page-numbers.prev, [dir="rtl"] .brk-pagination-two .page-numbers.next {
        top: 2px;
        position: relative; }
      .brk-pagination-two .page-numbers.prev:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: normal;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #2775FF; }
      .brk-pagination-two .page-numbers.next:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: normal;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #2775FF; }
      .brk-pagination-two .page-numbers.prev:hover:before, .brk-pagination-two .page-numbers.next:hover:before {
        font-size: 1.75rem; }
    [dir="rtl"] .brk-pagination-two .page-numbers.prev {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
    .brk-pagination-two .page-numbers.prev:before {
      content: '\f104';
      font-weight: 600; }
    [dir="rtl"] .brk-pagination-two .page-numbers.next {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
    .brk-pagination-two .page-numbers.next:before {
      content: '\f105';
      font-weight: 600; }
  .brk-pagination-three .pagination {
    height: 52px;
    overflow: hidden;
    border-radius: 0;
    background-color: #2b2c2d;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12); }
    @media (max-width: 575px) {
      .brk-pagination-three .pagination {
        height: 48px; } }
  .brk-pagination-three .nav-links {
    font-weight: 600;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    position: relative;
    width: 100%;
    padding: 0 50px; }
    @media (max-width: 575px) {
      .brk-pagination-three .nav-links {
        padding: 0; } }
  .brk-pagination-three .page-numbers {
    font-size: 0.875rem;
    line-height: 52px;
    position: relative;
    display: block;
    padding: 0 21px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #fff;
    border-left: 1px solid #444546; }
    @media (max-width: 575px) {
      .brk-pagination-three .page-numbers {
        line-height: 48px;
        padding: 0 10px; } }
    .brk-pagination-three .page-numbers:nth-last-child(2) {
      border-right: 1px solid #444546; }
    .brk-pagination-three .page-numbers:after {
      content: '';
      position: absolute;
      right: -1px;
      bottom: 0;
      left: -1px;
      height: 0;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      background-color: #2775FF; }
    .brk-pagination-three .page-numbers:hover {
  color: #fff;
  background-color: #444546; }
    .brk-pagination-three .page-numbers.current {
  color: #fff;
  background-color: #444546; }
      .brk-pagination-three .page-numbers:hover:after, .brk-pagination-three .page-numbers.current:after {
        height: 3px; }
    .brk-pagination-three .page-numbers.dots {
      display: none; }
    .brk-pagination-three .page-numbers.prev, .brk-pagination-three .page-numbers.next {
      position: absolute;
      top: 0;
      width: 50px;
      padding: 0;
      height: 100%;
      border: 0;
      font-family: "Font Awesome 5 Free"; }
      [dir="rtl"] .brk-pagination-three .page-numbers.prev, [dir="rtl"] .brk-pagination-three .page-numbers.next {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg); }
      @media (max-width: 575px) {
        .brk-pagination-three .page-numbers.prev, .brk-pagination-three .page-numbers.next {
          width: 30px; } }
      .brk-pagination-three .page-numbers.prev:after, .brk-pagination-three .page-numbers.next:after {
        display: none; }
      .brk-pagination-three .page-numbers.prev:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: normal;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #2775FF; }
      .brk-pagination-three .page-numbers.next:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: normal;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #2775FF; }
    .brk-pagination-three .page-numbers.prev {
      left: 0; }
      [dir="rtl"] .brk-pagination-three .page-numbers.prev {
        left: auto;
        right: 0; }
      .brk-pagination-three .page-numbers.prev:before {
        content: '\f104';
        font-weight: 600; }
    .brk-pagination-three .page-numbers.next {
      right: 0; }
      [dir="rtl"] .brk-pagination-three .page-numbers.next {
        right: auto;
        left: 0; }
      .brk-pagination-three .page-numbers.next:before {
        content: '\f105';
        font-weight: 600; }
  .brk-pagination-four .pagination {
    height: 56px;
    overflow: hidden;
    border-radius: 0;
    padding: 5px; }
  .brk-pagination-four .nav-links {
    font-weight: 600;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    position: relative;
    width: 100%;
    padding: 0 50px; }
    @media (max-width: 575px) {
      .brk-pagination-four .nav-links {
        padding: 0; } }
    .brk-pagination-four .nav-links:hover .page-numbers:not(:hover):after {
      opacity: 0;
      visibility: hidden; }
    .brk-pagination-four .nav-links:hover .page-numbers:not(:hover).current {
      color: #2775FF; }
  .brk-pagination-four .page-numbers {
    font-size: 0.875rem;
    line-height: 36px;
    position: relative;
    display: block;
    padding: 0 16px;
    margin: 0 5px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #272727; }
    @media (max-width: 575px) {
      .brk-pagination-four .page-numbers {
        padding: 0 10px;
        margin: 0; } }
    .brk-pagination-four .page-numbers:after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 58px;
      height: 36px;
      border-radius: 18px;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      border: 2px solid #2775FF;
      box-shadow: 0 5px 16px rgba(255, 255, 255, 0.1); }
      @media (max-width: 575px) {
        .brk-pagination-four .page-numbers:after {
          width: 38px;
          height: 26px;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); } }
    .brk-pagination-four .page-numbers:hover:after {
      opacity: 1;
      visibility: visible; }
    .brk-pagination-four .page-numbers.current:hover {
      color: #272727; }
    .brk-pagination-four .page-numbers.current:after {
      opacity: 1;
      visibility: visible; }
    .brk-pagination-four .page-numbers.dots {
      padding: 0;
      margin: 0; }
      .brk-pagination-four .page-numbers.dots:after {
        display: none; }
    .brk-pagination-four .page-numbers.prev, .brk-pagination-four .page-numbers.next {
      position: absolute;
      top: 0;
      width: 30px;
      padding: 0;
      height: 100%;
      border: 0;
      font-family: "Font Awesome 5 Free"; }
      [dir="rtl"] .brk-pagination-four .page-numbers.prev, [dir="rtl"] .brk-pagination-four .page-numbers.next {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg); }
      .brk-pagination-four .page-numbers.prev:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #272727; }
      .brk-pagination-four .page-numbers.next:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #272727; }
    .brk-pagination-four .page-numbers.prev {
      left: 13px; }
      [dir="rtl"] .brk-pagination-four .page-numbers.prev {
        left: auto;
        right: 13px; }
      .brk-pagination-four .page-numbers.prev:before {
        content: '\f060';
        font-weight: 600; }
    .brk-pagination-four .page-numbers.next {
      right: 13px; }
      [dir="rtl"] .brk-pagination-four .page-numbers.next {
        right: auto;
        left: 13px; }
      .brk-pagination-four .page-numbers.next:before {
        content: '\f061';
        font-weight: 600; }
  .brk-pagination-five .pagination {
    height: 52px;
    overflow: hidden;
    border-radius: 0; }
    @media (max-width: 575px) {
      .brk-pagination-five .pagination {
        height: 36px; } }
  .brk-pagination-five .nav-links {
    font-weight: 300;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    position: relative;
    width: 100%;
    padding: 0 52px; }
    @media (max-width: 575px) {
      .brk-pagination-five .nav-links {
        padding: 0; } }
  .brk-pagination-five .page-numbers {
    font-size: 1rem;
    line-height: 48px;
    width: 52px;
    height: 52px;
    position: relative;
    display: block;
    text-align: center;
    border: 2px solid transparent;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #272727; }
    @media (max-width: 575px) {
      .brk-pagination-five .page-numbers {
        line-height: 32px;
        width: 30px;
        height: 36px;
        font-size: 0.875rem; } }
    .brk-pagination-five .page-numbers:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border: 6px solid #2775FF;
      border-bottom-color: transparent;
      border-left-color: transparent;
      opacity: 0; }
    .brk-pagination-five .page-numbers:not(.dots):hover {
      border-color: #2775FF; }
    .brk-pagination-five .page-numbers.current {
      border-color: #2775FF; }
      .brk-pagination-five .page-numbers.current:after {
        opacity: 1; }
    .brk-pagination-five .page-numbers.dots {
      width: auto; }
    .brk-pagination-five .page-numbers.prev {
  position: absolute;
  top: 0;
  width: 52px;
  padding: 0;
  height: 100%;
  font-family: "Font Awesome 5 Free";
  background-color: #2775FF; }
    .brk-pagination-five .page-numbers.next {
  position: absolute;
  top: 0;
  width: 52px;
  padding: 0;
  height: 100%;
  font-family: "Font Awesome 5 Free";
  background-color: #2775FF; }
      [dir="rtl"] .brk-pagination-five .page-numbers.prev, [dir="rtl"] .brk-pagination-five .page-numbers.next {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg); }
      @media (max-width: 575px) {
        .brk-pagination-five .page-numbers.prev, .brk-pagination-five .page-numbers.next {
          width: 30px; } }
      .brk-pagination-five .page-numbers.prev:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #fff; }
      .brk-pagination-five .page-numbers.next:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #fff; }
      .brk-pagination-five .page-numbers.prev:hover, .brk-pagination-five .page-numbers.next:hover {
        background-color: transparent; }
        .brk-pagination-five .page-numbers.prev:hover:before {
  color: #272727; }
        .brk-pagination-five .page-numbers.next:hover:before {
  color: #272727; }
    .brk-pagination-five .page-numbers.prev {
      left: 0; }
      [dir="rtl"] .brk-pagination-five .page-numbers.prev {
        left: auto;
        right: 0; }
      .brk-pagination-five .page-numbers.prev:before {
        content: '\f104';
        font-weight: 600; }
    .brk-pagination-five .page-numbers.next {
      right: 0; }
      [dir="rtl"] .brk-pagination-five .page-numbers.next {
        right: auto;
        left: 0; }
      .brk-pagination-five .page-numbers.next:before {
        content: '\f105';
        font-weight: 600; }
  .brk-pagination-six .pagination {
    height: 64px;
    border-radius: 32px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12); }
    @media (max-width: 575px) {
      .brk-pagination-six .pagination {
        height: 48px;
        border-radius: 24px; } }
  .brk-pagination-six .nav-links {
    font-weight: 600;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    position: relative;
    width: 100%;
    padding: 0 52px; }
  .brk-pagination-six .page-numbers {
    font-size: 0.875rem;
    line-height: 64px;
    padding: 0 15px;
    position: relative;
    display: block;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #272727; }
    @media (max-width: 575px) {
      .brk-pagination-six .page-numbers {
        font-size: 0.8125rem;
        line-height: 48px;
        padding: 0 8px; } }
    .brk-pagination-six .page-numbers:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 0;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      background-color: rgba(39, 117, 255, 0.8); }
    .brk-pagination-six .page-numbers:not(.dots):hover:after {
      height: 3px; }
    .brk-pagination-six .page-numbers.current {
      color: #2775FF; }
      .brk-pagination-six .page-numbers.current:after {
        height: 3px; }
    .brk-pagination-six .page-numbers.dots {
      padding: 0; }
    .brk-pagination-six .page-numbers.prev, .brk-pagination-six .page-numbers.next {
      position: absolute;
      top: 7px;
      width: 50px;
      height: 50px;
      padding: 0;
      border-radius: 50%;
      font-family: "Font Awesome 5 Free";
      border: 2px solid rgba(39, 39, 39, 0.06); }
      [dir="rtl"] .brk-pagination-six .page-numbers.prev, [dir="rtl"] .brk-pagination-six .page-numbers.next {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg); }
      @media (max-width: 575px) {
        .brk-pagination-six .page-numbers.prev, .brk-pagination-six .page-numbers.next {
          width: 34px;
          height: 34px; } }
      .brk-pagination-six .page-numbers.prev:after, .brk-pagination-six .page-numbers.next:after {
        display: none; }
      .brk-pagination-six .page-numbers.prev:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #272727; }
      .brk-pagination-six .page-numbers.next:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #272727; }
      .brk-pagination-six .page-numbers.prev:hover:before {
  color: #2775FF; }
      .brk-pagination-six .page-numbers.next:hover:before {
  color: #2775FF; }
    .brk-pagination-six .page-numbers.prev {
      left: 6px; }
      [dir="rtl"] .brk-pagination-six .page-numbers.prev {
        left: auto;
        right: 6px; }
      .brk-pagination-six .page-numbers.prev:before {
        content: '\f060';
        font-weight: 600; }
    .brk-pagination-six .page-numbers.next {
      right: 6px; }
      [dir="rtl"] .brk-pagination-six .page-numbers.next {
        right: auto;
        left: 6px; }
      .brk-pagination-six .page-numbers.next:before {
        content: '\f061';
        font-weight: 600; }
  .brk-pagination-seven .pagination {
    height: 52px;
    border-radius: 0; }
    @media (max-width: 575px) {
      .brk-pagination-seven .pagination {
        height: 40px; } }
  .brk-pagination-seven .nav-links {
    font-weight: 600;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    width: 100%; }
    @media (max-width: 575px) {
      .brk-pagination-seven .nav-links {
        font-weight: 400; } }
  .brk-pagination-seven .page-numbers {
    font-size: 0.875rem;
    width: 52px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    display: block;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #272727;
    border: 1px solid #ececec;
    border-right-color: transparent; }
    @media (max-width: 575px) {
      .brk-pagination-seven .page-numbers {
        font-size: 0.8125rem;
        height: 40px;
        line-height: 40px; } }
    .brk-pagination-seven .page-numbers:nth-last-child(2) {
      border-right-color: #ececec; }
      [dir="rtl"] .brk-pagination-seven .page-numbers:nth-last-child(2) {
        border-right-color: transparent; }
    [dir="rtl"] .brk-pagination-seven .page-numbers:nth-child(2) {
      border-right-color: #ececec; }
    .brk-pagination-seven .page-numbers:hover {
      color: #fff;
      background-color: #2775FF;
      border: 1px solid #2775FF;
      border-right-color: #2775FF; }
    .brk-pagination-seven .page-numbers.current {
      color: #fff;
      background-color: #2775FF;
      box-shadow: 0 5px 16px rgba(39, 117, 255, 0.5);
      border: 1px solid #2775FF;
      border-right-color: #2775FF; }
    .brk-pagination-seven .page-numbers.dots {
      display: none; }
    .brk-pagination-seven .page-numbers.prev, .brk-pagination-seven .page-numbers.next {
      padding: 0;
      font-family: "Font Awesome 5 Free";
      position: relative;
      border-right-color: #ececec; }
      [dir="rtl"] .brk-pagination-seven .page-numbers.prev, [dir="rtl"] .brk-pagination-seven .page-numbers.next {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg); }
      .brk-pagination-seven .page-numbers.prev:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #272727; }
      .brk-pagination-seven .page-numbers.next:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #272727; }
      .brk-pagination-seven .page-numbers.prev:hover {
  border-right-color: #2775FF; }
      .brk-pagination-seven .page-numbers.next:hover {
  border-right-color: #2775FF; }
        .brk-pagination-seven .page-numbers.prev:hover:before {
  color: #fff; }
        .brk-pagination-seven .page-numbers.next:hover:before {
  color: #fff; }
    .brk-pagination-seven .page-numbers.prev {
      margin-right: 5px; }
      [dir="rtl"] .brk-pagination-seven .page-numbers.prev {
        margin-right: 0;
        margin-left: 5px; }
      .brk-pagination-seven .page-numbers.prev:before {
        content: '\f060';
        font-weight: 600; }
    .brk-pagination-seven .page-numbers.next {
      margin-left: 5px; }
      [dir="rtl"] .brk-pagination-seven .page-numbers.next {
        margin-left: 0;
        margin-right: 5px; }
      .brk-pagination-seven .page-numbers.next:before {
        content: '\f061';
        font-weight: 600; }
  .brk-pagination-eight .pagination {
    border-radius: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center; }
  .brk-pagination-eight .nav-links {
    font-weight: 600;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    height: 52px;
    border-radius: 26px;
    padding: 0 40px;
    margin: 0 62px;
    position: relative;
    border: 1px solid #ececec; }
    @media (max-width: 575px) {
      .brk-pagination-eight .nav-links {
        height: 38px;
        border-radius: 19px;
        padding: 0 38px;
        margin: 0;
        font-weight: normal; } }
    .brk-pagination-eight .nav-links:hover .page-numbers:not(:hover).current {
      color: #2775FF; }
    .brk-pagination-eight .nav-links:hover .page-numbers:not(:hover):after {
      opacity: 0;
      visibility: hidden; }
  .brk-pagination-eight .page-numbers {
    font-size: 0.875rem;
    line-height: 50px;
    text-align: center;
    display: block;
    padding: 0 15px;
    position: relative;
    border-right-color: transparent;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #272727; }
    @media (max-width: 575px) {
      .brk-pagination-eight .page-numbers {
        font-size: 0.8125rem;
        line-height: 36px;
        padding: 0 10px; } }
    .brk-pagination-eight .page-numbers:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      opacity: 0;
      visibility: hidden;
      z-index: -1;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      background-color: #2775FF;
      box-shadow: 0 5px 16px rgba(39, 117, 255, 0.5); }
      @media (max-width: 575px) {
        .brk-pagination-eight .page-numbers:after {
          width: 28px;
          height: 28px;
          box-shadow: none; } }
    .brk-pagination-eight .page-numbers:hover {
      color: #fff; }
      .brk-pagination-eight .page-numbers:hover:after {
        opacity: 1;
        visibility: visible; }
    .brk-pagination-eight .page-numbers.current {
      color: #fff; }
      .brk-pagination-eight .page-numbers.current:after {
        opacity: 1;
        visibility: visible; }
    .brk-pagination-eight .page-numbers.dots {
      padding: 0; }
      .brk-pagination-eight .page-numbers.dots:hover {
        color: #272727; }
      .brk-pagination-eight .page-numbers.dots:after {
        display: none; }
    .brk-pagination-eight .page-numbers.prev, .brk-pagination-eight .page-numbers.next {
      padding: 0;
      width: 52px;
      height: 52px;
      border-radius: 50%;
      font-family: "Font Awesome 5 Free";
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      border: 1px solid #ececec; }
      [dir="rtl"] .brk-pagination-eight .page-numbers.prev, [dir="rtl"] .brk-pagination-eight .page-numbers.next {
        -webkit-transform: translateY(-50%) rotate(180deg);
                transform: translateY(-50%) rotate(180deg); }
      @media (max-width: 575px) {
        .brk-pagination-eight .page-numbers.prev, .brk-pagination-eight .page-numbers.next {
          width: 34px;
          height: 34px;
          line-height: 32px; } }
      .brk-pagination-eight .page-numbers.prev:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #272727; }
      .brk-pagination-eight .page-numbers.next:before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #272727; }
      .brk-pagination-eight .page-numbers.prev:hover {
  border-color: #2775FF; }
      .brk-pagination-eight .page-numbers.next:hover {
  border-color: #2775FF; }
        .brk-pagination-eight .page-numbers.prev:hover:before {
  color: #fff; }
        .brk-pagination-eight .page-numbers.next:hover:before {
  color: #fff; }
    .brk-pagination-eight .page-numbers.prev {
      left: -62px; }
      [dir="rtl"] .brk-pagination-eight .page-numbers.prev {
        left: auto;
        right: -62px; }
      @media (max-width: 575px) {
        .brk-pagination-eight .page-numbers.prev {
          left: 1px; } }
      .brk-pagination-eight .page-numbers.prev:before {
        content: '\f060';
        font-weight: 600; }
    .brk-pagination-eight .page-numbers.next {
      right: -62px; }
      [dir="rtl"] .brk-pagination-eight .page-numbers.next {
        right: auto;
        left: -62px; }
      @media (max-width: 575px) {
        .brk-pagination-eight .page-numbers.next {
          right: 1px; } }
      .brk-pagination-eight .page-numbers.next:before {
        content: '\f061';
        font-weight: 600; }
  .brk-pagination-center {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center; }
    .brk-pagination-center .brk-prev-link,
    .brk-pagination-center .brk-next-link {
      display: block;
      width: 200px;
      height: 54px;
      border-radius: 27px;
      line-height: 54px;
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0 5px;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      border: 1px solid #ececec; }
      @media (max-width: 575px) {
        .brk-pagination-center .brk-prev-link,
        .brk-pagination-center .brk-next-link {
          width: 130px;
          height: 40px;
          border-radius: 20px;
          line-height: 40px;
          font-size: 0.875rem; } }
      .brk-pagination-center .brk-prev-link:hover {
  background-color: #2775FF;
  border-color: #2775FF;
  box-shadow: 0 5px 16px rgba(39, 117, 255, 0.5);
  color: #fff; }
      .brk-pagination-center .brk-next-link:hover {
  background-color: #2775FF;
  border-color: #2775FF;
  box-shadow: 0 5px 16px rgba(39, 117, 255, 0.5);
  color: #fff; }
      .brk-pagination-center .brk-prev-link i,
      .brk-pagination-center .brk-next-link i {
        vertical-align: 0; }
    .brk-pagination-center .brk-prev-link i {
      margin-right: 13px; }
      [dir="rtl"] .brk-pagination-center .brk-prev-link i {
        margin-right: 0;
        margin-left: 13px;
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
        top: 2px;
        position: relative; }
    .brk-pagination-center .brk-next-link i {
      margin-left: 13px; }
      [dir="rtl"] .brk-pagination-center .brk-next-link i {
        margin-left: 0;
        margin-right: 13px;
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
        top: 2px;
        position: relative; }
  .brk-pagination-large {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    position: relative; }
    .brk-pagination-large:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 10px;
      right: 10px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      height: 1px;
      z-index: 1;
      background-color: #ececec; }
    .brk-pagination-large .brk-prev-link {
  display: block;
  width: 200px;
  height: 54px;
  border-radius: 27px;
  line-height: 54px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 5px;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 2;
  background-color: #fff;
  border: 1px solid #ececec; }
    .brk-pagination-large .brk-next-link {
  display: block;
  width: 200px;
  height: 54px;
  border-radius: 27px;
  line-height: 54px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 5px;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 2;
  background-color: #fff;
  border: 1px solid #ececec; }
      .brk-pagination-large .brk-prev-link:hover {
  background-color: #2775FF;
  border-color: #2775FF;
  box-shadow: 0 5px 16px rgba(39, 117, 255, 0.5);
  color: #fff; }
      .brk-pagination-large .brk-next-link:hover {
  background-color: #2775FF;
  border-color: #2775FF;
  box-shadow: 0 5px 16px rgba(39, 117, 255, 0.5);
  color: #fff; }
      @media (max-width: 575px) {
        .brk-pagination-large .brk-prev-link,
        .brk-pagination-large .brk-next-link {
          width: 130px;
          height: 40px;
          border-radius: 20px;
          line-height: 40px;
          font-size: 0.875rem; } }
      .brk-pagination-large .brk-prev-link i,
      .brk-pagination-large .brk-next-link i {
        vertical-align: 0; }
    .brk-pagination-large .brk-prev-link i {
      margin-right: 13px; }
      [dir="rtl"] .brk-pagination-large .brk-prev-link i {
        margin-right: 0;
        margin-left: 13px;
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
        top: 2px;
        position: relative; }
    .brk-pagination-large .brk-next-link i {
      margin-left: 13px; }
      [dir="rtl"] .brk-pagination-large .brk-next-link i {
        margin-left: 0;
        margin-right: 13px;
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
        top: 2px;
        position: relative; }

/*# sourceMappingURL=maps/pagination.css.map */
