/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
.parallax-bg {
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  will-change: background-position;
  -webkit-transform: translateZ(0);
          transform: translateZ(0); }

.corner__wrap,
.circle__wrap,
.triangle__wrap,
.round__wrap,
.wing__wrap {
  position: relative;
  z-index: 1;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  -webkit-transition: -webkit-transform 2s ease;
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
  will-change: transform; }
  .corner__wrap .parallax__bg-shape-lg,
  .circle__wrap .parallax__bg-shape-lg,
  .triangle__wrap .parallax__bg-shape-lg,
  .round__wrap .parallax__bg-shape-lg,
  .wing__wrap .parallax__bg-shape-lg {
    position: absolute;
    z-index: -1;
    top: -1px;
    bottom: -1px;
    -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
            filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3)); }
  .corner__wrap .parallax__bg-shape-sm.brk-parallax__bg-color,
  .corner__wrap .brk-parallax__bg-gradient,
  .corner__wrap .brk-parallax__bg-gradient-md,
  .circle__wrap .parallax__bg-shape-sm.brk-parallax__bg-color,
  .circle__wrap .brk-parallax__bg-gradient,
  .circle__wrap .brk-parallax__bg-gradient-md,
  .triangle__wrap .parallax__bg-shape-sm.brk-parallax__bg-color,
  .triangle__wrap .brk-parallax__bg-gradient,
  .triangle__wrap .brk-parallax__bg-gradient-md,
  .round__wrap .parallax__bg-shape-sm.brk-parallax__bg-color,
  .round__wrap .brk-parallax__bg-gradient,
  .round__wrap .brk-parallax__bg-gradient-md,
  .wing__wrap .parallax__bg-shape-sm.brk-parallax__bg-color,
  .wing__wrap .brk-parallax__bg-gradient,
  .wing__wrap .brk-parallax__bg-gradient-md {
    opacity: 0.88; }
  .corner__wrap .brk-parallax__bg-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#0F5AE0), to(#7202bb));
  background: linear-gradient(to right, #0F5AE0, #7202bb); }
  .circle__wrap .brk-parallax__bg-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#0F5AE0), to(#7202bb));
  background: linear-gradient(to right, #0F5AE0, #7202bb); }
  .triangle__wrap .brk-parallax__bg-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#0F5AE0), to(#7202bb));
  background: linear-gradient(to right, #0F5AE0, #7202bb); }
  .round__wrap .brk-parallax__bg-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#0F5AE0), to(#7202bb));
  background: linear-gradient(to right, #0F5AE0, #7202bb); }
  .wing__wrap .brk-parallax__bg-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#0F5AE0), to(#7202bb));
  background: linear-gradient(to right, #0F5AE0, #7202bb); }
  .corner__wrap .brk-parallax__bg-gradient-md {
  background: -webkit-gradient(linear, left top, right top, from(#0F5AE0), to(#7202bb));
  background: linear-gradient(to right, #0F5AE0, #7202bb); }
  .circle__wrap .brk-parallax__bg-gradient-md {
  background: -webkit-gradient(linear, left top, right top, from(#0F5AE0), to(#7202bb));
  background: linear-gradient(to right, #0F5AE0, #7202bb); }
  .triangle__wrap .brk-parallax__bg-gradient-md {
  background: -webkit-gradient(linear, left top, right top, from(#0F5AE0), to(#7202bb));
  background: linear-gradient(to right, #0F5AE0, #7202bb); }
  .round__wrap .brk-parallax__bg-gradient-md {
  background: -webkit-gradient(linear, left top, right top, from(#0F5AE0), to(#7202bb));
  background: linear-gradient(to right, #0F5AE0, #7202bb); }
  .wing__wrap .brk-parallax__bg-gradient-md {
  background: -webkit-gradient(linear, left top, right top, from(#0F5AE0), to(#7202bb));
  background: linear-gradient(to right, #0F5AE0, #7202bb); }
    @media screen and (min-width: 576px) {
      .corner__wrap .brk-parallax__bg-gradient-md,
      .circle__wrap .brk-parallax__bg-gradient-md,
      .triangle__wrap .brk-parallax__bg-gradient-md,
      .round__wrap .brk-parallax__bg-gradient-md,
      .wing__wrap .brk-parallax__bg-gradient-md {
        background: none; } }
  .corner__wrap .brk-parallax__bg-color {
  opacity: 1;
  background: #fff; }
  .circle__wrap .brk-parallax__bg-color {
  opacity: 1;
  background: #fff; }
  .triangle__wrap .brk-parallax__bg-color {
  opacity: 1;
  background: #fff; }
  .round__wrap .brk-parallax__bg-color {
  opacity: 1;
  background: #fff; }
  .wing__wrap .brk-parallax__bg-color {
  opacity: 1;
  background: #fff; }
  .corner__wrap .brk-parallax__bg-color-md {
  background: #fff; }
  .circle__wrap .brk-parallax__bg-color-md {
  background: #fff; }
  .triangle__wrap .brk-parallax__bg-color-md {
  background: #fff; }
  .round__wrap .brk-parallax__bg-color-md {
  background: #fff; }
  .wing__wrap .brk-parallax__bg-color-md {
  background: #fff; }
    @media screen and (min-width: 576px) {
      .corner__wrap .brk-parallax__bg-color-md,
      .circle__wrap .brk-parallax__bg-color-md,
      .triangle__wrap .brk-parallax__bg-color-md,
      .round__wrap .brk-parallax__bg-color-md,
      .wing__wrap .brk-parallax__bg-color-md {
        background: none; } }
  .corner__wrap.content__side-left,
  .circle__wrap.content__side-left,
  .triangle__wrap.content__side-left,
  .round__wrap.content__side-left,
  .wing__wrap.content__side-left {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .corner__wrap.content__side-right,
  .circle__wrap.content__side-right,
  .triangle__wrap.content__side-right,
  .round__wrap.content__side-right,
  .wing__wrap.content__side-right {
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0); }
  .corner__wrap.in-view.content__side-left, .corner__wrap.in-view.content__side-right,
  .circle__wrap.in-view.content__side-left,
  .circle__wrap.in-view.content__side-right,
  .triangle__wrap.in-view.content__side-left,
  .triangle__wrap.in-view.content__side-right,
  .round__wrap.in-view.content__side-left,
  .round__wrap.in-view.content__side-right,
  .wing__wrap.in-view.content__side-left,
  .wing__wrap.in-view.content__side-right {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }

@media screen and (min-width: 576px) {
  .corner__wrap .parallax__bg-shape-lg {
    opacity: 1; } }

.corner__wrap.content__side-right .parallax__bg-shape-lg {
  left: 50%;
  width: 100vw;
  -webkit-transform: skew(0) translate(-50%, 0);
          transform: skew(0) translate(-50%, 0); }
  @media screen and (min-width: 576px) {
    .corner__wrap.content__side-right .parallax__bg-shape-lg {
      left: 40%;
      width: -webkit-calc(50vw + 200px);
      width: calc(50vw + 200px);
      -webkit-transform: skew(-15deg);
              transform: skew(-15deg); } }
  @media screen and (min-width: 768px) {
    .corner__wrap.content__side-right .parallax__bg-shape-lg {
      left: 50%; } }

.corner__wrap.content__side-left .parallax__bg-shape-lg {
  right: 50%;
  width: 100vw;
  -webkit-transform: skew(0) translate(50%, 0);
          transform: skew(0) translate(50%, 0); }
  @media screen and (min-width: 576px) {
    .corner__wrap.content__side-left .parallax__bg-shape-lg {
      right: 40%;
      width: -webkit-calc(50vw + 200px);
      width: calc(50vw + 200px);
      -webkit-transform: skew(15deg);
              transform: skew(15deg); } }
  @media screen and (min-width: 768px) {
    .corner__wrap.content__side-left .parallax__bg-shape-lg {
      right: 50%; } }

.circle__wrap h2 {
  letter-spacing: -1px; }

.circle__wrap .parallax__bg-shape-lg {
  top: 0;
  bottom: 0;
  position: absolute;
  -webkit-transition: -webkit-transform 2s ease;
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
  will-change: transform;
  width: 100vw; }
  @media screen and (min-width: 576px) {
    .circle__wrap .parallax__bg-shape-lg {
      width: 65%;
      top: 50%;
      left: auto;
      bottom: auto;
      border-radius: 50%;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08);
      -webkit-transform: translate(0, -50%) scale(2);
              transform: translate(0, -50%) scale(2);
      opacity: 0.88; } }
  .circle__wrap .parallax__bg-shape-lg:after {
    content: '';
    position: relative;
    display: block;
    padding-bottom: 100%; }

.circle__wrap.content__side-right .parallax__bg-shape-lg {
  left: 50%;
  right: auto;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }
  @media screen and (min-width: 576px) {
    .circle__wrap.content__side-right .parallax__bg-shape-lg {
      left: 47%;
      -webkit-transform: translate(0, -50%) scale(2);
              transform: translate(0, -50%) scale(2); } }

.circle__wrap.content__side-left .parallax__bg-shape-lg {
  right: 50%;
  left: auto;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0); }
  @media screen and (min-width: 576px) {
    .circle__wrap.content__side-left .parallax__bg-shape-lg {
      right: 47%;
      -webkit-transform: translate(0, -50%) scale(2);
              transform: translate(0, -50%) scale(2); } }

@media screen and (min-width: 576px) {
  .circle__wrap.in-view .parallax__bg-shape-lg {
    -webkit-transform: translate(0, -50%) scale(1.5);
            transform: translate(0, -50%) scale(1.5); } }

@media screen and (min-width: 768px) {
  .circle__wrap.in-view .parallax__bg-shape-lg {
    -webkit-transform: translate(0, -50%) scale(1.1);
            transform: translate(0, -50%) scale(1.1); } }

.triangle__wrap .horiz-line {
  margin: 20px 0; }

.triangle__wrap i.icon {
  vertical-align: baseline; }

.triangle__wrap .parallax__bg-shape-lg {
  position: absolute;
  left: 50%;
  width: 100vw;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }
  @media screen and (min-width: 576px) {
    .triangle__wrap .parallax__bg-shape-lg {
      width: -webkit-calc(50vw + 50px);
      width: calc(50vw + 50px); } }

@media screen and (min-width: 576px) {
  .triangle__wrap.content__side-right .parallax__bg-shape-lg {
    -webkit-transform: none;
            transform: none;
    right: auto;
    left: -webkit-calc(50% - 50px);
    left: calc(50% - 50px);
    -webkit-clip-path: polygon(120px 0, 100% 0, 100% 100%, 120px 100%, 0 50%);
            clip-path: polygon(120px 0, 100% 0, 100% 100%, 120px 100%, 0 50%); } }

@media screen and (min-width: 576px) {
  .triangle__wrap.content__side-left .parallax__bg-shape-lg {
    -webkit-transform: none;
            transform: none;
    left: auto;
    right: -webkit-calc(50% - 50px);
    right: calc(50% - 50px);
    -webkit-clip-path: polygon(-webkit-calc(100% - 120px) 0, 100% 50%, -webkit-calc(100% - 120px) 100%, 0 100%, 0 0);
            clip-path: polygon(calc(100% - 120px) 0, 100% 50%, calc(100% - 120px) 100%, 0 100%, 0 0); } }

.triangle__wrap-double .btn-simple i {
  vertical-align: middle;
  font-size: 24px; }

.triangle__wrap-double .parallax__bg-shape-sm {
  position: absolute;
  display: none;
  height: 100%;
  width: 300px;
  -webkit-transition: right 2s ease, left 2s ease, tranfrorm 2s ease;
  transition: right 2s ease, left 2s ease, tranfrorm 2s ease;
  will-change: right; }
  @media (min-width: 992px) {
    .triangle__wrap-double .parallax__bg-shape-sm {
      display: block; } }

.triangle__wrap-double.content__side-left .parallax__bg-shape-sm {
  left: auto;
  right: -webkit-calc(-300px - 50vw);
  right: calc(-300px - 50vw);
  -webkit-clip-path: polygon(150px 0, 120% 0, 100% 100%, 120px 100%, 0 50%);
          clip-path: polygon(150px 0, 120% 0, 100% 100%, 120px 100%, 0 50%); }

.triangle__wrap-double.content__side-right .parallax__bg-shape-sm {
  left: -webkit-calc(-300px - 50vw);
  left: calc(-300px - 50vw);
  right: auto;
  -webkit-clip-path: polygon(-webkit-calc(100% - 120px) 0, 100% 50%, -webkit-calc(100% - 120px) 100%, 0 100%, 0 0);
          clip-path: polygon(calc(100% - 120px) 0, 100% 50%, calc(100% - 120px) 100%, 0 100%, 0 0); }

.triangle__wrap-double.content__side-right.in-view .parallax__bg-shape-sm {
  left: -webkit-calc(50% - 50vw);
  left: calc(50% - 50vw);
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0); }

.triangle__wrap-double.content__side-left.in-view .parallax__bg-shape-sm {
  right: -webkit-calc(50% - 50vw);
  right: calc(50% - 50vw);
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0); }

.round__wrap .text-blue {
  color: #2668d0; }

.round__wrap .divider {
  background: #d4e1f6; }

.round__wrap .parallax__bg-shape-lg {
  position: absolute;
  width: 100vw; }
  .round__wrap .parallax__bg-shape-lg svg {
    position: absolute;
    top: 0;
    height: 100%;
    width: auto;
    display: none; }
    @media screen and (min-width: 576px) {
      .round__wrap .parallax__bg-shape-lg svg {
        display: block; } }

.round__wrap.content__side-right .parallax__bg-shape-lg {
  left: auto;
  right: 50%;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0); }
  @media screen and (min-width: 576px) {
    .round__wrap.content__side-right .parallax__bg-shape-lg {
      right: -50%;
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); } }
  @media screen and (min-width: 768px) {
    .round__wrap.content__side-right .parallax__bg-shape-lg {
      right: -10%; } }
  .round__wrap.content__side-right .parallax__bg-shape-lg svg {
    right: 0;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0); }

.round__wrap.content__side-left .parallax__bg-shape-lg {
  right: auto;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }
  @media screen and (min-width: 576px) {
    .round__wrap.content__side-left .parallax__bg-shape-lg {
      left: -50%;
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); } }
  @media screen and (min-width: 768px) {
    .round__wrap.content__side-left .parallax__bg-shape-lg {
      left: -10%; } }
  .round__wrap.content__side-left .parallax__bg-shape-lg svg {
    left: 0;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }

.wing__wrap > * {
  z-index: 2;
  position: relative; }

.wing__wrap h1, .wing__wrap h2 {
  opacity: .05;
  line-height: 0.5em; }

.wing__wrap .countdown {
  padding: 35px 0 45px;
  overflow: hidden; }
  .wing__wrap .countdown .countdown__section {
    border-left: 1px solid #ededed;
    margin: 0;
    width: 33.3%;
    float: left; }
    .wing__wrap .countdown .countdown__section:first-child {
      border: none; }
  .wing__wrap .countdown__wrapper {
    position: relative;
    z-index: 1;
    box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.12); }

.wing__wrap .parallax__bg-shape-lg {
  position: absolute;
  z-index: 1;
  top: auto;
  bottom: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }
  @media screen and (min-width: 576px) {
    .wing__wrap .parallax__bg-shape-lg {
      right: auto; } }
  .wing__wrap .parallax__bg-shape-lg svg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    min-width: 768px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    display: none; }
    @media screen and (min-width: 576px) {
      .wing__wrap .parallax__bg-shape-lg svg {
        display: block; } }

.wing__wrap [class*="brk-parallax__bg-gradient"] ~ div h1, .wing__wrap [class*="brk-parallax__bg-gradient"] ~ div h2 {
  color: #fff;
  opacity: 1;
  line-height: 1; }
  .wing__wrap [class*="brk-parallax__bg-gradient"] ~ div h1 .badge, .wing__wrap [class*="brk-parallax__bg-gradient"] ~ div h2 .badge {
    top: -7px;
    margin-right: 10px;
    line-height: 32px;
    position: relative; }

.wing__wrap [class*="brk-parallax__bg-gradient"] ~ div p {
  font-size: 14px;
  line-height: 22px;
  color: #c8cefd; }

.full-height {
  height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center; }
  .full-height > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    height: auto;
    -webkit-box-align: start;
            align-items: flex-start; }
  .full-height.round__wrap.content__side-left .parallax__bg-shape-lg {
    left: 0; }
    @media screen and (min-width: 576px) {
      .full-height.round__wrap.content__side-left .parallax__bg-shape-lg {
        left: -100%; } }
    @media screen and (min-width: 768px) {
      .full-height.round__wrap.content__side-left .parallax__bg-shape-lg {
        left: -80%; } }
    @media screen and (min-width: 992px) {
      .full-height.round__wrap.content__side-left .parallax__bg-shape-lg {
        left: -60%; } }
  .full-height.round__wrap.content__side-right .parallax__bg-shape-lg {
    right: 0; }
    @media screen and (min-width: 576px) {
      .full-height.round__wrap.content__side-right .parallax__bg-shape-lg {
        right: -100%; } }
    @media screen and (min-width: 768px) {
      .full-height.round__wrap.content__side-right .parallax__bg-shape-lg {
        right: -80%; } }
    @media screen and (min-width: 992px) {
      .full-height.round__wrap.content__side-right .parallax__bg-shape-lg {
        right: -60%; } }

.player-yt, .player-vimeo {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }
  .video-background_grayscale {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%); }
  .video-background .embed-responsive-16by9 {
    top: 50%;
    position: absolute;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }
  @media screen and (max-width: 767px) {
    .video-background {
      display: none; } }
  .video-background .vimeo_icon,
  .video-background .ytpicon {
    font-family: "Font Awesome 5 Free";
    font-size: 0 !important;
    text-align: center; }
    .video-background .vimeo_icon:after,
    .video-background .ytpicon:after {
      font: 14px/25px 'Font Awesome 5 Solid'; }
    .video-background .vimeo_icon.vimeo_player_pause:after, .video-background .vimeo_icon.mb_YTPPlaypause:after,
    .video-background .ytpicon.vimeo_player_pause:after,
    .video-background .ytpicon.mb_YTPPlaypause:after {
      content: "\f04b"; }
    .video-background .vimeo_icon.vimeo_player_pause.active:after, .video-background .vimeo_icon.mb_YTPPlaypause.active:after,
    .video-background .ytpicon.vimeo_player_pause.active:after,
    .video-background .ytpicon.mb_YTPPlaypause.active:after {
      content: "\f04c"; }
    .video-background .vimeo_icon.vimeo_player_muteUnmute:after, .video-background .vimeo_icon.mb_YTPMuteUnmute:after,
    .video-background .ytpicon.vimeo_player_muteUnmute:after,
    .video-background .ytpicon.mb_YTPMuteUnmute:after {
      content: "\f026"; }
    .video-background .vimeo_icon.vimeo_player_muteUnmute.active:after, .video-background .vimeo_icon.mb_YTPMuteUnmute.active:after,
    .video-background .ytpicon.vimeo_player_muteUnmute.active:after,
    .video-background .ytpicon.mb_YTPMuteUnmute.active:after {
      content: "\f028"; }
    .video-background .vimeo_icon.mb_YTPUrl:after,
    .video-background .ytpicon.mb_YTPUrl:after {
      content: "\f167";
      font: 27px/20px 'Font Awesome 5 Brands'; }
    .video-background .vimeo_icon.vimeo_fullscreen,
    .video-background .ytpicon.vimeo_fullscreen {
      display: none; }
      .video-background .vimeo_icon.vimeo_fullscreen:after,
      .video-background .ytpicon.vimeo_fullscreen:after {
        content: "\f320"; }
  .video-background .simpleSlider {
    vertical-align: middle; }

/*# sourceMappingURL=maps/parallax-video.css.map */
