/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
.brk-filters_style-2 {
  border-radius: 50px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.07);
  background-color: #ffffff; }
  @media screen and (max-width: 991px) {
    .brk-filters_style-2 {
      flex-wrap: wrap; } }
  @media screen and (min-width: 992px) {
    .brk-filters_style-2 {
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); } }
  .brk-filters_style-2 .brk-filters__item {
    position: relative;
    cursor: pointer;
    padding: 20px 14px 18px 14px; }
    .brk-filters_style-2 .brk-filters__item::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 3px;
      background-color: transparent;
      -webkit-transition: .3 ease background-color;
      transition: .3 ease background-color; }
    .brk-filters_style-2 .brk-filters__item.active::after {
      background-color: #2775FF; }
    @media screen and (max-width: 991px) {
      .brk-filters_style-2 .brk-filters__item {
        -webkit-box-flex: 1;
                flex-grow: 1;
        min-width: 50%;
        text-align: center; } }
    @media screen and (max-width: 575px) {
      .brk-filters_style-2 .brk-filters__item {
        width: 100%; } }

.brk-grid {
  overflow: hidden; }
  .brk-grid__sizer, .brk-grid__item {
    overflow: hidden; }
    .brk-grid__sizer:after, .brk-grid__item:after {
      content: "";
      display: block;
      padding-top: 100%; }
    @media screen and (max-width: 768px) {
      .brk-grid__sizer, .brk-grid__item {
        width: 100% !important; }
        .brk-grid__sizer:after, .brk-grid__item:after {
          padding-top: 100% !important; } }
  .brk-grid__item_width-2:after {
    padding-top: 50%; }
  .brk-grid__item_width-2.brk-grid__item_height-2:after {
    padding-top: 100%; }
  .brk-grid__item_height-2:after {
    padding-top: 200%; }
  .brk-grid .post-filmstrip {
    max-width: none;
    max-height: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
    .brk-grid .post-filmstrip::after {
      content: "";
      display: block;
      padding-top: 100%; }
    .brk-grid .post-filmstrip__content {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: center;
              justify-content: center; }
      .brk-grid .post-filmstrip__content h3 {
        margin-top: 0; }
  .brk-grid .brk-hosted-video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  .brk-grid .brk-hosted-video__img {
    z-index: 0; }

.brk-border-btn {
  position: relative; }
  .brk-border-btn .btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%); }

/*# sourceMappingURL=maps/portfolio-masonry.css.map */
