/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
.brk-simple-card-2 {
  min-height: 300px;
  width: 100%;
  display: -webkit-box;
  display: flex;
  background-color: transparent; }
  .brk-simple-card-2_greyscale .brk-simple-card-2__img {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%); }
  .brk-simple-card-2__animation-wrapper {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
            flex-grow: 1;
    -webkit-transform: scaleX(1) scaleY(1) scaleZ(1) translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: scaleX(1) scaleY(1) scaleZ(1) translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    will-change: transform; }
  .brk-simple-card-2__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    display: none; }
  .brk-simple-card-2__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: .3s ease opacity;
    transition: .3s ease opacity;
    will-change: opacity;
    display: none; }
  .brk-simple-card-2__category {
    padding: 6px 9px 6px 9px;
    margin: 0 auto 17px;
    opacity: 0;
    -webkit-transition: .3s ease opacity;
    transition: .3s ease opacity;
    will-change: opacity;
    box-shadow: 0 5px 16px rgba(39, 117, 255, 0.5);
    background-color: #2775FF; }
  .brk-simple-card-2__info {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    z-index: 1;
    opacity: 0;
    -webkit-transition: .3s ease opacity;
    transition: .3s ease opacity;
    will-change: opacity; }
  .brk-simple-card-2 .icon__btn {
    margin-top: 60px;
    margin-bottom: 2px;
    opacity: 0;
    -webkit-transition: .3s ease opacity;
    transition: .3s ease opacity;
    will-change: opacity; }
  .brk-simple-card-2:hover .brk-simple-card-2__overlay, .brk-simple-card-2:hover .brk-simple-card-2__category, .brk-simple-card-2:hover .brk-simple-card-2__info {
    opacity: 1; }
  .brk-simple-card-2:hover .brk-simple-card-2__animation-wrapper {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); }
  .brk-simple-card-2:hover .icon__btn {
    opacity: 1; }
  .brk-simple-card-2.rendered .brk-simple-card-2__img,
  .brk-simple-card-2.rendered .brk-simple-card-2__overlay {
    display: block; }

.brk-grid-fitrows__item {
  padding: 15px; }
  @media screen and (max-width: 768px) {
    .brk-grid-fitrows__item {
      width: 100% !important; } }

.brk-grid-fitrows .brk-simple-card-2 {
  height: 100%; }

/*# sourceMappingURL=maps/portfolio-rows.css.map */
