/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
.brk-portfolio-card {
  position: relative;
  display: block;
  -webkit-box-flex: 0;
          flex: none;
  width: 100%;
  height: 380px;
  color: #fff;
  -webkit-perspective: 1000px;
          perspective: 1000px; }
  .brk-portfolio-card__figure, .brk-portfolio-card__image {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0; }
  .brk-portfolio-card__image {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .brk-portfolio-card__figure > * {
    -webkit-transform: translateZ(0px);
            transform: translateZ(0px); }
  .brk-portfolio-card .brk-tilter__figure {
    position: relative; }
  .brk-portfolio-card__deco {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
  .brk-portfolio-card__caption {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 42px 34px 42px 34px; }
  .brk-portfolio-card__category {
    color: #fff;
    border-radius: 20px;
    text-transform: uppercase;
    margin-left: 1px;
    padding: 5px 18px;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    box-shadow: 0 5px 16px rgba(39, 117, 255, 0.5);
    background-color: #2775FF; }
  .brk-portfolio-card__title {
    margin-top: 20px;
    margin-left: 4px;
    color: #fff;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
  .brk-portfolio-card__link {
    text-decoration: underline;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    left: 41px;
    bottom: 41px;
    cursor: pointer;
    z-index: 4;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
  .brk-portfolio-card__btn-reverse {
    color: #2775FF !important;
    background: #fff; }
    .brk-portfolio-card__btn-reverse .before {
      background-color: #fff; }
    .brk-portfolio-card__btn-reverse .after {
      background-color: #fff; }
  .brk-portfolio-card__btn__icon::before {
    color: #2775FF; }
  .brk-portfolio-card__btn-reverse {
    position: absolute !important;
    right: 28px;
    bottom: 23px;
    font-weight: 100;
    z-index: 4;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
    .brk-portfolio-card__btn-reverse__icon {
      font-size: 18px; }
  .brk-portfolio-card:hover .brk-portfolio-card__deco, .brk-portfolio-card:hover .brk-portfolio-card__category, .brk-portfolio-card:hover .brk-portfolio-card__title, .brk-portfolio-card:hover .brk-portfolio-card__link, .brk-portfolio-card:hover .brk-portfolio-card__btn-reverse {
    opacity: 1; }
  .brk-portfolio-card:hover .brk-portfolio-card__link {
    color: #fff; }

/*# sourceMappingURL=maps/portfolio-grid.css.map */
