/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
.divider-lines {
  display: none; }

.brs-portfolio-carousel-item .slick-list {
  margin-left: -15px;
  margin-right: -15px; }

.brs-portfolio-carousel-item .slick-slide {
  padding-left: 0;
  padding-right: 0; }

.brs-portfolio-carousel-item .slick-dots {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin-top: 50px; }

.brs-portfolio-categories-item {
  display: -webkit-box;
  display: flex;
  position: relative;
  height: 300px;
  width: 100%;
  padding: 39px 30px 0 39px;
  overflow: hidden;
  margin-bottom: 10px; }
  .brs-portfolio-categories-item__img {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    top: 0;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .brs-portfolio-categories-item__title {
    z-index: 1;
    text-transform: uppercase;
    opacity: 0;
    -webkit-transition: .3s ease opacity;
    transition: .3s ease opacity;
    color: #fff !important; }
    .brs-portfolio-categories-item__title:hover {
      cursor: pointer; }
    .brs-portfolio-categories-item__title:active {
  color: #fff; }
    .brs-portfolio-categories-item__title:hover {
  color: #fff; }
    .brs-portfolio-categories-item__title:visited {
  color: #fff; }
    .brs-portfolio-categories-item__title:focus {
  color: #fff; }
  .brs-portfolio-categories-item__buttons {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0;
    -webkit-transition: height .3s ease, .3s ease padding;
    transition: height .3s ease, .3s ease padding;
    -webkit-clip-path: polygon(-webkit-calc(100% + 1px) 0px, 0% -webkit-calc(100% + 1px), -webkit-calc(100% + 1px) -webkit-calc(100% + 1px));
            clip-path: polygon(calc(100% + 1px) 0px, 0% calc(100% + 1px), calc(100% + 1px) calc(100% + 1px));
    z-index: 1;
    padding-right: 14px;
    text-align: right;
    background-color: #fff; }
  .brs-portfolio-categories-item__btn {
    padding: 10px 7px;
    position: relative; }
    .brs-portfolio-categories-item__btn:hover .brs-portfolio-categories-item__btn__icon {
      color: #0F5AE0; }
  .brs-portfolio-categories-item__btn__icon {
    font-size: 14px;
    color: #1a1b1b;
    vertical-align: middle; }
  .brs-portfolio-categories-item__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 39, 39, 0);
    -webkit-transition: .3s ease background-color;
    transition: .3s ease background-color; }
  .brs-portfolio-categories-item:hover .brs-portfolio-categories-item__buttons {
    height: 60px;
    padding-top: 27px; }
  .brs-portfolio-categories-item:hover .brs-portfolio-categories-item__title {
    opacity: 1; }
  .brs-portfolio-categories-item:hover .brs-portfolio-categories-item__overlay {
    background-color: rgba(39, 39, 39, 0.7); }

/*# sourceMappingURL=maps/portfolio-categories.css.map */
