/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
.brk-portfolio-galleries {
  background-color: #e9e9e9;
  border-left: 10px solid #e9e9e9;
  border-right: 10px solid #e9e9e9;
  border-top: 5px solid #e9e9e9;
  border-bottom: 5px solid #e9e9e9; }
  .brk-portfolio-galleries__card {
    position: relative;
    z-index: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    overflow: hidden;
    min-height: 300px; }
    .brk-portfolio-galleries__card::after {
      content: "";
      display: block;
      padding-top: 65%; }
  .brk-portfolio-galleries__label {
    position: absolute;
    top: 10px;
    left: 10px;
    height: -webkit-calc(100% - 20px);
    height: calc(100% - 20px);
    max-width: -webkit-calc(100% - 20px);
    max-width: calc(100% - 20px);
    background-color: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
    -webkit-transition: .3s ease-in-out transform;
    transition: .3s ease-in-out transform; }
  .brk-portfolio-galleries__card:hover .brk-portfolio-galleries__label {
    -webkit-transform: translateX(0);
            transform: translateX(0); }

/*# sourceMappingURL=maps/portfolio-galleries.css.map */
