/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
/*
// chart Circles
// ================ */
.bg-shaded {
  position: relative; }
  .bg-shaded > * {
    z-index: 3; }
  .bg-shaded:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.92);
    z-index: 2; }
  .bg-shaded_dark:after {
    background-color: rgba(0, 0, 0, 0.76); }

.chart {
  background: none;
  position: relative;
  z-index: 5; }
  .chart__wrapper {
    min-height: 460px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center; }
    .chart__wrapper_short {
      min-height: 400px; }
    .chart__wrapper_single {
      min-height: 0; }
    .chart__wrapper_full .chart__circle-value {
      stroke-dasharray: 1000 !important; }
    .chart__wrapper_light .chart__circle-meter {
      stroke: rgba(255, 255, 255, 0.2); }
    .chart__wrapper_light .chart__title {
      color: #fff; }
  .chart__svg-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  .chart__svg {
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    position: absolute; }
  .chart__title {
    color: #272727; }
  .chart__circle {
    position: relative;
    background: none;
    border-radius: 100%;
    display: -webkit-box;
    display: flex;
    height: 170px;
    width: 170px;
    margin: 0 auto; }
    .chart__circle-dot {
      display: block;
      position: absolute;
      top: 0;
      left: 0; }
      .chart__circle-dot-wrapper {
        z-index: 100;
        pointer-events: none;
        width: 50%;
        height: 50%;
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform-origin: bottom left;
                transform-origin: bottom left;
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
        -webkit-transition: -webkit-transform;
        transition: -webkit-transform;
        transition: transform;
        transition: transform, -webkit-transform;
        -webkit-transition-timing-function: cubic-bezier(0.8, 0.2, 0.6, 0.6);
                transition-timing-function: cubic-bezier(0.8, 0.2, 0.6, 0.6);
        -webkit-transition-duration: 0.9s;
                transition-duration: 0.9s;
        -webkit-transition-delay: 0s;
                transition-delay: 0s; }
    .chart__circle .icon__centered {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .chart__circle-value {
      -webkit-transition: all;
      transition: all;
      -webkit-transition-timing-function: cubic-bezier(0.8, 0.2, 0.6, 0.6);
              transition-timing-function: cubic-bezier(0.8, 0.2, 0.6, 0.6);
      -webkit-transition-duration: 0.9s;
              transition-duration: 0.9s;
      -webkit-transition-delay: 0s;
              transition-delay: 0s;
      stroke-linecap: round; }
    .chart__circle-counter {
      text-indent: 4px; }

.chart-minimal .chart__circle {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column;
  padding-top: 60px; }
  .chart-minimal .chart__circle-dot {
    width: 22px;
    height: 22px;
    border: 5px solid #fff;
    border-radius: 100%;
    background: #2775FF;
    box-shadow: 0 2px 7px 0 rgba(39, 117, 255, 0.36);
    margin-left: -11px;
    margin-top: -6px; }
  .chart-minimal .chart__circle-counter {
    color: #2775FF;
    display: block;
    width: 100%;
    margin-bottom: 4px; }

.chart-light .h5, .chart-light h5 {
  color: #fff;
  font-smoothing: antialiased; }

.chart-light .chart__circle-dot {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 3px solid #fff;
  background: #2775FF;
  box-shadow: 0 2px 7px 0 rgba(39, 117, 255, 0.36);
  margin-left: -6px; }
  .chart-light .chart__circle-dot-wrapper {
    width: 65px;
    height: 65px;
    right: 0;
    left: auto;
    margin: 20px; }

.chart-light .chart__circle-counter {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #2775FF; }

.chart-triangled .chart__circle-counter {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #2775FF; }

.chart-vertical .chart__circle-counter {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #2775FF; }

.chart-triangled .chart__circle-dot {
  border-top: 14px solid #2775FF;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  width: 0;
  height: 0;
  box-shadow: none;
  margin-top: -24px;
  margin-left: -14px; }

.chart-light .chart__circle,
.chart-vertical .chart__circle,
.chart-2circles .chart__circle {
  background: #fff; }

.chart-vertical .chart__title {
  text-transform: uppercase; }

.chart-vertical .chart__circle {
  border: 2px solid #fff;
  overflow: hidden; }
  .chart-vertical .chart__circle_dark {
    border: 4px solid #fff; }
  .chart-vertical .chart__circle-counter {
    color: #fff;
    z-index: 3;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-timing-function: cubic-bezier(0.8, 0.2, 0.6, 0.6);
            transition-timing-function: cubic-bezier(0.8, 0.2, 0.6, 0.6);
    -webkit-transition-duration: 0.9s;
            transition-duration: 0.9s;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    top: -50%; }
  .chart-vertical .chart__circle-counter-over {
    position: absolute;
    top: 50%;
    color: #fff;
    left: 0;
    width: 100%;
    text-align: center;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    font-size: 42px;
    font-weight: 200;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
    font-family: Montserrat, sans-serif;
    z-index: 1; }
  .chart-vertical .chart__circle .gradient {
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    z-index: 2;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-timing-function: cubic-bezier(0.8, 0.2, 0.6, 0.6);
            transition-timing-function: cubic-bezier(0.8, 0.2, 0.6, 0.6);
    -webkit-transition-duration: 0.9s;
            transition-duration: 0.9s;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    position: absolute; }
    .chart-vertical .chart__circle .gradient > .gradient-bg {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #7202bb), to(#0F5AE0));
      background: linear-gradient(to bottom, #7202bb 10%, #0F5AE0 100%);
      -webkit-transition: all;
      transition: all;
      -webkit-transition-timing-function: cubic-bezier(0.8, 0.2, 0.6, 0.6);
              transition-timing-function: cubic-bezier(0.8, 0.2, 0.6, 0.6);
      -webkit-transition-duration: 0.9s;
              transition-duration: 0.9s;
      -webkit-transition-delay: 0s;
              transition-delay: 0s;
      position: absolute; }

.chart-icon .chart__title {
  text-transform: uppercase; }

.chart-icon .chart__circle-counter {
  display: none; }

.chart-icon .chart__circle-value {
  stroke-linecap: square; }

.chart-icon .chart__circle .icon {
  text-align: center;
  width: 100%;
  height: auto; }
  .chart-icon .chart__circle .icon i {
    vertical-align: middle;
    font-size: 56px; }

.chart-2circles .chart__circle {
  box-shadow: 0 3px 25px rgba(39, 117, 255, 0.25);
  border: none; }
  .chart-2circles .chart__circle-value {
    stroke-linecap: square; }
  .chart-2circles .chart__circle-counter {
    display: block;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    box-shadow: 0 5px 16px rgba(39, 117, 255, 0.5);
    line-height: 45px;
    vertical-align: middle;
    text-align: center;
    z-index: 3;
    background: #2775FF;
    color: #fff; }
  .chart-2circles .chart__circle .icon {
    height: 120px;
    width: 120px;
    line-height: 120px;
    vertical-align: middle;
    box-shadow: 0 0 40px 10px rgba(39, 117, 255, 0.23);
    border-radius: 100%; }
    .chart-2circles .chart__circle .icon i {
      line-height: 120px;
      vertical-align: middle;
      font-size: 46px;
      color: #272727; }

/*# sourceMappingURL=maps/progress-circles.css.map */
