/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
.brk-sc-masonry-one, .brk-sc-masonry-two__thumbnail {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
.brk-sc-masonry {
  /* Main */
  /* Main */
  /* Small */
  /* Small */
  /* One Style */
  /* One Style */
  /* Two Style */
  /* Two Style */
  /* Three Style */
  /* Three Style */
  /* Slider */
  /* Slider */ }
  .brk-sc-masonry_main-640 {
    height: 640px; }
    @media (max-width: 1199px) {
      .brk-sc-masonry_main-640 {
        height: 500px; } }
    @media (max-width: 991px) {
      .brk-sc-masonry_main-640 {
        height: 400px; } }
  .brk-sc-masonry_main-590 {
    height: 590px; }
  .brk-sc-masonry_main-570 {
    height: 570px !important; }
  .brk-sc-masonry_small-320 {
    height: 320px; }
    @media (max-width: 1199px) {
      .brk-sc-masonry_small-320 {
        height: 250px; } }
  .brk-sc-masonry_small-285 {
    height: 285px; }
  .brk-sc-masonry_small-270 {
    height: 270px; }
  .brk-sc-masonry-one {
    position: relative;
    /* Components */
    /* Components */ }
    .brk-sc-masonry-one:hover .brk-sc-masonry-one__layer,
    .brk-sc-masonry-one:hover .brk-sc-masonry-one__container {
      opacity: 1; }
    .brk-sc-masonry-one:hover .brk-sc-masonry-one__content {
      -webkit-transform: translateY(-50%) scale(1);
              transform: translateY(-50%) scale(1); }
    .brk-sc-masonry-one:hover .brk-sc-masonry-one__link {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
    .brk-sc-masonry-one__layer {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
      .brk-sc-masonry-one__layer--before {
        position: inherit;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    .brk-sc-masonry-one__container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      opacity: 0;
      overflow: hidden;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
    .brk-sc-masonry-one__content {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      z-index: 99;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      -webkit-transform: translateY(-50%) scale(0);
              transform: translateY(-50%) scale(0);
      padding: 15px 0; }
      .brk-sc-masonry-one__content:before {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 58px;
  height: 2px;
  border-radius: 1px;
  background-color: #69adff; }
      .brk-sc-masonry-one__content:after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 58px;
  height: 2px;
  border-radius: 1px;
  background-color: #69adff; }
      .brk-sc-masonry-one__content:before {
        top: 0; }
      .brk-sc-masonry-one__content:after {
        bottom: 0; }
    .brk-sc-masonry-one__title {
      font-size: 1.5rem;
      line-height: 26px; }
      @media (max-width: 767px) {
        .brk-sc-masonry-one__title {
          font-size: 1.125rem;
          line-height: 22px; } }
      .brk-sc-masonry-one__title h1, .brk-sc-masonry-one__title h2, .brk-sc-masonry-one__title h3, .brk-sc-masonry-one__title h4, .brk-sc-masonry-one__title h5 {
        color: inherit;
        font-size: inherit; }
    .brk-sc-masonry-one__price {
      font-size: 1.25rem;
      line-height: 22px;
      margin-top: 8px; }
    .brk-sc-masonry-one__link {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 39px;
      height: 39px;
      z-index: 99;
      padding: 5px 0 0 6px;
      -webkit-transform: translate(100%, 100%);
              transform: translate(100%, 100%);
      -webkit-transition: all .3s ease-in-out .05s;
      transition: all .3s ease-in-out .05s; }
      .brk-sc-masonry-one__link:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 39px solid transparent;
  border-bottom: 39px solid #69adff; }
      .brk-sc-masonry-one__link:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 39px solid transparent;
  border-bottom: 39px solid #69adff; }
      .brk-sc-masonry-one__link:before {
        top: -39px;
        right: 0; }
      .brk-sc-masonry-one__link:after {
        top: 0;
        left: -39px; }
      .brk-sc-masonry-one__link i {
        vertical-align: 0; }
  .brk-sc-masonry-two {
    position: relative;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 5px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #fff;
    /* Components */
    /* Components */ }
    .brk-sc-masonry-two:hover {
      z-index: 9; }
    .brk-sc-masonry-two[class*="brk-sc-masonry_narrow"][class*="brk-sc-masonry_small-"] {
      overflow: visible;
      background-color: #000; }
      .brk-sc-masonry-two[class*="brk-sc-masonry_narrow"][class*="brk-sc-masonry_small-"]:hover {
        -webkit-transform: translate(10px, 10px);
                transform: translate(10px, 10px); }
        .brk-sc-masonry-two[class*="brk-sc-masonry_narrow"][class*="brk-sc-masonry_small-"]:hover .brk-sc-masonry-two__container {
          -webkit-transform: translate(-20px, -20px);
                  transform: translate(-20px, -20px);
          box-shadow: 0 46px 50px rgba(0, 0, 0, 0.32);
          background-color: #1c2124; }
          .brk-sc-masonry-two[class*="brk-sc-masonry_narrow"][class*="brk-sc-masonry_small-"]:hover .brk-sc-masonry-two__container:before {
            background-color: rgba(37, 37, 37, 0.8); }
        .brk-sc-masonry-two[class*="brk-sc-masonry_narrow"][class*="brk-sc-masonry_small-"]:hover .brk-sc-masonry-two__description {
          opacity: 1; }
        .brk-sc-masonry-two[class*="brk-sc-masonry_narrow"][class*="brk-sc-masonry_small-"]:hover .brk-sc-masonry-two__buy {
          background-color: #303031; }
          .brk-sc-masonry-two[class*="brk-sc-masonry_narrow"][class*="brk-sc-masonry_small-"]:hover .brk-sc-masonry-two__buy .btn {
            opacity: 1; }
    .brk-sc-masonry-two__thumbnail {
      position: absolute;
      top: -webkit-calc(50% + 40px);
      top: calc(50% + 40px);
      left: 0;
      width: 100%;
      max-height: 100%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      padding: 30px 0;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      text-align: right;
      z-index: 1; }
      @media (max-width: 575px) {
        .brk-sc-masonry-two__thumbnail {
          right: 0; } }
      [class*="brk-sc-masonry_small-"] .brk-sc-masonry-two__thumbnail {
        width: 57%;
        left: auto;
        right: 0;
        top: 50%;
        max-height: 100%;
        padding: 10px 0; }
      [class*="brk-sc-masonry_narrow"][class*="brk-sc-masonry_small-"] .brk-sc-masonry-two__thumbnail {
        width: 100%;
        top: -webkit-calc(50% + 10px);
        top: calc(50% + 10px); }
    .brk-sc-masonry-two__container {
      position: relative;
      height: 100%;
      z-index: 2;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
      [class*="brk-sc-masonry_narrow"][class*="brk-sc-masonry_small-"] .brk-sc-masonry-two__container {
        overflow: hidden;
        border-radius: 5px; }
        [class*="brk-sc-masonry_narrow"][class*="brk-sc-masonry_small-"] .brk-sc-masonry-two__container:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
          z-index: 2; }
    .brk-sc-masonry-two__layer {
      position: relative;
      height: 100%;
      z-index: 3;
      padding: 31px 15px 90px 35px; }
      @media (min-width: 992px) and (max-width: 1229px) {
        .brk-sc-masonry-two__layer {
          padding: 15px 15px 90px; } }
      @media (min-width: 576px) and (max-width: 767px) {
        .brk-sc-masonry-two__layer {
          padding: 15px 15px 90px; } }
      @media (max-width: 575px) {
        .brk-sc-masonry-two__layer {
          padding: 20px 15px 90px 15px; } }
    .brk-sc-masonry-two__top-content {
      width: 100%;
      padding: 38px 0 0 38px; }
      @media (max-width: 575px) {
        .brk-sc-masonry-two__top-content {
          padding: 20px 20px 0; } }
      [class*="brk-sc-masonry_small-"] .brk-sc-masonry-two__top-content {
        padding: 33px 0 0 38px; }
    .brk-sc-masonry-two__bottom-content {
      width: 100%;
      padding: 0 0 38px 38px; }
      @media (max-width: 575px) {
        .brk-sc-masonry-two__bottom-content {
          padding: 0 20px 20px; } }
    .brk-sc-masonry-two__description {
      width: 100%;
      max-width: 380px;
      font-size: 0.9375rem;
      line-height: 24px;
      margin-top: 18px; }
      [class*="brk-sc-masonry_small-"] .brk-sc-masonry-two__description {
        max-width: 210px;
        margin-top: 10px; }
      [class*="brk-sc-masonry_narrow"][class*="brk-sc-masonry_small-"] .brk-sc-masonry-two__description {
        max-width: 9999px;
        margin-top: 21px;
        opacity: 0;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
        @media (min-width: 992px) and (max-width: 1229px) {
          [class*="brk-sc-masonry_narrow"][class*="brk-sc-masonry_small-"] .brk-sc-masonry-two__description {
            margin-top: 5px;
            font-size: 0.75rem;
            line-height: 18px; } }
    .brk-sc-masonry-two__price .old-price {
      text-decoration: line-through;
      letter-spacing: 0.04em; }
    .brk-sc-masonry-two__price .price {
      letter-spacing: 0.06em;
      margin-top: 11px; }
      [class*="brk-sc-masonry_long"][class*="brk-sc-masonry_small-"] .brk-sc-masonry-two__price .price {
        margin-right: 10px; }
    .brk-sc-masonry-two__links {
      margin-top: 18px; }
      .brk-sc-masonry-two__links .btn {
        min-width: 98px;
        min-height: 40px;
        box-shadow: none;
        padding: 8px;
        margin: 0 6px 10px 0; }
        .brk-sc-masonry-two__links .btn.btn-prime {
          color: #cdcdcd; }
          .brk-sc-masonry-two__links .btn.btn-prime:hover {
            color: #cdcdcd !important; }
          .brk-sc-masonry-two__links .btn.btn-prime .before,
          .brk-sc-masonry-two__links .btn.btn-prime .after {
            background-color: rgba(205, 205, 205, 0.15) !important; }
          .brk-sc-masonry-two__links .btn.btn-prime .border-btn {
            border-color: #cdcdcd; }
        .brk-sc-masonry-two__links .btn.btn-inside-out .before {
          padding-top: 8px; }
      .brk-sc-masonry-two__links_colored .btn.btn-inside-out:hover {
        background-color: #71a74c !important;
        color: #fff !important; }
        .brk-sc-masonry-two__links_colored .btn.btn-inside-out:hover i:before {
          color: #fff !important; }
      .brk-sc-masonry-two__links_colored .btn.btn-inside-out .before,
      .brk-sc-masonry-two__links_colored .btn.btn-inside-out .after {
        background-color: #8cc54f !important; }
      .brk-sc-masonry-two__links .wishlist {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        background-color: #f0f1ef; }
        .brk-sc-masonry-two__links .wishlist:hover i {
          -webkit-animation: palpitation 1s linear infinite;
                  animation: palpitation 1s linear infinite; }
        .brk-sc-masonry-two__links .wishlist i {
          vertical-align: 0;
          font-size: 0.8125rem;
          opacity: .7; }

@-webkit-keyframes palpitation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes palpitation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
    .brk-sc-masonry-two__buy {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 86px;
      padding-right: 15px;
      padding-left: 35px;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      -webkit-box-pack: justify;
              justify-content: space-between; }
      @media (min-width: 992px) and (max-width: 1229px) {
        .brk-sc-masonry-two__buy {
          -webkit-box-pack: start;
                  justify-content: flex-start;
          padding-right: 0;
          padding-left: 15px; } }
      @media (max-width: 991px) {
        .brk-sc-masonry-two__buy {
          -webkit-box-pack: justify;
                  justify-content: space-between;
          padding: 0 15px; } }
      .brk-sc-masonry-two__buy .price {
        margin-right: 8px;
        letter-spacing: 0.04em;
        font-size: 1.25rem; }
        @media (min-width: 992px) and (max-width: 1229px) {
          .brk-sc-masonry-two__buy .price {
            margin-right: 0; } }
        @media (max-width: 374px) {
          .brk-sc-masonry-two__buy .price {
            font-size: 1rem; } }
      .brk-sc-masonry-two__buy .btn {
        box-shadow: none;
        background-color: transparent;
        min-width: 130px;
        min-height: 42px;
        opacity: 0;
        margin: 0;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
      .brk-sc-masonry-two__buy_colored .btn:hover {
        color: #fff !important; }
      .brk-sc-masonry-two__buy_colored .btn .border-btn {
        border-color: #8cc54f; }
      .brk-sc-masonry-two__buy_colored .btn.btn-prime:hover > .before,
      .brk-sc-masonry-two__buy_colored .btn.btn-prime:hover > .after {
        background-color: rgba(140, 197, 79, 0.3) !important; }
  .brk-sc-masonry-three {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #fff;
    /* Components */
    /* Components */ }
    .brk-bordered-theme .brk-sc-masonry-three {
      border-radius: inherit; }
    .brk-sc-masonry-three:hover {
      box-shadow: 3px 4px 30px rgba(0, 0, 0, 0.3); }
      .brk-sc-masonry-three:hover .brk-sc-masonry-three__bottom-content .brk-rating__layer i {
  color: #fff; }
      .brk-sc-masonry-three:hover .brk-sc-masonry-three__bottom-content .brk-rating__imposition i {
  color: #fff; }
      .brk-sc-masonry-three:hover .brk-sc-masonry-three__bottom-content .btn {
        opacity: 1; }
      .brk-sc-masonry-three:hover .brk-sc-masonry-three__title {
        color: #fff; }
      .brk-sc-masonry-three:hover .brk-sc-masonry-three__price .old-price {
  color: #fff; }
      .brk-sc-masonry-three:hover .brk-sc-masonry-three__price .price {
  color: #fff; }
    .brk-sc-masonry-three:not(:hover) .brk-abs-overlay {
      opacity: 0; }
    .brk-sc-masonry-three .brk-abs-overlay {
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      z-index: 2; }
    .brk-sc-masonry-three__thumbnail {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 1;
      padding: 85px 15px; }
      [class*="brk-sc-masonry_small-"] .brk-sc-masonry-three__thumbnail {
        padding: 0;
        width: auto;
        height: auto;
        bottom: -1px;
        top: auto; }
      .brk-sc-masonry-three__thumbnail img {
        max-height: 100%; }
    .brk-sc-masonry-three__container {
      position: relative;
      height: 100%;
      z-index: 3;
      -webkit-box-pack: justify;
              justify-content: space-between;
      align-content: flex-start; }
      [class*="brk-sc-masonry_narrow"] .brk-sc-masonry-three__container {
        align-content: space-between; }
    .brk-sc-masonry-three__top-content {
      padding: 26px 0 26px 30px; }
    .brk-sc-masonry-three__bottom-content {
      padding: 26px 26px 26px 0;
      -webkit-box-pack: end;
              justify-content: flex-end;
      -webkit-box-align: start;
              align-items: flex-start; }
      [class*="brk-sc-masonry_narrow"] .brk-sc-masonry-three__bottom-content {
        width: 100%;
        -webkit-box-pack: justify !important;
                justify-content: space-between !important;
        padding: 26px; }
      .brk-sc-masonry-three__bottom-content .btn {
        border-radius: 3px;
        min-width: 78px;
        min-height: 48px;
        margin: 0 20px 0 0;
        padding: 12px;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        opacity: 0; }
        [class*="brk-sc-masonry_narrow"] .brk-sc-masonry-three__bottom-content .btn {
          margin-right: 5px; }
        .brk-sc-masonry-three__bottom-content .btn i {
          font-weight: 700;
          margin: 0;
          margin-left: 5px; }
      .brk-sc-masonry-three__bottom-content .brk-rating {
        float: right; }
    .brk-sc-masonry-three__title {
      font-size: 1.3125rem;
      line-height: 24px;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
      .brk-sc-masonry-three__title h1, .brk-sc-masonry-three__title h2, .brk-sc-masonry-three__title h3, .brk-sc-masonry-three__title h4, .brk-sc-masonry-three__title h5 {
        color: inherit;
        font-size: inherit;
        letter-spacing: -0.01em; }
    .brk-sc-masonry-three__category {
      display: inline-block;
      font-size: 0.75rem;
      line-height: 16px;
      padding: 0 4px;
      margin-top: 7px; }
    .brk-sc-masonry-three__price {
      text-align: right;
      width: 100%;
      margin-bottom: 6px; }
      .brk-sc-masonry-three__price .old-price {
        font-size: 0.875rem;
        line-height: 26px;
        text-decoration: line-through;
        margin-right: 12px;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
      .brk-sc-masonry-three__price .price {
        font-size: 1.3125rem;
        line-height: 24px;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
    .brk-sc-masonry-three .brk-rating__layer i,
    .brk-sc-masonry-three .brk-rating__imposition i {
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
  .brk-sc-masonry-slider {
    position: relative; }
    .brk-sc-masonry-slider .swiper-container,
    .brk-sc-masonry-slider .swiper-wrapper,
    .brk-sc-masonry-slider .swiper-slide {
      position: relative; }

/*# sourceMappingURL=maps/shop-components-masonry.css.map */
