/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
.brk-sc-honeycomb-five__thumb {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
.brk-sc-honeycomb {
  position: relative;
  width: 100%;
  min-height: 200px; }
  .brk-sc-honeycomb_line {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
            justify-content: center; }
  .brk-sc-honeycomb-one {
    position: relative;
    width: 220px;
    height: 380px;
    box-shadow: 0 1px 14px rgba(0, 0, 0, 0.06);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin: 30px 0;
    background-color: #fff;
    /* Modifiers */
    /* Modifiers */
    /* Components */
    /* Components */ }
    @media (min-width: 992px) and (max-width: 1229px) {
      .brk-sc-honeycomb-one {
        width: 180px;
        height: 312px; } }
    @media (max-width: 575px) {
      .brk-sc-honeycomb-one {
        width: 160px;
        height: 278px; } }
    .brk-sc-honeycomb-one_center {
      margin-left: auto;
      margin-right: auto; }
    .brk-sc-honeycomb-one_left {
      position: absolute;
      top: 175px;
      left: 114px; }
      @media (min-width: 992px) and (max-width: 1229px) {
        .brk-sc-honeycomb-one_left {
          top: 141px;
          left: 86px; } }
      @media (max-width: 991px) {
        .brk-sc-honeycomb-one_left {
          position: relative;
          top: auto;
          left: auto;
          margin-left: auto;
          margin-right: auto; } }
    .brk-sc-honeycomb-one_right {
      position: absolute;
      top: 175px;
      right: 114px; }
      @media (min-width: 992px) and (max-width: 1229px) {
        .brk-sc-honeycomb-one_right {
          top: 141px;
          right: 86px; } }
      @media (max-width: 991px) {
        .brk-sc-honeycomb-one_right {
          position: relative;
          top: auto;
          right: auto;
          margin-left: auto;
          margin-right: auto; } }
    .brk-sc-honeycomb-one:hover {
      box-shadow: 0 6px 50px rgba(22, 0, 186, 0.3); }
      .brk-sc-honeycomb-one:hover .brk-sc-honeycomb-one__title {
        color: #fff; }
      .brk-sc-honeycomb-one:hover .brk-sc-honeycomb-one__content {
        padding-top: 80px; }
        @media (min-width: 992px) and (max-width: 1229px) {
          .brk-sc-honeycomb-one:hover .brk-sc-honeycomb-one__content {
            padding-top: 60px; } }
        @media (max-width: 575px) {
          .brk-sc-honeycomb-one:hover .brk-sc-honeycomb-one__content {
            padding-top: 60px; } }
      .brk-sc-honeycomb-one:hover .brk-sc-honeycomb-one__layer {
        opacity: 1; }
      .brk-sc-honeycomb-one:hover .brk-sc-honeycomb-one__thumb {
        -webkit-transform: scale(0);
                transform: scale(0);
        max-height: 0; }
      .brk-sc-honeycomb-one:hover .brk-sc-honeycomb-one__desc {
        -webkit-transform: scale(1);
                transform: scale(1);
        max-height: 999px;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
      .brk-sc-honeycomb-one:hover .brk-sc-honeycomb-one__buy {
        bottom: 80px;
        -webkit-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
        box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        color: #2775FF; }
        @media (min-width: 992px) and (max-width: 1229px) {
          .brk-sc-honeycomb-one:hover .brk-sc-honeycomb-one__buy {
            bottom: 30px; } }
        @media (max-width: 575px) {
          .brk-sc-honeycomb-one:hover .brk-sc-honeycomb-one__buy {
            bottom: 30px; } }
      .brk-sc-honeycomb-one:hover .added_to_cart {
        opacity: 1; }
    .brk-sc-honeycomb-one:before, .brk-sc-honeycomb-one:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: inherit;
      box-shadow: inherit;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      -webkit-transform-origin: center center;
              transform-origin: center center; }
    .brk-sc-honeycomb-one:before {
      -webkit-transform: translate(-50%, -50%) rotate(60deg);
              transform: translate(-50%, -50%) rotate(60deg); }
    .brk-sc-honeycomb-one:after {
      -webkit-transform: translate(-50%, -50%) rotate(-60deg);
              transform: translate(-50%, -50%) rotate(-60deg); }
    .brk-sc-honeycomb-one__hex-1, .brk-sc-honeycomb-one__hex-2 {
      position: absolute;
      background: inherit;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 1; }
    .brk-sc-honeycomb-one__hex-1 {
      -webkit-transform: translate(-50%, -50%) rotate(60deg);
              transform: translate(-50%, -50%) rotate(60deg); }
    .brk-sc-honeycomb-one__hex-2 {
      -webkit-transform: translate(-50%, -50%) rotate(-60deg);
              transform: translate(-50%, -50%) rotate(-60deg); }
    .brk-sc-honeycomb-one__layer {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      z-index: 2;
      width: 200%;
      height: 100%;
      opacity: 0;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
              clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%); }
    .brk-sc-honeycomb-one__content {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 3;
      text-align: center;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      padding-top: 50px; }
    .brk-sc-honeycomb-one__title {
      font-size: 1.3125rem;
      line-height: 25px;
      text-transform: uppercase;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      min-height: 50px;
      font-weight: 200; }
      @media (min-width: 992px) and (max-width: 1229px) {
        .brk-sc-honeycomb-one__title {
          font-size: 1rem;
          line-height: 20px;
          min-height: 40px; } }
      @media (max-width: 575px) {
        .brk-sc-honeycomb-one__title {
          font-size: 0.875rem;
          line-height: 18px;
          min-height: 36px;
          font-weight: 300; } }
    .brk-sc-honeycomb-one__thumb {
      width: 100%;
      height: 250px;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      margin-top: 5px; }
      @media (min-width: 992px) and (max-width: 1229px) {
        .brk-sc-honeycomb-one__thumb {
          height: 165px; } }
      @media (max-width: 575px) {
        .brk-sc-honeycomb-one__thumb {
          height: 130px; } }
      .brk-sc-honeycomb-one__thumb img {
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%; }
    .brk-sc-honeycomb-one__desc {
      font-size: 1rem;
      line-height: 26px;
      font-weight: 300;
      -webkit-transform: scale(0);
              transform: scale(0);
      margin-top: 16px;
      max-height: 0;
      color: #e8ecff; }
      @media (min-width: 992px) and (max-width: 1229px) {
        .brk-sc-honeycomb-one__desc {
          font-size: 0.875rem;
          line-height: 18px;
          margin-top: 5px; } }
      @media (max-width: 575px) {
        .brk-sc-honeycomb-one__desc {
          font-size: 0.8125rem;
          line-height: 17px;
          margin-top: 5px; } }
    .brk-sc-honeycomb-one__buy {
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 50%);
              transform: translate(-50%, 50%);
      width: 162px;
      height: 44px;
      font-size: 1rem;
      line-height: 44px;
      border-radius: 22px;
      display: inline-block;
      text-align: center;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      color: #fff;
      box-shadow: 0 5px 16px rgba(39, 117, 255, 0.5); }
      @media (max-width: 575px) {
        .brk-sc-honeycomb-one__buy {
          width: 130px;
          height: 38px;
          line-height: 38px;
          font-size: 0.875rem;
          border-radius: 18px; } }
      .brk-sc-honeycomb-one__buy .price {
        margin-right: 9px; }
      .brk-sc-honeycomb-one__buy i {
        margin-top: -6px;
        vertical-align: middle; }
    .brk-sc-honeycomb-one .added_to_cart {
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      margin: 0;
      padding-top: 5px;
      padding-bottom: 5px;
      z-index: 99;
      font-size: 0.875rem;
      font-weight: 500;
      opacity: 0;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
    .brk-sc-honeycomb-one__right-sticker, .brk-sc-honeycomb-one__left-sticker {
      position: absolute;
      top: 0;
      z-index: 4;
      overflow: hidden;
      width: 109px;
      height: 103px; }
      .brk-sc-honeycomb-one__right-sticker-layer, .brk-sc-honeycomb-one__left-sticker-layer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 145%;
        overflow: hidden; }
      .brk-sc-honeycomb-one__right-sticker-value, .brk-sc-honeycomb-one__left-sticker-value {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 102%; }
        .brk-sc-honeycomb-one__right-sticker-value span, .brk-sc-honeycomb-one__left-sticker-value span {
          position: absolute;
          font-size: 1rem;
          letter-spacing: 0.07em; }
    .brk-sc-honeycomb-one__right-sticker {
      right: 0;
      -webkit-transform: translateX(55%);
              transform: translateX(55%); }
      .brk-sc-honeycomb-one__right-sticker-layer {
        right: 0;
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
        -webkit-transform: rotate(-30deg);
                transform: rotate(-30deg); }
      .brk-sc-honeycomb-one__right-sticker-value {
        left: 100%;
        -webkit-transform-origin: 0 100%;
                transform-origin: 0 100%;
        -webkit-transform: rotate(-16.5deg);
                transform: rotate(-16.5deg);
        background-image: linear-gradient(160deg, #00c6ff, #00f6ff); }
        .brk-sc-honeycomb-one__right-sticker-value span {
          top: 34px;
          left: 25px;
          -webkit-transform-origin: 0 0;
                  transform-origin: 0 0;
          -webkit-transform: rotate(90deg);
                  transform: rotate(90deg); }
    .brk-sc-honeycomb-one__left-sticker {
      left: 0;
      -webkit-transform: translateX(-55%);
              transform: translateX(-55%); }
      .brk-sc-honeycomb-one__left-sticker-layer {
        left: 0;
        -webkit-transform-origin: 0 100%;
                transform-origin: 0 100%;
        -webkit-transform: rotate(30deg);
                transform: rotate(30deg); }
      .brk-sc-honeycomb-one__left-sticker-value {
        right: 100%;
        -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
        -webkit-transform: rotate(16.5deg);
                transform: rotate(16.5deg);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(1%, #4f34c9), to(#b50aff));
        background-image: linear-gradient(to right, #4f34c9 1%, #b50aff); }
        .brk-sc-honeycomb-one__left-sticker-value span {
          top: 4px;
          right: 0;
          -webkit-transform-origin: 100% 100%;
                  transform-origin: 100% 100%;
          -webkit-transform: rotate(-90deg);
                  transform: rotate(-90deg); }
  .brk-sc-honeycomb-two {
    position: relative;
    width: 140px;
    height: 243px;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin: 40px 70px;
    background-color: #fff;
    /* Modifiers */
    /* Modifiers */
    /* Components */
    /* Components */ }
    @media (min-width: 992px) and (max-width: 1199px) {
      .brk-sc-honeycomb-two:nth-child(4) {
        position: absolute;
        top: 280px;
        left: 107px;
        margin: 40px 70px !important; }
      .brk-sc-honeycomb-two:nth-child(5) {
        position: absolute;
        top: 280px;
        right: 107px;
        margin: 40px 70px !important; } }
    .brk-sc-honeycomb-two_cell {
      margin: 175px 12px 40px; }
      @media (min-width: 992px) and (max-width: 1199px) {
        .brk-sc-honeycomb-two_cell {
          margin: 180px 12px 40px; } }
      @media (max-width: 991px) {
        .brk-sc-honeycomb-two_cell {
          margin: 40px 70px; } }
    .brk-sc-honeycomb-two:hover .brk-sc-honeycomb-two__content {
      -webkit-transform: translateX(-50%) scale(1);
              transform: translateX(-50%) scale(1); }
    .brk-sc-honeycomb-two:hover .brk-sc-honeycomb-two__layer {
      opacity: 1; }
    .brk-sc-honeycomb-two:hover .brk-sc-honeycomb-two__sticker {
      box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12);
      background-color: #fff;
      color: #2775FF; }
    .brk-sc-honeycomb-two:hover .brk-sc-honeycomb-two__buy {
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
      background-color: #fff; }
      .brk-sc-honeycomb-two:hover .brk-sc-honeycomb-two__buy .price {
        -webkit-transform: translate(-50%, -50%) scale(0);
                transform: translate(-50%, -50%) scale(0); }
      .brk-sc-honeycomb-two:hover .brk-sc-honeycomb-two__buy .buy {
        -webkit-transform: translate(-50%, -50%) scale(1);
                transform: translate(-50%, -50%) scale(1); }
    .brk-sc-honeycomb-two:hover .added_to_cart {
      opacity: 1; }
    .brk-sc-honeycomb-two:before, .brk-sc-honeycomb-two:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: inherit;
      box-shadow: inherit;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      -webkit-transform-origin: center center;
              transform-origin: center center; }
    .brk-sc-honeycomb-two:before {
      -webkit-transform: translate(-50%, -50%) rotate(60deg);
              transform: translate(-50%, -50%) rotate(60deg); }
    .brk-sc-honeycomb-two:after {
      -webkit-transform: translate(-50%, -50%) rotate(-60deg);
              transform: translate(-50%, -50%) rotate(-60deg); }
    .brk-sc-honeycomb-two__hex-1, .brk-sc-honeycomb-two__hex-2 {
      position: absolute;
      background: inherit;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 1; }
    .brk-sc-honeycomb-two__hex-1 {
      -webkit-transform: translate(-50%, -50%) rotate(60deg);
              transform: translate(-50%, -50%) rotate(60deg); }
    .brk-sc-honeycomb-two__hex-2 {
      -webkit-transform: translate(-50%, -50%) rotate(-60deg);
              transform: translate(-50%, -50%) rotate(-60deg); }
    .brk-sc-honeycomb-two__layer {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      z-index: 3;
      width: 200%;
      height: 100%;
      opacity: 0;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
              clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%); }
    .brk-sc-honeycomb-two__thumb {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 2;
      text-align: center;
      padding: 27px 0 50px; }
      .brk-sc-honeycomb-two__thumb img {
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%; }
    .brk-sc-honeycomb-two__content {
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%) scale(0);
              transform: translateX(-50%) scale(0);
      width: 120%;
      height: 100%;
      padding: 25px 0;
      z-index: 4;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
    .brk-sc-honeycomb-two__title {
      font-size: 1.125rem;
      line-height: 24px;
      font-weight: bold;
      margin-bottom: 12px; }
    .brk-sc-honeycomb-two__desc {
      font-size: 0.875rem;
      line-height: 23px;
      color: rgba(255, 255, 255, 0.6); }
    .brk-sc-honeycomb-two__sticker {
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      min-width: 58px;
      height: 21px;
      padding: 0 10px;
      font-size: 0.75rem;
      line-height: 22px;
      text-align: center;
      border-radius: 11px;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      z-index: 9;
      color: #fff;
      background-color: #2775FF;
      box-shadow: 0 5px 16px rgba(39, 117, 255, 0.5); }
    .brk-sc-honeycomb-two__buy {
      position: absolute;
      left: 50%;
      bottom: 0;
      -webkit-transform: translate(-50%, 50%);
              transform: translate(-50%, 50%);
      z-index: 9;
      width: 106px;
      height: 42px;
      border-radius: 21px;
      font-size: 1rem;
      line-height: 18px;
      font-weight: bold;
      display: block;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      background-color: #2775FF;
      box-shadow: 0 5px 16px rgba(39, 117, 255, 0.5); }
      .brk-sc-honeycomb-two__buy .price {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        text-align: center;
        -webkit-transform: translate(-50%, -50%) scale(1);
                transform: translate(-50%, -50%) scale(1);
        -webkit-transition: inherit;
        transition: inherit;
        color: #fff; }
      .brk-sc-honeycomb-two__buy .buy {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        -webkit-transform: translate(-50%, -50%) scale(0);
                transform: translate(-50%, -50%) scale(0);
        -webkit-transition: inherit;
        transition: inherit;
        color: #2775FF; }
        .brk-sc-honeycomb-two__buy .buy i {
          vertical-align: 0;
          margin-left: 3px;
          margin-right: 3px; }
    .brk-sc-honeycomb-two .added_to_cart {
      position: absolute;
      z-index: 9;
      bottom: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 50%);
              transform: translate(-50%, 50%);
      margin: 0;
      font-size: 0.8125rem;
      padding: 9px 20px;
      opacity: 0;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
  .brk-sc-honeycomb-three {
    position: relative;
    width: 135px;
    height: 234px;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin: 40px 68px;
    background-color: #fff;
    /* Components */
    /* Components */ }
    @media (max-width: 767px) {
      .brk-sc-honeycomb-three {
        margin: 25px 68px !important; } }
    .brk-sc-honeycomb-three:nth-child(even) {
      margin-top: 175px; }
    .brk-sc-honeycomb-three:nth-child(2) {
      margin-left: 98px;
      margin-right: 80px; }
      @media (max-width: 1229px) {
        .brk-sc-honeycomb-three:nth-child(2) {
          margin-left: 20px;
          margin-right: 44px; } }
      @media (max-width: 991px) {
        .brk-sc-honeycomb-three:nth-child(2) {
          margin-right: 20px; } }
    .brk-sc-honeycomb-three:nth-child(3) {
      margin-left: 80px;
      margin-right: 98px; }
      @media (max-width: 1229px) {
        .brk-sc-honeycomb-three:nth-child(3) {
          margin-left: 44px;
          margin-right: 20px; } }
      @media (max-width: 991px) {
        .brk-sc-honeycomb-three:nth-child(3) {
          margin-left: 68px;
          margin-right: 68px; } }
    @media (max-width: 991px) {
      .brk-sc-honeycomb-three:nth-child(4) {
        margin-top: 0; } }
    .brk-sc-honeycomb-three:hover .brk-sc-honeycomb-three__content {
      -webkit-transform: translateX(-50%) scale(1);
              transform: translateX(-50%) scale(1); }
    .brk-sc-honeycomb-three:hover .brk-sc-honeycomb-three__layer {
      opacity: 1; }
    .brk-sc-honeycomb-three:hover .brk-sc-honeycomb-three__sticker {
      box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12);
      background-color: #fff;
      color: #2775FF; }
    .brk-sc-honeycomb-three:hover .brk-sc-honeycomb-three__buy {
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
      background-color: #fff; }
      .brk-sc-honeycomb-three:hover .brk-sc-honeycomb-three__buy .price {
        -webkit-transform: translate(-50%, -50%) scale(0);
                transform: translate(-50%, -50%) scale(0); }
      .brk-sc-honeycomb-three:hover .brk-sc-honeycomb-three__buy .buy {
        -webkit-transform: translate(-50%, -50%) scale(1);
                transform: translate(-50%, -50%) scale(1); }
    .brk-sc-honeycomb-three:hover .added_to_cart {
      opacity: 1; }
    .brk-sc-honeycomb-three:hover .brk-sc-honeycomb-three__before {
      -webkit-animation: pulse-honeycomb-three 1.5s infinite;
              animation: pulse-honeycomb-three 1.5s infinite;
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s; }
    .brk-sc-honeycomb-three:hover .brk-sc-honeycomb-three__after {
      -webkit-animation: pulse-honeycomb-three 1.5s infinite;
              animation: pulse-honeycomb-three 1.5s infinite; }

@-webkit-keyframes pulse-honeycomb-three {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1); }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.55);
            transform: translate(-50%, -50%) scale(1.55); }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 0; } }

@keyframes pulse-honeycomb-three {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1); }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.55);
            transform: translate(-50%, -50%) scale(1.55); }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 0; } }
    .brk-sc-honeycomb-three:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: -1;
  box-shadow: inherit;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  background-color: rgba(39, 117, 255, 0.1); }
    .brk-sc-honeycomb-three:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: -1;
  box-shadow: inherit;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  background-color: rgba(39, 117, 255, 0.1); }
    .brk-sc-honeycomb-three:before {
      -webkit-transform: translate(-50%, -50%) rotate(60deg);
              transform: translate(-50%, -50%) rotate(60deg); }
    .brk-sc-honeycomb-three:after {
      -webkit-transform: translate(-50%, -50%) rotate(-60deg);
              transform: translate(-50%, -50%) rotate(-60deg); }
    .brk-sc-honeycomb-three__hex-1, .brk-sc-honeycomb-three__hex-2 {
      position: absolute;
      background: inherit;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: 1; }
    .brk-sc-honeycomb-three__hex-1 {
      -webkit-transform: translate(-50%, -50%) rotate(60deg);
              transform: translate(-50%, -50%) rotate(60deg); }
    .brk-sc-honeycomb-three__hex-2 {
      -webkit-transform: translate(-50%, -50%) rotate(-60deg);
              transform: translate(-50%, -50%) rotate(-60deg); }
    .brk-sc-honeycomb-three__before, .brk-sc-honeycomb-three__after {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 199%;
      height: 99%;
      -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
              clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
      z-index: -2; }
    .brk-sc-honeycomb-three__layer {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      z-index: 3;
      width: 200%;
      height: 100%;
      opacity: 0;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
              clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%); }
    .brk-sc-honeycomb-three__thumb {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 2;
      text-align: center;
      padding: 27px 0 50px; }
      .brk-sc-honeycomb-three__thumb img {
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%; }
    .brk-sc-honeycomb-three__content {
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%) scale(0);
              transform: translateX(-50%) scale(0);
      width: 120%;
      height: 100%;
      padding: 25px 0;
      z-index: 4;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
    .brk-sc-honeycomb-three__title {
      font-size: 1.125rem;
      line-height: 24px;
      font-weight: bold;
      margin-bottom: 12px; }
    .brk-sc-honeycomb-three__desc {
      font-size: 0.875rem;
      line-height: 23px;
      color: rgba(255, 255, 255, 0.6); }
    .brk-sc-honeycomb-three__sticker {
      position: absolute;
      top: -25px;
      right: -24px;
      width: 62px;
      height: 62px;
      font-size: 1rem;
      line-height: 62px;
      text-align: center;
      border-radius: 50%;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      z-index: 9;
      color: #fff;
      box-shadow: 0 5px 16px rgba(39, 117, 255, 0.5); }
    .brk-sc-honeycomb-three__buy {
      position: absolute;
      left: 50%;
      bottom: 0;
      -webkit-transform: translate(-50%, 50%);
              transform: translate(-50%, 50%);
      z-index: 9;
      width: 106px;
      height: 42px;
      border-radius: 21px;
      font-size: 1rem;
      line-height: 18px;
      font-weight: bold;
      display: block;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      background-color: #2775FF;
      box-shadow: 0 5px 16px rgba(39, 117, 255, 0.5); }
      .brk-sc-honeycomb-three__buy .price {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        text-align: center;
        -webkit-transform: translate(-50%, -50%) scale(1);
                transform: translate(-50%, -50%) scale(1);
        -webkit-transition: inherit;
        transition: inherit;
        color: #fff; }
      .brk-sc-honeycomb-three__buy .buy {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        -webkit-transform: translate(-50%, -50%) scale(0);
                transform: translate(-50%, -50%) scale(0);
        -webkit-transition: inherit;
        transition: inherit;
        color: #2775FF; }
        .brk-sc-honeycomb-three__buy .buy i {
          vertical-align: 0;
          margin-left: 3px; }
    .brk-sc-honeycomb-three .added_to_cart {
      position: absolute;
      z-index: 9;
      bottom: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 50%);
              transform: translate(-50%, 50%);
      margin: 0;
      font-size: 0.8125rem;
      padding: 9px 20px;
      opacity: 0;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
  .brk-sc-honeycomb-four {
    position: relative;
    width: 220px;
    height: 380px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin: 15px 0;
    background-color: #f5f5f5;
    /* Modifiers */
    /* Modifiers */
    /* Components */
    /* Components */ }
    @media (min-width: 992px) and (max-width: 1229px) {
      .brk-sc-honeycomb-four {
        width: 180px;
        height: 312px; } }
    @media (max-width: 575px) {
      .brk-sc-honeycomb-four {
        width: 160px;
        height: 278px; } }
    .brk-sc-honeycomb-four_center {
      margin-top: 220px;
      margin-left: auto;
      margin-right: auto; }
      @media (max-width: 1229px) {
        .brk-sc-honeycomb-four_center {
          margin-top: 190px; } }
      @media (max-width: 991px) {
        .brk-sc-honeycomb-four_center {
          margin: 15px auto; } }
    .brk-sc-honeycomb-four_left {
      position: absolute;
      top: 0;
      left: 114px; }
      @media (min-width: 992px) and (max-width: 1229px) {
        .brk-sc-honeycomb-four_left {
          left: 86px; } }
      @media (max-width: 991px) {
        .brk-sc-honeycomb-four_left {
          position: relative;
          top: auto;
          left: auto;
          margin-left: auto;
          margin-right: auto; } }
    .brk-sc-honeycomb-four_right {
      position: absolute;
      top: 0;
      right: 114px; }
      @media (min-width: 992px) and (max-width: 1229px) {
        .brk-sc-honeycomb-four_right {
          right: 86px; } }
      @media (max-width: 991px) {
        .brk-sc-honeycomb-four_right {
          position: relative;
          top: auto;
          right: auto;
          margin-left: auto;
          margin-right: auto; } }
    .brk-sc-honeycomb-four:hover .brk-sc-honeycomb-four__title {
      color: #fff; }
    .brk-sc-honeycomb-four:hover .brk-rating__layer i {
  color: #fff; }
    .brk-sc-honeycomb-four:hover .brk-rating__imposition i {
  color: #fff; }
    .brk-sc-honeycomb-four:hover .brk-sc-honeycomb-four__layer {
      opacity: 1; }
    .brk-sc-honeycomb-four:before, .brk-sc-honeycomb-four:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: inherit;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      -webkit-transform-origin: center center;
              transform-origin: center center; }
    .brk-sc-honeycomb-four:before {
      -webkit-transform: translate(-50%, -50%) rotate(60deg);
              transform: translate(-50%, -50%) rotate(60deg); }
    .brk-sc-honeycomb-four:after {
      -webkit-transform: translate(-50%, -50%) rotate(-60deg);
              transform: translate(-50%, -50%) rotate(-60deg); }
    .brk-sc-honeycomb-four__layer {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      z-index: 2;
      width: 200%;
      height: 100%;
      opacity: 0;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
              clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%); }
      .brk-sc-honeycomb-four__layer-over {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    .brk-sc-honeycomb-four__thumb {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 1;
      -webkit-transform: translateX(50%);
              transform: translateX(50%);
      -webkit-clip-path: polygon(0% 0%, 50% 0, 100% 50%, 50% 100%, 0% 100%);
              clip-path: polygon(0% 0%, 50% 0, 100% 50%, 50% 100%, 0% 100%); }
      .brk-sc-honeycomb-four__thumb img {
        position: absolute;
        max-width: 100%;
        height: auto;
        max-height: 300px;
        bottom: 0;
        left: 0; }
    .brk-sc-honeycomb-four__content {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      width: 100%;
      height: 100%; }
    .brk-sc-honeycomb-four__sticker {
      font-size: 0.6875rem;
      line-height: 16px;
      text-transform: uppercase;
      margin-bottom: 16px; }
      .brk-sc-honeycomb-four__sticker .category,
      .brk-sc-honeycomb-four__sticker .stic {
        padding: 0 5px;
        height: 16px;
        border-radius: 3px;
        margin: 1px 1px 1px 0;
        font-weight: 600;
        display: inline-block; }
    .brk-sc-honeycomb-four__title {
      font-size: 1.5rem;
      line-height: 26px;
      font-weight: bold;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      margin-bottom: 2px; }
    .brk-sc-honeycomb-four__price {
      margin-top: 25px; }
      .brk-sc-honeycomb-four__price a {
        display: inline-block;
        height: 46px;
        border-radius: 3px;
        font-size: 0.9375rem;
        line-height: 46px;
        text-align: center;
        padding: 0 12px;
        font-weight: 600;
        box-shadow: 0 5px 16px rgba(39, 117, 255, 0.5); }
    .brk-sc-honeycomb-four .brk-rating__layer i,
    .brk-sc-honeycomb-four .brk-rating__imposition i {
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
  .brk-sc-honeycomb-five {
    position: relative;
    width: 230px;
    height: 397px;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin: 12px 0;
    background-color: #fff;
    /* Modifiers */
    /* Modifiers */
    /* Components */
    /* Components */ }
    @media (min-width: 992px) and (max-width: 1229px) {
      .brk-sc-honeycomb-five {
        width: 180px;
        height: 312px; } }
    @media (max-width: 991px) {
      .brk-sc-honeycomb-five {
        position: relative !important;
        top: 0 !important;
        right: 0 !important;
        left: 0 !important;
        bottom: 0 !important;
        margin: 12px auto !important; } }
    @media (max-width: 575px) {
      .brk-sc-honeycomb-five {
        width: 160px;
        height: 278px; } }
    .brk-sc-honeycomb-five_center {
      margin-left: auto;
      margin-right: auto; }
    .brk-sc-honeycomb-five_left-top {
      position: absolute;
      top: 193px;
      left: 115px; }
      @media (min-width: 992px) and (max-width: 1229px) {
        .brk-sc-honeycomb-five_left-top {
          top: 150px;
          left: 100px; } }
    .brk-sc-honeycomb-five_left-bottom {
      position: absolute;
      bottom: 193px;
      left: 115px; }
      @media (min-width: 992px) and (max-width: 1229px) {
        .brk-sc-honeycomb-five_left-bottom {
          bottom: 150px;
          left: 100px; } }
    .brk-sc-honeycomb-five_right-top {
      position: absolute;
      top: 193px;
      right: 115px; }
      @media (min-width: 992px) and (max-width: 1229px) {
        .brk-sc-honeycomb-five_right-top {
          top: 150px;
          right: 100px; } }
    .brk-sc-honeycomb-five_right-bottom {
      position: absolute;
      bottom: 193px;
      right: 115px; }
      @media (min-width: 992px) and (max-width: 1229px) {
        .brk-sc-honeycomb-five_right-bottom {
          bottom: 150px;
          right: 100px; } }
    .brk-sc-honeycomb-five:before, .brk-sc-honeycomb-five:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: inherit;
      box-shadow: inherit;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      -webkit-transform-origin: center center;
              transform-origin: center center; }
    .brk-sc-honeycomb-five:before {
      -webkit-transform: translate(-50%, -50%) rotate(60deg);
              transform: translate(-50%, -50%) rotate(60deg); }
    .brk-sc-honeycomb-five:after {
      -webkit-transform: translate(-50%, -50%) rotate(-60deg);
              transform: translate(-50%, -50%) rotate(-60deg); }
    .brk-sc-honeycomb-five__thumb {
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 200%;
      height: 100%;
      z-index: 1;
      -webkit-clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
              clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%); }
      .brk-sc-honeycomb-five__thumb:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(10deg, rgba(15, 90, 224, 0.9) 0%, rgba(116, 0, 186, 0.9) 100%);
        background-image: linear-gradient(10deg, rgba(39, 117, 255, 0.9) 0%, rgba(114, 2, 187, 0.9) 100%); }
        .brk-sc-honeycomb-five_white-style .brk-sc-honeycomb-five__thumb:before {
          background-color: rgba(255, 255, 255, 0.86);
          background-image: none; }
    .brk-sc-honeycomb-five__content {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .brk-sc-honeycomb-five_white-style .brk-sc-honeycomb-five__content {
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        width: 130%; }
    .brk-sc-honeycomb-five__link-sticker {
      text-align: center;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: center;
              justify-content: center;
      margin-bottom: 45px; }
      .brk-sc-honeycomb-five__link-sticker .sticker {
        display: inline-block;
        width: 64px;
        height: 64px;
        border-radius: 50%;
        font-weight: bold;
        font-size: 1rem;
        line-height: 64px;
        margin-left: -10px; }
        @media (min-width: 992px) and (max-width: 1229px) {
          .brk-sc-honeycomb-five__link-sticker .sticker {
            width: 56px;
            height: 56px;
            line-height: 56px; } }
        @media (max-width: 575px) {
          .brk-sc-honeycomb-five__link-sticker .sticker {
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 0.875rem;
            font-weight: 500;
            margin-left: 5px; } }
    .brk-sc-honeycomb-five__read-more {
      position: relative;
      display: inline-block;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      box-shadow: 0 5px 16px rgba(0, 0, 0, 0.3);
      z-index: 3;
      background-color: #fff; }
      @media (min-width: 992px) and (max-width: 1229px) {
        .brk-sc-honeycomb-five__read-more {
          width: 56px;
          height: 56px; } }
      @media (max-width: 575px) {
        .brk-sc-honeycomb-five__read-more {
          width: 50px;
          height: 50px; } }
      .brk-sc-honeycomb-five__read-more:hover:before {
        -webkit-animation: pulse 1.5s infinite;
                animation: pulse 1.5s infinite;
        -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s; }
      .brk-sc-honeycomb-five__read-more:hover:after {
        -webkit-animation: pulse 1.5s infinite;
                animation: pulse 1.5s infinite; }
      .brk-sc-honeycomb-five__read-more:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.1); }
      .brk-sc-honeycomb-five__read-more:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.1); }
      .brk-sc-honeycomb-five__read-more i {
        vertical-align: 0;
        line-height: 64px;
        font-size: 1.5rem;
        color: #2775FF; }
        @media (min-width: 992px) and (max-width: 1229px) {
          .brk-sc-honeycomb-five__read-more i {
            line-height: 56px; } }
        @media (max-width: 575px) {
          .brk-sc-honeycomb-five__read-more i {
            line-height: 50px;
            font-size: 1.125rem; } }
    .brk-sc-honeycomb-five__title {
      font-size: 1.75rem;
      line-height: 30px; }
      @media (min-width: 992px) and (max-width: 1229px) {
        .brk-sc-honeycomb-five__title {
          font-size: 1.125rem;
          line-height: 22px; } }
      @media (max-width: 575px) {
        .brk-sc-honeycomb-five__title {
          font-size: 1rem;
          line-height: 18px; } }
      .brk-sc-honeycomb-five_white-style .brk-sc-honeycomb-five__title {
        font-size: 1.5rem;
        line-height: 26px;
        margin-bottom: 31px; }
        @media (min-width: 992px) and (max-width: 1229px) {
          .brk-sc-honeycomb-five_white-style .brk-sc-honeycomb-five__title {
            font-size: 1.125rem;
            line-height: 22px; } }
        @media (max-width: 575px) {
          .brk-sc-honeycomb-five_white-style .brk-sc-honeycomb-five__title {
            font-size: 1rem;
            line-height: 18px;
            margin-bottom: 10px; } }
    .brk-sc-honeycomb-five__desc {
      font-size: 1.125rem;
      line-height: 24px; }
      @media (min-width: 992px) and (max-width: 1229px) {
        .brk-sc-honeycomb-five__desc {
          font-size: 0.9375rem;
          line-height: 18px; } }
      @media (max-width: 575px) {
        .brk-sc-honeycomb-five__desc {
          font-size: 0.8125rem;
          line-height: 18px;
          margin-top: 5px; } }
      .brk-sc-honeycomb-five_white-style .brk-sc-honeycomb-five__desc {
        font-size: 1rem;
        line-height: 26px;
        letter-spacing: 0.02em;
        margin-bottom: 30px; }
        @media (min-width: 992px) and (max-width: 1229px) {
          .brk-sc-honeycomb-five_white-style .brk-sc-honeycomb-five__desc {
            font-size: 0.875rem;
            line-height: 22px; } }
        @media (max-width: 575px) {
          .brk-sc-honeycomb-five_white-style .brk-sc-honeycomb-five__desc {
            font-size: 0.8125rem;
            line-height: 18px; } }

/*# sourceMappingURL=maps/shop-components-honeycomb.css.map */
