/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
.brk-sc-long-label {
  padding: 7px 15px 8px 17px;
  flex-shrink: 0;
  height: 28px;
  white-space: nowrap;
  margin-left: 10px;
  border-radius: 15px;
  margin-top: 7px;
  box-shadow: 0 5px 16px rgba(130, 180, 64, 0.5);
  background-color: #81bb35; }
  .brk-sc-long-label i {
    color: #fff;
    font-size: 14px;
    margin-right: 4px; }

.brk-sc-item-page-header {
  position: relative; }
  @media screen and (max-width: 992px) {
    .brk-sc-item-page-header {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column; } }
  .brk-sc-item-page-header__carousel {
    position: absolute;
    width: 100%; }
    @media screen and (max-width: 992px) {
      .brk-sc-item-page-header__carousel {
        position: relative; } }
  .brk-sc-item-page-header__carousel-labels {
    position: absolute;
    right: -22px;
    top: 28px;
    z-index: 2; }
    .brk-sc-item-page-header__carousel-labels .brk-sc-card-labels {
      position: relative; }
      .brk-sc-item-page-header__carousel-labels .brk-sc-card-labels:nth-child(2) {
        top: -17px; }
    @media screen and (max-width: 768px) {
      .brk-sc-item-page-header__carousel-labels {
        right: 0; } }
  .brk-sc-item-page-header__carousel-items {
    z-index: 1; }
  .brk-sc-item-page-header__info {
    position: relative;
    padding-top: 75px;
    padding-bottom: 151px;
    overflow: hidden; }
    @media screen and (max-width: 1230px) {
      .brk-sc-item-page-header__info {
        padding-bottom: 70px;
        -webkit-box-ordinal-group: 0;
                order: -1; } }
    @media screen and (max-width: 992px) {
      .brk-sc-item-page-header__info {
        padding-top: 40px;
        padding-bottom: 100px; } }
  @media screen and (min-width: 991px) {
    .brk-sc-item-page-header__info-main {
      padding-left: 70px; } }
  .brk-sc-item-page-header__info-secondary {
    position: relative;
    top: -36px; }
    @media screen and (min-width: 992px) {
      .brk-sc-item-page-header__info-secondary {
        padding-left: 70px; } }
    @media screen and (max-width: 992px) {
      .brk-sc-item-page-header__info-secondary {
        top: 0;
        padding-top: 80px; } }
  .brk-sc-item-page-header__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .brk-sc-item-page-header__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(40deg, rgba(39, 117, 255, 0.92) 15%, rgba(114, 2, 187, 0.92) 75%); }
  .brk-sc-item-page-header__svg {
    position: absolute;
    bottom: -2px;
    left: 1px;
    width: 1920px; }
  .brk-sc-item-page-header__tags .brk-sc-tags__item {
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: .3s ease color;
    transition: .3s ease color; }
    .brk-sc-item-page-header__tags .brk-sc-tags__item:after {
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 100%; }
    .brk-sc-item-page-header__tags .brk-sc-tags__item:hover {
      color: white; }
  .brk-sc-item-page-header__price-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    min-height: 87px; }
  .brk-sc-item-page-header__old-price {
    text-decoration: line-through; }
  .brk-sc-item-page-header__color-filter .brk-color-filter__title {
    text-align: left !important;
    margin-right: 10px;
    margin-bottom: 19px; }
  .brk-sc-item-page-header__color-filter:before {
    display: none; }
  .brk-sc-item-page-header__color-filter .brk-color-filter__title-text {
    padding-left: 0;
    padding-right: 0;
    background-color: transparent; }
  .brk-sc-item-page-header__color-filter .brk-color-filter__item {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1); }
    .brk-sc-item-page-header__color-filter .brk-color-filter__item:first-child {
      margin-left: 0; }
  .brk-sc-item-page-header__color-filter .brk-color-filter__item-bg {
    width: 16px;
    height: 16px;
    border-radius: 0;
    left: 3px;
    top: 3px; }
  .brk-sc-item-page-header__rating i {
    color: #fff; }
  .brk-sc-item-page-header__btn {
    margin: 0;
    padding: 15px 44px;
    box-shadow: none; }
    .brk-sc-item-page-header__btn .border-btn {
      border: 0; }
  .brk-sc-item-page-header__btn-container {
    margin-bottom: 68px; }
  .brk-sc-item-page-header svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0; }
  .brk-sc-item-page-header .arrows-modern .slick-arrow {
    background-color: transparent; }
  .brk-sc-item-page-header .slider-thumbnailed {
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2); }
  .brk-sc-item-page-header .slider-thumbnailed-nav {
    max-width: 340px;
    border-radius: 10px;
    box-shadow: 0px -10px 15px 0px rgba(0, 0, 0, 0.06); }
    .brk-sc-item-page-header .slider-thumbnailed-nav .brk-slid__overlay {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
    .brk-sc-item-page-header .slider-thumbnailed-nav .brk-slid__img, .brk-sc-item-page-header .slider-thumbnailed-nav .brk-slid__overlay {
      border-radius: 5px; }
  .brk-sc-item-page-header .brk-slid__img {
    -o-object-position: center top;
       object-position: center top; }

.brk-sc-item-page-section-1 {
  overflow: hidden; }
  .brk-sc-item-page-section-1__info {
    padding-bottom: 970px;
    padding-top: 80px; }
  .brk-sc-item-page-section-1__cfa {
    border-radius: 0;
    box-shadow: none; }
  .brk-sc-item-page-section-1__img-container {
    display: -webkit-box;
    display: flex;
    height: 100%;
    position: relative; }
    @media screen and (max-width: 1230px) {
      .brk-sc-item-page-section-1__img-container {
        width: 750px;
        opacity: 0.1; } }
  .brk-sc-item-page-section-1__img {
    position: absolute;
    left: 64px;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: left top;
       object-position: left top; }
    @media screen and (max-width: 1230px) {
      .brk-sc-item-page-section-1__img {
        left: 0;
        -o-object-position: center top;
           object-position: center top; } }

.brk-sc-item-page-section-2 {
  position: relative;
  top: -1090px;
  margin-bottom: -1067px;
  overflow: hidden;
  z-index: 1;
  padding-top: 96px; }
  .brk-sc-item-page-section-2__info {
    padding-top: 570px;
    padding-bottom: 463px; }
  .brk-sc-item-page-section-2__img-container {
    position: relative;
    height: 100%; }
    @media screen and (max-width: 1230px) {
      .brk-sc-item-page-section-2__img-container {
        width: 750px;
        left: -550px;
        opacity: 0.1; } }
  .brk-sc-item-page-section-2__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center left;
       object-position: center left; }
    @media screen and (max-width: 1230px) {
      .brk-sc-item-page-section-2__img {
        -o-object-position: center top;
           object-position: center top; } }
  .brk-sc-item-page-section-2__svg-container {
    position: absolute;
    bottom: -5px;
    left: 0; }
  .brk-sc-item-page-section-2__svg-bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1; }
    .brk-sc-item-page-section-2__svg-bg svg {
      stroke: #f2fcff; }
  .brk-sc-item-page-section-2__balls .brk-radial-ball {
    border-radius: 100%;
    z-index: 5;
    position: absolute;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation: ballTransform 5s linear  infinite;
            animation: ballTransform 5s linear  infinite; }
    @media screen and (max-width: 1230px) {
      .brk-sc-item-page-section-2__balls .brk-radial-ball {
        display: none; } }
    .brk-sc-item-page-section-2__balls .brk-radial-ball:nth-child(1) {
      width: 202px;
      height: 202px;
      background-color: #000000;
      left: 238px;
      top: 332px;
      -webkit-animation-delay: -4s;
              animation-delay: -4s;
      background-image: radial-gradient(circle 152px at 29.68% 18.59%, #00f6ff 0%, #00c6ff 100%); }
    .brk-sc-item-page-section-2__balls .brk-radial-ball:nth-child(2) {
      width: 170px;
      height: 170px;
      background-color: #000000;
      top: 706px;
      right: 119px;
      -webkit-animation-delay: -3s;
              animation-delay: -3s;
      background-image: radial-gradient(circle 128px at 22.5% 35.93%, #00c6ff 0%, #2775FF 100%); }
    .brk-sc-item-page-section-2__balls .brk-radial-ball:nth-child(3) {
      width: 134px;
      height: 134px;
      background-color: #000000;
      bottom: 357px;
      left: -67px;
      background-image: radial-gradient(circle 101px at 28.38% 38.86%, #2775FF 0%, #1600ba 100%); }

@-webkit-keyframes ballTransform {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  25% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px); }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  75% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes ballTransform {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  25% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px); }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  75% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.mt--140 {
  margin-top: -140px; }

.brk-sc-item-page-tabs {
  z-index: 1;
  margin-top: -63px; }
  .brk-sc-item-page-tabs .brk-tabs-nav {
    z-index: 1; }
    @media screen and (max-width: 1230px) {
      .brk-sc-item-page-tabs .brk-tabs-nav {
        min-width: 200px !important; } }
  .brk-sc-item-page-tabs__title {
    position: relative;
    padding-right: 32px;
    padding-left: 25px;
    margin-bottom: 39px; }
    .brk-sc-item-page-tabs__title:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 3px;
      height: 42px;
      background-image: -webkit-gradient(linear, left bottom, left top, from(#00c6ff), to(#00f6ff));
      background-image: linear-gradient(to top, #00c6ff 0%, #00f6ff 100%); }
    @media screen and (max-width: 1230px) {
      .brk-sc-item-page-tabs__title {
        padding-left: 0; } }
  .brk-sc-item-page-tabs .brk-tab-item {
    margin-top: -68px;
    padding-left: 17px; }
    @media screen and (max-width: 1230px) {
      .brk-sc-item-page-tabs .brk-tab-item {
        margin-top: 0; } }
    @media screen and (max-width: 767px) {
      .brk-sc-item-page-tabs .brk-tab-item {
        padding-left: 0; } }
  .brk-sc-item-page-tabs .brk-tab.active, .brk-sc-item-page-tabs .brk-tab:hover {
    color: #000000 !important; }

.brk-sc-item-page-body__cfa {
  margin-bottom: 244px; }

.brk-sc-item-page-body__bg {
  position: relative;
  box-shadow: inset 0 5px 26px rgba(0, 0, 0, 0.03);
  background-color: #f9f9f9; }

.brk-sc-item-page-body__bg-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center; }

.brk-sc-item-page-body .brk-sc-bonus {
  top: -109px;
  margin-bottom: -62px; }

.brk-sc-item-page-body .brk-tabs_rounded {
  position: relative;
  z-index: 1;
  margin-top: -58px; }

.app-img-caption {
  margin-bottom: -100px; }

/*# sourceMappingURL=maps/shop-components-item-page.css.map */
