/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
.brk-social-links {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
          align-items: center; }
  .brk-social-links__item {
    margin-right: 20px;
    line-height: 24px; }
    .brk-social-links__item:last-of-type {
      margin-right: 0; }
    .brk-social-links__item i {
      line-height: inherit; }
  .brk-social-links_bordered .brk-social-links__item {
    width: 42px;
    height: 42px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    border: 1px solid black; }
  .brk-social-links_rounded .brk-social-links__item {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    opacity: 0.4;
    -webkit-transition: .3s ease opacity, .3s ease background-color, .3s ease color;
    transition: .3s ease opacity, .3s ease background-color, .3s ease color; }
    .brk-social-links_rounded .brk-social-links__item:hover {
      opacity: 1;
      background-color: #2775FF;
      color: #fff; }
  .brk-social-links_opacity .brk-social-links__item {
    opacity: 0.4;
    -webkit-transition: .3s ease opacity;
    transition: .3s ease opacity;
    will-change: opacity; }
    .brk-social-links_opacity .brk-social-links__item:hover {
      opacity: 1;
      color: inherit; }

.brk-social-links-wide {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }
  .brk-social-links-wide__link {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center; }
  .brk-social-links-wide__icon-container {
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: start;
            justify-content: flex-start;
    width: 38px;
    flex-shrink: 0;
    padding-left: 3px; }
  .brk-social-links-wide__item-light i {
    color: #fff !important; }

.brk-social-links-wide__item_light i {
  color: #ffffff; }

.brk-social-links-wide__item_light:hover i {
  color: inherit; }

.brk-social-links-round {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: 5px 0; }
  .brk-social-links-round__link {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    color: #fff;
    padding: 0 10px; }
    .brk-social-links-round__link:first-child {
      padding-left: 0; }
    .brk-social-links-round__link:last-child {
      padding-right: 0; }
    .brk-social-links-round__link:hover {
      color: #fff; }
      .brk-social-links-round__link:hover .brk-social-links-round__icon i {
        -webkit-transform: translate(-50%, -50%) scale(1.2);
                transform: translate(-50%, -50%) scale(1.2); }
  .brk-social-links-round__icon {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #fff;
    position: relative; }
    .brk-social-links-round__icon i {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      color: #000;
      font-size: rem(18);
      line-height: 18px;
      -webkit-transition: all .1s linear;
      transition: all .1s linear; }
  .brk-social-links-round__title {
    font-size: rem(14);
    line-height: 16px;
    padding-left: 15px; }

/*# sourceMappingURL=maps/social-links.css.map */
