/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
.brk-gradient-circle {
  position: relative;
  padding: 150px 0 30px; }
  .brk-gradient-circle svg {
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    z-index: 1; }
    .brk-gradient-circle svg path {
      fill: #fff; }
  @media (max-width: 767px) {
    .brk-gradient-circle {
      padding: 30px 0; } }

.brk-tabs_tabbed {
  /* Icon */
  /* End Icon */
  /* Large Icon */
  /* End Large Icon */
  /* Filter */
  /* End Filter */
  /* Intro */
  /* End Intro */
  /* Icons Gradient */
  /* End Icons Gradient */ }
  .brk-tabs_tabbed-icon {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12); }
    .brk-tabs_tabbed-icon--title {
      position: relative;
      z-index: 2;
      color: #fff;
      font-size: 1.5rem;
      font-weight: 600; }
      @media (max-width: 1229px) {
        .brk-tabs_tabbed-icon--title {
          font-size: 1.25rem; } }
      @media (max-width: 991px) {
        .brk-tabs_tabbed-icon--title {
          display: none; } }
    .brk-tabs_tabbed-icon--header {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
              align-items: center;
      padding-right: 20px;
      padding-left: 45px; }
      @media (max-width: 991px) {
        .brk-tabs_tabbed-icon--header {
          padding: 0;
          -webkit-box-pack: center;
                  justify-content: center; } }
      .brk-tabs_tabbed-icon--header:before {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08), inset 0 -3px #7400ba; }
      .brk-tabs_tabbed-icon--header .brk-tabs-nav {
        display: -webkit-box;
        display: flex;
        position: relative;
        z-index: 2;
        min-height: 120px; }
        @media (max-width: 767px) {
          .brk-tabs_tabbed-icon--header .brk-tabs-nav {
            min-height: 90px; } }
        @media (max-width: 575px) {
          .brk-tabs_tabbed-icon--header .brk-tabs-nav {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                    flex-direction: column;
            -webkit-box-align: start;
                    align-items: flex-start;
            padding: 5px 0; } }
        .brk-tabs_tabbed-icon--header .brk-tabs-nav .brk-tab {
          color: rgba(255, 255, 255, 0.3);
          width: 121px;
          cursor: pointer;
          padding-top: 27px;
          -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
          text-align: center; }
          @media (max-width: 991px) {
            .brk-tabs_tabbed-icon--header .brk-tabs-nav .brk-tab {
              width: auto;
              padding: 27px 30px 0; } }
          @media (max-width: 767px) {
            .brk-tabs_tabbed-icon--header .brk-tabs-nav .brk-tab {
              padding: 15px 10px 0; } }
          @media (max-width: 575px) {
            .brk-tabs_tabbed-icon--header .brk-tabs-nav .brk-tab {
              padding: 5px 10px; } }
          .brk-tabs_tabbed-icon--header .brk-tabs-nav .brk-tab:hover {
            color: #fff; }
          .brk-tabs_tabbed-icon--header .brk-tabs-nav .brk-tab.active {
            position: relative;
            color: #fff; }
            .brk-tabs_tabbed-icon--header .brk-tabs-nav .brk-tab.active:before {
              content: '';
              position: absolute;
              bottom: 0;
              left: 50%;
              -webkit-transform: translateX(-50%);
                      transform: translateX(-50%);
              border-right: 12px solid transparent;
              border-left: 12px solid transparent;
              border-bottom: 12px solid #fff; }
              @media (max-width: 767px) {
                .brk-tabs_tabbed-icon--header .brk-tabs-nav .brk-tab.active:before {
                  border-width: 8px;
                  border-top-width: 0; } }
              @media (max-width: 575px) {
                .brk-tabs_tabbed-icon--header .brk-tabs-nav .brk-tab.active:before {
                  display: none; } }
          .brk-tabs_tabbed-icon--header .brk-tabs-nav .brk-tab i {
            margin: 0 auto;
            font-size: 1.75rem;
            vertical-align: 0; }
            @media (max-width: 767px) {
              .brk-tabs_tabbed-icon--header .brk-tabs-nav .brk-tab i {
                font-size: 1.125rem; } }
            @media (max-width: 575px) {
              .brk-tabs_tabbed-icon--header .brk-tabs-nav .brk-tab i {
                margin-right: 8px; } }
          .brk-tabs_tabbed-icon--header .brk-tabs-nav .brk-tab span {
            display: block;
            font-size: 0.875rem;
            text-transform: uppercase;
            margin-top: 5px;
            letter-spacing: 1px; }
            @media (max-width: 767px) {
              .brk-tabs_tabbed-icon--header .brk-tabs-nav .brk-tab span {
                font-size: 0.75rem; } }
            @media (max-width: 575px) {
              .brk-tabs_tabbed-icon--header .brk-tabs-nav .brk-tab span {
                display: inline-block;
                margin-top: 0; } }
    .brk-tabs_tabbed-icon .brk-tab-item {
      padding: 40px 40px 70px 40px; }
  .brk-tabs_tabbed-large-icon .brk-tabs-nav {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
            justify-content: center; }
    @media (max-width: 575px) {
      .brk-tabs_tabbed-large-icon .brk-tabs-nav {
        -webkit-box-pack: start;
                justify-content: flex-start;
        padding: 5px 0; } }
  .brk-tabs_tabbed-large-icon .brk-tab {
    color: rgba(39, 117, 255, 0.25);
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 0 29px 44px 29px;
    text-align: center; }
    @media (max-width: 991px) {
      .brk-tabs_tabbed-large-icon .brk-tab {
        padding: 0 10px 20px 10px; } }
    @media (max-width: 575px) {
      .brk-tabs_tabbed-large-icon .brk-tab {
        padding: 5px 10px 5px 25px;
        flex-basis: 50%;
        max-width: 50%;
        text-align: left; } }
    .brk-tabs_tabbed-large-icon .brk-tab:hover {
      color: #2775FF; }
    .brk-tabs_tabbed-large-icon .brk-tab.active {
      position: relative;
      color: #2775FF; }
      .brk-tabs_tabbed-large-icon .brk-tab.active:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        border-right: 12px solid transparent;
        border-left: 12px solid transparent;
        border-bottom: 12px solid #4f34c9; }
        @media (max-width: 991px) {
          .brk-tabs_tabbed-large-icon .brk-tab.active:before {
            border-width: 8px;
            border-top-width: 0; } }
        @media (max-width: 575px) {
          .brk-tabs_tabbed-large-icon .brk-tab.active:before {
            display: none; } }
    .brk-tabs_tabbed-large-icon .brk-tab i {
      margin: 0 auto;
      font-size: 2.875rem;
      vertical-align: 0; }
      @media (max-width: 991px) {
        .brk-tabs_tabbed-large-icon .brk-tab i {
          font-size: 1.75rem; } }
      @media (max-width: 575px) {
        .brk-tabs_tabbed-large-icon .brk-tab i {
          margin-right: 8px;
          font-size: 1rem; } }
    .brk-tabs_tabbed-large-icon .brk-tab span {
      display: block;
      font-size: 1rem;
      text-transform: uppercase;
      margin-top: 15px;
      letter-spacing: 0.1em; }
      @media (max-width: 991px) {
        .brk-tabs_tabbed-large-icon .brk-tab span {
          font-size: 0.875rem;
          margin-top: 10px; } }
      @media (max-width: 575px) {
        .brk-tabs_tabbed-large-icon .brk-tab span {
          display: inline-block;
          margin-top: 0; } }
  .brk-tabs_tabbed-large-icon .brk-tabs-content {
    background-repeat: repeat;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08); }
  .brk-tabs_tabbed-large-icon .brk-tab-item {
    position: relative;
    z-index: 2;
    color: #fff;
    padding: 79px 0 77px; }
    .brk-tabs_tabbed-large-icon .brk-tab-item h2 {
      color: #fff; }
  .brk-tabs_tabbed-filter {
    position: relative; }
    .brk-tabs_tabbed-filter .brk-tabs-nav {
      position: relative;
      -webkit-transform: translateY(50%);
              transform: translateY(50%);
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-pack: center;
              justify-content: center;
      -webkit-box-align: center;
              align-items: center;
      margin-left: auto;
      margin-right: auto;
      min-height: 66px;
      border-radius: 33px;
      background-color: #fff;
      box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
      width: -webkit-calc(100% - 30px);
      width: calc(100% - 30px);
      max-width: 720px;
      z-index: 9; }
      @media (max-width: 767px) {
        .brk-tabs_tabbed-filter .brk-tabs-nav {
          -webkit-box-pack: start;
                  justify-content: flex-start;
          padding: 5px 10px; } }
      @media (max-width: 575px) {
        .brk-tabs_tabbed-filter .brk-tabs-nav {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
          margin-bottom: -40px; } }
      .brk-tabs_tabbed-filter .brk-tabs-nav:hover .brk-tab:not(:hover) {
        color: rgba(39, 117, 255, 0.4);
        background-color: transparent;
        box-shadow: none; }
      .brk-tabs_tabbed-filter .brk-tabs-nav:hover .brk-tab.active {
        color: #2775FF; }
        .brk-tabs_tabbed-filter .brk-tabs-nav:hover .brk-tab.active:hover {
          color: #fff; }
    .brk-tabs_tabbed-filter .magic-line {
      position: absolute;
      top: 6px;
      height: 54px;
      border-radius: 27px;
      z-index: 1;
      background-color: #2775FF;
      box-shadow: 0 5px 16px rgba(39, 117, 255, 0.5); }
      @media (max-width: 767px) {
        .brk-tabs_tabbed-filter .magic-line {
          display: none !important; } }
    .brk-tabs_tabbed-filter .brk-tab {
      line-height: 54px;
      color: rgba(39, 117, 255, 0.4);
      cursor: pointer;
      padding: 0 35px;
      position: relative;
      border-radius: 27px;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      z-index: 2; }
      @media (max-width: 767px) {
        .brk-tabs_tabbed-filter .brk-tab {
          max-width: 50%;
          flex-basis: 50%;
          line-height: 42px;
          text-align: center; } }
      @media (max-width: 479px) {
        .brk-tabs_tabbed-filter .brk-tab {
          flex-basis: 100%;
          max-width: 100%; } }
      .brk-tabs_tabbed-filter .brk-tab:hover, .brk-tabs_tabbed-filter .brk-tab.active {
        color: #fff; }
        @media (max-width: 767px) {
          .brk-tabs_tabbed-filter .brk-tab:hover {
    background-color: #2775FF;
    box-shadow: 0 5px 16px rgba(39, 117, 255, 0.5); }
          .brk-tabs_tabbed-filter .brk-tab.active {
    background-color: #2775FF;
    box-shadow: 0 5px 16px rgba(39, 117, 255, 0.5); } }
      .brk-tabs_tabbed-filter .brk-tab.no-hover {
        color: #2775FF; }
      .brk-tabs_tabbed-filter .brk-tab i {
        margin: 0 auto;
        font-size: 1rem;
        vertical-align: 0;
        font-weight: 300;
        margin-right: 14px; }
        @media (max-width: 575px) {
          .brk-tabs_tabbed-filter .brk-tab i {
            font-size: 1rem;
            margin-right: 8px; } }
      .brk-tabs_tabbed-filter .brk-tab span {
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: bold; }
        @media (max-width: 575px) {
          .brk-tabs_tabbed-filter .brk-tab span {
            font-size: 0.875rem;
            font-weight: 500; } }
    .brk-tabs_tabbed-filter .brk-tabs-content {
      background-repeat: repeat;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08); }
    .brk-tabs_tabbed-filter .brk-tab-item {
      position: relative;
      z-index: 2;
      color: rgba(255, 255, 255, 0.5);
      padding: 112px 0 58px; }
      @media (max-width: 767px) {
        .brk-tabs_tabbed-filter .brk-tab-item {
          padding: 60px 0 50px; } }
      .brk-tabs_tabbed-filter .brk-tab-item h2, .brk-tabs_tabbed-filter .brk-tab-item h4 {
        color: #fff; }
  .brk-tabs_tabbed-intro .brk-tabs-nav {
    position: relative;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
    max-width: 970px;
    min-height: 140px;
    border-radius: 16px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fdfdfd;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
            justify-content: center;
    z-index: 9; }
    .brk-bordered-theme .brk-tabs_tabbed-intro .brk-tabs-nav {
      border-radius: inherit; }
    @media (max-width: 767px) {
      .brk-tabs_tabbed-intro .brk-tabs-nav {
        min-height: 90px; } }
    @media (max-width: 479px) {
      .brk-tabs_tabbed-intro .brk-tabs-nav {
        min-height: 1px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        padding: 0;
        -webkit-transform: translateY(0);
                transform: translateY(0);
        margin-bottom: -50px; } }
    .brk-tabs_tabbed-intro .brk-tabs-nav:hover .brk-tab:not(:hover):before {
      opacity: 0; }
  .brk-tabs_tabbed-intro .brk-tab {
    color: rgba(39, 117, 255, 0.25);
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-box-flex: 1;
            flex-grow: 1;
    position: relative;
    padding-top: 18px;
    text-align: center; }
    @media (max-width: 767px) {
      .brk-tabs_tabbed-intro .brk-tab {
        padding-top: 13px; } }
    @media (max-width: 479px) {
      .brk-tabs_tabbed-intro .brk-tab {
        padding: 10px 0; } }
    .brk-tabs_tabbed-intro .brk-tab:hover {
  color: #2775FF; }
    .brk-tabs_tabbed-intro .brk-tab.active {
  color: #2775FF; }
      .brk-tabs_tabbed-intro .brk-tab:hover:before, .brk-tabs_tabbed-intro .brk-tab.active:before {
        opacity: 1; }
    .brk-tabs_tabbed-intro .brk-tab.active {
      color: #2775FF; }
    .brk-tabs_tabbed-intro .brk-tab:first-child:before {
      border-radius: 16px 0 0 16px; }
      .brk-bordered-theme .brk-tabs_tabbed-intro .brk-tab:first-child:before {
        border-radius: inherit 0 0 inherit; }
      @media (max-width: 575px) {
        .brk-tabs_tabbed-intro .brk-tab:first-child:before {
          border-radius: 8px; } }
    .brk-tabs_tabbed-intro .brk-tab:last-child:before {
      border-radius: 0 16px 16px 0; }
      .brk-bordered-theme .brk-tabs_tabbed-intro .brk-tab:last-child:before {
        border-radius: 0 inherit inherit 0; }
      @media (max-width: 575px) {
        .brk-tabs_tabbed-intro .brk-tab:last-child:before {
          border-radius: 8px; } }
    .brk-tabs_tabbed-intro .brk-tab:before {
      content: '';
      position: absolute;
      top: -11px;
      right: -8px;
      bottom: -10px;
      left: -8px;
      background-color: #fff;
      border-bottom: 3px solid #00c6ff;
      box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12);
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      opacity: 0;
      z-index: 1; }
      @media (max-width: 575px) {
        .brk-tabs_tabbed-intro .brk-tab:before {
          top: -4px;
          right: -4px;
          bottom: -4px;
          left: -4px;
          border-radius: 8px; } }
    .brk-tabs_tabbed-intro .brk-tab i {
      margin: 0 auto;
      font-size: 2.875rem;
      line-height: 46px;
      vertical-align: 0;
      position: relative;
      z-index: 3; }
      @media (max-width: 767px) {
        .brk-tabs_tabbed-intro .brk-tab i {
          font-size: 1.75rem; } }
      @media (max-width: 575px) {
        .brk-tabs_tabbed-intro .brk-tab i {
          font-size: 1.125rem; } }
      @media (max-width: 479px) {
        .brk-tabs_tabbed-intro .brk-tab i {
          margin-right: 8px; } }
    .brk-tabs_tabbed-intro .brk-tab span {
      display: block;
      font-weight: bold;
      font-size: 1rem;
      margin-top: 15px;
      letter-spacing: 0.01em;
      position: relative;
      z-index: 3; }
      @media (max-width: 767px) {
        .brk-tabs_tabbed-intro .brk-tab span {
          font-weight: 500;
          margin-top: 5px; } }
      @media (max-width: 575px) {
        .brk-tabs_tabbed-intro .brk-tab span {
          font-size: 0.875rem; } }
      @media (max-width: 479px) {
        .brk-tabs_tabbed-intro .brk-tab span {
          display: inline-block;
          margin-top: 0; } }
  .brk-tabs_tabbed-intro .brk-tabs-content {
    background-repeat: repeat;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08); }
  .brk-tabs_tabbed-intro .brk-tab-item {
    position: relative;
    z-index: 2;
    color: rgba(255, 255, 255, 0.5);
    padding: 140px 0 64px; }
    @media (max-width: 767px) {
      .brk-tabs_tabbed-intro .brk-tab-item {
        padding: 80px 0 30px; } }
  .brk-tabs_tabbed-intro-shaped .brk-tabs-content {
    box-shadow: none;
    padding-top: 200px;
    padding-bottom: 30px; }
  .brk-tabs_tabbed-intro-shaped .brk-tabs-nav {
    -webkit-transform: translateY(-webkit-calc(100% + 110px));
            transform: translateY(calc(100% + 110px)); }
    @media screen and (max-width: 1250px) {
      .brk-tabs_tabbed-intro-shaped .brk-tabs-nav {
        -webkit-transform: translateY(-webkit-calc(100% + 70px));
                transform: translateY(calc(100% + 70px)); } }
    @media screen and (max-width: 480px) {
      .brk-tabs_tabbed-intro-shaped .brk-tabs-nav {
        -webkit-transform: translateY(-webkit-calc(50% + 70px));
                transform: translateY(calc(50% + 70px)); } }
  .brk-tabs_tabbed-icons-gradient .brk-tabs-nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .brk-tabs_tabbed-icons-gradient .brk-tabs-nav {
        flex-wrap: wrap; } }
  .brk-tabs_tabbed-icons-gradient .brk-tab {
    text-align: center;
    position: relative;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding-bottom: 19px;
    opacity: .3;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-flex: 1;
            flex-grow: 1;
    width: 100%; }
    @media (max-width: 768px) {
      .brk-tabs_tabbed-icons-gradient .brk-tab {
        padding: 25px 0 10px 0; } }
    .brk-tabs_tabbed-icons-gradient .brk-tab:hover, .brk-tabs_tabbed-icons-gradient .brk-tab.active {
      opacity: 1; }
    .brk-tabs_tabbed-icons-gradient .brk-tab:before, .brk-tabs_tabbed-icons-gradient .brk-tab:after {
      content: '';
      position: absolute;
      bottom: 0; }
    .brk-tabs_tabbed-icons-gradient .brk-tab:before {
      left: 15px;
      right: 15px;
      height: 3px;
      background-image: url("../../img/tabbed-bg-before.png");
      background-repeat: repeat-x; }
    .brk-tabs_tabbed-icons-gradient .brk-tab:after {
      background-image: linear-gradient(-60deg, #00c6ff, #00f6ff);
      width: 65px;
      height: 3px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .brk-tabs_tabbed-icons-gradient .brk-tab i {
      font-size: 3rem;
      vertical-align: 0;
      font-weight: 300;
      background-image: linear-gradient(-60deg, #00c6ff, #00f6ff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
      @media (max-width: 767px) {
        .brk-tabs_tabbed-icons-gradient .brk-tab i {
          font-size: 1.25rem;
          margin-right: 8px; } }
    .brk-tabs_tabbed-icons-gradient .brk-tab span {
      display: block;
      font-size: 1.125rem;
      margin-top: 19px;
      color: #fff;
      position: relative;
      z-index: 3; }
      @media (max-width: 767px) {
        .brk-tabs_tabbed-icons-gradient .brk-tab span {
          display: inline-block;
          margin-top: 0; } }
  .brk-tabs_tabbed-icons-gradient .brk-tabs-content {
    padding: 97px 0 87px; }
    @media (max-width: 767px) {
      .brk-tabs_tabbed-icons-gradient .brk-tabs-content {
        padding: 40px 0 50px; } }
  .brk-tabs_tabbed-icons-gradient .brk-tab-item {
    position: relative;
    z-index: 2;
    color: rgba(255, 255, 255, 0.5); }

/*# sourceMappingURL=maps/tabbed-contents.css.map */
