/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
.brk-tabs .brk-tabs-content {
  position: relative; }

.brk-tabs-simple-top .brk-tabs-nav {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border-bottom: 3px solid #f3f3f3; }
  @media (max-width: 575px) {
    .brk-tabs-simple-top .brk-tabs-nav {
      border-bottom: transparent; } }

.brk-tabs-simple-top .magic-line {
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 3px;
  z-index: 9;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(39, 117, 255, 0.94)), to(rgba(116, 0, 186, 0.94)));
  background-image: linear-gradient(to right, rgba(39, 117, 255, 0.94), rgba(116, 0, 186, 0.94)); }
  @media (max-width: 767px) {
    .brk-tabs-simple-top .magic-line {
      display: none; } }

.brk-tabs-simple-top .brk-tab {
  position: relative;
  height: 70px;
  line-height: 70px;
  padding: 0 32px;
  cursor: pointer;
  font-size: 0.9375rem;
  text-transform: uppercase;
  color: #2775FF; }
  @media (max-width: 991px) {
    .brk-tabs-simple-top .brk-tab {
      height: 50px;
      line-height: 50px;
      padding: 0 22px;
      font-size: 0.8125rem; } }
  @media (max-width: 767px) {
    .brk-tabs-simple-top .brk-tab:before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -3px;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 0;
      height: 3px;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(39, 117, 255, 0.94)), to(rgba(116, 0, 186, 0.94)));
      background-image: linear-gradient(to right, rgba(39, 117, 255, 0.94), rgba(116, 0, 186, 0.94)); } }
  @media (max-width: 575px) {
    .brk-tabs-simple-top .brk-tab {
      height: 38px;
      line-height: 38px;
      padding: 0 22px;
      font-size: 0.8125rem;
      width: 100%;
      flex-basis: 100%;
      border-bottom: 3px solid #f3f3f3; } }
  .brk-tabs-simple-top .brk-tab.active:before, .brk-tabs-simple-top .brk-tab:hover:before {
    width: 100%; }
  .brk-tabs-simple-top .brk-tab span {
    margin-left: 12px; }
  .brk-tabs-simple-top .brk-tab i {
    vertical-align: 0;
    font-weight: 400; }

.brk-tabs-simple-top .brk-tabs-content {
  padding: 45px 0 0; }

.brk-tabs-simple-top .brk-tab-item {
  display: none;
  text-align: left; }
  .brk-tabs-simple-top .brk-tab-item span {
    display: inline-block; }
  .brk-tabs-simple-top .brk-tab-item.active {
    display: block; }

.brk-tabs-simple-bottom {
  position: relative;
  padding-bottom: 70px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }
  .brk-tabs-simple-bottom .brk-tabs-nav {
    width: 100%;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-ordinal-group: 3;
            order: 2;
    position: relative;
    border-top: 3px solid #f3f3f3; }
    @media (max-width: 575px) {
      .brk-tabs-simple-bottom .brk-tabs-nav {
        border-top: transparent; } }
  .brk-tabs-simple-bottom .magic-line {
    position: absolute;
    top: -3px;
    left: 0;
    height: 3px;
    z-index: 9;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(39, 117, 255, 0.94)), to(rgba(116, 0, 186, 0.94)));
    background-image: linear-gradient(to right, rgba(39, 117, 255, 0.94), rgba(116, 0, 186, 0.94)); }
    @media (max-width: 767px) {
      .brk-tabs-simple-bottom .magic-line {
        display: none; } }
  .brk-tabs-simple-bottom .brk-tab {
    position: relative;
    height: 70px;
    line-height: 70px;
    padding: 0 32px;
    cursor: pointer;
    font-size: 0.9375rem;
    text-transform: uppercase;
    color: #2775FF; }
    @media (max-width: 991px) {
      .brk-tabs-simple-bottom .brk-tab {
        height: 50px;
        line-height: 50px;
        padding: 0 22px;
        font-size: 0.8125rem; } }
    @media (max-width: 767px) {
      .brk-tabs-simple-bottom .brk-tab:before {
        content: '';
        position: absolute;
        left: 50%;
        top: -3px;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        width: 0;
        height: 3px;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(39, 117, 255, 0.94)), to(rgba(116, 0, 186, 0.94)));
        background-image: linear-gradient(to right, rgba(39, 117, 255, 0.94), rgba(116, 0, 186, 0.94)); } }
    @media (max-width: 575px) {
      .brk-tabs-simple-bottom .brk-tab {
        height: 38px;
        line-height: 38px;
        padding: 0 22px;
        font-size: 0.8125rem;
        width: 100%;
        flex-basis: 100%;
        border-top: 3px solid #f3f3f3; } }
    .brk-tabs-simple-bottom .brk-tab.active:before, .brk-tabs-simple-bottom .brk-tab:hover:before {
      width: 100%; }
    .brk-tabs-simple-bottom .brk-tab span {
      margin-left: 12px; }
    .brk-tabs-simple-bottom .brk-tab i {
      vertical-align: 0;
      font-weight: 400; }
  .brk-tabs-simple-bottom .brk-tabs-content {
    padding: 0 0 20px;
    -webkit-box-ordinal-group: 2;
            order: 1; }
  .brk-tabs-simple-bottom .brk-tab-item {
    display: none;
    text-align: left; }
    .brk-tabs-simple-bottom .brk-tab-item span {
      display: inline-block; }
    .brk-tabs-simple-bottom .brk-tab-item.active {
      display: block; }

.brk-tabs-side-left {
  position: relative;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between; }
  .brk-tabs-side-left .brk-tabs-nav {
    flex-basis: 270px;
    width: 270px; }
    @media (max-width: 991px) {
      .brk-tabs-side-left .brk-tabs-nav {
        flex-basis: 52px;
        width: 52px; } }
  .brk-tabs-side-left .brk-tab {
    position: relative;
    height: 52px;
    line-height: 52px;
    padding: 0 10px 0 23px;
    cursor: pointer;
    font-size: 0.9375rem;
    text-transform: uppercase;
    text-align: left;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #2775FF; }
    @media (max-width: 991px) {
      .brk-tabs-side-left .brk-tab {
        padding: 0;
        width: 100%; } }
    .brk-tabs-side-left .brk-tab:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 3px;
      height: 0;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 117, 255, 0.94)), to(rgba(116, 0, 186, 0.94)));
      background-image: linear-gradient(to bottom, rgba(39, 117, 255, 0.94), rgba(116, 0, 186, 0.94)); }
    .brk-tabs-side-left .brk-tab.active {
  background-color: #f3f3f3; }
    .brk-tabs-side-left .brk-tab:hover {
  background-color: #f3f3f3; }
      .brk-tabs-side-left .brk-tab.active:after, .brk-tabs-side-left .brk-tab:hover:after {
        height: 100%; }
    .brk-tabs-side-left .brk-tab span {
      margin-left: 12px; }
      @media (max-width: 991px) {
        .brk-tabs-side-left .brk-tab span {
          display: none; } }
    .brk-tabs-side-left .brk-tab i {
      vertical-align: 0;
      font-weight: 400; }
      @media (max-width: 991px) {
        .brk-tabs-side-left .brk-tab i {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); } }
  .brk-tabs-side-left .brk-tabs-content {
    flex-basis: -webkit-calc(100% - 300px);
    flex-basis: calc(100% - 300px);
    width: -webkit-calc(100% - 300px);
    width: calc(100% - 300px); }
    @media (max-width: 991px) {
      .brk-tabs-side-left .brk-tabs-content {
        flex-basis: -webkit-calc(100% - 72px);
        flex-basis: calc(100% - 72px);
        width: -webkit-calc(100% - 72px);
        width: calc(100% - 72px); } }
  .brk-tabs-side-left .brk-tab-item {
    display: none; }
    .brk-tabs-side-left .brk-tab-item span {
      display: inline-block; }
    .brk-tabs-side-left .brk-tab-item.active {
      display: block; }

.brk-tabs-side-right {
  position: relative;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between; }
  .brk-tabs-side-right .brk-tabs-nav {
    flex-basis: 270px;
    width: 270px;
    -webkit-box-ordinal-group: 3;
            order: 2; }
    @media (max-width: 991px) {
      .brk-tabs-side-right .brk-tabs-nav {
        flex-basis: 52px;
        width: 52px; } }
  .brk-tabs-side-right .brk-tab {
    position: relative;
    height: 52px;
    line-height: 52px;
    padding: 0 23px 0 10px;
    cursor: pointer;
    font-size: 0.9375rem;
    text-transform: uppercase;
    text-align: right;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #2775FF; }
    @media (max-width: 991px) {
      .brk-tabs-side-right .brk-tab {
        padding: 0;
        width: 100%; } }
    .brk-tabs-side-right .brk-tab:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 3px;
      height: 0;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 117, 255, 0.94)), to(rgba(116, 0, 186, 0.94)));
      background-image: linear-gradient(to bottom, rgba(39, 117, 255, 0.94), rgba(116, 0, 186, 0.94)); }
    .brk-tabs-side-right .brk-tab.active {
  background-color: #f3f3f3; }
    .brk-tabs-side-right .brk-tab:hover {
  background-color: #f3f3f3; }
      .brk-tabs-side-right .brk-tab.active:after, .brk-tabs-side-right .brk-tab:hover:after {
        height: 100%; }
    .brk-tabs-side-right .brk-tab span {
      margin-right: 12px; }
      @media (max-width: 991px) {
        .brk-tabs-side-right .brk-tab span {
          display: none; } }
    .brk-tabs-side-right .brk-tab i {
      vertical-align: 0;
      font-weight: 400; }
      @media (max-width: 991px) {
        .brk-tabs-side-right .brk-tab i {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); } }
  .brk-tabs-side-right .brk-tabs-content {
    flex-basis: -webkit-calc(100% - 300px);
    flex-basis: calc(100% - 300px);
    width: -webkit-calc(100% - 300px);
    width: calc(100% - 300px);
    -webkit-box-ordinal-group: 2;
            order: 1; }
    @media (max-width: 991px) {
      .brk-tabs-side-right .brk-tabs-content {
        flex-basis: -webkit-calc(100% - 72px);
        flex-basis: calc(100% - 72px);
        width: -webkit-calc(100% - 72px);
        width: calc(100% - 72px); } }
  .brk-tabs-side-right .brk-tab-item {
    display: none; }
    .brk-tabs-side-right .brk-tab-item span {
      display: inline-block; }
    .brk-tabs-side-right .brk-tab-item.active {
      display: block; }

.brk-tabs-icon-left {
  position: relative;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between; }
  .brk-tabs-icon-left .brk-tabs-nav {
    flex-basis: 60px;
    width: 60px;
    background-color: #f3f3f3; }
  .brk-tabs-icon-left .brk-tab {
    position: relative;
    height: 60px;
    line-height: 60px;
    padding: 0;
    cursor: pointer;
    font-size: 1.125rem;
    text-transform: uppercase;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #2775FF; }
    .brk-tabs-icon-left .brk-tab.active {
      background-color: #2775FF; }
      .brk-tabs-icon-left .brk-tab.active i {
        color: #fff; }
    .brk-tabs-icon-left .brk-tab:hover {
      background-color: #2775FF; }
      .brk-tabs-icon-left .brk-tab:hover span {
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
        opacity: 1;
        visibility: visible; }
      .brk-tabs-icon-left .brk-tab:hover i {
        color: #fff; }
    .brk-tabs-icon-left .brk-tab span {
      position: absolute;
      left: 82px;
      right: auto;
      top: 50%;
      font-size: 0.9375rem;
      line-height: 42px;
      display: block;
      padding: 0 25px;
      height: 42px;
      white-space: nowrap;
      -webkit-transform: translate(-82px, -50%);
              transform: translate(-82px, -50%);
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      opacity: 0;
      visibility: hidden;
      z-index: 9;
      background-color: #2775FF;
      color: #fff; }
      @media (min-width: 1400px) {
        .brk-tabs-icon-left .brk-tab span {
          right: 82px;
          left: auto;
          -webkit-transform: translate(82px, -50%);
                  transform: translate(82px, -50%); } }
      .brk-tabs-icon-left .brk-tab span:before {
        content: '';
        position: absolute;
        top: 50%;
        left: -8px;
        right: auto;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 8px solid #2775FF; }
        @media (min-width: 1400px) {
          .brk-tabs-icon-left .brk-tab span:before {
            right: -8px;
            left: auto;
            border-right: none !important;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 8px solid #2775FF; } }
    .brk-tabs-icon-left .brk-tab i {
      vertical-align: 0;
      font-weight: 400; }
  .brk-tabs-icon-left .brk-tabs-content {
    flex-basis: -webkit-calc(100% - 90px);
    flex-basis: calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
    width: calc(100% - 90px); }
  .brk-tabs-icon-left .brk-tab-item {
    display: none;
    text-align: left; }
    .brk-tabs-icon-left .brk-tab-item span {
      display: inline-block; }
    .brk-tabs-icon-left .brk-tab-item.active {
      display: block; }

.brk-tabs-icon-right {
  position: relative;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between; }
  .brk-tabs-icon-right .brk-tabs-nav {
    flex-basis: 60px;
    width: 60px;
    -webkit-box-ordinal-group: 3;
            order: 2;
    background-color: #f3f3f3; }
  .brk-tabs-icon-right .brk-tab {
    position: relative;
    height: 60px;
    line-height: 60px;
    padding: 0;
    cursor: pointer;
    font-size: 1.125rem;
    text-transform: uppercase;
    text-align: center;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #2775FF; }
    .brk-tabs-icon-right .brk-tab.active {
      background-color: #2775FF; }
      .brk-tabs-icon-right .brk-tab.active i {
        color: #fff; }
    .brk-tabs-icon-right .brk-tab:hover {
      background-color: #2775FF; }
      .brk-tabs-icon-right .brk-tab:hover i {
        color: #fff; }
      .brk-tabs-icon-right .brk-tab:hover span {
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
        opacity: 1;
        visibility: visible; }
    .brk-tabs-icon-right .brk-tab span {
      position: absolute;
      left: auto;
      right: 82px;
      top: 50%;
      font-size: 0.9375rem;
      line-height: 42px;
      display: block;
      padding: 0 25px;
      height: 42px;
      white-space: nowrap;
      -webkit-transform: translate(82px, -50%);
              transform: translate(82px, -50%);
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      opacity: 0;
      visibility: hidden;
      background-color: #2775FF;
      color: #fff; }
      @media (min-width: 1400px) {
        .brk-tabs-icon-right .brk-tab span {
          right: auto;
          left: 82px;
          -webkit-transform: translate(-82px, -50%);
                  transform: translate(-82px, -50%); } }
      .brk-tabs-icon-right .brk-tab span:before {
        content: '';
        position: absolute;
        top: 50%;
        left: auto;
        right: -8px;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 8px solid #2775FF; }
        @media (min-width: 1400px) {
          .brk-tabs-icon-right .brk-tab span:before {
            right: auto;
            left: -8px;
            border-left: none !important;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-right: 8px solid #2775FF; } }
    .brk-tabs-icon-right .brk-tab i {
      vertical-align: 0;
      font-weight: 400; }
  .brk-tabs-icon-right .brk-tabs-content {
    flex-basis: -webkit-calc(100% - 90px);
    flex-basis: calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
    width: calc(100% - 90px);
    -webkit-box-ordinal-group: 2;
            order: 1; }
  .brk-tabs-icon-right .brk-tab-item {
    display: none;
    text-align: left; }
    .brk-tabs-icon-right .brk-tab-item span {
      display: inline-block; }
    .brk-tabs-icon-right .brk-tab-item.active {
      display: block; }

.brk-tabs-bottom-top {
  background-color: #fff; }
  .brk-tabs-bottom-top .brk-tabs-nav {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    position: relative; }
  .brk-tabs-bottom-top .magic-line {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(39, 117, 255, 0.94)), to(rgba(116, 0, 186, 0.94)));
    background-image: linear-gradient(to right, rgba(39, 117, 255, 0.94), rgba(116, 0, 186, 0.94)); }
    @media (max-width: 991px) {
      .brk-tabs-bottom-top .magic-line {
        display: none; } }
  .brk-tabs-bottom-top .brk-tab {
    position: relative;
    height: 70px;
    line-height: 70px;
    padding: 0 15px;
    text-align: center;
    -webkit-box-flex: 1;
            flex-grow: 1;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    color: #2775FF;
    border: 1px solid #f1f1f1;
    border-left-color: transparent;
    z-index: 2;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    @media (max-width: 991px) {
      .brk-tabs-bottom-top .brk-tab {
        height: 50px;
        line-height: 50px;
        padding: 0 22px;
        font-size: 0.8125rem; }
        .brk-tabs-bottom-top .brk-tab:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          width: 0;
          height: 0;
          -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
          z-index: -1;
          background-image: -webkit-gradient(linear, left top, right top, from(rgba(39, 117, 255, 0.94)), to(rgba(116, 0, 186, 0.94)));
          background-image: linear-gradient(to right, rgba(39, 117, 255, 0.94), rgba(116, 0, 186, 0.94)); } }
    @media (max-width: 767px) {
      .brk-tabs-bottom-top .brk-tab {
        border-left-color: #f1f1f1 !important; } }
    @media (max-width: 575px) {
      .brk-tabs-bottom-top .brk-tab {
        height: 38px;
        line-height: 38px;
        padding: 0 22px;
        font-size: 0.8125rem;
        width: 100%;
        flex-basis: 100%;
        border-top-color: transparent; } }
    .brk-tabs-bottom-top .brk-tab:first-child {
      border-left: 1px solid #f1f1f1; }
      @media (max-width: 575px) {
        .brk-tabs-bottom-top .brk-tab:first-child {
          border-top-color: #f1f1f1 !important; } }
    .brk-tabs-bottom-top .brk-tab.active {
  color: #fff; }
    .brk-tabs-bottom-top .brk-tab:hover {
  color: #fff; }
      .brk-tabs-bottom-top .brk-tab.active:before, .brk-tabs-bottom-top .brk-tab:hover:before {
        width: 100%;
        height: 100%; }
    @media (min-width: 992px) {
      .brk-tabs-bottom-top .brk-tab.no-hover {
        color: #2775FF; } }
    .brk-tabs-bottom-top .brk-tab span {
      margin-left: 12px; }
    .brk-tabs-bottom-top .brk-tab i {
      vertical-align: 0;
      font-weight: 400; }
  .brk-tabs-bottom-top .brk-tabs-content {
    padding: 70px;
    border: 1px solid #f1f1f1;
    border-top: transparent; }
    @media (max-width: 991px) {
      .brk-tabs-bottom-top .brk-tabs-content {
        padding: 30px 20px; } }
  .brk-tabs-bottom-top .brk-tab-item {
    display: none;
    text-align: left; }
    .brk-tabs-bottom-top .brk-tab-item.active {
      display: block; }

.brk-tabs-bottom-bottom {
  background-color: #fff;
  position: relative;
  padding-bottom: 70px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }
  .brk-tabs-bottom-bottom .brk-tabs-nav {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    -webkit-box-ordinal-group: 3;
            order: 2; }
  .brk-tabs-bottom-bottom .magic-line {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(39, 117, 255, 0.94)), to(rgba(116, 0, 186, 0.94)));
    background-image: linear-gradient(to right, rgba(39, 117, 255, 0.94), rgba(116, 0, 186, 0.94)); }
    @media (max-width: 991px) {
      .brk-tabs-bottom-bottom .magic-line {
        display: none; } }
  .brk-tabs-bottom-bottom .brk-tab {
    position: relative;
    height: 70px;
    line-height: 70px;
    padding: 0 15px;
    text-align: center;
    -webkit-box-flex: 1;
            flex-grow: 1;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    z-index: 3;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #2775FF;
    border: 1px solid #f1f1f1;
    border-left-color: transparent; }
    @media (max-width: 991px) {
      .brk-tabs-bottom-bottom .brk-tab {
        height: 50px;
        line-height: 50px;
        padding: 0 22px;
        font-size: 0.8125rem; }
        .brk-tabs-bottom-bottom .brk-tab:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          width: 0;
          height: 0;
          -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
          z-index: -1;
          background-image: -webkit-gradient(linear, left top, right top, from(rgba(39, 117, 255, 0.94)), to(rgba(116, 0, 186, 0.94)));
          background-image: linear-gradient(to right, rgba(39, 117, 255, 0.94), rgba(116, 0, 186, 0.94)); } }
    @media (max-width: 767px) {
      .brk-tabs-bottom-bottom .brk-tab {
        border-left-color: #f1f1f1 !important; } }
    @media (max-width: 575px) {
      .brk-tabs-bottom-bottom .brk-tab {
        height: 38px;
        line-height: 38px;
        padding: 0 22px;
        font-size: 0.8125rem;
        width: 100%;
        flex-basis: 100%;
        border-top-color: transparent; } }
    .brk-tabs-bottom-bottom .brk-tab:first-child {
      border-left: 1px solid #f1f1f1; }
      @media (max-width: 575px) {
        .brk-tabs-bottom-bottom .brk-tab:first-child {
          border-top-color: #f1f1f1 !important; } }
    .brk-tabs-bottom-bottom .brk-tab.active {
  color: #fff; }
    .brk-tabs-bottom-bottom .brk-tab:hover {
  color: #fff; }
      .brk-tabs-bottom-bottom .brk-tab.active:before, .brk-tabs-bottom-bottom .brk-tab:hover:before {
        width: 100%;
        height: 100%; }
    @media (min-width: 992px) {
      .brk-tabs-bottom-bottom .brk-tab.no-hover {
        color: #2775FF; } }
    .brk-tabs-bottom-bottom .brk-tab span {
      margin-left: 12px; }
    .brk-tabs-bottom-bottom .brk-tab i {
      vertical-align: 0;
      font-weight: 400; }
  .brk-tabs-bottom-bottom .brk-tabs-content {
    padding: 70px;
    -webkit-box-ordinal-group: 2;
            order: 1;
    border: 1px solid #f1f1f1;
    border-bottom: transparent; }
    @media (max-width: 991px) {
      .brk-tabs-bottom-bottom .brk-tabs-content {
        padding: 30px 20px; } }
  .brk-tabs-bottom-bottom .brk-tab-item {
    display: none;
    text-align: left; }
    .brk-tabs-bottom-bottom .brk-tab-item.active {
      display: block; }

.brk-tabs-parallax {
  position: relative;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }
  .brk-tabs-parallax .brk-tabs-nav {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    z-index: 2;
    -webkit-box-ordinal-group: 3;
            order: 2; }
  .brk-tabs-parallax .magic-line {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    z-index: 9;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(39, 117, 255, 0.94)), to(rgba(116, 0, 186, 0.94)));
    background-image: linear-gradient(to right, rgba(39, 117, 255, 0.94), rgba(116, 0, 186, 0.94)); }
    @media (max-width: 991px) {
      .brk-tabs-parallax .magic-line {
        display: none; } }
  .brk-tabs-parallax .brk-tab {
    position: relative;
    height: 70px;
    line-height: 70px;
    padding: 0 15px;
    text-align: center;
    -webkit-box-flex: 1;
            flex-grow: 1;
    display: block;
    cursor: pointer;
    font-size: 0.9375rem;
    text-transform: uppercase;
    box-shadow: 0 -10px 14px rgba(0, 0, 0, 0.06);
    color: #2775FF;
    background-color: #fff; }
    @media (max-width: 991px) {
      .brk-tabs-parallax .brk-tab {
        height: 50px;
        line-height: 50px;
        padding: 0 22px;
        font-size: 0.8125rem; }
        .brk-tabs-parallax .brk-tab:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 0;
          z-index: 9;
          -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
          background-image: -webkit-gradient(linear, left top, right top, from(rgba(39, 117, 255, 0.94)), to(rgba(116, 0, 186, 0.94)));
          background-image: linear-gradient(to right, rgba(39, 117, 255, 0.94), rgba(116, 0, 186, 0.94)); } }
    @media (max-width: 575px) {
      .brk-tabs-parallax .brk-tab {
        height: 38px;
        line-height: 38px;
        padding: 0 22px;
        font-size: 0.8125rem;
        width: 100%;
        flex-basis: 100%; } }
    .brk-tabs-parallax .brk-tab.active:before, .brk-tabs-parallax .brk-tab:hover:before {
      height: 3px; }
    .brk-tabs-parallax .brk-tab span {
      margin-left: 12px; }
    .brk-tabs-parallax .brk-tab i {
      vertical-align: 0;
      font-weight: 400; }
  .brk-tabs-parallax .brk-tabs-content {
    position: relative;
    z-index: 1;
    -webkit-box-ordinal-group: 2;
            order: 1; }
  .brk-tabs-parallax .brk-tab-item {
    display: none;
    text-align: left;
    padding: 70px;
    position: relative; }
    @media (max-width: 991px) {
      .brk-tabs-parallax .brk-tab-item {
        padding: 30px 20px; } }
    .brk-tabs-parallax .brk-tab-item .layer-fix {
      position: absolute;
      right: 70px;
      bottom: -40px; }
      @media (max-width: 991px) {
        .brk-tabs-parallax .brk-tab-item .layer-fix {
          display: none; } }
    .brk-tabs-parallax .brk-tab-item span {
      display: inline-block; }
    .brk-tabs-parallax .brk-tab-item.active {
      display: block; }

.brk-tabs-smooth {
  border-radius: 26px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12);
  background-color: #fff; }
  .brk-tabs-smooth .brk-tabs-nav {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
            justify-content: center;
    position: relative;
    background: no-repeat center center;
    background-size: cover;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    border-bottom: 3px solid #7400ba; }
    @media (max-width: 991px) {
      .brk-tabs-smooth .brk-tabs-nav {
        padding: 10px 0; } }
    .brk-tabs-smooth .brk-tabs-nav:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(15, 90, 224, 0.92)), to(rgba(116, 0, 186, 0.92)));
      background-image: linear-gradient(to right, rgba(15, 90, 224, 0.92), rgba(116, 0, 186, 0.92)); }
  .brk-tabs-smooth .brk-tab {
    position: relative;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 300;
    text-transform: uppercase;
    z-index: 2;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: rgba(255, 255, 255, 0.4); }
    @media (max-width: 991px) {
      .brk-tabs-smooth .brk-tab {
        height: 40px;
        line-height: 40px;
        padding: 0 8px;
        font-size: 0.875rem; } }
    .brk-tabs-smooth .brk-tab:after {
      content: '';
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 0;
      height: 0;
      bottom: -9px;
      opacity: 0;
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
      border-top: 6px solid #6e50c2;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
      @media (max-width: 991px) {
        .brk-tabs-smooth .brk-tab:after {
          display: none; } }
    .brk-tabs-smooth .brk-tab.active {
  color: #fff; }
    .brk-tabs-smooth .brk-tab:hover {
  color: #fff; }
      .brk-tabs-smooth .brk-tab.active:after, .brk-tabs-smooth .brk-tab:hover:after {
        opacity: 1; }
    .brk-tabs-smooth .brk-tab span {
      display: block; }
    .brk-tabs-smooth .brk-tab i {
      vertical-align: 0;
      font-weight: 400; }
  .brk-tabs-smooth .brk-tabs-content {
    padding: 40px; }
    @media (max-width: 991px) {
      .brk-tabs-smooth .brk-tabs-content {
        padding: 20px; } }
  .brk-tabs-smooth .brk-tab-item {
    display: none;
    text-align: left; }
    .brk-tabs-smooth .brk-tab-item span {
      display: inline-block; }
    .brk-tabs-smooth .brk-tab-item.active {
      display: block; }

.brk-tabs-simple .brk-tabs-nav {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap; }

.brk-tabs-simple .brk-tab {
  position: relative;
  width: auto;
  min-width: 200px;
  height: 68px;
  line-height: 68px;
  padding: 0 15px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0 -10px 14px rgba(0, 0, 0, 0.06);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin-top: 8px;
  color: #2775FF;
  background-color: #fdfdfd; }
  @media (max-width: 991px) {
    .brk-tabs-simple .brk-tab {
      min-width: 1px;
      height: 58px;
      line-height: 58px;
      font-size: 0.8125rem;
      font-weight: 500;
      margin-top: 0;
      z-index: 10; } }
  .brk-tabs-simple .brk-tab:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 3px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(39, 117, 255, 0.94)), to(rgba(116, 0, 186, 0.94)));
    background-image: linear-gradient(to right, rgba(39, 117, 255, 0.94), rgba(116, 0, 186, 0.94)); }
  .brk-tabs-simple .brk-tab.active {
  height: 76px;
  margin-top: 0;
  padding-top: 8px;
  z-index: 9;
  background-color: #fff; }
  .brk-tabs-simple .brk-tab:hover {
  height: 76px;
  margin-top: 0;
  padding-top: 8px;
  z-index: 9;
  background-color: #fff; }
    @media (max-width: 991px) {
      .brk-tabs-simple .brk-tab.active, .brk-tabs-simple .brk-tab:hover {
        height: 58px;
        padding-top: 0; } }
    .brk-tabs-simple .brk-tab.active:after, .brk-tabs-simple .brk-tab:hover:after {
      width: 100%; }
  .brk-tabs-simple .brk-tab span {
    margin-left: 12px; }
  .brk-tabs-simple .brk-tab i {
    vertical-align: 0;
    font-weight: 400; }

.brk-tabs-simple .brk-tabs-content {
  padding: 40px;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12);
  background-color: #fff; }
  @media (max-width: 991px) {
    .brk-tabs-simple .brk-tabs-content {
      padding: 20px; } }

.brk-tabs-simple .brk-tab-item {
  display: none;
  text-align: left; }
  .brk-tabs-simple .brk-tab-item span {
    display: inline-block; }
  .brk-tabs-simple .brk-tab-item.active {
    display: block; }

.brk-tabs-hovers {
  position: relative;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between; }
  .brk-tabs-hovers_style-1 .brk-tabs-nav {
    background-color: #f9fbff;
    box-shadow: inset -2px 0 10px rgba(0, 0, 0, 0.06), inset 0 0 5px rgba(0, 0, 0, 0.01);
    padding-top: 26px; }
  .brk-tabs-hovers_style-1 .brk-tab {
    font-size: 0.875rem;
    line-height: 48px;
    text-transform: uppercase;
    padding-left: 29px;
    position: relative;
    z-index: 1; }
    [dir="rtl"] .brk-tabs-hovers_style-1 .brk-tab {
      padding-left: 0;
      padding-right: 29px; }
    .brk-tabs-hovers_style-1 .brk-tab:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -5px;
      right: -5px;
      opacity: 0;
      z-index: -1;
      background-color: #f3f7ff;
      box-shadow: 0 2px 5px rgba(39, 117, 255, 0.16);
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
    .brk-tabs-hovers_style-1 .brk-tab i {
      vertical-align: 0;
      position: relative;
      top: -1px;
      margin-right: 22px;
      color: #c1c1c1; }
      [dir="rtl"] .brk-tabs-hovers_style-1 .brk-tab i {
        margin-right: 0;
        margin-left: 22px; }
    .brk-tabs-hovers_style-1 .brk-tab:hover:before, .brk-tabs-hovers_style-1 .brk-tab.current:before {
      opacity: 1; }
    .brk-tabs-hovers_style-1 .brk-tab:hover i {
  color: #2775FF; }
    .brk-tabs-hovers_style-1 .brk-tab.current i {
  color: #2775FF; }
  .brk-tabs-hovers_style-2 .brk-tabs-nav {
    padding-top: 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.1); }
  .brk-tabs-hovers_style-2 .brk-tab {
    font-size: 0.75rem;
    line-height: 42px;
    text-transform: uppercase;
    padding-left: 28px; }
    [dir="rtl"] .brk-tabs-hovers_style-2 .brk-tab {
      padding-left: 0;
      padding-right: 28px; }
    .brk-tabs-hovers_style-2 .brk-tab:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      background-color: #0B98F6; }
    .brk-tabs-hovers_style-2 .brk-tab i {
      line-height: inherit;
      margin-right: 15px; }
      [dir="rtl"] .brk-tabs-hovers_style-2 .brk-tab i {
        margin-right: 0;
        margin-left: 15px; }
    .brk-tabs-hovers_style-2 .brk-tab:hover, .brk-tabs-hovers_style-2 .brk-tab.current {
      background-color: #f7f7f7; }
      .brk-tabs-hovers_style-2 .brk-tab:hover:before, .brk-tabs-hovers_style-2 .brk-tab.current:before {
        width: 2px; }
  .brk-tabs-hovers .brk-tabs-nav {
    flex-basis: 100%;
    width: 100%; }
    @media (min-width: 991px) {
      .brk-tabs-hovers .brk-tabs-nav {
        flex-basis: 315px;
        width: 315px;
        text-align: left; }
        [dir="rtl"] .brk-tabs-hovers .brk-tabs-nav {
          text-align: right; } }
  .brk-tabs-hovers .brk-tab {
    display: block;
    cursor: pointer;
    position: relative;
    z-index: 3;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    /*&__icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        width: 40px;
        height: 20px;
        border-radius: 10px;
        background-color: $white; //BASE
        border: 1px solid #ececec;
        i {
          position: absolute;
          vertical-align: 0;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }*/ }
  .brk-tabs-hovers .brk-tabs-content {
    flex-basis: 100%;
    width: 100%; }
    @media (min-width: 991px) {
      .brk-tabs-hovers .brk-tabs-content {
        flex-basis: -webkit-calc(100% - 315px);
        flex-basis: calc(100% - 315px);
        width: -webkit-calc(100% - 315px);
        width: calc(100% - 315px); } }
  .brk-tabs-hovers__duplicate-icon {
    position: absolute;
    bottom: -11px;
    left: -24px;
    z-index: 1; }
    [dir="rtl"] .brk-tabs-hovers__duplicate-icon {
      left: auto;
      right: -24px; }
    .brk-tabs-hovers__duplicate-icon i {
      font-size: 16rem;
      line-height: 200px;
      color: rgba(157, 190, 255, 0.1); }
      @media (max-width: 1500px) {
        .brk-tabs-hovers__duplicate-icon i {
          font-size: 11.875rem;
          line-height: 150px; } }
    @media (max-width: 991px) {
      .brk-tabs-hovers__duplicate-icon {
        display: none; } }

.brk-tabs-simple-smooth {
  display: -webkit-box;
  display: flex; }
  .brk-tabs-simple-smooth .brk-tabs-nav {
    min-width: 200px;
    flex-shrink: 0;
    text-align: right; }
  .brk-tabs-simple-smooth .brk-tab {
    cursor: pointer;
    margin-bottom: 27px;
    color: #b6b6b6; }
    .brk-tabs-simple-smooth .brk-tab.active {
  color: #0F5AE0; }
    .brk-tabs-simple-smooth .brk-tab:hover {
  color: #0F5AE0; }
  .brk-tabs-simple-smooth .brk-tabs-content {
    text-align: left;
    margin-left: 45px; }
  @media screen and (max-width: 992px) {
    .brk-tabs-simple-smooth .brk-tabs-nav {
      min-width: 1px; } }
  @media screen and (max-width: 768px) {
    .brk-tabs-simple-smooth {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column; }
      .brk-tabs-simple-smooth .brk-tabs-nav {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        -webkit-box-pack: justify;
                justify-content: space-between;
        flex-wrap: wrap; }
      .brk-tabs-simple-smooth .brk-tabs-content {
        margin-left: 0 !important; } }

.brk-tabs_canted .brk-tabs-nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
          flex-grow: 1;
  border-bottom: 1px solid #ebebeb; }
  @media screen and (max-width: 768px) {
    .brk-tabs_canted .brk-tabs-nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column;
      border: 0; } }

.brk-tabs_canted .brk-tab {
  padding: 18px 50px 17px 50px;
  margin-left: -35px;
  -webkit-clip-path: polygon(0 0, -webkit-calc(100% - 35px) 0, 100% 100%, 35px 100%);
          clip-path: polygon(0 0, calc(100% - 35px) 0, 100% 100%, 35px 100%);
  cursor: pointer;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  opacity: 0.3; }
  .brk-tabs_canted .brk-tab:first-child {
    border-top-left-radius: 5px;
    -webkit-clip-path: polygon(0 0, -webkit-calc(100% - 35px) 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, calc(100% - 35px) 0, 100% 100%, 0% 100%);
    padding-left: 33px;
    margin-left: 0; }
  .brk-tabs_canted .brk-tab:last-child {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 35px 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 35px 100%);
    border-top-right-radius: 5px;
    padding-right: 30px; }
  .brk-tabs_canted .brk-tab:hover, .brk-tabs_canted .brk-tab.active {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f2f4f8), to(#f0f2f8));
    background-image: linear-gradient(to top, #f2f4f8 0%, #f0f2f8 100%);
    opacity: 1; }
  @media screen and (max-width: 768px) {
    .brk-tabs_canted .brk-tab {
      margin-left: 0;
      text-align: center;
      -webkit-clip-path: polygon(0 0, -webkit-calc(100% - 35px) 0, 100% 100%, 35px 100%) !important;
              clip-path: polygon(0 0, calc(100% - 35px) 0, 100% 100%, 35px 100%) !important; } }

.brk-tabs_rounded {
  position: relative; }
  .brk-tabs_rounded .brk-tabs-nav {
    min-height: 58px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border: 4px solid #ffffff;
    border-radius: 30px;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    z-index: 1; }
  .brk-tabs_rounded .brk-tabs-content {
    padding-top: 71px;
    padding-bottom: 40px;
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08); }
    .brk-tabs_rounded .brk-tabs-content__img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center;
         object-position: center;
      z-index: -2; }
    .brk-tabs_rounded .brk-tabs-content__overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1; }
  .brk-tabs_rounded .brk-tab {
    height: 50px;
    opacity: 0.4;
    position: relative;
    color: #2775FF;
    -webkit-transition: .3s ease color , .3s ease opacity, .3s ease box-shadow;
    transition: .3s ease color , .3s ease opacity, .3s ease box-shadow;
    cursor: pointer;
    z-index: 1;
    border-radius: 25px; }
    @media screen and (max-width: 992px) {
      .brk-tabs_rounded .brk-tab {
        width: 100%;
        -webkit-box-pack: center;
                justify-content: center; } }
    .brk-tabs_rounded .brk-tab i {
      margin-right: 10px;
      margin-top: -4px; }
    .brk-tabs_rounded .brk-tab:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      border-radius: 25px;
      -webkit-transition: .3s ease background-color;
      transition: .3s ease background-color;
      z-index: -1; }
    .brk-tabs_rounded .brk-tab:hover {
      opacity: 1; }
    .brk-tabs_rounded .brk-tab.active {
      opacity: 1;
      color: #ffffff;
      box-shadow: 0 5px 16px rgba(39, 117, 255, 0.5); }
      .brk-tabs_rounded .brk-tab.active:before {
        background-color: #2775FF; }
  .brk-tabs_rounded .brk-tab-item {
    z-index: 1; }
  .brk-tabs_rounded .slick-list {
    margin-left: -15px;
    margin-right: -15px; }
  .brk-tabs_rounded .slick-slide {
    padding: 25px 15px; }
  .brk-tabs_rounded .brk-slider__control {
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%); }
  .brk-tabs_rounded .brk-slider__prev, .brk-tabs_rounded .brk-slider__next {
    padding: 5px 7px;
    cursor: pointer;
    margin-top: -4px; }
  .brk-tabs_rounded .brk-slider__prev {
    -webkit-box-ordinal-group: 0;
            order: -1;
    margin-right: -45px;
    z-index: 10; }
  .brk-tabs_rounded .brk-slider__next {
    -webkit-box-ordinal-group: 3;
            order: 2;
    margin-left: -45px;
    z-index: 10; }
  .brk-tabs_rounded .slick-dots {
    position: relative;
    -webkit-transform: none;
            transform: none;
    left: auto;
    max-width: none;
    padding: 0 50px; }

/*# sourceMappingURL=maps/tabs.css.map */
