/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
.brk-tags {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  /* Solid */
  /* Light */
  /* Gradient */
  /* Bubble */
  /* Round */
  /* Image */
  /* Rectangle */
  /* Angle */ }
  .brk-tags_solid li {
    margin: 5px;
    box-shadow: 0 0 0 2px #f0f0f0;
    background-color: #fff;
    position: relative;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 4px;
    overflow: hidden; }
    .brk-tags_solid li:hover {
      box-shadow: 0 5px 16px 0 rgba(15, 90, 224, 0.3); }
      .brk-tags_solid li:hover:before {
        width: 100%; }
      .brk-tags_solid li:hover a {
        color: #fff; }
    .brk-tags_solid li:before {
      content: '';
      position: absolute;
      width: 0;
      top: 0;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      background-image: -webkit-gradient(linear, right top, left top, from(#0F5AE0), to(#7400ba));
      background-image: linear-gradient(to left, #0F5AE0, #7400ba);
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
    .brk-tags_solid li a {
      height: 28px;
      font-size: 0.75rem !important;
      line-height: 28px;
      font-weight: 600;
      color: #b5b5b5;
      display: block;
      padding: 0 12px;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      position: relative;
      z-index: 2; }
  .brk-tags_light {
    margin-left: -5px;
    margin-right: -5px; }
    .brk-tags_light li {
      margin: 5px;
      border-radius: 16px;
      position: relative;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      overflow: hidden;
      box-shadow: 0 0 0 1px rgba(166, 166, 166, 0.3);
      background-color: #fff; }
      .brk-tags_light li:hover {
        box-shadow: none; }
        .brk-tags_light li:hover:before {
          -webkit-transform: translate(-50%, -50%) scale(1);
                  transform: translate(-50%, -50%) scale(1); }
        .brk-tags_light li:hover a {
          color: #fff; }
      .brk-tags_light li:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) scale(0);
                transform: translate(-50%, -50%) scale(0);
        width: 100%;
        height: 100%;
        border-radius: 16px;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        z-index: 1;
        background-image: -webkit-gradient(linear, left top, right top, from(#00c6ff), to(#00f6ff));
        background-image: linear-gradient(to right, #00c6ff, #00f6ff); }
      .brk-tags_light li a {
        position: relative;
        z-index: 2;
        height: 32px;
        display: block;
        font-size: 0.8125rem !important;
        line-height: 32px;
        text-transform: uppercase;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        letter-spacing: -0.06em;
        padding: 0 23px;
        color: #272727; }
  .brk-tags_transparent {
    margin-left: -5px;
    margin-right: -5px; }
    .brk-tags_transparent li {
      margin: 5px 4px;
      border-radius: 16px;
      position: relative;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      overflow: hidden;
      box-shadow: 0 0 0 1px rgba(166, 166, 166, 0.3);
      background-color: transparent; }
      .brk-tags_transparent li:hover {
        box-shadow: none; }
        .brk-tags_transparent li:hover:before {
          -webkit-transform: translate(-50%, -50%) scale(1);
                  transform: translate(-50%, -50%) scale(1); }
        .brk-tags_transparent li:hover a {
          color: #fff; }
      .brk-tags_transparent li:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) scale(0);
                transform: translate(-50%, -50%) scale(0);
        width: 100%;
        height: 100%;
        border-radius: 16px;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        z-index: 1;
        background-image: -webkit-gradient(linear, left top, right top, from(#00c6ff), to(#00f6ff));
        background-image: linear-gradient(to right, #00c6ff, #00f6ff); }
      .brk-tags_transparent li a {
        position: relative;
        z-index: 2;
        height: 32px;
        display: block;
        font-size: 0.8125rem !important;
        line-height: 32px;
        text-transform: uppercase;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        letter-spacing: -0.06em;
        padding: 0 12px;
        color: #fff; }
  .brk-tags_gray li a {
    color: #b7b7b7;
    -webkit-transition: .3s ease color;
    transition: .3s ease color;
    will-change: color; }
    .brk-tags_gray li a:hover {
      color: #fff; }
  .brk-tags_solid-primary li:before {
    background-image: -webkit-gradient(linear, right top, left top, from(#2775FF), to(#2775FF)) !important;
    background-image: linear-gradient(to left, #2775FF, #2775FF) !important; }
  .brk-tags_solid-primary li a {
    color: #a7ebff; }
    .brk-tags_solid-primary li a:hover {
      color: #fff; }
  .brk-tags_gradient {
    margin-left: -5px;
    margin-right: -5px; }
    .brk-tags_gradient li {
      margin: 6px 5px;
      border-radius: 20px;
      position: relative;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      overflow: hidden;
      background-image: -webkit-gradient(linear, left bottom, left top, from(#00c6ff), to(#00f6ff));
      background-image: linear-gradient(to top, #00c6ff, #00f6ff);
      box-shadow: 0 5px 16px rgba(#2775FF, 0.5); }
      .brk-tags_gradient li:hover:before {
        opacity: 1; }
      .brk-tags_gradient li:hover a {
        color: #00c6ff; }
      .brk-tags_gradient li:before {
        content: '';
        position: absolute;
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
        border-radius: 18px;
        opacity: 0;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        background-color: #fff; }
      .brk-tags_gradient li a {
        position: relative;
        z-index: 2;
        display: block;
        font-size: 0.875rem !important;
        line-height: 40px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 0 28px;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        color: #fff; }
  .brk-tags_bubble {
    -webkit-box-align: start;
            align-items: flex-start; }
    .brk-tags_bubble li {
      margin: 5px;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      background-color: #f5f5f5; }
      .brk-tags_bubble li:hover {
        box-shadow: 0 5px 16px rgba(15, 90, 224, 0.3); }
        .brk-tags_bubble li:hover:before {
          width: 100%;
          height: 100%; }
        .brk-tags_bubble li:hover a {
          color: #fff; }
      .brk-tags_bubble li:before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: 1;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        background-image: -webkit-gradient(linear, right top, left top, from(#0F5AE0), to(#7400ba));
        background-image: linear-gradient(to left, #0F5AE0, #7400ba); }
      .brk-tags_bubble li a {
        max-width: 180px;
        font-size: 0.9375rem !important;
        text-transform: uppercase;
        padding: 0 15px;
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
                align-items: center;
        position: relative;
        z-index: 2;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        color: #272727; }
  .brk-tags_round {
    margin-left: -5px;
    margin-right: -5px; }
    .brk-tags_round li {
      margin: 6px 5px;
      border-radius: 18px;
      position: relative;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      overflow: hidden;
      background-color: #f9f9f9; }
      .brk-tags_round li:hover:before {
        opacity: 1; }
      .brk-tags_round li:hover a {
        color: #fff; }
      .brk-tags_round li:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        z-index: 1;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        background-image: -webkit-gradient(linear, left top, right top, from(#0F5AE0), to(#7400ba));
        background-image: linear-gradient(to right, #0F5AE0, #7400ba); }
      .brk-tags_round li a {
        line-height: 36px;
        font-size: 0.875rem !important;
        text-transform: uppercase;
        font-weight: 300;
        display: block;
        position: relative;
        z-index: 2;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        padding: 0 21px;
        color: rgba(39, 39, 39, 0.4); }
  .brk-tags_image {
    margin-left: -5px;
    margin-right: -5px; }
    .brk-tags_image li {
      margin: 5px;
      position: relative; }
      .brk-tags_image li:hover:before, .brk-tags_image li:hover:after {
        top: 5px;
        right: 5px;
        bottom: 5px;
        left: 5px; }
      .brk-tags_image li:hover:after {
        background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.26)), to(rgba(0, 0, 0, 0.43)));
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.43)); }
      .brk-tags_image li:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        background-image: url(../../img/bg-tags-1.jpg);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover; }
      .brk-tags_image li:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.86)), to(rgba(0, 0, 0, 0.43)));
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.86), rgba(0, 0, 0, 0.43)); }
      .brk-tags_image li a {
        position: relative;
        text-transform: uppercase;
        font-weight: 300;
        line-height: 50px;
        padding: 0 28px;
        display: block;
        font-size: 1rem !important;
        letter-spacing: 0.07em;
        z-index: 2;
        color: #fff; }
  .brk-tags_rectangle {
    margin-left: -5px;
    margin-right: -5px; }
    .brk-tags_rectangle li {
      padding: 5px; }
      .brk-tags_rectangle li a {
        display: block;
        line-height: 34px;
        text-transform: uppercase;
        padding: 0 17px;
        font-size: 0.8125rem !important;
        position: relative;
        border: 2px solid #e5e5e5;
        color: #272727; }
        .brk-tags_rectangle li a:hover:before {
          width: -webkit-calc(100% - 32px);
          width: calc(100% - 32px); }
        .brk-tags_rectangle li a:before {
          content: '';
          position: absolute;
          bottom: -2px;
          left: 50%;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%);
          width: 0;
          height: 2px;
          -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
          background-image: -webkit-gradient(linear, left top, right top, from(rgba(39, 117, 255, 0.94)), to(rgba(116, 0, 186, 0.94)));
          background-image: linear-gradient(to right, rgba(39, 117, 255, 0.94), rgba(116, 0, 186, 0.94)); }
  .brk-tags_angle {
    margin: 1px; }
    .brk-tags_angle li {
      position: relative;
      margin: -1px;
      -webkit-transform: skewX(-27deg);
              transform: skewX(-27deg);
      z-index: 1;
      border: 2px solid #e5e5e5; }
      .brk-tags_angle li:hover {
        z-index: 2; }
        .brk-tags_angle li:hover:before, .brk-tags_angle li:hover:after {
          height: -webkit-calc(50% + 3px);
          height: calc(50% + 3px); }
        .brk-tags_angle li:hover a {
          color: #fff; }
      .brk-tags_angle li:before {
  content: '';
  position: absolute;
  left: -2px;
  right: -2px;
  height: 0;
  z-index: 1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: #2775FF; }
      .brk-tags_angle li:after {
  content: '';
  position: absolute;
  left: -2px;
  right: -2px;
  height: 0;
  z-index: 1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: #2775FF; }
      .brk-tags_angle li:before {
        top: -2px; }
      .brk-tags_angle li:after {
        bottom: -2px; }
      .brk-tags_angle li a {
        display: block;
        font-size: 0.75rem !important;
        font-weight: 300;
        text-transform: uppercase;
        line-height: 25px;
        position: relative;
        z-index: 2;
        -webkit-transform: skewX(27deg);
                transform: skewX(27deg);
        padding: 0 13px;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        color: #272727; }
  .brk-tags_square li {
    border-radius: 0 !important; }
    .brk-tags_square li::before {
      border-radius: 0 !important; }

/*# sourceMappingURL=maps/tags.css.map */
