/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
.brk-team-member {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column; }
  .brk-team-member__header {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
            align-items: flex-start; }
    @media screen and (max-width: 768px) {
      .brk-team-member__header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column; } }
  .brk-team-member__img-container {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.14);
    background-color: rgba(255, 255, 255, 0.9);
    position: relative;
    min-height: 200px;
    width: 33%;
    max-width: 340px;
    margin-right: 80px;
    margin-top: 16px;
    flex-shrink: 0;
    cursor: pointer; }
    .brk-team-member__img-container::after {
      content: '';
      display: block;
      padding-top: 129%; }
    .brk-team-member__img-container:hover .brk-team-member__img {
      left: 15px;
      bottom: 15px; }
    @media screen and (max-width: 768px) {
      .brk-team-member__img-container {
        width: -webkit-calc(100% - 50px);
        width: calc(100% - 50px);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        position: relative;
        left: -15px; } }
  .brk-team-member__img {
    position: absolute;
    left: 30px;
    bottom: 30px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    -webkit-transition: .3s ease left, .3s ease bottom;
    transition: .3s ease left, .3s ease bottom; }
  .brk-team-member__info {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-flex: 1;
            flex-grow: 1; }
  .brk-team-member__main-info {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
            flex-grow: 1;
    position: relative;
    -webkit-box-align: center;
            align-items: center; }
    .brk-team-member__main-info::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      background: url("../../img/dotted-border.png") repeat;
      background-position: center; }
    @media screen and (max-width: 768px) {
      .brk-team-member__main-info .brk-social-links {
        padding: 10px 0; } }
  .brk-team-member__name {
    margin-right: auto;
    margin-left: -3px; }
  .brk-team-member__socials {
    display: -webkit-box;
    display: flex;
    margin-right: 5px;
    margin-top: -2px;
    -webkit-box-align: center;
            align-items: center; }
    .brk-team-member__socials-link {
      margin-right: 24px; }
      .brk-team-member__socials-link:last-child {
        margin-right: 0; }

.brk-services {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-transition: .3s ease opacity;
  transition: .3s ease opacity; }
  .brk-services__icon {
    margin-bottom: 23px; }
    .brk-services__icon > i {
      font-size: 48px;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      background-image: linear-gradient(-30deg, #7400ba 0%, #0F5AE0 100%); }
  .brk-services__title {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 35px; }
    .brk-services__title:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 1px;
      height: 3px;
      width: 65px;
      -webkit-transition: .3s ease width;
      transition: .3s ease width;
      background-image: -webkit-gradient(linear, right top, left top, from(#0F5AE0), to(#7400ba));
      background-image: linear-gradient(to left, #0F5AE0 0%, #7400ba 100%); }

.row:hover .brk-services {
  opacity: 0.3; }

.row:hover .brk-services:hover {
  opacity: 1; }
  .row:hover .brk-services:hover .brk-services__title:after {
    width: 100%; }

.brk-img-zoom {
  position: relative;
  -webkit-transition: .3s ease opacity;
  transition: .3s ease opacity; }
  .brk-img-zoom__img {
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    height: -webkit-calc(100% - 60px);
    height: calc(100% - 60px);
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
    max-width: none;
    z-index: -1; }
  .brk-img-zoom::after {
    content: '';
    display: block;
    padding-top: 120%; }
  .brk-img-zoom:hover {
    z-index: 2; }
    .brk-img-zoom:hover .brk-img-zoom__img {
      z-index: 3;
      left: -30px;
      top: 0;
      width: -webkit-calc(100% + 60px);
      width: calc(100% + 60px);
      height: 100%; }
  .brk-img-zoom_not-hovered {
    opacity: .3; }

/*# sourceMappingURL=maps/team-member.css.map */
