/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
.brk-team-strict, .brk-team-mc, .brk-team-staff__img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
.brk-team-strict {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 0;
  padding-bottom: 153.33333%;
  max-height: 500px;
  position: relative;
  overflow: hidden; }
  .brk-team-strict:before, .brk-team-strict:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 1; }
  .brk-team-strict:before {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(transparent));
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, transparent 100%);
    opacity: 1; }
  .brk-team-strict:after {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(0, 0, 0, 0.36)), to(rgba(0, 0, 0, 0.9)));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.36) 60%, rgba(0, 0, 0, 0.9));
    opacity: 0; }
  .brk-team-strict_colored:after {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(114, 2, 187, 0.9)), color-stop(40%, rgba(105, 173, 255, 0.36)), to(rgba(39, 117, 255, 0.36)));
    background-image: linear-gradient(to top, rgba(114, 2, 187, 0.9) 0%, rgba(105, 173, 255, 0.36) 40%, rgba(39, 117, 255, 0.36) 100%); }
  .brk-team-strict:hover:before {
    opacity: 0; }
  .brk-team-strict:hover:after {
    opacity: 1; }
  .brk-team-strict:hover .brk-team-strict__name {
    bottom: 50px; }
  .brk-team-strict:hover .brk-team-strict__social {
    bottom: -5px;
    opacity: 1; }
  .brk-team-strict__name {
    color: #fff;
    position: absolute;
    bottom: 29px;
    left: 38px;
    z-index: 3;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
  .brk-team-strict__social {
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    padding: 0 15px 0 30px;
    opacity: 0;
    z-index: 3;
    color: #fff;
    min-height: 48px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
    .brk-team-strict__social:before, .brk-team-strict__social:after {
      content: " ";
      display: table; }
    .brk-team-strict__social:after {
      clear: both; }
    .brk-team-strict__social a {
      padding: 0 0.65em;
      font-size: 0.8125rem;
      line-height: 1.1875rem;
      display: inline-block;
      float: left; }
      .brk-team-strict__social a i {
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
      .brk-team-strict__social a:hover {
        color: #fff; }
        .brk-team-strict__social a:hover i {
          -webkit-transform: scale(1.5);
                  transform: scale(1.5); }

.brk-team-persone-circle {
  max-width: 300px;
  margin: 15px auto;
  min-height: 430px;
  position: relative; }
  .brk-team-persone-circle:hover .brk-team-persone-circle__name-position {
    bottom: 335px; }
    .brk-team-persone-circle:hover .brk-team-persone-circle__name-position h4 {
      color: #fff; }
    .brk-team-persone-circle:hover .brk-team-persone-circle__name-position span {
      color: rgba(255, 255, 255, 0.6); }
  .brk-team-persone-circle:hover .brk-team-persone-circle__bg-overlay:before {
    opacity: 1; }
  .brk-team-persone-circle:hover .brk-team-persone-circle__bg-overlay svg {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .brk-team-persone-circle:hover .brk-team-persone-circle__contacts {
    z-index: 11; }
    .brk-team-persone-circle:hover .brk-team-persone-circle__contacts li {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0); }
  .brk-team-persone-circle:hover .brk-team-persone-circle__social-links li {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .brk-team-persone-circle__name-position {
    position: absolute;
    width: 100%;
    bottom: 18px;
    min-height: 10px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    z-index: 9; }
    .brk-team-persone-circle__name-position h4 {
      color: #272727;
      letter-spacing: -0.01em;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
    .brk-team-persone-circle__name-position span {
      color: #c4c4c4;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
  .brk-team-persone-circle__bg {
    background: no-repeat center center;
    background-size: cover;
    position: relative;
    min-height: 350px;
    overflow: hidden; }
    .brk-team-persone-circle__bg-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      overflow: hidden; }
      .brk-team-persone-circle__bg-overlay:before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(39, 117, 255, 0.92)), to(rgba(114, 2, 187, 0.92)));
        background-image: linear-gradient(to right, rgba(39, 117, 255, 0.92), rgba(114, 2, 187, 0.92)); }
      .brk-team-persone-circle__bg-overlay svg {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        -webkit-transform: translateY(100%);
                transform: translateY(100%);
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        z-index: 2; }
        .brk-team-persone-circle__bg-overlay svg path, .brk-team-persone-circle__bg-overlay svg line, .brk-team-persone-circle__bg-overlay svg polyline {
          width: 100%; }
  .brk-team-persone-circle__contacts {
    position: absolute;
    z-index: 3;
    margin: 0;
    top: -webkit-calc(50% + 32px);
    top: calc(50% + 32px);
    left: 19%;
    text-align: left;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
    .brk-team-persone-circle__contacts li {
      display: block;
      opacity: 0;
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      line-height: 31px;
      letter-spacing: 0.02em; }
      .brk-team-persone-circle__contacts li:nth-child(1) {
        -webkit-transition-delay: .1s;
                transition-delay: .1s; }
      .brk-team-persone-circle__contacts li:nth-child(2) {
        -webkit-transition-delay: .15s;
                transition-delay: .15s; }
      .brk-team-persone-circle__contacts li:nth-child(3) {
        -webkit-transition-delay: .2s;
                transition-delay: .2s; }
      .brk-team-persone-circle__contacts li:nth-child(4) {
        -webkit-transition-delay: .25s;
                transition-delay: .25s; }
      .brk-team-persone-circle__contacts li a {
        color: #fff;
        display: inline-block; }
      .brk-team-persone-circle__contacts li i {
        color: rgba(255, 255, 255, 0.6);
        width: 28px;
        font-size: 0.8125rem;
        line-height: 31px; }
  .brk-team-persone-circle__social-links {
    background-color: #fff;
    position: relative;
    min-height: 80px; }
    .brk-team-persone-circle__social-links ul {
      display: -webkit-box;
      display: flex;
      justify-content: space-around;
      padding: 0 18px; }
      .brk-team-persone-circle__social-links ul li {
        margin-top: 12px;
        opacity: 0;
        -webkit-transform: translateY(100%);
                transform: translateY(100%);
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
        .brk-team-persone-circle__social-links ul li:nth-child(1) {
          -webkit-transition-delay: .1s;
                  transition-delay: .1s; }
        .brk-team-persone-circle__social-links ul li:nth-child(2) {
          -webkit-transition-delay: .15s;
                  transition-delay: .15s; }
        .brk-team-persone-circle__social-links ul li:nth-child(3) {
          -webkit-transition-delay: .2s;
                  transition-delay: .2s; }
        .brk-team-persone-circle__social-links ul li:nth-child(4) {
          -webkit-transition-delay: .25s;
                  transition-delay: .25s; }
        .brk-team-persone-circle__social-links ul li:nth-child(2), .brk-team-persone-circle__social-links ul li:nth-child(3) {
          margin-top: 26px; }
        .brk-team-persone-circle__social-links ul li a {
          padding: 0 10px;
          display: inline-block; }

.brk-team-mc {
  position: relative;
  max-width: 300px;
  min-height: 450px;
  margin: 15px auto; }
  .brk-team-mc.brk-mc-base h4 {
    background-color: #2775FF; }
    .brk-team-mc.brk-mc-base h4:before {
      border-bottom-color: #0F5AE0; }
    .brk-team-mc.brk-mc-base h4:after {
      border-top-color: #0F5AE0; }
  .brk-team-mc.brk-mc-base .mc-btn-bg-action:before {
  background-color: #0F5AE0; }
  .brk-team-mc.brk-mc-base .mc-btn-bg-action:after {
  background-color: #0F5AE0; }
  .brk-team-mc.brk-mc-base .mc-btn-bg-action span {
    background-color: #2775FF; }
  .brk-team-mc.brk-mc-base .brk-team-mc__content {
    background-color: rgba(39, 117, 255, 0.9); }
  .brk-team-mc.brk-mc-red h4 {
    background-color: #6377DF; }
    .brk-team-mc.brk-mc-red h4:before {
      border-bottom-color: #6e50c2; }
    .brk-team-mc.brk-mc-red h4:after {
      border-top-color: #6e50c2; }
  .brk-team-mc.brk-mc-red .mc-btn-bg-action:before {
  background-color: #6e50c2; }
  .brk-team-mc.brk-mc-red .mc-btn-bg-action:after {
  background-color: #6e50c2; }
  .brk-team-mc.brk-mc-red .mc-btn-bg-action span {
    background-color: #6377DF; }
  .brk-team-mc.brk-mc-red .brk-team-mc__content {
    background-color: rgba(99, 119, 223, 0.9); }
  .brk-team-mc.brk-mc-purple h4 {
    background-color: #4f34c9; }
    .brk-team-mc.brk-mc-purple h4:before {
      border-bottom-color: #4F00BA; }
    .brk-team-mc.brk-mc-purple h4:after {
      border-top-color: #4F00BA; }
  .brk-team-mc.brk-mc-purple .mc-btn-bg-action:before {
  background-color: #4F00BA; }
  .brk-team-mc.brk-mc-purple .mc-btn-bg-action:after {
  background-color: #4F00BA; }
  .brk-team-mc.brk-mc-purple .mc-btn-bg-action span {
    background-color: #4f34c9; }
  .brk-team-mc.brk-mc-purple .brk-team-mc__content {
    background-color: rgba(79, 52, 201, 0.9); }
  .brk-team-mc.brk-mc-light-blue h4 {
    background-color: #00c6ff; }
    .brk-team-mc.brk-mc-light-blue h4:before {
      border-bottom-color: #0B98F6; }
    .brk-team-mc.brk-mc-light-blue h4:after {
      border-top-color: #0B98F6; }
  .brk-team-mc.brk-mc-light-blue .mc-btn-bg-action:before {
  background-color: #0B98F6; }
  .brk-team-mc.brk-mc-light-blue .mc-btn-bg-action:after {
  background-color: #0B98F6; }
  .brk-team-mc.brk-mc-light-blue .mc-btn-bg-action span {
    background-color: #00c6ff; }
  .brk-team-mc.brk-mc-light-blue .brk-team-mc__content {
    background-color: rgba(0, 198, 255, 0.9); }
  .brk-team-mc.mc-active h4 {
    top: 0; }
    .brk-team-mc.mc-active h4:before {
      top: 0;
      opacity: 0; }
    .brk-team-mc.mc-active h4:after {
      bottom: -15px;
      opacity: 1; }
  .brk-team-mc.mc-active .mc-btn-bg-action {
    top: 0;
    right: 0;
    opacity: 0; }
  .brk-team-mc.mc-active .mc-btn-action {
    top: 26px;
    right: 27px; }
  .brk-team-mc.mc-active .brk-team-mc__content {
    height: 100%; }
  .brk-team-mc.mc-active .mc-social li {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .brk-team-mc.mc-active .mc-description {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .brk-team-mc h4 {
    position: absolute;
    top: -webkit-calc(100% - 90px);
    top: calc(100% - 90px);
    left: -15px;
    right: 0;
    height: 90px;
    padding: 21px 15px 5px 29px;
    color: #fff;
    text-align: left;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.14);
    z-index: 14; }
    @media (max-width: 374px) {
      .brk-team-mc h4 {
        left: 0; } }
    .brk-team-mc h4 a {
      display: inline-block; }
      .brk-team-mc h4 a:hover {
        color: #fff; }
    .brk-team-mc h4 span {
      display: block;
      color: rgba(255, 255, 255, 0.5); }
    .brk-team-mc h4:before, .brk-team-mc h4:after {
      content: '';
      position: absolute;
      left: 0;
      width: 0;
      height: 0;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
      @media (max-width: 374px) {
        .brk-team-mc h4:before, .brk-team-mc h4:after {
          display: none; } }
    .brk-team-mc h4:before {
      top: -15px;
      border-bottom: 15px solid;
      border-left: 15px solid transparent;
      opacity: 1; }
    .brk-team-mc h4:after {
      bottom: 0;
      border-top: 15px solid;
      border-left: 15px solid transparent;
      opacity: 0; }
  .brk-team-mc__content {
    position: absolute;
    width: 100%;
    height: 89px;
    left: 0;
    bottom: 0;
    z-index: 5;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    overflow: hidden; }
    .brk-team-mc__content .mc-description {
      color: rgba(255, 255, 255, 0.5);
      position: absolute;
      min-width: 180px;
      opacity: 0;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-150%, -50%);
              transform: translate(-150%, -50%);
      text-align: left;
      -webkit-transition: all .5s ease-in-out .1s;
      transition: all .5s ease-in-out .1s; }
    .brk-team-mc__content .mc-social {
      position: absolute;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      bottom: 0;
      left: 0;
      right: 0;
      height: 89px;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      padding-left: 34px; }
      .brk-team-mc__content .mc-social li {
        color: #fff;
        font-size: 1rem;
        opacity: 0;
        -webkit-transform: translateY(100%);
                transform: translateY(100%);
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
        .brk-team-mc__content .mc-social li:nth-child(1) {
          -webkit-transition-delay: 0.09s;
                  transition-delay: 0.09s; }
        .brk-team-mc__content .mc-social li:nth-child(2) {
          -webkit-transition-delay: 0.18s;
                  transition-delay: 0.18s; }
        .brk-team-mc__content .mc-social li:nth-child(3) {
          -webkit-transition-delay: 0.27s;
                  transition-delay: 0.27s; }
        .brk-team-mc__content .mc-social li:nth-child(4) {
          -webkit-transition-delay: 0.36s;
                  transition-delay: 0.36s; }
        .brk-team-mc__content .mc-social li:nth-child(5) {
          -webkit-transition-delay: 0.45s;
                  transition-delay: 0.45s; }
        .brk-team-mc__content .mc-social li:nth-child(6) {
          -webkit-transition-delay: 0.54s;
                  transition-delay: 0.54s; }
        .brk-team-mc__content .mc-social li:nth-child(7) {
          -webkit-transition-delay: 0.63s;
                  transition-delay: 0.63s; }
        .brk-team-mc__content .mc-social li:nth-child(8) {
          -webkit-transition-delay: 0.72s;
                  transition-delay: 0.72s; }
        .brk-team-mc__content .mc-social li:nth-child(9) {
          -webkit-transition-delay: 0.81s;
                  transition-delay: 0.81s; }
        .brk-team-mc__content .mc-social li:nth-child(10) {
          -webkit-transition-delay: 0.9s;
                  transition-delay: 0.9s; }
        .brk-team-mc__content .mc-social li span {
          padding: 11px;
          letter-spacing: .04em; }
      .brk-team-mc__content .mc-social a {
        color: #fff;
        padding: 10px;
        font-size: 0.8125rem; }
        .brk-team-mc__content .mc-social a i {
          -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
          line-height: inherit; }
        .brk-team-mc__content .mc-social a:hover i {
          -webkit-transform: scale(1.4);
                  transform: scale(1.4); }
  .brk-team-mc .mc-btn-bg-action {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 73px;
    height: 73px;
    overflow: hidden;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
    .brk-team-mc .mc-btn-bg-action:before, .brk-team-mc .mc-btn-bg-action:after {
      content: '';
      position: absolute;
      width: 5px;
      height: 5px; }
    .brk-team-mc .mc-btn-bg-action:before {
      top: 0;
      left: 0; }
    .brk-team-mc .mc-btn-bg-action:after {
      right: 0;
      bottom: 0; }
    .brk-team-mc .mc-btn-bg-action span {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 103px;
      height: 32px;
      text-align: center;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      -webkit-transform-origin: right bottom;
              transform-origin: right bottom;
      z-index: 9; }
  .brk-team-mc .mc-btn-action {
    color: #fff;
    position: absolute;
    top: 3px;
    right: 8px;
    z-index: 15;
    padding: 5px;
    background-color: transparent;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    .brk-team-mc .mc-btn-action i {
      font-size: 1rem; }
  .brk-team-mc .fa-spin-fast {
    -webkit-animation: fa-spin-fast .2s infinite linear;
    animation: fa-spin-fast .2s infinite linear; }

@-webkit-keyframes fa-spin-fast {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes fa-spin-fast {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.brk-team-staff {
  width: 100%;
  max-width: 320px;
  min-height: 350px;
  position: relative; }
  .brk-bordered-theme .brk-team-staff {
    border-radius: inherit;
    overflow: hidden; }
  .brk-team-staff:hover .brk-team-staff__description {
    -webkit-clip-path: polygon(0 100%, 0 42%, 100% 0, 100% 100%);
    clip-path: polygon(0 100%, 0 42%, 100% 0, 100% 100%); }
    .brk-team-staff:hover .brk-team-staff__description:before {
      opacity: 1; }
    .brk-team-staff:hover .brk-team-staff__description h4 {
      color: #fff; }
  .brk-team-staff:hover .brk-team-staff__link {
    bottom: 106px; }
    .brk-team-staff:hover .brk-team-staff__link i:nth-child(1) {
      opacity: 0;
      -webkit-transform: translate(-150%, -50%);
              transform: translate(-150%, -50%); }
    .brk-team-staff:hover .brk-team-staff__link i:nth-child(2) {
      opacity: 1;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  .brk-team-staff:hover .brk-team-staff__social-links {
    right: 21px;
    opacity: 1; }
  .brk-team-staff__img {
    width: 100%;
    min-height: 310px; }
  .brk-team-staff__link {
    position: absolute;
    bottom: 57px;
    right: 23px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 3; }
    .brk-team-staff__link i {
      line-height: 24px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      color: #2775FF; }
      .brk-team-staff__link i:before {
        font-size: 0.875rem; }
      .brk-team-staff__link i:nth-child(1) {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
      .brk-team-staff__link i:nth-child(2) {
        opacity: 0;
        -webkit-transform: translate(100%, -50%);
                transform: translate(100%, -50%); }
  .brk-team-staff__description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 140px;
    overflow: hidden;
    background-color: #fff;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-clip-path: polygon(0 100%, 0 42%, 100% 42%, 100% 100%);
    clip-path: polygon(0 100%, 0 42%, 100% 42%, 100% 100%);
    z-index: 2; }
    .brk-team-staff__description:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      z-index: 1;
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(39, 117, 255, 0.94)), to(rgba(114, 2, 187, 0.94)));
      background-image: linear-gradient(to right, rgba(39, 117, 255, 0.94), rgba(114, 2, 187, 0.94)); }
    .brk-team-staff__description h4 {
      position: absolute;
      bottom: 19px;
      left: 34px;
      z-index: 2;
      text-align: left; }
      .brk-team-staff__description h4 a {
        display: inline-block;
        -webkit-transition: none;
        transition: none; }
        .brk-team-staff__description h4 a:hover {
          color: #fff; }
      .brk-team-staff__description h4 span {
        display: block; }
  .brk-team-staff__social-links {
    position: absolute;
    bottom: 16px;
    right: -10px;
    opacity: 0;
    width: auto;
    -webkit-transition: all .3s ease-in-out .1s;
    transition: all .3s ease-in-out .1s;
    z-index: 3; }
    .brk-team-staff__social-links:before, .brk-team-staff__social-links:after {
      content: " ";
      display: table; }
    .brk-team-staff__social-links:after {
      clear: both; }
    .brk-team-staff__social-links.sl-2x a {
      width: 100%; }
    .brk-team-staff__social-links a {
      float: left;
      display: block;
      width: 50%;
      color: #fff;
      text-align: center; }
      .brk-team-staff__social-links a:hover {
        -webkit-transform: scale(1.4);
                transform: scale(1.4); }
      .brk-team-staff__social-links a i {
        font-size: 0.8125rem;
        line-height: inherit; }

.brk-team-persone-table {
  position: relative; }
  .brk-team-persone-table .ptable-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-top: 1px dashed rgba(39, 39, 39, 0.3);
    z-index: 9; }
  .brk-team-persone-table .ptable-bottom {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px dashed rgba(39, 39, 39, 0.3);
    z-index: 9; }
  .brk-team-persone-table .ptable-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    border-right: 1px dashed rgba(39, 39, 39, 0.3);
    z-index: 9; }
  .brk-team-persone-table .ptable-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-left: 1px dashed rgba(39, 39, 39, 0.3);
    z-index: 9; }
  .brk-team-persone-table__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1; }
  .brk-team-persone-table__item {
    position: relative;
    height: 0;
    padding-bottom: 100%;
    min-height: 360px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
    .brk-team-persone-table__item:hover .brk-team-persone-table__title_dark,
    .brk-team-persone-table__item:hover .brk-team-persone-table__title_white,
    .brk-team-persone-table__item:hover .brk-team-persone-table__title_primary {
      background-color: transparent; }
    .brk-team-persone-table__item:hover .brk-team-persone-table__name-position {
      top: 35px;
      left: 43px;
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
      text-align: left; }
      .brk-team-persone-table__item:hover .brk-team-persone-table__name-position h4 {
        color: #fff; }
    .brk-team-persone-table__item:hover .brk-team-persone-table__contacts {
      z-index: 11; }
      .brk-team-persone-table__item:hover .brk-team-persone-table__contacts li {
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0); }
  .brk-team-persone-table__title {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
    .brk-team-persone-table__title_dark {
      background-color: #e8ecff; }
    .brk-team-persone-table__title_primary {
      background-color: #2775FF; }
    .brk-team-persone-table__title_white {
      background-color: #f1f6ff; }
  .brk-team-persone-table__name-position {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 195px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
    .brk-team-persone-table__name-position h4 {
      color: #272727;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      letter-spacing: -0.02em; }
    .brk-team-persone-table__name-position span {
      color: #c4c4c4; }
  .brk-team-persone-table__contacts {
    position: absolute;
    z-index: 3;
    margin: 0;
    bottom: 35px;
    left: 0;
    width: 100%;
    padding-left: 43px;
    text-align: left;
    overflow: hidden; }
    .brk-team-persone-table__contacts li {
      display: block;
      opacity: 0;
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      line-height: 31px;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center; }
      .brk-team-persone-table__contacts li:nth-child(1) {
        -webkit-transition-delay: 0.08s;
                transition-delay: 0.08s; }
      .brk-team-persone-table__contacts li:nth-child(2) {
        -webkit-transition-delay: 0.16s;
                transition-delay: 0.16s; }
      .brk-team-persone-table__contacts li:nth-child(3) {
        -webkit-transition-delay: 0.24s;
                transition-delay: 0.24s; }
      .brk-team-persone-table__contacts li:nth-child(4) {
        -webkit-transition-delay: 0.32s;
                transition-delay: 0.32s; }
      .brk-team-persone-table__contacts li:nth-child(5) {
        -webkit-transition-delay: 0.4s;
                transition-delay: 0.4s; }
      .brk-team-persone-table__contacts li:nth-child(6) {
        -webkit-transition-delay: 0.48s;
                transition-delay: 0.48s; }
      .brk-team-persone-table__contacts li:nth-child(7) {
        -webkit-transition-delay: 0.56s;
                transition-delay: 0.56s; }
      .brk-team-persone-table__contacts li:nth-child(8) {
        -webkit-transition-delay: 0.64s;
                transition-delay: 0.64s; }
      .brk-team-persone-table__contacts li:nth-child(9) {
        -webkit-transition-delay: 0.72s;
                transition-delay: 0.72s; }
      .brk-team-persone-table__contacts li:nth-child(10) {
        -webkit-transition-delay: 0.8s;
                transition-delay: 0.8s; }
      .brk-team-persone-table__contacts li a {
        color: #fff; }
      .brk-team-persone-table__contacts li i {
        color: rgba(255, 255, 255, 0.4);
        width: 28px; }
  .brk-bordered-theme .brk-team-persone-table {
    border-radius: inherit;
    overflow: hidden; }
    .brk-bordered-theme .brk-team-persone-table .brk-elev {
      display: none; }
    .brk-bordered-theme .brk-team-persone-table .ptable-top,
    .brk-bordered-theme .brk-team-persone-table .ptable-bottom,
    .brk-bordered-theme .brk-team-persone-table .ptable-right,
    .brk-bordered-theme .brk-team-persone-table .ptable-left {
      display: none; }

.brk-elev {
  position: absolute;
  width: 19px;
  height: 19px;
  z-index: 10; }
  .brk-elev:before, .brk-elev:after {
    content: '';
    position: absolute;
    background-color: #000; }
  .brk-elev:before {
    width: 100%;
    height: 1px;
    top: 9px;
    left: 0; }
  .brk-elev:after {
    width: 1px;
    height: 100%;
    top: 0;
    left: 9px; }
  .brk-elev-1 {
    top: -9px;
    left: -9px; }
  .brk-elev-2 {
    top: -9px;
    right: -10px; }
  .brk-elev-3 {
    bottom: -10px;
    right: -10px; }
  .brk-elev-4 {
    bottom: -10px;
    left: -9px; }

/*# sourceMappingURL=maps/team.css.map */
