/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
.brk-tiles-full {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  min-height: 280px;
  text-align: center; }
  .brk-tiles-full:hover .brk-tiles-full__thumb:before {
    opacity: 1; }
  .brk-tiles-full:hover .brk-tiles-full__content {
    box-shadow: 0 6px 30px rgba(39, 117, 255, 0.6); }
    .brk-tiles-full:hover .brk-tiles-full__content:before {
      border-right-color: #2775FF;
      border-left-color: #00c6ff; }
      @media (max-width: 767px) {
        .brk-tiles-full:hover .brk-tiles-full__content:before {
          border-right-color: transparent;
          border-left-color: transparent;
          border-bottom-color: #00c6ff; } }
    .brk-tiles-full:hover .brk-tiles-full__content:after {
      opacity: 1; }
    .brk-tiles-full:hover .brk-tiles-full__content h4 {
  color: #fff; }
    .brk-tiles-full:hover .brk-tiles-full__content p {
  color: #fff; }
    .brk-tiles-full:hover .brk-tiles-full__content h4:before {
      background-color: #fff; }
    .brk-tiles-full:hover .brk-tiles-full__content .brk-tiles-full__link {
      border: 2px solid #fff; }
  @media (min-width: 768px) {
    .brk-tiles-full_left .brk-tiles-full__thumb {
      -webkit-box-ordinal-group: 3;
              order: 2; } }
  @media (min-width: 768px) {
    .brk-tiles-full_left .brk-tiles-full__content {
      -webkit-box-ordinal-group: 2;
              order: 1; } }
  .brk-tiles-full_left .brk-tiles-full__content:before {
    left: auto;
    right: -16px;
    border-right: 0 solid transparent;
    border-left: 16px solid #fff; }
    @media (max-width: 767px) {
      .brk-tiles-full_left .brk-tiles-full__content:before {
        top: -16px;
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        border-right: 16px solid transparent;
        border-left: 16px solid transparent;
        border-top: 0;
        border-bottom: 16px solid #fff; } }
  .brk-tiles-full__thumb, .brk-tiles-full__content {
    flex-basis: 100%;
    max-width: 100%; }
    @media (min-width: 768px) {
      .brk-tiles-full__thumb, .brk-tiles-full__content {
        flex-basis: 50%;
        max-width: 50%; } }
  .brk-tiles-full__thumb {
    background: no-repeat center center;
    background-size: cover;
    position: relative;
    min-height: 250px; }
    .brk-tiles-full__thumb:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      z-index: 1;
      background-color: rgba(0, 198, 255, 0.2); }
  .brk-tiles-full__content {
    padding: 40px 0 20px;
    position: relative; }
    .brk-tiles-full__content-layer {
      position: relative;
      z-index: 2; }
    .brk-tiles-full__content:before {
      content: '';
      position: absolute;
      top: 50%;
      left: -16px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      width: 0;
      height: 0;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      border-top: 16px solid transparent;
      border-bottom: 16px solid transparent;
      z-index: 9;
      border-right: 16px solid #fff; }
      @media (max-width: 767px) {
        .brk-tiles-full__content:before {
          top: -16px;
          left: 50%;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%);
          border-right: 16px solid transparent;
          border-left: 16px solid transparent;
          border-bottom: 16px solid #fff;
          border-top: 0; } }
    .brk-tiles-full__content:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      background-image: linear-gradient(50deg, rgba(39, 117, 255, 0.94), rgba(0, 198, 255, 0.94)); }
    .brk-tiles-full__content h4 {
      text-transform: uppercase;
      position: relative;
      padding: 0 15px 12px;
      margin-bottom: 24px; }
      .brk-tiles-full__content h4:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        width: 24px;
        height: 2px;
        background-color: #2775FF; }
    .brk-tiles-full__content p {
      padding: 0 15px;
      max-width: 500px;
      margin: 0 auto 25px auto;
      color: #9f9f9f; }
      @media (min-width: 768px) {
        .brk-tiles-full__content p {
          max-width: 380px; } }
  .brk-tiles-full__link {
    display: block;
    margin: 0 auto;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    position: relative;
    background-color: #fff;
    border: 2px solid #f4f4f4; }
    .brk-tiles-full__link i {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      font-size: 1.125rem;
      color: #2775FF; }

.brk-tiles-simple {
  background: no-repeat center center;
  background-size: cover;
  position: relative;
  min-height: 292px; }
  .brk-tiles-simple:hover .brk-tiles-simple__link {
    box-shadow: none; }
    .brk-tiles-simple:hover .brk-tiles-simple__link .before {
      -webkit-animation: pulse 1.5s infinite;
              animation: pulse 1.5s infinite;
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s; }
    .brk-tiles-simple:hover .brk-tiles-simple__link .after {
      -webkit-animation: pulse 1.5s infinite;
              animation: pulse 1.5s infinite; }
  .brk-tiles-simple .before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(transparent));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent);
    z-index: 1; }
  @media (min-width: 768px) {
    .brk-tiles-simple_left .before {
      background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.6)), to(transparent));
      background-image: linear-gradient(to left, rgba(0, 0, 0, 0.6), transparent); } }
  @media (min-width: 768px) {
    .brk-tiles-simple_left .brk-tiles-simple__content {
      text-align: right;
      -webkit-box-align: end;
              align-items: flex-end; } }
  .brk-tiles-simple__content {
    position: relative;
    z-index: 2;
    padding: 47px 30px 15px;
    text-align: left;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
    .brk-tiles-simple__content h4 {
      letter-spacing: 0.01em;
      margin-bottom: 30px;
      color: #fff; }
    .brk-tiles-simple__content p {
      max-width: 230px;
      font-size: 0.875rem;
      line-height: 26px;
      letter-spacing: 0.01em;
      margin-bottom: 41px;
      display: block;
      color: #c5c5c5; }
  .brk-tiles-simple__link {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    position: relative;
    background-color: #2775FF;
    box-shadow: 0 5px 16px rgba(39, 117, 255, 0.5); }
    .brk-tiles-simple__link .before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      z-index: -1;
      background-color: rgba(39, 117, 255, 0.5); }
    .brk-tiles-simple__link .after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 50%;
      z-index: -1;
      background-color: rgba(39, 117, 255, 0.5); }
    .brk-tiles-simple__link i {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      font-size: 1.125rem;
      color: #fff; }

.brk-tiles-clean {
  position: relative;
  min-height: 270px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9; }
  .brk-tiles-clean:hover .brk-tiles-clean__thumb:before {
    opacity: 1; }
    @media (min-width: 768px) {
      .brk-tiles-clean:hover .brk-tiles-clean__thumb:before {
        left: 0; } }
  .brk-tiles-clean:hover .brk-tiles-clean__content:before {
    width: 158px;
    -webkit-clip-path: polygon(30% 0, 100% 0, 100% 100%, 30% 100%, 0 50%);
            clip-path: polygon(30% 0, 100% 0, 100% 100%, 30% 100%, 0 50%); }
  @media (min-width: 768px) {
    .brk-tiles-clean:hover .brk-tiles-clean__link {
      width: 174px;
      left: -180px; }
      .brk-tiles-clean:hover .brk-tiles-clean__link i {
        left: 28px; } }
  .brk-tiles-clean_left {
    -webkit-box-pack: end;
            justify-content: flex-end; }
    .brk-tiles-clean_left:hover .brk-tiles-clean__thumb:before {
      left: auto;
      right: 0; }
    .brk-tiles-clean_left:hover .brk-tiles-clean__content:before {
      -webkit-clip-path: polygon(0% 0%, 70% 0, 100% 50%, 70% 100%, 0% 100%);
              clip-path: polygon(0% 0%, 70% 0, 100% 50%, 70% 100%, 0% 100%); }
    @media (min-width: 768px) {
      .brk-tiles-clean_left:hover .brk-tiles-clean__link {
        left: auto;
        right: -180px; }
        .brk-tiles-clean_left:hover .brk-tiles-clean__link i {
          left: auto;
          right: 28px; } }
    .brk-tiles-clean_left .brk-tiles-clean__thumb {
      -webkit-box-ordinal-group: 3;
              order: 2; }
      @media (min-width: 768px) {
        .brk-tiles-clean_left .brk-tiles-clean__thumb:before {
          left: auto;
          right: -100%;
          -webkit-clip-path: polygon(7.5% 0, 100% 0, 100% 100%, 7.5% 100%, 0 50%);
                  clip-path: polygon(7.5% 0, 100% 0, 100% 100%, 7.5% 100%, 0 50%); } }
    .brk-tiles-clean_left .brk-tiles-clean__content {
      -webkit-box-ordinal-group: 2;
              order: 1;
      right: auto;
      left: 0;
      padding-right: 56px;
      padding-left: 41px; }
      .brk-tiles-clean_left .brk-tiles-clean__content:before {
        left: auto;
        right: 1px;
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
        -webkit-clip-path: polygon(0% 0%, 100% 0, 0 50%, 100% 100%, 0% 100%);
                clip-path: polygon(0% 0%, 100% 0, 0 50%, 100% 100%, 0% 100%); }
    .brk-tiles-clean_left .brk-tiles-clean__link {
      top: auto;
      bottom: -21px; }
      @media (min-width: 768px) {
        .brk-tiles-clean_left .brk-tiles-clean__link {
          left: auto;
          right: -21px;
          bottom: auto;
          top: 50%; }
          .brk-tiles-clean_left .brk-tiles-clean__link i {
            left: auto;
            right: 17px; }
          .brk-tiles-clean_left .brk-tiles-clean__link span {
            left: auto;
            right: 0;
            text-align: left;
            padding-right: 0;
            padding-left: 35px; } }
      @media screen and (max-width: 767px) {
        .brk-tiles-clean_left .brk-tiles-clean__link {
          z-index: 3; } }
  .brk-tiles-clean__thumb {
    background: no-repeat center center;
    background-size: cover;
    flex-basis: 100%;
    max-width: 100%;
    min-height: 250px;
    position: relative;
    overflow: hidden; }
    @media (min-width: 768px) {
      .brk-tiles-clean__thumb {
        flex-basis: 50%;
        max-width: 50%; } }
    .brk-tiles-clean__thumb:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      background-color: rgba(39, 117, 255, 0.6); }
      @media (min-width: 768px) {
        .brk-tiles-clean__thumb:before {
          left: -100%;
          opacity: 1;
          -webkit-transition: all .6s ease-in-out;
          transition: all .6s ease-in-out;
          -webkit-clip-path: polygon(0% 0%, 92% 0%, 100% 50%, 92% 100%, 0% 100%);
                  clip-path: polygon(0% 0%, 92% 0%, 100% 50%, 92% 100%, 0% 100%); } }
  .brk-tiles-clean__content {
    position: relative;
    flex-basis: 100%;
    max-width: 100%;
    min-height: 250px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    padding: 20px 30px 20px 56px;
    z-index: 3;
    background-color: #fff; }
    @media (min-width: 768px) {
      .brk-tiles-clean__content {
        text-align: left;
        flex-basis: 50%;
        max-width: 50%; } }
    @media (max-width: 1199px) {
      .brk-tiles-clean__content {
        padding-right: 25px;
        padding-left: 35px; } }
    .brk-tiles-clean__content:before {
      content: '';
      position: absolute;
      top: 0;
      left: 1px;
      width: 41px;
      height: 100%;
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
      -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 100% 50%);
              clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 100% 50%);
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      z-index: 1;
      background-color: #fff; }
      @media (max-width: 767px) {
        .brk-tiles-clean__content:before {
          display: none; } }
    .brk-tiles-clean__content h4 {
      margin-bottom: 15px;
      margin-top: -7px;
      font-size: 1.3125rem; }
      @media (max-width: 767px) {
        .brk-tiles-clean__content h4 {
          font-size: 1.125rem; } }
    .brk-tiles-clean__content p {
      font-size: 1rem;
      line-height: 26px;
      color: #9f9f9f; }
      @media (min-width: 992px) and (max-width: 1199px) {
        .brk-tiles-clean__content p {
          font-size: 0.875rem;
          line-height: 24px; } }
      @media (max-width: 767px) {
        .brk-tiles-clean__content p {
          font-size: 0.875rem;
          line-height: 24px; } }
  .brk-tiles-clean__link {
    position: absolute;
    top: -21px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: block;
    width: 174px;
    height: 42px;
    border-radius: 21px;
    overflow: hidden;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    z-index: 2;
    background-color: #2775FF;
    box-shadow: 0 5px 16px rgba(39, 117, 255, 0.5); }
    @media (min-width: 768px) {
      .brk-tiles-clean__link {
        width: 42px;
        top: 50%;
        left: -21px;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%); } }
    .brk-tiles-clean__link i {
      position: absolute;
      top: 50%;
      left: 28px;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      font-size: 1.125rem;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      color: #fff; }
      @media (min-width: 768px) {
        .brk-tiles-clean__link i {
          left: 18px; } }
    .brk-tiles-clean__link span {
      width: 174px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 0.875rem;
      line-height: 42px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: right;
      padding-right: 35px;
      color: #fff; }

.brk-tiles-assorted {
  min-height: 610px;
  background: no-repeat center center;
  background-size: cover;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  position: relative;
  margin: 5px 0;
  z-index: 1; }
  .brk-tiles-assorted_back .brk-tiles-assorted__title {
    -webkit-box-ordinal-group: 4;
            order: 3; }
    .brk-tiles-assorted_back .brk-tiles-assorted__title .brk-abs-overlay {
      bottom: auto;
      top: 0; }
    .brk-tiles-assorted_back .brk-tiles-assorted__title:after {
      top: auto;
      bottom: 0; }
  .brk-tiles-assorted_back .brk-tiles-assorted__bg {
    -webkit-box-ordinal-group: 2;
            order: 1; }
  .brk-tiles-assorted:hover {
    z-index: 2; }
    .brk-tiles-assorted:hover .brk-tiles-assorted__title {
      background-color: transparent;
      box-shadow: 0 6px 30px rgba(79, 52, 201, 0.6); }
      .brk-tiles-assorted:hover .brk-tiles-assorted__title .brk-abs-overlay {
        height: 100%; }
      .brk-tiles-assorted:hover .brk-tiles-assorted__title:after {
        height: 0; }
      .brk-tiles-assorted:hover .brk-tiles-assorted__title h3 {
        color: rgba(255, 255, 255, 0.4); }
      .brk-tiles-assorted:hover .brk-tiles-assorted__title h4 {
        color: #fff; }
    .brk-tiles-assorted:hover .brk-tiles-assorted__bg {
      box-shadow: 0 6px 30px rgba(39, 117, 255, 0.6); }
      .brk-tiles-assorted:hover .brk-tiles-assorted__bg .brk-abs-overlay {
        opacity: 1; }
      .brk-tiles-assorted:hover .brk-tiles-assorted__bg .brk-layer {
        opacity: 0; }
    .brk-tiles-assorted:hover .brk-tiles-assorted__link {
      right: -webkit-calc(50% - 21px);
      right: calc(50% - 21px);
      opacity: 1; }
    .brk-tiles-assorted:hover .brk-tiles-assorted__search {
      left: -webkit-calc(50% - 19px);
      left: calc(50% - 19px);
      opacity: 1; }
  .brk-tiles-assorted .before {
    width: 100%;
    height: 10px;
    -webkit-box-ordinal-group: 3;
            order: 2;
    background-color: #fff; }
  .brk-tiles-assorted__title {
    min-height: 220px;
    -webkit-box-ordinal-group: 2;
            order: 1;
    text-transform: uppercase;
    padding: 15px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    position: relative;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    box-shadow: inset 0 0 0 1px #eee; }
    .brk-tiles-assorted__title .brk-abs-overlay {
      content: '';
      position: absolute;
      top: auto;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      z-index: 1;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
    .brk-tiles-assorted__title:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      background-color: #fff; }
    .brk-tiles-assorted__title-content {
      position: relative;
      z-index: 2; }
    .brk-tiles-assorted__title h3 {
      font-size: 0.9375rem;
      line-height: 18px;
      letter-spacing: 0.05em;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      color: rgba(0, 0, 0, 0.4); }
    .brk-tiles-assorted__title h4 {
      font-size: 1.5rem;
      line-height: 24px;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
  .brk-tiles-assorted__bg {
    min-height: 380px;
    -webkit-box-ordinal-group: 4;
            order: 3;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px #eee; }
    .brk-tiles-assorted__bg .brk-abs-overlay {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      opacity: 0;
      z-index: 2; }
    .brk-tiles-assorted__bg .brk-layer {
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
  .brk-tiles-assorted__link, .brk-tiles-assorted__search {
    position: absolute;
    top: 50%;
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
    .brk-tiles-assorted__link i, .brk-tiles-assorted__search i {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  .brk-tiles-assorted__link {
    right: 0;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    box-shadow: 0 5px 21px rgba(0, 0, 0, 0.1);
    opacity: 0;
    z-index: 4;
    background-color: #fff; }
    .brk-tiles-assorted__link i {
      font-size: 1rem;
      color: #2775FF; }
  .brk-tiles-assorted__search {
    left: 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border: 2px solid rgba(255, 255, 255, 0.26);
    opacity: 0;
    z-index: 3; }
    .brk-tiles-assorted__search i {
      font-size: 0.875rem;
      color: #fff; }

.brk-tiles-formats {
  position: relative;
  background: no-repeat center center;
  background-size: cover;
  display: -webkit-box;
  display: flex;
  min-height: 330px;
  margin: 20px 0;
  /* formats posts */
  /* end formats posts */
  /* Content */ }
  .brk-tiles-formats:hover:before {
    opacity: 1; }
  .brk-tiles-formats:hover:after {
    opacity: 0 !important; }
  .brk-tiles-formats:hover .brk-tiles-formats__format-post {
    -webkit-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0); }
  .brk-tiles-formats:hover .brk-tiles-formats__read-more {
    -webkit-transform: scale(1);
            transform: scale(1); }
  .brk-tiles-formats.format-image .brk-tiles-formats__format-post {
    top: -17px;
    background-image: -webkit-gradient(linear, left top, right top, from(#6e50c2), to(#7400ba));
    background-image: linear-gradient(to right, #6e50c2, #7400ba); }
  .brk-tiles-formats.format-quote:after {
    opacity: 1; }
  .brk-tiles-formats.format-quote .brk-tiles-formats__content {
    padding-top: 62px;
    -webkit-box-pack: start;
            justify-content: flex-start; }
    .brk-tiles-formats.format-quote .brk-tiles-formats__content:hover h4 {
      margin-top: 36px; }
    .brk-tiles-formats.format-quote .brk-tiles-formats__content h4 {
      margin-top: 52px;
      margin-bottom: 38px;
      letter-spacing: 0.04em; }
  .brk-tiles-formats.format-quote .brk-tiles-formats__format-post {
    bottom: -17px;
    background-image: linear-gradient(50deg, #2775FF, #00c6ff); }
  .brk-tiles-formats.format-gallery .brk-tiles-formats__format-post {
    top: -17px;
    background-image: -webkit-gradient(linear, left top, right top, from(#6377DF), to(#b50aff));
    background-image: linear-gradient(to right, #6377DF, #b50aff); }
  .brk-tiles-formats.format-standard:after {
    opacity: 1; }
  .brk-tiles-formats.format-standard .brk-tiles-formats__content {
    padding-top: 73px;
    -webkit-box-pack: start;
            justify-content: flex-start; }
    .brk-tiles-formats.format-standard .brk-tiles-formats__content h4 {
      margin-bottom: 45px; }
  .brk-tiles-formats.format-standard .brk-tiles-formats__format-post {
    bottom: -17px;
    background-image: -webkit-gradient(linear, left top, right top, from(#50c2ae), color-stop(#02d8b7), to(#0cdfbf));
    background-image: linear-gradient(to right, #50c2ae, #02d8b7, #0cdfbf); }
  .brk-tiles-formats__format-post {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
    width: 100px;
    height: 34px;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 34px;
    font-weight: bold;
    text-align: center;
    border-radius: 6px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    z-index: 3;
    color: #fff; }
  .brk-tiles-formats:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6); }
  .brk-tiles-formats:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    z-index: 1;
    background-image: linear-gradient(50deg, rgba(39, 117, 255, 0.86), rgba(0, 198, 255, 0.86)); }
  .brk-tiles-formats__content {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    z-index: 2;
    padding-bottom: 10px;
    color: #fff; }
    .brk-tiles-formats__content h4 {
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      color: #fff; }
    .brk-tiles-formats__content p {
      width: 100%;
      max-width: 380px;
      padding: 0 15px; }
    .brk-tiles-formats__content i {
      font-size: 1.875rem; }
  .brk-tiles-formats__read-more {
    width: 130px;
    height: 34px;
    border-radius: 6px;
    text-align: center;
    font-size: 0.875rem;
    line-height: 34px;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    -webkit-transform: scale(0);
            transform: scale(0);
    background-color: #fff;
    color: #2775FF; }

/*# sourceMappingURL=maps/tiles.css.map */
