/* ----------- Palette variable ----------- */

/* ----------- Palette variable ----------- */
/*
.block {
	// CSS declarations for `.block`

	@include e('element') {
		// CSS declarations for `.block__element`
	}

	@include m('modifier') {
		// CSS declarations for `.block--modifier`

		@include e('element') {
			// CSS declarations for `.block--modifier__element`
		}
	}
}
*/
.fonts {
  display: none !important; }

.timeline .swiper-pagination-bullet {
  background: transparent; }

.timeline .swiper-pagination-bullet-active:after {
  background: #2775FF; }

.timeline .table {
  display: table;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px; }
  .timeline .table__cell {
    display: table-cell;
    vertical-align: middle; }

.timeline--strict .swiper-slide, .timeline--masonry .swiper-slide {
  height: auto;
  width: 100%;
  max-width: 570px;
  max-height: 100%; }
  @media screen and (max-width: 991px) {
    .timeline--strict .swiper-slide, .timeline--masonry .swiper-slide {
      max-width: -webkit-calc(50% - 15px);
      max-width: calc(50% - 15px); } }
  @media screen and (max-width: 767px) {
    .timeline--strict .swiper-slide, .timeline--masonry .swiper-slide {
      max-width: 100%; } }

.timeline--strict .swiper-pagination, .timeline--masonry .swiper-pagination {
  position: absolute;
  top: 10px;
  background: transparent;
  width: 80% !important;
  left: 10% !important;
  height: 10px; }
  .timeline--strict .swiper-pagination:after, .timeline--masonry .swiper-pagination:after {
    content: '';
    position: absolute;
    display: block;
    width: 100vw;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    background: transparent;
    z-index: 1;
    height: 10px; }
  .timeline--strict .swiper-pagination:before, .timeline--masonry .swiper-pagination:before {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    width: 100vw;
    height: 2px;
    background: #e7e7e7;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }

.timeline--strict .swiper-pagination-bullet, .timeline--masonry .swiper-pagination-bullet {
  border-radius: 0;
  height: 10px;
  position: relative;
  float: left;
  margin: 0 !important;
  z-index: 20;
  opacity: 1 !important; }
  .timeline--strict .swiper-pagination-bullet:after, .timeline--masonry .swiper-pagination-bullet:after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    top: -3px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    -webkit-transition: all ease .15s;
    transition: all ease .15s;
    background: #d5d5d5; }

.timeline--strict .swiper-pagination-bullet-active:after {
  background: #2775FF; }

.timeline--masonry .swiper-pagination-bullet-active:after {
  background: #2775FF; }

.timeline--strict .filmstrip-slider-container, .timeline--masonry .filmstrip-slider-container {
  padding-top: 76px; }

.timeline--strict .swiper-progress__bar {
  z-index: 10;
  display: block;
  position: absolute;
  left: -webkit-calc(50% - 100vw);
  left: calc(50% - 100vw);
  width: 100vw;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  -webkit-transition: -webkit-transform ease 0.15s;
  transition: -webkit-transform ease 0.15s;
  transition: transform ease 0.15s;
  transition: transform ease 0.15s, -webkit-transform ease 0.15s;
  top: 4px;
  height: 2px;
  background: #2775FF; }

.timeline--masonry .swiper-progress__bar {
  z-index: 10;
  display: block;
  position: absolute;
  left: -webkit-calc(50% - 100vw);
  left: calc(50% - 100vw);
  width: 100vw;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  -webkit-transition: -webkit-transform ease 0.15s;
  transition: -webkit-transform ease 0.15s;
  transition: transform ease 0.15s;
  transition: transform ease 0.15s, -webkit-transform ease 0.15s;
  top: 4px;
  height: 2px;
  background: #2775FF; }

.timeline--strict_full-width .swiper-slide {
  max-width: 9999px; }

.timeline--strict .timeline__item {
  background: #fff;
  height: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: stretch;
          align-items: stretch;
  justify-content: space-around;
  opacity: .2;
  -webkit-transition: opacity ease 0.3s;
  transition: opacity ease 0.3s; }
  @media screen and (max-width: 575px) {
    .timeline--strict .timeline__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column; } }
  .timeline--strict .timeline__item * {
    pointer-events: none; }
  .timeline--strict .timeline__item.active {
    opacity: 1; }
    .timeline--strict .timeline__item.active * {
      pointer-events: auto; }

.timeline--strict .timeline__link {
  color: #000;
  width: 60%;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-box-flex: 0;
          flex: 0 0 60%;
  position: absolute;
  z-index: 2; }
  @media screen and (max-width: 991px) {
    .timeline--strict .timeline__link {
      -webkit-box-flex: 0;
              flex: 0 0 50%;
      width: 50%; } }
  @media screen and (max-width: 767px) {
    .timeline--strict .timeline__link {
      -webkit-box-flex: 0;
              flex: 0 0 50%;
      width: 50%; } }
  @media screen and (max-width: 575px) {
    .timeline--strict .timeline__link {
      -webkit-box-flex: 0;
              flex: 0 0 100%;
      position: relative;
      padding-bottom: 100%;
      width: 100%; } }
  .timeline--strict .timeline__link .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity ease-in-out .3s;
    transition: opacity ease-in-out .3s; }
  .timeline--strict .timeline__link .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #fff;
    font-size: 130px;
    opacity: 0;
    -webkit-transition: opacity .3s ease-in-out 0s;
    transition: opacity .3s ease-in-out 0s; }
  .timeline--strict .timeline__link:hover .overlay {
    opacity: .8; }
  .timeline--strict .timeline__link:hover .icon {
    opacity: 1;
    -webkit-transition: opacity .5s ease-in-out 0.2s;
    transition: opacity .5s ease-in-out 0.2s; }

.timeline--strict .timeline__content {
  position: relative;
  height: 100%;
  padding: 60px 15px 60px -webkit-calc(30px + 60%);
  padding: 60px 15px 60px calc(30px + 60%); }
  @media screen and (max-width: 991px) {
    .timeline--strict .timeline__content {
      padding: 60px 15px 60px -webkit-calc(15px + 50%);
      padding: 60px 15px 60px calc(15px + 50%); } }
  @media screen and (max-width: 575px) {
    .timeline--strict .timeline__content {
      padding: 30px 15px; } }

.timeline--mosaic {
  position: relative;
  padding: 90px 0;
  color: #fff;
  border-bottom: 15px solid #fff; }
  .timeline--mosaic:after {
    content: "";
    height: 5px;
    width: 100%;
    background-color: transparent; }
  .timeline--mosaic__svg-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 2;
    height: 280px; }
    .timeline--mosaic__svg-container svg {
      position: absolute;
      top: -5px;
      left: -1px;
      width: -webkit-calc(100% + 2px);
      width: calc(100% + 2px); }
  .timeline--mosaic .row {
    flex-wrap: nowrap; }
  .timeline--mosaic .filmstrip-slider-container {
    padding: 20px 0; }
  .timeline--mosaic .post-filmstrip {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    margin: 0 !important; }
    .timeline--mosaic .post-filmstrip:nth-child(even) .timeline__link {
      -webkit-box-ordinal-group: 2;
              order: 1;
      margin-top: 5px; }
    .timeline--mosaic .post-filmstrip:nth-child(even) .timeline__date {
      bottom: 5px;
      right: auto;
      left: 100%;
      -webkit-transform-origin: bottom left;
              transform-origin: bottom left;
      padding-left: 92px;
      margin-left: -7px;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg); }
      .timeline--mosaic .post-filmstrip:nth-child(even) .timeline__date:before {
        left: 65px; }
      .timeline--mosaic .post-filmstrip:nth-child(even) .timeline__date:after {
        left: 0; }
    .timeline--mosaic .post-filmstrip:nth-child(even) .timeline__title {
      margin-top: 25px; }
    .timeline--mosaic .post-filmstrip:nth-child(odd) .timeline__link {
      -webkit-box-ordinal-group: 4;
              order: 3; }
    .timeline--mosaic .post-filmstrip:nth-child(odd) .timeline__date {
      top: 5px;
      -webkit-transform-origin: bottom right;
              transform-origin: bottom right;
      bottom: 0;
      right: auto;
      left: 100%;
      padding-right: 88px;
      margin-left: -7px;
      -webkit-transform: translate(-100%, -100%) rotate(-90deg);
              transform: translate(-100%, -100%) rotate(-90deg); }
      .timeline--mosaic .post-filmstrip:nth-child(odd) .timeline__date:before {
        right: 65px; }
      .timeline--mosaic .post-filmstrip:nth-child(odd) .timeline__date:after {
        right: 0; }
    .timeline--mosaic .post-filmstrip:nth-child(odd) .timeline__link {
      margin-top: 25px; }
  .timeline--mosaic .timeline__item {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    padding-right: 55px;
    padding-left: 15px;
    position: relative;
    max-width: 400px;
    width: 100%; }
  .timeline--mosaic .timeline__content {
    -webkit-box-ordinal-group: 3;
            order: 2; }
    .timeline--mosaic .timeline__content p {
      opacity: 0.6;
      margin: 10px 0 0 0; }
  .timeline--mosaic .timeline__date {
    position: absolute;
    height: 24px; }
    .timeline--mosaic .timeline__date:before {
      content: '';
      display: block;
      top: 50%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      position: absolute;
      width: 7px;
      height: 7px;
      background: #fff;
      border-radius: 50%;
      box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.15); }
    .timeline--mosaic .timeline__date:after {
      content: '';
      display: block;
      top: 50%;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
      position: absolute;
      width: 65px;
      height: 1px;
      background: #fff; }
  .timeline--mosaic .timeline__link {
    position: relative;
    width: 100%;
    display: block;
    height: auto;
    box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.15); }
    .timeline--mosaic .timeline__link img {
      width: 100%;
      height: auto; }
  .timeline--mosaic .timeline__title {
    color: #fff;
    margin: 0; }

.timeline--masonry_white .swiper-pagination-bullet strong {
  color: #ffffff !important; }

.timeline--masonry_white .timeline__date-year {
  color: #ffffff !important; }

.timeline--masonry .swiper-container {
  padding-left: 190px;
  padding-right: 190px;
  padding-top: 122px; }
  @media screen and (max-width: 767px) {
    .timeline--masonry .swiper-container {
      padding-left: 20px;
      padding-right: 20px; } }

.timeline--masonry .swiper-slide {
  width: 325px;
  max-height: 100%;
  height: auto; }
  @media screen and (max-width: 767px) {
    .timeline--masonry .swiper-slide {
      width: -webkit-calc(50% - 38px);
      width: calc(50% - 38px); } }
  @media screen and (max-width: 575px) {
    .timeline--masonry .swiper-slide {
      width: 100%; } }

.timeline--masonry .timeline__item {
  text-align: left; }
  @media screen and (max-width: 767px) {
    .timeline--masonry .timeline__item {
      width: 100%; } }
  .timeline--masonry .timeline__item img {
    width: auto;
    height: auto;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: box-shadow ease .3s;
    transition: box-shadow ease .3s;
    margin-bottom: 60px; }

.timeline--masonry .swiper-pagination {
  padding-top: 40px; }
  .timeline--masonry .swiper-pagination:before {
    top: 44px; }

.timeline--masonry .swiper-pagination-bullet:after {
  border: none;
  box-shadow: 0 0 0 6px white;
  height: 8px;
  width: 8px;
  top: 1px; }

.timeline--masonry .swiper-pagination-bullet strong {
  position: absolute;
  top: -43px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: #282b35;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.07em; }

.timeline--masonry .swiper-pagination-bullet-active:after {
  box-shadow: 0 0 0 12px rgba(15, 90, 224, 0.15); }

.timeline--masonry .swiper-pagination-bullet-active ~ .swiper-pagination-bullet:after {
  background: #ebebec;
  box-shadow: 0 0 0 6px white; }

.timeline--masonry .swiper-progress__bar {
  top: 44px;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(15, 90, 224, 1)), to(rgba(116, 0, 186, 1)));
  background-image: linear-gradient(to left, rgba(15, 90, 224, 1), rgba(116, 0, 186, 1)); }

.timeline .scrollbar {
  border: 3px solid #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3) inset, 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  height: 10px; }

.timeline .scrollbar-range {
  max-width: 100%;
  background-color: #7202bb !important; }

.timeline .swiper-scrollbar-drag {
  max-width: 16px !important;
  min-width: 16px !important;
  width: 16px !important;
  height: 16px !important;
  top: -6px;
  border: 2px solid #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5), 0 0 6px 0 rgba(0, 0, 0, 0.5) inset, 0 0 0 6px #fff inset;
  cursor: pointer;
  background: none !important; }
  .timeline .swiper-scrollbar-drag:after {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    background-image: linear-gradient(-97deg, #b50aff, #7400ba) !important; }

.timeline--vertical-circles, .timeline--vertical-squares {
  position: relative;
  padding-bottom: 230px; }
  @media screen and (max-width: 991px) {
    .timeline--vertical-circles, .timeline--vertical-squares {
      padding-bottom: 100px; } }
  .timeline--vertical-circles .timeline__wrapper, .timeline--vertical-squares .timeline__wrapper {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: start;
            align-items: flex-start;
    padding: 0 100px; }
    @media screen and (max-width: 991px) {
      .timeline--vertical-circles .timeline__wrapper, .timeline--vertical-squares .timeline__wrapper {
        padding: 0 50px; } }
    @media screen and (max-width: 767px) {
      .timeline--vertical-circles .timeline__wrapper, .timeline--vertical-squares .timeline__wrapper {
        padding: 0 20px; } }
    @media screen and (max-width: 575px) {
      .timeline--vertical-circles .timeline__wrapper, .timeline--vertical-squares .timeline__wrapper {
        padding: 0; } }
  .timeline--vertical-circles .timeline__item, .timeline--vertical-squares .timeline__item {
    width: 50%;
    position: relative;
    margin-top: 0;
    z-index: 5; }
    @media screen and (max-width: 991px) {
      .timeline--vertical-circles .timeline__item, .timeline--vertical-squares .timeline__item {
        width: 50%; } }
    @media screen and (max-width: 767px) {
      .timeline--vertical-circles .timeline__item, .timeline--vertical-squares .timeline__item {
        width: 100%;
        margin-top: 0 !important;
        margin-bottom: 20px; } }
    .timeline--vertical-circles .timeline__item:before {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  width: 13px;
  height: 13px;
  border: 3px solid #fff;
  border-radius: 50%;
  z-index: 3;
  background: #2775FF;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); }
    .timeline--vertical-squares .timeline__item:before {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  width: 13px;
  height: 13px;
  border: 3px solid #fff;
  border-radius: 50%;
  z-index: 3;
  background: #2775FF;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4); }
      @media screen and (max-width: 767px) {
        .timeline--vertical-circles .timeline__item:before, .timeline--vertical-squares .timeline__item:before {
          display: none; } }
    .timeline--vertical-circles .timeline__item:after {
  content: '';
  position: absolute;
  opacity: 0.4;
  width: 115px;
  top: 50%;
  height: 1px;
  z-index: 1;
  background-image: repeating-linear-gradient(90deg, transparent, transparent 7px, #2775FF 7px, #2775FF 12px); }
    .timeline--vertical-squares .timeline__item:after {
  content: '';
  position: absolute;
  opacity: 0.4;
  width: 115px;
  top: 50%;
  height: 1px;
  z-index: 1;
  background-image: repeating-linear-gradient(90deg, transparent, transparent 7px, #2775FF 7px, #2775FF 12px); }
      @media screen and (max-width: 767px) {
        .timeline--vertical-circles .timeline__item:after, .timeline--vertical-squares .timeline__item:after {
          display: none; } }
    .timeline--vertical-circles .timeline__item:nth-child(1), .timeline--vertical-squares .timeline__item:nth-child(1) {
      margin-top: 0; }
    .timeline--vertical-circles .timeline__item:nth-child(2), .timeline--vertical-squares .timeline__item:nth-child(2) {
      margin-top: 260px; }
      @media screen and (max-width: 767px) {
        .timeline--vertical-circles .timeline__item:nth-child(2), .timeline--vertical-squares .timeline__item:nth-child(2) {
          margin-top: 0; } }
    .timeline--vertical-circles .timeline__item:nth-child(odd), .timeline--vertical-squares .timeline__item:nth-child(odd) {
      padding-right: 115px; }
      @media screen and (max-width: 767px) {
        .timeline--vertical-circles .timeline__item:nth-child(odd), .timeline--vertical-squares .timeline__item:nth-child(odd) {
          padding-right: 0; } }
      .timeline--vertical-circles .timeline__item:nth-child(odd):before, .timeline--vertical-squares .timeline__item:nth-child(odd):before {
        -webkit-transform: translate(50%, -50%);
                transform: translate(50%, -50%); }
      .timeline--vertical-circles .timeline__item:nth-child(odd):before, .timeline--vertical-circles .timeline__item:nth-child(odd):after, .timeline--vertical-squares .timeline__item:nth-child(odd):before, .timeline--vertical-squares .timeline__item:nth-child(odd):after {
        right: 0; }
    .timeline--vertical-circles .timeline__item:nth-child(even), .timeline--vertical-squares .timeline__item:nth-child(even) {
      padding-left: 115px; }
      @media screen and (max-width: 767px) {
        .timeline--vertical-circles .timeline__item:nth-child(even), .timeline--vertical-squares .timeline__item:nth-child(even) {
          padding-left: 0; } }
      .timeline--vertical-circles .timeline__item:nth-child(even):before, .timeline--vertical-squares .timeline__item:nth-child(even):before {
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
      .timeline--vertical-circles .timeline__item:nth-child(even):before, .timeline--vertical-circles .timeline__item:nth-child(even):after, .timeline--vertical-squares .timeline__item:nth-child(even):before, .timeline--vertical-squares .timeline__item:nth-child(even):after {
        left: 0; }
    .timeline--vertical-circles .timeline__item:nth-last-of-type(-n+2):before, .timeline--vertical-squares .timeline__item:nth-last-of-type(-n+2):before {
      background: #e4e4e4; }
    .timeline--vertical-circles .timeline__item:nth-last-of-type(-n+2) .timeline__box, .timeline--vertical-squares .timeline__item:nth-last-of-type(-n+2) .timeline__box {
      opacity: 0.6; }
    .timeline--vertical-circles .timeline__item:last-of-type:before, .timeline--vertical-squares .timeline__item:last-of-type:before {
      background: #e4e4e4; }
    .timeline--vertical-circles .timeline__item:last-of-type .timeline__box, .timeline--vertical-squares .timeline__item:last-of-type .timeline__box {
      opacity: 0.3; }
  .timeline--vertical-circles .timeline__content, .timeline--vertical-squares .timeline__content {
    padding: 40px 50px 30px; }
    .timeline--vertical-circles .timeline__content ul, .timeline--vertical-squares .timeline__content ul {
      padding-left: 17px; }
      .timeline--vertical-circles .timeline__content ul li, .timeline--vertical-squares .timeline__content ul li {
        margin-bottom: 8px; }
        .timeline--vertical-circles .timeline__content ul li:before {
  content: "\f00c";
  font-family: Font Awesome\ 5 Free;
  font-weight: 600 !important;
  color: #2775FF;
  margin-right: 15px;
  font-size: 20px;
  line-height: 14px; }
        .timeline--vertical-squares .timeline__content ul li:before {
  content: "\f00c";
  font-family: Font Awesome\ 5 Free;
  font-weight: 600 !important;
  color: #2775FF;
  margin-right: 15px;
  font-size: 20px;
  line-height: 14px; }
  .timeline--vertical-circles .timeline__box, .timeline--vertical-squares .timeline__box {
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all ease .3s;
    transition: all ease .3s; }
    .brk-bordered-theme .timeline--vertical-circles .timeline__box {
  border-radius: inherit;
  overflow: hidden; }
    .brk-bordered-theme .timeline--vertical-squares .timeline__box {
  border-radius: inherit;
  overflow: hidden; }
    .timeline--vertical-circles .timeline__box:hover {
  box-shadow: 0 30px 60px 0 rgba(39, 117, 255, 0.2);
  opacity: 1 !important; }
    .timeline--vertical-squares .timeline__box:hover {
  box-shadow: 0 30px 60px 0 rgba(39, 117, 255, 0.2);
  opacity: 1 !important; }
    .timeline--vertical-circles .timeline__box img, .timeline--vertical-squares .timeline__box img {
      display: block;
      width: 100%;
      height: 300px;
      -o-object-fit: cover;
         object-fit: cover; }
      .timeline--vertical-circles .timeline__box img + .timeline__content, .timeline--vertical-squares .timeline__box img + .timeline__content {
        padding: 30px 50px 40px;
        background: #fff;
        position: relative; }
        .timeline--vertical-circles .timeline__box img + .timeline__content .timeline__date, .timeline--vertical-squares .timeline__box img + .timeline__content .timeline__date {
          border-radius: 20px;
          height: 36px;
          background: #f8f8f8;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          position: absolute;
          top: 0;
          left: 50%;
          padding: 10px 20px; }
  .timeline--vertical-circles .timeline__date div, .timeline--vertical-squares .timeline__date div {
    display: inline-block; }
  .timeline--vertical-circles .timeline__date-year, .timeline--vertical-squares .timeline__date-year {
    margin-right: 5px; }
  .timeline--vertical-circles .timeline__progress-bar {
  width: 3px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2775FF), color-stop(80%, transparent));
  background-image: linear-gradient(to bottom, #2775FF 0%, transparent 80%);
  z-index: 1; }
  .timeline--vertical-squares .timeline__progress-bar {
  width: 3px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2775FF), color-stop(80%, transparent));
  background-image: linear-gradient(to bottom, #2775FF 0%, transparent 80%);
  z-index: 1; }
    @media screen and (max-width: 767px) {
      .timeline--vertical-circles .timeline__progress-bar, .timeline--vertical-squares .timeline__progress-bar {
        background: none; } }
    .timeline--vertical-circles .timeline__progress-bar .btn, .timeline--vertical-squares .timeline__progress-bar .btn {
      width: 64px;
      height: 64px;
      position: absolute;
      left: 2px;
      bottom: 0;
      -webkit-transform: translate(-50%, 50%);
              transform: translate(-50%, 50%);
      max-width: 64px;
      border: none;
      margin: 0;
      box-shadow: 0 5px 60px 0 rgba(0, 0, 0, 0.2); }
      .timeline--vertical-circles .timeline__progress-bar .btn i, .timeline--vertical-squares .timeline__progress-bar .btn i {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
                transform: translate(-50%, -50%) rotate(0deg);
        -webkit-transition: -webkit-transform ease .2s;
        transition: -webkit-transform ease .2s;
        transition: transform ease .2s;
        transition: transform ease .2s, -webkit-transform ease .2s; }
      .timeline--vertical-circles .timeline__progress-bar .btn:hover i, .timeline--vertical-squares .timeline__progress-bar .btn:hover i {
        -webkit-transform: translate(-50%, -50%) rotate(180deg);
                transform: translate(-50%, -50%) rotate(180deg); }
      .timeline--vertical-circles .timeline__progress-bar .btn.btn--bg__icon {
  color: #383b44;
  margin: 0;
  overflow: hidden;
  border-radius: 0;
  padding: 15px 50px;
  height: auto;
  width: 200px;
  border: none;
  box-shadow: 0 5px 36px 0 rgba(0, 198, 255, 0.3);
  max-width: 500px;
  -webkit-transition: box-shadow ease .2s;
  transition: box-shadow ease .2s; }
      .timeline--vertical-squares .timeline__progress-bar .btn.btn--bg__icon {
  color: #383b44;
  margin: 0;
  overflow: hidden;
  border-radius: 0;
  padding: 15px 50px;
  height: auto;
  width: 200px;
  border: none;
  box-shadow: 0 5px 36px 0 rgba(0, 198, 255, 0.3);
  max-width: 500px;
  -webkit-transition: box-shadow ease .2s;
  transition: box-shadow ease .2s; }
        .timeline--vertical-circles .timeline__progress-bar .btn.btn--bg__icon:after, .timeline--vertical-squares .timeline__progress-bar .btn.btn--bg__icon:after {
          content: '';
          position: absolute;
          top: 2px;
          left: 2px;
          right: 2px;
          bottom: 2px;
          background: #fff;
          z-index: -1; }
        .timeline--vertical-circles .timeline__progress-bar .btn.btn--bg__icon:before {
  background-image: -webkit-gradient(linear, left top, right top, from(#00c6ff), to(#00f6ff));
  background-image: linear-gradient(to right, #00c6ff, #00f6ff);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1; }
        .timeline--vertical-squares .timeline__progress-bar .btn.btn--bg__icon:before {
  background-image: -webkit-gradient(linear, left top, right top, from(#00c6ff), to(#00f6ff));
  background-image: linear-gradient(to right, #00c6ff, #00f6ff);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1; }
        .timeline--vertical-circles .timeline__progress-bar .btn.btn--bg__icon i {
  color: #00c6ff;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-15%, -50%) rotate(0deg);
  transform: translate(-15%, -50%) rotate(0deg);
  opacity: 0.1;
  font-size: 35px; }
        .timeline--vertical-squares .timeline__progress-bar .btn.btn--bg__icon i {
  color: #00c6ff;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-15%, -50%) rotate(0deg);
  transform: translate(-15%, -50%) rotate(0deg);
  opacity: 0.1;
  font-size: 35px; }
        .timeline--vertical-circles .timeline__progress-bar .btn.btn--bg__icon:hover {
  box-shadow: 0 8px 36px 0 rgba(0, 198, 255, 0.4); }
        .timeline--vertical-squares .timeline__progress-bar .btn.btn--bg__icon:hover {
  box-shadow: 0 8px 36px 0 rgba(0, 198, 255, 0.4); }
          .timeline--vertical-circles .timeline__progress-bar .btn.btn--bg__icon:hover i, .timeline--vertical-squares .timeline__progress-bar .btn.btn--bg__icon:hover i {
            -webkit-transform: translate(-15%, -50%) rotate(180deg);
                    transform: translate(-15%, -50%) rotate(180deg); }
    .timeline--vertical-circles .timeline__progress-bar:before, .timeline--vertical-squares .timeline__progress-bar:before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      border: 3px solid #fff;
      border-radius: 50%;
      height: 17px;
      width: 17px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
      background: #f2f2f2;
      z-index: 3; }
      @media screen and (max-width: 767px) {
        .timeline--vertical-circles .timeline__progress-bar:before, .timeline--vertical-squares .timeline__progress-bar:before {
          display: none; } }
    .timeline--vertical-circles .timeline__progress-bar:after {
  content: '';
  position: absolute;
  left: 1px;
  width: 1px;
  background-image: repeating-linear-gradient(0deg, transparent, transparent 7px, #2775FF 7px, #2775FF 12px);
  height: 100%;
  opacity: .4; }
    .timeline--vertical-squares .timeline__progress-bar:after {
  content: '';
  position: absolute;
  left: 1px;
  width: 1px;
  background-image: repeating-linear-gradient(0deg, transparent, transparent 7px, #2775FF 7px, #2775FF 12px);
  height: 100%;
  opacity: .4; }
      @media screen and (max-width: 767px) {
        .timeline--vertical-circles .timeline__progress-bar:after, .timeline--vertical-squares .timeline__progress-bar:after {
          display: none; } }

.timeline--vertical-circles {
  padding-bottom: 170px; }

.timeline--vertical-squares {
  padding-bottom: 62px; }
  .timeline--vertical-squares .timeline__item {
    float: left;
    margin-top: 0 !important; }
    .timeline--vertical-squares .timeline__item:hover .before {
      opacity: 1; }
    .timeline--vertical-squares .timeline__item:nth-child(even) {
      margin-left: 50%; }
      @media screen and (max-width: 767px) {
        .timeline--vertical-squares .timeline__item:nth-child(even) {
          margin-left: 0; } }
    .timeline--vertical-squares .timeline__item:before {
      border-radius: 0;
      background-image: -webkit-gradient(linear, left bottom, left top, from(#00c6ff), to(#00f6ff));
      background-image: linear-gradient(to top, #00c6ff, #00f6ff);
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15); }
      @media screen and (max-width: 767px) {
        .timeline--vertical-squares .timeline__item:before {
          display: none; } }
    .timeline--vertical-squares .timeline__item:after {
      background: #ebebeb;
      width: 40px;
      height: 2px;
      opacity: 1;
      background: #ebebeb; }
      @media screen and (max-width: 767px) {
        .timeline--vertical-squares .timeline__item:after {
          display: none; } }
    .timeline--vertical-squares .timeline__item:nth-child(odd) {
      padding-right: 40px; }
      @media screen and (max-width: 767px) {
        .timeline--vertical-squares .timeline__item:nth-child(odd) {
          padding-right: 0; } }
      .timeline--vertical-squares .timeline__item:nth-child(odd) .before {
        left: 0; }
    .timeline--vertical-squares .timeline__item:nth-child(even) {
      padding-left: 40px; }
      @media screen and (max-width: 767px) {
        .timeline--vertical-squares .timeline__item:nth-child(even) {
          padding-left: 0; } }
      .timeline--vertical-squares .timeline__item:nth-child(even) .before {
        right: 0; }
    .timeline--vertical-squares .timeline__item .before {
      display: block;
      opacity: 0;
      z-index: 3;
      position: absolute;
      top: 0;
      height: 100%;
      width: 3px;
      -webkit-transition: opacity ease 0.2s;
      transition: opacity ease 0.2s; }
    .timeline--vertical-squares .timeline__item .after {
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translate(40%, -50%);
              transform: translate(40%, -50%);
      color: #f6f6f6;
      font-size: 180px;
      z-index: 2; }
    .timeline--vertical-squares .timeline__item:nth-child(odd) .timeline__active-line {
      position: absolute;
      width: 2px;
      height: 1000vh;
      bottom: 50%;
      z-index: 2;
      display: block;
      right: -1px;
      left: auto; }
    .timeline--vertical-squares .timeline__item:nth-child(even) .timeline__active-line {
      position: absolute;
      width: 2px;
      height: 1000vh;
      bottom: 50%;
      z-index: 2;
      display: block;
      left: -1px;
      right: auto; }
    .timeline--vertical-squares .timeline__item:nth-last-child(1) .timeline__active-line, .timeline--vertical-squares .timeline__item:nth-last-child(2) .timeline__active-line {
      display: none; }
    .timeline--vertical-squares .timeline__item .timeline__active-line {
      background: #00f6ff; }
      @media screen and (max-width: 767px) {
        .timeline--vertical-squares .timeline__item .timeline__active-line {
          display: none !important; } }
  .timeline--vertical-squares .timeline__box {
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15); }
  .timeline--vertical-squares .timeline__content {
    padding: 45px 50px 40px;
    z-index: 5;
    position: relative; }
  .timeline--vertical-squares .timeline__box {
    opacity: 1 !important; }
    .timeline--vertical-squares .timeline__box:hover {
      box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.1); }
  .timeline--vertical-squares .timeline__wrapper {
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 120px; }
  .timeline--vertical-squares .timeline__progress-bar {
    width: 2px;
    background: #ebebeb;
    height: -webkit-calc(100% - 60px);
    height: calc(100% - 60px); }
    @media screen and (max-width: 767px) {
      .timeline--vertical-squares .timeline__progress-bar {
        background: none; } }
    .timeline--vertical-squares .timeline__progress-bar:before {
      display: none; }
    .timeline--vertical-squares .timeline__progress-bar:after {
      display: none; }

/*# sourceMappingURL=maps/timelines.css.map */
