@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";
.brk-forum-posts {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 32px;
  padding-top: 7px;

  [dir="rtl"] & {
    padding-left: 0;
    padding-right: 32px;
  }
  &::before {
    content: '';
    position: absolute;
    left: 30px;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #ebebeb;

    [dir="rtl"] & {
      left: auto;
      right: 30px;
    }
  }
  .brk-forum-post {
    padding-left: 51px;

    [dir="rtl"] & {
      padding-left: 0;
      padding-right: 51px;
    }
  }
  .brk-forum-post__header {
    margin-left: -85px;

    [dir="rtl"] & {
      margin-left: 0;
      margin-right: -85px;
    }
  }
  .brk-reply {
    padding-left: 51px;
  }
  .brk-reply__header {
    margin-left: -51px;
    padding-left: 51px;
  }
  @media screen and (max-width:576px) {
    padding-left: 0;
    &::before {
      display: none;
    }
    .brk-forum-post {
      padding-left: 0;
      &__header {
        margin-left: 0;
      }
    }
    .brk-reply {
      padding-left: 0;

      &__header {
        padding-left: 0;
        margin-left: 0;
        text-align: center;
      }
    }
  }
}

.brk-forum-post {
  padding-bottom: 30px;
  padding-top: 25px;
  border-image: url('../../img/dashed-border.png') 0 0 2 388 repeat;
  &:last-of-type {
    border-bottom: 0;
  }
  &.no-border {
    border-bottom: 0;
  }
  border-bottom: 1px solid;
  &__header {
    display: flex;
    align-items: flex-start;
    &-info {
      margin-top: 15px;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      flex-grow: 1;
      >*:not(:last-child) {
        margin-right: 20px;
      }
      i{
        vertical-align: middle;
      }
    }
    &-user {
      position: relative;
      width: 64px;
      height: 65px;
      flex-shrink: 0;
      border: 1px solid #ebebeb;
      z-index: 1;
      border-radius: 100%;
      background-color: $white;
      margin-right: 20px;
      overflow: hidden;

      [dir="rtl"] & {
        margin-right: 0;
        margin-left: 20px;
      }

      &-overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: .3s ease opacity;
        z-index: 1;
      }
      &-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: .3s ease opacity;
        z-index: 2;
      }
      &:hover {
        .brk-forum-post__header-user-overlay,
        .brk-forum-post__header-user-icon {
          opacity: 1;
        }
      }
    }
    &-img {
      position: absolute;
      left: 4px;
      top: 4px;
      width: calc(100% - 8px);
      height: calc(100% - 8px);
      max-width: none;
      border-radius: 100%;
    }
    &-name {
      padding: 7px 15px 7px 17px;
      background-color: #f1f1f1;
      margin-right: 20px;
      border-radius: 20px;
      margin-top: -2px;
      transition: .3s ease all;
      &:hover {
        color: $white;
        background-color: var(--brand-primary);
        box-shadow: 0 5px 16px rgba(var(--brand-primary-rgb), 0.5);
      }
    }
    &-like {
      margin-right: 20px;
      margin-left: auto;
      >i {
        margin-right: 8px;
      }
    }
    &-reply {
      >i {
        margin-right: 8px;
      }
    }
    @media screen and (max-width: 576px) {
      .brk-forum-post__header-user {
        margin-right: 10px;
      }
      .brk-forum-post__header-info {
        margin-top: 0;
      }
      .brk-forum-post__header-name {
        width: 100%;
        margin-right: 0;
        text-align: center;
      }
      .brk-forum-post__header-date {
        padding-left: 5px;
        width: 100%;
        text-align: center;
        margin-right: 0;
      }
      .brk-forum-post__header-like {
        margin-left: auto;
      }
      .brk-forum-post__header-reply {
        margin-right: auto;
      }
    }
  }
}

.brk-forum-about-post{

}
.brk-forum-divider{
  
  border-bottom:1px solid #ebebeb;
}

.brk-reply {
  &__header {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 20px;
  }
  &__rounded{
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    .brk-reply__header{
      text-align: center;
    }
  }
  .brk-reply__form {
    textarea {
      padding-bottom: 30px;
      transition: .4s ease border;
    }
  }
  .btn {
    position: relative;
    margin: 0 0 0 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 16px rgba(var(--brand-primary-rgb), 0.5);
  }
}