.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

.squares-clear {
  clear: both; }

.squares-element {
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.squares-element > * {
  margin: 0; }

.squares-element img, .squares-element video {
  max-width: 100%; }

.squares-button {
  text-decoration: none;
  text-align: center; }

.squares-button:hover {
  filter: brightness(1.1);
  -moz-filter: brightness(1.1);
  -webkit-filter: brightness(1.1); }

.squares-button:active {
  filter: brightness(0.9);
  -moz-filter: brightness(0.9);
  -webkit-filter: brightness(0.9); }

@media (max-width: 767px) {
  .sq-hidden-xs {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .sq-hidden-sm {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .sq-hidden-md {
    display: none !important; } }

@media (min-width: 1200px) {
  .sq-hidden-lg {
    display: none !important; } }

.sq-col-lg-1, .sq-col-lg-10, .sq-col-lg-11, .sq-col-lg-12, .sq-col-lg-2, .sq-col-lg-3, .sq-col-lg-4, .sq-col-lg-5, .sq-col-lg-6, .sq-col-lg-7, .sq-col-lg-8, .sq-col-lg-9, .sq-col-md-1, .sq-col-md-10, .sq-col-md-11, .sq-col-md-12, .sq-col-md-2, .sq-col-md-3, .sq-col-md-4, .sq-col-md-5, .sq-col-md-6, .sq-col-md-7, .sq-col-md-8, .sq-col-md-9, .sq-col-sm-1, .sq-col-sm-10, .sq-col-sm-11, .sq-col-sm-12, .sq-col-sm-2, .sq-col-sm-3, .sq-col-sm-4, .sq-col-sm-5, .sq-col-sm-6, .sq-col-sm-7, .sq-col-sm-8, .sq-col-sm-9, .sq-col-xs-1, .sq-col-xs-10, .sq-col-xs-11, .sq-col-xs-12, .sq-col-xs-2, .sq-col-xs-3, .sq-col-xs-4, .sq-col-xs-5, .sq-col-xs-6, .sq-col-xs-7, .sq-col-xs-8, .sq-col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }

.sq-col-xs-1, .sq-col-xs-10, .sq-col-xs-11, .sq-col-xs-12, .sq-col-xs-2, .sq-col-xs-3, .sq-col-xs-4, .sq-col-xs-5, .sq-col-xs-6, .sq-col-xs-7, .sq-col-xs-8, .sq-col-xs-9 {
  float: left; }

.sq-col-xs-12 {
  width: 100%; }

.sq-col-xs-11 {
  width: 91.66666667%; }

.sq-col-xs-10 {
  width: 83.33333333%; }

.sq-col-xs-9 {
  width: 75%; }

.sq-col-xs-8 {
  width: 66.66666667%; }

.sq-col-xs-7 {
  width: 58.33333333%; }

.sq-col-xs-6 {
  width: 50%; }

.sq-col-xs-5 {
  width: 41.66666667%; }

.sq-col-xs-4 {
  width: 33.33333333%; }

.sq-col-xs-3 {
  width: 25%; }

.sq-col-xs-2 {
  width: 16.66666667%; }

.sq-col-xs-1 {
  width: 8.33333333%; }

@media (min-width: 768px) {
  .sq-col-sm-1, .sq-col-sm-10, .sq-col-sm-11, .sq-col-sm-12, .sq-col-sm-2, .sq-col-sm-3, .sq-col-sm-4, .sq-col-sm-5, .sq-col-sm-6, .sq-col-sm-7, .sq-col-sm-8, .sq-col-sm-9 {
    float: left; }
  .sq-col-sm-12 {
    width: 100%; }
  .sq-col-sm-11 {
    width: 91.66666667%; }
  .sq-col-sm-10 {
    width: 83.33333333%; }
  .sq-col-sm-9 {
    width: 75%; }
  .sq-col-sm-8 {
    width: 66.66666667%; }
  .sq-col-sm-7 {
    width: 58.33333333%; }
  .sq-col-sm-6 {
    width: 50%; }
  .sq-col-sm-5 {
    width: 41.66666667%; }
  .sq-col-sm-4 {
    width: 33.33333333%; }
  .sq-col-sm-3 {
    width: 25%; }
  .sq-col-sm-2 {
    width: 16.66666667%; }
  .sq-col-sm-1 {
    width: 8.33333333%; } }

@media (min-width: 992px) {
  .sq-col-md-1, .sq-col-md-10, .sq-col-md-11, .sq-col-md-12, .sq-col-md-2, .sq-col-md-3, .sq-col-md-4, .sq-col-md-5, .sq-col-md-6, .sq-col-md-7, .sq-col-md-8, .sq-col-md-9 {
    float: left; }
  .sq-col-md-12 {
    width: 100%; }
  .sq-col-md-11 {
    width: 91.66666667%; }
  .sq-col-md-10 {
    width: 83.33333333%; }
  .sq-col-md-9 {
    width: 75%; }
  .sq-col-md-8 {
    width: 66.66666667%; }
  .sq-col-md-7 {
    width: 58.33333333%; }
  .sq-col-md-6 {
    width: 50%; }
  .sq-col-md-5 {
    width: 41.66666667%; }
  .sq-col-md-4 {
    width: 33.33333333%; }
  .sq-col-md-3 {
    width: 25%; }
  .sq-col-md-2 {
    width: 16.66666667%; }
  .sq-col-md-1 {
    width: 8.33333333%; } }

@media (min-width: 1200px) {
  .sq-col-lg-1, .sq-col-lg-10, .sq-col-lg-11, .sq-col-lg-12, .sq-col-lg-2, .sq-col-lg-3, .sq-col-lg-4, .sq-col-lg-5, .sq-col-lg-6, .sq-col-lg-7, .sq-col-lg-8, .sq-col-lg-9 {
    float: left; }
  .sq-col-lg-12 {
    width: 100%; }
  .sq-col-lg-11 {
    width: 91.66666667%; }
  .sq-col-lg-10 {
    width: 83.33333333%; }
  .sq-col-lg-9 {
    width: 75%; }
  .sq-col-lg-8 {
    width: 66.66666667%; }
  .sq-col-lg-7 {
    width: 58.33333333%; }
  .sq-col-lg-6 {
    width: 50%; }
  .sq-col-lg-5 {
    width: 41.66666667%; }
  .sq-col-lg-4 {
    width: 33.33333333%; }
  .sq-col-lg-3 {
    width: 25%; }
  .sq-col-lg-2 {
    width: 16.66666667%; }
  .sq-col-lg-1 {
    width: 8.33333333%; } }

.imp-wrap {
  position: relative;
  width: auto;
  height: auto;
  -webkit-tap-highlight-color: transparent; }

.hs-loader-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.imp-zoom-wrap > img {
  position: relative !important;
  z-index: 0 !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  max-width: none !important;
  max-height: none !important;
  display: block !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

.imp-zoom-outer-wrap {
  overflow: hidden; }

#imp-fullscreen-wrap .imp-zoom-outer-wrap {
  overflow: visible; }

#imp-fullscreen-wrap .imp-wrap {
  position: inherit; }

.imp-zoom-wrap {
  transform: scale(1, 1) translate(0, 0);
  transform-origin: 0 0; }

.imp-shape-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2; }

.imp-shape {
  cursor: pointer;
  pointer-events: all;
  transition: all 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  -moz-transition: all 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition: all 0.25s cubic-bezier(0.55, 0, 0.1, 1);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.imp-shape-oval, .imp-shape-rect, .imp-shape-spot, .imp-shape-text {
  position: absolute; }

.imp-shape-text {
  cursor: default; }

.imp-shape-spot {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1); }

.imp-shape-spot-pin {
  transform-origin: 50% 100%; }

.imp-spot-fontawesome-icon .fa {
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1); }

.imp-shape-icon-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 0;
  transform: scale(1, 0.25);
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.53) 0, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.13) 28%, rgba(0, 0, 0, 0.04) 44%, rgba(0, 0, 0, 0) 67%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.53) 0, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.13) 28%, rgba(0, 0, 0, 0.04) 44%, rgba(0, 0, 0, 0) 67%, rgba(0, 0, 0, 0) 100%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.53) 0, rgba(0, 0, 0, 0.3) 10%, rgba(0, 0, 0, 0.13) 28%, rgba(0, 0, 0, 0.04) 44%, rgba(0, 0, 0, 0) 67%, rgba(0, 0, 0, 0) 100%); }

.imp-shape img {
  width: 100%; }

.imp-tooltip {
  display: none;
  position: absolute;
  z-index: 1;
  transition-property: none;
  -moz-transition-property: none;
  -webkit-transition-property: none;
  transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  -moz-transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12); }

.imp-tooltip.imp-tooltip-visible {
  opacity: 1 !important;
  z-index: 4;
  transform: scale(1, 1) !important;
  -moz-transform: scale(1, 1) !important;
  -webkit-transform: scale(1, 1) !important; }

.hs-arrow {
  position: absolute; }

.hs-arrow-top {
  left: 50%;
  top: 0;
  margin-left: -10px;
  margin-top: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #000; }

.hs-arrow-bottom {
  left: 50%;
  top: 100%;
  margin-left: -10px;
  margin-top: 0;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #000; }

.hs-arrow-right {
  left: 100%;
  top: 50%;
  margin-left: 0;
  margin-top: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #000; }

.hs-arrow-left {
  left: 0;
  top: 50%;
  margin-left: -10px;
  margin-top: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #000; }

.imp-tooltip-buffer {
  position: absolute; }

.imp-tooltip-buffer-top {
  left: 0;
  top: -20px;
  width: 100%;
  height: 20px; }

.imp-tooltip-buffer-bottom {
  left: 0;
  top: 100%;
  width: 100%;
  height: 20px; }

.imp-tooltip-buffer-left {
  left: -20px;
  top: 0;
  width: 20px;
  height: 100%; }

.imp-tooltip-buffer-right {
  left: 100%;
  top: 0;
  width: 20px;
  height: 100%; }

.imp-tooltip-buffer-top.imp-tooltip-buffer-large {
  left: 0;
  top: -60px;
  width: 100%;
  height: 60px; }

.imp-tooltip-buffer-bottom.imp-tooltip-buffer-large {
  left: 0;
  top: 100%;
  width: 100%;
  height: 60px; }

.imp-tooltip-buffer-left.imp-tooltip-buffer-large {
  left: -60px;
  top: 0;
  width: 60px;
  height: 100%; }

.imp-tooltip-buffer-right.imp-tooltip-buffer-large {
  left: 100%;
  top: 0;
  width: 60px;
  height: 100%; }

.imp-fullscreen-tooltips-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: auto;
  z-index: 2147483647; }

.imp-fullscreen-tooltips-container .imp-fullscreen-tooltip {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transition-property: none;
  -moz-transition-property: none;
  -webkit-transition-property: none;
  transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  -moz-transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  -webkit-transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1); }

.imp-fullscreen-tooltips-container .imp-fullscreen-tooltip.imp-tooltip-visible {
  opacity: 1 !important;
  z-index: 3;
  transform: scale(1, 1) !important;
  -moz-transform: scale(1, 1) !important;
  -webkit-transform: scale(1, 1) !important; }

.imp-fullscreen-tooltips-container .imp-fullscreen-tooltip .imp-tooltip-close-button {
  position: absolute;
  right: 0;
  top: 0;
  width: 44px;
  height: 44px;
  font-size: 24px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  z-index: 99; }

.imp-fullscreen-button {
  position: absolute;
  height: 44px;
  line-height: 44px;
  padding: 0 12px;
  background: #fff;
  border-radius: 5px;
  color: #222;
  z-index: 3;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.imp-fullscreen-button i {
  margin-right: 3px; }

.imp-fullscreen-button-position-0 {
  left: 10px;
  top: 10px; }

.imp-fullscreen-button-position-1 {
  left: 50%;
  top: 10px; }

.imp-fullscreen-button-position-2 {
  right: 10px;
  top: 10px; }

.imp-fullscreen-button-position-3 {
  right: 10px;
  bottom: 10px; }

.imp-fullscreen-button-position-4 {
  left: 50%;
  bottom: 10px; }

.imp-fullscreen-button-position-5 {
  left: 10px;
  bottom: 10px; }

.imp-fullscreen-button-icon-only {
  width: 44px;
  text-align: center;
  font-size: 18px;
  padding: 0; }

.imp-fullscreen-button-icon-only i {
  margin: 0; }

#imp-fullscreen-wrap {
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

body.imp-fullscreen-mode {
  overflow: hidden; }

.imp-ui {
  z-index: 1; }

.imp-ui-navigator-root {
  position: absolute;
  left: 20px;
  bottom: 20px;
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.imp-ui-navigator-root img {
  position: relative;
  z-index: 1;
  display: block;
  max-width: 150px;
  max-height: 150px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none; }

.imp-ui-navigator-window {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: .5;
  transform-origin: 0 0;
  z-index: 2; }

.imp-ui-navigator-background {
  position: absolute;
  background: #000;
  z-index: 0; }

.imp-ui-zoom-button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: #fff;
  color: #000;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  z-index: 1;
  border-radius: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none; }

.imp-ui-zoom-button-zoom-in {
  bottom: 54px; }
