@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.fonts{
	display: none !important;
}

.timeline {
	.swiper-pagination-bullet {
		background: transparent;
	}

	.swiper-pagination-bullet-active {
		&:after {
			background: var(--brand-primary);
		}
	}

	.table{
		display: table;
		height: 100%;
		margin: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding: 30px;

		&__cell{
			display: table-cell;
			vertical-align: middle;
		}
	}

	&--strict,
	&--masonry{
		.swiper-slide{
			height: auto;
			width: 100% !important;
			max-width: 570px;
			max-height: 100%;

			@media #{$md-max} {
				max-width: calc(50% - 15px);
			}

			@media #{$sm-max} {
				max-width: 100%;
			}
		}

		.swiper-pagination{
			position: absolute;
			top: 10px;
			background: transparent;
			width: 80% !important;
			left: 10% !important;
			height: 10px;

			&:after{
				content: '';
				position: absolute;
				display: block;
				width: 100vw;
				left: 50%;
				transform: translate(-50%, 0);
				background: transparent;
				z-index: 1;
				height: 10px;
			}

			&:before{
				content: '';
				display: block;
				position: absolute;
				top: 4px;
				width: 100vw;
				height: 2px;
				background: #e7e7e7;
				left: 50%;
				transform: translate(-50%, 0);
			}
		}

		.swiper-pagination-bullet{
			border-radius: 0;
			height: 10px;
			position: relative;
			float: left;
			margin: 0 !important;
			z-index: 20;
			opacity: 1 !important;

			&:after{
				content: '';
				position: absolute;
				width: 16px;
				height: 16px;
				border-radius: 50%;
				border: 3px solid #fff;
				box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
				top: -3px;
				left: 50%;
				transform: translate(-50%, 0);
				transition: all ease .15s;
				background: #d5d5d5;
			}
		}
		.swiper-pagination-bullet-active {
			&:after {
				background: var(--brand-primary);
			}
		}

		.filmstrip-slider-container {
			padding-top: 76px;
		}

		.swiper-progress__bar{
			z-index: 10;
			display: block;
			position: absolute;
			left: calc(50% - 100vw);
			width: 100vw;
			transform: translate3d(-50%, 0, 0);
			transition: transform ease 0.15s;
			top: 4px;
			height: 2px;
			background: var(--brand-primary);
		}
	}

	&--strict{

		&_full-width {
			.swiper-slide{
				max-width: 9999px;
			}
		}

		.timeline{
			&__item {
				background: $white;
				height: auto;
				display: flex;
				align-items: stretch;
				justify-content: space-around;
				opacity: .2;
				transition: opacity ease 0.3s;

				@media #{$xs-max} {
					flex-direction: column;
				}

				& * {
					pointer-events: none;
				}

				&.active{
					opacity: 1;

					& * {
						pointer-events: auto;
					}
				}
			}

			&__link {
				color: #000;
				width: 60%;
				top: 0;
				left: 0;
				height: 100%;
				flex: 0 0 60%;
				position: absolute;
				z-index: 2;

				@media #{$md-max} {
					flex: 0 0 50%;
					width: 50%;
				}

				@media #{$sm-max} {
					flex: 0 0 50%;
					width: 50%;
				}

				@media #{$xs-max} {
					flex: 0 0 100%;
					position: relative;
					padding-bottom: 100%;
					width: 100%;
				}

				.overlay{
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					opacity: 0;
					transition: opacity ease-in-out .3s;
				}

				.icon{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					color: $white;
					font-size: 130px;
					opacity: 0;
					transition: opacity .3s ease-in-out 0s;
				}

				&:hover{
					.overlay {
						opacity: .8;
					}

					.icon{
						opacity: 1;
						transition: opacity .5s ease-in-out 0.2s;
					}
				}
			}

			&__content {
				position: relative;
				height: 100%;
				padding: 60px 15px 60px calc(30px + 60%);

				@media #{$md-max} {
					padding: 60px 15px 60px calc(15px + 50%);
				}

				@media #{$xs-max} {
					padding: 30px 15px;
				}
			}
		}
	}

	&--mosaic{
		position: relative;
		padding: 90px 0;
    color: $white;
    border-bottom: 15px solid #fff;

    &:after{
      content:"";

      height: 5px;
      width: 100%;
      background-color: transparent;

    }

    &__svg-container{
      position: absolute;

      left: 0;
      top: 0;

      width: 100%;
      height: auto;

      overflow: hidden;
      z-index: 2;

      height: 280px;

      svg{
        position: absolute;
        top: -5px;
        left: -1px;
        width: calc(100% + 2px);
      }
    }

		.row{
			flex-wrap: nowrap;
		}

		.filmstrip-slider-container{
			padding: 20px 0;
		}

		.post-filmstrip{
			height: auto !important;
			width: auto !important;
			max-height: 100%;
			max-width: 100%;
			margin: 0 !important;

			&:nth-child(even){
				.timeline {
					&__link {
						order: 1;
						margin-top: 5px;
					}

					&__date{
						bottom: 5px;
						right: auto;
						left: 100%;
						transform-origin: bottom left;
						padding-left: 92px;
						margin-left: -7px;
						transform: rotate(-90deg);

						&:before{
							left: 65px;
						}

						&:after{
							left: 0;
						}
					}

					&__title{
						margin-top: 25px;
					}
				}
			}

			&:nth-child(odd){
				.timeline{
					&__link {
						order: 3;
					}

					&__date{
						top: 5px;
						transform-origin: bottom right;
						bottom: 0;
						right: auto;
						left: 100%;
						padding-right: 88px;
						margin-left: -7px;
						transform: translate(-100%, -100%) rotate(-90deg);

						&:before{
							right: 65px;
						}

						&:after{
							right: 0;
						}
					}

					&__link{
						margin-top: 25px;
					}
				}
			}
		}

		.timeline {
			&__item {
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				padding-right: 55px;
				padding-left: 15px;
				position: relative;
				max-width: 400px;
				width: 100%;
			}

			&__content {
				order: 2;

				p {
					opacity: 0.6;
					margin: 10px 0 0 0;
				}
			}

			&__date {
				position: absolute;
				height: 24px;

				&:before{
					content: '';
					display: block;
					top: 50%;
					transform: translate(0, -50%);
					position: absolute;
					width: 7px;
					height: 7px;
					background: $white;
					border-radius: 50%;
					box-shadow: 0 0 0 4px rgba(255,255,255, 0.15);
				}

				&:after{
					content: '';
					display: block;
					top: 50%;
					transform: translate(0, -50%);
					position: absolute;
					width: 65px;
					height: 1px;
					background: $white;
				}
			}

			&__link {
				position: relative;
				width: 100%;
				display: block;
				height: auto;
				box-shadow: 0 6px 30px 0 rgba(0,0,0,0.15);

				img{
					width: 100%;
					height: auto;
				}
			}

			&__title {
				color: $white;
				margin: 0;
			}
		}
  }

	&--masonry{

		&_white {
			.swiper-pagination-bullet {
				strong {
					color: #ffffff !important;
				}
			}
			.timeline__date-year {
				color: #ffffff !important;
			}
		}

		.swiper-container {
			padding-left: 190px;
			padding-right: 190px;
			padding-top: 122px;

			@media #{$sm-max} {
				padding-left: 20px;
				padding-right: 20px;
			}
		}

		.swiper-slide{
			width: 325px;
			max-height: 100%;
			height: auto;

			@media #{$sm-max} {
				width: calc(50% - 38px);
			}

			@media #{$xs-max} {
				width: 100%;
			}
		}

		.timeline {

			&__item {
				text-align: left;

				@media #{$sm-max} {
					width: 100%;
				}

				img{
					width: auto;
					height: auto;
					box-shadow: 0 30px 60px 0 rgba(0,0,0,.1);
					transition: box-shadow ease .3s;
					margin-bottom: 60px;
				}
			}
		}

		.swiper-pagination{
			padding-top: 40px;

			&:before{
				top: 44px;
			}
		}

		.swiper-pagination-bullet{
			&:after{
				border: none;
				box-shadow: 0 0 0 6px rgba(255,255,255, 1);
				height: 8px;
				width: 8px;
				top: 1px;
			}

			strong {
				position: absolute;
				top: -43px;
				left: 50%;
				transform: translate(-50%, 0);
				color: #282b35;
				font-family: Montserrat, sans-serif;
				font-size: 12px;
				line-height: 12px;
				text-transform: uppercase;
				font-weight: 700;
				letter-spacing: 0.07em;
			}
		}
		.swiper-pagination-bullet-active{
			&:after {
				box-shadow: 0 0 0 12px rgba(var(--brk-base-3-rgb), 0.15);
			}

			& ~ .swiper-pagination-bullet{
				&:after{
					background: #ebebec;
					box-shadow: 0 0 0 6px rgba(255,255,255,1);
				}
			}
		}

		.swiper-progress__bar{
			top: 44px;
			background-image: linear-gradient(
											to left,
											rgba(var(--brk-base-3-rgb), 1),
											rgba(var(--brk-secondary-3-rgb), 1)
			);
		}
	}

	.scrollbar{
		border: 3px solid #fff;
		box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3) inset, 0 5px 15px 0 rgba(0,0,0,0.15);
		height: 10px;
	}
	.scrollbar-range{
		max-width: 100%;
		background-color: var(--secondary) !important;
	}
	.swiper-scrollbar-drag{
		max-width: 16px !important;
		min-width: 16px !important;
		width: 16px !important;
		height: 16px !important;
		top: -6px;
		border: 2px solid #fff;
		box-shadow: 0 0 10px 0 rgba(0,0,0,0.5), 0 0 6px 0 rgba(0,0,0,0.5) inset, 0 0 0 6px #fff inset;
		cursor: pointer;
		background: none !important;

		&:after{
			content: '';
			display: block;
			position: absolute;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			top: 3px;
			left: 3px;
			background-image: linear-gradient(
											-97deg,
											var(--brk-secondary-6),
											var(--brk-secondary-3)) !important;
		}
	}


	&--vertical-circles,
	&--vertical-squares{
		position: relative;
		padding-bottom: 230px;

		@media #{$md-max} {
			padding-bottom: 100px;
		}

		.timeline{
			&__wrapper {
				display: flex;
				flex-wrap: wrap;
				align-items: flex-start;
				padding: 0 100px;

				@media #{$md-max} {
					padding: 0 50px;
				}

				@media #{$sm-max} {
					padding: 0 20px;
				}

				@media #{$xs-max} {
					padding: 0;
				}
			}

			&__item {
				width: 50%;
				position: relative;
				margin-top: 0;
				z-index: 5;

				@media #{$md-max} {
					width: 50%;
				}

				@media #{$sm-max} {
					width: 100%;
					margin-top: 0 !important;
					margin-bottom: 20px;
				}

				@media #{$xs-max} {

				}

				&:before{
					content: '';
					position: absolute;
					display: block;
					top: 50%;
					width: 13px;
					height: 13px;
					border: 3px solid var(--white);
					border-radius: 50%;
					z-index: 3;
					background: var(--brand-primary);
					box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

					@media #{$sm-max} {
						display: none;
					}
				}

				&:after{
					content: '';
					position: absolute;
					opacity: 0.4;
					width: 115px;
					top: 50%;
					height: 1px;
					z-index: 1;
					background-image: repeating-linear-gradient(
													90deg,
													transparent,
													transparent 7px,
													var(--brand-primary) 7px,
													var(--brand-primary) 12px
					);

					@media #{$sm-max} {
						display: none;
					}
				}

				&:nth-child(1){
					margin-top: 0;
				}

				&:nth-child(2){
					margin-top: 260px;

					@media #{$sm-max} {
						margin-top: 0;
					}
				}

				&:nth-child(odd){
					padding-right: 115px;

					@media #{$sm-max} {
						padding-right: 0;
					}

					&:before{
						transform: translate(50%, -50%);
					}

					&:before,
					&:after {
						right: 0;
					}
				}

				&:nth-child(even){
					padding-left: 115px;

					@media #{$sm-max} {
						padding-left: 0;
					}


					&:before{
						transform: translate(-50%, -50%);
					}

					&:before,
					&:after {
						left: 0;
					}
				}

				&:nth-last-of-type(-n+2) {
					&:before{
						background: #e4e4e4;
					}
					.timeline__box {
						opacity: 0.6;
					}
				}

				&:last-of-type{
					&:before{
						background: #e4e4e4;
					}
					.timeline__box {
						opacity: 0.3;
					}
				}
			}

			&__content{
				padding: 40px 50px 30px;

				ul{
					padding-left: 17px;

					li{
						margin-bottom: 8px;

						&:before{
							content: "\f00c";
              font-family: Font Awesome\ 5 Free;
              font-weight: 600!important;
							color: var(--brand-primary);
							margin-right: 15px;
							font-size: 20px;
							line-height: 14px;
						}
					}
				}
			}

			&__box{
				box-shadow: 0 30px 60px 0 rgba(0,0,0,.1);
        transition: all ease .3s;
        
        .brk-bordered-theme &{
          border-radius: var(--b-radius);
          overflow: hidden;
        }

				&:hover{
					box-shadow: 0 30px 60px 0 rgba(var(--brand-primary-rgb),.2);
					opacity: 1 !important;
				}

				img{
					display: block;
					width: 100%;
          height: 300px;
          object-fit: cover;

					& + .timeline__content{
						padding: 30px 50px 40px;
						background: #fff;
						position: relative;

						.timeline__date{
							border-radius: 20px;
							height: 36px;
							background: #f8f8f8;
							transform: translate(-50%, -50%);
							position: absolute;
							top: 0;
							left: 50%;
							padding: 10px 20px;
						}
					}
				}
			}

			&__date{
				div{
					display: inline-block;
				}

				&-year{
					margin-right: 5px;
				}
			}
		}

		.timeline__progress-bar{
			width: 3px;
			height: 100%;
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -1px;
			background-image: linear-gradient(to bottom, var(--brand-primary) 0%, transparent 80%);
			z-index: 1;

			@media #{$sm-max} {
				background: none;
			}

			.btn{
				width: 64px;
				height: 64px;
				position: absolute;
				left: 2px;
				bottom: 0;
				transform: translate(-50%, 50%);
				max-width: 64px;
				border: none;
				margin: 0;
				box-shadow: 0 5px 60px 0 rgba(0,0,0,0.2);

				i{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) rotate(0deg);
					transition: transform ease .2s;
				}

				&:hover{
					i {
						transform: translate(-50%, -50%) rotate(180deg);
					}
				}

				&.btn--bg__icon{
					color: #383b44;
					margin: 0;
					overflow: hidden;
					border-radius: 0;
					padding: 15px 50px;
					height: auto;
					width: 200px;
					border: none;
					box-shadow: 0 5px 36px 0 rgba(var(--brk-base-2-rgb),0.3);
					max-width: 500px;
					transition: box-shadow ease .2s;

					&:after{
						content: '';
						position: absolute;
						top: 2px;
						left: 2px;
						right: 2px;
						bottom: 2px;
						background: #fff;
						z-index: -1;
					}

					&:before{
						background-image: linear-gradient(to right, var(--brk-base-2), var(--brk-base-5));
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						bottom: 0;
						right: 0;
						z-index: -1;
					}

					i{
						color: var(--brk-base-2);
						position: absolute;
						top: 50%;
						left: 0;
						transform: translate(-15%, -50%) rotate(0deg);
						opacity: 0.1;
						font-size: 35px;
					}

					&:hover{
						box-shadow: 0 8px 36px 0 rgba(var(--brk-base-2-rgb),0.4);
						i {
							transform: translate(-15%, -50%) rotate(180deg);
						}
					}
				}
			}

			&:before{
				content: '';
				position: absolute;
				display: block;
				top: 0;
				left: 50%;
				transform: translate(-50%, -50%);
				border: 3px solid $white;
				border-radius: 50%;
				height: 17px;
				width: 17px;
				box-shadow: 0 4px 10px rgba(0,0,0,0.4);
				background: #f2f2f2;
				z-index: 3;

				@media #{$sm-max} {
					display: none;
				}
			}

			&:after{
				content: '';
				position: absolute;
				left: 1px;
				width: 1px;
				background-image: repeating-linear-gradient(0deg, transparent, transparent 7px, var(--brand-primary) 7px, var(--brand-primary) 12px);
				height: 100%;
				opacity: .4;

				@media #{$sm-max} {
					display: none;
				}
			}
		}
	}

	&--vertical-circles{
		padding-bottom: 170px;
	}

	&--vertical-squares{
		padding-bottom: 62px;

		.timeline {
			&__item {
				float: left;
				margin-top: 0 !important;

				&:hover{
					.before{
						opacity: 1;
					}
				}

				&:nth-child(even){
					margin-left: 50%;

					@media #{$sm-max} {
						margin-left: 0;
					}
				}

				&:before{
					border-radius: 0;
					background-image: linear-gradient(to top, var(--brk-base-2), var(--brk-base-5));
					box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);

					@media #{$sm-max} {
						display: none;
					}
				}

				&:after{
					background: #ebebeb;
					width: 40px;
					height: 2px;
					opacity: 1;
					background: #ebebeb;

					@media #{$sm-max} {
						display: none;
					}
				}

				&:nth-child(odd) {
					padding-right: 40px;

					@media #{$sm-max} {
						padding-right: 0;
					}

					.before{
						left: 0;
					}
				}

				&:nth-child(even) {
					padding-left: 40px;

					@media #{$sm-max} {
						padding-left: 0;
					}

					.before{
						right: 0;
					}
				}

				.before{
					display: block;
					opacity: 0;
					z-index: 3;
					position: absolute;
					top: 0;
					height: 100%;
					width: 3px;
					transition: opacity ease 0.2s;
				}

				.after{
					position: absolute;
					top: 50%;
					right: 0;
					transform: translate(40%, -50%);
					color: #f6f6f6;
					font-size: 180px;
					z-index: 2;
        }
        &:nth-child(odd){
          .timeline__active-line{
            position: absolute;
            width: 2px;
            height: 1000vh;
            bottom: 50%;
            z-index: 2;
            display: block;
            right: -1px;
            left: auto;
          }
        }
        &:nth-child(even){
          .timeline__active-line{
            position: absolute;
            width: 2px;
            height: 1000vh;
            bottom: 50%;
            z-index: 2;
            display: block;
            left: -1px;
            right: auto;
          }
        }

				&:nth-last-child(1),
				&:nth-last-child(2){
          .timeline__active-line{
            display: none;
          }
				}

				.timeline__active-line{
          background: var(--brk-base-5);
          @media #{$sm-max}{
            display: none !important;
          }
				}
			}

			&__box{
				overflow: hidden;
				position: relative;
				box-shadow: 0 4px 20px 0 rgba(0,0,0,0.15);
			}

			&__content{
				padding: 45px 50px 40px;
				z-index: 5;
				position: relative;
			}

			&__box{
				opacity: 1 !important;

				&:hover{
					box-shadow: 0 30px 60px 0 rgba(0,0,0,.1);
				}
			}

			&__wrapper{
				overflow: hidden;
				padding-top: 10px;
				padding-bottom: 120px;
			}
		}

		.timeline__progress-bar{
			width: 2px;
      background: #ebebeb;
      height: calc(100% - 60px);

			@media #{$sm-max} {
				background: none;
			}

			&:before{
				display: none;
			}

			&:after{
				display: none;
			}
		}
	}
}