@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

%bg-style {
	background: no-repeat center center;
	background-size: cover;
}

//
// post- blocks
//
.post {

	// Rounded
	&-rounded {
		margin-top: 15px;
    margin-bottom: 15px;
    
    &__text{
      background-color: #ffffff;
    }

		&:hover {
			.post-rounded__thumb {
				&:after {
					width: 100%;
					background-image: linear-gradient(
													to right,
													rgba(var(--brand-primary-rgb), 0.92),
													rgba(var(--secondary-rgb), 0.92)
					);
				}

				.post-rounded__btn {
					border-color: rgba(255, 255, 255, .3);
					bottom: 50%;
					transform: translate(-50%, 50%);
					background-color: transparent;
					color: $white;
				}

			}

		}

		&__thumb {
			height: 0;
			padding-bottom: 100%;
			position: relative;
			@extend %bg-style;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				width: 0;
				height: 100%;
				transition: all .3s ease-in-out;
			}

		}

		&__btn {
			position: absolute !important;
			left: 50%;
			bottom: -27px;
			transform: translateX(-50%);
			margin: 0;
			background-color: $white;
			box-shadow: 0 5px 16px rgba(0, 0, 0, .07);
			border: 1px solid transparent;
			transition: all .4s ease-in-out;
			border-radius: 27px;

			&:hover {
				background-color: rgba($white, .1) !important;
      }
      
      &-square{
        border-radius: 0 !important;
      }

		}

		&__text {
			padding: 65px 38px 45px;

			p {
				margin-top: 18px;
			}

		}

	}

	// Sqaure
	&-sqaure {
		margin-top: 15px;
		margin-bottom: 15px;
		height: 0;
		padding-bottom: 155.55555%;
		max-height: 500px;
		position: relative;
		overflow: hidden;
		@extend %bg-style;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;
			background-color: rgba($black, .6);
		}

		&:hover {
			.post-sqaure__title {
				bottom: calc(100% - 76px);
			}

			.post-sqaure__btn {
				opacity: 1;
				bottom: 30px;
			}

		}

		&__title {
			color: $white;
			text-transform: uppercase;
			text-align: left;
			position: absolute;
			bottom: 30px;
			left: 30px;
			right: 30px;
			transition: all .3s ease-in-out;
			z-index: 3;
		}

		&__btn {
			min-height: 52px !important;
			letter-spacing: 0 !important;
			position: absolute !important;
			opacity: 0;
			bottom: -52px;
			left: 50%;
			transform: translateX(-50%);
			transition: all .3s ease-in-out;
			margin: 0;

			&.btn-inside-out > .before {
				padding-top: 14px !important;
			}
		}

	}

	// Filmstrip
	&-filmstrip {
		position: relative;
		width: 100%;
		max-width: 370px;
		min-height: 370px;
		@extend %bg-style;

		@media (max-width: 767px) {
			max-width: 300px;
			max-height: 300px;
		}

		&:hover {
			.post-filmstrip__content {
				opacity: 1;
				overflow: visible;

				h3 {
					opacity: 1;
					transform: translateY(0);
				}

			}

			.post-filmstrip__excerpt {
				opacity: 1;
				transform: translateY(0);
			}

			.links__permalink,
			.links__view {
				opacity: 1;
				transform: translateX(0);
			}

		}

		&__content {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			color: $white;
			opacity: 0;
			overflow: hidden;
			transition: all .2s ease-in-out;

			h3 {
				max-width: 300px;
				color: $white;
				margin: 61px auto 0;
				opacity: 0;
				transform: translateY(-30px);
				transition: all .4s ease-in-out .3s;
				padding: 0 15px;

				@media (max-width: 767px) {
					margin: 30px auto 0;
				}
			}

		}

		&__excerpt {
			color: rgba($white, .5);
			padding-left: 15px;
			padding-right: 15px;
			max-width: 320px;
			margin: 20px auto 0;
			opacity: 0;
			transform: translateY(-30px);
			transition: all .4s ease-in-out .1s;
		}

		.links {
			position: relative;
			width: 101px;
			height: 54px;
			margin: 36px auto 0;

			i {
				font-size: rem(16);
				line-height: 16px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			&__permalink,
			&__view {
				width: 54px;
				height: 54px;
				display: block;
				position: absolute;
				top: 0;
				border-radius: 50%;
				transition: all .3s ease-in-out .5s;
				z-index: 3;
			}

			&__permalink {
				color: $white;
				background-color: rgba($white, .2);
				border: 2px solid rgba($white, .3);
				left: 0;
				opacity: 0;
				transform: translateX(-100px);

				&:hover {
					i:before {
						color: $white;
					}
				}

			}

			&__view {
				background-color: var(--white);
				border: 2px solid var(--white);
				right: 0;
				opacity: 0;
				transform: translateX(100px);

				i:before {
					color: var(--brand-primary);
				}

			}

		}

	}

	// Angle Slider
	&-angle-slider {
		max-width: 870px;

		.slick-list {
			margin-left: -15px;
			margin-right: -15px;
		}
	}

}

//
// shop- blocks
//
.shop {

	// -window
	&-window {
		padding: 7px;
		position: relative;
		transition: all .2s ease-in-out;
		margin-bottom: 30px;

		@media (max-width: 575px) {
			margin-bottom: 50px;
		}

		&:hover {
			box-shadow: 0 5px 16px rgba(0, 0, 0, .16);
			background-color: $white;

			&:before {
				width: 100%;
			}

			.shop-window__price {
				transform: translateX(-50%) scale(1);
			}

		}

		&:before {
			content: '';
			position: absolute;
			bottom: -2px;
			left: 50%;
			transform: translateX(-50%);
			width: 0;
			height: 3px;
			transition: all .2s ease-in-out;
			background-color: var(--brand-primary);
		}

		&__thumb {
			height: 0;
			padding-bottom: 100%;
			@extend %bg-style;
		}

		&__title {
			min-height: 90px;
			padding: 23px 15px 0;
		}

		&__price {
			position: absolute;
			width: 106px;
			height: 42px;
			box-shadow: 0 5px 16px rgba(var(--brand-primary-rgb), .5);
			border-radius: 21px;
			line-height: 42px;
			bottom: -21px;
			left: 50%;
			letter-spacing: 0.03rem;
			transform: translateX(-50%) scale(0);
			transition: all .4s ease-in-out;
			background-color: var(--brand-primary);
			color: var(--white);
		}

	}

	// -setout
	&-setout {
		margin-top: 15px;
		margin-bottom: 15px;

		&__img {
			height: 0;
			padding-bottom: calc(100% - 39px);
			max-height: 230px;
			background: no-repeat center top;
			position: relative;
			overflow: hidden;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-color: rgba($white, .92);
				opacity: 0;
				transition: all .3s ease-in-out;
				z-index: 1;
			}

			.add-cart,
			.add-wishlist {
				position: absolute;
				top: 49%;
				transform: translateY(-50%);
				width: 54px;
				height: 54px;
				font-size: rem(17);
				border-radius: 27px;
				line-height: 50px;
				transition: all .3s ease-in-out;

				i {
					line-height: inherit;
				}

			}

			.add-cart {
				background-color: var(--brand-primary);
				color: var(--white);
				box-shadow: 0 5px 16px rgba(var(--brand-primary-rgb), 0.5);
				opacity: 0;
				left: 90%;
				z-index: 3;
			}

			.add-wishlist {
				background-color: var(--white);
				color: var(--brand-primary);
				box-shadow: 0 5px 16px rgba(0, 0, 0, 0.07);
				opacity: 0;
				right: 90%;
				z-index: 2;
			}

			&:hover {
				&:before {
					opacity: 1;
				}

				.add-cart {
					opacity: 1;
					left: 86px;
				}

				.add-wishlist {
					opacity: 1;
					right: 86px;
				}

			}

		}

		&__link {
			display: block;
			margin: 12px 25px 0;
			padding: 12px 25px 12px;

			h3 {
				transition: all .3s ease-in-out;
			}

			&:hover h3 {
				color: var(--brand-primary);
			}

		}

		.old-price {
			color: var(--text-base-color-1);
			text-decoration: line-through;
			padding-right: 13px;
		}

	}

}

// filmstrip-slider (scrollbar)
.filmstrip-slider {
	padding: 45px 0;
	position: relative;

	.swiper-slide {
		width: 370px;
		height: 370px;
	}

	.brk-scrollbar {
		position: absolute;
		bottom: -3px;
		left: 50%;
		transform: translateX(-50%);
		width: calc(100% - 30px);
		max-width: 1170px;
		background-color: $white;
		height: 4px;
		cursor: pointer;
		border-radius: 25px;
		border: 0;
		box-shadow: 0 0 0 3px #fff, 0 3px 13px rgba(0, 0, 0, 0.5), inset 0 1px 4px rgba(0, 0, 0, 0.3);
		z-index: 3;

		&-track {
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			max-width: 100% !important;
			background: var(--brk-secondary-3);
			border-radius: 4px;
			height: 4px;
			transition-duration: 500ms;
		}

		&-drag {
			box-shadow: 0 0 0 4px #fff, 0 0 13px 3px rgba(0, 0, 0, 0.5);
			height: 8px;
			width: 8px !important;
			border-radius: 50%;
			background: var(--brk-secondary-6);
			cursor: pointer;
			margin-top: -2px;
		}
	}

}


// landscape-slider
.landscape-slider {
	position: relative;

	&-for {
		width: 100%;

		.brk-slid {
			background: no-repeat center center;
			background-size: cover;

			/*      @media (max-width:767px){
							height: 700px;
						}

						@media (max-width:575px){
							height: 400px;
						}*/

		}
	}

	&-nav {
		position: absolute !important;
		top: 0;
		left: 0;
		height: 100%;
		width: 400px;
		z-index: 9;

		@media (max-width: 991px) {
			width: 50%;
		}

		@media (max-width: 767px) {
			width: 100%;
			height: 300px;
			top: auto;
			bottom: 0;
		}

		@media (max-width: 575px) {
			height: 100%;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;
			background-image: linear-gradient(
											to top,
											rgba(var(--brand-primary-rgb), 0.84),
											rgba(var(--secondary-rgb), 0.84)
			);
		}

		&__content,
		.slick-list {
			position: relative;
			z-index: 3;
		}

		&__title {
			color: $white;
			max-width: 340px;
			margin: 53px auto 0;
			padding: 0 15px;

			@media (max-width: 767px) {
				max-width: none;
				margin-top: 15px;
			}
		}

		&__text {
			color: rgba($white, .5);
			max-width: 340px;
			margin: 26px auto 0;
			padding: 0 15px;

			@media (max-width: 767px) {
				max-width: none;
				margin-top: 15px;
			}
		}

		&__btn {
			border: 1px solid rgba(255, 255, 255, .3);
			background-color: transparent;
			color: $white;
			border-radius: 27px;
			box-shadow: 0 5px 16px rgba(0, 0, 0, .07);
			margin: 35px auto 0 !important;
			min-width: 188px;

			@media (max-width: 767px) {
				margin-top: 15px;
			}

			&:hover {
				background-color: rgba($white, .1) !important;
			}
		}

	}

}

// Rotation Slider
.rotate-slider {
	margin: 0 auto;
	height: 390px;
	padding-top: 35px;
	width: 100%;
	overflow: hidden;
}

.rotate-container {
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	top: 0;
	left: 50%;
	transform-origin: center center;
	width: 100%;

	&.animate {
		transition: all 0.75s ease-in-out;
	}
}

.rotate-slid {
	background: no-repeat center center;
	background-size: cover;
	display: block;
	color: $white;
	position: absolute;
	top: 0;
	left: 50%;
	text-align: center;
	transform-origin: bottom center;
	width: 100%;

	&__over {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	&__content {
		padding: 15px;
		max-width: 450px;
		margin: 139px auto 0;
		color: $white;

		h1, h2, h3, h4 {
			color: $white;
			margin-bottom: 14px;
		}

		p {
			color: rgba($white, .7);
		}

	}

}

.svg-hidden {
	height: 0;
	overflow: hidden;
}




