.brk-simple-card-2 {
  min-height: 300px;
  width: 100%;
  display: flex;
  background-color: transparent;
  &_greyscale{
    .brk-simple-card-2__img{
      filter: grayscale(100%);
    } 
  }
  &__animation-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    transform: scaleX(1) scaleY(1) scaleZ(1) translateX(0px) translateY(0px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    will-change: transform;
  }
  &__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: none;
  }
  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .3s ease opacity;
    will-change: opacity;
    display: none;
  }
  &__category {
    padding: 6px 9px 6px 9px;
    margin: 0 auto 17px;
    opacity: 0;
    transition: .3s ease opacity;
    will-change: opacity;
    box-shadow: 0 5px 16px rgba(var(--brand-primary-rgb), 0.5);
    background-color: var(--brand-primary);
  }
  &__info {
    display: flex;
    flex-direction: column;
    z-index: 1;
    opacity: 0;
    transition: .3s ease opacity;
    will-change: opacity;
  }
  .icon__btn {
    margin-top: 60px;
    margin-bottom: 2px;
    opacity: 0;
    transition: .3s ease opacity;
    will-change: opacity;
  }
  &:hover {
    .brk-simple-card-2 {
      &__overlay,
      &__category,
      &__info {
        opacity: 1
      }
      &__animation-wrapper {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      }
    }
    .icon__btn {
      opacity: 1;
    }
  }
  &.rendered {
    .brk-simple-card-2__img,
    .brk-simple-card-2__overlay {
      display: block;
    }
  }
}

.brk-grid-fitrows {
  &__item {
    padding: 15px;
    @media screen and (max-width: 768px) {
      width: 100% !important;
    }
  }
  .brk-simple-card-2 {
    height: 100%;
  }
}